<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>		
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{position.page}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 <a>
				 	<i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
				 </a>
				 <a>
				 	<i class="fa fa-plus-circle icon-head-red" id = "add" th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}"></i>
				 </a>
				 <a class="font17 btn-save" th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}"> 
					<i class="fa fa-save"></i>
				</a>
	        </div>
	   </div>
	</div>	
	<form class="form-horizontal u-for-page-top j-form-validate" id = "form-position-edit" th:action="@{/position/edit}" th:object="${positionDto}" method="post" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="bg-content clearfix">
			<div class="header-box col-sm-12">
				<div class="col-md-6">
					<h2 class="title-box" th:text="#{position.edit.title}" th:if="${positionDto.positionId != null}">Cập nhật chức vụ</h2>
					<h2 class="title-box" th:text="#{position.create.title}" th:if="${positionDto.positionId == null}">Tạo chức vụ</h2>
				</div>
			</div>			                           
            <input type="hidden" th:field="*{positionId}" />
            <div class="col-sm-12 p-0">
				<div class="col-md-6">
				    <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
                        <label class="col-sm-4 required " for="code" th:text="#{position.code}">Mã</label>
                        <div class="col-sm-8" >
                            <input type="text" th:field="*{code}" class="form-control j-required j-code j-maxlength" data-rule-maxlength="30" style="text-transform: uppercase;" />
                            <span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>                                                   
                        </div>
                    </div>
					<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
						<label class="col-sm-4 required " for="name" th:text="#{position.name}">Tên chức vụ</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{name}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>													
						</div>
					</div>
					<div class="form-group" th:if="${companyList.size()>1}">
		                <label for="companyId" class="col-sm-4 " th:text="#{company.detail}">Company</label>
		                <div class="col-sm-8">
		                    <select class="form-control select2" th:field="*{companyId}">
		                    	<!-- companyId not null (position) -->
		                    	<!-- <option th:if="${#authentication?.principal?.companyAdmin}" th:value="${NULL}" th:text="#{company.all}"></option> -->
		                        <option th:each="company : ${companyList}" 
		                                th:value="${company.id}"
		                                th:text="${company.text}">
		                        </option>
		                    </select>
		                </div>
		            </div>
		            <div th:unless="${companyList.size()>1}">
		                <input type="hidden" name="companyId" th:value="*{companyId}" />
		            </div>
					<div class="col-sm-12 p-0">
						<label class="col-sm-4" th:text="#{position.active}">Kích hoạt</label>
						<div class="col-sm-8">
						   <input type="checkbox" th:field="*{actived}"/>
					    </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('nameAbv')} ? has-error : ''">
						<label class="col-sm-4 required " for="nameAbv" th:text="#{position.name.abv}">Tên viết tắt</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{nameAbv}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('nameAbv')}" th:errors="*{nameAbv}"></span>													
						</div>
					</div>
					<!-- <div class="form-group">
			            <label for="note" class="col-sm-4 " th:classappend="${#fields.hasErrors('note')} ? has-error : ''" th:text="#{position.note}">Ghi chú</label>
			            <div class="col-sm-8">
				            <textarea rows="3" th:field="*{note}" class="col-sm-10 form-control j-maxlength" data-rule-maxlength="65535" ></textarea>                
			                <span class="help-block" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
			            </div>
			        </div> -->
			        <div class="form-group">
			            <label for="description" class="col-sm-4" th:classappend="${#fields.hasErrors('description')} ? has-error : ''" th:text="#{position.description}">Mô tả</label>
			            <div class="col-sm-8">
			            	<textarea rows="3" th:field="*{description}" class="col-sm-10 form-control j-maxlength" data-rule-maxlength="65535" ></textarea>                
			                <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
			            </div>
			        </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 footer-box-bg">
				<a class="btn-cancel" id = "cancel">
					<i class="fa fa-times"></i>
					<span th:text="#{cancel.button}">Thoát</span>
				</a>
				<!-- <a class="btn-common btn-save"
					th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}">
					<i class="fa fa-floppy-o" aria-hidden="true"></i> 
					<span th:text="#{save.button}">Lưu</span>
				</a> -->
				<a class="btn-common btn-save">
					<i class="fa fa-floppy-o" aria-hidden="true"></i> 
					<span th:text="#{save.button}">Lưu</span>
				</a>			
			</div>
		</div>
	</form>	
	<input type="hidden" id="url" name="url" th:value="${positionDto.url}"/>
	<script type="text/javascript" th:src="@{/static/cache/js/position/position-edit.js}"></script>
	</body>
</html>