<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />	
<body>
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{position.page}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 <a><i class="fa fa-plus-circle icon-head-red" id = "add"
				th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}"></i></a>
	        </div>
	   </div>
	</div>			
	<form class="form-horizontal u-for-page-top j-formSearch" th:action="@{/position/list}" th:object="${searchDto}" method="POST" role="form">				
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="bg-content clearfix">
			<div data-toggle="collapse" data-target="#search-box" class="header-box">
				 <h5 class="title-box"><span th:text="#{search.title}">Vùng tìm kiếm</span> </h5>
		         <i class="fa fa-minus pull-right" aria-hidden="true"></i> 
			</div>
			<div class="collapse in row m-0" id="search-box">		
				<div class="col-xs-12 col-sm-12 p-0">
					<div class="col-sm-4 form-group">
						<input type="text" class="form-control" th:field="*{fieldSearch}" th:placeholder="#{search.key}" autocomplete="off"/>
					</div>
			     	<div class="col-sm-4 form-group">
						<select th:field="*{fieldValues}" multiple="multiple" class="form-control" id="search-filter">
							<th:block th:each="item : ${fieldSelect}">
								<option th:value="${item.value}"
									th:selected="${searchDto.fieldValues} ? ${#arrays.contains(searchDto.fieldValues,item.value)}: false"   
									th:text="#{${item.name}}"></option>
							</th:block>
						</select>
			     	</div>
			     	<div class="col-sm-4 form-group">
						<label for="companyId" class="col-sm-3 align-top no-padding" th:text="#{company.detail}">Company</label>
						<div class="col-sm-9">
							<select class="col-sm-9 form-control select2 select-company" th:field="*{companyId}">
								<option th:value="0" th:text="#{common.all}"></option>
								<option th:value="${NULL}" th:text="#{company.all}"></option>
								<option th:each="company : ${companyList}" 
										th:value="${company.id}"
										th:text="${company.text}">
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 p-0 text-center" style="margin-top: 10px;">
			        <a id="btnSearch" class="btn-common" >
			        	<i class=" fa fa-search"></i>
			        	<span th:text="#{search.button}">Tìm kiếm</span>
			        </a>
				</div>
			</div>	
		</div>		
	</form>
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<th:block th:include="views/position/position-table.html :: content"/>
	</div>

	<input type="hidden" id="fieldSearchHidden"/>
	<input type="hidden" id="fieldValuesHidden"/> 
	<input type="hidden" id="url" name="url" th:value="${searchDto.url}"/>
	<script type="text/javascript" th:src="@{/static/cache/js/position/position-list.js}"></script>
	</body>
</html>
