<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body
    th:fragment="content(approvalModuleDto,formId,businessURL, itemMenu, funtionValidate)"
  >
    <form
      th:if="${approvalModuleDto!=null}"
      class="form-horizontal u-for-page-top j-form-validate"
      id="form-approval"
      th:action="@{/approval-module/action}"
      th:object="${approvalModuleDto}"
      method="post"
      role="form"
    >
      <input
        type="hidden"
        id="funtion-validate-id"
        th:value="${funtionValidate}"
      />
      <div class="bg-content clearfix bg-content-tbl" th:if="*{!isShowView}">
        <div
          data-toggle="collapse"
          data-target="#progress-info"
          class="header-box"
          aria-expanded="true"
        >
          <h2
            class="title-box"
            th:text="#{approval.plugin.process.information}"
          >
            Process Information
          </h2>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div
          class="row m-0 collapse in"
          id="progress-info"
          aria-expanded="true"
          style="margin-left: 10px; margin-right:10px;"
        >
          <!-- 				<div class="form-group no-padding" style="font-weight: bold"> -->
          <!-- 					<span class="col-sm-2" th:text="#{approval.plugin.status}+ ':'">Status:</span> -->
          <!-- 					<div class="col-sm-10"> -->
          <!-- 						<span class="form-controls" th:text="*{currentStatusName}" style="color: red"></span> -->
          <!-- 					</div> -->
          <!-- 				</div> -->
          <div class="bg-content clearfix bg-content-tbl">
            <input
              type="hidden"
              th:field="*{businessCode}"
              id="approval-module-business-code-id"
            />
            <input type="hidden" th:field="*{referenceId}" />
            <input
              type="hidden"
              th:field="*{action}"
              id="widgetApprovalAction"
            />
            <input
              type="hidden"
              th:field="*{stepId}"
              id="widgetApprovalStepId"
            />
            <input type="hidden" th:field="*{currentStatus}" /><input
              type="hidden"
              th:value="${formId}"
              id="approval-module-form-id"
            /><input
              type="hidden"
              th:value="${businessURL}"
              id="approval-module-business-url"
            />
            <div class="accordion-group" id="accordion2_2">
              <div th:if="*{isShowDataProfile}" class="bg_contend_cm1 column">
                <!--NEW CURRENT STATUS -->
                <div class="bg_comment_name">
                  <h2
                    class="title-box no-border-bottom"
                    style="font-weight: bold"
                    th:text="#{approval.plugin.data.profile}"
                  >
                    Data profile
                  </h2>
                </div>

                <div
                  class="unit-bg-com clearfix col-sm-12"
                  style="padding: 10px 0"
                >
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="col-sm-4" th:text="#{approval.plugin.owner}"
                        >Owner</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="autocomplete-search-input form-control"
                          type="text"
                          name="owner.fullname"
                          id="widgetApprovalOnwerId"
                          autocomplete="off"
                          th:value="*{owner!=null?owner.fullname + ' - ' + owner.email:''}"
                        />
                        <input
                          type="hidden"
                          name="owner.username"
                          th:value="*{owner!=null?owner.username:''}"
                          id="ownerUsernameId"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label
                        class="col-sm-4"
                        th:text="#{approval.plugin.assignee}"
                        >Assignee</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="autocomplete-search-input form-control"
                          type="text"
                          name="assignee.fullname"
                          id="widgetApprovalAssigneeId"
                          autocomplete="off"
                          th:value="*{assignee!=null?assignee.fullname + ' - ' + assignee.email:''}"
                        />
                        <input
                          type="hidden"
                          name="assignee.username"
                          th:value="*{assignee!=null?assignee.username:''}"
                          id="assigneeUsernameId"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label
                        class="col-sm-4"
                        th:text="#{approval.plugin.department.name}"
                        >Department</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="form-control"
                          th:value="*{owner!=null?owner.departmentName:''}"
                          id="label-owner-department-name"
                          style="color: orange; font-weight: bold"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label
                        class="col-sm-4"
                        th:text="#{approval.plugin.department.name}"
                        >Department</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="form-control"
                          th:value="*{assignee!=null?assignee.departmentName:''}"
                          id="label-assignee-department-name"
                          style="color: orange; font-weight: bold"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label
                        class="col-sm-4"
                        th:text="#{approval.plugin.branch.name}"
                        >Branch</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="form-control"
                          th:value="*{owner!=null?owner.branchName:''}"
                          id="label-owner-branch-name"
                          style="color: orange; font-weight: bold"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label
                        class="col-sm-4"
                        th:text="#{approval.plugin.branch.name}"
                        >Branch</label
                      >
                      <div class="col-sm-8">
                        <input
                          class="form-control"
                          th:value="*{assignee!=null?assignee.branchName:''}"
                          id="label-assignee-branch-name"
                          style="color: orange; font-weight: bold"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!--NEW CURRENT STATUS END -->
              </div>

              <div
                th:if="*{isShowComments and !isShowView}"
                class="bg_contend_cm1 column"
              >
                <!--REQUEST BY -->
                <div class="bg_comment_name">
                  <h2
                    class="title-box no-border-bottom"
                    style="font-weight: bold"
                    th:text="#{approval.plugin.comments}"
                  >
                    Comments
                  </h2>
                </div>

                <!--NEW COMMENT START -->

                <div
                  class="unit-bg-com clearfix col-sm-12"
                  style="padding: 10px 0"
                >
                  <div
                    class="form-group"
                    style="font-weight: bold"
                    th:if="*{lstJHistoryApprove!=null and #lists.size(lstJHistoryApprove) gt 0 and isShowRequesterInfos}"
                  >
                    <div class="col-sm-2">
                      <span
                        class="namefull_left pull-right"
                        th:text="#{approval.plugin.requested.by}+':'"
                        >Requested by:</span
                      >
                    </div>
                    <div class="col-sm-4">
                      <span
                        class="namefull"
                        th:text="*{lstJHistoryApprove[0].actionFullname}"
                        style="color: red"
                      ></span>
                    </div>
                    <div class="col-sm-2">
                      <span
                        class="namefull_left pull-right"
                        th:text="#{approval.plugin.request.date}+':'"
                        >Request date:</span
                      >
                    </div>
                    <div class="col-sm-4">
                      <span
                        style="color: red"
                        th:text="*{lstJHistoryApprove[0].actionDate !=null}?*{#dates.format(lstJHistoryApprove[0].actionDate,'dd-MMM-yyyy HH:mm')}:''"
                      ></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <!-- 								<choose> <c:when test="${not empty (approvalBean.currentApprover.imagePath)}"> -->
                      <!-- 									<img alt="" class="img-circle avatar_comment" src="${url }/ajax/download?fileName=${approvalBean.currentApprover.imagePath}"> -->
                      <!-- 								</c:when> <c:otherwise> -->
                      <!-- 									<img alt="user image" th:src="@{/static/images/logo_small.png}" class="img-avata-full" /> -->
                      <th:block
                        th:if="${#authentication.principal.avatar == null}"
                      >
                        <img
                          class="img-avata-full"
                          th:src="@{/static/images/avatar-img.png}"
                        />
                      </th:block>
                      <th:block
                        th:if="${#authentication.principal.avatar != null}"
                      >
                        <img
                          id="imgAccount"
                          class="img-avata-full"
                          th:src="@{/} + ${'ajax/download?fileName='} + ${#strings.replace(#authentication.principal.avatar,'\','/')}"
                        />
                      </th:block>
                      <!-- 								</c:otherwise> </choose> -->
                    </div>
                    <div class="col-sm-10">
                      <textarea
                        maxlength="255"
                        th:field="*{comments}"
                        id="widgetApprovalComment"
                        class="width_area2 form-control"
                        style="min-height: 70px"
                      ></textarea>
                      <span id="widgetApprovalCommentRequired"></span>
                    </div>
                  </div>
                </div>

                <!--NEW COMMENT END -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-content clearfix bg-content-tbl" th:if="*{!isShowView}">
        <div class="form-group text-center">
          <th:block th:if="*{isAllowActionStatusDraft}">
            <button
              th:if="${#authorization.expression('hasAuthority('''+itemMenu+''')')}"
              id="button-approval-module-save-draft-id"
              type="button"
              class="btn btn-common btn-in-table"
              th:text="#{j.process.step.action.save.draft}"
            ></button>
            <th:block
              th:if="${#authorization.expression('hasAuthority('''+itemMenu+''')')}"
            >
              <button
                id="button-approval-module-submit-id"
                type="button"
                class="btn btn-common btn-in-table"
                th:text="#{j.process.step.action.submit}"
              >
                Submit
              </button>
            </th:block>
          </th:block>
          <th:block th:if="*{isAllowActionStatusNonDraft}">
            <th:block th:each="_itemStep,i : *{lstSteps}">
              <th:block th:if="${_itemStep.buttonObject!=null}">
                <button
                  class="button-approval-module"
                  type="button"
                  th:if="${#authorization.expression('hasAuthority('''+_itemStep.items+''')')}"
                  th:classappend="${_itemStep.buttonObject.htmlClass}"
                  th:id="${_itemStep.buttonObject.htmlId}"
                  th:text="${_itemStep.buttonObject.htmlText}"
                  th:value="${_itemStep.id}"
                ></button>
              </th:block>
            </th:block>
          </th:block>
        </div>
      </div>

      <div
        class="bg-content clearfix bg-content-tbl"
        th:if="*{lstJHistoryApprove!=null and #lists.size(lstJHistoryApprove) gt 0 and isShowHistory}"
      >
        <div
          data-toggle="collapse"
          data-target="#progress-info2"
          class="header-box"
          aria-expanded="true"
        >
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div
          class="row m-0 collapse in"
          id="progress-info2"
          aria-expanded="true"
          style="margin-left: 10px; margin-right: 10px"
        >
          <div class="bg-content clearfix bg-content-tbl">
            <!-- 		APPROVAL HISTORY LIST START -->

            <div class="row_comment" id="end_div" style="border-top: 0px; margin-left: 10px; margin-right: 10px">
              <div class="bg_comment_name">
                <h2
                  class="title-box no-border-bottom"
                  style="font-weight: bold"
                  th:text="#{approval.plugin.history}"
                >
                  History
                </h2>
              </div>
              <div
                class="row_fluid"
                style="margin-top: 5px; border-top: 1px solid"
              >
                <th:block th:each="_item, i : *{lstJHistoryApprove}">
                  <div
                    th:if="${i.index gt 2} "
                    class="divComment widgetApprovalHiddenApprover"
                  >
                    <div class="bg_contend_cm1 column" style="padding: 10px 0">
                      <div class="col-sm-2">
                        <!-- 											<img class="img-avata-full" alt="" th:src="@{/static/images/logo_small.png}" /> -->
                        <img
                          id="imgAccount"
                          class="img-avata-full"
                          th:src="@{/ajax/download(fileName=${_item.avatar})}"
                        />
                      </div>

                      <div class="col-sm-10">
                        <h5 style="font-size: 11px">
                          <!-- 											Admin submitted on 24-Jan-2019 and changed status to Waiting for approve with comment  -->
                          <span
                            th:text="${_item.actionFullname }"
                            style="font-weight: bold"
                          ></span>
                          <span
                            th:text="${_item.actionCode != null }?${_item.actionName}:#{${_item.actionName}}"
                          >
                          </span>
                          <span th:text="#{approval.plugin.on.time}"> </span>
                          <i
                            style="font-weight: normal; color: #3097b6"
                            th:text="${_item.actionDate  !=null}?${#dates.format(_item.actionDate ,'dd-MMM-yyyy HH:mm')}:''"
                          ></i>
                          <span
                            th:text="#{approval.plugin.change.status}  + ' '"
                          >
                          </span
                          ><span
                            class="processStatusName"
                            th:text="${_item.processStatusCodeNext != null }?${_item.processStatusNameNext}:#{${_item.processStatusNameNext!=null?_item.processStatusNameNext:'approval.plugin.history.undefine'}}"
                            style="font-weight: normal; color: red"
                          ></span>
                        </h5>
                        <p th:if="${!#strings.isEmpty(_item.comments)}">
                          <span
                            th:text="#{approval.plugin.comments}"
                            style="font-weight: bold"
                          ></span>
                          :
                          <span
                            th:text="${_item.comments }"
                            th:value="${_item.comments }"
                          ></span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div th:unless="${i.index gt 2} " class="divComment">
                    <div class="bg_contend_cm1 column" style="padding: 10px 0">
                      <div class="col-sm-2">
                        <!-- 											<img class="img-avata-full" alt="" th:src="@{/static/images/logo_small.png}" /> -->
                        <img
                          id="imgAccount"
                          class="img-avata-full"
                          th:src="@{/ajax/download(fileName=${_item.avatar})}"
                        />
                      </div>

                      <div class="col-sm-10">
                        <h5 style="font-size: 11px">
                          <!-- 											Admin submitted on 24-Jan-2019 and changed status to Waiting for approve with comment  -->
                          <span
                            th:text="${_item.actionFullname }"
                            style="font-weight: bold"
                          ></span>
                          <span
                            th:text="${_item.actionCode != null }?${_item.actionName}:#{${_item.actionName}}"
                          >
                          </span>
                          <span th:text="#{approval.plugin.on.time}"> </span>
                          <i
                            style="font-weight: normal; color: #3097b6"
                            th:text="${_item.actionDate  !=null}?${#dates.format(_item.actionDate ,'dd-MMM-yyyy HH:mm')}:''"
                          ></i>
                          <span
                            th:text="#{approval.plugin.change.status}  + ' '"
                          >
                          </span
                          ><span
                            class="processStatusName"
                            th:text="${_item.processStatusCodeNext != null }?${_item.processStatusNameNext}:#{${_item.processStatusNameNext!=null?_item.processStatusNameNext:'approval.plugin.history.undefine'}}"
                            style="font-weight: normal; color: red"
                          ></span>
                        </h5>
                        <p th:if="${!#strings.isEmpty(_item.comments)}">
                          <span
                            th:text="#{approval.plugin.comments}"
                            style="font-weight: bold"
                          ></span>
                          :
                          <span
                            class="comment-process"
                            th:value="${_item.comments }"
                            th:text="${_item.comments }"
                            style="word-break: break-word"
                          ></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
            <!-- APPROVAL HISTORY LIST END -->
            <!-- TOGGLE APPROVAL -->
            <div class="row_fluid">
              <div
                th:if="*{lstJHistoryApprove!=null and #lists.size(lstJHistoryApprove) gt 3}"
                class="show_hide_right"
                id="widgetApprovalViewAllApprover"
                style="color: #3097b6"
              >
                <i class="widgetApprovalToggleLog"
                  ><span th:text="#{approval.plugin.show.summary}"></span
                ></i>
                <i class="widgetApprovalToggleLog" style="display: none"
                  ><span th:text="#{approval.plugin.show.all}"></span
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/approval-module/approval-plugin.js}"
    ></script>
  </body>
</html>
