<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>CMSAdmin</title>
<link rel="shortcut icon" th:href="@{/static/images/ACBico.ico}" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<!-- Aluyen -->
<link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap.css}" />
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/static/css/dashboard.css}"/> -->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/sticky-footer-navbar.css}" />
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/static/css/navbar-fixed-top.css}"/> -->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/styleadmin.css}" />

<script type="text/javascript" th:src="@{/static/js/myjs.js}"></script>
<!-- end Aluyen -->

<link rel="stylesheet" type="text/css" th:href="@{/static/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/ionicons/css/ionicons.css}" />

<script type="text/javascript" th:src="@{/static/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jquery-2.2.3.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jshashtable-3.0.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jquery.numberformatter.js}"></script>

<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.js}"></script>

<!--  <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}" />-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}" />
<script type="text/javascript" th:src="@{/static/js/common_unit.js}"></script>

</head>



<body class="hold-transition login-page">
	<div class="col-sm-12 col-xs-12 no-padding">
	    <div class="main-content clearfix">
	    	<div class="circle-right">
		    	<div class="logo-login show-desktop">
		           <img th:src="@{/static/images/logoACB_w.png}" alt="logo"/>
		         </div>
		     </div>
	        <div class="col-right-form">
	            <div class="form-login clearfix">
	                
	                <h1 class="title-login"><span class="color-red">CMS</span> 
	                 <br/>Portal System
	                </h1>
	                <form th:action="@{/j_spring_security_check}" method="POST">
						<span id="errormsg" class="error"
								th:if="${(param.reason!= null)}" th:text="#{${param.reason[0]}}">
						</span>
						<div class="form-group input-effect has-feedback">
	                        <label class="icon-input">
	                            <i class="fa fa-user" aria-hidden="true"></i>
	                        </label>
	                        <input type="text" class="form-control effect-1" th:placeholder="#{login.username}" id="j_username_id" name="username" autocomplete="off" />
	                        <span class="focus-border"></span>
						</div>
						<div class="form-group input-effect has-feedback">
	                        <label class="icon-input">
	                            <i class="fa fa-lock" aria-hidden="true"></i>
	                        </label>
	                        <input type="password" class="form-control effect-1" th:placeholder="#{login.password}" id="j_password_id" name="password" autocomplete="off" />
	                        <span class="focus-border"></span>
	                    </div>
						<div class="row">
							<div class="col-sm-12">
								<button type="submit" class="btn-login" th:text="#{login.button}"></button>
								<!-- <a href="" class="forgot-pass">
									Forgot my password?
								</a> -->
							</div>
						</div>
					</form>
	            </div>
	        </div>
	    </div>
	</div>
</body>



</html>