<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content" th:object="${systemConfigDto}">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageLst})" />
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box-1"
			class="header-box">
			<h5 class="title-box" th:text="#{system.config.system}">System
				configure</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in row m-0" id="search-box-1">

			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="pageSize" class="col-sm-3 required"
						th:text="#{system.config.system.row}"
						th:classappend="${#fields.hasErrors('pageSize')} ? has-error : ''">Số
						hàng</label>
					<div class="col-sm-9">
						<div class="u-custom-select fa-caret-down">
							<select id="pageSize" class="form-control" th:field="*{pageSize}">
								<option th:each="pageSize : ${listPageSize}"
									th:value="${pageSize}" th:text="${pageSize}"></option>
							</select>
						</div>
						<!-- <span class="help-block" th:if="${#fields.hasErrors('pageSize')}" th:errors="*{pageSize}"></span> -->
					</div>
				</div>

				<div class="form-group col-md-6 p-0">
					<label for="repoUploadMain" class="col-sm-3 required"
						th:text="#{system.config.system.upload.common}"
						th:classappend="${#fields.hasErrors('repoUploadMain')} ? has-error : ''">Folder
						upload file</label>
					<div class="col-sm-9">
						<div class="u-custom-select fa-caret-down">
							<select id="repoUploadMain" class="form-control"
								th:field="*{repoUploadMain}">
								<option th:each="repo : ${listRepo}" th:value="${repo.id}"
									th:text="${repo.name}"></option>
							</select>
						</div>
						<span class="help-block"
							th:if="${#fields.hasErrors('repoUploadMain')}"
							th:errors="*{repoUploadMain}"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="dateRow" class="col-sm-3 required"
						th:text="#{system.config.system.date}"
						th:classappend="${#fields.hasErrors('datePattern')} ? has-error : ''">Date</label>
					<div class="col-sm-9">
						<div class="u-custom-select fa-caret-down">
							<select id="dateRow" class="form-control"
								th:field="*{datePattern}">
								<option th:each="constantDisplay : *{listPatternDate}"
									th:value="${constantDisplay.code}"
									th:text="${constantDisplay.code}"></option>
							</select>
						</div>
						<span class="help-block"
							th:if="${#fields.hasErrors('datePattern')}"
							th:errors="*{datePattern}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="repoUploadTemp" class="col-sm-3 required"
						th:text="#{system.config.folder.temp}"
						th:classappend="${#fields.hasErrors('repoUploadTemp')} ? has-error : ''">Folder
						upload file</label>
					<div class="col-sm-9">
						<div class="u-custom-select fa-caret-down">
							<select id="repoUploadTemp" class="form-control"
								th:field="*{repoUploadTemp}">
								<option th:each="repo : ${listRepo}" th:value="${repo.id}"
									th:text="${repo.name}"></option>
							</select>
						</div>
						<span class="help-block"
							th:if="${#fields.hasErrors('repoUploadTemp')}"
							th:errors="*{repoUploadTemp}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="uploadFileSizeAttach" class="col-sm-3 required"
						th:text="#{system.config.upload.file.size.attach}"
						th:classappend="${#fields.hasErrors('uploadFileSizeAttach')} ? has-error : ''">uploadFileSizeAttach</label>
					<div class="col-sm-9">
						<input id="uploadFileSizeAttach" type="text"
							class="form-control j-required"
							th:field="*{uploadFileSizeAttach}" /> <span class="help-block"
							th:if="${#fields.hasErrors('uploadFileSizeAttach')}"
							th:errors="*{uploadFileSizeAttach}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="uploadFileType" class="col-sm-3 required"
						th:text="#{system.config.upload.file.type}"
						th:classappend="${#fields.hasErrors('uploadFileType')} ? has-error : ''">Upload
						file type</label>
					<div class="col-sm-9">
						<input id="uploadFileType" type="text"
							class="form-control j-required" th:field="*{uploadFileType}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('uploadFileType')}"
							th:errors="*{uploadFileType}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="uploadFileSizeMainFile" class="col-sm-3 required"
						th:text="#{system.config.upload.file.size.main.file}"
						th:classappend="${#fields.hasErrors('uploadFileSizeMainFile')} ? has-error : ''">uploadFileSizeMainFile</label>
					<div class="col-sm-9">
						<input id="uploadFileSizeMainFile" type="text"
							class="form-control j-required"
							th:field="*{uploadFileSizeMainFile}" /> <span class="help-block"
							th:if="${#fields.hasErrors('uploadFileSizeMainFile')}"
							th:errors="*{uploadFileSizeMainFile}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="expiredTimeNumber" class="col-sm-3 required" style="margin: 0"
						th:text="#{system.config.expired.time.number}"
						th:classappend="${#fields.hasErrors('expiredTimeNumber')} ? has-error : ''">expiredTimeNumber</label>
					<div class="col-sm-9">
						<input id="expiredTimeNumber" type="text"
							class="form-control j-required"
							th:field="*{expiredTimeNumber}" /> <span class="help-block"
							th:if="${#fields.hasErrors('expiredTimeNumber')}"
							th:errors="expiredTimeNumber"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="sloganDsuccess" class="col-sm-3"
						th:text="#{system.config.upload.slogan}"
						th:classappend="${#fields.hasErrors('sloganDsuccess')} ? has-error : ''">sloganDsuccess</label>
					<div class="col-sm-9">
						<input id="sloganDsuccess" type="text"
							class="form-control"
							th:field="*{sloganDsuccess}" /> <span class="help-block"
							th:if="${#fields.hasErrors('sloganDsuccess')}"
							th:errors="*{sloganDsuccess}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<div class="row">
						<div class="form-group">
			       			<div class="col-sm-6">
			        			<div class="fileImgArea">
			            			<div class="fileImg logolarge">
			            				<th:block th:if="*{logoLarge == null or logoLarge == ''}">
			            					<img th:if="*{packageLogoLarge != null and packageLogoLarge != ''}" 
				                   				class="img-responsive image-fileLogoLarge"
				                       			th:src="@{/} + *{packageLogoLarge}" alt="" />
				                       		<img th:unless="*{packageLogoLarge != null and packageLogoLarge != ''}" 
				                   				class="img-responsive image-fileLogoLarge"
				                       			th:src="@{/static/cache/images/logo-unit.png}" alt="" />
			            				</th:block>
			                   			<img th:unless="*{logoLarge == null or logoLarge == ''}"
			                   				class="img-responsive image-fileLogoLarge"
			                       			th:src="@{/ajax-file/download(filePath=*{logoLarge}, repositoryId=*{logoLargeRepoId})}" alt="" />
			                       		<input type="hidden" th:value="*{logoLarge == null or logoLarge == ''}" class="is-null is-null-image-fileLogoLarge"/>
			            			</div>
			            			<pre class="imageConsole-fileLogoLarge" style="display: none; color: #f30;"></pre>
			           				<div class="form-group">
			               				<label class="u-btn u-btn-primary" style="width: 100%;margin-top: 5px">
			                   				<span>
						                       	<img th:src="@{/static/cache/images/icon-upload.png}" width="28px" style="padding-right: 5px;"/>
						                       	<span th:text="#{company.logo.large}" style="color: #fff">Logo large</span>
						                       	<input type="file" name="fileLogoLarge" class="hide" multiple="multiple" />
						                       	<input type="hidden" name="fileNameLogoLarge" class="fileLogoLarge" />
			                   				</span>
			               				</label>
			           				</div>
			       				</div>
			      			</div>
			      			<div class="col-sm-6">
			       				<div class="fileImgArea">
			           				<div class="fileImg logomini">
			           					<th:block th:if="*{logoMini == null or logoMini == ''}">
			           						<img th:if="*{packageLogoMini != null and packageLogoMini != ''}"
				                  				class="logo-blue image-fileLogoMini"
				                      			th:src="@{/} + *{packageLogoMini}" alt="" />
				                      		<img th:unless="*{packageLogoMini != null and packageLogoMini != ''}"
				                  				class="logo-blue image-fileLogoMini"
				                      			th:src="@{/static/cache/images/logo-small-unit.png}" alt="" />
			           					</th:block>
			                  			<img th:unless="*{logoMini == null or logoMini == ''}"
			                  				class="img-responsive image-fileLogoMini"
			                      			th:src="@{/ajax-file/download(filePath=*{logoMini}, repositoryId=*{logoMiniRepoId})}" alt="" />
			                      		<input type="hidden" th:value="*{logoLarge == null or logoLarge == ''}" class="is-null is-null-image-fileLogoMini"/>
			           				</div>
			           				<pre class="imageConsole-fileLogoMini" style="display: none; color: #f30;"></pre>
			           				<div class="form-group">
			              	 			<label class="u-btn u-btn-primary" style="width: 100%;margin-top: 5px">
			                          		<span>
			                              		<img th:src="@{/static/cache/images/icon-upload.png}" width="28px" style="padding-right: 5px;"/>
			                              		<span th:text="#{company.logo.mini}" style="color: #fff">Logo mini</span>
			                              		<input type="file" name="fileLogoMini" class="hide" multiple="multiple" />
			                              		<input type="hidden" name="fileNameLogoMini" class="fileLogoMini" />
			                          		</span>
			                      		</label>
			                  		</div>
			              		</div>
			            	</div>
			    		</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="pathDomainAdmin" class="col-sm-3"
						th:text="#{system.config.path.domain.admin}"
						th:classappend="${#fields.hasErrors('pathDomainAdmin')} ? has-error : ''">pathDomainAdmin</label>
					<div class="col-sm-9">
						<input id="pathDomainAdmin" type="text"
							class="form-control"
							th:field="*{pathDomainAdmin}" /> <span class="help-block"
							th:if="${#fields.hasErrors('pathDomainAdmin')}"
							th:errors="*{pathDomainAdmin}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="pathDomainApi" class="col-sm-3"
						th:text="#{system.config.path.domain.api}"
						th:classappend="${#fields.hasErrors('pathDomainApi')} ? has-error : ''">pathDomainApi</label>
					<div class="col-sm-9">
						<input id="pathDomainApi" type="text"
							class="form-control"
							th:field="*{pathDomainApi}" /> <span class="help-block"
							th:if="${#fields.hasErrors('pathDomainApi')}"
							th:errors="*{pathDomainApi}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="baseDomainAdmin" class="col-sm-3"
						th:text="#{system.config.base.domain.admin}"
						th:classappend="${#fields.hasErrors('baseDomainAdmin')} ? has-error : ''">baseDomainAdmin</label>
					<div class="col-sm-9">
						<input id="baseDomainAdmin" type="text"
							class="form-control"
							th:field="*{baseDomainAdmin}" /> <span class="help-block"
							th:if="${#fields.hasErrors('baseDomainAdmin')}"
							th:errors="*{baseDomainAdmin}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="baseDomainApi" class="col-sm-3"
						th:text="#{system.config.base.domain.api}"
						th:classappend="${#fields.hasErrors('baseDomainApi')} ? has-error : ''">baseDomainApi</label>
					<div class="col-sm-9">
						<input id="baseDomainApi" type="text"
							class="form-control"
							th:field="*{baseDomainApi}" /> <span class="help-block"
							th:if="${#fields.hasErrors('baseDomainApi')}"
							th:errors="*{baseDomainApi}"></span>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- ========================= End view box System Configure ========================= -->

	<!-- ========================= Start view Account policy ================================= -->
	<!-- END JBPM -->
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box-2"
			class="header-box">
			<h5 class="title-box" th:text="#{system.config.account.policy}">Account
				policy</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in" id="search-box-2">

			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-timeLock"
						th:text="#{system.config.account.lockout.duration}"
						class="col-sm-6 required"
						th:classappend="${#fields.hasErrors('timeLock')} ? has-error : ''">Account
						lockout duration (mins)</label>
					<div class="col-sm-6">
						<input id="id-timeLock" type="text"
							class="form-control j-required j-int" th:field="*{timeLock}" />
						<span class="help-block" th:if="${#fields.hasErrors('timeLock')}"
							th:errors="*{timeLock}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-failedLoginCount"
						th:text="#{system.config.account.number.login.attempts}"
						class="col-sm-5 required"
						th:classappend="${#fields.hasErrors('failedLoginCount')} ? has-error : ''">The
						number of login attempts</label>
					<div class="col-sm-4">
						<input id="id-failedLoginCount" type="text"
							class="form-control j-required j-int"
							th:field="*{failedLoginCount}" /> <span class="help-block"
							th:if="${#fields.hasErrors('failedLoginCount')}"
							th:errors="*{failedLoginCount}"></span>
					</div>
					<div class="col-sm-3 p-0">
						<!-- flagAutoUnlock -->
						<input type="checkbox" style="margin-top: 5px"
							th:field="*{autoUnlock}" /> <span
							th:text="#{system.config.account.checkbox.enabled}">&nbsp;</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-expiredPassword"
						th:text="#{system.config.account.expired.password}"
						class="col-sm-6 required"
						th:classappend="${#fields.hasErrors('expiredPassword')} ? has-error : ''">Expired
						password (month)</label>
					<div class="col-sm-6">
						<input id="id-expiredPassword" type="text"
							class="form-control j-required j-int"
							th:field="*{expiredPassword}" /> <span class="help-block"
							th:if="${#fields.hasErrors('expiredPassword')}"
							th:errors="*{expiredPassword}"></span>
					</div>


				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-numberPasswordUsed"
						th:text="#{system.config.account.password.exceed.limit}"
						class="col-sm-5 required"
						th:classappend="${#fields.hasErrors('numberPasswordUsed')} ? has-error : ''">Password
						exceed limit</label>
					<div class="col-sm-4">
						<input id="id-numberPasswordUsed" type="text"
							class="form-control j-required j-int"
							th:field="*{numberPasswordUsed}" /> <span class="help-block"
							th:if="${#fields.hasErrors('numberPasswordUsed')}"
							th:errors="*{numberPasswordUsed}"></span>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-minPasswordAge"
						th:text="#{system.config.account.password.age}"
						class="col-sm-6 required"
						th:classappend="${#fields.hasErrors('minPasswordAge')} ? has-error : ''">Minimum
						Password Age (month)</label>
					<div class="col-sm-6">
						<input id="id-minPasswordAge" type="text"
							class="form-control j-required j-int"
							th:field="*{minPasswordAge}" /> <span class="help-block"
							th:if="${#fields.hasErrors('minPasswordAge')}"
							th:errors="*{minPasswordAge}"></span>
					</div>


				</div>
				<div class="form-group col-md-6 p-0">
					<label for="minPasswordLength"
						   th:text="#{system.config.account.password.length}"
						   class="col-sm-5 required"
						   th:classappend="${#fields.hasErrors('minPasswordLength')} ? has-error : ''">Minimum
						Password Length</label>
					<div class="col-sm-4">
						<input id="minPasswordLength" type="text"
							   class="form-control j-required j-int"
							   th:field="*{minPasswordLength}" /> <span class="help-block"
																		th:if="${#fields.hasErrors('minPasswordLength')}"
																		th:errors="*{minPasswordLength}"></span>
						<div id="minPass"></div>
					</div>
					<div class="col-sm-3 p-0">
						<span class="mt-5" th:text="#{system.config.account.characters}">(characters)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="maxPasswordLength"
						   th:text="#{system.config.account.max.password.length}"
						   class="col-sm-6 required"
						   th:classappend="${#fields.hasErrors('maxPasswordLength')} ? has-error : ''">Maximum
						Password Length</label>
					<div class="col-sm-4">
						<input id="maxPasswordLength" type="text"
							   class="form-control j-required j-int"
							   th:field="*{maxPasswordLength}" /> <span class="help-block"
																		th:if="${#fields.hasErrors('maxPasswordLength')}"
																		th:errors="*{maxPasswordLength}"></span>
						<div id="maxPass"></div>
					</div>
					<div class="col-sm-2 p-0">
						<span class="mt-5" th:text="#{system.config.account.characters}">(characters)</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-minPasswordAge"
						th:text="#{system.config.account.password.complexity}"
						class="col-sm-6 required"
						th:classappend="${#fields.hasErrors('minPasswordAge')} ? has-error : ''">Password
						Complexity Requirements</label>
					<div class="col-sm-4" id="filter">
						<select th:field="*{fieldValues}" multiple="multiple"
							class="form-control" id="search-filter">
							<th:block th:each="item : ${fieldSelect}">
								<option th:value="${item.value}"
									th:selected="${systemConfigDto.fieldValues} ? ${#arrays.contains(systemConfigDto.fieldValues,item.value)} : false"
									th:text="#{${item.name}}"></option>
							</th:block>
						</select>
					</div>
					<div class="col-sm-2 p-0">
						<input type="checkbox" style="margin-top: 5px"
							th:field="*{complexity}" /> <span
							th:text="#{system.config.account.checkbox.enabled}">&nbsp;</span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<!-- <label for="id-minPasswordLength" class="col-sm-3 control-label">Minimum Password Length Requirement</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" th:value="6" readonly="readonly"/> (character)
			</div> -->

					<div class="col-sm-12">
						<!-- firstTimeLogin -->
						<input type="checkbox" style="margin-top: 5px"
							th:field="*{firstTimeLogin}" />&nbsp;<span
							th:text="#{system.config.account.checkbox.force.change.password}">&nbsp;</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ========================= End Start view Account policy ================================= -->

	<!-- ========================= Start view box Ldap config ================================= -->
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box-3"
			class="header-box">
			<h5 class="title-box" th:text="#{system.config.ldap}">Ldap</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in" id="search-box-3">

			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-domain" class="col-sm-3"
						th:text="#{system.config.ldap.domain}"
						th:classappend="${#fields.hasErrors('ldapDomain')} ? has-error : ''">Ldap
						domain</label>
					<div class="col-sm-9">
						<input id="id-ldap-domain" type="text" class="form-control"
							th:field="*{ldapDomain}" /> <span class="help-block"
							th:if="${#fields.hasErrors('ldapDomain')}"
							th:errors="*{ldapDomain}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-main-group" class="col-sm-3"
						th:text="#{system.config.ldap.main.group}"
						th:classappend="${#fields.hasErrors('ldapMainGroup')} ? has-error : ''">Ldap
						main group</label>
					<div class="col-sm-9">
						<input id="id-ldap-main-group" type="text" class="form-control"
							th:field="*{ldapMainGroup}" /> <span class="help-block"
							th:if="${#fields.hasErrors('ldapMainGroup')}"
							th:errors="*{ldapMainGroup}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-cn-filter" class="col-sm-3"
						th:text="#{system.config.ldap.cn.filter}"
						th:classappend="${#fields.hasErrors('ldapCnFilter')} ? has-error : ''">Ldap
						cn filter</label>
					<div class="col-sm-9">
						<input id="id-ldap-cn-filter" type="text" class="form-control"
							th:field="*{ldapCnFilter}" /> <span class="help-block"
							th:if="${#fields.hasErrors('ldapCnFilter')}"
							th:errors="*{ldapCnFilter}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-account-filter" class="col-sm-3"
						th:text="#{system.config.ldap.account.filter}"
						th:classappend="${#fields.hasErrors('ldapAccountFilter')} ? has-error : ''">Ldap
						account filter</label>
					<div class="col-sm-9">
						<input id="id-ldap-account-filter" type="text"
							class="form-control" th:field="*{ldapAccountFilter}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('ldapAccountFilter')}"
							th:errors="*{ldapAccountFilter}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-context-factory" class="col-sm-3"
						th:text="#{system.config.ldap.initial.context.factory}"
						th:classappend="${#fields.hasErrors('ldapInitialContextFactory')} ? has-error : ''">Ldap
						context factory</label>
					<div class="col-sm-9">
						<input id="id-ldap-context-factory" type="text"
							class="form-control" th:field="*{ldapInitialContextFactory}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('ldapInitialContextFactory')}"
							th:errors="*{ldapInitialContextFactory}"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-provider-url" class="col-sm-3"
						th:text="#{system.config.ldap.provider.url}"
						th:classappend="${#fields.hasErrors('ldapProviderUrl')} ? has-error : ''">Ldap
						provider url</label>
					<div class="col-sm-9">
						<input id="id-ldap-provider-url" type="text" class="form-control"
							th:field="*{ldapProviderUrl}" /> <span class="help-block"
							th:if="${#fields.hasErrors('ldapProviderUrl')}"
							th:errors="*{ldapProviderUrl}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-security" class="col-sm-3"
						th:text="#{system.config.ldap.security.authentication}"
						th:classappend="${#fields.hasErrors('ldapSecurityAuthentication')} ? has-error : ''">Ldap
						security authentication</label>
					<div class="col-sm-9">
						<input id="id-ldap-security" type="text" class="form-control"
							th:field="*{ldapSecurityAuthentication}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('ldapSecurityAuthentication')}"
							th:errors="*{ldapSecurityAuthentication}"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-principal" class="col-sm-3"
						th:text="#{system.config.ldap.security.principal}"
						th:classappend="${#fields.hasErrors('ldapSecurityPrincipal')} ? has-error : ''">Ldap
						security principal</label>
					<div class="col-sm-9">
						<input id="id-ldap-principal" type="text" class="form-control"
							th:field="*{ldapSecurityPrincipal}" /> <span class="help-block"
							th:if="${#fields.hasErrors('ldapSecurityPrincipal')}"
							th:errors="*{ldapSecurityPrincipal}"></span>
					</div>
				</div>
				<div class="form-group col-md-6 p-0">
					<label for="id-ldap-credentials" class="col-sm-3"
						th:text="#{system.config.ldap.security.credentials}"
						th:classappend="${#fields.hasErrors('ldapSecurityCredentials')} ? has-error : ''">Ldap
						cn filter</label>
					<div class="col-sm-6 ">
						<input id="id-ldap-credentials" type="text" class="form-control"
							name="ldapSecurityCredentials"
							th:value="*{(ldapSecurityCredentials == null or ldapSecurityCredentials == '') ? '' : T(vn.com.unit.common.constant.CommonConstant).PASSWORD_ENCRYPT}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('ldapSecurityCredentials')}"
							th:errors="*{ldapSecurityCredentials}"></span>
					</div>
					<div class="col-sm-2 ">
						<input type="checkbox" style="margin-top: 12px"
							onchange="document.getElementById('id-ldap-credentials').type = this.checked ? 'text' : 'password'" />
						<span th:text=" #{system.config.url.email.pass.show}">&nbsp;Show</span>
						<script type="text/javascript">
							document.getElementById('id-ldap-credentials').type = 'password';
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========================= End view box Ldap =================================== -->
	<!-- ========================= Start view box Email ================================= -->
	<div  id="boxSMTP">
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box-4"
			class="header-box">
			<h5 class="title-box" th:text="#{system.config.mail}">Mail</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in " id="search-box-4">
			<div class="row">
				<div class="col-md-6 p-0">
					<div class="form-group">
						<label for="id-email-host" class="col-sm-3 required"
							th:text="#{system.config.url.email.host}"
							th:classappend="${#fields.hasErrors('emailHost')} ? has-error : ''">Host
							email</label>
						<div class="col-sm-9">
							<input id="id-email-host" type="text"
								class="form-control j-required" th:field="*{emailHost}" /> <span
								class="help-block" th:if="${#fields.hasErrors('emailHost')}"
								th:errors="*{emailHost}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="id-email-address" class="col-sm-3 required"
							th:text="#{system.config.url.email.add}"
							th:classappend="${#fields.hasErrors('emailDefault')} ? has-error : ''">Email
							Address</label>
						<div class="col-sm-9">
							<input id="id-email-address" type="text"
								class="form-control j-required" th:field="*{emailDefault}" /> <span
								class="help-block" th:if="${#fields.hasErrors('emailDefault')}"
								th:errors="*{emailDefault}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="id-email-password" class="col-sm-3 required"
							th:text="#{system.config.url.email.pass}"
							th:classappend="${#fields.hasErrors('emailPassword')} ? has-error : ''">Email
							Password</label>
						<div class="col-sm-6 ">
							<input id="id-email-password" type="text" class="form-control"
								j-require th:field="*{emailPassword}" /> <span
								class="help-block text-danger"
								th:if="${#fields.hasErrors('emailPassword')}"></span> <span
								class="help-block" th:if="${#fields.hasErrors('emailPassword')}"
								th:errors="*{emailPassword}"></span>
						</div>
						<div class="col-sm-2 ">
							<input type="checkbox" style="margin-top: 12px"
								onchange="document.getElementById('id-email-password').type = this.checked ? 'text' : 'password'" />
							<span th:text=" #{system.config.url.email.pass.show}">&nbsp;Show</span>
							<script type="text/javascript">
								document.getElementById('id-email-password').type = 'password';
							</script>
						</div>
					</div>

					<div class="form-group">
						<label for="id-email-sent" class="col-sm-3 required"
							th:text="#{system.config.email.send.type}"
							th:classappend="${#fields.hasErrors('sendEmailTypeDefault')} ? has-error : ''">Default
							send mail</label>
						<div class="col-sm-9">

							<select class="form-control j-required"
								th:field="*{sendEmailTypeDefault}">
								<option th:each="item : ${listOptionType}"
									th:value="${item.code}" th:text="${item.name}"></option>

							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="repoAttachFile" class="col-sm-3 required"
							th:text="#{system.config.system.attach.file}"
							th:classappend="${#fields.hasErrors('repoAttachFile')} ? has-error : ''">Folder
							Attach file</label>
						<div class="col-sm-9">
							<div class="u-custom-select fa-caret-down">
								<select id="repoAttachFile" class="form-control j-required"
									th:field="*{repoAttachFile}">
									<option th:each="repo : ${listRepo}" th:value="${repo.id}"
										th:text="${repo.name}"></option>
								</select>
							</div>
							<span class="help-block"
								th:if="${#fields.hasErrors('repoAttachFile')}"
								th:errors="*{repoAttachFile}"></span>
						</div>
					</div>
				</div>

				<div class="col-md-6 p-0">
					<div class="form-group">
						<label for="id-email-port" class="col-sm-3 required"
							th:text="#{system.config.url.email.port}"
							th:classappend="${#fields.hasErrors('emailPort')} ? has-error : ''">Email
							PORT</label>
						<div class="col-sm-9">
							<input id="id-email-port" type="text"
								class="form-control j-required j-int j-min" min="1"
								th:field="*{emailPort}" /> <span class="help-block"
								th:if="${#fields.hasErrors('emailPort')}"
								th:errors="*{emailPort}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="id-email-name-default" class="col-sm-3 required"
							th:text="#{system.config.url.email.name}"
							th:classappend="${#fields.hasErrors('emailDefaultName')} ? has-error : ''">Email
							name default</label>
						<div class="col-sm-9">
							<input id="id-email-name-default" type="text"
								class="form-control j-required" th:field="*{emailDefaultName}" />
							<span class="help-block"
								th:if="${#fields.hasErrors('emailDefaultName')}"
								th:errors="*{emailDefaultName}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="id-url-default" class="col-sm-3 required"
							th:text="#{system.config.url.default.url}"
							th:classappend="${#fields.hasErrors('urlDefault')} ? has-error : ''">URL
							Default</label>
						<div class="col-sm-9">
							<input id="id-url-default" type="text"
								class="form-control j-required" th:field="*{urlDefault}" /> <span
								class="help-block" th:if="${#fields.hasErrors('urlDefault')}"
								th:errors="*{urlDefault}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- ========================= End view box Email =================================== -->

	<!-- ========================= Start EKYC config ================================= -->
	
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box-5"
			class="header-box">
			<h5 class="title-box">API Config</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in" id="search-box-5">
			<div class="row form-group align-items-center">
				<label class="col-sm-2">Send SMS</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{iibhcmsBaseUrl}" /> 
				</div>
				<label class="col-sm-2">EAPPIBPS BASE URL</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{eappibpsBaseUrl}" /> 
				</div>
			</div>
			<div class="row form-group align-items-center">
				<label class="col-sm-2">EAPP BASE URL</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{eappBaseUrl}" /> 
				</div>
				<label class="col-sm-2">ERECRUIT BASE URL</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{erecruitBaseUrl}" /> 
				</div>
			</div>
			<div class="row form-group align-items-center">
				<label class="col-sm-2">CSPORTAL BASE URL</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{csportalBaseUrl}" /> 
				</div>
				<label class="col-sm-2">PERSONAL INFO SUBMITED</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{personalInfoSubmited}" /> 
				</div>
			</div>
			<div class="row form-group align-items-center">
				<label class="col-sm-2">QA CODE BASE_URL</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{faceDetectionUploadBaseUrl}" /> 
				</div>
				<label class="col-sm-2">Google map API</label>
				<div class="col-md-4">
					<input type="text" class="form-control" th:field="*{googleMapApiKey}" /> 
				</div>
			</div>
			<div class="row form-group align-items-center">
				<label for="loginAPISecretKey" class="col-sm-2"
							th:text="#{secret.token.id}"
							th:classappend="${#fields.hasErrors('loginAPISecretKey')} ? has-error : ''">integSecretPassword</label>
						<div class="col-sm-3">
							<input type="text" class="form-control"
								th:field="*{loginAPISecretKey}" /> <span class="help-block"
								th:if="${#fields.hasErrors('loginAPISecretKey')}"
								th:errors="*{loginAPISecretKey}"></span>
						</div>

						<div class="col-sm-1 ">
							<input type="checkbox" style="margin-top: 12px"
								onchange="document.getElementById('loginAPISecretKey').type = this.checked ? 'text' : 'password'">
							<span>Show</span>
							<script type="text/javascript">
								document.getElementById('loginAPISecretKey').type = 'password';
							</script>
						</div>
			</div>
		</div>
	</div>
	<!-- ========================= AWS config ================================= -->
	<div id="boxAWS">
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#box-collapse-6" 
			class="header-box" aria-expanded="true">
			<h5 class="title-box">AWS</h5>
			<div class="pull-right">
				<i class="fa fa-minus"></i>
			</div>
		</div>
		<div class="collapse in" id="box-collapse-6">
			<div class="content-box">
				<!-- ========================= AWS =================================== -->
				<div class="aws">
					<div class="row form-group align-items-center">
						<label for="id-email-host-aws" class="col-md-2 required"
							th:text="#{system.config.url.aws.access.key}"
							th:classappend="${#fields.hasErrors('accessKeyAws')} ? has-error : ''">AWS
							access key</label>
						<div class="col-md-4">
							<input id="id-email-host-aws" type="text" class="form-control"
								th:field="*{accessKeyAws}" /> <span
								class="help-block text-danger"
								th:if="${#fields.hasErrors('accessKeyAws')}"
								th:errors="*{accessKeyAws}"></span>
						</div>

						<label for="id-email-password-aws" class="col-md-2 required"
							th:text="#{system.config.url.aws.secret.key}"
							th:classappend="${#fields.hasErrors('secretKeyAws')} ? has-error : ''">AWS
							secret key</label>
						<div class="col-md-3">
							<input id="id-email-password-aws" type="text"
								class="form-control" th:field="*{secretKeyAws}" /> <span
								class="help-block text-danger"
								th:if="${#fields.hasErrors('secretKeyAws')}"
								th:errors="*{secretKeyAws}"></span>
						</div>
						<div class="col-md-1">
							<input type="checkbox" style="margin-top: 12px"
								onchange="document.getElementById('id-email-password-aws').type = this.checked ? 'text' : 'password'" />
							<span th:text=" #{system.config.url.email.pass.show}">&nbsp;Show</span>
							<script type="text/javascript">
								document
										.getElementById('id-email-password-aws').type = 'password';
							</script>
						</div>
					</div>
				</div>
			</div>
				<!-- ========================= END AWS =================================== -->


				<div class="row form-group align-items-center">
					<label for="id-email-sent" class="col-md-2 required"
						th:text="#{system.config.url.aws.email.sender}"
						th:classappend="${#fields.hasErrors('emailSenderAws')} ? has-error : ''">Email
						sender</label>
					<div class="col-md-4">
						<input type="text" class="form-control"
							th:field="*{emailSenderAws}" /> <span
							class="help-block text-danger"
							th:if="${#fields.hasErrors('emailSenderAws')}"
							th:errors="*{emailSenderAws}"></span>
					</div>

					<label for="id-email-name-default" class="col-sm-2 required"
						th:text="#{system.config.url.aws.region}"
						th:classappend="${#fields.hasErrors('emailRegionAws')} ? has-error : ''">Email
						Region</label>
					<div class="col-md-4">
						<select class="form-control" th:field="*{emailRegionAws}">
							<th:block th:each="item : ${lstRegion}">
								<option th:value="${item.id}"
									th:selected="${systemConfigDto.emailRegionAws == item.id}"
									th:text="${item.name}"></option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="row form-group align-items-center">
					<label for="repoAttachFile" class="col-md-2 required"
						th:text="#{system.config.system.attach.file}"
						th:classappend="${#fields.hasErrors('repoAttachFileAws')} ? has-error : ''">Folder
						Attach file</label>
					<div class="col-md-4">
						<div class="u-custom-select fa-caret-down">
							<select id="repoAttachFileAws" class="form-control"
								th:field="*{repoAttachFileAws}">
								<option th:each="repo : ${listRepo}" th:value="${repo.id}"
									th:text="${repo.name}"></option>
							</select>
						</div>
						<span class="help-block text-danger"
							th:if="${#fields.hasErrors('repoAttachFileAws')}"
							th:errors="*{repoAttachFileAws}"></span>
					</div>

					<label for="id-url-default" class="col-md-2 required"
						th:text="#{system.config.url.default.url}"
						th:classappend="${#fields.hasErrors('urlDefaultAws')} ? has-error : ''">URL
						Default</label>
					<div class="col-md-4">
						<input type="text" class="form-control"
							th:field="*{urlDefaultAws}" /> <span
							class="help-block text-danger"
							th:if="${#fields.hasErrors('urlDefaultAws')}"
							th:errors="*{urlDefaultAws}"></span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- ========================= end AWS config ================================= -->
		<!-- ========================= AWS config ================================= -->
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#box-collapse-7"
			class="header-box" aria-expanded="true">
			<h5 class="title-box">Type Of Send mail</h5>
			<div class="pull-right">
				<i class="fa fa-minus"></i>
			</div>
		</div>
		<div class="collapse in" id="box-collapse-7">
			<div class="content-box">
				<!-- ========================= AWS =================================== -->
				<div class="type-of-sendmail">
					<div class="row form-group align-items-center">
						<div class="control-label col-md-2">
	                    <input id="radio1" name="typeSendmail" type="radio" value="AWS" th:checked="${systemConfigDto.typeOfSendmail == 'AWS'}" >
	                    <label>AWS</label>
	                </div>
	                <div class="control-label col-md-3">
	                    <input id="radio2" name="typeSendmail" type="radio" value="SMTP" th:checked="${systemConfigDto.typeOfSendmail == 'SMTP'}" >
	                    <label>SMTP</label>
	                </div>
						</div>
						</div>
						</div>
						</div>
						<input type="hidden" name="typeOfSendmail" id="typeSendEmail" th:value="${systemConfigDto.typeOfSendmail}" />
						
				<!-- ========================= END AWS =================================== -->
	</div>
	<!-- ========================= end AWS config ================================= -->
	<!-- ========================= Start CONTACT EMAIL config ================================= -->
	<div class="bg-content clearfix">

		<div data-toggle="collapse"
			data-target="#search-box-cms-contact-email" class="header-box">
			<h5 class="title-box" th:text="#{system.config.cms.contact.email}">Contact
				email</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>

		<div class="collapse in row m-0" id="search-box-cms-contact-email">

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailFeedbackDSuccess" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.feedback.dsuccess}"
						th:classappend="${#fields.hasErrors('cmsContactEmailFeedbackDSuccess')} ? has-error : ''">Góp
						ý chương trình D-Success</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailFeedbackDSuccess" type="text"
							class="form-control"
							th:field="*{cmsContactEmailFeedbackDSuccess}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailFeedbackDSuccess')}"
							th:errors="*{cmsContactEmailFeedbackDSuccess}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailRecoveryCode" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.recovery.code}"
						th:classappend="${#fields.hasErrors('cmsContactEmailRecoveryCode')} ? has-error : ''">Cấp
						mã số khôi phục</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailRecoveryCode" type="text"
							class="form-control" th:field="*{cmsContactEmailRecoveryCode}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailRecoveryCode')}"
							th:errors="*{cmsContactEmailRecoveryCode}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailContractAssignment" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.contract.assignment}"
						th:classappend="${#fields.hasErrors('cmsContactEmailContractAssignment')} ? has-error : ''">Phân
						công hợp đồng</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailContractAssignment" type="text"
							class="form-control"
							th:field="*{cmsContactEmailContractAssignment}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailContractAssignment')}"
							th:errors="*{cmsContactEmailContractAssignment}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailTerminateAgencyContract"
						class="col-sm-6"
						th:text="#{system.config.cms.contact.email.terminate.agency.contract}"
						th:classappend="${#fields.hasErrors('cmsContactEmailTerminateAgencyContract')} ? has-error : ''">Chấm
						dứt hợp đồng đại lý</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailTerminateAgencyContract" type="text"
							class="form-control"
							th:field="*{cmsContactEmailTerminateAgencyContract}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailTerminateAgencyContract')}"
							th:errors="*{cmsContactEmailTerminateAgencyContract}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailPromotionAndDemotion" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.promotion.and.demotion}"
						th:classappend="${#fields.hasErrors('cmsContactEmailPromotionAndDemotion')} ? has-error : ''">Thăng
						chức và giáng chức</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailPromotionAndDemotion" type="text"
							class="form-control"
							th:field="*{cmsContactEmailPromotionAndDemotion}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailPromotionAndDemotion')}"
							th:errors="*{cmsContactEmailPromotionAndDemotion}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailCommissionAndBonus" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.commission.and.bonus}"
						th:classappend="${#fields.hasErrors('cmsContactEmailCommissionAndBonus')} ? has-error : ''">Hoa
						hồng và các khoản thưởng</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailCommissionAndBonus" type="text"
							class="form-control"
							th:field="*{cmsContactEmailCommissionAndBonus}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailCommissionAndBonus')}"
							th:errors="*{cmsContactEmailCommissionAndBonus}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailIncomeDebt" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.income.debt}"
						th:classappend="${#fields.hasErrors('cmsContactEmailIncomeDebt')} ? has-error : ''">Nợ
						thu nhập</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailIncomeDebt" type="text"
							class="form-control" th:field="*{cmsContactEmailIncomeDebt}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailIncomeDebt')}"
							th:errors="*{cmsContactEmailIncomeDebt}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailHoldIncome" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.hold.income}"
						th:classappend="${#fields.hasErrors('cmsContactEmailHoldIncome')} ? has-error : ''">Giữ
						thu nhập</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailHoldIncome" type="text"
							class="form-control" th:field="*{cmsContactEmailHoldIncome}" />
						<span class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailHoldIncome')}"
							th:errors="*{cmsContactEmailHoldIncome}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailEmulation" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.emulation}"
						th:classappend="${#fields.hasErrors('cmsContactEmailEmulation')} ? has-error : ''">Chương
						trình thi đua</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailEmulation" type="text"
							class="form-control" th:field="*{cmsContactEmailEmulation}" /> <span
							class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailEmulation')}"
							th:errors="*{cmsContactEmailEmulation}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="cmsContactEmailOther" class="col-sm-6"
						th:text="#{system.config.cms.contact.email.other}"
						th:classappend="${#fields.hasErrors('cmsContactEmailOther')} ? has-error : ''">Khác</label>
					<div class="col-sm-6">
						<input id="cmsContactEmailOther" type="text" class="form-control"
							th:field="*{cmsContactEmailOther}" /> <span class="help-block"
							th:if="${#fields.hasErrors('cmsContactEmailOther')}"
							th:errors="*{cmsContactEmailOther}"></span>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- ========================= End CONTACT EMAIL config ================================= -->
	<div class="bg-content clearfix">

		<div data-toggle="collapse"
			 data-target="#search-box-cms-popup" class="header-box">
			<h5 class="title-box">Popup</h5>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>

		<div class="collapse in row m-0" id="search-box-cms-popup">

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-sm-6">
						<select class="form-control" th:field="*{popup}">
							<option value=""></option>
							<th:block th:each="item : ${lstPopup}">
								<option th:value="${item.id}"
										th:selected="${systemConfigDto.popup == item.id}"
										th:text="${item.name}"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ========================= End CONTACT EMAIL config ================================= -->


	<script type="text/javascript"
		th:src="@{/static/cache/js/system-config/system-config-detail.js}"></script> 
</body>
</html>
