<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>		
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{ecm.repository.page}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 <a>
				 	<i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
				 </a>
				 <a>
				 	<i class="fa fa-plus-circle icon-head-red" id = "add" th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE_ADMIN)')}"></i>
				 </a>
				 <a class="font17 btn-save" th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE_ADMIN)')}">
                    <i class="fa fa-save"></i>
                </a>
	        </div>
	   </div>
	</div>	
	<form class="form-horizontal u-for-page-top j-form-validate" id = "form-repository-edit" th:action="@{/ecm-repository/edit}" th:object="${objectDto}" method="post" role="form" autocomplete="off">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="bg-content clearfix">
			<div class="header-box">
				<h2 class="title-box" th:text="#{ecm.repository.edit.title}" th:if="${objectDto.id != null}">Cập nhật ecm repository</h2>
				<h2 class="title-box" th:text="#{ecm.repository.create.title}" th:if="${objectDto.id == null}">Tạo ecm repository</h2>
			</div>			                           
            <input type="hidden" th:field="*{id}" />
            <div class="col-sm-12 p-0">
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
						<label class="col-sm-4 required" for="host" th:text="#{ecm.repository.host}">Host ECM</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{host}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('host')}" th:errors="*{host}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('site')} ? has-error : ''">
						<label class="col-sm-4 required" for="site" th:text="#{ecm.repository.site}">Site ECM</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{site}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('site')}" th:errors="*{site}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('ecmUsername')} ? has-error : ''">
						<label class="col-sm-4 required" for="ecmUsername" th:text="#{ecm.repository.username}">Username ECM</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{ecmUsername}" class="form-control j-required j-maxlength" autocomplete="off" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('ecmUsername')}" th:errors="*{ecmUsername}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<!-- <div class="form-group" th:classappend="${#fields.hasErrors('ecmPassword')} ? has-error : ''">
						<label class="col-sm-4 required" for="ecmPassword" th:text="#{ecm.repository.password}" autocomplete="off">Password ECM</label>
						<div class="col-sm-8" >
							<input type="password" th:field="*{ecmPassword}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('ecmPassword')}" th:errors="*{ecmPassword}"></span>
						</div>
					</div> -->
					<div class="form-group" id="divPass">
						<label for="ecmPassword" class="col-sm-4 required" th:text="#{ecm.repository.password}"
							th:classappend="${#fields.hasErrors('ecmPassword')} ? has-error : ''">Password</label>
						<div class="col-sm-6 ">
							<input id="ecmPassword" type="text" class="form-control j-required" name="ecmPassword"
								th:value="*{(ecmPassword == null or ecmPassword == '') ? '' : T(vn.com.unit.common.constant.CommonConstant).PASSWORD_ENCRYPT}" />
							<span class="help-block"
								th:if="${#fields.hasErrors('ecmPassword')}" th:errors="*{ecmPassword}"></span>
						</div>
						<div class="col-sm-2 ">
							<input type="checkbox" style="margin-top: 12px"
								onchange="document.getElementById('ecmPassword').type = this.checked ? 'text' : 'password'" /> <span
								th:text=" #{system.config.url.email.pass.show}">&nbsp;Show</span>
							<script type="text/javascript">
								document.getElementById('ecmPassword').type = 'password';
							</script>
						</div>
					</div>
				</div>
				<div class="col-md-6">
				    <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
                        <label class="col-sm-4 required " for="code" th:text="#{ecm.repository.code}">Mã</label>
                        <div class="col-sm-8" >
                            <input type="text" th:field="*{code}" class="form-control j-required j-code j-maxlength" data-rule-maxlength="30" style="text-transform: uppercase;" />
                            <span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>                                                   
                        </div>
                    </div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('path')} ? has-error : ''">
						<label class="col-sm-4 required " for="path" th:text="#{ecm.repository.path}">Đường dẫn lưu trữ</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{path}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('path')}" th:errors="*{path}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('typeRepo')} ? has-error : ''">
                        <label class="col-sm-4 required " for="typeRepo" th:text="#{ecm.repository.type.repo}">Loại lưu trữ</label>
                        <div class="col-sm-8" >
                            <select class="form-control j-required" name="typeRepo">
                                <option></option>
                                <option th:each="item : ${typeRepoList}" 
                                   th:value="${item.cat}"
                                   th:selected="(${item.cat} == *{typeRepo})" 
                                   th:text="${item.catAbbrName}">
                                </option>
	                        </select>
                            <span class="help-block" th:if="${#fields.hasErrors('typeRepo')}" th:errors="*{typeRepo}"></span>                                                   
                        </div>
                    </div>
<!--					<div class="form-group">-->
<!--			            <label for="description" class="col-sm-4" th:classappend="${#fields.hasErrors('description')} ? has-error : ''" th:text="#{repository.description}">Mô tả</label>-->
<!--			            <div class="col-sm-8">-->
<!--			            	<textarea rows="3" th:field="*{description}" class="col-sm-10 form-control j-maxlength" data-rule-maxlength="65535" ></textarea>                -->
<!--			                <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>-->
<!--			            </div>-->
<!--			        </div>-->
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
						<label class="col-sm-4 required " for="name" th:text="#{ecm.repository.name}">Tên lưu trữ</label>
						<div class="col-sm-8" >
							<input type="text" th:field="*{name}" class="form-control j-required j-maxlength" data-rule-maxlength="255"/>
							<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>													
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:if="${listCompany.size()>1}">
						<label class="col-sm-4 required" for="companyId" th:text="#{ecm.repository.company}">Công ty</label>
						<div class="col-sm-8" >
							<select class="form-control j-required" name="companyId">
								<option th:each="item : ${listCompany}"
										th:value="${item.id}"
										th:selected="(${item.id} == *{companyId})"
										th:text="${item.text}">
								</option>
							</select>
							<span class="help-block" th:if="${#fields.hasErrors('companyId')}" th:errors="*{companyId}"></span>
						</div>
					</div>
					<div class="form-group" th:unless="${listCompany.size()>1}">
	                	<input type="hidden" id="companyId" name="companyId" th:value="*{companyId}" />
	            	</div>
					<div class="form-group">
	                    <label class="col-sm-4" th:text="#{ecm.repository.active}">Kích hoạt</label>
	                    <div class="col-sm-8">
	                       <input type="checkbox" th:field="*{active}"/>
	                    </div>
	                </div>
				</div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('subFolderRule')} ? has-error : ''">
	                    <label class="col-sm-4" for="subFolderRule" th:text="#{ecm.repository.sub.folder.rule}">Thư mục con</label>
	                    <div class="col-sm-8" >
	                        <select class="form-control" name="subFolderRule">
                                <option></option>
                                <option th:each="item : ${subFolderRuleList}" 
                                   th:value="${item.cat}"
                                   th:selected="(${item.cat} == *{subFolderRule})" 
                                   th:text="${item.catAbbrName}">
                                </option>
                            </select>
	                        <span class="help-block" th:if="${#fields.hasErrors('subFolderRule')}" th:errors="*{subFolderRule}"></span>                                                   
	                    </div>
	                </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 footer-box-bg">
				<a class="btn-cancel" id = "cancel">
					<i class="fa fa-times"></i>
					<span th:text="#{cancel.button}">Thoát</span>
				</a>
                <a class="btn-common" id="btnValidate">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span th:text="#{ecm.repository.validate}">Kiểm tra kết nối</span>
                </a>
<!--				<a class="btn-common btn-save"-->
<!--					th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE_ADMIN)')}">-->
				<a class="btn-common btn-save">
					<i class="fa fa-floppy-o" aria-hidden="true"></i> 
					<span th:text="#{save.button}">Lưu</span>
				</a>			
			</div>
		</div>
	</form>	
	<input type="hidden" id="url" name="url" th:value="${objectDto.url}"/>
	<script type="text/javascript" th:src="@{/static/cache/js/ecm-repository/ecm-repository-edit.js}"></script>
	</body>
</html>