<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>
<!-- BREADCRUMB -->
<div class="list-breadcrumb">
	<div class="row">
		<div class="col-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb align-items-center">
					<li class="breadcrumb-item">
	                        <span class="title-active-breadcrumb">
	                            <span th:text="#{class.info.title}">Tiêu đề trang</span>
	                        </span>
					</li>
					<li class="breadcrumb-item">
						<a>
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li class="breadcrumb-item">
						<div id="breadcrumb"></div>
					</li>
				</ol>
			</nav>
		</div>

	</div>
</div>
<!-- END BREADCRUMB -->
<form class="form-horizontal j-formSearch-import" id="fmUpload" method="POST" role="form" enctype="multipart/form-data"
       th:object="${searchDto}">
	<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	
	<!-- File Import -->
	<div class="bg-content">
	    <div id="divSearch">
	        <th:block th:include="views/common-import-excel/import-search.html :: content" />
	    </div>
	</div>
	
	<!-- Table Results -->
	<div class="bg-content col-sm-12">
	    <div class="unit-bg-table" id="tableList">
	        <th:block th:include="views/class-info/class-info-import-table.html :: content" />
	    </div>
	</div>
 </form>
<script th:inline="javascript">
 /*<![CDATA[*/
     var CONTROLLER_URL = /*[[${controllerUrl}]]*/;
 /*]]>*/
</script>
</body>
</html>