<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body th:fragment="content">
	<div class="header-box">
                <h2 class="title-box" th:text="#{component.authority.item.list}">Item list</h2>
            </div>
            <div class="">
            	<div class="row unit-bg-table m-0">
            		<div class="table-responsive">
                	<table id="itemTableId" class="table table-bordered table-striped">
	                    <thead>
	                        <tr>
	                            <th class="u_t_no">#</th>
	                            <th>
	                                <input type="text" id="itemName" class="form-control input-sm" th:placeholder="#{component.authority.item.name}" />
	                            </th>
	                            <th th:text="#{action.label}">Thao tác</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <th:block th:each="item,i : ${itemList}">
	                            <tr th:attr="data-item-id=${item.id}" th:class="${itemIdSelected == item.id} ? highlight : ''">
	                                <td th:text="${i.index+1}">1.</td>
	                                <td th:text="${item.text}" data-tfilter="true">Administrator</td>
	                                <td class="text-center">
	                                    <div class="btn-group">
	                                        <a class="j-role-edit j-btn-edit glyphicon glyphicon-edit custom-icon" type="button">
	                                        </a>
	                                    </div>
	                                </td>
	                            </tr>
	                        </th:block>
	                    </tbody>
                	</table>
                </div>
				</div>
            </div>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    var messageList = /*[[${messageList}]]*/;
	    /*]]>*/
	</script>
    <script type="text/javascript" th:src="@{/static/cache/js/component-authority/component-authority-function-list.js}"></script>
</body>
</html>
