<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content(lstAttachedFile,businessCode,refAttachment)">
    <div class="bg-content clearfix bg-content-tbl">
      <div
        data-toggle="collapse"
        data-target="#attached-file-span"
        class="header-box"
        aria-expanded="true"
      >
        <h2 class="title-box section-heading" th:text="#{common.attached.file}">
          Attached File
        </h2>
        <i class="fa fa-minus pull-right" aria-hidden="true"></i>
      </div>
      <div
        class="row m-0 collapse in"
        id="attached-file-span"
        aria-expanded="true"
      >
        <a
          th:if="${#authorization.expression('hasAuthority('''+itemPermission+''')') and isShowActionAttachedFile}"
          class="pull-right"
          href="#"
          ><i
            class="glyphicon glyphicon-upload icon-head-red"
            id="import-attached-file"
            title="Upload attached file"
          ></i
        ></a>
        <div class="clearfix bg-content bg-content-tbl" id="tableList">
          <th:block
            th:include="/views/attached-file-module/attached-file-table.html :: content(${lstAttachedFile},${isShowActionAttachedFile})"
          />
        </div>
        <th:block
          th:include="/views/attached-file-module/popup-attached-file-upload.html :: content(${businessCode},${refAttachment})"
        />
      </div>
    </div>
  </body>
</html>
