<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>
    <link rel="stylesheet" type="text/css"
            th:href="@{/static/cache/plugins/jquery-easyui-1.5/easyui.css}" />
    <link rel="stylesheet" type="text/css"
        th:href="@{/static/cache/plugins/jquery-easyui-1.5/icon.css}" />
    <script type="text/javascript"
        th:src="@{/static/cache/plugins/jquery-easyui-1.5/jquery.easyui.min.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var LANGUAGE_LIST = /*[[${languageList}]]*/;
		var CUSTOMER_ALIAS = [[${customerAlias}]];

		var LIST_TREE_JSON = /*[[${listTreeJson}]]*/;
		var LIST_CATEGORY_TYPE = /*[[${listCategoryType}]]*/;

		/*]]>*/
	</script>

	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{document.category.edit.title}">Tiêu đề
						trang</span>
				</h3>
			</div>
			<div class="col-md-7">
				<div class="pull-right">
					<a class="u-btn u-btn-back" id="linkList"> <img
						th:src="@{/static/images/icon-down.png}" alt="" width="17px"
						class="rotate-ico" /> <span>Trở lại</span>
					</a> <a class="u-btn u-btn-primary" id="addNew"
						th:if="${editDto.id != null}"> <img
						th:src="@{/static/images/ico-plus-white.png}" alt="" /> <span>Thêm
							mới</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<form method="POST"
		class="form-horizontal u-for-page-top j-form-validate"
		th:object="${editDto}" id="categoryForm" role="form">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />

		<div class="bg-content">
			<div class="row">
				<div class="col-md-6 no-padding">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label class="col-sm-4 control-label required"
							th:text="#{faqs.category.code}">Mã danh mục</label>
						<div class="col-sm-8">
							<input type="text" class="form-control j-required text-uppercase"
								id="validateDate" data-rule-maxlength="30" minlength="3"
								maxlength="3" th:field="*{code}" /> <span class="help-block"
								th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
						</div>
					</div>
				</div>

				<div class="col-md-6 no-padding">
					<div class="col-md-5">
						<div class="form-group">
							<input type="checkbox" th:field="*{enabled}" tabindex="2" /> <label
								class=" control-label" th:text="#{faqs.type.enabled}">Kích
								hoạt</label>
						</div>
					</div>
					<div class="col-md-5" th:if="${listPartner == null}">
						<div class="form-group">
							<input type="checkbox" th:field="*{forCandidate}" tabindex="2" />
							<label class=" control-label">Ứng viên</label>
						</div>
					</div>
				</div>
			</div>

					<div class="row">		
					 	<div class="col-md-6 no-padding">				
							<div class="form-group ">
								<label class="col-md-4 required"  th:text="#{investor.type.category}">Loại</label>
								<div class="col-sm-8">
									<select class="form-control j-required"
										th:field="*{categoryType}" tabindex="2">
										<option value=""></option>
										<option th:each="choice : ${listCategoryType}"
											th:value="${choice.id}"
											th:selected="(${choice.id} == *{categoryType})"
											th:text="${choice.name}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 no-padding" th:if="${listPartner != null}">
							<div class="form-group ">
								<label class="col-md-4"
									th:text="#{account.partner}">Đối tác</label>
								<div class="col-sm-8">
									<select class="form-control"
										th:field="*{partner}" tabindex="2">
										<option value=""></option>
										<option th:each="choice : ${listPartner}"
											th:value="${choice.code}"
											th:selected="(${choice.code} == *{partner})"
											th:text="${choice.name}"></option>
									</select>
								</div>
							</div>
						</div>
			</div>



			<div class="tab-content" style="margin-top: 10px">
				<th:block th:each="language, i : ${languageList}"
					th:with="index=${i.index}">
					<div th:id="'language' + ${index}" class="tab-pane fade"
						th:classappend="${index == editDto.indexLangActive}  ? 'in active' : ''">
						<div class="row">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('languageList[__${index}__].title')} ? has-error : ''">
								<label class="col-sm-2 control-label required"
									th:text="#{faqs.category.title}">Tên Danh Mục</label>
								<div class="col-sm-10">
									<input type="text" class="form-control j-maxlength j-required"
										data-rule-maxlength="100" maxlength="100"
										th:field="*{languageList[__${index}__].title}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label required"
									th:text="#{faqs.category.keyWordsSEO}">Từ khóa SEO</label>
								<div class="col-sm-10">
									<input type="text" class="form-control j-maxlength j-required"
										data-rule-maxlength="100" maxlength="100"
										th:field="*{languageList[__${index}__].keywordsSeo}"
										placeholder="tu-khoa-seo" /> <span class="help-block error"
										th:if="${#fields.hasErrors('languageList[__${index}__].keywordsSeo')}"
										th:errors="*{languageList[__${index}__].keywordsSeo}"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label required"
									th:text="#{faqs.category.keyWords}">Từ Khóa</label>
								<div class="col-sm-10">
									<input type="text" class="form-control j-maxlength j-required"
										data-rule-maxlength="100" maxlength="100"
										th:field="*{languageList[__${index}__].keywords}"
										placeholder='#sanphamvay' />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"
									th:text="#{faqs.category.keyWordsDesc}">Mô tả từ khóa</label>
								<div class="col-sm-10">
									<input type="text" class="form-control j-maxlength "
										data-rule-maxlength="500" maxlength="500"
										th:field="*{languageList[__${index}__].keywordsDesc}"
										placeholder='mô tả cho #sanphamvay' />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12"></div>
						<input type="hidden" th:field="*{languageList[__${index}__].id}" />
						<input type="hidden"
							th:name="'languageList[' + ${index} + '].languageCode'"
							th:value="${language.code}" />
					</div>
				</th:block>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="col-md-2 control-label">Mô tả danh mục tài
						liệu</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{note}"
							maxlength="500" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 no-padding">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('parentId')} ? has-error : ''">
						<label class="col-sm-4 control-label required"
							th:text="#{faqs.category.parent}">Danh mục cha</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{parentId}"
								id="listTree" /> <label th:for="parentId" generated="true"
								class="error" style="display: none"></label>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('itemFunctionCode')} ? has-error : ''">
						<label class="col-sm-4 control-label required"
							th:text="#{faqs.category.item}">Liên kết quyền</label>
						<div class="col-sm-8">
							<select class="form-control j-required"
								th:field="*{itemFunctionCode}"
								th:data-placeholder="#{faqs.category.item}" tabindex="2">
								<option value=""></option>
								<option th:each="type : ${listItem}" th:value="${type.id}"
									th:text="${type.name}"
									th:selected="${type.id} == *{itemFunctionCode}"></option>
							</select> <label th:for="itemFunctionCode" generated="true" class="error"
								style="display: none"></label>
						</div>
					</div>
				</div>
			</div>

			<div class="row m-0 pos-gr-btn" th:if="${editDto.hasEdit}">
				<!-- <button type="button" class="u-btn u-btn-back " id="cancel"  >
                    <img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
                    <span th:text="#{cancel.button}">Thoát</span>
                </button> -->

				<button type="button" class="u-btn u-btn-primary" id="btnSave">
					<img th:src="@{/static/images/icon-save.png}" alt="" width="19px" />
					<span th:text="#{save.button}">Lưu</span>
				</button>
			</div>
		</div>

		<input type="hidden" th:field="*{id}" /> <input type="hidden"
			th:field="*{customerTypeId}" /> <input type="hidden" id="url"
			name="url" th:value="${editDto.url}" /> <input type="hidden"
			th:field="*{searchDto}" /> <input type="hidden"
			th:field="*{hasEdit}" />

	</form>

	<script type="text/javascript"
		th:src="@{/static/CMS/all/document-category/document-category-edit.js}"></script>
</body>
</html>

