<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">



    <!-- <div class="col-sm-12"> -->
    <div class="col-sm-12 p-0">



		<!-- <h2 class="sub-header section-heading" th:text="#{search.results.title}">
			Kết quả tìm kiếm
		</h2> -->
		<div class="col-sm-8 p-0">
			<h2 class="title-box"  th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
		</div>



      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="u_t_no">#</th>
              <th class="u_t_action" th:text="#{action.label}">Thao tác</th>
              <th class="u_t_code" th:text="#{branch.code}">Mã chi nhánh</th>
              <th class="u_t_title" th:text="#{branch.name}">Tên chi nhánh</th>
              <th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="branchListDto,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr th:attr="data-branch-id=${branchListDto.id}" class="trEdit">
                <td class="text-center" th:text="${i.index + startIndex}"></td>
                <td class="text-center">
                  <div>
                    <!-- <a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" ></a> -->
                    <a
                      class="glyphicon glyphicon-edit custom-icon j-btn-edit"
                      th:if="${(#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BRANCH}__'')'))}"
                    >
                    </a>
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        j-branch-delete j-btn-delete
                      "
                      th:if="${(#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BRANCH}__:Edit'')'))}"
                    >
                    </a>
                  </div>
                </td>
                <td
                  th:text="${branchListDto.code}"
                  style="text-transform: uppercase"
                ></td>
                <td th:text="${branchListDto.name}"></td>
                <td
                  class="text-center"
                  th:text="${branchListDto.createDate }? ${#dates.format(branchListDto.createDate, 'dd/MM/yyyy')}"
                ></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
    <th:block th:include="views/commons/pagination.html :: content" />

    <script th:inline="javascript">
      	/*<![CDATA[*/
      var RESULT_LIST = /*[[${resultList}]]*/;
      /*]]>*/
    </script>
    <div class="form-group">
      <div class="col-sm-12" id="map" style="height: 480px"></div>
    </div>

    <script
      type="text/javascript"
      th:src="@{/static/CMS/all/branch/branch-list.js}"
    ></script>
    <script
      th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCs2ue2KZmNdxY_9QCX-hNoELD0l70-g-8&amp;libraries=places&amp;callback=initMap}"
      type="text/javascript"
    ></script>
  </body>
</html>
