<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script
    type="text/javascript"
    th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"
  ></script>
  <script>
    $(document).ready(function ($) {
      $("#linkList").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.assettracking.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#cancel").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.assettracking.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#add").on("click", function (event) {
        event.preventDefault();
        var url = BASE_URL + "mockup?view-id=mockup.assettracking.edit";

        // Redirect to page list
        ajaxRedirect(url);
      });
    });

    function showModal() {
      $("#myModal").modal("show");
      $("#myModal").css("z-index", 5000);
    }

    function clickImport() {
      var countRecord = 0;
      $(".not-exist-db").each(function () {
        if ($(this).attr("style") != "display: none;") {
          countRecord++;
        }
      });
      $(".exist-db").each(function () {
        if ($(this).attr("style") != "display: none;") {
          countRecord++;
        }
      });

      if (countRecord > 0) {
        var message = $("#confirmMessage").val();
        popupConfirm(message, function (result) {
          if (result) {
            //e.preventDefault();
            $(".close").trigger("click");
            importCommon();
          }
        });
      } else {
        importCommon();
      }
    }
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>Asset Tracking</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a>
          <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
        </a>
        <a>
          <i class="fa fa-plus-circle icon-head-red" id="add"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- DETAIL -->
  <!-- process Title, Code, Name, Description start -->
  <div class="bg-content clearfix">
    <div class="header-box">
      <h2 class="title-box">General Information</h2>
    </div>

    <div class="col-sm-12 p-0">
      <div class="form-group">
        <label class="col-sm-2 required">Tracking No</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 required">Tracking Date</label>
        <div class="col-sm-4">
          <div class="input-group date datepicker">
            <input
              class="form-control"
              type="text"
              placeholder="dd/mm/yyyy"
              autocomplete="off"
            />
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 required">Purpose</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="6"></textarea>
        </div>
      </div>
      <!-- button Exit, Save start-->
    </div>
    <!-- button Exit, Save end-->
  </div>
  <div class="bg-content clearfix">
    <div class="header-box col-md-5 p-0">
      <h2 class="title-box">Detail Information</h2>
    </div>

    <div class="col-md-7 p-0">
      <div class="pull-right" style="margin: 5px 0">
        <button class="btn-common" id="importActivity">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Export
        </button>
        <button class="btn-common" id="importBudget" onclick="clickImport()">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Import
        </button>
      </div>
    </div>
    <div class="col-sm-12 p-0">
      <div class="table-responsive col-sm-12 no-padding">
        <table id="tblDataTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="min-width: 50px" rowspan="2">Description</th>
              <th style="min-width: 50px" rowspan="2">Asset Code</th>
              <th style="min-width: 50px" rowspan="2">Status</th>
              <!-- Tranlth 27/05/2019 thay đổi tên Task #23724 -->
              <th style="min-width: 100px" rowspan="2">Remark</th>
              <!-- End -->
              <th style="min-width: 200px" rowspan="2">Location</th>
              <th style="min-width: 100px" rowspan="2">Owner</th>
              <th style="min-width: 200px" rowspan="2">Warehouse</th>
              <th style="min-width: 50px" colspan="8">Current Info</th>
            </tr>
            <tr>
              <th style="min-width: 50px">Status</th>
              <th style="min-width: 50px">Register Date</th>
              <th style="min-width: 50px">Depreciation Start Date</th>
              <!-- Tranlth 27/05/2019 thay đổi tên Task #23724 -->
              <th style="min-width: 50px">Remark</th>
              <!-- End -->
              <th style="min-width: 200px">Location</th>
              <th style="min-width: 100px">Owner</th>
              <th style="min-width: 100px">Warehouse</th>
              <!-- Tranlth 27/05/2019 thêm mới Task #23724 -->
              <th style="min-width: 100px">Inventory Status</th>
              <!-- End -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="td-action text-center">
                <a onclick="showModal();"
                  >DELL Lattitude E7340 <i class="fa fa-search"></i
                ></a>
              </td>
              <td><a onclick="showModal();">LAPE734000000000001</a></td>
              <td>Broken</td>
              <td>Bể màn hình</td>
              <td>FWD chi nhánh Hồ Chí Minh</td>
              <td>Thông Nguyễn</td>
              <td>Kho hàng hỏng Sài Gòn</td>
              <td>Active</td>
              <td class="text-center">14/2/2017</td>
              <td class="text-center">15/3/2017</td>
              <td></td>
              <td>FWD chi nhánh Hồ Chí Minh</td>
              <td>Lan Anh Phạm</td>
              <td>Kho Sài Gòn</td>
              <!-- Tranlth 27/05/2019 thêm mới Task #23724 -->
              <td>
                <select class="form-control">
                  <option value="">Finish</option>
                  <option value="">Cancel</option>
                </select>
              </td>
              <!-- End -->
            </tr>
            <tr>
              <td class="td-action text-center">
                <a onclick="showModal();"><i class="fa fa-search"></i></a>
              </td>
              <td><a onclick="showModal();"></a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <th:block th:include="views/mockup/mockup-process.html :: content" />

  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Description</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 p-0">
            <div class="table-responsive col-sm-12 no-padding">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Sub Category</th>
                    <th>Asset Code</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Warehouse</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br />
        <div class="modal-footer">
          <a
            href="#"
            class="btn-common btn-in-tablet"
            data-dismiss="modal"
            id="btnOK"
            ><i class="fa fa-check"></i> OK</a
          >
          <a href="#" class="btn-cancel" data-dismiss="modal"
            ><i class="fa fa-times"></i> Cancel</a
          >
        </div>
      </div>
    </div>
  </div>
  <th:block
    th:include="/views/ASSET_MANAGEMENT_MODULE/mockup-asset/popup-import-excel.html :: content('mockup')"
  />
</html>
