<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <!-- BODY START -->
  <body th:fragment="content">
    <div
      class="bg-content clearfix form-horizontal u-for-page-top j-formSearch"
    >
      <div data-toggle="collapse" data-target="#search-box" class="header-box">
        <h5 class="title-box">
          <span th:text="#{search.title}">Vùng tìm kiếm</span>
        </h5>
        <i class="fa fa-minus pull-right" aria-hidden="true"></i>
      </div>
      <div class="collapse in row m-0" id="search-box">
        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="col-md-2">Goods Description</label>
            <div class="col-md-4">
              <input class="form-control" type="text" />
            </div>

            <label class="col-md-2">PO No</label>
            <div class="col-md-4">
              <input class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="col-md-2">PR No</label>
            <div class="col-md-4">
              <input class="form-control" type="text" />
            </div>

            <label class="col-md-2">Receipt No</label>
            <div class="col-md-4">
              <input class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="col-md-2">Receipt Date From</label>
            <div class="col-md-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>

            <label class="col-md-2">Receipt Date To</label>
            <div class="col-md-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div align="center">
          <div class="position-label col-xs-12 col-sm-12">
            <a id="btnSearch" class="btn-common">
              <i class="fa fa-search"></i>
              <span th:text="#{search.button}">Tìm kiếm</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- SEARCH AREA END -->
    <!-- TABLE RESULT START -->
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/mockup-asset/mockup-assetregistration-model-table.html :: content"
      />
    </div>
    <!-- TABLE RESULT END -->
  </body>
  <!-- BODY END -->
  <script>
    $(".j-btn-edit").on("click", function (event) {
      event.preventDefault();
      var url = BASE_URL + "mockup?view-id=mockup.assetregistration.edit";

      // Redirect to page list
      ajaxRedirect(url);
    });

    $("#add").on("click", function (event) {
      event.preventDefault();
      var url = BASE_URL + "mockup?view-id=mockup.assetregistration.edit";

      // Redirect to page list
      ajaxRedirect(url);
    });

    // date picker
    $(".date").datepicker({ autoclose: true, format: "dd/mm/yyyy" });
    var idEffectedDate = $("#fromDate").val();
    var idExpiredDate = $("#toDate").val();
    changeDatepickerById(idEffectedDate, idExpiredDate, "#fromDate", "#toDate");
  </script>
</html>
