<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script>
    $(document).ready(function ($) {
      $("#linkList").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.assetreturn.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#cancel").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.assetreturn.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#add").on("click", function (event) {
        event.preventDefault();
        var url = BASE_URL + "mockup?view-id=mockup.assetreturn.edit";

        // Redirect to page list
        ajaxRedirect(url);
      });

      $("#btnAdd").on("click", function (event) {
        showModal();
      });

      // date picker
      $(".date").datepicker({ autoclose: true, format: "dd/mm/yyyy" });
      var idEffectedDate = $("#fromDate").val();
      var idExpiredDate = $("#toDate").val();
      changeDatepickerById(
        idEffectedDate,
        idExpiredDate,
        "#fromDate",
        "#toDate"
      );

      $("#transferType").on("change", function () {
        var value = $("#transferType").val();

        if (value == "Stock") {
          $("#stock").css("display", "block");

          $("#vendor").css("display", "none");
        } else if ((value = "Vendor")) {
          $("#stock").css("display", "none");

          $("#vendor").css("display", "block");
        }
      });
    });

    function showModal() {
      $("#myModal").modal("show");
      $("#myModal").css("z-index", 5000);
    }

    /* Tranlth 27/05/2019 Thêm mới Task #23724*/
    function checkStatus(event) {
      if (event.checked) {
        $(".chkStatus").prop("checked", true);
      } else {
        $(".chkStatus").prop("checked", false);
      }
    }
    /* End*/
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>Asset Return</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a>
          <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
        </a>
        <a>
          <i class="fa fa-plus-circle icon-head-red" id="add"></i>
        </a>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal u-for-page-top j-form-validate"
    id="form-costcenter-edit"
    method="post"
    role="form"
  >
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
    />
    <input
      type="hidden"
      th:name="${_csrf.parameterName}"
      th:value="${_csrf.token}"
    />
    <!-- DETAIL -->
    <!-- process Title, Code, Name, Description start -->
    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box">
        <h2 class="title-box">Return Information</h2>
      </div>
      <div class="col-sm-12 p-0">
        <div class="form-group">
          <label class="col-sm-2 required">Return No</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" disabled="" />
          </div>

          <div class="form-group">
            <label class="col-sm-2">Return Date</label>
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  disabled="disabled"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Return By</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" disabled="" />
          </div>

          <label class="col-sm-2">Return Dept.</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" disabled="" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Owner</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>

          <label class="col-sm-2">Owner Dept.</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Warehouse</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>

          <label class="col-sm-2">Location</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Reason for Return</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control"> </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box col-md-5 p-0">
        <h2 class="title-box">Asset Detail Information</h2>
      </div>

      <div class="col-md-7 p-0">
        <div class="pull-right">
          <a class="btn-common" id="btnAdd">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Add</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 p-0">
        <div class="table-responsive col-sm-12 no-padding">
          <table id="tblDataTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="min-width: 50px">Action</th>
                <th style="min-width: 120px">Asset Type</th>
                <th style="min-width: 155px">Name of the Asset</th>
                <th style="min-width: 50px">Asset Sub Category</th>
                <th style="min-width: 50px">Asset Status</th>
                <th style="min-width: 180px">Serial No</th>
                <th style="min-width: 100px">Asset Tag No</th>
                <th style="min-width: 120px">Quantity</th>
                <th style="min-width: 120px">Unit of Measure</th>
                <th style="min-width: 120px">Register Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-action">
                  <div class="align-center">
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                    ></a>
                  </div>
                </td>
                <td class="text-left">IT Asset</td>
                <td class="text-left">Lenovo ThinkPad x250</td>
                <td class="text-left">Laptop</td>
                <td class="text-left">Stock - New</td>
                <td class="text-left"></td>
                <td class="text-left"></td>
                <td class="text-center">1</td>
                <td class="text-left">Each</td>
                <td></td>
              </tr>
              <tr>
                <td class="td-action">
                  <div class="align-center">
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                    ></a>
                  </div>
                </td>
                <td class="text-left">IT Asset</td>
                <td class="text-left">Lenovo ThinkPad x260</td>
                <td class="text-left">Laptop</td>
                <td class="text-left">Stock - New</td>
                <td class="text-left"></td>
                <td class="text-left"></td>
                <td class="text-center">1</td>
                <td class="text-left">Each</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <th:block th:include="views/mockup/mockup-process.html :: content" />
  </form>

  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div
      class="modal-dialog"
      role="document"
      style="width: 80%; max-width: 80%"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Asset Profile</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 p-0">
            <th:block
              th:include="/views/ASSET_MANAGEMENT_MODULE/mockup-asset/mockup-assetreturn-model-list.html :: content"
            />
          </div>
        </div>
        <div align="center">
          <!-- Tranlth 27/05/2019 thêm mới add và bỏ Ok + Cancel Task #23724 -->
          <a
            href="#"
            class="btn-common btn-in-tablet"
            data-dismiss="modal"
            id="btnOK"
            ><i class="fa fa-plus-circle"></i> Add</a
          >
          <a href="#" class="btn-cancel" data-dismiss="modal"
            ><i class="fa fa-times"></i> Close</a
          >
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</html>
