<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script>
    $(document).ready(function ($) {
      $("#linkList").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.cash.advance.request.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#cancel").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.cash.advance.request.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#add").on("click", function (event) {
        event.preventDefault();
        var url = BASE_URL + "mockup?view-id=mockup.cash.advance.request.edit";

        // Redirect to page list
        ajaxRedirect(url);
      });

      $("#btnAdd").on("click", function (event) {
        showModal();
      });

      // date picker
      $(".date").datepicker({ autoclose: true, format: "dd/mm/yyyy" });
      var idEffectedDate = $("#fromDate").val();
      var idExpiredDate = $("#toDate").val();
      changeDatepickerById(
        idEffectedDate,
        idExpiredDate,
        "#fromDate",
        "#toDate"
      );

      $("#travel").on("change", function (event) {
        $("#showDetailOfTravelRequest").css("display", "block");
      });

      $("#other").on("change", function (event) {
        $("#showDetailOfTravelRequest").css("display", "none");
      });
    });

    function showModal() {
      $("#myModal").modal("show");
      $("#myModal").css("z-index", 5000);
    }

    /* Tranlth 27/05/2019 Thêm mới Task #23724*/
    function checkStatus(event) {
      if (event.checked) {
        $(".chkStatus").prop("checked", true);
      } else {
        $(".chkStatus").prop("checked", false);
      }
    }
    /* End*/
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>New/Edit Advance Request</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a>
          <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
        </a>
        <a>
          <i class="fa fa-plus-circle icon-head-red" id="add"></i>
        </a>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal u-for-page-top j-form-validate"
    id="form-costcenter-edit"
    method="post"
    role="form"
  >
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
    />
    <input
      type="hidden"
      th:name="${_csrf.parameterName}"
      th:value="${_csrf.token}"
    />
    <!-- DETAIL -->
    <!-- process Title, Code, Name, Description start -->
    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box">
        <h2 class="title-box">Request Personal Information</h2>
      </div>
      <div class="col-sm-12 p-0">
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-sm-4">
            <input
              type="radio"
              id="travel"
              name="typeTravelRequest"
              checked="checked"
            />
            <span>Travel &nbsp;</span>
            <input type="radio" id="other" name="typeTravelRequest" />
            <span>Non Travel</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Ref No.</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" disabled="" />
          </div>

          <label class="col-sm-2 required">Advance Request Date</label>
          <div class="col-sm-4">
            <div class="input-group date datepicker">
              <input
                class="form-control"
                type="text"
                placeholder="dd/mm/yyyy"
                autocomplete="off"
                disabled="disabled"
                th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"
              />
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Requester</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" readonly="readonly" />
          </div>
          <label class="col-sm-2 required">Cost Center</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" readonly="readonly" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Employee Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>

          <label class="col-sm-2 required">Staff Code</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Advance Amount</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>

          <label class="col-sm-2 required">Tentative date for clearing</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Purpose</label>
          <div class="col-sm-10">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box">
        <h2 class="title-box">Detail Of Bank Account</h2>
      </div>
      <div class="col-sm-12 p-0">
        <div class="form-group">
          <label class="col-sm-2 required">Beneficiary Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
          <label class="col-sm-2 required">Bank Account No</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Bank</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" />
          </div>
          <label class="col-sm-2 required">Bank Branch</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-content clearfix bg-content-tbl"
      id="showDetailOfTravelRequest"
    >
      <div class="col-md-5 p-0">
        <div class="header-box">
          <h2 class="title-box">Details of Travel Request</h2>
        </div>
      </div>
      <div class="col-md-7 p-0">
        <div class="form-group">
          <div>
            <div class="pull-right" style="margin: 5px 0">
              <a class="btn-common" id="btnAddDetail">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 p-0">
        <div class="table-responsive col-sm-12 no-padding">
          <table id="tblDataTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="min-width: 30px; width: 30px">#</th>
                <th style="min-width: 50px; width: 50px">Action</th>
                <th>TR No.</th>
                <th style="min-width: 130px; width: 130px">TR Date</th>
                <th>Name of Traveler</th>
                <th>Destination</th>
                <th>Purpose of Travel</th>
                <th>Cost Center</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td class="td-action">
                  <div class="align-center">
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                    ></a>
                  </div>
                </td>
                <td class="text-left">
                  <a href="">TR.FIN19.001</a>
                </td>
                <td class="text-center">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      value="20/08/2019"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </td>
                <td class="text-left">
                  <input
                    class="form-control"
                    type="text"
                    value="Trần Diệu Hương"
                  />
                </td>
                <td class="text-left">
                  <input class="form-control" type="text" value="Hongkong" />
                </td>
                <td class="text-left">
                  <input
                    class="form-control"
                    type="text"
                    value="Thành phố HCM"
                  />
                </td>
                <td class="text-center">
                  <select class="form-control">
                    <option></option>
                    <option selected="selected">840000-Finance</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <th:block th:include="views/mockup/mockup-process.html :: content" />
  </form>

  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div
      class="modal-dialog"
      role="document"
      style="width: 80%; max-width: 80%"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Asset Profile</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 p-0">
            <th:block
              th:include="/views/ASSET_MANAGEMENT_MODULE/mockup-asset/mockup-travel-model-list.html :: content"
            />
          </div>
        </div>
        <div align="center">
          <!-- Tranlth 27/05/2019 thêm mới add và bỏ Ok + Cancel Task #23724 -->
          <a
            href="#"
            class="btn-common btn-in-tablet"
            data-dismiss="modal"
            id="btnOK"
            ><i class="fa fa-plus-circle"></i> Add</a
          >
          <a href="#" class="btn-cancel" data-dismiss="modal"
            ><i class="fa fa-times"></i> Close</a
          >
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</html>
