<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <!-- BODY START -->
  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3><i class="fa fa-table"></i> WAREHOUSE</h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a><i class="fa fa-plus-circle icon-head-red" id="add"></i></a>
        </div>
      </div>
    </div>
    <!-- TITLE AND BUTTON ADD END -->
    <!-- FORM SEARCH START -->

    <form
      class="form-horizontal u-for-page-top j-formSearch"
      method="POST"
      role="form"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <!-- SEARCH AREA START-->
      <div class="bg-content clearfix">
        <div
          data-toggle="collapse"
          data-target="#search-box"
          class="header-box"
        >
          <h5 class="title-box">
            <span th:text="#{search.title}">Vùng tìm kiếm</span>
          </h5>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-xs-12 col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 form-group">
              <input
                type="text"
                class="form-control"
                th:placeholder="#{search.key}"
              />
            </div>
            <div class="col-sm-2">
              <a class="btn-common" id="btnSearch">
                <i class="fa fa-search"></i>
                <span th:text="#{search.button}"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- SEARCH AREA END -->
      <!-- TABLE RESULT START -->
      <div class="bg-content clearfix bg-content-tbl" id="tableList">
        <th:block
          th:include="/views/ASSET_MANAGEMENT_MODULE/mockup-asset/mockup-warehouse-table.html :: content"
        />
      </div>
      <!-- TABLE RESULT END -->
    </form>
  </body>
  <!-- BODY END -->
  <script>
    // multiple select
    $("select[multiple]").multiselect({
      columns: 1,
      placeholder: "search filter",
      search: true,
    });

    $(".j-btn-edit").on("click", function (event) {
      event.preventDefault();
      var url = BASE_URL + "mockup?view-id=mockup.warehouse.edit";

      // Redirect to page list
      ajaxRedirect(url);
    });

    $("#add").on("click", function (event) {
      event.preventDefault();
      var url = BASE_URL + "mockup?view-id=mockup.warehouse.edit";

      // Redirect to page list
      ajaxRedirect(url);
    });
  </script>
</html>
