<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script
    type="text/javascript"
    th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"
  ></script>
  <script>
    $(document).ready(function ($) {
      $("#linkList").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.location.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#cancel").on("click", function (event) {
        var url = BASE_URL + "mockup?view-id=mockup.location.list";
        // Redirect to page add
        ajaxRedirect(url);
      });

      $("#add").on("click", function (event) {
        event.preventDefault();
        var url = BASE_URL + "mockup?view-id=mockup.location.edit";

        // Redirect to page list
        ajaxRedirect(url);
      });

      // date picker
      $(".date").datepicker({ autoclose: true, format: "dd/mm/yyyy" });
      var idEffectedDate = $("#fromDate").val();
      var idExpiredDate = $("#toDate").val();
      changeDatepickerById(
        idEffectedDate,
        idExpiredDate,
        "#fromDate",
        "#toDate"
      );
    });
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>Location Detail</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a>
          <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
        </a>
        <a>
          <i class="fa fa-plus-circle icon-head-red" id="add"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- DETAIL -->
  <form
    class="form-horizontal u-for-page-top j-form-validate"
    id="form-costcenter-edit"
    method="post"
    role="form"
  >
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
    />
    <input
      type="hidden"
      th:name="${_csrf.parameterName}"
      th:value="${_csrf.token}"
    />
    <!-- process Title, Code, Name, Description start -->
    <div class="bg-content clearfix">
      <div class="header-box">
        <h2 class="title-box">Location Edit</h2>
      </div>

      <div class="col-sm-12 p-0">
        <div class="form-group">
          <div class="col-sm-6">
            <label class="col-sm-4 required">Location Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-4">Active</label>
            <div class="col-sm-1">
              <input type="checkbox" checked="checked" />
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
                <div class="col-sm-6">
                    <label class="col-sm-4">It Asset Code</label>
                    <div class="col-sm-8 ">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 form-label">Fix Asset Code</label>
                    <div class="col-sm-8 ">
                        <input type="text" class="form-control"/>
                    </div>
                </div>
            </div> -->

        <div class="form-group">
          <div class="col-sm-6">
            <label class="col-sm-4">Region</label>
            <div class="col-sm-8">
              <select class="form-control"></select>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-4">Establishment Date</label>
            <div class="col-sm-8">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label class="col-sm-2">Address</label>
            <div class="col-sm-10" style="padding-left: 10px">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>

        <div class="form-group no-padding">
          <div class="col-sm-6">
            <label class="col-sm-4">Is Head Office</label>
            <div class="col-sm-1">
              <input type="checkbox" />
            </div>
          </div>
        </div>

        <div class="form-group no-padding">
          <div class="col-sm-12">
            <label class="col-sm-2">Note</label>
            <div class="col-sm-10" style="padding-left: 10px">
              <textarea type="text" class="form-control"> </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 footer-box-bg center">
        <a class="btn-cancel" id="cancel">
          <i class="fa fa-times"></i>
          <span th:text="#{cancel.button}">Thoát</span></a
        >
        <a class="btn-common btn-save">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span th:text="#{save.button}">Lưu</span></a
        >
      </div>
      <!-- button Exit, Save end-->
    </div>
    <!-- process Code, Name, Description end -->
    <!--  -->
  </form>
</html>
