.center-everything {
  @include midflex;
  background: $main-bg;
  padding-bottom: 60px;
}

// ---------------------------------- Ultilities-menu ----------------------------

.utilities-menu-wrapper {
  max-width: 735px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
  .ultilitie__item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    .icon {
      width: 60px;
      height: 60px;
      margin-bottom: 8px;
    }
    .content {
      p {
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  @include mobile {
    .ultilitie__item {
      .content {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// ----------------------------------------- Policy menu ------------------------------

.policy-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: $main-bg;
  &__item {
    width: 42%;
    padding: 30px 0 16px 0;
    span {
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;
      color: $grey;
    }
  }
  .active {
    border-bottom: 3px solid $present-head;
    span {
      color: $present-head;
      font-weight: 700;
    }
  }
}

.policy-content {
  width: 100%;
  margin-top: 28px;
  @include midflex;
  padding: 0 16px;
  &-wrapper {
    display: none;
    position: relative;
    max-width: 780px;
    width: 100%;
    background: $white-cl;
    border-radius: 6px;
    padding: 16px;
    h4 {
      margin-top: 28px;
      text-align: center;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 24px;
      color: $black-cl;
    }
    .content {
      p {
        color: $black-cl;
        line-height: 20px;
        margin-bottom: 12px;
      }
      h5 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 12px;
      }
      span {
        font-weight: 700;
        color: $black-cl;
        line-height: 20px;
      }
      &__item {
        width: 100%;
        border-bottom: $dash-border;
        padding: 20px 0;
        &:last-child {
          border-bottom: none;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
    .decor-clip {
      position: absolute;
      width: 100%;
      height: auto;
      top: -8px;
      left: 0;
      @include midflex;
      img {
        width: 90%;
      }
    }
  }
  .show {
    display: block;
  }
}

// --------------- Searching component -----------------

.searching-component {
  width: 100%;
  max-width: 732px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 16px;
  .search-part {
    position: relative;
    height: 48px;
    border: 1px solid $border;
    border-radius: 6px;
    width: 100%;
    max-width: 539px;
    justify-content: space-between;
    align-items: center;
    &__input-search {
      display: flex;
      padding: 13px 12px;
      &__content {
        width: 100%;
        input {
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          color: $light-grey;
          &:focus {
            outline: none;
            color: $black-cl;
          }
        }
      }
    }
    &__autocomplete {
      display: none;
      position: absolute;
      top: 120%;
      background: $white-cl;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $border-nodash;
      &__item {
        padding: 20px 16px;
        .text-brown {
          color: $brown;
        }
      }
    }
    .show {
      display: block;
    }
  }
  .search-button {
    background: $gradient;
    border-radius: 7px;
    margin-left: 24px;
    button {
      white-space: nowrap;
      padding: 15px 50px;
      @include midflex;
      color: $white;
    }
  }
}

.searching-component {
  .search-part {
    justify-content: space-between;
    align-items: center;
    &__input-search {
      display: flex;
      padding: 13px 12px;
      &__content {
        width: 100%;
        input {
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          color: $light-grey;
          &:focus {
            outline: none;
            color: $black-cl;
          }
        }
      }
    }
  }
  .search-button {
    background-color: $brown-disabled;
    border-radius: 7px;
    margin-left: 24px;
    button {
      padding: 15px 51px;
      @include midflex;
      color: $white;
    }
  }
}

@include mobile {
  .searching-component {
    .search-button {
      display: none;
    }
  }
}

// --------------- Job Detail --------------------------

.job-detail {
  width: 100%;
  background: $white-cl;
  .scjobprogram {
    .container {
      .program-field {
        &__image {
          background: url("../img/10.1-job-background.png") no-repeat;
        }
      }
    }
  }
  .job-list-wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 35px;
    .title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 26px;
      margin-bottom: 4px;
      margin-left: 20px;
    }
    .job-list {
      @include midflex;
      flex-wrap: wrap;
      &__item {
        display: flex;
        width: 45%;
        margin-right: 24px;
        border-bottom: 1px solid $border;
        padding: 20px 0;
        &:nth-last-child(2),
        &:last-child {
          border-bottom: none;
        }
        .dot {
          position: relative;
          top: 8px;
          width: 5px;
          height: 5px;
          background: $brown;
          border-radius: 50%;
          margin-right: 8px;
        }
        p {
          width: 85%;
          min-height: 44px;
          line-height: 22px;
        }
      }
    }
  }
}
@include mobile {
  .job-detail {
    .job-list-wrapper {
      width: 90%;
      .title {
        margin-left: 0;
      }
      .job-list {
        &__item {
          width: 100%;
          &:nth-last-child(2) {
            border-bottom: 1px solid $border;
          }
          &:last-child {
            border-bottom: none;
          }
          p {
            width: 100%;
          }
        }
      }
    }
  }
}

// -------------------- Question Section --------------------

// .question-section-wrapper {
//   h3 {
//     text-align: center;
//     font-weight: 700;
//     font-size: 2rem;
//   }
// }

// .question-section {
//   display: flex;
//   justify-content: space-around;
//   // flex-wrap: wrap;
//   align-items: center;
//   margin-top: 21.7px;
//   cursor: pointer;
//   &-item {
//     @include midflex;
//     flex-direction: column;
//     background: url("/img/bg-question-sec.svg") no-repeat;
//     background-size: cover;
//     background-position: center;
//     width: 100%;
//     max-width: 245px;
//     height: 124px;
//     border-radius: 10px;
//     padding: 0px 20px;
//     margin-right: 30px;
//     p {
//       font-size: 1.8rem;
//       font-weight: 600;
//       color: $red;
//       margin-bottom: 8px;
//     }
//     button {
//       @include title(0, 600);
//     }
//   }
//   .active {
//     border: 1.5px solid $red;
//   }
// }

// @include mobile {
//   .question-section {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     overflow: hidden;
//     -webkit-overflow-scrolling: touch;
//     margin-top: 21.7px;
//     cursor: pointer;
//     width: 100%;
//     &-item {
//       @include midflex;
//       background: url("/img/bg-question-sec.svg") no-repeat;
//       width: 100%;
//       max-width: 245px;
//       height: 124px;
//       border-radius: 10px;
//       padding: 0px 20px;
//       margin-right: 30px;
//       button {
//         @include title(0, 600);
//       }
//     }
//     .active {
//       border: 1.5px solid $red;
//     }
//   }
//   .question-section {
//     width: 100%;
//     max-width: 2000px;
//     display: flex;
//     overflow: scroll;
//     align-items: center;
//     margin-top: 21.7px;
//     cursor: pointer;
//     flex-direction: row-reverse;
//     &-item {
//       @include midflex;
//       background: url("/img/bg-question-sec.svg") no-repeat;
//       background-size: cover;
//       width: 100%;
//       max-width: 245px;
//       height: 94.55px;
//       border-radius: 10px;
//       padding: 0px 20px;
//       margin-right: 30px;

//       flex-shrink: 0;
//       padding: 0 10px;
//       button {
//         @include title(0, 600);
//       }
//     }
//     .active {
//       border: 1.5px solid $red;
//       order: 1;
//     }
//   }
// }
