html body .transaction-main {
  padding-left: 0;
  .main-warpper {
    @include midflex;
    padding: 60px 0px;
  }
}

.transaction-success {
  max-width: 1150px;
  width: 90%;
  .form {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid $border;
    border-radius: 6px;
    .form-row {
      width: 100%;
      height: auto;
      border-bottom: 1px solid $border;
      padding: 12px 16px;
      display: flex;
      .title {
        p {
          color: $black-secondary;
          margin-right: 8px;
          white-space: nowrap;
        }
      }
      .content {
        p {
          word-break: break-word;
          font-weight: 600;
          color: #000000;
          line-height: 20px;
        }
      }
    }
    .form-row-border {
      width: 100%;
      border-bottom: 1px solid $border;
      padding: 0 16px 0 16px;
      display: flex;

      .title {
        width: 50%;
        padding: 12px 0;
        border-right: 1px solid $border;
        p {
          color: $black-secondary;
          margin-right: 8px;
        }
      }
      .content {
        width: 50%;
        padding: 12px 16px;
        p {
          line-height: 20px;
          font-weight: 600;
          color: #000000;
        }
      }
    }
    .basic-light-grey-background {
      background: $main-bg;
    }
    .first-row {
      background: $light-brown;

      h4 {
        line-height: 22px;
        font-weight: 600;
        font-size: 1.6rem;
        color: $brown;
      }
    }
    .first-row-border {
      padding: 12px 16px;
      background: $light-brown;
      h4 {
        line-height: 22px;
        font-weight: 600;
        font-size: 1.6rem;
        color: $brown;
      }
    }
  }
}

// ----------------- Popup -------------------------

.bill-policy {
  position: relative;
  max-width: 460px;
  width: 460px;
  background: $white-cl;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 16px 16px;
  max-height: 90vh;
  overflow: hidden;
  &__close-button {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    overflow: hidden;
    .title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 16px;
      text-align: center;
    }
    .subtitle {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .content {
      max-height: 300px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      p {
        font-size: 1.6rem;
        line-height: 22px;
      }
    }
  }
}

// ----------------------------- 3.2 insurance nodata --------------------
.insurance-nodata {
  .insurancepage {
    .sccontract-warpper {
      background: $white-cl;
    }
  }
}

//  ---------------------------- 3.2 insurance ---------------------------
// --------- optionalform-insurance-custom ----------
.scinsurance-warpper {
  background: $white-cl;
}

.optionalform-insurance-custom {
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

.sccard-warpper-insurance-custom {
  .bottom-btn {
    margin-top: 12px;
  }
}

.searchingfail {
  .icon {
    max-width: 287px;
    max-height: 96px;
    width: 287px;
    height: 96px;
  }
  p {
    text-align: center;
    max-width: 255px;
    width: 255px;
    line-height: 20px;
  }
}

.insurance {
  .contractform {
    &__body {
      .detail-insurance-custom {
        .yellowtab {
          .tab:first-child {
            margin-bottom: 8px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
