.bieumau-container {
  .bieumau-content {
    margin-top: 8px;
    .dichvu-page {
      padding: 0;
    }
    .bieumau-page {
      padding: 0;
      &__item {
        padding: 16px 0;
        h3 {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 24px;
          margin-bottom: 16px;
        }
        .content-wrapper {
          .content-item {
            margin-bottom: 16px;
            .dropdown__content {
              padding: 14px 16px;
              background: $light-brown;
              border-radius: 6px;
              p {
                width: 75%;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 22px;
                color: $brown;
              }
              .arrow {
                transform: translateY(-50%) rotate(-90deg);
              }
            }
            .dropdown__items {
              .item {
                position: relative;
                border: 1px solid $border;
                border-top: none;
                .content {
                  display: flex;
                  padding: 20px 12px;
                  .icon-wrapper {
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                  }
                  p {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 22px;
                    margin: 0;
                    padding: 0;
                    min-height: 40px;
                  }
                }
                .button-group {
                  position: absolute;
                  top: 24px;
                  right: 24px;
                  .bieumau-button {
                    padding: 4px 12px;
                    border: 1px solid $brown;
                    border-radius: 4px;
                  }
                  .read-button {
                    color: $brown;
                    margin-right: 12px;
                  }
                  .download-button {
                    color: $white-cl;
                    background: $brown;
                  }
                }
                &:last-child {
                  border-bottom-left-radius: 6px;
                  border-bottom-right-radius: 6px;
                }
              }
              .content-wrapper {
                padding: 20px 16px;
                border: 1px solid #e6e6e6;
                border-top: none;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                .vertical-step-list {
                  p {
                    padding: 0 0 12px;
                    font-size: 1.6rem;
                    line-height: 22px;
                  }
                }
                .list-information {
                  p {
                    font-size: 1.6rem;
                    padding: 0 0 12px;
                  }
                }
                .text-wrapper {
                  margin: -12px 0;
                }
              }
            }
          }
          .show {
            .dropdown__content {
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
              .arrow {
                transform: translateY(-50%) rotate(0);
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .bieumau-container {
    .policy-menu {
      &__item {
        span {
          font-size: 1.2rem;
        }
      }
    }
    .bieumau-content {
      .bieumau-page {
        &__item {
          .content-wrapper {
            .content-item {
              .dropdown__items {
                .item {
                  .content {
                    flex-direction: column;
                    p {
                      margin-top: 12px;
                      width: 85%;
                    }
                  }
                  .button-group {
                    top: 20px;
                    right: 16px;
                    .read-button {
                      margin-right: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.scquestion-section-nghenghiep {
  padding-top: 32px;
  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
}
