.sc-contact {
  padding-bottom: 45px;
  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .lien-he-form {
      position: relative;
      width: 100%;
      max-width: 1170px;
      background: url("../img/step1-bg.svg") no-repeat;
      background-size: cover;
      height: auto;
      margin-top: 130px;

      .decor-clip1 {
        position: absolute;
        width: 100%;
        max-width: 15px;
        height: auto;
        top: -4px;
        left: 32px;
      }
      .decor-clip2 {
        position: absolute;
        width: 100%;
        max-width: 15px;
        height: auto;
        top: -4px;
        right: 32px;
      }
      .decor-person {
        position: absolute;
        height: auto;
        top: -104px;
        left: 50%;
        transform: translateX(-50%);
      }
      .lien-he-form-wrapper {
        width: 100%;
        max-width: 1170px;
        margin-top: 16px;

        padding: 0 16px;
        border-radius: 6px;
        .lien-heform {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 56px 16px 75px;

          &-left {
            width: 50%;
            height: 100%;

            &-content {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
              }
              .hot-line {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 27px 0px 42px;
                &-tit {
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 19px;
                }
                &-content {
                  display: flex;
                  margin-top: 9px;
                  p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    margin-left: 7px;
                  }
                }
              }
              .address-list {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 41px;
                &-tit {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin-bottom: 13px;
                  h5 {
                    @extend .hot-line-tit;
                    margin-left: 7px;
                  }
                }
                &-content {
                  ul {
                    margin-left: 20px;
                    li {
                      margin: 12px 0px 12px;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 22px;
                      &::before {
                        content: "\2022";
                        color: $brown;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                      }
                    }
                  }
                }
              }
              .email-list {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                &-tit {
                  @extend .address-list-tit;
                }
              }
            }
          }
          .border-column {
            width: 0.1%;
            height: 616px;
            background-color: $border;
            margin: 0px 16px 0px 16px;
          }
          &-right {
            width: 50%;
            height: 100%;
            margin-bottom: 30px;
            &-content {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
              }
              .text {
                margin-top: 28px;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
              }
              &-input {
                width: 100%;
                .expand-input {
                  margin: 12px 0px 12px;
                  label {
                    font-weight: 500;
                    line-height: 22px;
                  }
                }
              }
              .captcha-container {
                display: flex;
                justify-content: space-between;

                width: 100%;
                &-input {
                  width: 100%;
                  .expand-input {
                    .input__content {
                      .text-code {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                      }
                    }
                  }
                }
                &-captcha {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-left: 16px;
                  width: 60%;
                  .capt-img {
                    margin-right: 16px;
                  }
                }
              }
              .force-text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin: 12px 0px 0px;
                color: $grey;
              }
            }
          }
        }
        @include mobile {
          .lien-heform {
            display: flex;
            flex-direction: column;
            &-left {
              width: 100%;
            }
            .border-column {
              height: 1px;
              width: 100%;
              margin: 16px 0px 16px 0px;
            }
            &-right {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
//  -------- tham gia bao hiem --------
.sc-tgbh {
  padding-bottom: 45px;
  .tgbh-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tgbh-form {
      position: relative;
      width: 100%;
      max-width: 772px;
      background-size: cover;
      height: auto;
      margin-top: 40px;
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
        }
        h5 {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          margin: 32px 0px 17px;
        }
        .progress-bar {
          width: 70%;
          display: flex;
          flex-direction: column;
          margin-left: -21px;
          user-select: none;
          .step {
            position: relative;
            text-align: center;
            width: 100%;
            left: 20px;

            .bullet {
              height: 24px;
              width: 24px;
              border: 2px solid #e2e0e0;
              @include midflex;
              border-radius: 50%;
              position: relative;
              transition: 0.2s;
              font-weight: 500;
              font-size: 11px;
              line-height: 25px;
              background: #e2e0e0;
              z-index: 22;
              span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                @include midflex;
                width: 15.63px;
                height: 15.63px;
                border: none;
                border-radius: 50%;
                background: linear-gradient(#e0e0e0, #adadad);
                font-size: 11px;
                overflow: hidden;
              }
            }

            &::before,
            &::after {
              position: absolute;
              content: "";
              bottom: 11px;
              top: -98%;
              left: 2%;
              height: 100px;
              width: 1%;
              background: #dfdbdb;
              z-index: 1;
            }

            &.active {
              .bullet {
                border: 2px solid #e33d43;
                background: linear-gradient(#ffdc7b, #f5a537);
                span {
                  color: $white-cl;
                  background: linear-gradient(#fae340, #e57333);
                }
              }
              &::after {
                background: #e33d43;
                background: -moz-linear-gradient(left, #e33d43 0%, #e06363 65%, #ffd564 100%);
                background: -webkit-linear-gradient(left, #e33d43 0%, #e06363 65%, #ffd564 100%);
                background: linear-gradient(to right, #e33d43 0%, #e06363 65%, #ffd564 100%);
                transform: scaleX(0);
                transform-origin: left;
              }

              p {
                color: #808080;
                font-size: 16px;
                font-weight: 500;
                top: -23px;
                transition: 0.2s;
                position: relative;
                left: 36px;
                line-height: 22px;
                color: $black-cl;
                text-align: left;
                font-family: Inter;
                font-style: normal;
                width: 576px;
                margin-bottom: 11px;
              }
            }

            &:first-child {
              &::before,
              &::after {
                display: none;
              }
            }
          }
        }

        @include mobile {
          .progress-bar {
            margin-left: -23px;
            .step {
              &::before,
              &::after {
                top: -100%;
                left: 4.5%;
                height: 122px;
              }

              &.active {
                p {
                  width: 132%;
                  max-width: 300px;
                }
              }
            }
          }
        }
        @include iphone6 {
          .progress-bar {
            margin-left: -23px;
            .step {
              &::before,
              &::after {
                top: -99%;
                left: 4%;
                height: 120px;
              }

              &.active {
                p {
                  width: 132%;
                  max-width: 300px;
                }
              }
            }
          }
        }
        @include iphone6_lc {
          .progress-bar {
            margin-left: -23px;
            .step {
              &::before,
              &::after {
                top: -99%;
                left: 3%;
                height: 120px;
              }

              &.active {
                p {
                  width: 132%;
                  max-width: 300px;
                }
              }
            }
          }
        }

        .last-text-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-right: 12px;
          }
          &-icon {
            display: flex;
            img {
              margin-right: 12px;
            }
          }
        }
        @include mobile {
          .last-text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-icon {
              display: flex;
              img {
                margin: 12px;
                width: 56px;
              }
            }
          }
        }
      }
    }
  }
}
//  -------- popup ---------
