// ---------------------- 4.1 Dieu chinh thong tin lien he -------------------------
  .scqlbh-wrapper {
    background: $main-bg;
    width: 100%;
    .insurance {
      .bottom-text-step3 {
        display: flex;
        max-width: 600px;
        justify-content: flex-start;
        align-items: flex-start;
        .checkbox-warpper {
          margin-right: 12px;
        }
        p {
          text-align: left;
        }
      }
    }
  }
  .stepform {
  margin-top: 285px;
    &__body {
      .info {
        &__title {
          margin-bottom: 16px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .item {
          &:last-child {
            margin-bottom: 0;
          }
          &__content {
            .tab {
              .card-warpper {
                .item {
                  margin-bottom: 16px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bottom-text {
    max-width: 475px;
    text-align: center;
    margin-top: 16px;

    p {
      color: $grey;
      line-height: 20px;
    }
    .red-text {
      color: $red;
      width: 75%;
    }
  }

.checkbox {
  .checkmark {
    img {
      display: none;
    }
  }
  input:checked ~ .checkmark {
    img {
      display: block;
    }
  }
}
.checkbox-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 50%;
    margin-bottom: 10px;
    line-height: 20px;
    color: $black-secondary;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .right {
    text-align: right;
  }
}

body main.logined {
  .heading-41-page {
    width: calc(100% - 223px);
    filter: none;
  }
  @include maxW(1080px) {
    .heading {
      width: 100%;
    }
  }
  @include tablet {
    .heading {
      width: 100%;
    }
  }
  @include tablet_lc {
    .heading {
      width: 100%;
    }
  }
  @include mobile {
    .heading {
      width: 100%;
    }
  }
  @include mobile_lc {
    .heading {
      width: 100%;
    }
  }
}

// ----------------- customradio -------------------

.checkbox-item {
  width: 100%;
  .dropdown__items {
    .checkbox-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 8px;

      p {
        padding: 0;
        line-height: 20px;
      }
      .right {
        text-align: right;
        max-width: 220px;
      }
      @include mobile {
        .right {
          max-width: 190px;
        }
      }
    }
  }
}

// --------------------------- 4.2 dieu chinh thong tin hop dong -----------------------------

.stepform-42 {
  .stepform__head {
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      p {
        color: $black-secondary;
      }
      .red-text {
        color: $red;
        font-weight: 600;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .stepform__body {
    .tab-wrapper {
      .tab {
        .checkbox-warpper {
          .checkbox-item {
            .round-checkbox {
              .customradio {
                width: 100%;
                margin-right: 0;
                p {
                  padding: 0;
                }
                .right {
                  margin-left: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
.stepform-42 {
  .stepform__body .info__body .item {
    width: 100%;
    margin-bottom: 8px;
  }
}

.envelop-42 {
  .popup__card {
    .envelop-infomation__content {
      margin-top: 16px;
    }
  }
}

// ------------------ 4.3 Dieu chinh thong tin lien he -------------------

.stepform-43 {
  .info {
    &__title {
      h4 {
        margin-bottom: 0;
      }
    }
  }
  .stepform__body {
    .info {
      padding-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .info:last-child {
    padding-bottom: 0px;
  }
  .checkbox-wrap .tab-wrapper .tab {
    padding: 8px 0;
  }
}
