.gdhd-warpper {
  width: calc(100% - 390px);
  height: calc(100vh - 2 * #{$height});
  // padding: 20px 12px;
  background-color: $main-bg;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include tablet {
    width: 100%;
  }
  @include tablet_lc {
    width: 100%;
  }
  @include mobile_lc {
    width: 100%;
  }
  // background-color: wheat;
}

.gdhd-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  width: 100%;

  background-color: $main-bg;
  .tu-van-text {
    margin-top: 1.6rem;
    p {
      color: $grey;
      @include title(0rem, 600);
      line-height: 1.69rem;
    }
    span {
      color: $brown;
      @include title(0rem, 600);
      line-height: 1.69rem;
    }
  }
  .warning-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    background-color: $red-secondary;

    padding: 1.6rem;
    &-icon {
      margin-right: 1rem;
      width: 100%;
      max-width: 24px;
    }
    &-text {
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.9rem;
      color: $white;
    }
  }
  @include mobile {
    padding-bottom: 50px;
  }
}

.gdhd-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: url("../img/step1-bg.svg") no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 130px;

  .decor-clip {
    position: absolute;
    width: 100%;
    height: auto;
    top: -8px;
  }
  .decor-person {
    position: absolute;
    height: auto;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile {
    // margin-top: 285px;
  }
}

.gdhdform-wrapper {
  width: 100%;
  max-width: 600px;
  margin-top: 16px;

  padding: 0 16px;
  border-radius: 6px;
}

.gdhdform {
  width: 100%;
  background: $white-cl;
  padding: 24px 0 20px;
  .phan-hoi {
    @include title(1.2rem, 600);
    line-height: 1.694rem;
  }
  .one {
    margin-top: 1.2rem;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    h5 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }

  .imglist {
    &__title {
      .red-text {
        color: $red;
        @include title(1.2rem, 600);
      }
    }
    &__content {
      width: 100%;
      background: $main-bg;
      border-radius: 6px;
      padding: 12px;
      .imgtab-wrapper {
        width: 100%;
        margin: 0 -6px;
        display: flex;
        flex-wrap: wrap;
        .imgtab {
          padding: 6px;

          .img-wrapper {
            position: relative;
            overflow: hidden;
            width: 65px;
            height: 92px;
            border: 1px solid $thin-grey;
            img {
              position: absolute;
              width: 100%;
              height: auto;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}
.gdhdform-situation4 {
  width: 100%;
  background: $white-cl;
  padding: 24px 16px 87px;
  .phan-hoi {
    @include title(1.2rem, 600);
    line-height: 1.694rem;
  }
  .one {
    margin-top: 1.2rem;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    h5 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }

  .imglist {
    &__title {
      .red-text {
        color: $red;
        @include title(1.2rem, 600);
      }
    }
    &__content {
      width: 100%;
      background: $main-bg;
      border-radius: 6px;
      padding: 12px;
      .imgtab-wrapper {
        width: 100%;
        margin: 0 -6px;
        display: flex;
        flex-wrap: wrap;
        .imgtab {
          padding: 6px;

          .img-wrapper {
            position: relative;
            overflow: hidden;
            width: 65px;
            height: 92px;
            border: 1px solid $thin-grey;
            img {
              position: absolute;
              width: 100%;
              height: auto;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.gdhd4-form {
  &__body {
    width: 100%;

    display: flex;

    .drag-file-chosen {
      @include midflex;
      width: 6.6rem;
      height: 9.3rem;
      border: $dash-border;
      background-color: rgba(114, 114, 114, 0.13);
      border-radius: 0.4rem;
      // background: url("/img/paper.svg");
    }
    .drag-file-chosen-picture {
      @include midflex;
      width: 6.6rem;
      height: 9.3rem;
      border: 1px solid rgba(114, 114, 114, 0.2);
      background-color: rgba(114, 114, 114, 0.13);
      border-radius: 0.4rem;
      background: url("../img/paper.svg");
    }

    .drag-file-container {
      position: relative;
      height: 9.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(114, 114, 114, 0.13);
      border: 1px dashed rgba(114, 114, 114, 0.3);
      border-radius: 0.4rem;
      margin-bottom: 2.4rem;

      .under-plus-text {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.452rem;
        color: $grey;
        margin-top: 1.7rem;
        .choose-file {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.452rem;
          color: $red;
          margin-top: 1.7rem;
        }
      }
      &:after {
        position: absolute;
        width: 100%;
        content: "";
        border-bottom: $dash-border;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
      }
      &:after + .one {
        position: absolute;
        width: 100%;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
      }
    }
    .drag-file-container1 {
      position: relative;
      height: 9.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(114, 114, 114, 0.13);
      border: 1px dashed rgba(114, 114, 114, 0.3);
      border-radius: 0.4rem;
      margin-bottom: 2.4rem;

      .under-plus-text {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.452rem;
        color: $grey;
        margin-top: 1.7rem;
        .choose-file {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.452rem;
          color: $red;
          margin-top: 1.7rem;
        }
      }
      &:after {
        position: absolute;
        width: 100%;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
      }
      &:after + .one {
        position: absolute;
        width: 100%;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
      }
    }
    .drag-file-chosen-picture {
      position: relative;
      margin-left: 1.2rem;
      .x-sign__overflow {
        position: absolute;
        right: -1.3rem;
        top: -1rem;
      }
    }
  }
}
.expand {
  padding-bottom: 34px;
}
.card-dot {
  &-information {
    background-color: #fff;
    border-radius: 1.2rem;
    width: 100%;
    max-width: 34.3rem;

    &-content {
      &-full {
        width: 100%;
        padding-left: 1rem;
        &-text {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .text-1 {
          @include title(0rem, 500);
        }
        .dot-1 {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          img {
            width: 100%;
            max-width: 0.6rem;
            height: 0.6rem;
            margin: 0.5rem 1rem 2rem 0rem;
          }
        }
      }
    }
  }
}
.yeu-cau-no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  .icon {
    margin-bottom: 2rem;
  }
}
@mixin desktop {
  @media (max-width: $md-max) {
    @content;
  }
}

.avatar-QT {
  width: 100%;
  max-width: 44px;
  height: 44px;
  @mixin desktop {
    @media (max-width: $md-max) {
      display: none;
    }
  }
}

.bread-crums-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.8rem;
  .bold-text {
    color: $white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.452rem;
    margin-bottom: 0.8rem;
  }
  .second-text {
    color: $white;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.452rem;
  }
}
.no-data-yet {
  background-color: $white;
}
