.scexchangepoint-mobilecard {
  background-color: $main-bg;
  background-image: url("../img/9.1-menulist-background-flower.png");
  background-position: bottom;
  background-size: cover;
  min-height: calc(100vh - 2 * #{$height});
  padding-bottom: 32px;

  .mobilecard {
    width: 100%;
    @include midflex;
    flex-direction: column;
    padding-top: 120px;

    .personform {
      &__item {
        .sub-title {
          margin-bottom: 16px;
          color: $grey;
          font-size: 1.2rem;
          line-height: 18px;
        }
      }

      .greytab {
        background-color: $light-black;
        padding: 10px 16px;
        border-radius: 0.6rem;
        min-height: 60px;
        position: relative;
        &__item {
          width: 90%;
          .label {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5rem;
            color: $grey;
          }
          p {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 22px;
            margin-top: 4px;
            color: $black-secondary;
          }
        }
        .icon-wrapper {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .choose-network {
        display: flex;
        flex-direction: column;
        margin: 1.6rem 0rem 1.6rem;
        .title {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.694rem;
        }
        .icon-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 1.2rem;
          .icon {
            width: 100%;
            max-width: 44px;
            height: 44px;
            background-color: $light-black;
            border-radius: 50%;
            margin-right: 1.2rem;
            @include midflex;
            cursor: pointer;
            img {
              padding-left: 0.2rem;
              padding-right: 0.2rem;
            }
          }
          .icon.active {
            border: 1px solid #005db2;
            background-color: #fff;
          }
        }
      }

      .choose-price {
        display: flex;
        flex-direction: column;
        margin: 1.6rem 0rem 1.6rem;
        .title {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.694rem;
        }
        .price-wrap {
          display: flex;
          margin-top: 1.2rem;
          flex-wrap: wrap;
          width: 100%;
          .price-card {
            width: 18%;
            height: 48px;
            border: 1px solid $light-black;
            border-radius: 0.6rem;
            margin: 0.4rem 0rem 0rem 0.4rem;
            @include midflex;
            font-size: 1.6rem;
            font-weight: 600;
            // line-height: 1.815rem;
          }
        }
      }
    }
    .error {
      text-align: center;
      color: $red;
      line-height: 20px;
      margin-top: 15px;
      display: none;
      &.validate {
        display: block;
      }
    }

    @include mobile {
      .personform {
        .choose-price {
          .price-wrap {
            .price-card {
              width: 30%;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
