.scfee-refundnextstep {
  background-color: $main-bg;
  background-image: url("../img/9.1-menulist-background-flower.png");
  background-position: bottom;
  background-size: cover;
  min-height: calc(100vh - 2 * #{$height});
  padding-bottom: 32px;
  .fee-refundstep {
    width: 100%;
    @include midflex;
    flex-direction: column;
    padding-top: 120px;
    .personform {
      .tag {
        margin-top: 8px;
        color: $grey;

        &.validate {
          color: $red;
        }
      }
    }
  }
}
