.bg {
  background: url("../img/news_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 208px;
}

.screading {
  padding-top: 60px;
  .reading-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #e0dedc;
    .reading {
      width: 100%;
      max-width: 600px;
      &__title {
        h2 {
          text-align: center;
          font-size: 2rem;
        }
        p {
          margin-top: 8px;
          font-size: 1.6rem;
          text-align: center;
        }
      }
      &__content {
        padding-top: 32px;
        p {
          margin-bottom: 20px;
          span {
            display: block;
          }
        }
      }
    }
  }
}

.scprogramreadingnews {
  padding-top: 48px;
  padding-bottom: 60px;
  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .programreadingnews-wrapper {
    width: 100%;
    padding-top: 16px;

    .programreadingnews {
      display: flex;
      margin: 0 -12px;
      &-item {
        padding: 0 12px;
        width: 33.33%;
      }
    }
  }

  @include tablet {
    .programreadingnews-wrapper {
      width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      .programreadingnews {
        width: 1069px;
      }
    }
  }
  @include tablet_lc {
    .programreadingnews-wrapper {
      width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      .programreadingnews {
        width: 1069px;
      }
    }
  }
  @include mobile {
    .programreadingnews-wrapper {
      width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      .programreadingnews {
        width: 1069px;
      }
    }
  }
  @include mobile_lc {
    .programreadingnews-wrapper {
      width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      .programreadingnews {
        width: 1069px;
      }
    }
  }
}

.programreadingnews-card {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid $superlight-border;
  background: $present-body;
  overflow: hidden;
  .img-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
    }
  }
  .content {
    padding: 12px;
    p {
      margin-bottom: 4px;
      //   color: $black-secondary;
    }
  }
}
