.scpointhistory {
  background: url("../img/9.1-menulist-background-flower.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  padding-bottom: 30px;
  &__head {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $carousel-navigation;
    &-tab {
      @include midflex;
      width: 50%;
      cursor: pointer;
      h4 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        color: $grey;
        text-transform: uppercase;
      }
      &.active {
        border-bottom: 2px solid $brown;
        h4 {
          color: $brown;
        }
      }
    }
  }

  .pointhistory-wrapper {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .point-history {
      width: 100%;
      max-width: 600px;
      border: 1px solid $border;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .point-history__item {
        display: flex;
        padding: 24px 28px;
        position: relative;
        border-bottom: 1px solid $border;
        &:last-child {
          border: none;
        }
        .icon-field {
          @include midflex;
          width: 44px;
          height: 44px;
          margin-right: 12px;
        }
        .content-field {
          .point-tag {
            position: absolute;
            top: 24px;
            right: 28px;
            color: $red;
          }
          p {
            @include midflex;
            justify-content: flex-start;
            font-size: 1.4rem;
            height: 20px;
          }
          h4 {
            @include midflex;
            justify-content: flex-start;
            margin-top: 2px;
            font-size: 1.6rem;
            height: 22px;
          }
          .quantity {
            color: $grey;
            margin-top: 4px;
          }
          .calendar {
            margin-top: 8px;
            display: flex;
            .calendar-icon {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }

  @include mobile {
    &__head {
      &-tab {
        h4 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
