.survey-form-body {
    text-align: justify;
    line-height: 1.5;
}

.survey-form-body .list p {
    font-weight: 400;
    /*display: flex;*/
    position: relative;
    padding-left: 16px;
}
.survey-form-body .list p::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #292929;
    position: absolute;
    top: 8px;
    left: 0;
}

.survey-form-main-wrapper {
    background-color: #f5f3f2;
    background-image: url("../../img/9.1-menulist-background-flower.png");
    background-position: bottom;
    background-size: cover;
    min-height: calc(100vh - 2 * 56px);
    padding-bottom: 32px;
    width: 100%;
}

.survey-form-main-wrapper .survey-form-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.survey-form-main-wrapper .survey-form-content .survey-form-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 6px;
    background-size: cover;
    margin-top: 135px;
}

.survey-form-main-wrapper .survey-form-content .survey-form-container .survey-form-body{
    padding: 40px 22px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.survey-form-container .decor-person {
    position: absolute;
    height: auto;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
}

.survey-form-container .decor-clip {
    position: absolute;
    width: 100%;
    height: auto;
    top: -8px;
}

.survey-form-main-wrapper .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.survey-form-main-wrapper .wrapper .quydautu {
    padding-top: 20px;
    width: 100%;
    max-width: 700px;
}

.survey-form-main-wrapper .wrapper .quydautu h4 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.survey-form-main-wrapper .wrapper .quydautu__form {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 24px 16px;
    position: relative;
    border: 1px solid #e0dedc;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper {
    margin: 8px 0;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab {
    padding: 8px 0;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab h5 {
    width: 90%;
    line-height: 20px;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab p {
    line-height: 24px;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .list p {
    font-weight: 400;
    display: flex;
    position: relative;
    padding-left: 12px;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .list p::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #292929;
    position: absolute;
    top: 10px;
    left: 0;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .greytab-wrapper {
    width: 100%;
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}

.survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .greytab-wrapper .item {
    padding: 0 5px;
    width: 50%;
}

.survey-form-main-wrapper .wrapper .quydautu__form .info-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .greytab-wrapper {
        flex-direction: column;
        margin: -5px 0;
    }

    .survey-form-main-wrapper .wrapper .quydautu__form .form-tab-wrapper .form-tab .greytab-wrapper .item {
        padding: 5px 0;
        width: 100%;
    }
}

/*----------------------------------------------*/
.survey-component-container {

}

.survey-component-container__title {
    font-size: 1.6rem;
    color: #292929;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 1.2rem;
}

.survey-component-container__content {
    font-size: 1.4rem;
    color: #292929;
    font-weight: 500;
    line-height: 22px;
    margin-top: 1.6rem;
}

.survey-component-container__content p {
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.survey-component-container__content ul li {
    position: relative;
    padding-left: 16px;
    font-size: 1.4rem;
    color: #292929;
    font-weight: 500;
    line-height: 22px;
}

.survey-component-container__content ul li::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #292929;
    position: absolute;
    top: 8px;
    left: 0;
}

.survey-component-container__content-question {
    font-size: 1.4rem;
    color: #292929;
    font-weight: 600;
    line-height: 22px;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
}