<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">

	<script>
		var isDelete = false;
	</script>

	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{emulate.edit.title}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
		        	<a class="u-btn u-btn-back" id="linkList">
						<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
						<span>Trở lại</span>
					</a>
					<!-- <a class="u-btn u-btn-primary" id="addNew" >
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		            </a> -->
		        </div>
		   </div>
		</div>
	</div>
	
	 <form class="form-horizontal u-for-page-top j-form-validate" id="fmUpload" method="post" role="form" th:object="${searchDto}" >
	     <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	     <div class="bg-content">
	     	<th:block th:include="views/CMS/all/notify-import/notify-import.html :: content" />
	     </div>
	     
	     <!-- Table Search -->
         <div class="bg-content-tbl" id="tableList">
            <th:block th:include="views/CMS/all/notify-import/notify-import-table.html :: content" />
         </div>
	</form>
	
	<div class="row m-0 pos-gr-btn">
		<!-- <button type="button" class="u-btn u-btn-back " id="btnCancel" >
             <img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
             <span th:text="#{cancel.button}">Thoát</span>
         </button> -->
         
		<button type="button" class="u-btn u-btn-primary" id="btnSave" >
	        <img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/> <span th:text="#{save.button}">Lưu</span>
	    </button>
	</div>
	
</html>