<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<style type="text/css">
	.fileImgArea{margin-bottom:10px;}
	.fileImgArea .fileImg{width:100%; height:138px; border:1px solid #ccc; margin-bottom:15px; display:table;}
	.fileImgArea .fileImg span{display:table-cell; vertical-align:middle;}
	.fileImgArea .fileImg span img{max-width:100%; max-height:110px; margin:15px auto;}
 	.fileImgArea label{width:100%;}
	.fileImgArea label i{margin-right:5px;}
</style>

<body>
    <form class="form-horizontal u-for-page-top j-form-validate" method="POST" role="form" autocomplete="off"
        th:object="${objectDto}" id="form-detail" th:action="@{svc-management/save}" enctype="multipart/form-data">
        <div class="title-head clearfix">
            <div class="col-sm-9 col-xs-7 no-padding">
                <h3>
                    <i class="fa fa-table"></i>
                    <span th:text="#{svc.management.list.page.name}">Page name</span>
                </h3>
            </div>
            <div class="col-sm-3 col-xs-5 icon-head">
                <div class="pull-right">
                    <a id="btnBack">
                        <i class="fa fa-arrow-circle-left icon-head-red"></i>
                    </a>
                    <a class="font17 btn-save btn-save-2" id="btnSaveHead" th:if="${#authorization.expression('hasAuthority(@itemConstant.ITEM_SCREEN_SVC_MANAGEMENT)')}">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id='msg-error'></div>
        <div class="bg-content clearfix">
            <div class="header-box">
                <h2 class="title-box" th:if="${objectDto.id == null}" th:text="#{svc.management.detail.page.name.add}">
                    Add</h2>
                <h2 class="title-box" th:unless="${objectDto.id == null}" th:text="#{svc.management.detail.page.name}">
                    Update</h2>
            </div>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{companyId}" />
            <input type="hidden" id="url" name="url" th:value="${urlRedirect}" />

            <div class="col-sm-12 p-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 required" th:text="#{svc.management.name}">name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control j-required j-specialCharacters" maxlength="255" th:field="*{name}" />
                            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
	                    </div>
            		</div>
            		<div class="form-group">
            			<label for="description" class="col-sm-3" th:text="#{svc.management.description}">description</label>
	                    <div class="col-sm-9">
	                        <textarea style="resize: vertical;" class="form-control" maxlength="255" th:field="*{description}"> </textarea>
	                    </div>     
            		</div>
            		<div class="form-group">
            			<label for="formFileName" class="col-sm-3 required" th:text="#{svc.management.file.name}">formFileName</label>
	                    <div class="col-sm-9">
	                    	<select class="form-control" th:field="*{formFileName}">
								<th:block th:each="item : ${listForm}">
									<option th:value="${item.id}" th:text="${item.text}"></option>
								</th:block>
							</select>
	                        <span class="error" th:if="${#fields.hasErrors('formFileName')}" th:errors="*{formFileName}"></span>
	                    </div>
	                    
            		</div>
            		<div class="form-group">
            			<label for="name" class="col-sm-3 required" th:text="#{svc.management.category.name}">ServiceCategory</label>
	                    <div class="col-sm-9">
	                    	<input type="hidden" id="category-id" th:value="*{categoryId}" />
	                        <select class="form-control service-category j-required" th:field="*{categoryId}">
	                        	<option th:value="*{categoryId}" th:text="*{categoryName}"></option>
	                        </select>
	                        <span class="error" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
	                    </div>
            		</div>
            		<div class="form-group">
            			<label for="businessCode" class="col-sm-3 required" th:text="#{svc.management.business}">ServiceBusiness</label>
	                    <div class="col-sm-9">
	                        <select class="form-control service-business j-required" th:field="*{businessCode}">
	                        	<option th:value="*{businessCode}" th:text="*{businessName}"></option>
	                        </select>
	                        <span class="error" th:if="${#fields.hasErrors('businessCode')}" th:errors="*{businessCode}"></span>
	                    </div>
            		</div>
            		<div class="form-group">
            			<label for="functionCode" class="col-sm-3 required" th:text="#{svc.management.function}">functionCode</label>
	                    <div class="col-sm-9">
	                        <select class="form-control service-function j-required" th:field="*{functionCode}">
	                        	<option th:value="*{functionCode}" th:text="*{functionName}"></option>
	                        </select>
	                        <span class="error" th:if="${#fields.hasErrors('functionCode')}" th:errors="*{functionCode}"></span>
	                    </div>
            		</div>
            		<div class="form-group">
            			<label for="displayOrder" class="col-sm-3" th:text="#{svc.management.display.order}">displayOrder</label>
	                    <div class="col-sm-5">
	                        <input type="number" class="form-control j-required j-range j-int" range="[1,999999]" th:field="*{displayOrder}" />
	                        <span class="error" th:if="${#fields.hasErrors('displayOrder')}" th:errors="*{displayOrder}"></span>
	                    </div>
	                    <label for="activeFlag" class="col-sm-1" th:text="#{svc.management.active.flag}">activeFlag</label>
	                    <div class="col-sm-1">
	                        <input type="checkbox" th:field="*{activeFlag}" />
	                    </div>
            		</div>
            	</div>
            	<div class="col-md-6">
            		<div class="form-group">
            			<label class="col-sm-2" th:text="#{svc.management.image}">Image</label>
	                    <div class="col-sm-4">
		                    <div class="fileImgArea">
		                        <div class="fileImg">
		                            <span>
		                                <img th:if="*{image == null or image == ''}" class="img-responsive image-service"
		                                    th:src="@{/static/cache/images/img_defaultService.png}" alt="" />
		                                <img th:unless="*{image == null or image == ''}" class="img-responsive image-service"
		                                    th:src="@{/ajax-file/download(filePath=*{image}, repositoryId=*{repositoryId})}" alt="" />
		                            </span>
		                        </div>
		                        <pre class="imageConsole" style="display: none; color: #f30;"></pre>
		                        <div class="form-group">
		                            <label class="btn-common input-group-addon" style="padding: 7px; width: 100%">
		                                <span>
		                                    <i class="fa fa-upload" aria-hidden="true"></i>
		                                    <span th:text="#{register.svc.image.upload}">Image upload</span>
		                                    <input type="file" name="file" class="hide" multiple="multiple" />
		                                    <input type="hidden" name="fileName" class="fileName" />
		                                </span>
		                            </label>
		                        </div>
		                    </div>
	                    </div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2" th:text="#{register.svc.device.type}">DeviceType</label>
                      	<div style='background-color: #fff; height:30px;' class='text-left'>
                          	<label class="checkbox-inline">
	                            <input value="any" name="deviceType" type="radio"
	                                th:checked="*{deviceType=='any'}" />
	                            <span th:text="#{register.svc.device.type.any}"></span>
	                            <span>&nbsp;&nbsp;</span>
                          	</label>
	                          <label class="checkbox-inline">
	                              <input value="phone" name="deviceType" type="radio"
	                                  th:checked="*{deviceType=='phone'}" />
	                              <span th:text="#{register.svc.device.type.phone}"></span>
	                              <span>&nbsp;&nbsp;</span>
	                          </label>
	                          <label class="checkbox-inline">
	                              <input value="pad" name="deviceType" type="radio"
	                                  th:checked="*{deviceType=='pad'}" />
	                              <span th:text="#{register.svc.device.type.pad}"></span>
	                              <span>&nbsp;&nbsp;</span>
	                          </label>
	                          <label class="checkbox-inline">
	                              <input value="pc" name="deviceType" type="radio"
	                                  th:checked="*{deviceType=='pc'}" />
	                              <span th:text="#{register.svc.device.type.pc}"></span>
	                              <span>&nbsp;&nbsp;</span>
	                          </label>
	                      </div>    
            		</div>
            	</div>
            </div>
            <div class="col-xs-12 col-sm-12 footer-box-bg">
                <a class="btn-cancel" id="btnCancel">
                    <i class="fa fa-times"></i>
                    <span th:text="#{cancel.button}">Thoát</span>
                </a>
                <a class="btn-common btn-save btn-save-2" id="btnSave" th:if="${#authorization.expression('hasAuthority(@itemConstant.ITEM_SCREEN_SVC_MANAGEMENT)')}">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span th:text="#{save.button}">Lưu</span>
                </a>
            </div>
        </div>
    </form>
        
    <script type="text/javascript" th:src="@{/static/cache/js/svc-management/svc-management-detail.js}"></script>
</body>    
</html>