<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <div class="col-sm-12 p-0">
        <h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="u_t_no">#</th>
                        <th class="u_t_action" th:text="#{action.label}">Thao tác</th>
                        <th th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}"
                        	th:text="#{company.detail}">Company</th>
                        <th th:text="#{svc.management.name}">name</th>
						<th th:text="#{svc.management.description}">description</th>
						<th th:text="#{svc.management.file.name}">fileName</th>
						<th th:text="#{svc.management.category.name}">categoryName</th>
						<th th:text="#{svc.management.business.code}">businessCode</th>
   						<th th:text="#{svc.management.business.name}">businessName</th>
   						<th th:text="#{svc.management.function.code}">functionCode</th>
   						<th th:text="#{svc.management.function.name}">functionName</th>
						<th th:text="#{svc.management.display.order}">displayOrder</th>
						<th th:text="#{svc.management.device.type}">deviceType</th>
						<th th:text="#{svc.management.active.flag}">activeFlag</th>
						<th th:text="#{svc.management.created.by}">createdBy</th>
						<th th:text="#{svc.management.created.date}">createdDate</th>
						<th th:text="#{svc.management.updated.by}">updatedBy</th>
						<th th:text="#{svc.management.updated.date}">updatedDate</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${pageWrapper.data.size() > 0}">
                        <th:block th:each="item, i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
                            <tr th:attr="data-dto-id=${item.id}">
                                <td th:text="${i.index + startIndex}"></td>
                                <td class="text-center nowrap">
                                    <div>
                                        <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                                        <a class="glyphicon glyphicon-edit custom-icon j-btn-edit btn-edit" th:attr="data-id=${item.id}" th:if="${#authorization.expression('hasAuthority(@itemConstant.ITEM_SCREEN_SVC_MANAGEMENT)')}"></a>
                                        <a class="glyphicon glyphicon-remove-sign font-size-20 red  j-btn-delete btn-delete" th:attr="data-id=${item.id}" th:if="${#authorization.expression('hasAuthority(@itemConstant.ITEM_SCREEN_SVC_MANAGEMENT)')}"></a>
                                    </div>
                                </td>
                                <td th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}"
                                	th:text="${item.companyName}"></td>
								<td th:text="${item.name}"></td>
								<td th:text="${item.description}"></td>
								<td th:text="${item.formFileName}"></td>
								<td th:text="${item.categoryName}"></td>
								<td th:text="${item.businessCode}"></td>
								<td th:text="${item.businessName}"></td>
								<td th:text="${item.functionCode}"></td>
								<td th:text="${item.functionName}"></td>
								<td class="text-center" th:text="${item.displayOrder == null? '' : #numbers.formatDecimal(item.displayOrder, 0, 'COMMA', 0, 'POINT')}"></td>
								<td th:text="${item.deviceType}"></td>
								<td th:text="${item.activeFlag}"></td>
								<td th:text="${item.createdBy}"></td>
								<td class="text-center" th:text="${item.createdDate == null? '' : #dates.format(item.createdDate, @menuConfig.getFormDate())}"></td>
								<td th:text="${item.updatedBy}"></td>
								<td class="text-center" th:text="${item.updatedDate == null? '' : #dates.format(item.updatedDate, @menuConfig.getFormDate())}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                    <th:block th:if="${pageWrapper.data.size() == 0}">
                        <tr>
                            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
        
    <th:block th:include="views/commons/pagination.html :: content" />
    <script type="text/javascript" th:src="@{/static/cache/js/svc-management/svc-management-table.js}"></script>
</body>
</html>