.terms-of-use-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 1.6rem;
}

.terms-of-use-brown {
    color: #985801;
    cursor: pointer;
    font-size: 12px;
}

.popup-registration-content {
    font-size: 14px;
    line-height: 20px;
    color: #292929;
    text-align: center;
    margin-top: 2.4rem;
    font-weight: 500;
}

.popup-registration-login {
    color: #de181f;
    font-weight: 700;
    cursor: pointer;
}