@media only screen and (max-width: 550px){
	.text-welcome,.name-user{
		display: none
	}
	.logo-mb img{
		width: 112px;
		padding: 3px 0
	}
}
@media only screen and (max-width: 767px){
	.logo-mb img{
		display: block!important
	}
	.logo-mb{
		width: 35%;
		float: left
	}
	header .navbar-nav{
		width: 65%!important
	}
	.nav-sm .left_col {
	    top: 31px;
    	width: 230px !important;
    	z-index: 1!important;
	}
	.nav-sm span.fa, .nav-sm .menu_section h3, .nav-sm span.text-main {
	    display: inline-block;
	}
	.nav-sm .nav.side-menu li a,.nav-sm .nav.side-menu li a i{
		text-align: left!important;
		width: auto!important
	}
	.nav-sm .side-menu .fa-angle-left{
		font-size: 16px!important;
		color: #fff!important;
		margin: 0!important;
		transform: rotate(0deg);
	}
	.nav-sm .child_menu>.active>a>.fa-angle-down{
		 transform: rotate(0deg);
	}
	.nav-sm .nav.side-menu li ul li a i{
		width: 7px !important
	}
	.main-heading{
		z-index: 0
	}
	.nav_menu{
		display: none
	}
	.nav-sm .container.body .main_content {
	    margin-left: 230px;
	    width: 100%;
	    overflow: auto;
	}
	.nav-sm .col-md-3.left_col{
		transform: translate(0, 0);
	}
	.nav-md .col-md-3.left_col{
		transform: translate(-230px, 0);
	}
	
}
@media only screen and (min-width: 768px){
	/* hover sup menu */
	.nav-sm .nav.side-menu>li:hover > .child_menu, .nav-sm .nav>li:focus > .child_menu{
	  display: block !important;
	}
	.nav-sm .nav.side-menu .child_menu>li:hover > .child_menu2, .nav-sm .nav.side-menu .child_menu>li:focus > .child_menu2{
	  display: block !important;
	}
	/* hover sup menu */
	.nav-sm ul.nav.child_menu {
	  left: 100%;
	  position: absolute;
	  top: 0;
	  width: 230px;
	  z-index: 4000;
	  background: #0066cb;
	  display: none;
	}
	.nav-sm .main_menu .fa {
	  margin: 0px;
	}
	
	.nav-sm .side-menu>li>.child_menu li:hover .fa-angle-down{
		transform: rotate(0deg);
	}
}
@media only screen and (max-width: 991px) {
	.show-desktop{
		display: none
	}
	.show-mb{
		display: block
	}
	.user-profile{
		padding-right: 22px!important
	}
	body .toggle{
		float: right!important;
		clear: both!important;
		margin-top: -9px!important;
		padding: 0px 0px 5px 0!important;
		margin-bottom: 0!important
	}
	.pick_lang a {
	    padding: 17px 2px 02px !important;
	}
	.nav_title{
		display: none
	}
	
}
@media only screen and (min-width: 992px) {
	.show-desktop{
		display: block
	}
	.show-mb{
		display: none
	}
}