@charset "UTF-8";
/* CSS Document */

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 13px;
	background: #fff;
}
.unit-bg-main {
	background: #fafafa;
	padding-top: 60px;
}
.breadcrumb {
	margin-bottom: 0px;
}

.sub-header {
	margin: 0px 0px 15px 0px;
}
.unit-bg-com {
 	display: block;
    padding: 10px;
    background: #e1f1ff;
    margin: 15px 0px;
    border-top: 1px solid #d0ab5b;
 }
.title-box,.section-heading-search{
	font-size: 14px;
    color: #163758;
    padding-bottom: 3px;
    font-weight: 500;
    border-bottom: 2px solid #cc9833;
    display: inline-block;
    margin: 0 0 10px 0;
    padding-right: 20px
}

 
 label {
 	font-weight: normal;
 }
 .unit-button {
 	text-align: right;
 	padding: 10px 15px;
 }
  .unit-border-bottom {
 	margin: 0px;
 }
 .padd-no {
 	padding: 0px;
 }
 .padd-lr-no {
 	padding-left: 0px;
 	padding-right: 0px;
 }
  .padd-tb-no {
 	padding-top: 0px;
 	padding-bottom: 0px;
 }
 
.mar-no {
 	margin: 0px;
 }
 .mar-lr-no {
 	margin-left: 0px;
 	margin-right: 0px;
 }
  .mar-tb-no {
 	margin-top: 0px;
 	margin-bottom: 10px;
 	padding: 7px 0px;
 	font-size: 30px;
 }
 .unit-border-bottom .mar-tb-no {
 	margin-bottom: -4px;
 	margin-right: 10px;
 }
 .align-right {
 	text-align: right;
 }
  .align-center {
 	text-align: center;
 }
 .align-left {
 	text-align: left;
 }
 .font-size-20 {
 	font-size: 20px !important;
 }
 .font-size-30 {
 	font-size: 30px !important;
 }
 
 .custom-icon {
  font-size:12px;
  background:#19709b;
  /* background:rgba(0,0,0,0.4); */
  padding:4px;
  /* -webkit-border-radius:1100%; */
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
/*   border:6px solid #fff; */
  color:#fff;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46); */
  text-align:center;
  /* display:table-cell; */
  vertical-align:middle;
  /* width:60px;
  height:60px; */
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  top:-4px;
}
 
.button_disabled {
   cursor: not-allowed;
   filter: alpha(opacity=55);
   -webkit-box-shadow: none;
   box-shadow: none;
   opacity: .55;
}
 
 .red {
 	color: #c41b1e;
 	top:3px;
 }
  .green {
 	color: #004488;
 }
 
 .green2 {
 	color: #2892cc;
 }
   .blue {
 	color: #19709b;
 }
 
 .blue2 {
 background: #002458;
 }
 
 .text-bold {
  font-weight: bold;
 }
 
 .form-control::-moz-placeholder {
 	color: #fff;
 }
 /* start fix top menu */

.fix-nav {
 /* this make our menu fixed top */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

 
/* Submenu -----------------------------*/


.u-left-menu {padding: 0px; margin: 0px; border-left: 5px solid #c51b1c}
.u-marg-padd-0 {padding: 0px; margin: 0px;}
/**
 * Submenu
 -----------------------------*/
 
 .title-page {
 	padding: 5px 0px;
 	background: #efefef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #efefef); /* Standard syntax */
 }
 
 

 .dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu{
	font-size: 13px
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.submenu {
  display: none;
  background: #003875;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e;}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 8px;
  padding-left: 2px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  color: #b63b4d;

}

/**
 * menu top
 -----------------------------*/
.navbar {
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.navbar-unit {
	background: #003875;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #0060c0;
	color: #efefef;
}


.navbar-unit .navbar-nav > li > a {
	color: #efefef;
}

.navbar-unit .navbar-nav > li > a:hover, .navbar-unit .navbar-nav > li > a:focus {
	color: #efefef;
}


/*start page 4 */
.page-one-4 {
    margin-top: 5px;
}
.page-one-4 .panel{
    margin-bottom: 5px;
}

.page-one-4 .clickable{
    cursor: pointer;   
}

.page-one-4 .panel-heading .inbox-up-down span {
	font-weight: 100;
	color: #999;
}
.page-one-4 .panel-heading h4 {
	margin: 0;
	color: #333;
	width: 90%;
}
.page-one-4 .panel-heading h2 {
	color: #ef292f;
	font-size: 20px;
	margin-top: 10px;
}
.page-one-4 .panel-primary .panel-heading {
	background: #e6e6e6;
	border-bottom: 0px solid #fe292f;
	}
	
	
	
.badge3 {
    position: relative;
    top: -1px;
	background: #ef292f;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	width: 70px;
	height: 70px;
}	
	
.page-one-4 .panel-primary .panel-heading {
	background: #e6e6e6;
	border-bottom: 0px solid #fe292f;
	}

.page-one-4 .panel-primary {
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-top: 0px;
	}	

.page-one-4 .bg-3 {
	background: #f5f5f5;
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
	}
.page-one-4 .bg-4 {
	background: #fff;
	border-bottom: 1px solid #ef292f;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 97%;
	margin-left: 15px;
	}
.page-one-4 .bg-6 {
	background: #fff;
	border-bottom: 1px solid #ef292f;
	}
.page-one-4 .panel-primary .bg-5 {
	background: #fff;
	border-bottom: 1px solid #ef292f;
	padding-top: 5px;
	padding-bottom: 3px;
	}
.page-one-4 .panel-primary .bg-5-1 {
	background: #fff;
	border-bottom: 1px solid #ef292f;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 5px solid #ef292f;
	}
.page-one-4 .panel-primary .bg-7 {
	background: none;
	border-bottom: 1px solid #ccc;
	}
.page-one-4 .panel-primary .bg-7-1 {
	background: none;
	border-bottom: 1px solid #ccc;
	border-left: 5px solid #ccc;
	}

/* end page 4 */

.box-border-ccc {
	border: 1px solid #ccc;
	border-radius: 5px;
	}
.btn-primary {
	background: #0099ff;
    border: 1px solid #0384da;
}

.logo-vccb {
	padding: 5px 0px;
}

/* start table */
.unit-bg-table {
 	display: block;
    padding: 10px;
    background: #e1f1ff;
    margin: 15px 0px;
    border-top: 1px solid #d0ab5b;
 }
 
.bg-table-navigation {
	background: #fff;
	margin-bottom: 10px;
}

.unit-bg-table .table-responsive {
	overflow: auto;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.unit-bg-table .table-150 {
	width: 150%;
	max-width: 150%;
}

.unit-bg-table table th {
	background: linear-gradient(#bcd1d6,#89b7b7);
    color: #333;
    border-right: 1px solid #dbdbdb!important;
    border: none;
    font-weight: 600;
    padding: 5px!important;
    border-bottom-width: 1px!important;
}
.unit-bg-table table tbody td{
	padding: 5px!Important
}
.unit-bg-table table{
	border: none
}
.unit-bg-table table tbody tr:nth-child(even) {
    background: #fff;
}
.unit-bg-table table tbody tr:nth-child(odd) {
    background: #eee;
}
.unit-bg-table table td {
	padding: 5px !important;
}

.unit-bg-table .table .u_t_no {
	width: 30px;
}
.unit-bg-table .table .u_t_code {
	width: 60px;
}
.unit-bg-table .table .u_t_title {
	width: 200px;
}

.unit-bg-table .table .u_t_status {
	width: 120px;
}

.unit-bg-table .table .u_t_tel {
	width: 110px;
}

.unit-bg-table .table .u_t_date {
	width: 100px;
}
.unit-bg-table .table .u_t_action {
	width: 100px;
}

/* end table */

.form-inline {margin-top: 7px;}

.select2-container--default .select2-selection--single {
	border: 1px solid #ddd;
}


.unit-menu-tree .unit-tree {
	overflow: auto;
}

.ms-options ul {
	list-style: none;
	padding-left: 0px;
}
.ms-options ul li {
	border-bottom: 1px dotted #ccc;
	padding-left: 10px;
}

.main-heading {
  font-size: 19px;
  text-transform: none;
  background: #fff;
  position: fixed;
  top: 74px;
  width: calc(100% - 280px);
  z-index: 5;
  transition: 0.3s all ease-in-out;
  margin: 0
  /* left: 266px; */
}
.nav-sm .main-heading {
  width: calc(100% - 80px);
}
@media (max-width:992px) {
  .nav-md .main-heading {
    width: calc(100% - 0px);
  }
}

.u-for-page-top {
	margin-top: 20px;
}
.ms-options-wrap, .ms-options-wrap * {
	border-radius: 4px;
}
/*Vien edit*/
.logo-small,.nav-sm .logo-full{
	display: none;
}
.nav-sm .logo-small{
	display: block;
    padding-top: 18px;
    margin: 0 auto
}
.text-welcome{
    color: #fff;
    position: relative;
    top: -8px;
    font-size: 12px;
}
.name-user{
	padding-left: 47px;
    margin-top: -14px;
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
}
.user-profile:before {
    content: "\f0d7";
    font-family: FontAwesome;
    float: right;
    color: #cd9830;
    margin-top: 11px;
    margin-right: -14px;
}
.user-profile{
	padding: 18px 32px 18px 10px!important;
}
.pick_lang a{
	padding: 18px 2px!important;
}
.icon-menu{
	font-size: 17px!important;
}
.side-menu .active{
	background: #0066cb
}
.nav.side-menu>li.active>a,.side-menu .active .nav.child_menu>li>a{
	border-bottom: 1px solid #3481cd
}
.side-menu a>.fa-angle-left{
	transition: transform .5s ease;
}
.side-menu .active>a>.fa-angle-left{
	 transform: rotate(-90deg);
}
.side-menu .child_menu .fa-circle{
	font-size: 8px;
    position: relative;
    top: -2px;
    padding-right: 3px;
}
.main_menu .child_menu .fa-angle-down{
	transform: rotate(90deg);
	transition: transform .3s ease;
}
.child_menu>.active>a>.fa-angle-down{
	transform: rotate(0deg);
}
.content-header h1{
	font-size: 16px;
    margin: 0;
    display: inline-block;
    color: #18469e;
}
.content-header .breadcrumb{
	display: inline-block;
    float: right;
    padding: 0;
}
.dropdown-usermenu .fa{
	font-size: 14px;
	padding-right: 3px
}
.dropdown-usermenu{
	padding: 3px 0
}
.nav_menu .breadcrumb label{
	color: #9eb1b7;
    font-size: 11px;
}
.nav_menu .breadcrumb i{
	color: #ee9c12;
    padding-right: 5px;
}
.title-head {
    font-size: 16px;
    margin: 0;
    color: #18469e;
    text-transform: uppercase;
    padding: 5px 0;
}
.title-head:before{
	content: "\f022";
    font-family: FontAwesome;
    color: #ee9c12;
    padding-right: 5px;
}
.p-0{
	padding-left: 0!important;
	padding-right: 0!important
}
.icon-head a{
	font-size: 21px;
    color: #cd9933;
    padding-left: 5px;
	
}
.m-0{
	margin: 0 !important
}
.collapsed .fa-minus:before {
    content: "\f067"!important;
    font-family: "FontAwesome";
}
.head-box{
	cursor: pointer
}
.form-control{
	height: auto!important;
    padding: 4px 10px!important;
}
.btn{
	padding: 4px 15px;
	font-size: 13px
}
.ms-options-wrap > .ms-options > .ms-search input{
	border-radius: 0
}
#btnSearch{
	background: #0099ff;
    border: 1px solid #0384da;
    color: #fff
}
.icon-head a{
	cursor: pointer
}
.no-btn{
	background: none;
	border: none
}
.icon-head-yellow {
    font-size: 21px!important;
    color: rgb(205, 153, 51);
    padding-left: 5px;
}
.icon-head{
	padding-top: 2px
}
.edit-img{
	padding: 10px;
    color: #cc992e;
    font-size: 17px;
}
.unit-bg-com .unit-bg-table{
	border-top: none;
	padding:0
}
.icon-head .font17 {
	font-size: 17px!important
}
table{
	    white-space: nowrap;
}
.side-menu>li>a{
	    text-transform: uppercase;
	    font-size: 13px
}
.side-menu>li.active-sm{
	background: #0066cb;
    border-left: 3px solid #fff;
}
.slimScrollBar{
	background: rgb(204, 204, 204)!important;
    width: 3px!important;
}
#sidebar-menu .mCSB_inside>.mCSB_container{
  margin-right: 0px!important
}
#sidebar-menu .mCSB_scrollTools{
  width: 2px!important
}
#sidebar-menu .mCSB_scrollTools .mCSB_draggerRail{
  background-color: rgba(203, 203, 203, 0.4)!important;
}
#sidebar-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: rgba(201, 201, 201, 0.7)!important;
}
.nav-sm .main_menu_side,.nav-sm .mCustomScrollBox,.nav-sm .mCSB_container{
	overflow: inherit!important
}
.nav-sm .child_menu>li>a {
	padding: 4px 0px 4px 10px!important;
}
.nav-sm .side-menu .child_menu .fa-circle{
	font-size: 8px!important;
}
.select2-container .select2-selection--single{
    height: 30px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-top: 4px!important
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc
}
.nav-sm .side-menu>li>.child_menu{
	padding: 5px 0px;
    border-radius: 0 4px 4px 0;
}

.nav-sm .side-menu>li>.child_menu .fa-angle-down{
	font-size: 16px;
	color: #fff;
	margin: 0;
	transform: rotate(90deg);
	position: absolute;
	right: -5px;
	top: 7px;
}

.nav-sm ul.nav.child_menu{
	min-width: 230px;
	width: auto
}
table td a.custom-icon:hover{
	cursor: pointer;
    color: #fff;
}
.menudelete:hover{
	cursor: pointer;
    color: red;
}



/*Vien edit*/