.main-box-bg select{
	border: 1px solid #ccc;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
}
.content-wrapper{
	padding-top: 118px!important;
	background-color: transparent;
	min-height: auto!important
}
.title-head h3 .fa-table:before{
	content: "\f0f6"
}
/*breadcrumb*/
.content-header{
	padding: 6px 10px 7px 10px!important;
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 9;
    background: #f1f4f4;
}
.fixed-head .content-header{
	background: #f1f4f4;
}
.fixed-head .title-head{
	box-shadow: 1px 2px 2px #e8e8e8;
	background: #fff
}
.content-header>.breadcrumb>li>a,.btn-menu-mobile .breadcrumb>li>a {
    color: #6c88ba!important;
    font-size: 11px;
}
.content-header>.breadcrumb,.btn-menu-mobile .breadcrumb{
	position: static!important;
	float: left!important;
	display: inline-block!important;
	padding: 3px 0 0 0!important;
	background: transparent
}
.content-header ul{
	margin: 0;
	background-color: transparent;
	display: inline-block;
	padding: 0px!important;
}
.breadcrumb>li+li:before{
	content: ""!important;
    font-family: FontAwesome;
    color: #222!important;
    font-weight: bold;
    padding: 0 2px;
}
.breadcrumb a,.breadcrumb a:hover,.breadcrumb a:focus{
	color: #999;
	text-decoration: none;
}
.breadcrumb li{
	color: #666 !important;
    font-size: 11px;
}
/*end breadcrumb*/

/*title head*/
.title-head h3 i{
	opacity: 1;
    padding-right: 5px;
    color: #304d50;
    font-size: 17px;
}
.sidebar-collapse .title-head{
	width: calc(100% - 50px);
}
.title-head{
	position: fixed;
    width: calc(100% - 230px);
    top: 79px;
    z-index: 9;
    padding: 0 10px 5px 10px;
    margin-left: -10px
}
.title-head h3{
	font-size: 16px;
    margin: 0;
    color: #2f4e51;
    text-transform: uppercase;
    margin-top: 11px;
    font-weight: 600
}
.breadcrumb i.fa-home{
	color: #2f4e51;
    font-size: 15px;
    padding-right: 2px;
}
.icon-head{
	padding: 7px 5px 0px 0;
	float: right
}
.icon-head a {
	cursor: pointer;
	display: inline-block;
}
.icon-head-red{
	font-size: 23px;
    color: #e87722;
    padding-left: 5px;
}
/*end title head*/

/*background common*/
.bg-content{
	border-radius: 5px;
    padding: 5px;
    color: #1a1818;
    margin: 0 0 10px 0;
    background: linear-gradient(#fff 70%,#ececec);
    border-top: 1px solid #efefef;
    border-left: 2px solid #ddd;
}
.bg-content-tbl{
	background: #e4e8e9;
	border-top: none
}
/*background common*/
.form-control:focus {
    border-color: #bdc0c8;
}

/*group btn bottom*/
.gr-btn-bottom{
	padding-top: 15px;
}
.content-bottom{
	padding: 0 10px
}

.ms-options-wrap > button:focus, .ms-options-wrap > button{
    border: 1px solid #ececec!important;
    padding: 4px 20px 4px 5px!important;
    font-size: 12px!important;
    border-radius: 4px;
}
