
header{
	color: #fff;
	transition: all 0.3s ease-in-out
}
header h3{
	display: inline-block;
	font-size: 20px;
    color: #304d50;
    margin: 14px 0 14px 0px;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    font-weight: 600
}
.logo-mobile{
	display: none;
}
.logo{
	border-right: none;
	transition: all 0.3s ease-in-out!important;
}
.logo img{
	margin-top: 0px;
	transition: all 0.3s ease-in-out
}
.logo-lg img{
	width: auto;
    height: 47px;
    padding-top: 0px;
}
.logo .logo-mini img{	
	width: 17px;
    margin: 7px 0;
}

.navbar-fixed-top{
	position: fixed!important;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	/*box-shadow: 1px 1px 2px #e9e9e9;*/
}
.main-header .sidebar-toggle:before{
	content: "";
}
.icon-bar{
    display: block!important;
    width: 17px;
    height: 2px;
    border-radius: 1px;
    background: #666666;
    margin-top: 4px;
}
/*nav right*/
.navbar-right .info-user{
	padding: 0;
	margin: 0;
	transition: all 0.3s ease-in-out
}
.navbar-right ul.info-user button i{
	font-size: 14px;
}
.navbar-right ul.info-user .btn-color-purple i{
	color: #864870;
}
.navbar-right ul.info-user .btn-color-blue i{
	color: #007bbb;
}
.navbar-right ul.info-user .btn-color-light-blue i{
	color: #4ba8fc;
}
.navbar-right ul.info-user .btn-color-red i{
	color: #ee1b2e
}
.navbar-right ul.info-user .btn-color-gray i{
	color: #d3d3d1;
}
.navbar-right ul.info-user .notifi{
	position: absolute;
    min-width: 15px;
    height: 14px;
    border-radius: 50%;
    top: -1px;
    background: #e87722;
    color: #fff;
    right: 3px;
    text-align: center;
    font-size: 10px;
    padding: 0px 3px;
}
.navbar-right ul.info-user li{
	display: inline-flex;
	padding: 4px 12px 7px 12px;
	position: relative;
	transition: all 0.3s ease-in-out
}
.main-header .navbar{
	transition: all 0.3s ease-in-out
}
.navbar-right ul.info-user li:first-child{
	padding-left: 0
}
.navbar-right ul.info-user li img.img-avata{
	border: none;
    background: #009afe;
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
    height: 40px;
}
.navbar-right ul.info-user ul li{
	padding: 0;
    width: 100%;
}
.navbar-right ul.info-user a{
	display: block;
	color: #17469e;
	width: 100%;
	font-size: 12px;
	cursor: pointer;
}
.dropdown-menu>li>a{
	font-size: 12px;
}
.navbar-right .user-setting{
	padding: 0!important;
}
.navbar-right .user-setting li{
	display: inline-block;
	list-style: none;
	padding: 15px 10px;
}
.navbar-right .user-setting li li{
	padding: 0;
	width: 100%
}
.navbar-right .user-setting li a{
	color: #ccd9e3;
	cursor: pointer;
}
.navbar-right .user-setting .icon-setting{
	font-size: 24px;
	color: #0fb8ff;
	position: relative;
	top: 3px;
    padding-right: 10px;
}
.name-user{
	padding-left: 53px;
	margin-top: -20px;
	margin-bottom: 0;
	color: #e87722 ;
}
/*dropdown info*/
.content-nav-right ul{
  background-color: #e87722;
  border: none;
}
.content-nav-right ul a{
	color: #fff !important
}
.navbar-custom-menu .nav .open>a,.navbar-custom-menu .nav .open>a:focus,
.navbar-custom-menu .nav .open>a:hover {
    background-color: transparent;
    border-color: none;
}
.navbar-custom-menu .navbar-right{
	margin-right: 0!important
}
.content-nav-right .dropdown-menu>li>a:hover {
    background-color: #fff;
}
.info-user ul:before{
	content: "\F0D8";
    font-family: FontAwesome,'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    font-size: 19px;
    position: absolute;
    top: -15px;
    right: 15px;
    color: #e87722;
}
.text-welcome{
  color: #333333;
  position: relative;
  top: -8px
}
.language img{
	width: 20px;
    height: 13px;
}
.language{
	padding-right: 0
}
.dropdown-info-user:before{
	content: "\f0d7";
    font-family: FontAwesome;
    float: right;
    color: #e87722;
    margin-top: 11px;
    margin-right:-25px;
}
.dropdown-info-user{
	padding-right: 20px;
}
/*menu header right*/
.menu-header-right ul>li.dropdown>a{
	padding: 3px 15px;
	color: #17469e;
	cursor: pointer;
}


.menu-header-right .nav .open>a:hover{
	background: #0099ff;
	border-radius: 4px 4px 0 0;
	color: #fff;
}
.menu-header-right .nav .open>a:focus,.menu-header-right .nav .open>a{
	background: #fff;
	color: #17469e
}
.menu-header-right .dropdown-menu{
	background: #0099ff;
    border-radius: 6px 0 6px 6px!important;
    border: none;
}
.menu-header-right .open>.dropdown-menu a{
	color: #fff
}
header .dropdown-menu>li>a:hover,header .dropdown-menu>li>a:focus{
  background: #e77723!important;
  color: #ffd6b8!important;
  cursor: pointer;
}
.menu-header-right .dropdown-menu>li>a:before {
    content: "\f111";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 9px;
}
header .dropdown-menu>li>.name-user-mobile:hover, header .dropdown-menu>li>.name-user-mobile:focus,
header .dropdown-menu>li>.time:hover, header .dropdown-menu>li>.time:focus{
	background: transparent!important;
	color: #fff!important
}
.menu-header-right{
	padding-right: 10px;
}

.menu-header-right .dropdown:hover .dropdown-menu a{
	color: #fff
}
.b-bottom-menu{
	border-top: 1px solid #ccc;
	margin-left: 10px;
}
.gr-btn-change-color button{
	background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 5px
}
.logo-white,.logo-red{
	display: none
}
.item-oclock i{
	font-size: 22px!important;
}
.gr-notifi i{
	color: #575756;
	font-size: 18px
}
.navbar-right ul.info-user .item-oclock .notifi{
	top: 1px;
}
.gr-notifi {
	position: relative;
    top: 3px;
}
.main-header .navbar-custom-menu, .main-header .navbar-right{
	padding-right: 6px;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
	padding-top: 5px;
}
.sidebar-toggle{
	padding: 14px 10px 16px 10px!important;
}
