/*header*/
body.bg-skin-blue{
	background: #104054
}
.bg-skin-blue .navbar-fixed-top{
	background: #0c6390;
}
.bg-skin-blue .b-bottom-menu{
	border-top: 1px solid #87b1c9;
}
.bg-skin-blue .logo-white{
	display: inline-block;
}
.bg-skin-blue .logo-blue{
	display: none;
}
.bg-skin-blue header h3{
	color: #fff;
}
.bg-skin-blue .gr-notifi i {
    color: #fff;
}
.bg-skin-blue .navbar-right ul.info-user .notifi{
	background: #00ebfe
}
.bg-skin-blue .text-welcome{
	color: #fff
}
.bg-skin-blue .navbar-right ul.info-user a,.bg-skin-blue .menu-header-right ul>li.dropdown>a{
	color: #fff
}
.bg-skin-blue .menu-header-right .nav>li:hover>a,.bg-skin-blue .menu-header-right .nav>li:active>a,
.bg-skin-blue .menu-header-right .nav>li:focus>a {
    background: linear-gradient(180deg, #01ffff 2%, #00b3fe 75%);
}
.bg-skin-blue .menu-header-right .dropdown:hover .dropdown-menu{
	background: #00b3fe;
}
.bg-skin-blue .info-user ul:before{
	color: #00bbfe
}
.bg-skin-blue .content-nav-right ul {
    background: linear-gradient(131deg, #01ffff 2%, #00b3fe 75%);
}

@media only screen and (max-width: 767px){
	.bg-skin-blue .navbar-fixed-top .navbar-collapse {
	    background: #00b3fe;
	}
	.bg-skin-blue .menu-header-right .nav .open>a,.bg-skin-blue .menu-header-right .nav .open>a:focus,.bg-skin-blue .menu-header-right .nav .open>a:hover{
		background: linear-gradient(180deg, #01ffff 2%, #00b3fe 75%);
		border-radius: 0
	}
	.bg-skin-blue .menu-header-right .open > .dropdown-menu {
    	background: #0098d8!important;
    }
    .bg-skin-blue .menu-header-right .nav .open>a:focus, .bg-skin-blue .menu-header-right .nav .open>a {
	    background: #0098d8!important;
	    color: #fff!important
	}
}
.bg-skin-blue .menu-header-right .nav .open>a:focus,.bg-skin-blue .menu-header-right .nav .open>a {
    background: #0c6390;
    color: #fff;
}
.bg-skin-blue .dropdown-info-user:before{
	color: #00ebfe
}
/*end header*/

/*menu left*/
.bg-skin-blue .treeview-menu>li>a{
	border-top: 1px solid #72cbf0;
    border-bottom: 1px solid #00a4e8;
}
.bg-skin-blue .sidebar-menu>li{
	border-bottom: 1px solid #003952;
    border-top: 1px solid #005f6b;
}
.bg-skin-blue .treeview-menu a:hover {
    color: #01f9ff!important;
}
.bg-skin-blue .main-sidebar {
    background: linear-gradient(#0c4455 10%, #045072 31%, #034661 55%);
}
.bg-skin-blue .treeview>a>i{
	color: #00eeff
}
.bg-skin-blue .sidebar-menu>li>a{
	color: #fff
}
.bg-skin-blue .sidebar-menu>li:hover>a,.bg-skin-blue .sidebar-menu>li.active>a,
.bg-skin-blue .sidebar-menu>li.menu-open>a{
	border-left: 3px solid #00ebfe;
	background: linear-gradient(138deg, #01ffff 13%, #00b3fe 75%);
}
.bg-skin-blue  .treeview-menu,.bg-skin-blue .treeview-menu li a {
    background: #00b3fe;
}
@media only screen and (min-width: 768px){
	.bg-skin-blue  .treeview ul ul.treeview-menu,.bg-skin-blue .treeview ul ul.treeview-menu a {
    	background: #00b3fe;
    }
}

/*end menu-left*/

/*content wrapper*/
.bg-skin-blue .icon-bar{
	background: #00ebfe;
}
.bg-skin-blue .title-head h3 i,.bg-skin-blue .icon-head-red{
	color: #00ebfe;
}
.bg-skin-blue .content-header>.breadcrumb>li>a,.bg-skin-blue .btn-menu-mobile .breadcrumb>li>a,
.bg-skin-blue .breadcrumb>li+li:before {
    color: #9eb1b7!important;
}
.bg-skin-blue .title-head h3,.bg-skin-blue .header-box h5{
	color: #fff
}
.bg-skin-blue.fixed-head .title-head,.bg-skin-blue.fixed-head .content-header{
	background: #104054;
}
.bg-skin-blue .bg-content{
	border-top: 1px solid #345f6f!important;
	border: none;
	background: linear-gradient(179deg, #03405c 0%, #0f5b7d 45%,#115272 60%);
}
.bg-skin-blue .header-box h5{
	border-bottom: 2px solid #00eeff;
}
.bg-skin-blue .bg-content label{
	color: #85a5ba
}
.bg-skin-blue .form-search input {
    margin-bottom: 5px;
    border-color: #476c7f;
    background: #03415a;
    outline: none;
    color: #85a5ba;
}
.bg-skin-blue .btn-common{
	background: linear-gradient(138deg, #01ffff 13%, #00b3fe 75%);
    border: 1px solid #034d71;
}
.bg-skin-blue .header-box .fa-minus{
	color: #fff
}
.bg-skin-blue.fixed-head .title-head {
    box-shadow: 1px 1px 1px #142e39;
}
/*end content wrapper*/

/*table */
.bg-skin-blue .table-search-result table th {
    background: linear-gradient(180deg, #06445e 0%, #0a6292 28%,#0a6292 49%);
    color: #85a5ba;
    border-right: 1px solid #33708f!important;
    border: none;
}
.bg-skin-blue .table-search-result {
    border: none;
    background: transparent;
}
.bg-skin-blue .table-search-result table{
	border-color:#33708f;
	border-top: none
}
.bg-skin-blue .table-fixed-head table tbody tr:nth-child(odd),
.bg-skin-blue .table-fixed-head table tbody tr:nth-child(even) {
    background: none;
    color: #85a5ba;
}
.bg-skin-blue .table-search-result table td{
	border-top: none!important;
    border-left: none!important;
    border-right: 1px solid #33708f;
    border-bottom: 1px solid #33708f;
}
.bg-skin-blue .table-search-result table td:last-child .glyphicon-remove-sign {
    color: #b74d4d;
}
.bg-skin-blue .pagging .pagination>li>a,.bg-skin-blue .pagination>li>span,
.bg-skin-blue .pagging .bootstrap-select button {
    background: #034661;
    color: #fff;
    border-color: #0073b6;
}
.bg-skin-blue .pagination>li>a:focus,.bg-skin-blue .pagination>li>a:hover,
.bg-skin-blue .pagging .bootstrap-select button:hover,.bg-skin-blue .pagging .open>.dropdown-toggle.btn-default{
	background: #01ecff!important;
    border-color: #0073b6!important;
    color: #fff;
}
.bg-skin-blue .no-border{
	background: transparent!important;
}
.bg-skin-blue .text-group,.bg-skin-blue .text-slider{
	color: #85a5ba;
}
.bg-skin-blue .checkbox .cr .cr-icon,.bg-skin-blue .radio .cr .cr-icon{
	color: #01f4ff
}
.bg-skin-blue .checkbox .cr,.bg-skin-blue .radio .cr {
    border: 1px solid #01f4ff;
}
.bg-skin-blue .slider,.bg-skin-blue .slider:before{
	border: 1px solid #03d0dd
}
.bg-skin-blue input:checked + .slider:before{
	background: #00eeff;
}
.bg-skin-blue input:checked + .slider {
    background-color: #c9fbff;
}
/*end table*/

/*footer*/
.bg-skin-blue footer{
	background: linear-gradient(#16587a,#03507c,#034567);
	border-top: 1px solid #1a6f9c;
}
.bg-skin-blue footer span{
	color: #85a5ba;
}
/*footer*/