html body{
    font-family: 'Arial', sans-serif!important;
    font-size: 13px;
    padding-right: 0!important;
}
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Arial', sans-serif!important;
}
.required:after {
	color: red !important;
	font-size: 14px !important;
	content: " *" !important;
}

.form .required{
    font-size: 16px;
    color: #00a0df;
}

.error {
    color: red !important;
}

body{
	padding-bottom: 40px;
    background: #fff;
}
.no-padding{
	padding-left: 0!important;
	padding-right: 0!important;
}
select{
	border: 1px solid #ccc;
}
@-moz-document url-prefix() { 
  	.pagination select{
     	padding: 6px!important;
  	}
}
@-ms-viewport {
  width: auto !important;
}
.form-control{
	border-radius: 4px!important;
	height: 27px;
	font-size: 13px;
	padding: 3px 5px!important;
	box-shadow: none!important;
	border-color: #d2d6de
}	
.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0
}
.form-group{
	margin-bottom: 5px
}	
.bootstrap-select.btn-group .dropdown-toggle {
    border-color: #ececec;
}
.p-0{
	padding-left: 0!important;
	padding-right: 0!important;
}
.p-10{
    padding: 10px
}	
.m-0{
	margin-right:0;
	margin-left: 0
}
a {
    color: #0097a9;
}
.combo-arrow {
    background-color: #ffffff!important;
}
.tree-node-selected {
    background: #e87722;
    color: #fff;
}
.mt-5{
	display: inline-block;
	margin-top: 5px
}
.no-pleft{
	padding-left: 0
}
.no-ptop{
	padding-top: 0px
}
.no-pright{
	padding-right: 0
}
.no-btn{
	background: none;
	border: none;
	padding: 0;
	outline: none
}
.input-group .input-group-addon {
    border-radius: 0 4px 4px 0;
    padding: 3px 6px;
    height: auto;
    font-size: 13px
}
.input-group .form-control {
    border-radius: 4px 0 0 4px!important
}
.ms-options li{
	list-style: none;
	cursor: pointer
}
.ms-options ul{
	padding-left: 0px
}
.ms-options-wrap > .ms-options > .ms-search input{
	border-radius: 0;
	border-bottom: 1px solid #aaa;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"]{
	top: 2px!important
}
.select2-container .select2-selection--single .select2-selection__rendered{
	margin-top: 0
}
.alert{
	padding: 10px
}
.alert h4{
	font-size: 16px;
    margin-bottom: 5px;
}
.alert .close{
	color: #fff;
	opacity: 1;
	right: 0
}
.textbox.combo{
	width: 100%!important;
	border-radius: 4px
}
.combo-arrow {
    background-position: 0 5px!important;
}
.avatar{
	float: left
}
.avatar .img-thumbnail{
	width: 120px
}
.edit-img{
	color: #ee9c12;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer
}
.datepicker{
	padding: 0!important
}
.box-acc-policy{
	border: 1px solid #c4e3ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #ecf6ff;
}
.select-page{
	height: 27px!important
}
.error{
	color: #ff0000
}
/*custom select*/
.u-custom-select {
    background-color: #fff;
   /* border: 1px solid #ccc;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
    /*height: 30px*/
}
.u-custom-select:before {
    color: #333;
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    top: 5px;
    right: 7px;
    text-align: center;
    z-index: 9;
    background-color: transparent !important;
}
.u-custom-select select {
    background-color: transparent;
   /* border: 0 none;*/
    box-shadow: none;
    color: #333;
    display: block;
    line-height: normal;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px 0 5px!important;
    height: 27px!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.u-custom-select select::-ms-expand {
    display: none;  /*to ie 10 */
}
.u-custom-select select:focus {
    outline: 0!important;
}
.u-custom-select select:hover {
    cursor: pointer;
}
:-moz-any(.u-custom-select):before {
    background-color: #fff;
    pointer-events: none; 
    z-index: 1; 
}
.input-group select.form-control{
	border-radius: 4px!important
}
.input-group select.form-control.select-page{
	border-radius: 4px 0 0 4px!important
}
.drop-select{
	width: 100%;
	background: 100%
}
.icon-select-list .dropdown-menu>li>a.fa{
	font-family: fontAwesome,Roboto
}
.icon-select-list .dropdown-menu>li>a.fa:before{
	padding-right: 5px
}
.datepicker-days .active.day{
	background: #e77723!important
}
.unit-menu-tree .unit-tree{
	overflow: auto
}
.ms-options-wrap > .ms-options > ul label{
	margin: 0!important
}
.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover{
	background-color: #ececec!important;
    color: #e87722;
}
.ms-options-wrap > .ms-options{
	border-color: #ececec!important
}
/* Dots font using for field password to fix auto complete password  */
@font-face {
  font-family: 'dotsfont';
  src: url('../dotsfont/dotsfont.eot');
  src: url('../dotsfont/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('../dotsfont/dotsfont.woff') format('woff'),
       url('../dotsfont/dotsfont.ttf') format('truetype'),
       url('../dotsfont/dotsfont.svg#dotsfontregular') format('svg');
}
  
input.dotsfont {
	font-family: 'dotsfont';
}
.box-send-mail input.form-control,.box-send-mail textarea{
	border: none;
	border-bottom: 1px solid #999999;
	border-radius: 0!important;
}
.box-send-mail label{
	margin: 0
}
.textarea-body-mail textarea{
	min-height: 300px;
	max-width: 100%;
	min-width: 100%;
	border-bottom: 1px solid #ccc!important;
    border: none;
    font-size: 13px;
    color: #333;
    border-radius: 0
}
.einput-2{
    position: relative;
    margin-bottom: 10px
}
.einput-2>input{
    border-bottom: 1px solid #ccc!important;
    border: none;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    padding: 12px 0 2px 0;
    height: 33px;
    transition: all .2s ease-in-out;
    font-size: 13px;
    background: transparent;
}
.einput-2>input[value=""]:focus~label.lb-einput,.einput-2>input:valid~label.lb-einput{
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .2s ease-in-out;
    margin: 0;
    line-height: 1;
    font-weight: bold
}
.einput-2>input[value=""]~label.lb-einput{
    font-size: 13px;
    position: absolute;
    top: 11px;
    left: 0px;
    color: #333;
    transition: all .2s ease-in-out;
}
.einput-2>input:focus{
    outline: none!important;
    box-shadow: none!important
}
.flex-box{
	display: flex
}
.box-upload-tpl{
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff
}
.lb-bcc{
	position: absolute;
    right: 0px;
    top: 11px;
    font-weight: bold!important;
    cursor: pointer
}
.box-body-email-list .note-editable{
	min-height: 250px;	
}
.note-toolbar{
	z-index: 1
}
.box-upload-tpl .select2-container{
	width: 100%!important
}
.bg-content .form-group .nav-tabs>li>a{
	padding: 4px 15px
}
.form-control[disabled], .form-control[readonly],label.form-control{
	background-color: #f4f4f4
}
.datepicker-dropdown {
	z-index: 1031;
}
.input-group .input-group-addon{
	background-color: #f0f0f0;
}
.input-upload-1 input{
	background: #fff!important
}
td.holiday {
	background: #ffd503;
	color: #104f94;
	font-weight: bold;
}
.popupHoliday .modal-header {
	background: #fff;
	border-color: none;
}
.popupHoliday .modal-header .close{
	color: #333;
	opacity: 1;
}
.popupHoliday .modal-footer {
	border-top: 1px solid #f4f4f4;
}

.popupHoliday .modal-content {
	border-radius: 5px;
	border: 2px solid #fff;
}

#tableHoliday tbody tr:hover td.holiday {
	background: #ffd503;
}

#tableHoliday tbody tr td:hover {
	background: #004fb6;
    cursor: pointer;
    color: #fff;
}
#tableHoliday tbody tr:hover{
	background: #03d1ff0d;
}
.einput-2 input:focus{
	border-color: #e77723!important
}
.cursor-tr tbody tr:hover{
	cursor: pointer
}
.w100{
	width: 100%
}
.td-btn-width button{
	min-width: 74px
}
.icon-head .glyphicon-floppy-disk:before{
	content: "\f0c7";
	font-family: FontAwesome;
}
.file-name-box{
	 border: 1px solid #ccc;
    border-radius: 40px;
    padding: 1px 8px;
    background: #fff;
    display: inline-block;
    float: left;
    margin: 1px 2px;
    
}
.input-upload-1 .input-group-addon{
	background: #fff
}
.box-list-file{
	height: auto;
	min-height: 27px
}
.resize-popup {
    float: right;
    background: none;
    border: none;
    margin-top: 3px;
    font-size: 14px;
    margin-right: 7px;
    outline: none
}
.popup-resize .resize-popup i:before {
    content: "\f2d2";
    font-family: FontAwesome;
}
.modal-dialog{
	transition: all .3s ease-in-out!important;
}
.popup-resize .modal-dialog {
    width: 99%!important;
    
}
.modal-email .modal-body{
	max-height: calc(100vh - 220px);
	overflow-y: auto
}
.modal-email .modal-content{
	height: 90vh;
}
span.cut-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
        width: 370px; /* note that this width will have to be smaller to see the effect */
}
label.align-top{
	margin-top: 4px
}
#id-box-org-detail .glyphicon.icon-head-red{
	font-size: 19px;
}
.gr-btn-footer-popup{
	border-top: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
    margin: 0;
    text-align: right;
    position: relative;
    top: -1px;
	
}

.content {
	padding: 8px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	height: -webkit-fill-available;
}
	
	/* ---------------- */
.row_comment {
	background: #fff;
	border: 1px solid #dedede;
}

.bg_comment_name {
	background: #efefef;
    padding: 7px 10px 5px 10px;
    clear: both;
    float: left;
    width: 100%;
}
.no-border-bottom{
	border-bottom: none!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
.bg_comment_name>.title-box{
	color: #2f4e51;
}
.bg_comment_name_1 {
	background: #c8e6f0;
	height: 25px;
	border-top: 1px solid #fff;
}

.bg_comment_name .namefull {
	color: #de0122;
}

.bg_comment_name_left {
	text-align: left;
	width: 50%;
	float: left;
	color: #024171;
}

.bg_comment_name_right {
	text-align: right;
	width: 50%;
	float: right;
	color: #024171;
}

.bg_comment_name_left .namefull_left {
	padding-left: 182px;
}

.bg_comment_name_right span {
	padding-right: 54px;
}

.bg_contend_cm1 {
	background: #f4f4f4;
	width: 100%;
	display: table;
}

.column {
	border-bottom: 5px solid #fff;
}

.column2 {
	float: left;
	padding: 2px;
}

.column2 .date_cmm {
	float: right;
}

.bg_comment_title {
	background: #ecf6ff;
	margin-left: 0 !important;
}

.bg_avatar {
	width: 16.8%;
	position: relative;
	float: left;
}

.bg_avatar .img-circle {
	height: 40px;
	overflow: hidden;
	width: 40px;
}

.avatar_form {
	width: 15%;
	position: relative;
	float: left;
}

.avatar_form .img-circle {
	width: 50px;
	height: 50px;
}

.avatar_comment { /* position:absolute; top: 50px; right: -8px; */
	float: left;
	margin-top: 20px;
	margin-left: 96px;
}

.width_area2 {
	width: 97.8%;
	height: 60px;
}

.form_right {
	width: 75%;
	float: left;
	margin: 10px 0;
	margin-left: 20px;
}
.img-avata-full{
	width: 40px;
    height: 40PX;
    border-radius: 50%;
    background: white;
    float: right;
}
.form_right textarea {
	height: 60px !important;
}

.content_cm {
	background: none;
	float: left;
	padding-left: 20px;
	width: 77%;
	margin: 1px 0;
	border-bottom: 0px solid #fff;
	min-height: 50px;
}

.content_cm h5 {
	color: #2e5179 !important;
}

.avatar_user {
	position: absolute;
	top: 7px;
	left: 96px;
}

.accordion {
	margin: 0px auto;
	border-style: none !important;
}

.accordion-heading {
	border-bottom: 1px solid #e5e5e5;
}

.accordion-heading a {
	padding-top: 0px;
	padding-bottom: 0px;
}

.bms-icon-accordion-up {
	background: url(../images/icon_up.png) no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	vertical-align: text-top;
}

.bms-icon-accordion-down {
	background: url(../images/icon_down.png) no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	vertical-align: text-top;
}

.accordion-inner2 {
	border-top: 1px solid #e5e5e5;
	padding: 1px 0;
}

.divComments {
	margin-top: 20px;
}

.show_hide_right {
	float: right;
	width: 12%;
	cursor: pointer
}

.autocomplete-suggestions {
	background-color: #fff;
	border: 1px solid #cccccc;
	border-top: 0;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	overflow-y: auto;
}

.autocomplete-search {
	margin: 15px 0;
	position: relative;
}

.autocomplete-search-input {
	width: 100%;
	border: 0;
	border: 1px solid #c9d7f1;
	padding: 6px 50px 6px 11px;
	border-radius: 4px
}

.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected
	{
	/*     background-color: #c9d7f1; */
	color: #E40000;
}

.autocomplete-suggestions .autocomplete-suggestion {
	padding: 5px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}
.textbox{
	border: 1px solid #d2d6de!important;
}

/*EFFECT*/

/*effect sidebar*/
.sidebar a {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.sidebar a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(183, 182, 182, 0.1);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(40, 40);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(80, 80);
  }
}

.sidebar a:focus:not(:active)::after {
  animation: ripple 1s ease-in-out;
}

/*end effect sidebar*/

/*effect icon menu toggle*/
.sidebar-toggle{
	position: relative;
}
.sidebar-toggle:after{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    content: "";
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(254, 209, 65, 0.5);
    z-index: 1;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}
.select2-container--default .select2-selection--single{
	/* border-color: #ececec!important; */
	border-color: #d2d6de !important; 
}
.select2-container--default .select2-selection--multiple {
    border-color: #d2d6de !important;
}
.select2-container{
	width: 100%!important
}
.sidebar-toggle{
	position: relative
}
.sidebar-toggle:hover:after{
    width: 35px;
    height: 35px;
    opacity: 1;
}

/*end effect icon menu toggle*/

/*effect button common*/
.btn-common,.btn-cancel{
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: 1;    
}
.btn-common:after,.btn-cancel:after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -9px 0 0 1px;
    width: 30px;
    height: 16px;
    border-radius: 50%;
    background: #304d50;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: scale3d(1, 2, 1);
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.btn-common:hover{
	border: 1px solid #304d50
}
.btn-cancel:after{
	background: #ececec;
}
.btn-cancel:hover{
	color: #333
}
.btn-common:hover::after,.btn-cancel:hover::after {
    -webkit-transform: scale3d(9, 9, 1);
    transform: scale3d(9, 9, 1);
}
/*end effect button common*/

/*effect icon add/save/edit in title head*/

.icon-head .glyphicon:hover,.icon-head .fa:hover{
    animation: abtn-eff-3 1.5s linear infinite;
}
@keyframes abtn-eff-3 {
    10%  { transform: scale(1);}
    20%  { transform: scale(0.8);}
    30%  { transform: scale(1);}
    40%  { transform: scale(0.8);}
    50%  { transform: scale(1);}
    100% { transform: scale(1);}
}
/*end icon add/save/edit/ in title head*/

/*effect dropdown in header */
.content-nav-right .dropdown-menu{
    display: block;
    transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
    opacity: 0
 }
.content-nav-right .dropdown:hover > .dropdown-menu {
 	display: block;
    margin: 0;
    right: 0px;
    transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1
 }

/*end effect dropdown in header*/

/*effect hover icon action table*/
.table td .glyphicon{
	transition: 0.1s ease-in-out;
	font-weight: 600;
}
.table td .glyphicon:hover{
	transform: scale(1.1);
}
/*end effect hover icon action table*/
/*END EFFECT*/

.align-left{
	text-align: left!important 
}

.min-wd-150{
	min-width: 150px
}
.min-wd-200{
	min-width: 200px
}
.min-wd-30{
	min-width: 30px
}
.min-wd-50{
	min-width: 50px
}
.min-wd-75{
	min-width: 75px
}
.min-wd-200{
	min-width: 200px
}
.text-note{
	color: #ee1b2e;
}
.no-shadow{
	box-shadow: none
}
.pleft-10{
	padding-left: 10px
}

.position-label{
    position: relative;
    top: 5px;
}
.m-top10{
	margin-top : 10px;
}
.fileupload input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fileupload,.fileupload:hover,.fileupload:focus {
    overflow: hidden;
    position: relative;
    background: #304d50;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    padding: 3px 5px 4px 5px;
}
.label-center{
	margin-top: 3px
}
.padding-lr10{
	padding-left: 10px;
	padding-right: 10px
}
.pos-btn{
    position: relative;
    top: -4px
}
.pos-btn-5{
    position: relative;
    top: -5px
}
.form-detail {
	min-height: 27px;
    background: transparent!important;
    border: none;
    border-radius: 0!important;
    border-bottom: 1px dotted #ccc;
}
.slimScrollDiv{
	width: 0!important;
	height: 0!important
}
.sort {
	font-size:17px;
	color:white;
}
.message-error{
	color:red;
}
.message-warning{
	color:orange;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	color: #4e4e4e
}
.btn-group.bootstrap-select{
	padding: 0!important
}
#btnExport .fa-download:before{
	content: "\f08b"
}
#btnExportP .fa-download:before {
	content: "\f08b";
}
.bg-msg-err{
	background : #e4e8e9;
	min-height : 28px;
}
.custom-select{
	display: inline-block;
    width: 87%;
}
.top-popup{
	top: 10%
}
 .tab-customize.nav-tabs>li.active>a, .tab-customize.nav-tabs>li.active>a:focus, 
 .tab-customize.nav-tabs>li.active>a:hover{
	background: #fff
}

.bg-content-tbl label{
	font-weight: normal;
}
.text-bold{
	font-weight: bold !important;
}
.pos-btn-10{
    position: relative;
    top: -10px
}
.nav-tabs a{
	color: #333!important;
	border-top: 2px solid transparent!important;
	padding : 5px 15px !important;
}
.nav-tabs li:not(.active) a:hover{
	border-color: transparent transparent #ddd!important;
	color: #006269!important
}
.tab-customize + .tab-content{
	border: 1px solid #ddd;
    border-top: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-top: 2px solid #006269!important;
	color: #006269!important
}
.input-border{
	border-color : red;
	border-style : solid;
	border-width : 3px;
}
.custom-lb label{
    font-weight: normal;
    margin: 3px 0
}
.input-border{
    border-color : red;
    border-style : solid;
    border-width : 3px;
}
.differenceRow{
    background: #fed141 !important;
    color: #304e50;
    background-color: #fed141 !important;
}
.style-icon-add-row{
	font-size : 17px;
	color : #0097a9;
}
.row-wrap-text {
    width: 20%;
    word-break: break-word;
}
.overflow {
  width: 20em;
  /**
   * Required properties to achieve text-overflow
   */
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis { text-overflow: ellipsis; }

.no-margin {margin: 0 0 0px;}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
	    padding-left: 0px !important;
	    text-align: left !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
 	color : #555 !important;
}
.select-group .select2-selection{
	border-right: none!important;
    border-radius: 4px 0 0 4px!important;
    border-color: #d2d6de!important;
}
.select-group .input-group-addon{
	background: #fff;
	vertical-align: top;
}
.select-group .input-group-addon input{
	margin-top: 2px
}

.pdf-icon i{
	font-size: 20px;
    padding-left: 5px;
    color: #e87722;
}

.wrapper{
	overflow: initial !important;
}

.not-active {
  	pointer-events: none;
  	cursor: default !important;
  	text-decoration: none;
	background-color: #cec8c4!important;
    border-color: #cec8c4!important;
}

.not-active-tr{
  	pointer-events: none;
  	cursor: default !important;
  	text-decoration: none;
	background-color: #f4f4f4!important;
    border-color: #cec8c4!important;
}

.bg-content .form-group label{
	margin: 4px 0
}
#popupImport_wrapper .row:nth-child(2){
	overflow: auto;
	margin:0;
	height: 320px
}
#popupImport_wrapper .row:nth-child(2)>.col-sm-12{
	padding: 0
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0!important;
	margin:0!important
}
table.dataTable thead th{
	padding-right: 20px!Important
}
.dataTables_paginate .pagination>li>a,.dataTables_paginate .pagination>li>span{
	padding: 4px 10px!important
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
	    background-color: #aebebe!important;
	    color: #fff!important
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border: none!important
}

table.dataTable thead .sorting:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc:after{
	content: " "!important;
}
