@media only screen and (max-width: 375px) {
	.navbar-right ul.info-user li{
		padding: 5px 4px 0px 4px!important
	}
	.gr-btn-change-color button{
		margin-right: 2px
	}
	.navbar-right ul.info-user li img.img-avata{
		width: 25px!important
	}
	.gr-notifi i{
		font-size: 14px;
	}
	.item-oclock i {
	    font-size: 18px!important;
	}
	.info-user ul:before {
	    right: 7px!important;
	}
	.navbar-right ul.info-user button i{
		font-size: 12px;
	}
	body .main-sidebar {
	    padding-top: 65px!important;
	}
}
@media only screen and (max-width: 550px) {
	/*header*/
	.logo-mobile img {
	    width: 70px!important;
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	.navbar-right ul.info-user li img.img-avata{
		width: 31px;
	}
	.navbar-right ul.info-user .notifi{
		right: -3px;
		top: 0px;
	}
	.navbar-right ul.info-user .item-oclock .notifi {
	    top: 3px;
	}
	.text-welcome{
		display: none;
	}
	.navbar-right ul.info-user>li:first-child{
		padding-left: 5px;
	}
	.navbar-right ul.info-user li{
		padding: 5px 5px 0px 5px
	}
	.navbar-right ul.info-user li img.img-avata{
		margin-right: 0;
	}
	.dropdown-info-user:before{
		display: none;
	}
	.dropdown-info-user{
		padding-right: 0
	}
	.language img {
	    width: 15px;
	    height: 10px;
	}
	.info-user ul:before{
		right: 12px;
	}
	/*end header*/

	/*res pagging*/
	.bg-content{
		padding: 9px;
	}
	.content-wrapper{
		padding: 0 8px;
	}
	.pagination>li>a, .pagination>li>span {
	    padding: 4px 7px!important;
	}
	.pagging .no-border{
		padding: 0!important
	}
	.page-item select{
		padding: 4px;
	}
	.bootstrap-select.btn-group .dropdown-toggle{
		height: 27px
	}
	.fa-long-arrow-left,.fa-long-arrow-right,.page-text{
		display: none;
	}
	.bootstrap-select button{
		padding: 5px 3px;
	}
	/*group radio/checkbox*/
	.width-box{
		width: auto;
	}
}
@media only screen and (max-width: 767px) {
	.bg-skin-light-blue .icon-bar{
		background: #cd9934;
	}
	.sidebar-toggle:after{
		display: none
	}
	.pagination-select .input-group{
		display: inline-block
	}
	.pagination-select .blu{
		position: relative;
		top: -15px
	}
	/*res header*/
	.title-head{
		margin-left: 0!important;
		padding: 3px 0 0 3px;
	}
	.navbar-right ul.info-user li{
		padding-bottom: 3px
	}
	.title-head h3{
    	margin: 5px 0px!Important;
	}
	.btn-menu-mobile{
		background: #fff;
		box-shadow: 0px 2px 2px #ccc
	}
	.menu-header-right .nav>li:hover>a{
		background: #fff!important;
		color: #319eff!important;
		border-radius: 0!important
	}
	.menu-header-right .nav .open>a:focus, .menu-header-right .nav .open>a {
	    background: #008ae7;
	    color: #ffffff;
	}
	.logo{
		display: none!important;
	}
	.logo-lg img{
		padding: 4px 0 4px 9px;
		width: 84px;
	}
	.navbar-nav .open .dropdown-menu>li>a{
		line-height: 17px
	}
	.b-bottom-menu{
		margin-left: 0
	}
	header .menu-header-right {
		float: left!important;
		width: 100%;
		padding-right: 0;
	}
	.navbar-fixed-top .navbar-collapse{
		float: left;
	    width: 100%;
	    background: #009afe;
	    margin-left: -3px;
	}
	.navbar-header>button{
		padding: 0 10px 0 0;
	}
	.logo-mobile{
		display: inline-block!important;
	}
	header{
		border-left: none;
	}
	.menu-header-right ul>li.dropdown>a{
		color: #fff
	}
	.btn-menu-mobile{
		display: block!important;
	}
	.show-desktop,.name-user{
		display: none;
	}
	header h3{
		display: none;
	}
	.wrapper .navbar-static-top{
		width: 100%;
	}
	.logo img{
		width: 126px;
		float: left;
		margin-top: 0px;
	}
	.content-nav-right ul{
		left: auto;
		right: 0;
	}
	.sidebar-toggle{
		padding: 0px 15px 7px 10px!important;
		margin: 0
	}
	.bg-skin-light-blue .sidebar-toggle:hover,.sidebar-toggle:hover{
	    background: #ececec!important;
	}
	.main-header .navbar{
		min-height: auto;
	}
	.menu-header-right .open > .dropdown-menu {
	    background: #008ae7;
	    border-radius: 0;
	}
	.text-welcome{
		display: none;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right{
		padding-right: 0
	}
	/*end res header*/

	/*res menu left*/
	.treeview-menu .treeview-menu{
		padding-left: 0;
	}
	.treeview-menu{
		padding-left: 0px
	}
	.main-sidebar{
		padding-top: 69px!important;
		border-left: none!important
	}
    /*end responsive nav menu left*/

    /*title head*/
    .content-bottom{
    	padding: 0 5px;
    }
    .title-head{
    	width: 100%;
    	position: static;
    }
    .sidebar-open .title-head{
    	border-left: none
    }
    .title-head h3 {
	   	margin: 9px 15px;
    	font-size: 15px;
	}
	.icon-head {
	    padding: 5px 9px 5px 7px;
	}
	.content-wrapper{
		margin-left: 0;
		padding-top: 73px!important;
		padding: 0;
	}
	.head-content-wrapper{
		margin-left: 0;
		width: 100%;
	}
	.content-breadcrumb ul{
		padding-left: 45px!important;
	}
	body .breadcrumb{
		margin-bottom: 0;
	}
    /*end title head*/

    /*box-search*/
    .form-search {
		padding: 0
	}
	.form-search label{
		text-align: left;
		padding: 0
	}
	.main-box-bg .bootstrap-select{
		margin-bottom: 10px
	}
    /*end box-search*/


	/*responsive table*/
	.table-fixed-head table {
	    width: 1000px;
	    max-width: 1000px
	}
	/*end responsive table*/

	/*responsive popup*/
	.modal-dialog{
		width: 100%
	}
	/*end res popup*/

	/*responsive footer*/
	footer{
		left: 0!important;
		border-left: none!important;
		border-bottom: none!important
	}
	/*end responsive footer*/
}
@media only screen and (min-width: 768px){
	header{
		height: 50px;
	}
	header .logo{
		height: 50px!important;
		font-size: 10px;
		line-height: 1px!important;
		transition: all 0.3s ease-in-out!important;
	}
	.btn-menu-mobile{
		display: none!important;
	}
	.show-desktop{
		display: block;
	}
	.sidebar-menu .treeview-menu>li>ul>li>a {
	    padding-left: 47px!important;
	}
	.treeview ul ul.treeview-menu,.treeview ul ul.treeview-menu a{
	 	background: #f2f3f5;
	}
	.content-nav-right .dropdown:hover .dropdown-menu{
		display: block!important;
		margin-top: -1px
	}
	.menu-header-right .dropdown:hover .dropdown-menu{
		display: block!important;
		background: #0099ff;
		border: none;
		margin-top: -2px;
	}
	.content-nav-right .dropdown.open .dropdown-menu{
		display: none
	}
	.menu-header-right .dropdown.open .dropdown-menu {
	    display: none;
	}
	.menu-header-right .nav>li:hover>a,.menu-header-right .nav>li:active>a,
	.menu-header-right .nav>li:focus>a{
		background: #0099ff;
		border-radius: 3px;
		color: #fff;
	}
}

@media only screen and (max-width: 991px){
	.flex-box{
		display: block
	}
	.content-header>.breadcrumb{
		background: transparent!important;
		margin-top: 0!important
	}
}
@media only screen and (min-width: 1000px){
	.mCSB_horizontal.mCSB_inside>.mCSB_container{
		width: 100%!important
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){	
	/*responsive header*/
	.language img{
		width: 17px;
    	height: 11px;
	}
	header .logo,header {
	    height: 50px!important;
	}
	.name-user {
	    padding-left: 41px;
	}
	.text-welcome{
		left: -7px
	}
	.navbar-right .info-user{
		padding-top: 8px;
	}
	.gr-btn-change-color button{
		margin-right: 3px;
	}
	.navbar-left h3,header h3{
		font-size: 16px!important;
    	margin-top: 16px;
		margin-bottom: 13px;
	}
	.navbar-right ul.info-user li {
	    padding: 1px 5px 2px 5px;
	}
	.navbar-right ul.info-user .notifi {
	    top: -2px;
	    right: -2px;
	}
	.navbar-right ul.info-user button i{
		font-size: 13px;
	}
	.info-user ul:before{
		right: 12px;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right{
		padding: 0;
	}
	.main-sidebar{
		padding-top: 51px;
	} 
	.content-header{
		top: 50px;
	}
	/*end responsive header*/

	/*responsive box seach*/
	.main-box-bg .bootstrap-select{
		margin-bottom: 10px;
	}
	/*end box search*/


	/*responsive table*/
	.table-fixed-head table {
	    width: 1000px;
	    max-width: 1000px
	}
	/*end responsive table*/
}

