<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3><i class="fa fa-info-circle"></i> <span th:text="#{error.page}" class="text-danger">Error page</span></h3>
	   </div>
	</div>
		
    <section class="content">
	    <div class="error-page">
            <h2 class="headline" th:text=" ${errorCode}" th:classappend="${warningFlg} ? text-yellow : text-red"> 404</h2>

            <div class="error-content">
                <h3>
                    <i class="fa fa-warning" th:classappend="${warningFlg} ? text-yellow : text-red"></i> 
                    <th:block th:text=" ${errorTitle}"> Oops! Page not found.</th:block>
                </h3>
                <p>
                    <th:block th:text="${errorContent}">We could not find the page you were looking for.</th:block>
                    <th:block th:text="#{error.hint}">Meanwhile, you may</th:block> <a th:href="@{/}" th:text="#{error.hint.back.root}">return to dashboard</a>.
                </p>
            </div>
        </div>
	</section>
</html>
