<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="table-responsive" style="max-height: 350px">
        <table id="tblDataTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th><input type="checkbox" id="checkAll" /></th>
              <th>Asset Type</th>
              <th>Name of the Asset</th>
              <th>Asset Description</th>
              <th>Asset Category</th>
              <th>Asset Sub Category</th>
              <th>IMEI</th>
              <th>Asset Tag</th>
              <th>Serial No</th>
              <th>Quantity</th>
              <th>Unit of Measure</th>
              <th>Asset Register Date</th>
              <th>Office Location</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
						<td class="text-center">1</td>
						<td class="td-action">
							<div class="align-center">
								<input type="checkbox" />
							</div>
						</td>
						<td class="text-left">IT Asset</td>
						<td class="text-left">Lenovo ThinkPad x2500000000</td>
						<td class="text-left">Lenovo ThinkPad x250</td>
						<td class="text-left">Hardware</td>
						<td class="text-left">Laptop</td>
						<td class="text-left"></td>
						<td class="text-left"></td>
						<td class="text-left"></td>
						<td class="text-center">1</td>
						<td class="text-left">Each</td>
						<td class="text-center">26/07/2019</td>
						<td class="text-left">Kho Diamond Plaza</td>
					</tr> -->
            <th:block
              th:each="asset,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr th:attr="data-asset-tag=${asset.assetTag}">
                <td th:text="${i.index + startIndex}" class="text-center"></td>
                <td class="text-center">
                  <div>
                    <div class="align-center">
                      <input
                        class="checkboxes"
                        th:id="${i.index}"
                        th:value="${asset.assetTag}"
                        type="checkbox"
                      />
                    </div>
                  </div>
                </td>
                <td class="text-left" th:text="${asset.assetTypeName}"></td>
                <td class="text-left" th:text="${asset.assetName}"></td>
                <td class="text-left" th:text="${asset.assetDescription}"></td>
                <td class="text-left" th:text="${asset.assetCategoryName}"></td>
                <td
                  class="text-left"
                  th:text="${asset.assetSubCategoryName}"
                ></td>
                <td class="text-left" th:text="${asset.imei}"></td>
                <td class="text-left" th:text="${asset.assetTag}"></td>
                <td class="text-left" th:text="${asset.serialNumber}"></td>
                <td class="text-center" th:text="${asset.quantity}"></td>
                <td class="text-left" th:text="${asset.uomName}"></td>
                <td
                  class="text-center"
                  th:text="${asset.registrationDate} ? ${#dates.format(asset.registrationDate, @menuConfig.getFormDate())}"
                ></td>
                <td class="text-left" th:text="${asset.assetLocationName}"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>

      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapper})"
      />
    </div>
  </body>
  <script th:inline="javascript">
    /*<![CDATA[*/
        var listAsset = [[${pageWrapper.data}]];
    /*]]>*/
  </script>
  <script
    type="text/javascript"
    th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passet-transfer/asset-transfer-modal-list.js}"
  ></script>
</html>
