<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <script type="text/javascript">
                    $(document).ready(function($) {
                        $(".widgetApprovalHiddenApprover").toggle("fast", "swing");
                        $('.widgetApprovalToggleLog').toggle();

                        $("#widgetApprovalViewAllApprover").click(function() {
                            $(".widgetApprovalHiddenApprover").toggle("fast", "swing");
                            $('.widgetApprovalToggleLog').toggle();
                        });

                        $("#widgetApprovalShowApproverPopup").click(function() {
                            $('#widgetApprovalApproverPopupDiv').modal('show');
                        });
                    });
                </script>
	<div class="bg-content clearfix bg-content-tbl">
   		<th:block th:include="views/mockup/mockup-document-list.html :: content" />
   	</div>
   	
   	<div class="bg-content clearfix bg-content-tbl">
   		<div data-toggle="collapse" data-target="#search-box-4" class="header-box">
	   	 	<h2 class="title-box">Approval information</h2>
	   	 	<i class="fa fa-minus pull-right" aria-hidden="true"></i>
	   	 </div>
	   	 <div class="collapse in row m-0" id="search-box-4">
		    <div class="bg_contend_cm1 column">
		
		        <!--REQUEST BY -->
		        <div class="bg_comment_name">
		            <h2 class="title-box no-border-bottom" style="font-weight: bold;">Comments</h2>
		        </div>
		
		        <!--NEW COMMENT START -->
		
		        <div class="unit-bg-com clearfix col-sm-12" style="padding: 10px 0">
		            <!--                        <div class="form-group" style="font-weight: bold"> -->
		            <!--                            <div class="col-sm-2"> -->
		            <!--                                <span class="namefull_left pull-right">Requested by:</span> -->
		            <!--                            </div> -->
		            <!--                            <div class="col-sm-4"> -->
		            <!--                                <span class="namefull" style="color: red">admin</span> -->
		            <!--                            </div> -->
		            <!--                            <div class="col-sm-2"> -->
		            <!--                                <span class="namefull_left  pull-right">Request date:</span> -->
		            <!--                            </div> -->
		            <!--                            <div class="col-sm-4"> -->
		            <!--                                <span style="color: red">20-Dec-2018 13:53</span> -->
		            <!--                            </div> -->
		            <!--                        </div> -->
		            <div class="form-group">
		                <div class="col-sm-2">
		
		                    <!--                                <choose> <c:when test="${not empty (approvalBean.currentApprover.imagePath)}"> -->
		                    <!--                                    <img alt="" class="img-circle avatar_comment" src="${url }/ajax/download?fileName=${approvalBean.currentApprover.imagePath}"> -->
		                    <!--                                </c:when> <c:otherwise> -->
		                    <img alt="user image" class="img-avata-full" src="/ep2p/static/images/avata.png"></img>
		                    <!--                                </c:otherwise> </choose> -->
		                </div>
		                <div class="col-sm-10">
		
		                    <textarea id="widgetApprovalComment" class="width_area2 form-control " style="min-height: 70px"
		                        name="comments"></textarea>
		                </div>
		            </div>
		        </div>
		
		        <!--NEW COMMENT END -->
		        <div class="form-group text-center">
		            <button id="button-approval-module-save-draft-id" type="button" class="btn btn-common btn-in-table btn-save">
		            	<i class="fa fa-save"></i>
		            	Save
		            </button>
		            <button class="button-approval-module btn-common btn-in-table" type="button" id="button-approve-quantity-id" value="10024">
		            	<i class="fa fa-save"></i> Submit
		            </button>
		            <button class="button-approval-module btn-common btn-in-table" type="button" id="button-approve-quantity-id" value="10024">
		            	<i class="fa fa-check"></i> Approve
		            </button>
		            <button class="button-approval-module btn-common btn-in-table" type="button" id="button-approve-quantity-id" value="10024">
		            	<i class="fa fa-reply" aria-hidden="true"></i> Return
		            </button>
		            <button class="button-approval-module btn-cancel btn-in-table" type="button" id="button-reject-id" value="10025">
		            	<i class="fa fa-times" aria-hidden="true"></i> Reject
		            </button>
		        </div>
		    </div>
		    <div class="bg-content clearfix divComments">
		        <div class="accordion-group" id="accordion2_2">
		            <div data-toggle="collapse" data-target="#progress-info" class="header-box collapsed" aria-expanded="false">
		                <div class="pull-right">
		                	<i class="fa fa-minus " aria-hidden="true"></i>
		                	<span>  Approval History</span>
		                </div>
		            </div>
		            <div class="row m-0 collapse" id="progress-info" aria-expanded="false">
		
		                <!-- 				<div class="bg_contend_cm1 column"> -->
		
		                <!-- 					NEW CURRENT STATUS -->
		                <!-- 					<div class="bg_comment_name"> -->
		                <!-- 						<h2 class="title-box no-border-bottom" style="font-weight: bold;">Data profile</h2> -->
		                <!-- 					</div> -->
		
		                <!-- 					<div class="unit-bg-com clearfix col-sm-12" style="padding: 10px 0"> -->
		                <!-- 						<div class="col-sm-4"> -->
		
		
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Owner</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="autocomplete-search-input form-control" type="text" name="owner.fullname" id="widgetApprovalOnwerId" autocomplete="off" -->
		                <!-- 										value="hangnkm - vinhr47@gmail.com" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Assignee</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="autocomplete-search-input form-control" type="text" name="assignee.fullname" id="widgetApprovalAssigneeId" autocomplete="off" -->
		                <!-- 										value="Super Admin - vinhlt@unit.com.vn" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 							<div class="form-group" style="font-weight: bold"> -->
		                <!-- 								<div class="col-sm-4"> -->
		                <!-- 									<span class="namefull_left">Status:</span> -->
		                <!-- 								</div> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<span class="namefull" style="color: red">Waiting for approve quantity</span> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 						</div> -->
		                <!-- 						<div class="col-sm-4"> -->
		
		
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Department</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="form-control" id="label-owner-department-name" style="color: orange; font-weight: bold;" readonly="readonly" value="Phòng IT 2" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Department</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="form-control" id="label-assignee-department-name" style="color: orange; font-weight: bold;" readonly="readonly" -->
		                <!-- 										value="Phòng IT 2" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 						</div> -->
		                <!-- 						<div class="col-sm-4"> -->
		
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Branch</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="form-control" id="label-owner-branch-name" style="color: orange; font-weight: bold;" readonly="readonly" value="ウニット株式会社" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 							<div class="form-group"> -->
		                <!-- 								<label class="col-sm-4">Branch</label> -->
		                <!-- 								<div class="col-sm-8"> -->
		                <!-- 									<input class="form-control" id="label-assignee-branch-name" style="color: orange; font-weight: bold;" readonly="readonly" value="Phòng IT" /> -->
		                <!-- 								</div> -->
		                <!-- 							</div> -->
		                <!-- 						</div> -->
		                <!-- 					</div> -->
		
		                <!-- 					NEW CURRENT STATUS END -->
		
		                <!-- 				</div> -->
		
		                <!-- 		APPROVAL HISTORY LIST START -->
		                <div class="box-header no-padding">
		                    <h2 class="title-box section-heading text-bold">Approval History</h2>
		
		                </div>
		                <div class="row_comment" id="end_div" style="border-top: 0px">
		
		                    <div class="row_fluid" style="margin-top: 5px; border-top: 1px solid;">
		
		
		
		                        <div class="divComment">
		                            <div class="bg_contend_cm1 column" style="padding: 10px 0">
		
		                                <div class="col-sm-2">
		
		                                    <img id="imgAccount" class="img-avata-full"
		                                        src="/ep2p/ajax/download?fileName=account_avatar%5C@@@z12363562900680635bf4158b840a9686e8da31dc5bff9__1547612835506.jpg"></img>
		                                </div>
		
		                                <div class="col-sm-10">
		                                    <h5>
		                                        <span style="font-weight: bold;">admin</span> <span>Submitted on</span> <i
		                                            style="font-weight: normal; color: #3097b6;">20-Dec-2018 13:53</i> <span>
		                                            and status was changed to </span><span style="font-weight: normal; color: red;">Waiting
		                                            for approve quantity</span>
		                                    </h5>
		                                    <p>
		                                        <span style="font-weight: bold;">Comments</span> : <span></span>
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		
		
		
		
		                        <div class="divComment">
		                            <div class="bg_contend_cm1 column" style="padding: 10px 0">
		
		                                <div class="col-sm-2">
		
		                                    <img class="img-avata-full" alt="" src="/ep2p/static/images/avata.png"></img>
		                                </div>
		
		                                <div class="col-sm-10">
		                                    <h5>
		                                        <span style="font-weight: bold;">Super Admin</span><span> Approved
		                                            quantity on </span> <i style="font-weight: normal; color: #3097b6;">20-Dec-2018
		                                            14:02</i><span>and status was changed to </span><span
		                                            style="font-weight: normal; color: red;">Draft</span>
		                                    </h5>
		                                    <p>
		                                        <span style="font-weight: bold;">Comments</span> : <span>asdasd</span>
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		
		
		
		
		                        <div class="divComment">
		                            <div class="bg_contend_cm1 column" style="padding: 10px 0">
		
		                                <div class="col-sm-2">
		
		                                    <img class="img-avata-full" alt="" src="/ep2p/static/images/user.jpg"></img>
		                                </div>
		
		                                <div class="col-sm-10">
		                                    <h5>
		                                        <span style="font-weight: bold;">admin</span> <span> Submitted on </span> <i
		                                            style="font-weight: normal; color: #3097b6;">20-Dec-2018 15:07</i><span>and
		                                            status was changed to </span><span style="font-weight: normal; color: red;">Waiting
		                                            for approve quantity</span>
		                                    </h5>
		                                    <p>
		                                        <span style="font-weight: bold;">Comments</span> : <span>asdasdasd</span>
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		
		
		
		                        <div class="divComment widgetApprovalHiddenApprover" style="display: none;">
		
		                            <div class="bg_contend_cm1 column" style="padding: 10px 0">
		
		                                <div class="col-sm-2">
		
		                                    <img class="img-avata-full" alt="" src="/ep2p/static/images/avata.png"></img>
		                                </div>
		
		                                <div class="col-sm-10">
		                                    <h5>
		                                        <span style="font-weight: bold;">Super Admin</span><span> Approved
		                                            quantity on </span> <i style="font-weight: normal; color: #3097b6;">24-Dec-2018
		                                            12:04</i><span>and status was changed to </span><span
		                                            style="font-weight: normal; color: red;">Draft</span>
		                                    </h5>
		                                    <p>
		                                        <span style="font-weight: bold;">Comments</span> : <span>asdasd</span>
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		
		
		
		
		                        <div class="divComment widgetApprovalHiddenApprover" style="display: none;">
		
		                            <div class="bg_contend_cm1 column" style="padding: 10px 0">
		
		                                <div class="col-sm-2">
		
		                                    <img class="img-avata-full" alt="" src="/ep2p/static/images/user.jpg"></img>
		                                </div>
		
		                                <div class="col-sm-10">
		                                    <h5>
		                                        <span style="font-weight: bold;">admin</span><span> Submitted on </span> <i
		                                            style="font-weight: normal; color: #3097b6;">24-Dec-2018 12:13</i><span>and
		                                            status was changed to </span><span style="font-weight: normal; color: red;">Waiting
		                                            for approve quantity</span>
		                                    </h5>
		                                    <p>
		                                        <span style="font-weight: bold;">Comments</span> : <span>asdasd</span>
		                                    </p>
		                                </div>
		                            </div>
		                        </div>
		
		
		
		                    </div>
		                </div>
		                <!-- APPROVAL HISTORY LIST END -->
		                <!-- TOGGLE APPROVAL -->
		                <div class="row_fluid">
		
		                    <div class="show_hide_right" id="widgetApprovalViewAllApprover" style="color: #3097b6;">
		                        <i class="widgetApprovalToggleLog" style="display: none;"><span>Show summary</span></i> <i
		                            class="widgetApprovalToggleLog" style=""><span>Show all</span></i>
		                    </div>
		
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>

</html>