/*=================left navibar begin=========================================*/

.gw-container.gw-main-container .contain_left.contain_left-fixed,
.gw-container.gw-main-container .contain_left.contain_left-fixed:before { left: auto }

.contain_left {
  position: absolute;
  border: 1px solid #e5e5e5;
  border-width: 0 1px 0 0;
  background-color: #003070;
  bottom: 0;
  left: 0;
}
.title-menu-left {
	background: #002458;
}
.title-menu-left h2 {
	padding: 15px 0px 15px 0px;
	font-size: 18px;
	color: #3399cc;
}
.search-menu-left {
	background: #c5161d;
	padding: 20px;
}
.search-menu-left .input-search {
	background: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #fff;
	color: #fff;
	border-radius: 0px;
}


.contain_left .nano-pane {
  background: rgba(255, 255, 255, 0);
  font-size: 15px;
}


.contain_left .menu_left-list li a { padding-left: 15px; }

.menu_left-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.menu_left-list>li:first-child { border-top: 0; }
.menu_left-list>li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #013a86;
  position: relative;
  text-decoration: none;
}
.hide_text{
  display: none;
}
.menu_left-list .icon_menu{
  margin-right:5px;
}
.icon_item{
  display: inline-block;
  background: #003070;
  vertical-align: top;
  position: relative;
  padding-right:8px;
}
.icon_item::before{
  content: "\f142";
  font-size: 15px;
  font-family: FontAwesome;
  color:#0157a8;
  position: absolute;
}
.menu_left-list>li .gw-submenu1>li>a:hover .icon_item::before, .menu_left-list>li .gw-submenu1>li>a:hover .text_item2{
  color:#fff!important;
}
.gw-submenu1 li.active .icon_item::before{
  color: #fff!important;
}
.icon_sub_item{
  display: inline-block;
  background: #ccc;
  vertical-align: top;
  position: relative;
  padding-right:16px;
}
.icon_sub_item::before{
  content: "\f141";
  font-size: 15px;
  font-family: FontAwesome;
  color:#0157a8;
  position: absolute;
}
.menu_left-list>li .gw-submenu2>li>a:hover .icon_sub_item::before{
  color:#fff!important;
}
 @-webkit-keyframes 
arrow-slide {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
@-moz-keyframes 
arrow-slide {  0% {
}
 100% {
-moz-transform:rotate(225deg);
z-index:3
}
}
@-ms-keyframes 
arrow-slide {  0% {
}
 100% {
-ms-transform:rotate(225deg);
z-index:3
}
}
 @-webkit-keyframes 
arrow-slide1 {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
@-moz-keyframes 
arrow-slide1 {  0% {
}
 100% {
-moz-transform:rotate(225deg);
z-index:3
}
}
@-ms-keyframes 
arrow-slide1 {  0% {
}
 100% {
-ms-transform:rotate(225deg);
z-index:3
}
}

.menu_left-list>li.arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: arrow-slide .5s 0s ease both;
  -moz-animation: arrow-slide .5s 0s ease both;
  -ms-animation: arrow-slide .5s 0s ease both;
}

.menu_left-list>li.init-arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_left-list>li.arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: arrow-slide1 .5s 0s ease both;
  -moz-animation: arrow-slide1 .5s 0s ease both;
  -ms-animation: arrow-slide1 .5s 0s ease both;
  animation: arrow-slide1 .5s 0s ease both;
}

.menu_left-list>li.init-arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #013a86;
  border-left: 1px solid #013a86;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_left-list>li.active { background-color: #333; }

.menu_left-list>li>a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: none;
  color: #ffffff;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
}

.gw-open > a { outline: 0; }

.menu_left-list>li.gw-open { border-bottom-color: #e5e5e5 }

.menu_left-list>li.gw-open>a {
  background-color: #fafafa;
  color: #1963aa
}

.menu_left-list .gw-open>a,
.menu_left-list .gw-open>a:hover,
.menu_left-list .gw-open>a:focus { background-color: #fafafa }

.menu_left .gw-open > a,
.menu_left .gw-open > a:hover,
.menu_left .gw-open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}

.menu_left-list>li.active>a,
.menu_left-list>li.active>a:hover,
.menu_left-list>li.active>a:focus,
.menu_left-list>li.active>a:active {
  background-color: #00377f;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}

.menu_left-list>li>a,
.menu_left-list .menu_left-header { margin: 0 }
.menu_left-list>li.active>a>[class*="icon-"] {
 font-weight: normal
}

.menu_left-list>li.active>a:hover:before { display: none }

.menu_left-list>li.active:before {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #c5161d;
  border-width: 0 3px 0 0;
}
.menu_left-list li.gw-open>a:after { display: none }

.menu_left-list>li a>.gw-arrow {
  display: inline-block;
  width: 14px!important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  color: #666
}

.menu_left-list>li a:hover>.gw-arrow,
.menu_left-list>li.active>a>.gw-arrow,
.menu_left-list>li.gw-open>a>.gw-arrow { color: #fff;}

.menu_left-list>li>a>[class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px
}

.menu_left-list>li.active .gw-submenu1 {
 display: block -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -ms-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
}

.menu_left-list>li .gw-submenu1 {
  font-size: 13px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #0070e0;

}

.menu_left-list>li .gw-submenu2 {
  font-size: 13px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #0066cc;
  border-top: 0px solid #0073e6;
}

.menu_left-list>li .gw-submenu1>li {
  margin-left: 0;
  position: relative
}

.menu_left-list>li .gw-submenu1>li>a {
  display: block;
  position: relative;
  color: #fff;
  padding: 7px 0 9px 35px;
  margin: 0;
  border-top: 1px dotted #4393ff;
  font-size: 14px;
  text-decoration: none;
}
.menu_left-list>li .gw-submenu2>li>a {
  display: block;
  position: relative;
  color: #fff;
  padding: 7px 0 9px 50px;
  margin: 0;
  border-top: 1px dotted #0073e6;
  font-size: 14px;
  text-decoration: none;
}
.menu_left-list>li .gw-submenu1>li>a:focus { text-decoration: none }

.menu_left-list>li .gw-submenu1>li>a:hover {
  text-decoration: none;
  color: #fff;
  /*color: #01579c;
  background-color: rgba(25,25,50,0.1); */
  background-color:#0080ff;
}
.menu_left-list>li .gw-submenu2>li>a:hover{
  background-color:#0080ff;
  color: #fff;
}
.menu_left-list>li .gw-submenu1>li.active:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: none;
}
/* .gw-submenu1 li.open.active>.gw-submenu2{
  display:block;  
} */
.menu_left-list>li .gw-submenu1>li.active>a { 
  color: #fff;
  background-color:#c5161d; 
}

.menu_left-list>li .gw-submenu1>li a>[class*="icon-"]:first-child {
  display: none;
  font-size: 12px;
  font-weight: normal;
  width: 18px;
  height: auto;
  line-height: 12px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 1;
  background-color: #FFF
}

.menu_left-list>li .gw-submenu1>li.active>a>[class*="icon-"]:first-child,
.menu_left-list>li .gw-submenu1>li:hover>a>[class*="icon-"]:first-child { display: inline-block }

.menu_left-list>li .gw-submenu1>li.active>a>[class*="icon-"]:first-child { color: #c86139 }

.menu_left-list>li>.gw-submenu1>li:first-child>a { border-top: 0px; }

.menu_left-list li .gw-submenu1 { overflow: hidden }

.menu_left-list li.active.gw-open>.gw-submenu1>li.active.gw-open>a.dropdown-toggle:after { display: none }

.menu_left-list li.active>.gw-submenu1>li.active>a:after { display: none }

.menu_left-list li.active.gw-open>.gw-submenu1>li.active>a:after { display: block }

.menu_left-tabs li[class*=" icon-"],
.nav-tabs li[class^="icon-"] {
  width: 1.25em;
  display: inline-block;
  text-align: center
}

/*=================left navibar end=========================================*/

.contain_left {
	position: fixed;
	top: 62px;
}
