.modal-title{
    color: #ed1b23;
    font-family: Roboto Bold, sans-serif!important;
    font-size: 16px;
}
.modal-header,.modal-footer{
	border-bottom: none!important;
	border-top: none!important;
}
.modal-header .close,.modal-header .close:focus{
	color: #013366;
	opacity: 1;
	font-size: 25px;
}
.modal-content{
	background: #fff;
	border: 1px solid #777777;
	padding: 5px 25px;
}
.modal-backdrop {
    background-color: #898585!important;
}
