.main-box-bg select{
  border: 1px solid #ccc;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
}
.main_content{
  padding-top: 3px
}
.content-wrapper{
  padding-top: 105px!important;
  background-color: transparent;
  margin-left: 280px;
  min-height: auto!Important
}

/*title head*/
.title-head h3 i{
 	display: none;
}
.sidebar-collapse .title-head{
  width: calc(100% - 50px);
  left: 50px
}
.title-head{
  	padding: 14px 20px 10px 20px;
    background: #fff;
    border-bottom: 1px solid #6d5c5b;
    position: fixed;
    width: calc(100% - 280px);
    left: 280px;
    top: 50px;
    z-index: 900;
    transition: all 0.3s ease-in-out;
}
.title-head .u-btn{
	padding-left: 10px;
	padding-right: 10px;
}
.title-head h3{
  	font-size: 18px;
    margin: 0;
    position: relative;
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
}
.title-head h3>span {
    padding-left: 35px;
}
.title-head h3:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ed1b23;
    display: inline-block;
    position: absolute;
    top: 10px;
}
.icon-head{
  float: right
}
.icon-head a {
  cursor: pointer;
  display: inline-block;
}
.icon-head-red{
  font-size: 28px;
   padding-left: 5px;
}
/*end title head*/

/*background common*/
.bg-content{
  	border-radius: 6px;
    padding: 15px;
    color: #1a1818;
    margin: 0 0 15px 0;
    background: #fff;
    border: 1px dashed #9a9a9a;
}
.bg-content-statictis{
   border-radius: 0;
   padding: 20px;
   margin: 0 0 15px 0;
   background-color: #fff;
}


/*background common*/
.form-control:focus {
    border-color: #bdc0c8;
}

/*group btn bottom*/
.gr-btn-bottom{
  padding-top: 15px;
}
.content-bottom{
  padding:20px
}

.ms-options-wrap > button:focus, .ms-options-wrap > button{
    border: 1px solid #9f9f9f!important;
    padding: 6px 20px 6px 5px!important;
    font-size: 13px!important;
    border-radius: 4px;
}
.ico-custom:before{
  width: 18px;
  height: 18px;
}
.flex-title{
  display: flex;
    align-items: center;
}
.ico-plus{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative
}
.ico-plus:after{
    position: absolute;
    content: ' ';
    height: 2px;
    width: 35px;
    background-color: #fff;
    transform: rotate(90deg);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.ico-plus:before{
    position: absolute;
    content: ' ';
    height: 35px;
    width: 2px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.box-page-wrapper {
    padding: 0px 0 15px 0;
}
.box-dashboard {
    padding: 0 10px 10px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor:pointer;
    margin: 0 7px;
    flex-direction: column;
    flex: 0 0 calc( 20% - 14px );
    position: relative;
    max-width: calc( 20% - 14px );
    width: calc( 20% - 14px );
}
.box-dashboard:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: calc( 100% - 14px );
    height: 4px;
    border-radius: 30px;
    left: 0
}
.bg-dashboard-2:after{
  background: #ed1b23;
}
.bg-dashboard-3:after{
  background: #f37021;
}
.bg-dashboard-4:after{
  background: #b5b5b5;
}
.bg-dashboard-5:after{
  background: #b5b5b5;
}
.box-dashboard .huge {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 4px;
    padding: 0 10px;
    font-family: 'Roboto Light';
}
.text-bottom-huge {
    font-size: 15px;
    font-weight: 300;
    padding: 0 5px;
    color: #484848;
    position: relative;
    
    text-align: center
}
.text-bottom-huge{
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 28px);
    white-space: nowrap;
}
.text-bottom-huge img{
    width: 23px;
    margin-right: 5px;
}
.bg-dashboard-1{
  background: #f0bd3b;
  flex-direction: row
}
.bg-dashboard-1 .text-bottom-huge{
  color: #fff
}
.bg-dashboard-1 .huge{
  border: none
}
.bg-dashboard-2 .counter{
  color: #ed1b23
}
.bg-dashboard-3 .counter{
  color: #f37021
}
.bg-dashboard-4 .counter{
  color: #b5b5b5
}
.bg-dashboard-5 .counter{
  color: #b5b5b5
}
.ico-urgent .fa-dot-circle-o{
  color: #5ec514;
  padding-right: 3px;
}
.ico-urgent .fa-chevron-circle-up{
  color: #f17311;
  padding-right: 3px;
}
.ico-urgent .fa-arrow-circle-up{
  color: #ff0000;
  padding-right: 3px;
}
label{
  font-weight: 500
}
.box-dashboard-rtop p {
    font-size: 50px;
    color: #e72229;
    margin-bottom: 5px;
    line-height: 1;
    font-family: Roboto Light, sans-serif;
    margin-left: 17px
}
.box-dashboard-rtop div {
    cursor: pointer;
}
.box-dashboard-rtop span {
    font-size: 18px;
    color: #acacac;
}
.box-dashboard-rtop span:before,.box-dashboard-rbottom span:before{
  width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #dd374d;
    content: "";
    margin-right: 5px;
    display: inline-block;
}
#approved-doc-statistic .box-dashboard-rbottom-list span:before{
  background: #00c853;
}
#rejected-doc-statistic .box-dashboard-rbottom-list span:before{
  background: #dd374d;
}
#unapproved-doc-statistic .box-dashboard-rbottom-list span:before{
  background: #e47712;
}
.box-dashboard-rbottom, .box-dashboard-rtop {
    padding: 20px 5px;
    font-weight: 300;
}
.box-dashboard-rbottom-list {
    position: relative;
    display: inline-block;
    border: 1px solid #979797;
    padding: 15px 10px;
    border-radius: 6px;
    width: 100%
}
.box-dashboard-rbottom p {
    font-size: 35px;
    color: #f09c1c;
    margin-bottom: 5px;
    line-height: 1;
    font-family: Roboto Light,sans-serif;
    margin-left: 17px
}
.box-dashboard-rbottom div {
    cursor: pointer;
}
.box-dashboard-rbottom span {
    color: #acacac;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
}
.gr-flex-dashboard{
  display: flex;
  padding-bottom: 20px;
    border-bottom: 1px solid #cdcdcd;
}
#statistic-approvedDocCount{
  color: #00c853;
}
#statistic-rejectedDocCount{
  color: #dd374d;
}
#statistic-unApprovedDocCount{
  color: #e47712;
}
.gr-choose-bg {
    position: relative;
    display: inline-block;
}
.nav>li>a{
  color: #a3a3a3;
}
.br-ip-select .select2-selection--multiple{
  border-radius: 4px 0 0 4px!important
}

.bg-sb .modal-header h2{
  color: #ed1b23;
    font-size: 15px;
    border-bottom: 2px solid #ed1b23;
    padding: 0 15px 5px 0;
}
/*TAB*/
.gr-tab .nav-tabs{
    background: transparent;
    margin-bottom: 5px;
    border-bottom: 1px solid #ed1b23;
}
.gr-tab .nav-tabs a,.gr-tab .nav-tabs a:focus,
.gr-tab .nav-tabs a:hover{
    border: none!important;
    background: transparent;
    background-color: transparent!important;
    padding: 5px 15px!important;
}
.gr-tab .nav-tabs a{
    color: #646464;
}
.gr-tab .nav-tabs li a{
    margin: 0 5px;
    position: relative;
    background-color: transparent;
}
.gr-tab .nav-tabs li:not(.active) a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: block;
    content: '';
    border-bottom: 3px solid #ed1b23;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.gr-tab .nav-tabs li:not(.active):hover a:after {
    transform: scaleX(1);
    width: 100%;
}
.gr-tab .nav-tabs li.active a:after{
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid #ed1b23;
  color: #ed1b23;
}
.gr-tab .nav-tabs li.active a{
  color: #ed1b23;
  font-family: Roboto Bold;
}
/*END TAB*/

.header-box[data-target]{
    cursor: pointer;
    margin-bottom: 5px;
}
.ico-accordion:after{
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #252c32;
    transform: rotate(90deg);
    left: 18px
}
.header-box.collapsed .ico-accordion:before{
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #252c32;
    left: 18px
}
.ico-accordion{
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.bootbox-body{
   padding-top: 25px;
   font-size: 13px;
   /* color: #ed1b23; */
}
.item-gradient label{
  margin-bottom: 0
}
.item-gradient .icon-head{
  padding-top: 0
}
.item-gradient .icon-head .icon-remove-form{
  color: #ed1500
}
.title-head .glyphicon-floppy-disk {
  font-size: 23px;
  top: 0
}
.gr-tab.mt-15{
  margin-top: 15px
}
.item-sla{
  box-shadow: 1px 1px 8px #ccc;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    width: 60%;
    margin: 15px auto;
    max-width: 500px
}
.box-sla,.gr-tab .tab-pane .border-box-sb{
  margin-top: 10px
}
.head-sla{
  border-bottom: 1px solid #9d9d9d
}
.head-sla h5{
    font-size: 15px;
    color: #7e7e7e;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
}
.item-sla .fa{
	color: #7e7e7e;
	padding-right: 3px
}
.color-name-sla{
  color: #ed1b23;
  padding-right: 7px
}
.color-name-sla .fa{
	color: #ed1b23;
}
.ico-arrow-sla{
  width: 22px;
  transform: rotate(180deg)
}
.body-sla{
  padding: 15px 0;
  
}
.body-sla label{
  color: #7e7e7e!important
}
.body-sla .active-time-sla{
  color: #ed1b23!important
}
.progress-sla{
  background-color: #d8d8d8!important;
    border: none;
    box-shadow: none!important;
    height: 10px;
    border-radius: 20px;
    margin: 0;
}
.progress-sla .progress-bar {
  width: 0%;
    background-color: #ed1b23;
    font-size: 11px;
    color: #fff;
    border-radius: 20px;
}
.row-progress-sla{
  margin-top: 15px;
  display: flex;
  align-items: center
}
.body-sla .percent-process-sla{
  margin: 0;
  color: #ed1b23!important;
  font-family: Roboto Bold
}
.sla-progress-rejected .progress-bar{
	background:#dd374d!important;
}
.sla-progress-rejected .percent-process-sla,
.sla-progress-rejected .color-name-sla,
.sla-progress-rejected .color-name-sla .fa{
	color:#dd374d!important;
}
.sla-progress-unapproved .progress-bar{
	background:#e37712!important;
}
.sla-progress-unapproved .percent-process-sla,
.sla-progress-unapproved .color-name-sla,
.sla-progress-unapproved .color-name-sla .fa{
	color:#e37712!important;
}
table thead th.u_t_no:first-child {
  text-align: center!Important
}
.bottom-page-wrapper{
  padding-top: 15px;
    border-top: 1px solid #cdcdcd;
}
.bottom-page-wrapper .title-box{
  color: #2c2c2c!important;
    font-size: 14px;
}
.chart-wrapper{
  background: #fff;
    border: 1px solid #bbbbbb;
}
.box-dashboard-right{
  margin: 15px 0;
  border-left: 1px solid #979797;
  padding-left: 20px
}
.chart-wrapper .flex-box{
  align-items: center
}
.pt-0{
  padding-top: 0!important
}
#togglePushNotification,#togglePushEmail,#toggleArchiveFlag{
  margin-left: 5px
}
#togglePushNotification .toggle-ico,#togglePushEmail .toggle-ico{
  font-size: 21px;
    color: #ed1b23;
}
.bootstrap-select .dropdown-menu>li>a{
  font-size: 13px
}
.bootstrap-select .dropdown-menu>li>a{
  padding: 5px 15px
}
.bootstrap-select .dropdown-menu>li>a:hover {
    background-color: #ed1b23;
    color: #FFF;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #ed1b23!important;
}
.gr-input-jpm-svc {
	display: flex;
    flex-direction: row;
    align-items: center;
}
.gr-input-jpm-svc input.form-control,
.input-group.gr-input-jpm-svc .select2-container--default .select2-selection--single{
	border-radius: 4px!important
}
.gr-input-jpm-svc .input-group-addon{
	margin: 0 0 0 3px;
    width: 33px;
    border-radius: 4px!important;
    height: 28px;
    padding-top: 7px;
    border: 1px solid #d2d6de!important;
}
.gr-tab.mt-0{
	margin-top: 0px;
}

.delete-avata{
	position: absolute;
    right: 4px;
    top: 4px;
    width: 17px;
    cursor: pointer;
}
.pos-relative{
	position: relative;
}

.item-process-his {
	box-shadow: 1px 1px 8px #ccc;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    margin: 10px auto;
}
.item-process-his .item-process-his-detail {
    border-bottom:1px solid #d2d2d2;
}

.item-process-his .item-process-his-detail:last-child {
    border-bottom: 0px;
}

.item-process-his .item-process-his-detail .item-process-his-body {
	font-size: 14px !important;
}

.item-process-his .item-process-his-detail .item-process-his-header {
	text-transform: uppercase;
	color: #ed1b23;
    padding-right: 7px;
}
.gr-history-pro{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.gr-history-pro h5,.gr-history-pro p{
	font-size: 12px;
	margin: 0;
	padding-top: 5px;
}
.gr-history-pro h5 b{
	color: #f37021
}
.title-process-his{
	margin: 15px 0
}
.item-process-his .view-detail-done,
.item-process-his .view-detail-waiting,
.item-process-his .view-detail-reject{
	font-size: 11px;
	padding: 5px 3px 3px 5px;
}

.table-responsive .view-detail-done,
.table-responsive .view-detail-waiting,
.table-responsive .view-detail-reject{
	font-size: 11px;
	padding: 5px 3px 3px 5px;
}

.action-time-process{
	color: #ed1b23
}
.cursor-point {
	cursor: pointer;
}
.view-detail-waiting{
	text-transform: uppercase;
	color: #f37021!important;
	border: 1px solid #f37021;
	border-radius: 3px;
	padding: 5px 5px 3px 5px;
	margin: 0;
	font-family: Roboto Bold, sans-serif;
	font-size: 15px;

}
.view-detail-done{
	text-transform: uppercase;
	color: #00c853!important;
	border: 1px solid #00c853;
	border-radius: 3px;
	padding: 5px 5px 3px 5px;
	margin: 0;
	font-family: Roboto Bold, sans-serif;
	font-size: 15px;
}
.view-detail-reject{
	text-transform: uppercase;
	color: #dd374d!important;
	border: 1px solid #dd374d;
	border-radius: 3px;
	padding: 5px 5px 3px 5px;
	margin: 0;
	font-family: Roboto Bold, sans-serif;
	font-size: 15px;
}
.btnETC {
	display:none;
}
.fit-title {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button[disabled],button[disabled]:hover,button[disabled]:focus,
.bg-sb button[disabled]:after{
	background: #ccc!important;
    border-color: #ccc!important;
    cursor: not-allowed!important;
}
.fit-text-proces{
	max-width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: auto;
}

.item-sla .item-sla-title {
	text-transform: uppercase;
}

.word-break {
	word-break: break-word;
}
.note-editor.note-frame{
	margin-bottom: 5px
}
.cus-modal-img{
	width: auto!important;
    max-width: max-content!important;
}
.space-signal{
	width: 4px;
	display: inline-block;
}

.icon-head .btn-save,.custom-ico-head{
	width: 25px;
    height: 25px;
    background:#fb4390;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-flex!important;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff
}
.icon-head .btn-save:hover,.custom-ico-head:hover{
	animation: abtn-eff-3 1.5s linear infinite;
}
.icon-head .btn-save:hover .fa, .custom-ico-head:hover .fa{
	animation: none
}
.icon-head .fa-save,.icon-head .fa-ico{
	font-size: 19px!important;
	/* color: #cb2c70!important; */
}
.custom-ico-head .fa-upload{
	font-size: 16px!Important;
	color: #fff!important;
}
.d-flex{
	display: inline-flex;
	width: 100%;
}

.item-gradient .icon-head .icon-remove-form{
  font-size: 26px;
}


.gr-list-tbl{
    margin-top: 20px
}

.total-entries{
    font-size: 13px;
    font-weight: 500;
}
.color-blue{
    color: #0086ff
}
body .txt-goto-page{
    border-radius: 0px!important;
    width: 50px!important;
    padding: 3px!important;
    text-align: center;
    border: none!important;
    border-bottom: 1px solid #9d9d9d!important;
    height: 27px!important;
}
.page-size-select{
	position: relative;
	top: 3px;
}
.rotate-ico{
	transform: rotate(90deg);
}
.title-sub-2 {
    color: #ed1b23;
    font-family: 'Roboto Bold', sans-serif!important;
    margin: 20px 0;
    font-size: 14px;
}
.m-1{
	margin: 8px 0!important;
}
.drop-setting{
	display: inline-block;
	margin-left: 5px;
	position: relative
}
.drop-setting .dropdown-menu{
	left: auto;
	right: 0;
}
/*-----------User Information-----------*/
.tt-collapse {
    margin: 5px 0 15px 0;
    color: #ed1b23;
    font-family: Roboto Bold, sans-serif!important;
    font-size: 16px
}

.col-left{
	width: 250px;
	background: #f7f7f7;
	border-radius: 8px;
	margin-bottom: 20px
}
.box-upload-avata {
    width: 100px;
    height: 100px;
    border: 1px solid #b4b3b0;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}
.info-profile ul{
	padding: 20px;
	margin: 0;
}
.info-profile .color-grey{
	color: #a1a1a1;
}
.info-profile .color-blue{
	color: #0c47a6
}
.info-profile li{
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid #dcddde;
	color: #323b45
}
.info-profile li:last-child{
	border-bottom: none;
}
.box-upload-avata img{
	border-radius: 10px;
	padding: 0;
	width: 100%
}
.info-profile .box-upload-avata{
	margin: 0 auto 15px auto;
}
.info-profile p{
	margin: 0;
}
.col-right{
	width: calc(100% - 250px);
	margin-bottom: 20px;
}
.box-top{
	margin: -20px -20px 15px -20px;
    padding: 15px;
    background: #f7f7f7;
}
/*-----------End User Information-----------*/

/*-----------Send Email-----------*/
.send-email .col-left{
	width: 350px;
	padding: 20px;
}
.send-email .col-right{
	width: calc(100% - 350px);
}
.txt-upload-file{
	color: #979797;
	margin-left: 10px;
	margin-bottom: 0;
}
.flex-center{
	display: inline-flex;
	align-items: center;
}
.txt-upload-file i{
	color: #c6c6c6;
}
.box-attachment-file{
	padding: 20px 10px;
	border-radius: 4px;
	border: 1px dashed #979797;
	margin-bottom: 10px
}
.box-attachment-file .ico-mail{
	font-size: 18px;
	margin: 0 15px;
}
.items-form-email{
	cursor: pointer;
	transition: all 0.3s ease-out;
	color: #000
}
.items-form-email:hover{
	background: #ed1b23;
	color: #fff
}
.bcc{
	position: absolute;
    right: 10px;
    top: 3px;
    color: #8e8e8e;
    padding: 5px;
    cursor: pointer;
}
.rotate-180-ico {
    transform: rotate(180deg);
    margin-right: 0!important;
}
.filter-gr{
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	position: relative;
}
.filter-gr .btn-ico{
	margin-left: 8px;
}
.gr-search-filter input{
	border-radius: 4px 0 0 4px!important;
}
.gr-search-filter button{
	border-radius: 0 4px 4px 0;
}
/*-----------End Send Email-----------*/

