<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="row m-0">
            <div class="header-box">
            	<div class="row">
	            	<div class="col-md-7">
		    			<h5 class="title-box">
		    				<span th:text="#{search.results.title}">Kết quả tìm kiếm</span> 
		    			</h5>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="pull-right">
		    				<button id="btnSort" type="button"  th:attr="data-company-id=${menuModel.companyId}" class="btn-ico">
		    					<img th:src="@{/static/images/sort-icon.png}" alt="" width="19px">
		    				</button>
		    			</div>
		    		</div>
		    	</div>
            </div>
            
			<div class="table-search-result">
				<div class="table-responsive" id="idDivTable">			
					<table class="table table-bordered table-striped" id="menuTreeGrid">
	                    <thead>
	                        <tr>
	                            <th class="u_t_no">#</th>
	                            <th class="u_t_action" th:text="#{menu.left.action}"></th>
	                            <th class="u_t_title" th:text="#{menu.left.code}"></th>
	                            <th class="u_t_title" th:text="#{menu.left.name}">Menu</th>
	                           	<!--th class="u_t_title" th:text="#{menu.left.name.en}"></th-->
	                            <th class="u_t_title" th:text="#{menu.left.url}"></th>
	                            <th class="u_t_title" th:text="#{menu.left.type}">Loại</th>
	                            <!--th class="u_t_title" th:text="#{menu.left.parent}"></th-->
	                            <!-- <th th:text="#{job.status}">Trạng thái</th> -->
								<th class="u_t_date" th:text="#{email.template.create.date}">Ngày tạo</th>
								<th class="u_t_date" th:text="#{email.template.update.date}">Ngày cập nhật</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <th:block th:each="menu,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
	                            <tr th:class="'treegrid-'+${menu.menuId}+(!${menu.root}? (' treegrid-parent-'+${menu.parentId}):'')" 
	                            	th:attr="data-menu-id=${menu.menuId}">
	                                <td class="u_t_no center" th:text="${i.index + startIndex}"></td>
	                                <td class="td-action">  
	                                	<div class="btn-group">                            
	                                    	<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" th:title="${menu.parentId}"></a>
			                            	<a class="glyphicon glyphicon-edit custom-icon j-btn-edit" title="Update"
			                            	th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')}"></a>	                            
			                            	<a class="glyphicon glyphicon-remove-sign font-size-20 red menudelete" title="Delete"
			                            	th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')} and ${menu.deleteFlag}"></a>		                            
	                                	</div>
	                                </td>
	                                <td th:text="${menu.menuCode}"></td>
	                                <td th:text="${menu.viName}"></td>
	                                <td th:text="${menu.url}"></td>
	                                <td th:text="${menu.menuType}"></td>
	                                <!--td th:text="${menu.parentId}"></td-->
	                                <!-- <td th:text="${menu.statusCodeDisp}"></td> -->
	                                <td class="text-center" th:text="${menu.createdDate }? ${#dates.format(menu.createdDate, 'dd-MM-yyyy')}"></td>
	                                <td class="text-center" th:text="${menu.updatedDate }? ${#dates.format(menu.updatedDate, 'dd-MM-yyyy')}"></td>
	                            </tr>
	                        </th:block>
	                        <th:block th:if="${pageWrapper.data.size() == 0}">
				              <tr>
				                  <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
				              </tr>
				          </th:block>         
	                    </tbody>
	                </table>				
				</div>			
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/treegrid.css}"/>
		<script type="text/javascript" th:src="@{/static/cache/js/jquery.treegrid.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/cache/js/menu/menu-table.js}"></script>
	</body>
</html>