<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Header -->
<form id="logoutform" th:action="@{/logout}" method="POST">
	<div class="col-sm-12 no-padding clearfix">
		<!-- Header Navbar-->
		<nav class="navbar navbar-static-top">
			<a href="#" class="sidebar-toggle show-desktop" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<!-- menuConfig.systemName -->
			<h3 class="title-menu" th:if="${#authentication?.principal?.systemName==null or #authentication?.principal?.systemName==''}" th:text="${@menuConfig.getSystemName()}">mbal</h3>
			
			<!-- principal.systemName -->
			<h3 class="title-menu" th:unless="${#authentication?.principal?.systemName==null or #authentication?.principal?.systemName==''}" th:text="${#authentication?.principal?.systemName}">mbal</h3>
			
<!--			<span class="version-title" th:text="' ' + ${@systemConfig.getConfig('VERSION')}" th:if="${@systemConfig.getConfig('VERSION') != null }">VERSION</span>-->
			<span class="version-title"><th:block th:include="views/home/version-info.html"/></span>
			<div class="navbar-custom-menu">
				<div class="nav navbar-right">
					<ul class="flex-item">
                        <li class="language dropdown" th:if="${@systemConfig.getLanguageList() != null}">
                            <a type="button" th:attr="data-lang-code=*{code}" class="dropdown-toggle" data-toggle="dropdown" th:if="${@systemConfig.getDefautLanguage() != null and !@systemConfig.getLanguageList().isEmpty()}" th:object="${@systemConfig.getDefautLanguage()}">
                                <i th:classappend="*{iconClasses}"></i>
                                <!--<span th:text="*{name}"></span>-->
                            </a>
                            <ul class="dropdown-menu" th:if="${@systemConfig.getLanguageList() != null and !@systemConfig.getLanguageList().isEmpty() and @systemConfig.getDefautLanguage() != null and @systemConfig.getDefautLanguage().code != lang.code}" th:each="lang,i : ${@systemConfig.getLanguageList()}">
                                <li>
                                    <a class="change-lang" th:attr="data-lang-code=${lang.code}">
                                        <i th:classappend="${lang.iconClasses}"></i>
                                        <!--<span th:text="${lang.name}"></span>  -->
                                    </a>
                                </li>
                            </ul>
                        </li>
						<li class="dropdown item-info-user">
							<a class="dropdown-toggle flex-item" data-toggle="dropdown" aria-expanded="true">
								<img th:if ="${#authentication?.principal?.avatar == null or #authentication?.principal?.avatar==''}" th:src="@{/static/cache/images/avata.png}" class="img-user" alt="" />
								<img th:unless="${#authentication?.principal?.avatar == null or #authentication?.principal?.avatar==''}"
									th:src="@{/ajax-file/download(filePath=${#authentication.principal.avatar}, repositoryId=${#authentication.principal.avatarRepoId})}"
									class="img-user" th:onerror="|this.onerror=null;this.src='@{/static/cache/images/avata.png}';|"/>
								<div class="info-user">
									<span class="username" th:text="${#authentication?.principal?.fullname}">Full Name</span><br/>
									<span class="pos-user">Available</span>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li >
									<a id="infoUser" class="btn-flat cursor-pointer" >
										<i class="fa fa fa-user" aria-hidden="true"></i>
										<span th:text="#{account.info.page}"> user info</span>
									</a>
								</li>
								<li th:if="${#authentication?.principal?.localAccount}">
									<a id="linkChangePassword" class="btn-flat cursor-pointer" >
										<i class="fa fa-lock" aria-hidden="true"></i>
										<span th:text="#{change.password}"> Change Pasword</span>
									</a>
								</li>
								
							</ul>
						</li>
						<li>
                           <a class="logout systemlogs" 
			   					data-systemlogs-code="LO0#S00_Login" 
								data-systemlogs-summary = "Logout"
								data-systemlogs-detail = "Logout"
								th:attr="data-systemlogs-username=${#authentication?.principal?.username}"
		                      	id="logout">
								<img th:src="@{/static/cache/images/logout-ico.png}" width="25px" alt="" />
							</a>
                       </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</form>

<script th:src="@{/static/cache/js/inline/templates/unit-header.js}"></script>
<!-- end Header Navbar -->
<!-- end Header -->
</body>
</html>