<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!--     token csrf -->
	<meta name="_csrf" th:if="${_csrf}" data-th-content="${_csrf.token}" />
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:if="${_csrf}" data-th-content="${_csrf.headerName}" />
	
	<title th:text="${@systemConfig.getConfig('DISPLAY_SYSTEM_NAME')}">mbal</title>
	
	<th:block th:if="${#authentication?.principal?.shortcutIcon==null or #authentication?.principal?.shortcutIcon==''}">
		<link rel="shortcut icon" th:if="${#authentication?.principal?.packageShortcutIcon!=null and #authentication?.principal?.packageShortcutIcon!=''}" 
			th:href="@{/} + ${#authentication?.principal?.packageShortcutIcon}" type="image/x-icon" />
		<link rel="shortcut icon" th:unless="${#authentication?.principal?.packageShortcutIcon!=null and #authentication?.principal?.packageShortcutIcon!=''}" 
			th:href="@{/static/cache/images/favicon-daiichi.ico}" type="image/x-icon" />
	</th:block>
	<link rel="shortcut icon" th:unless="${#authentication?.principal?.shortcutIcon==null or #authentication?.principal?.shortcutIcon==''}" 
		th:href="@{/ajax-file/download(filePath=${#authentication?.principal?.shortcutIcon}, repositoryId=${#authentication?.principal?.shortcutIconRepoId})}" type="image/x-icon" />

	<!-- Start css L Unit Brand -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/fontAwesone/font-awesome.css}"/>
    <!-- <th:block th:if="${@systemConfig.getStyle() != null}" th:object="${@systemConfig.getStyle()}">
    	<link rel="stylesheet" type="text/css" th:if="*{(styleUrl == null or styleUrl != '') and code != 'bg-hdbank'}" th:href="@{/} + *{packageStyleUrl}" />
    </th:block> -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/Roboto_Font/Roboto-Font.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-style-common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-menu-left.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-content-wrapper.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-search-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-custom-scrollbar.min.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-skin-phl.css}"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-style-radio-checkbox.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/bootstrap/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/app.css}"/>
    <!-- css fileupload -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-file-upload/css/jquery.fileupload-ui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-file-upload/css/jquery.fileupload.css}" />
 	<!-- end css L Unit Brand -->
 	
	
 
    <!-- Start js L Unit Brand -->
    <script type="text/javascript" th:src="@{/static/cache/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/js/custom-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/bootstrap/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/cache/js/adminlte.min.js}"></script>
    
    <!-- end js L Unit Brand -->
    
<!--     daterangepicker
	<script type="text/javascript" th:src="@{/static/cache/js/moment/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/daterangepicker/daterangepicker.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/daterangepicker/daterangepicker.css}" /> -->
    
	<!-- datepicker -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/datepicker/js/bootstrap-datepicker.min.js}"></script>
<!-- 	<script type="text/javascript" th:src="@{/static/cache/plugins/datepicker/locales/bootstrap-datepicker.vi.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/datepicker/locales/bootstrap-datepicker.th.min.js}"></script> -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/datepicker/css/bootstrap-datepicker.css}" />
	
	<!-- datepicker -->
	<script type="text/javascript" th:src="@{/static/plugins/datepicker/js/bootstrap-datepicker.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/datepicker/css/bootstrap-datepicker.css}" />
	
	
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/js/js-tree/themes/default/style.min.css}" />
	<!-- <script type="text/javascript" th:src="@{/static/cache/js/js-tree/jstree.js}"></script> -->
	<script type="text/javascript" th:src="@{/static/cache/js/js-tree/jstree.min.js}"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<!-- bootstrap wysihtml5 - text editor -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}" />
	<!-- Slimscroll -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
	<!-- FastClick -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/fastclick/fastclick.js}"></script>	
	
	<!-- Support show popup alert -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/bootbox/bootbox.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/bootbox/bootbox.locales.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/bootbox/locales/en.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/bootbox/locales/vi.js}"></script>
	
	<!-- jQuery-validate -->
	<script type="text/javascript" th:src="@{/static/cache/jquery/validation/dist/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/j-validate.js}" th:inline="text"></script>
	
	<!-- Table-Filterable - Table filter -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/table-filterable/jquery.table-filterable.js}"></script>
	
	<!-- Select2 - Support Select-Box  -->
	<script type="text/javascript" th:src="@{/static/cache/plugins/select2/select2.full.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/select2/select2.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/custom-scrollbar/css/custom-scrollbar.min.css}" />
	
	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/datatables/dataTables.bootstrap.css}" />
	<script type="text/javascript" th:src="@{/static/cache/plugins/datatables/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/datatables/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/datatables/datatables.js}"></script>
	
	<!-- Configure for auto complete -->
	<script type="text/javascript" th:src="@{/static/cache/jquery/jquery.autocomplete.js}"></script>
	
	<!-- loading -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/isloading/jquery.isloading.css}" />
	<script type="text/javascript" th:src="@{/static/cache/plugins/isloading/jquery.isloading.js}"></script>
	
	<!-- socket stomp-websocket -->
	<!-- <script type="text/javascript" th:src="@{/static/cache/js/stomp.min.js}"></script> -->	
	
	<!-- socketjs -->
	<!-- <script type="text/javascript" th:src="@{/static/cache/js/sockjs.min.js}"></script>	 -->
	
	<!-- JQuery File UpLoad  -->
	<!-- https://github.com/blueimp/jQuery-File-Upload --> 
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/vendor/jquery.ui.widget.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.iframe-transport.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-process.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-image.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-video.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-audio.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-validate.js}"></script>	
	<!-- <script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-ui.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/jquery/jQuery-File-Upload/js/jquery.fileupload-jquery-ui.js}"></script> -->
	<!-- https://github.com/aterrien/jQuery-Knob -->
	<script type="text/javascript" th:src="@{/static/cache/jquery/jquery.knob.js}"></script>
	
	<!-- https://summernote.org/getting-started/ -->
	<script type="text/javascript" th:src="@{/static/cache/summernote/dist/summernote.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/summernote/dist/summernote.css}" />
	
	<!-- https://github.com/borayazilim/rowsorter -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/row-sorter/style/row-sorter.css}" />
	<script type="text/javascript" th:src="@{/static/cache/plugins/row-sorter/row-sorter.js}"></script>
		<!-- JAVASCRIPT Template -->
	<script th:src="@{/static/cache/js/inline/templates/unit-layout-js-init-param.js}"></script>
	
	<!-- JS COMMON  -->	
	<script type="text/javascript" th:src="@{/static/cache/js/common_unit.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/app_common_unit.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/system_logs.js}"></script>
	
	<!-- OZ80 Attach PDF -->
	<script type="text/javascript" th:src="@{/static/cache/ozsfw80/OZViewerHTML5/pdf_js/web/compatibility.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/static/ozsfw80/OZViewerHTML5/pdf_js/build/pdf.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/static/cache/ozsfw80/OZViewerHTML5/OZJSViewer.js}" charset="utf-8"></script>
	<!-- VyNT 20200819 fixbug high chart -->
	<script th:src="@{/static/cache/js/statistic/highcharts.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/flag-icon/css/flag-icon.min.css}" />
	
	<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/plugins/daterangepicker/moment.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}"/>
    
    <script type="text/javascript" th:src="@{/static/CMS/js/ckfinder/ckfinder.js}"></script>
    <script type="text/javascript" th:src="@{/static/CMS/js/ckeditor_4.4.3_full/ckeditor.js}" ></script>
    <script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/moxie.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/plupload.dev.js}"></script>

	<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/CMS/js/row-sorter/style/row-sorter.css}"/>
	<script type="text/javascript" th:src="@{/static/CMS/js/row-sorter/row-sorter.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/easyui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/icon.css}" />
	<script type="text/javascript" th:src="@{/static/cache/plugins/jquery-easyui-1.5/jquery.easyui.min.js}"></script>

<!--    <script-->
<!--      type="text/javascript"-->
<!--      th:src="@{/static/CMS/js/ckeditor_4.4.3_full/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js}"-->
<!--    ></script>-->
    
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/CMS/js/row-sorter/style/row-sorter.css}"/>
	<script type="text/javascript" th:src="@{/static/cache/CMS/js/row-sorter/row-sorter.js}"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		  /**
		 * unit-layout JS
		 */
		$(function () {
			var token = $("meta[name='_csrf']").attr("content");
		  	var header = $("meta[name='_csrf_header']").attr("content");
			  	$(document).ajaxSend(function(e, xhr, options) {
			  		xhr.setRequestHeader(header, token);
			  	});
		});
		var BUILD_VERSION = /*[[${@systemConfig.getBuildVersion()}]]*/'';
		var BASE_URL = /*[[${#httpServletRequest.getContextPath()+'/'}]]*/'';
		var BASE_REPO_URL = /*[[${@systemConfig.getConfig('OZ_REPOSITORY_URL')}]]*/'';
		//TODO:
		// var APP_LOCALE = /*[[${@systemConfig.getDefautLanguage()?.code}]]*/'EN';
		var APP_LOCALE = 'EN';
		
		var APP_NAME = /*[[${@systemConfig.getConfig('DISPLAY_SYSTEM_NAME')}]]*/'';
		var DATE_FORMAT = /*[[${@systemConfig.getConfig('DATE_PATTERN')}]]*/'';
		if( DATE_FORMAT ) {
			DATE_FORMAT = DATE_FORMAT.toLowerCase();
		} else {
			DATE_FORMAT = 'dd/mm/yyyy';
		}
		
		var FORMAT_NUMBER = "#,##0.##";
		
		var LOADING = /*[[#{loading.label}]]*/'';
		var MSG_DEL_CONFIRM = /*[[#{message.confirm.delete.content}]]*/'';
		var MSG_DEL_ERROR_EMPTY = /*[[#{message.error.empty.delete}]]*/'';
		var MSG_BACK_CONFIRM = /*[[#{message.confirm.back.page.content}]]*/'';
		var MSG_ADD_NEW_CONFIRM = /*[[#{message.confirm.add.new}]]*/'';
		// label for search mutilple
		var SEARCH_LABEL = /*[[#{searchcondition.label}]]*/'';
		var COMPANY_COMMON = /*[[#{company.all}]]*/'';
		// label for group mutilple select
		var GROUP_LABEL = /*[[#{group.label}]]*/'';
		// support for notify
		var IS_NEED_LOAD_MESSAGE = true;
		var MSG_SYNC_LDAP_CONFIRM = /*[[#{message.confirm.sync.ldap}]]*/'';
		
		// eP2P
		var MSG_CONFIRM = /*[[#{message.confirm.submit.content}]]*/'';
		var MSG_CONFIRM_CONTENT = /*[[#{message.confirm.content}]]*/'';
		/*]]>*/

		var MSG_ERROR_POSTED_DATE = /*[[#{messsag.error.posted.date}]]*/'';
		var MSG_ERROR_EXPIRATION_DATE = /*[[#{message.error.expiration.date}]]*/'';
		
		var YES_BUTTON = /*[[#{yes.button}]]*/'';
		var NO_BUTTON = /*[[#{no.button}]]*/'';
		var GOOGLE_MAP_API_KEY = /*[[${@systemConfig.getConfig('GOOGLE_MAP_API_KEY')}]]*/'';

		var LIST_BUTTON_CONFIRM_DELETE = {
			cancel : {
					label : NO_BUTTON
				},
			confirm : {
					label : YES_BUTTON
				}
			};

		var WANT_SAVE = /*[[#{message.want.save}]]*/'';
		var CONTINUE_BUTTON = /*[[#{continue.button}]]*/'';
		var CANCEL_BUTTON = /*[[#{destroy.button}]]*/'';
		var LIST_BUTTON_CONFIRM_CANCEL = {
			cancel : {
				label : CANCEL_BUTTON
			},
			confirm : {
				label : CONTINUE_BUTTON
			}
		};
		</script>
</head>
<body class="hold-transition skin-blue sidebar-mini" th:classappend="${@systemConfig.getStyle().code}">
    <div class="wrapper">
    
    	<!-- start header -->
    	<header class="main-header navbar-fixed-top">
			<div th:replace="templates/unit-header">Header Block</div>
		</header>
		<!-- end header -->
		
		<!-- start left -->
		<aside class="main-sidebar">
			<div th:replace="templates/unit-left-sidebar">Left side column.</div>
		</aside>
		<!-- end left -->
		
		<!--Start page content -->
		<div class="content-wrapper">
		<!-- Content Header (Page header) -->
			<!-- start Content main -->
			<div class="main_content" role="main">
				<div class="body-content">
	     			<div class="content-bottom">
	     				<div class="clearfix" layout:fragment="body">Content Wrapper.</div>
	     			</div>
    			</div>
    		</div>
    		<!-- end Content main -->
		</div>
		<!--end page content -->
		
		<!--Start footer -->
			<footer>
				<div class="clearfix" th:replace="templates/unit-footer">Footer Block</div>
				<div class="clearfix"></div>
			</footer>
    	<!--end footer -->
		
	</div>
	
  	<script type="text/javascript" th:src="@{/static/js/unit-index.js}"></script>
  	<!-- JAVASCRIPT Template -->
	<script th:src="@{/static/cache/js/inline/templates/unit-layout-js-progress.js}"></script>
	
	<script type="text/javascript" th:inline="javascript">
      $(document).ready(function(){
		<!-- config datatable -->
    	  $.extend( true, $.fn.dataTable.defaults, {
              "language": {
              	"emptyTable"    :     [[#{table.emptyTable.label}]],
              	"lengthMenu"    :     [[#{table.lengthMenu.label}]],   
              	"info"          :     [[#{table.info.label}]],
              	"infoEmpty"     :     "",
              	"infoFiltered"  :     "",
              	"loadingRecords":     [[#{table.loadingRecords.label}]],
                  "processing"    :     [[#{table.processing.label}]],
              	"search":            [[#{table.search.label}]]+":",
              	"zeroRecords"   :     [[#{table.zeroRecords.label}]],
                  "paginate": {
                      "first":      [[#{table.page.first}]],
                      "last":       [[#{table.page.last}]],
                      "next":       "»",
                      "previous":   "«"
                  }       
              }
          });
          
          $.extend( true, $.fn.datatables.defaults, {
              "language": {
                  "emptyTable"    :     [[#{table.emptyTable.label}]]
              }
          });
          
          $.extend( true, $.validator.messages, {
      	    required: [[#{NotEmpty.java.lang.String}]],
      	    remote: [[#{data.validate.remote}]],
      	    email: [[#{data.validate.email}]],
      	    url: [[#{data.validate.url}]],
      	    date: [[#{data.validate.date}]],
      	    dateISO: [[#{data.validate.dateISO}]],
      	    number: [[#{data.validate.number}]],
      	    digits: [[#{data.validate.digits}]],
      	    creditcard:  [[#{data.validate.creditcard}]],
      	    equalTo: [[#{data.validate.equalTo}]],
      	    accept: [[#{data.validate.accept}]],
      	    maxlength: jQuery.validator.format([[#{data.validate.maxlength}]]),
      	    minlength: jQuery.validator.format([[#{data.validate.minlength}]]),
      	    rangelength: jQuery.validator.format([[#{Size.java.lang.String}]]),
      	    range: jQuery.validator.format([[#{data.validate.range}]]),
      	    max: jQuery.validator.format([[#{data.validate.max}]]),
      	    min: jQuery.validator.format([[#{data.validate.min}]]),
      	    code: [[#{data.validate.code}]],
      	    currency: [[#{data.validate.currency}]],
            multiemail: [[#{data.validate.multiemail}]],
            specialCharacters:[[#{data.validate.specialCharacters}]],
            phone:[[#{data.validate.phone}]],
            domain:[[#{data.validate.domain}]],
            integer:[[#{data.validate.integer}]],
            docName:[[#{document.file.main.file.not.exist}]]
      	}); 
        	
	       /*var pathname = window.location.pathname;
             $.ajax({
                type  : "GET",
                url   : BASE_URL + "menu/breadcrumb",
                data  : {'pathname' : pathname},
                complete: function (data) {
                	$("#breadcrumb").html(data.responseText);
                }
            });*/

             $('.redirectToLogin').click(function(event)
               {
            	event.preventDefault();
            	disconnect();
               	window.location = BASE_URL + "login";
               });

             //checkTimeout = setTimeout(checkSession, 61000);
              
               function sessionTimeOutModal()
               {
                  $('#sessionTimeOutModal').modal('show');
                  $('#sessionTimeOutModal').css('z-index',5000);
               }

               function checkSession() {
                   $.ajax({
                       url: BASE_URL + "check-timeout",
                       type: "GET",
                       global : false,
	                   beforeSend: function(request){
	                      var token = $("meta[name='_csrf']").attr("content");
               		  	  var header = $("meta[name='_csrf_header']").attr("content");
               		  	  request.setRequestHeader(header, token);
	                   },
                       success: function (result) {
                       	//console.log(">>>>> check-timeout: " + result.message);
                       },
                       complete: function () {
                           setupSessionTimeoutCheck();
                       }
                   });
               }

               function setupSessionTimeoutCheck() {
                   clearTimeout(checkTimeout);
                   checkTimeout = setTimeout(checkSession, 61000);
               }

               !function($){
                 	$.ajaxSetup({
                     	
                    	statusCode: 
                      {
                          901: sessionTimeOutModal // Khi có mã lỗi 901 gọi hàm show dialog
                      }
                  });
                }(window.jQuery);

                /* window.addEventListener("popstate", function(e) {
                	window.location.href = location.href;
          	  }); */
            
      })     
      </script>
      	<!-- Modal for  session expired 
    /* @author : dinhpv
     * @description : Add script handler for ajax session expiration
     * @date : 2017-04-07
     */ -->
    <div class="modal fade" id="sessionTimeOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel" th:text="#{system.config.session.security.title}"></h4>
	            </div>
	            <div class="modal-body" th:text="#{system.config.session.security.body}">Your security session has expired, do you want to login again ?</div>
	            <div class="modal-footer">
	                <a href="#" class="u-btn u-btn-primary redirectToLogin" th:text="#{system.config.session.security.relogin}"><i class="fa fa-sign-in" aria-hidden="true"></i> Re-login</a>
	                <a href="#" class="u-btn u-btn-back" data-dismiss="modal" th:text="#{system.config.session.security.ignore}"><i class="fa fa-times" aria-hidden="true"></i> Ignore</a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Dinh --> 
</body>
</html>
