<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
      <a th:href="@{/}" class="logo">
			<span class="logo-mini" th:if="${#authentication?.principal?.logoMini==null or #authentication?.principal?.logoMini==''}">
				<img th:if="${#authentication?.principal?.packageLogoMini!=null and #authentication?.principal?.packageLogoMini!=''}"
           			th:src="@{/} + ${#authentication?.principal?.packageLogoMini}" />
           		<img th:unless="${#authentication?.principal?.packageLogoMini!=null and #authentication?.principal?.packageLogoMini!=''}"
           			th:src="@{/static/cache/images/sub-logo-daiichi.png}" />
			</span>
			<span class="logo-mini" th:unless="${#authentication?.principal?.logoMini==null or #authentication?.principal?.logoMini==''}">
				<img th:src="@{/ajax-file/download(filePath=${#authentication?.principal?.logoMini}, repositoryId=${#authentication?.principal?.logoMiniRepoId})}" />
			</span>
			<span class="logo-lg" th:if="${#authentication?.principal?.logoLarge==null or #authentication?.principal?.logoLarge==''}">
				<img th:if="${#authentication?.principal?.packageLogoLarge!=null and #authentication?.principal?.packageLogoLarge!=''}"
           			th:src="@{/} + ${#authentication?.principal?.packageLogoLarge}" />
           		<img th:unless="${#authentication?.principal?.packageLogoLarge!=null and #authentication?.principal?.packageLogoLarge!=''}"
           			th:src="@{/static/cache/images/logo-Daiichi.png}" />
			</span>
			<span class="logo-lg" th:unless="${#authentication?.principal?.logoLarge==null or #authentication?.principal?.logoLarge==''}">
				<img th:src="@{/ajax-file/download(filePath=${#authentication?.principal?.logoLarge}, repositoryId=${#authentication?.principal?.logoLargeRepoId})}" />
			</span>
		</a>
		<!-- end Logo -->
      <section class="sidebar" id="sidebar-menu">
	        <ul class="sidebar-menu" data-widget="tree">
		       	<th:block th:each="menu1: ${@menuConfig.buildMenuStructure(#locale, #authentication?.principal?.companyId)?.listSubMenu}" >
					<li th:classappend="@{(${menu1.listSubMenu.size() > 0} ? 'treeview' : '')}">
						<a th:title ="${menu1.menuName}" th:attrappend="href=${menu1.listSubMenu.size() <= 0}?@{__${menu1.url}__}" th:attr="data-menu-type=${menu1.menuType}">
							<i th:classappend="${menu1.icon}"></i>
							<span th:text="${menu1.menuName}"></span>
							<th:block th:if="${menu1.listSubMenu.size() > 0}"> 
								<span class="pull-right-container"> 
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</th:block>
						</a>
			
						<ul class="treeview-menu child_menu" th:if="${menu1.listSubMenu.size() > 0}">
							<th:block th:each="menu2: ${menu1.listSubMenu}">
								<li th:classappend="@{(${menu2.listSubMenu.size() > 0} ? 'treeview' : '')}">
									<a th:title ="${menu2.menuName}" th:attrappend="href=${menu2.listSubMenu.size() <= 0}?@{__${menu2.url}__}" th:attr="data-menu-type=${menu2.menuType}">
										<i th:classappend="${menu2.icon}"></i> 
										<span th:text="${menu2.menuName}"></span>
										<th:block th:if="${menu2.listSubMenu.size() > 0}"> 
											<span class="pull-right-container"> 
												<i class="fa fa-angle-left pull-right"></i>
											</span>
										</th:block>
									</a>
									
									<ul class="treeview-menu child_menu2" th:if="${menu2.listSubMenu.size() > 0}">
										<th:block th:each="menu3: ${menu2.listSubMenu}">
			                                <li th:classappend="@{(${menu3.listSubMenu.size() > 0} ? 'treeview' : '')}">
			                                    <a th:title ="${menu3.menuName}" th:attrappend="href=${menu3.listSubMenu.size() <= 0}?@{__${menu3.url}__}" th:attr="data-menu-type=${menu3.menuType}">
			                                        <i th:classappend="${menu3.icon}"></i> 
			                                        <span th:text="${menu3.menuName}"></span>
			                                        <th:block th:if="${menu3.listSubMenu.size() > 0}"> 
			                                            <span class="pull-right-container"> 
			                                                <i class="fa fa-angle-left pull-right"></i>
			                                            </span>
			                                        </th:block>
			                                    </a>
			                                    
			                                    <ul class="treeview-menu child_menu3" th:if="${menu3.listSubMenu.size() > 0}">
			                                        <th:block th:each="menu4: ${menu3.listSubMenu}">
			                                            <li>
			                                                <a th:title ="${menu4.menuName}" th:href="@{${menu4.url}}" th:attr="data-menu-type=${menu4.menuType}"> 
			                                                    <i th:classappend="${menu4.icon}"></i> 
			                                                    <span th:text="${menu4.menuName}"></span>
			                                                </a>
			                                            </li>
			                                        </th:block>
			                                    </ul>
			                                </li>
										</th:block>
									</ul>
								</li>
							</th:block>
						</ul>
					</li>
				</th:block>
	        </ul>
      </section>
      <!-- end Left sidebar -->
 <script th:inline="javascript">
    /*<![CDATA[*/
    var menuDto = /*[[${@menuConfig.buildMenuStructure(#locale, #authentication?.principal?.companyId)}]]*/ ;
    /*]]>*/
</script>     
      

<script th:src="@{/static/js/inline/templates/unit-left-sidebar.js}"></script>
<script type="text/javascript" th:src="@{/static/js/u_styles2.js}"></script>
<script type="text/javascript" th:src="@{/static/js/menu-search.js}"></script>
</html>
