<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Footer -->

  	<div class="d-flex align-items-center">
  		<img th:src="@{/static/cache/images/ico-sub-unit.png}" width="20px" style="margin-right: 5px">
        <span>2021 Proudly Made by UNIT Corp</span>
    </div>

<input type="hidden" id = "notify-imagepath" th:value="@{/static/cache/images/830.gif}"/>
<!--end Footer  -->

<script th:src="@{/static/cache/js/inline/templates/unit-footer.js}"></script>

<!-- firebase -->
<!-- <script type="text/javascript" th:src="@{/static/firebase/firebase-common.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/static/firebase/firebase-app.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/static/firebase/firebase-messaging.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/static/firebase/firebase-init.js}"></script> -->

</body>
</html>
