<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">

	<th:block th:if="${slaStepDto?.notificationList != null}">
		<th:block th:each="_item,i : ${slaStepDto.notificationList}">
			<div class="notification-row" th:attr="data-index=${i.index}">
				<div class="col-md-12  form-group no-padding">
					<div class="col-xs-12 col-sm-12 p-0 item-gradient">
						<div class="col-xs-11 col-sm-11">
							<label class="sla-reminder-escalate-index"> <span>#</span><span
								th:text="${i.index + 1}"></span>
							</label>
						</div>
						<div class="col-xs-1 col-sm-1 icon-head">
							<i
								class="pointer glyphicon glyphicon-remove-sign icon-remove-form pull-right remove-notification"
								th:title="Remove"></i>
						</div>
					</div>
					<input type="hidden" th:name="'notificationList[' +${i.index} + '].id'"
						th:value="${_item.id}" th:id="'slaAlertId'+${i.index}" />
					<!-- <div class="col-md-2">
						<label><input type="checkbox"
							th:id="'notification-immediately'+ ${i.index}" th:checked="${_item?.immediately}" 
							th:name="'notificationList[' + ${i.index} + '].immediately'"> <span th:text="#{sla.immediately.label}"></span></input></label>
					</div> -->
					<div class="col-md-2">
						<label style="text-align: right;">Email To</label>
					</div>
					<div class="col-md-4">
						<select class="form-control js-example-basic-multiple j-required email-to-select2" th:id="'toList' + ${i.index} + ''" 
							th:name="'notificationList[' + ${i.index} + '].lstEmailToId'"
							multiple="multiple" th:field="${slaStepDto.notificationList[__${i.index}__].lstEmailToId}">
							<option value=""></option>
                           	<option th:each="choice : ${noEmailToList}" 
                           			th:value="${choice.id}"
                           			th:text="${choice.text}">
                   			</option> 
							<!-- <option th:value="${_item?.lstEmailToId}"
								th:text="${ choice.value }"
								th:selected="${_item?.lstEmailToId != null ? #arrays.contains(_item?.lstEmailToId,choice.key) : false}"></option> -->
						</select>
					</div>
					<div class="col-md-2">
						<label style="text-align: center !important;" th:text="#{email.template.title}">Email
							Template</label>
					</div>
					<div class="col-md-4">
						<select class="form-control email-select2" th:id="'notificationList' + ${i.index} + ''"
							th:name="'notificationList[' + ${i.index} + '].emailTemplateId'"
							th:field="${slaStepDto.notificationList[__${i.index}__].emailTemplateId}">
							<option value=""></option>
							<option th:value="${_item?.emailTemplateId}" th:text="${_item?.emailTemplateName}"></option>
						</select> 
						<input type="hidden" name="'notificationList[' + ${i.index} + '].emailTemplateName'" th:field="${slaStepDto.notificationList[__${i.index}__].emailTemplateName}" />
					</div>
				</div>
				<div class="col-md-12  form-group no-padding">
					<label class="col-md-2" style="text-align: left !important;" th:text="#{sla.email.cc.label}">Email
						CC</label>
					<div class="col-md-4">
						<select class="form-control js-example-basic-multiple email-cc-select2" th:id="'ccList' + ${i.index} + ''" 
							th:name="'notificationList[' + ${i.index} + '].lstEmailCcId'"
							multiple="multiple" th:field="${slaStepDto.notificationList[__${i.index}__].lstEmailCcId}">
							<option value=""></option>
                           	<option th:each="choice : ${noEmailCCList}" 
                           			th:value="${choice.id}"
                           			th:text="${choice.text}">
                   			</option> 
						</select>
					</div>
					<!-- <label class="col-md-2" style="text-align: left !important;" th:text="#{sla.transfer.label}" th:if="${slaStepDto.objIsTranfer == true}">Email
						CC</label>
					<div class="col-md-4">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck" th:field="${slaStepDto.notificationList[__${i.index}__].isTransfer}" th:if="${slaStepDto.objIsTranfer == true}"/>
					</div> -->
					
					<div class="col-md-2">
						<label style="text-align: center !important;" th:text="#{noti.template.title}">Email
							Template</label>
					</div>
					<div class="col-md-4">
						<select class="form-control noti-select2"
							th:name="'notificationList[' + ${i.index} + '].notiTemplateId'"
							th:field="${slaStepDto.notificationList[__${i.index}__].notiTemplateId}">
							<option value=""></option>
							<option th:value="${_item?.notiTemplateId}" th:text="${_item?.notiTemplateName}"></option>
						</select> 
					</div>
				</div>
			</div>
		</th:block>
	</th:block>
</body>
</html>


