<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<style>
.alert-setting .unit-bg-table {
	margin-bottom: 10px
}
</style>
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />

<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{sla.setting.title}">Reminder setting by step</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a> <i class="fa fa-arrow-circle-left icon-head-red"
				th:title="#{icon.back}" id="linkList"></i>
			</a>
			<a class="font17 btn-save" id="btnSaveHead">
                <i class="fa fa-save"></i>
            </a>
		</div>
	</div>
</div>

<!-- Main content -->
<section class="content">
	<form
		class="form-horizontal u-for-page-top j-form-validate j-formSearch"
		id="form-j-edit" th:object="${slaStepDto}" method="post" role="form">
		<input type="hidden" th:field="*{jpmSlaInfoId}" />
		<input type="hidden" th:field="*{jpmSlaConfigId}" />
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{calendarTypeId}" />
		<!-- <input type="hidden" name="slaStepId" id="slaStepId" th:field="*{id}" /> -->
		<!-- <input type="hidden" name="stepType" id="slastepType" th:field="*{stepType}" /> -->
		<!-- <input type="hidden" th:field="*{stepNo}" /> -->
		<!-- <input type="hidden" th:field="*{businessId}" /> -->
		<!-- <input type="hidden" th:field="*{updatedBy}" /> -->
		<input type="hidden" name="noNotificationMessage" id="noNotificationMessage" th:field="*{noNotificationMessage}" />
		<input type="hidden" name="noReminderMessage" id="slastepType" th:field="*{noReminderMessage}" />
		<input type="hidden" name="noEscalateMessage" id="slastepType" th:field="*{noEscalateMessage}" />
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
		<div class="alert-setting bg-content clearfix">
			<div class="col-sm-12">
				<h2 class="title-box" th:text="#{sla.setting.title}">Reminder setting by step</h2>
			</div>
			<div class="col-xs-12 col-sm-12 no-padding">
				<div class="col-sm-6  no-padding">
					<div class="form-group">
						<label class="col-sm-4" th:text="#{jpm.process.business.id}">Business</label>
						<div class="col-sm-8">
							<select class="form-control" id="businessId" name="businessId" disabled="disabled">
								<!-- <option th:each="i : ${businessList}" th:value="${i.id}"
									th:text="${i.name}" th:selected="${i.id} == *{businessId}"></option> -->
									<option th:value="*{businessId}" th:text="*{businessName}"></option>
							</select> 
							<input type="hidden" th:field="*{businessId}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4" th:text="#{j.process.step.name}">Step Name</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="stepDeployName"
								th:value="*{stepDeployName}" disabled="disabled" /> <input
								type="hidden" name="stepDeployName" th:field="*{stepDeployName}" />
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('slaDueTime')} ? has-error : ''" th:unless="*{stepFinished}">
						<label class="col-sm-4" th:text="#{sla.time.label}">SLA</label>
						<div class="col-sm-8">
							<input class="form-control" id="slaDueTime" type="number" step="1" min="0" max="200000" name="slaDueTime"
								th:value="${#numbers.formatInteger(slaStepDto.slaDueTime,0)}" />
							<span class="help-block" th:if="${#fields.hasErrors('slaDueTime')}" th:errors="*{slaDueTime}"></span>
						</div>
					</div>
					<!-- <div  class="form-group" th:if="*{businessId} ne 'BUS_CART'">
						<div class="form-check">
							<label class="col-sm-4" th:text="#{sla.auto.action.label}">Auto execution</label>
							<div class="col-sm-8">
								<input class="form-check-input" type="checkbox" value="" id="autoAction" th:field="*{autoAction}" th:checked="*{autoAction}"/>
							</div>
						</div>
					</div> -->
					<div  class="form-group">
						<div class="form-check">
							<label class="col-sm-4" th:text="#{status.common.activated}">Active</label>
							<div class="col-sm-8">
								<input class="form-check-input" type="checkbox" th:field="*{actived}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6  no-padding">
					<div class="form-group">
						<label class="col-sm-4" th:text="#{document.process.name}">Process</label>
						<div class="col-sm-8">
							<select class="form-control j-required" id="processDeployId"
								name="processDeployId" disabled="disabled">
								<!-- <option th:each="i : ${processList}" th:value="${ i.id }"
									th:text="${ i.name }" th:selected="${i.id} == *{processDeployId}"></option> -->
									<option th:value="*{processDeployId}" th:text="*{processDeployName}"></option>
							</select> <input type="hidden" name="processDeployId" th:field="*{processDeployId}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4" th:text="#{sla.step.code.title}">Step Code</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" th:value="${slaStepDto.stepDeployCode}" disabled="disabled" /> <input
								type="hidden" name="stepCode" th:field="*{stepDeployCode}" />
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('slaTimeType')} ? has-error : ''" th:unless="*{stepFinished}">
						<label class="col-sm-4" th:text="#{sla.type.label}">SLA Type</label>
						<div class="col-sm-8">						
							<select class="form-control" th:field="*{slaTimeType}">
							<option value=""></option>
								<option th:each="i : ${slaTypeList}"
									th:value="${i.id}"
									th:text="#{${i.text}}"></option>
							</select>
							<span class="help-block" th:if="${#fields.hasErrors('slaTimeType')}" th:errors="*{slaTimeType}"></span>
						</div>
					</div>
					<!-- <div class="form-group" th:if="(*{stepType ne 'END_EVENT'} and *{businessId ne 'BUS_CART'})">
						<label class="col-sm-4" id="actionLabel" th:text="#{introduction.action}">Action</label>
						<div class="col-sm-8">						
							<select class="form-control j-required" id="action" name="actionButtonId" th:field="*{actionButtonId}">
							<option value=""></option>
								<option th:each="i : ${actionList}" th:value="${ i.id }"
									th:text="${ i.text }"
									th:selected="${i.id} == *{actionButtonId}"></option>
							</select>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-sm-8" style="height:20px">						
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="bg-content clearfix">
			<div class="col-sm-9 col-xs-7">
				<h2 class="title-box">
					<span th:text="#{system.config.push.notif.title}">Notification</span>
				</h2>
			</div>
			<div class="col-sm-3 col-xs-5 icon-head">
				
				<i class="pointer glyphicon glyphicon-plus-sign icon-head-red pull-right"
					th:title="Add" id="addNotification"></i>
			</div>
			
			<div class="col-sm-12">			
				<div class="form-group">
					<div id="notification-hidden"><span th:text="*{noNotificationMessage}"></span></div>
				</div>
			</div>
			<div class="col-sm-12 p-0">			
				<div class="form-group">
					<div id="notificationList">						
						<th:block th:include="views/sla/sla-notification-list.html" />
					</div>
				</div>
			</div>

		</div>

		<div class="bg-content clearfix" th:unless="*{stepFinished}">
			<div class="col-sm-9 col-xs-7">
				<h2 class="title-box">
					<span th:text="#{sla.reminder.label}">Reminder</span>
				</h2>
			</div>
			<div class="col-sm-3 col-xs-5 icon-head">
				<i class="pointer glyphicon glyphicon-plus-sign icon-head-red pull-right" th:title="Add" id="addReminder"></i>
			</div>
			
			<div class="col-sm-12">			
				<div class="form-group">
					<div id="reminder-hidden"><span th:text="*{noReminderMessage}"></span></div>
				</div>
			</div>
			<div class="col-sm-12 p-0">			
				<div class="form-group">
					<div id="reminderList">						
						<th:block th:include="views/sla/sla-reminder-list.html" />
					</div>
				</div>
			</div>

		</div>

		<div class="bg-content clearfix" th:unless="*{stepFinished}">
			<div class="col-sm-9 col-xs-7">
				<h2 class="title-box">
					<span th:text="#{sla.escalate.label}">Escalate</span>
				</h2>
			</div>
			<div class="col-sm-3 col-xs-5 icon-head">
				<i class="pointer glyphicon glyphicon-plus-sign icon-head-red pull-right" th:title="Add" id="addEscalate"></i>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<div id="escalate-hidden"><span th:text="*{noEscalateMessage}"></span></div>
				</div>
			</div>
			<div class="col-sm-12 p-0">
				<div class="form-group">
					<div id="escalateList">						
						<th:block th:include="views/sla/sla-escalate-list.html" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12">
			<div class="col-sm-12">

				<div class="form-group text-center">

	                <a type="button" class="btn-cancel" id="btn-cancel" >
	                	<i class="fa fa-times" aria-hidden="true"></i>
	                	<span th:text="#{cancel.button}">Thoát</span>
	                </a>
	                <a class="btn-common btn-save" id="btn-save">
	                	<i class="fa fa-floppy-o" aria-hidden="true"></i>
	                	<span th:text="#{save.button}"> Lưu</span>
	                </a>

				</div>
			</div>
		</div>


	</form>
</section>

<script type="text/javascript"
	th:src="@{/static/cache/js/sla/sla-alert-setting.js}"></script>
<!-- <script type="text/javascript">
	$('.js-example-basic-multiple').select2({
		minimumResultsForSearch : -1
	});
</script> -->
</html>
