<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript" th:src="@{/static/cache/plugins/jquery-file-upload/js/jquery.fileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/plugins/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/plugins/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>

<body th:fragment="content(urlController)">
	<!-- modal import-->
	<div class="modal fade" id="import-component-modal" tabindex="-1" role="dialog" aria-labelledby="import-component-modal-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 900px; magin: 0; padding: 0; height: 315px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title " id="import-component-modal-label">Import Excel</h4>
				</div>
				<div class="modal-body" id="import-component-modal-content" style="height: 200px;">

					<div class="row unit-bg-com">
						<form class="form-horizontal j-formSearch" id="fmUpload" method="POST" role="form" enctype="multipart/form-data">
							<div class="form-group">
								<div id="message-upload-id"></div>
								<div class="col-sm-12">
									<div class="col-sm-2 no-padding fileupload-buttonbar form-group" id="uploader">
										<div class="fileupload btn">
											<i class="fa fa-plus"></i> <span>Add files...</span> <input id="template-upload" type="file" name="files"
												accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="upload" />
										</div>
									</div>
									<div class="col-sm-3 no-padding" th:classappend="${tempFileIsHiddenComboSheet} ? 'hidden' : ''">
										<label class="col-sm-4 label-center padding-lr10">Sheet</label>
										<div class="col-sm-8 padding-lr10" id="sheetExcelSelectId">
											<select class="form-control" id="sheetExcelId" name="sheetNames">

											</select>
										</div>
									</div>
									<div class="col-sm-3 no-padding" th:classappend="${tempFileIsHiddenComboRow} ? 'hidden' : ''">
										<label class="col-sm-4 label-center padding-lr10">Row </label>
										<div class="col-sm-8 padding-lr10">
											<input type="text" name="position" id="positionExcel" class="form-control text-center"
												th:value="@{${tempFileStartRow != null ? tempFileStartRow : '5'}}" />
										</div>
									</div>
									<div class="col-sm-4 no-padding">
										<label class="col-sm-6 label-center padding-lr10">Password</label>
										<div class="col-sm-6 padding-lr10">
											<input class="form-control" type="password" name="password" id="passwordExcel" />
										</div>
									</div>


									<div id="fileList"></div>

								</div>


							</div>
						</form>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="progress position-relative" style="background: #e5e5e5">


									<div id="progressBar" class="progress-bar progress-bar-success text-center" role="progressbar" aria-valuenow="0" aria-valuemin="0"
										aria-valuemax="100" style="width: 0%"></div>


								</div>
								<div class="text-center col-sm-12" id="message-inprocess"></div>
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<a th:href="@{${'/'+urlController + T(vn.com.unit.jcanary.constant.UrlConst).URL_DOWNLOAD_TEMPLATE_EXCEL}}"
						style="padding-top: 10px; position: absolute; left: 20px;" id="download-template-id"> Download Template</a> <a
						class="btn-common btn-in-tablet start" id="btnImport"> <i class="fa fa-sign-out" aria-hidden="true"></i> Import
					</a> <a href="#" class="btn-cancel btn-import " data-dismiss="modal"> <i class="fa fa-times"></i> Close
					</a>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="linkUploadExcelCommon" th:value="${urlController + T(vn.com.unit.jcanary.constant.UrlConst).URL_UPLOAD_EXCEL}" />
	<input type="hidden" id="linkUploadExcelListCommon" th:value="${urlController + T(vn.com.unit.jcanary.constant.UrlConst).URL_LIST_IMPORTED}" />
	<!-- end modal -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js">
		
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js">
		
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.full.min.js">
		
	</script>
	<script type="text/javascript" th:src="@{/static/cache/js/common-file-upload/popup-import-excel.js}"></script>

</body>

</html>