<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/bootstrap-select-1.12.4/css/bootstrap-select.css}"
  />
  <body>
    <script
      type="text/javascript"
      th:src="@{/static/ckfinder/ckfinder.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/ckeditor_4.4.3_full/ckeditor.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/ckeditor_4.4.3_full/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/jquery/vendor/jquery.ui.sortable.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/jquery/vendor/jquery.ui.sortable.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/bootstrap-select-1.12.4/js/bootstrap-select.js}"
    ></script>
    <!-- Datepicker -->
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/static/plugins/datepicker/css/bootstrap-datepicker.min2.css}"
    />
    <script
      type="text/javascript"
      th:src="@{/static/plugins/datepicker/js/bootstrap-datepicker.min2.js}"
    ></script>
    <!-- End Datepicker -->
    <script>
      $(function () {
        $(".sortable").sortable();
      });
    </script>

    <!-- <div class="row main-heading">
      <div class="row unit-border-bottom"> -->
      <div class="title-head clearfix">
        
        <!-- <div class="col-sm-8 col-xs-6">
          <h3 class="mar-tb-no red" th:text="#{homepage.settting.edit.tile}">
            Tiêu đề trang
          </h3>
        </div> -->
		<div class="col-sm-9 col-xs-7 no-padding">
          	<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{homepage.settting.edit.tile}">Tiêu đề trang</span>
			</h3>
		</div>
        
        <div class="col-sm-4 col-xs-6 align-right ml-auto">
          <a class="u-btn-head" id="linkList">
            <img th:src="@{/static/icons/icon-back.png}" />
            <span th:title="#{icon.back}">Trở lại</span>
          </a>
          <a
            class="u-btn-head"
            id="addHomepageSetting"
            th:if="${homepageEdit.id != null} 
						and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.PAGE_HOME_LIST}__:Edit'')')}"
          >
            <img th:src="@{/static/icons/icon-plus-white.png}" />
            <span>Thêm mới</span>
          </a>
        </div>

      </div>

      <!-- </div>
    </div> -->
    <form
      th:action="@{/homepage-setting/edit}"
      th:object="${homepageEdit}"
      method="POST"
      class="form-horizontal u-for-page-top j-form-validate"
      id="homepageForm"
    >
      <th:block
        th:include="views/commons/message-alert.html :: content(${messageList})"
      />
      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{statusCode}" />
      <input type="hidden" th:field="*{processId}" />
      <input type="hidden" th:field="*{referenceId}" />
      <input type="hidden" th:field="*{referenceType}" />
      <input type="hidden" th:field="*{action}" />
      <div class="row unit-bg-com">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label
                for="bannerPage"
                class="col-sm-4 control-label required"
                th:text="#{banner.page}"
                >Banner of page</label
              >
              <div class="col-sm-8">
                <select
                  class="form-control required"
                  th:value="*{bannerPage}"
                  id="bannerPageSelect"
                  name="bannerPage"
                >
                  <option value=""></option>
                  <option
                    th:each="constantDisplay : ${listBannerPage}"
                    th:value="${constantDisplay.cat + ',' + constantDisplay.kind}"
                    th:text="#{${constantDisplay.code}}"
                    th:selected="${constantDisplay.cat + ',' + constantDisplay.kind} == ${homepageEdit.bannerPage + ',' + constantDisplay.kind}"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('speedRoll')} ? has-error : ''"
            >
              <label
                for="code"
                class="col-sm-4 control-label"
                th:text="#{homepage.setting.speedRoll}"
                >Thời gian chuyển slide</label
              >
              <div class="col-xs-6" style="padding-right: 0px">
                <input
                  type="text"
                  class="form-control text-uppercase j-digits"
                  th:field="*{speedRoll}"
                  data-rule-maxlength="30"
                />
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('speedRoll')}"
                  th:errors="*{speedRoll}"
                ></span>
              </div>
              <div class="col-xs-2 align-center" style="padding-left: 0px">
                <div class="border-group styleForIE">
                  <label
                    style="margin-top: 4px"
                    th:text="#{term.seconds}"
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label
              for="effectiveDateFrom"
              class="col-sm-4 control-label"
              th:text="#{homepage.setting.fromDate}"
              >Ngày bắt đầu</label
            >
            <div class="col-sm-8">
              <!--  <input class="form-control datepicker datepicker-from" th:field="*{effectiveDateFrom}" th:data-date-format="${formatDate}" type="text" 
		                		th:placeholder="${formatDate}" autocomplete="off" />
		               </div> -->
              <div class="input-group date datepicker datepicker-from">
                <input
                  class="form-control"
                  th:field="*{effectiveDateFrom}"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label
              for="effectiveDateTo"
              class="col-sm-4 control-label"
              th:text="#{homepage.setting.endDate}"
              >Ngày kết thúc</label
            >
            <div class="col-sm-8">
              <!-- <input class="form-control datepicker datepicker-to" th:field="*{effectiveDateTo}" th:data-date-format="${formatDate}" type="text" 
		                		th:placeholder="${formatDate}" autocomplete="off" /> -->
              <div class="input-group date datepicker datepicker-to">
                <input
                  class="form-control"
                  th:field="*{effectiveDateTo}"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label
                for="description"
                class="col-sm-4 col-md-2 control-label"
                th:text="#{homepage.setting.description}"
                >Mô tả</label
              >
              <div class="col-sm-8 col-md-10 pleft-10">
                <textarea
                  cols="80"
                  class="form-control j-maxlength"
                  rows="5"
                  data-rule-maxlength="500"
                  th:id="editor"
                  th:name="description"
                  th:text="*{description}"
                >
                </textarea>
              </div>
              <!-- Start of CKEditor -->
              <script th:inline="text">
                CKEDITOR.replace("editor", {
                  height: 120,
                  filebrowserBrowseUrl: "",
                  filebrowserImageBrowseUrl: "",
                  filebrowserImageUploadUrl:
                    BASE_URL +
                    "homepage-setting/editor/upload?requesttoken=" +
                    "[[${homepageEdit.requestToken}]]",
                  filebrowserUploadUrl:
                    BASE_URL +
                    "homepage-setting/editor/file/upload?requesttoken=" +
                    "[[${homepageEdit.requestToken}]]",
                  extraPlugins: "imagebrowser",
                  imageBrowser_listUrl:
                    BASE_URL + "homepage-setting/path/images/list",
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row unit-bg-com">
        <h2
          class="sub-header section-heading"
          th:text="#{homepage.setting.banner.for.deskstop}"
        >
          Banner cho Máy tính
        </h2>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group bannerTopList">
              <label
                for="status"
                class="col-sm-4 control-label required"
                th:text="#{homepage.setting.banner.top}"
                >Danh sách Banner cho máy tính</label
              >
              <div class="col-sm-8">
                <select
                  multiple="multiple"
                  class="form-control j-required"
                  id="search-filter-top-pc"
                  th:name="search-filter-top-pc"
                >
                  <th:block th:each="item : ${slideBannerList}">
                    <option
                      th:value="${item.value}"
                      th:selected="${homepageEdit.bannerTop} ? ${#arrays.contains(homepageEdit.bannerTop,item.value)}: false"
                      th:text="${item.name}"
                    ></option>
                  </th:block>
                </select>
              </div>
              <div class="col-sm-4"></div>
              <label
                th:for="search-filter-top-pc"
                generated="true"
                class="col-sm-8 error errorEditor"
              ></label>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="sortable banner-top-list list-group">
              <th:block
                th:each="item,i : *{bannerTopList}"
                th:with="index=${i.index}"
              >
                <li
                  class="ui-state-default list-group-item list-group-item-info"
                  th:id="${item.id}"
                >
                  <div style="cursor: pointer">
                    <span th:text="${item.name}"></span>
                  </div>
                </li>
              </th:block>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="col-sm-4 col-md-2 control-label">
                <label th:text="#{homepage.setting.image}">Hình ảnh</label>
              </div>
              <div class="col-sm-8 col-md-10 pleft-10">
                <div
                  class="well"
                  id="banner-image"
                  style="display: inline-block; width: 100%"
                >
                  <th:block
                    th:include="views/CMS/all/homepage-setting/homepage-setting-edit-banner-image.html :: content"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row unit-bg-com">
        <h2
          class="sub-header section-heading"
          th:text="#{homepage.setting.banner.for.mobile}"
        >
          Banner cho mobile
        </h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group bannerTopMoblieList">
              <label
                for="status"
                class="col-sm-4 control-label required"
                th:text="#{homepage.setting.banner.top}"
                >Danh sách Banner điện thoại</label
              >
              <div class="col-sm-8">
                <select
                  multiple="multiple"
                  class="form-control j-required"
                  id="search-filter-top-mobile"
                  th:name="search-filter-top-mobile"
                >
                  <th:block th:each="item : ${mobileSlideList}">
                    <option
                      th:value="${item.value}"
                      th:selected="${homepageEdit.bannerTopMobile} ? ${#arrays.contains(homepageEdit.bannerTopMobile,item.value)}: false"
                      th:text="${item.name}"
                    ></option>
                  </th:block>
                </select>
              </div>
              <div class="col-sm-4"></div>
              <label
                th:for="search-filter-top-mobile"
                generated="true"
                class="col-sm-8 error errorEditor"
              ></label>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="sortable banner-top-moblie-list list-group">
              <th:block
                th:each="item,i : *{bannerTopMobileList}"
                th:with="index=${i.index}"
              >
                <li
                  class="ui-state-default list-group-item list-group-item-info"
                  th:id="${item.id}"
                >
                  <div style="cursor: pointer">
                    <span th:text="${item.name}"></span>
                  </div>
                </li>
              </th:block>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="col-sm-4 col-md-2">
                <label th:text="#{homepage.setting.image}">Hình ảnh</label>
              </div>
              <div class="col-sm-8 col-md-10 pleft-10">
                <div
                  class="well"
                  id="banner-moblie-top-image"
                  style="display: inline-block; width: 100%"
                >
                  <th:block
                    th:include="views/CMS/all/homepage-setting/homepage-setting-edit-banner-image.html :: content"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TranLTH Thêm mới -->
      <div class="row unit-bg-com">
        <div class="col-md-6">
          <div class="form-group">
            <label
              class="col-md-4 control-label"
              th:text="#{homepage.setting.status}"
              >Trạng thái</label
            >
            <div class="col-md-8">
              <input
                type="text"
                class="form-control j-maxlength"
                th:value="*{statusName}"
                data-rule-maxlength="30"
                th:readonly="true"
                tabindex="1"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" th:text="#{homepage.creater}"
              >Người tạo</label
            >
            <div class="col-md-8">
              <input
                type="text"
                class="form-control j-maxlength"
                data-rule-maxlength="30"
                tabindex="1"
                th:field="*{createBy}"
                th:placeholder="#{homepage.creater}"
                readonly="readonly"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row unit-bg-com bg-comment">
        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <label
              for="name"
              class="col-sm-4 col-md-2 control-label"
              th:text="#{searchfield.disp.note}"
              >Ghi chú</label
            >
            <div class="col-sm-8 col-md-10 pleft-10">
              <textarea
                cols="80"
                class="form-control"
                rows="2"
                th:field="*{comment}"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- END -->

      <!-- <div class="col-xs-12 col-sm-12 unit-button">
        <button type="button" class="btn-cancel" id="cancel">
          <i class="fa fa-times"></i>
          <span th:text="#{cancel.button}">Thoát</span>
        </button>

        Lưu nháp
        <button
          type="submit"
          class="btn-common process-btn"
          th:id="${T(vn.com.unit.jcanary.enumdef.StepActionEnum).SAVE.getCode()}"
          th:if="(${homepageEdit.status eq @stepNoStatusConstant.STEP_DRAFT
						or homepageEdit.status eq @stepNoStatusConstant.STEP_REJECTED})
						and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.PAGE_HOME_LIST}__:Edit'')')}"
        >
          <i class="fa fa-save" aria-hidden="true"></i>
          <span th:text="#{saveDraft.button}">Lưu</span>
        </button>

        Button process
        <th:block th:each="item : *{stepBtnList}">
          <button
            type="submit"
            class="btn-common process-btn"
            th:id="${item.buttonId}"
          >
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            <span
              th:text="${item.buttonText}"
              th:attr="data-btn-action=${item.buttonId}, data-curritem=${item.items}"
              >Action</span
            >
          </button>
        </th:block>
      </div>

      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{requestToken}" />
      <input type="hidden" id="url" name="url" th:value="${homepageEdit.url}" />
      <input
        type="hidden"
        id="status"
        name="status"
        th:value="${homepageEdit.status}"
      />

      <input
        type="hidden"
        id="processId"
        name="processId"
        th:value="${homepageEdit.processId}"
      />
      <input type="hidden" id="buttonAction" name="buttonAction" />
      <input type="hidden" id="buttonId" name="buttonId" />
      <input type="hidden" id="currItem" name="currItem" />
      <input
        type="hidden"
        id="businessCode"
        name="businessCode"
        th:value="${homepageEdit.businessCode}"
      />

      <input type="hidden" th:field="*{startDateSearch}" />
      <input type="hidden" th:field="*{endDateSearch}" />
      <input type="hidden" th:field="*{statusSearch}" />
      <input type="hidden" th:field="*{bannerPageSearch}" />

      <input type="hidden" th:field="*{updateDate}" />

      <div class="col-sm-12 no-padding">
        <div
          class="
            row
            unit-bg-table
            history-process-table
            unit-bg-tbl unit-bg-com
          "
        >
          <th:block
            th:include="views/commons/history-process.html :: content"
          />
        </div>
      </div> -->
      <th:block th:include="/views/commons-process/common-process.html :: content(${homepageEdit})"/>

    </form>
    <script
      type="text/javascript"
      th:src="@{/static/CMS/all/homepage-setting/homepage-setting-edit.js}"
    ></script>
  </body>
</html>
