<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
<body>
	<script type="text/javascript" th:src="@{/static/ckfinder/ckfinder.js}"></script>
	<script type="text/javascript" th:src="@{/static/ckeditor_4.4.3_full/ckeditor.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/ckeditor_4.4.3_full/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.sortable.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.sortable.min.js}"></script>
	<script>
	  $( function() {
	    $( ".sortable" ).sortable();
	  } );
	 </script>
	
	<div class="row main-heading ">
		<div class="row unit-border-bottom">
			<div class="col-sm-8 col-xs-6">
				<h3 class="mar-tb-no red" th:text="#{homepage.settting.detail.tile}">Tiêu đề trang</h3>
			</div>
			<div class="col-sm-4 col-xs-6 align-right ml-auto">
		        <a class="u-btn-head" id="linkList">
					<img th:src="@{/static/icons/icon-back.png}"/>
					<span th:title="#{icon.back}">Trở lại</span>
				</a>
			</div>
		</div>
	</div>
	
	<form th:action="@{/homepage-setting/detail}" th:object="${homepageSettingDetail}" method="POST" class="form-horizontal u-for-page-top j-form-validate" id="homepageForm">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<input type="hidden" th:field="*{id}" />
       	<input type="hidden" th:field="*{bannerPage}" />       	
       	<input type="hidden" th:field = "*{statusCode}" />	
       	<input type="hidden" th:field = "*{processId}" />			            	     
        <input type="hidden" th:field = "*{referenceId}" />
        <input type="hidden" th:field = "*{referenceType}" />  	
        <input type="hidden" th:field = "*{action}" /> 
		<div class="row unit-bg-com">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="bannerPage" class="col-sm-4 control-label required" th:text="#{banner.page}">Banner of page</label>
			            <div class="col-sm-8">		            	
			                <select class="form-control-view required " th:name="*{bannerPage}" disabled="disabled" >		                	
			                    <option th:each="constantDisplay : ${listBannerPage}" th:value="${constantDisplay.cat}"
			                    		th:text="#{${constantDisplay.code}}"
			                   			th:selected="*{bannerPage}== ${constantDisplay.cat} ? true">
			                    		</option>
			                </select>		                
			            </div>
			        </div>
		        </div>
				<div class="col-md-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('speedRoll')} ? has-error : ''">
						<label for="code" class="col-sm-4 control-label required" th:text="#{homepage.setting.speedRoll}">Thời gian chuyển slide</label>
						<div class="col-sm-8">
							<label class="form-control " th:text="*{speedRoll}" ></label>							
						</div>
					</div>	
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<label class="col-sm-4 control-label" th:text="#{homepage.setting.fromDate}">Ngày bắt đầu</label>	
					<div class="col-sm-8">
						<label class="form-control" th:text="*{effectiveDateFrom} ? ${#dates.format(homepageSettingDetail.effectiveDateFrom, 'dd/MM/yyyy')}" data-date-format="mm-dd-yyyy" ></label>	                
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<label class="col-sm-4 control-label" th:text="#{homepage.setting.endDate}">Ngày kết thúc</label>		                
					<div class="col-sm-8">
						<label class="form-control " th:text="*{effectiveDateTo} ? ${#dates.format(homepageSettingDetail.effectiveDateTo, 'dd/MM/yyyy')}" ></label>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
		                <label for="description" class="col-sm-4 control-label" th:text="#{homepage.setting.description}">Mô tả</label>
		                <div class="col-sm-8 panel" th:name="*{description}"></div>
		            </div>
				</div>			
				<div class="col-md-6">
					<div class="form-group">
		                <label for="note" class="col-sm-4 control-label" th:text="#{homepage.setting.note}">Ghi chú</label>
		                <div class="col-sm-8 panel" th:name="*{note}"></div>
		            </div>
				</div>
			</div>						
			
		</div>
		<div class="row unit-bg-com">
			<h2 class="sub-header section-heading" th:text="#{homepage.setting.banner.for.deskstop}">Banner cho deskstop</h2>				
			<div class="row">
				<div class="col-md-12">
					<div class="form-group bannerTopList">
		                <label for="status" class="col-sm-4 col-md-2 control-label" th:text="#{homepage.setting.banner.top}">Danh sách Banner Top</label>
		                <div class="form-group col-sm-8 col-md-10 pleft-10">
				            <ul class="sortable banner-top-list list-group">
							  	<th:block th:each="item,i : *{bannerTopList}" th:with="index=${i.index}">
				               		<li class="ui-state-default list-group-item list-group-item-info" th:id="${item.id}">
				               			<div style="cursor: pointer;">
				               				<span th:text="${item.name}"></span>
				               			</div>
				               		</li>
				               	</th:block>
							</ul>
						</div>			                
		            </div>
		            
				</div>

			</div>	
			<div class="row">		
				<div class="col-xs-12 col-sm-12 form-group">
					<div class="col-sm-4 col-md-2 control-label">
						<label>Hình ảnh</label>
					</div>
					<div class="col-sm-8 col-md-10 pleft-10">
						<div class="row m-0 well" id="banner-image">
							<th:block th:include="views/homepage-setting/homepage-setting-edit-banner-image.html :: content"/>
						</div>
					</div>
				</div>
			</div>						
			<div class = "row">
				<div class="col-md-12">
					<div class="form-group bannerFixList">
						<div class="col-sm-4 col-md-2">
							<label th:text="#{homepage.setting.banner.fix}">Banner tĩnh</label>
						</div>
						<div class="col-sm-8 col-md-10 pleft-10">
							<select th:field="*{bannerFix}" class="easyui-combobox form-control" disabled="disabled">
								<option value = ""></option>
								<th:block th:each="item : ${fixBannerList}">		
									<option th:value="${item.value}"
										th:selected="*{bannerFix} ? *{bannerFix} == ${item.value} : false"
										th:text="${item.name}"></option>
								</th:block>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group ">
						<div class="col-sm-4 col-md-2 control-label">
							<label>Hình ảnh</label>
						</div>
						<div class="col-sm-8 col-md-10 pleft-10">
							<div class=" well" id="banner-fix-image" style="display:inline-block; width:100%">
								<th:block th:include="views/homepage-setting/homepage-setting-edit-banner-image.html :: content"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row unit-bg-com">
			<div class="header-box">
				<h2 class="sub-header section-heading" th:text="#{homepage.setting.banner.for.mobile}">Banner cho mobile</h2>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group bannerTopMoblieList">
		                <label for="status" class="col-sm-4 col-md-2 control-label" th:text="#{homepage.setting.banner.top}">Danh sách Banner Mobile Top</label>	
		                <div class="form-group col-sm-8 col-md-10 pleft-10">
			                <ul class="sortable banner-top-moblie-list list-group">
							  	<th:block th:each="item,i : *{bannerTopMobileList}" th:with="index=${i.index}">
				               		<li class="ui-state-default list-group-item list-group-item-info" th:id="${item.id}">
				               			<div style="cursor: pointer;">
				               				<span th:text="${item.name}"></span>
				               			</div>
				               		</li>
				               	</th:block>
							</ul>
						</div>		                
		            </div>			            
				</div>					
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 ">
					<div class="form-group ">
						<div class="col-sm-4 col-md-2">
							<label>Hình ảnh</label>
						</div>
						<div class="col-sm-8 col-md-10 pleft-10">
							<div class="row well m-0" id="banner-moblie-top-image">
								<th:block th:include="views/homepage-setting/homepage-setting-edit-banner-image.html :: content"/>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class = "row">
				<div class="col-md-12">
					<div class="form-group bannerFixList">
						<div class="col-sm-4 col-md-2">
							<label th:text="#{homepage.setting.banner.fix}">Banner Mobile tĩnh:</label>
						</div>
						<div class="col-sm-8 col-md-10 pleft-10">
							<select th:name="*{bannerFixMobile}" class="easyui-combobox form-control" disabled="disabled">
								<option value = ""></option>
								<th:block th:each="item : ${moblieFixBannerList}">
									<option 
										th:value="${item.value}"
										th:selected="*{bannerFixMobile} ? *{bannerFixMobile} == ${item.value} : false"
										th:text="${item.name}"></option>
								</th:block>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="form-group ">
						<div class="col-sm-4 col-md-2">
							<label>Hình ảnh</label>
						</div>
						<div class="col-sm-8 col-md-10 pleft-10">
							<div class="row well m-0" id="banner-mobile-fix-image">
								<th:block th:include="views/homepage-setting/homepage-setting-edit-banner-image.html :: content"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group" th:if="${#authorization.expression('hasAuthority(''AH1#S01#B06_REJECT:Edit'')')}">
            <label for="comment" class="col-sm-2 control-label " th:classappend="${#fields.hasErrors('comment')} ? has-error : ''" th:text="#{job.comment}">Ghi chú</label>
            <div class="col-sm-10">
            	<textarea rows="3" th:field="*{comment}" class="col-sm-8 form-control j-maxlength " data-rule-maxlength="65535" ></textarea>                
                <span class="help-block" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
            </div>
        </div>
		
		<div class="col-xs-12 col-sm-12 " id = "box-job-confirm" >			    																		
			<div class = "row unit-button form-group" >
				<a type="button" class="btn-cancel" id="cancel"><i class="fa fa-times"></i> <span  th:text="#{cancel.button}">Thoát</span></a>	
			 	<a class="btn-common" id="btn-approve" 
			 		th:if="${#authorization.expression('hasAuthority(''AH1#S01#B07_APPROVE:Edit'')')}">
			 		<i class="fa fa-check"></i>
			 		<span th:text="#{approve.button}" >Phê duyệt</span>
			 		
			 	</a>
			 	<a class="btn-common" id="btn-return" 
			 		th:if="${#authorization.expression('hasAuthority(''AH1#S01#B06_REJECT:Edit'')')}">
			 		<i class="fa fa-share"></i>
			 		<span th:text="#{return.button}" >Trả về</span>
			 	</a>											
			</div>			
		</div>
		<input type="hidden" id="url" name="url" th:value="${homepageSettingDetail.url}"/>
		<input type="hidden" id="ajaxHistoryUrl" name="ajaxHistoryUrl" value="home-setting/ajaxHistory"/>
				
	</form>
	
	<div class="row unit-bg-table history-process-table">
			<th:block th:include="views/commons/history-process.html :: content"/>	 					
		</div>
	<script type="text/javascript" th:src="@{/web-app/views/homepage-setting/homepage-setting-detail.js}"></script>
	
</body>
</html>

