<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <div class="table-responsive">
        <table
          id="tblDataTable"
          class="table table-bordered table-striped"
          width="100%"
        >
          <thead>
            <tr>
              <th>#</th>
              <th th:text="#{assetprofile.changeDate}">Change Date</th>
              <th th:text="#{assetprofile.changedBy}">Changed By</th>
              <th th:text="#{assetprofile.assetStatus}">Asset Status</th>
              <th>Transaction No</th>
              <th>Transaction Type</th>
              <th th:text="#{assetprofile.description}">Description</th>
              <th th:text="#{assetprofile.remark}">Remark</th>
            </tr>
            <!-- End -->
          </thead>

          <tbody>
            <th:block
              th:each="item,i : ${pageWrapperHis.data}"
              th:with="startIndex=${pageWrapperHis.startIndexCurrent}"
            >
              <tr th:attr="data-id=${item.id}">
                <td th:text="${i.index + startIndex}" class="text-center"></td>
                <td
                  class="text-center"
                  th:text="${item.transactionDate != null ?  #dates.format(item.transactionDate, @systemConfig.getConfig('DATE_PATTERN')) : ''}"
                >
                  26/07/2019
                </td>
                <td class="text-left" th:text="${item.transactionBy}"></td>
                <td class="text-left" th:text="${item.assetStatusName}"></td>
                <td class="text-left">
                  <a
                    th:href="@{${item.transactionUrl}}"
                    target="_blank"
                    style="font-size: 12px"
                    th:text="${item.transactionNo}"
                  />
                </td>
                <td class="text-left" th:text="${item.transactionType}"></td>
                <td
                  class="text-left"
                  th:text="${item.transactionDescription}"
                ></td>
                <td class="text-left" th:text="${item.remark}"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <!-- PAGINATION -->
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapperHis})"
      />
    </div>
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/asset-profile/asset-profile-detail-history.js}"
    ></script>
  </body>
</html>
