<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />

  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{assetprofile.list.title}"></span>
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head"></div>
    </div>
    <div id="msg"></div>
    <!-- FORM SEARCH -->
    <form
      class="form-horizontal u-for-page-top j-formSearch"
      th:action="@{/}"
      th:object="${searchDto}"
      method="POST"
      role="form"
      id="formSearch"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <!-- SEARCH AREA START-->
      <div class="bg-content clearfix">
        <div
          data-toggle="collapse"
          data-target="#search-box"
          class="header-box"
        >
          <h5 class="title-box">
            <span th:text="#{search.title}">Search area</span>
          </h5>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.assetName}"
                >Name of the Asset</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{assetName}"
                />
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.serialNumber}"
                >Serial No</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{serialNumber}"
                />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.assetTag}"
                >Asset Tag</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{assetTag}"
                />
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.assetStatus}"
                >Asset Status</label
              >
              <div class="col-sm-4">
                <!-- <input type="text"  class="form-control" th:field="*{assetStatus}"/> -->
                <select class="form-control" th:field="*{assetStatus}">
                  <option value="">All</option>
                  <option
                    th:each="item : ${lstAssetStatus}"
                    th:value="${item.cat}"
                    th:text="${item.catOfficialName}"
                    th:selected="*{assetStatus} == ${item.cat}"
                  ></option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-md-2"
                th:text="#{assetprofile.search.registrationDateFrom}"
                >Registration Date From</label
              >
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{registrationDateFrom}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>

              <label
                class="col-md-2"
                th:text="#{assetprofile.search.registrationDateTo}"
                >Registration Date To</label
              >
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{registrationDateTo}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.owner}"
                >Owner</label
              >
              <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{owner}" />
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{assetprofile.search.cost.center}"
                >Cost Center</label
              >
              <div class="col-sm-4">
                <select class="form-control select2" th:field="*{costCenter}">
                  <option value="">All</option>
                  <option
                    th:each="item : ${listCostCenter}"
                    th:selected="*{costCenter} == ${item.name}"
                    th:value="${item.name}"
                    th:text="${item.text}"
                  ></option>
                </select>
              </div>
            </div>
          </div>

          <div class="collapse" id="search-box-advance">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-sm-2 label-custom"
                  th:text="#{assetprofile.search.vendor}"
                  >Vendor</label
                >
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{vendor}"
                  />
                </div>

                <label
                  class="col-sm-2 label-custom"
                  th:text="#{assetprofile.search.officeLocation}"
                  >Office Location</label
                >
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{officeLocation}"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-sm-2 label-custom"
                  th:text="#{assetprofile.search.transactionType}"
                  >Transaction Type</label
                >
                <div class="col-sm-4">
                  <select
                    class="form-control select2"
                    th:field="*{transactionType}"
                  >
                    <option value="">All</option>
                    <option
                      th:each="item : ${lstTransactionType}"
                      th:value="${item.cat}"
                      th:text="${item.catOfficialName}"
                      th:selected="*{transactionType} == ${item.cat}"
                    ></option>
                  </select>
                </div>

                <label
                  class="col-sm-2 label-custom"
                  th:text="#{assetprofile.search.invoiceNo}"
                  >Invoice No</label
                >
                <div class="col-sm-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{invoiceNo}"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.propertyOf}"
                  >Property Of</label
                >
                <div class="col-md-4">
                  <select class="form-control" th:field="*{propertyOf}">
                    <option value="">All</option>
                    <option
                      th:each="item : ${lstAssetRule}"
                      th:value="${item.cat}"
                      th:text="${item.catOfficialName}"
                      th:selected="*{propertyOf} == ${item.cat}"
                    ></option>
                  </select>
                </div>

                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.contractNo}"
                  >Contract No</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{contractNo}"
                  />
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.assetCategory}"
                  >Asset Category</label
                >
                <div class="col-md-4">
                  <select
                    class="form-control select2"
                    th:field="*{assetCategory}"
                  >
                    <option value="">All</option>
                    <option
                      th:each="item : ${lstCategory}"
                      th:selected="*{assetCategory} == ${item.code}"
                      th:value="${item.code}"
                      th:text="${item.name}"
                    ></option>
                  </select>
                </div>

                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.assetSubCategory}"
                  >Asset Sub Category</label
                >
                <div class="col-md-4">
                  <select
                    class="form-control select2"
                    th:field="*{assetSubCategory}"
                  >
                    <option value="">All</option>
                    <option
                      th:each="item : ${lstSubCategory}"
                      th:selected="*{assetSubCategory} == ${item.code}"
                      th:value="${item.code}"
                      th:text="${item.name}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.purchaseDateFrom}"
                  >Purchase Date From</label
                >
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{purchaseDateFrom}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>

                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.purchaseDateTo}"
                  >Purchase Date To</label
                >
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{purchaseDateTo}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.receiptNo}"
                  >Receipt No</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{receiptNo}"
                  />
                </div>

                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.recepient}"
                  >Recepient</label
                >
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{recepient}"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.receiptDateFrom}"
                  >Receipt Date From</label
                >
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{receiptDateFrom}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>

                <label
                  class="col-md-2"
                  th:text="#{assetprofile.search.receiptDateTo}"
                  >Receipt Date To</label
                >
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{receiptDateTo}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2" th:text="#{assetprofile.search.note}"
                  >Note</label
                >
                <div class="col-md-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{remark}"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <div align="center">
            <div class="position-label col-xs-12 col-sm-12">
              <a id="btnSearch" class="btn-common">
                <i class="fa fa-search"></i>
                <span th:text="#{search.button}">Tìm kiếm</span>
              </a>

              <div
                class="pull-right collapse-search"
                data-toggle="collapse"
                data-target="#search-box-advance"
                id="box-advance"
              >
                <i class="fa fa-plus" id="iconShow" aria-hidden="true"></i>
                <span>Advance search</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SEARCH AREA END -->
    </form>
    <!-- HTML TABLE -->
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/asset-profile/asset-profile-list-table.html :: content"
      />
    </div>
    <input type="hidden" id="conditionHidd" />
    <input type="hidden"id="urlSearch"/>

    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/asset-profile/asset-profile-list.js}"
    ></script>
  </body>
</html>
