<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12 no-padding">
			<div class="table-responsive">			
				<table class="table table-bordered table-hover out-tbl">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_code" th:text="#{ward.code}">Mã phường</th>
							<th class="u_t_title" th:text="#{ward.name}">Tên phường</th>
							<th th:text="#{district.name}">Tên quận/huyện</th>
							<th th:text="#{description}">Mô tả</th>
							<th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>														
							<th class="u_t_action" th:text="#{action.label}" style="width:160px;">Thao tác</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="wardDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-ward-id=${wardDto.wardId}">
		              		<td th:text="${i.index + startIndex}" class="text-center"></td>
		              		<td th:text="${wardDto.wardCode }" style="text-transform: uppercase;"></td>
		              		<td th:text="${wardDto.wardName }"></td>
		                    <td th:text="${wardDto.mDistrictName}  + '&#32;&#45;&#32;' + ${wardDto.cityName}  + '&#32;&#45;&#32;' +  ${wardDto.regionName}  + '&#32;&#45;&#32;' + ${wardDto.countryName }"></td>	                    
		                    <td th:text="${wardDto.description}"></td>
		                    <td class="text-center" th:text="${wardDto.createdDate }? ${#dates.format(wardDto.createdDate, @menuConfig.getFormDate())}"></td>
							<td class="text-center">
								<div>
									<a class="btn btn-cancel btn-sm j-btn-detail"
									th:if="${@roleConfig.hasRole(T(vn.com.unit.dmcs.constant.CommonConstant).MS1_S05_DISTRICT)}">
										<i class="fa fa-eye fa-lg"></i><span th:text="#{view.button}"></span>
									</a>
		                            <a class="btn btn-cancel btn-sm j-btn-edit"
		                            th:if="${@roleConfig.hasRole(T(vn.com.unit.dmcs.constant.CommonConstant).MS1_S05_DISTRICT +':Edit')}">
		                            	<i class="fa fa-edit fa-lg"></i><span th:text="#{edit.button}"></span>
		                            </a>	                            
	                            	<a class="btn btn-cancel btn-sm j-ward-delete"
	                            	th:if="${@roleConfig.hasRole(T(vn.com.unit.dmcs.constant.CommonConstant).MS1_S05_DISTRICT +':Edit')}">
	                            		<i class="fa fa-close fa-lg"></i><span th:text="#{delete.button}"></span>
	                            	</a>	
	                            </div>
	                        </td>                            
						</tr>
						</th:block>																												
					</tbody>					
				</table>							
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/ward/ward-table.js}"></script>	
	</body>
</html>
