<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>
	<script type="text/javascript">
			$(document).ready(function() {
				$('#tabLanguage a').click(function(event) {
					event.preventDefault();
					$(this).tab('show');
				});
			});
		</script>
	<script th:inline="javascript">
			/*<![CDATA[*/
			var LANGUAGE_LIST = /*[[${languageList}]]*/;
			/*]]>*/
		</script>
	<section class="content-header">
		<h1 th:text="#{ward.page}">Tiêu đề trang</h1>
		<ul class="button-right">
			<li><a class="btn btn-common btn-circle" id="linkList"> <i
					class="fa fa-arrow-left"></i>
			</a> <a class="btn btn-common btn-circle" id="add"
				th:if="${@roleConfig.hasRole(T(vn.com.unit.dmcs.constant.CommonConstant).MS1_S05_DISTRICT +':Edit')}">
					<i class="fa fa-plus"></i>
			</a></li>
		</ul>
	</section>
	<section class="content">
		<div class="box-header">
			<h2 class="box-title" th:text="#{ward.edit.title}">Disctrict</h2>
		</div>
		<div class="row unit-bg-com">
			<form class="form-horizontal u-for-page-top j-form-validate"
				id="form-ward-edit" th:action="@{/ward/edit}" th:object="${wardDto}"
				method="post" role="form">
				<th:block
					th:include="views/commons/message-alert.html :: content(${messageList})" />

				<input type="hidden" th:field="*{wardId}" />
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('wardCode')} ? has-error : ''">
							<label class="col-sm-2 control-label required" for="wardCode"
								th:text="#{ward.code}">Mã quận/huyện</label>
							<div class="col-sm-10 ">
								<input type="text" th:field="*{wardCode}"
									class="form-control j-required j-code j-maxlength "
									data-rule-maxlength="30" style="text-transform: uppercase;" />
								<span class="help-block"
									th:if="${#fields.hasErrors('wardCode')}"
									th:errors="*{wardCode}"></span>
							</div>
						</div>
						<!-- Show language -->
						<div class="form-group">
							<label class="col-sm-2 control-label" th:text="#{news.language}">Ngôn
								ngữ</label>
							<div class="col-sm-10">
								<ul class="nav nav-tabs" id="tabLanguage">
									<th:block th:each="language, i : ${languageList}">
										<li role="presentation"
											th:classappend="${i.index == 0}  ? 'active' : ''"
											th:id="tabLanguage + ${i.index}"><a
											th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
										</li>
									</th:block>
								</ul>
							</div>
						</div>
						<div class="tab-content" style="margin-top: 10px">
							<th:block th:each="language, i : ${languageList}"
								th:with="index=${i.index}">
								<div th:id="'language' + ${index}" class="tab-pane fade "
									th:classappend="${index == 0}  ? 'in active' : ''">
									<div class="row form-group">
										<label for="wardLanguageDtos[__${index}__].wardName"
											class="col-sm-2 control-label required"
											th:classappend="${#fields.hasErrors('wardLanguageDtos[__${index}__].wardName')} ? has-error : ''"
											th:text="#{ward.name}">Tên tỉnh/thành phố</label>
										<div class="col-sm-10">
											<input th:field="*{wardLanguageDtos[__${index}__].wardName}"
												type="text" class="form-control j-maxlength j-required"
												data-rule-maxlength="255" maxlength="255" /> <span
												class="help-block"
												th:if="${#fields.hasErrors('wardLanguageDtos[__${index}__].wardName')}"
												th:errors="*{wardLanguageDtos[__${index}__].wardName}"></span>
										</div>
									</div>
									<input type="hidden"
										th:field="*{wardLanguageDtos[__${index}__].wardLanguageId}" />
									<input type="hidden"
										th:name="'wardLanguageDtos[' + ${index} + '].mLanguageCode'"
										th:value="${language.code}" /> <input type="hidden"
										th:field="*{wardLanguageDtos[__${index}__].mWardId}" />
								</div>
							</th:block>
						</div>
						<!-- End show language -->
						<div class="form-group">
							<label for="districtName" class="col-md-2 required"
								th:text="#{city.name}">Tỉnh/thành phố</label>
							<div class="col-sm-10">
								<select class="form-control select2 j-required"
									th:field="*{mCityId}">
									<option th:value="${NULL}"></option>
									<option th:each="city : ${listCityDto}"
										th:value="${city.cityId}" th:text="${city.cityName}">
									</option>
								</select> <label id="cityRegionCountry-error" class="error"
									for="cityRegionCountry" style="display: none"></label>
							</div>
						</div>
						<div class="form-group">
							<label for="districtName" class="col-md-2 required"
								th:text="#{district.name}">Quận</label>
							<div class="col-sm-10">
								<select class="form-control select2 j-required"
									th:field="*{districtCityRegionCountry}">
									<option th:value="${NULL}"></option>
									<option th:each="district : ${listDistrict}"
										th:value="${district.id}" th:text="${district.text}">
									</option>
								</select> <label id="districtCityRegionCountry-error" class="error"
									for="districtCityRegionCountry" style="display: none"></label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label " for="note"
								th:text="#{job.note}">Ghi chú</label>
							<div class="col-sm-10">
								<textarea rows="2" th:field="*{note}"
									class="col-sm-10 form-control j-maxlength"
									data-rule-maxlength="65535"></textarea>
								<span class="help-block" th:if="${#fields.hasErrors('note')}"
									th:errors="*{note}"></span>
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-6 col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label "
								th:text="#{map.search.location}">Tìm tọa độ</label>
							<div class="col-sm-8">
								<input type="text" id="pac-input" class="form-control " /> <input
									type="hidden" id="street_number" /> <input type="hidden"
									id="route" /> <input type="hidden" id="locality" /> <input
									type="hidden" id="country" /> <input type="hidden"
									id="administrative_area_level_1" /> <input type="hidden"
									id="administrative_area_level_2" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required" for="latitude"
								th:text="#{map.latitude}">Vĩ độ</label>
							<div class="col-sm-8">
								<input type="text" id="latitude" th:field="*{latitude}"
									class="form-control j-required" readonly="readonly" /> <span
									class="help-block" th:if="${#fields.hasErrors('latitude')}"
									th:errors="*{latitude}"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label required" for="longtitude"
								th:text="#{map.longtitude}">Kinh độ</label>
							<div class="col-sm-8">
								<input type="text" id="longtitude" th:field="*{longtitude}"
									class="form-control j-required" readonly="readonly" /> <span
									class="help-block" th:if="${#fields.hasErrors('longtitude')}"
									th:errors="*{longtitude}"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label " for="description"
								th:text="#{job.description}">Mô tả</label>
							<div class="col-sm-8">
								<textarea rows="3" th:field="*{description}"
									class="col-sm-10 form-control j-maxlength"
									data-rule-maxlength="65535"></textarea>
								<span class="help-block"
									th:if="${#fields.hasErrors('description')}"
									th:errors="*{description}"></span>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-xs-12 col-sm-12 form-control" id="map"
						style="height: 480px;"></div> -->
				</div>
				<div class="col-xs-12 col-sm-12 unit-button">
					<a id="cancel" class="btn btn-cancel" th:text="#{cancel.button}">Thoát</a>
					<a class="btn btn-common" id="btn-save" th:text="#{save.button}"
						th:if="${@roleConfig.hasRole(T(vn.com.unit.dmcs.constant.CommonConstant).MS1_S05_DISTRICT +':Edit')}">Lưu</a>
				</div>
				<input type="hidden" id="url" name="url" th:value="${wardDto.url}" />
			</form>
		</div>
	</section>


</body>
<script type="text/javascript"
	th:src="@{/web-app/views/ward/ward-edit.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/js/ward/ward-edit.js}"></script>		
<!-- <script type="text/javascript"
	th:src="@{/static/cache/js/j-google-map-api.js}"></script>
<script
	th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCs2ue2KZmNdxY_9QCX-hNoELD0l70-g-8&amp;libraries=places&amp;callback=initMap}"
	type="text/javascript">
		</script> -->
</html>