<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />

  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{asset.reporting.title}"></span>
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head"></div>
    </div>
    <div id="msg"></div>
    <!-- FORM SEARCH -->
    <form
      class="form-horizontal u-for-page-top j-formSearch"
      th:action="@{/}"
      th:object="${searchDto}"
      method="POST"
      role="form"
      id="formSearch"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList}"
      />
      <!-- SEARCH AREA START-->
      <div class="bg-content clearfix">
        <div
          data-toggle="collapse"
          data-target="#search-box"
          class="header-box"
        >
          <h5 class="title-box">
            <span th:text="#{search.title}">Vùng tìm kiếm</span>
          </h5>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 label-custom">Asset Tag</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  th:field="*{assetTag}"
                  class="form-control"
                />
              </div>

              <label class="col-sm-2 label-custom">Name of the Asset</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  th:field="*{assetName}"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 label-custom">Asset Status</label>
              <div class="col-sm-4">
                <select class="form-control" th:field="*{assetStatus}">
                  <option value="">All</option>
                  <option
                    th:each="item : ${lstAssetStatus}"
                    th:value="${item.cat}"
                    th:text="${item.catOfficialName}"
                    th:selected="*{assetStatus} == ${item.cat}"
                  ></option>
                </select>
              </div>

              <label class="col-sm-2 label-custom">Asset Serial No</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  th:field="*{serialNo}"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Transaction Type</label>
              <div class="col-md-4">
                <!-- <input type="text" th:field="*{transactionType}"  class="form-control"  /> -->
                <select class="form-control" th:field="*{transactionType}">
                  <option value="">All</option>
                  <option value="Registration">Asset Registration</option>
                  <option value="Handover">Asset Handover</option>
                  <option value="Return">Asset Return</option>
                  <option value="Transfer">Asset Transfer</option>
                  <option value="Adjustment">Asset Adjustment</option>
                </select>
              </div>

              <label class="col-sm-2 label-custom">Transaction No</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  th:field="*{transactionNo}"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Transaction Date From</label>
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{transactionDateFrom}"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>

              <label class="col-md-2">Transaction Date To</label>
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{transactionDateTo}"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Advance -->
          <div class="collapse row m-0" id="search-box-advance">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Register Date From</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      th:field="*{registerDateFrom}"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>

                <label class="col-md-2">Register Date To</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      th:field="*{registerDateTo}"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Vendor</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{vendor}"
                    class="form-control"
                  />
                </div>

                <label class="col-md-2">PO/Contract No</label>
                <div class="col-md-4">
                  <input type="text" th:field="*{poNo}" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Receipt No</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{receiptNo}"
                    class="form-control"
                  />
                </div>

                <label class="col-md-2">Asset Owner</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{assetOwner}"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Receipt Date From</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      th:field="*{receiptDateFrom}"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>

                <label class="col-md-2">Receipt Date To</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      th:field="*{receiptDateTo}"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Office Location</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{officeLocation}"
                    class="form-control"
                  />
                </div>

                <label class="col-md-2">Warehouse</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{warehouse}"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Asset Category</label>
                <div class="col-md-4">
                  <select class="form-control" th:field="*{assetCategory}">
                    <!--  -->
                    <th:block th:each="item : ${lstCategory}">
                      <option
                        th:value="${item.code}"
                        th:text="${item.name}"
                      ></option>
                    </th:block>
                  </select>
                </div>

                <label class="col-md-2">Asset Sub Category</label>
                <div class="col-md-4">
                  <select class="form-control" th:field="*{assetSubCategory}">
                    <th:block th:each="item : ${lstSubCategory}">
                      <option
                        th:value="${item.code}"
                        th:text="${item.name}"
                      ></option>
                    </th:block>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Purchase Date From</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{purchaseDateFrom}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>

                <label class="col-md-2">Purchase Date To</label>
                <div class="col-md-4">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="dd/mm/yyyy"
                      autocomplete="off"
                      th:field="*{purchaseDateTo}"
                    />
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Invoice Number</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    th:field="*{invoiceNumber}"
                    class="form-control"
                  />
                </div>

                <label class="col-md-2">PR No.</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" th:field="*{prNo}" />
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Dept.</label>
                <div class="col-md-4">
                  <!-- <input type="text" th:field="*{dept}" class="form-control" /> -->
                  <select class="form-control select2" th:field="*{dept}">
                    <option value="">All</option>
                    <option
                      th:each="item : ${listCostCenter}"
                      th:selected="*{dept} == ${item.name}"
                      th:value="${item.name}"
                      th:text="${item.text}"
                    ></option>
                  </select>
                </div>

                <label class="col-md-2">Property Of</label>
                <div class="col-md-4">
                  <select class="form-control" th:field="*{propertyOf}">
                    <option value="">All</option>
                    <option
                      th:each="item : ${lstAssetRule}"
                      th:value="${item.cat}"
                      th:text="${item.catOfficialName}"
                      th:selected="*{propertyOf} == ${item.cat}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="col-md-2">Note</label>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{remark}"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- END Advance -->

          <div align="center">
            <div class="position-label col-xs-12 col-sm-12">
              <a id="btnSearch" class="btn-common">
                <i class="fa fa-search"></i> <span>Search</span></a
              >
              <a id="btnExport" class="btn-common">
                <i class="fa fa-download"></i> <span>Export</span>
              </a>

              <div
                class="pull-right collapse-search"
                data-toggle="collapse"
                data-target="#search-box-advance"
                id="box-advance"
              >
                <i class="fa fa-plus" id="iconShow" aria-hidden="true"></i>
                <span>Advance search</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SEARCH AREA END -->
    </form>
    <!-- HTML TABLE -->
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/asset-reporting/asset-reporting-list-table.html :: content"
      />
    </div>
    <input type="hidden" id="conditionHidd" />
    <input type="hidden"id="urlSearch"/>

    <script
      type="text/javascript"
      th:src="@{/static/js/asset-reporting/asset-reporting-list.js}"
    ></script>
  </body>
</html>
