<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
	<div class="col-sm-12 p-0">
		<div class="col-sm-8 p-0">
			<h2 class="title-box"  th:text="#{account.team.user.list}">Kết quả tìm kiếm</h2>
		</div>
		<div class="col-sm-12 no-padding">
			<div class="table-responsive clearfix">
			    <table class="table table-bordered table-striped">
			        <thead>
			            <tr>
			                <th class="u_t_no">#</th>
			                <th th:text="#{account.code}">Mã nhân viên</th>
			                <th th:text="#{account.fullname}">Họ và tên</th>
			                <th th:text="#{account.email}">Email</th>
			                <th th:text="#{account.phone}">Số điện thoại</th>
			                <th th:text="#{account.positionId}">Chức vụ</th>
			            </tr>
			        </thead>
			        <tbody>
			            <th:block th:each="accountListDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		                    <tr th:attr="data-account-id=${accountListDto.id}">
		                        <td class="text-center" th:text="${i.index + startIndex}"></td>
		                        <td th:text="${accountListDto.code}"></td>
		                        <td th:text="${accountListDto.fullname}"></td>
		                        <td th:text="${accountListDto.email}"></td>
		                        <td th:text="${accountListDto.phone}"></td>
		                        <td th:text="${accountListDto.positionName}"></td>
		                    </tr>
		                </th:block>
			        </tbody>
			    </table>
			  </div>
		</div>
	</div>
	<!-- script for paging -->
        <th:block th:include="views/commons/pagination.html :: content"/>
    <!-- end script -->
	</body>
	<script type="text/javascript" th:src="@{/static/cache/js/position-tree/account-list.js}"></script>
</html>

