<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/views/position-tree/position.css}"/> -->

<head>
	<style>
		i {
			cursor: pointer;
		}
	</style>
</head>

<body th:fragment="content">
    	<div class="placeholders bg-content bg-content-tbl">
			<div class="row m-0">
				<div class="col-sm-9 p-0">					
					<h3 class="title-box" th:text="#{position.information}">Chi tiết</h3>
				</div>
				
				<!-- Button delete, edit and new -->
				<div class="col-sm-3 icon-head" th:if="${orgViewMode.name() == 'VIEW'}">
					<div class="pull-right">
						<i th:if="${delete}" id="id-btn-delete-org" class="glyphicon glyphicon-remove-sign icon-head-red"></i>
						<i th:if="${edit}" id="id-btn-edit-org" class="glyphicon glyphicon-edit icon-head-red"></i>
						<i id="id-btn-new-org" class="glyphicon glyphicon-plus-sign icon-head-red"></i>												
					</div>
				</div>
				
				<!-- Button cancel and save -->
				<div class="col-sm-3 icon-head" th:if="${orgViewMode.name() == 'EDIT'}">
					<div class="pull-right">
						<i id="id-btn-cancel-org" class="glyphicon glyphicon-arrow-left icon-head-red"></i>
						<i id="id-btn-update-org" class="glyphicon glyphicon-floppy-disk icon-head-red"></i>																	
					</div>
				</div>
			</div>								
			
			<div class="j-message-alert" id="msg">
				<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
			</div>
			<!-- =============== View organization detail ================================================================= -->
			
			<div class="box-body org-detail-view-group" th:if="${orgViewMode.name() == 'VIEW'}">	
				<input type="hidden" id="detailId" th:value="${orgDto.positionId}" />
				<div class="row form-group">
					<label class="col-sm-3" th:text="#{organization.detail.code}">CODE</label>
					<div class="col-sm-9">
						<label class="form-control" th:text="${orgDto.code}" ></label>
					</div>
				</div>
				
				<div class="row form-group" th:if="${orgDto.companyName}!=null">
		           	<label for="companyId" class="col-sm-3" th:text="#{company.detail}">Company</label>
		            <div class="col-sm-9">
		               	<label class="form-control" th:text="${orgDto.companyName}" ></label>
		           	</div>
            	</div>
				
				<div class="row form-group">
					<label class="col-sm-3" th:text="#{organization.detail.name}">Name</label>
					<div class="col-sm-9">
					    <label class="form-control" th:text="${orgDto.name}"></label>
					</div>
				</div>
					
				<div class="row form-group">
					<label class="col-sm-3 " th:text="#{organization.detail.nameabv}">Name ABV</label>
					<div class="col-sm-9">
					    <label class="form-control" th:text="${orgDto.nameAbv}" ></label>
					</div>
				</div>
				
				<div class="row form-group">
		            <label class="col-sm-3" th:text="#{position.description}">Mô tả</label>
		            <div class="col-sm-9">
		            	<textarea rows="3" th:text="${orgDto.description}" class="form-control j-maxlength" data-rule-maxlength="65535" disabled="disabled"></textarea>                
		            </div>
			    </div>
			    
				<div class="row form-group">
					<div class="col-sm-3 "></div>
					<div class="col-sm-9">
						<input type="checkbox" th:checked="${orgDto.actived}" disabled="disabled" />
						<label th:text="#{organization.detail.active}">Active</label>
					</div>
				</div>
				
				<!-- End role for organization -->
				
			</div>
									 
<!-- =============== Edit organization detail ================================================================= -->
			<form id="id-form-org-edit" th:action="@{/position/update}" th:object="${orgDto}" class="form-horizontal j-form-validate" method="post" role="form"
				th:if="${orgViewMode.name() == 'EDIT'}">
				
				<input type="hidden" th:field="*{positionId}" />
				<input type="hidden" th:field="*{positionParentId}" />
				<input type="hidden" th:field="*{mode}" />
				<input type="hidden" th:field="*{companyId}" />
				<div class="box-body" >
					<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label for="id-org-code" class="col-sm-3 required" th:text="#{organization.detail.code}" 
							th:classappend="${#fields.hasErrors('code')} ? has-error : ''">CODE</label>
						<div class="col-sm-9" >
							<input id="id-org-code" class="form-control j-required j-minlength j-code" data-rule-minlength="4" maxlength="10" th:field="*{code}" type="text" 
								style="text-transform: uppercase;"/>
							<span id = "orgCode" class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
						</div>
					</div>
					
					<div class=" row form-group" th:if="*{companyId}==null and *{positionParentId}==1">
		                <label for="companyId" class="col-sm-3 required" th:text="#{company.detail}">Company</label>
		                <div class="col-sm-9">
		                    <select class="form-control select2" id="companyId" name="companyId">
		                        <option th:each="company : ${companyList}"
		                                th:value="${company.id}"
		                                th:text="${company.text}"
		                                th:selected="${companyIdSelect}==${company.id}">
		                        </option>
		                    </select>
		                </div>
            		</div>
            		
					<div class="form-group">
						<label for="id-org-name" class="col-sm-3 required" th:text="#{organization.detail.name}"
							th:classappend="${#fields.hasErrors('name')} ? has-error : ''">Name</label>
						<div class="col-sm-9">
						    <input id="id-org-name" class="form-control j-required" maxlength="255" th:field="*{name}" type="text" />
						    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
					</div>
						
					<div class="form-group">
						<label for="id-name-abv" class="col-sm-3 required" th:text="#{organization.detail.nameabv}"
							th:classappend="${#fields.hasErrors('nameAbv')} ? has-error : ''">Name ABV</label>
						<div class="col-sm-9">
							<input id="id-name-abv" class="form-control j-required" maxlength="125" th:field="*{nameAbv}" type="text" />
							<span class="help-block" th:if="${#fields.hasErrors('nameAbv')}" th:errors="*{nameAbv}"></span>
						</div>
					</div>
					
					
					<div class="row form-group">
			            <label for="description" class="col-sm-3" th:text="#{position.description}">Mô tả</label>
			            <div class="col-sm-9">
			            	<textarea rows="3" th:field="*{description}" class="form-control j-maxlength" data-rule-maxlength="65535"></textarea>
			            	<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>                
			            </div>
				    </div>
					
					<div class="form-group">
						<div class="col-sm-3 "></div>
						<div class="col-sm-9">
							<div >
							 	<input type="checkbox" th:field="*{actived}"/>
								<label th:text="#{organization.detail.active}">Active</label>								
							</div>
						</div>
					</div>
				</div>
				
			</form>	
			
			<!-- Google Map -->
			<!-- <div id="map" style="width:100%; height:400px;"></div> -->
		</div>
		<div class="bg-content clearfix bg-content-tbl" id="userList"></div>						
	<!-- <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCs2ue2KZmNdxY_9QCX-hNoELD0l70-g-8&amp;libraries=places&amp;callback=initMap}" type="text/javascript"></script> -->
	<script type="text/javascript" th:src="@{/static/cache/js/position-tree/position-detail.js}"></script>   
	</body>
</html>