<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body>		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tabCountry a').click(function(event) {
					event.preventDefault();
					$(this).tab('show');
				});
			});
		</script>
		<div class="row main-heading ">
			<div class="row unit-border-bottom">
				<div class="col-sm-8 col-xs-6">
					<h3 class="mar-tb-no red" th:text="#{country.page}">Tiêu đề trang</h3>
				</div>
				<div class="col-sm-4 col-xs-6 align-right ml-auto">
            		<a class="u-btn-head" id="linkList" th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN:Disp'')')}">
						<img th:src="@{/static/icons/icon-back.png}"/>
						<span th:title="#{icon.back}">Trở lại</span>
					</a>
	           		<a class="u-btn-head" id="add" th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN:Disp'')')}">
						<img th:src="@{/static/icons/icon-plus-white.png}"/>
						<span>Thêm mới</span>
					</a>
					
				</div>
			</div>
		</div>
		<form class="form-horizontal u-for-page-top j-form-validate" th:object="${countryDto}" method="post" role="form">
			<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>	
			<div class="row unit-bg-com">   	
				
				<h2 class="sub-header section-heading" th:text="#{country.infomation}">Cập nhật quốc gia</h2>			                           
	            <input type="hidden" th:field="*{countryId}" />	            
	            <div class="">					
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-4 control-label " for="countryCode" th:text="#{country.code}">Mã quốc gia</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${countryDto.countryCode}" > </label>													
							</div>
						</div>
						<!-- Show language -->    		        
						<div class="form-group">
							<label  class="col-sm-4 control-label" th:text="#{news.language}">Ngôn ngữ</label>
							<div class="col-sm-8 gr-tab">
								<ul class="nav nav-tabs" id="tabCountry">
									<th:block th:each="language, i : ${languageList}">
										<li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" >
											<a th:href="'#' + ${language.code}" th:text="${language.name}"></a>
										</li>
									</th:block>
								</ul>
							</div>
						</div>
						<div class="tab-content" style="margin-top: 10px">
							<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
							<div th:id="${language.code}" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">	        			        			        	
						        <div class="row form-group">
						        	<label for="countryLanguageDtos[__${index}__].countryName" class="col-sm-4 control-label " th:text="#{country.name}">Tên quốc gia</label>
						            <div class="col-sm-8 panel panel" >	
						            	<label class="form-control" th:text="*{countryLanguageDtos[__${index}__].countryName}" > </label>				            						            							            
						            	<input  th:field="*{countryLanguageDtos[__${index}__].countryName}" type="hidden" />					            		               
						            </div>						            	
						        </div>
						        <div class="row form-group">	
						        	<label for="countryLanguageDtos[__${index}__].localName" class="col-sm-4 control-label " th:text="#{country.localname}">Tên gọi tắt</label>
						            <div class="col-sm-8 panel panel" >	
						            	<label class="form-control" th:text="*{countryLanguageDtos[__${index}__].localName}" > </label>				            						            							            
						            	<input  th:field="*{countryLanguageDtos[__${index}__].localName}" type="hidden" />					            		               
						            </div>	        						            
						        </div>
						        <input type="hidden" id = "country"/>				        						        
					        </div>		        					    		      
				        	</th:block>
						</div>	
						<div class="form-group">
							<label class="col-sm-4 control-label " for="note" th:text="#{job.note}">Ghi chú</label>	
							<div class="col-sm-8 panel" th:text="${countryDto.note}">			            			            
			           		</div>												
						</div>				        
			        	<!-- End show language -->						
					</div>								
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-4 control-label " for="latitude" th:text="#{map.latitude}" >Vĩ độ</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${countryDto.latitude}" > </label>
								<input type="hidden" id = "latitude" th:field="*{latitude}" />														
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label " for="longtitude" th:text="#{map.longtitude}">Kinh độ</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${countryDto.longtitude}" > </label>
								<input type="hidden" id = "longtitude" th:field="*{longtitude}" />														
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label " for="webCode" th:text="#{country.webcode}">Mã website</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${countryDto.webCode}" > </label>														
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label " for="phoneCode" th:text="#{country.phonecode}">Mã điện thoại</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${countryDto.phoneCode}" > </label>														
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label " for="description" th:text="#{job.description}">Mô tả</label>
							<div class="col-sm-8 panel" th:text="${countryDto.description}">			            			            
			           		</div>													
						</div>						
					</div>													
				</div>  
				<div class="col-xs-12 col-sm-12 form-control" id="map" style="height:480px!important">
						
				</div>
			</div>  		   			    		   			    		   											
		</form>		
	</body>
	<input type="hidden" id="url" name="url" th:value="${countryDto.url}"/>
	<script type="text/javascript" th:src="@{/web-app/views/country/country-detail.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/j-google-map-api.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCs2ue2KZmNdxY_9QCX-hNoELD0l70-g-8&amp;libraries=places&amp;callback=initMap}" type="text/javascript">
	</script>
</html>