<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>
	<link type="text/css"
		th:href="@{/static/CMS/banner/css/banner-edit.css}" />
	<style>
.border-group {
	height: 32px;
	background: #d6d5d5;
	margin-left: -3px;
	border-radius: 0 4px 4px 0;
	border: 1px solid #ccc;
}
</style>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var EDIT_DTO = /*[[${bannerSettingEditDto}]]*/;
		var LANGUAGE_LIST = /*[[${languageList}]]*/;
		var BANNER_PAGE_LIST = /*[[${listDataPage}]]*/;

		var MSG_ERROR_MIN_SIZE_DESKTOP = [[#{message.confirm.upload.image.banner.desktop.error}]];
		var MSG_ERROR_MIN_SIZE_MOBILE = [[#{message.confirm.upload.image.banner.mobile.error}]];
		var MSG_ERROR_MIN_SIZE_VIDEO = [[#{message.confirm.upload.video.banner.error}]];
		/*]]>*/
	</script>

	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{banner.setting.edit.title }">Tiêu đề trang</span>
				</h3>
			</div>
			<div class="col-md-7">
				<div class="pull-right">
					<a class="u-btn u-btn-back" id="linkList"> <img
						th:src="@{/static/images/icon-down.png}" alt="" width="17px"
						class="rotate-ico" /> <span>Trở lại</span>
					</a> <a class="u-btn u-btn-primary"
						th:if="${bannerSettingEditDto.id != null}" id="addNew"> <img
						th:src="@{/static/images/ico-plus-white.png}" alt="" /> <span>Thêm
							mới</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<form th:action="@{/banner/homepage-setting/edit}"
		th:object="${bannerSettingEditDto}" method="POST"
		class="form-horizontal u-for-page-top j-form-validate" id="bannerForm">
			
		 <input type="hidden" id="id"  name="id"   th:value="${bannerSettingEditDto.id}" />
		 <input type="hidden" id="url" name="url" th:value="${bannerSettingEditDto.url}" /> 
		 <input type="hidden" id="requestToken"   th:field="*{requestToken}" /> 
		 <input type="hidden" th:field="*{referenceType}" /> 
		 <input type="hidden" th:field="*{referenceId}" />
		 <input type="hidden" id="buttonAction"name="buttonAction" /> 
		 <input type="hidden" id="fieldSearchHidd" />
		 <input type="hidden" id="fieldValuesHidd" />
		 <input type="hidden" th:field="*{codeSearch}" />
	     <input type="hidden" th:field="*{nameSearch}" />
		 <input type="hidden" th:field="*{statusSearch}" />
		 <input type="hidden" th:field="*{updateDate}" /> 
	     <input type="hidden" th:field="*{hasEdit}" /> 
		 <input type="hidden" th:field="*{bannerType}" />
		
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
		<div class="bg-content">
			<div class="row">
				<div class="col-md-12 no-padding">
					<div class="col-md-6 no-padding">

						<label for="bannerPage" class="col-sm-4 col-md-4 required" th:text="#{banner.page}">Banner cho trang</label>
						<div class="form-group" th:classappend="${#fields.hasErrors('date')} ? has-error : ''">
							<div class="col-sm-8 col-md-8">
								<select th:field="*{bannerPageName}" th:data-placeholder="#{banner.page}" tabindex="2" class="form-control j-required">
									<option value=""></option>
									<option th:each="obj : ${listDataPage}" 
											th:value="${obj.kind}"
											th:text="${obj.name}"
											th:selected="(${obj.id} == *{bannerPageName})">
									</option>
								</select> 
									<span class="help-block" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
									<label id="bannerPageName-error" class="error" for="bannerPageName" style="display: none">Giá trị bắt buộc nhập</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding">
					<div class="form-group"	th:classappend="${#fields.hasErrors('bannerType')} ? has-error : ''">
						<label class="col-sm-4 col-md-4 required" th:text="#{banner.type.name}">Loại banner</label>
						<div class="col-sm-8 col-md-8">
							<select class="form-control j-required" id="bannerTypeDto" th:data-placeholder="#{banner.device}">
								<option th:each="obj : ${listDataType}" 
										th:value="${obj.id}"
										th:text="${obj.name}"
										th:selected="(${obj.id} == *{bannerType})">
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="devVideo">
					<div class="form-group" id="pro">
						<div class="col-md-3">
							<input type="checkbox" th:field="*{autoPlay}" /> 
							<label class="control-label" th:text="#{banner.autoplay}">Tự động chạy</label>
						</div>
						<div class="col-md-5">
							<input type="checkbox" th:field="*{autoMute}" /> 
							<label class="control-label" th:text="#{banner.automute}">Tự động mở âm thanh</label>
						</div>
						<div class="col-md-4">
							<input type="checkbox" th:field="*{autoReplay}" />
						    <label class="control-label" th:text="#{banner.autoreplay}">Tự động chạy lại</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- <div class="col-md-6 no-padding form-group">
					<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label class="col-sm-4 col-md-4" th:text="#{banner.time}">Thời gian chạy slide</label>
						<div class="col-sm-8 col-md-8">
							<input type="number" class="form-control text-uppercase j-number" data-rule-maxlength="30" th:field="*{slideTime}" />
						</div>
					</div>
				</div> -->
				<div class="col-md-6 no-padding form-group" id="devslideTime">
					<label for="code" class="col-sm-4 control-label" th:text="#{banner.time}">Thời gian chuyển slide</label>
						<div class="col-xs-6" style="padding-right: 0px">
							<input type="number" th:field="*{slideTime}" class="form-control text-uppercase  code" />
						</div>
					<div class="col-xs-2 align-center" style="padding-left: 0px">
						<div class="border-group styleForIE">
							<label style="margin-top: 4px; position: absolute; left: 28px;" th:text="#{term.seconds}"></label>
						</div>
					</div>
				</div>

				<div class="col-md-6" id="devImg">
					<div class="form-group" id="eff">
						<label class="col-sm-4 col-md-4" th:text="#{banner.effect}">Hiệu ứng</label>
						<div class="col-sm-8 col-md-8">
							<select class="form-control" th:field="*{bannerEff}" th:data-placeholder="#{banner.effect}">
								<option value=""></option>
								<option th:each="obj : ${listDataEff}" 
										th:value="${obj.id}"
										th:text="${obj.name}" 
										th:selected="(${obj.id} == *{bannerEff})">
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 no-padding form-group">
					<label class="col-sm-4 col-md-4 required" th:text="#{homepage.setting.fromDate}">Ngày bắt đầu</label>
					<div class="col-sm-8 col-md-8 ">
						<input class="form-control validateStartDate required" 
								id="startDate"
								name="startDate"
								th:value="${bannerSettingEditDto.startDate} ? ${#dates.format(bannerSettingEditDto.startDate, 'dd/MM/yyyy HH:mm:ss')}"
								placeholder="dd/mm/yyyy" 
						/>
					</div>
				</div>
				<div class="col-md-6">
					<label class="col-sm-4 col-md-4" th:text="#{homepage.setting.endDate}">Ngày kết thúc</label>
					<div class="col-sm-8 col-md-8">
						<input class="form-control validateEndDate"
								id="endDate"
								name="endDate" 
								placeholder="dd/mm/yyyy"
								th:value="${bannerSettingEditDto.endDate} ? ${#dates.format(bannerSettingEditDto.endDate, 'dd/MM/yyyy HH:mm:ss')}"
						 />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group ">
					<label class="col-md-2 col-sm-2"
						th:text="#{account.channel}">Kênh</label>
					<div class="col-sm-4">
						<select class="form-control select2" th:field="*{channelList}"
							multiple="multiple" id="channelId">
							<option th:each="channel : ${channels}"
								th:value="${channel.code}"
								th:selected="${channelList != null and channelList.contains(channel.code)}"
								th:text="${channel.code} + ' - ' + ${channel.name}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="tab-content" style="margin-top: 10px">
				<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
					<div th:id="language__${index}__" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">
						<div class="row">
							<div class="form-group" id="divImg">
								<!-- <label  th:id="'bannerImageLBL' + ${index}"class="lb_language col-sm-4 col-md-2 required" th:text="#{banner.image}">Banner</label> -->
								<div class="controls col-sm-8 col-md-10" style="display: none;">
									<div>
										<div th:id="imageConsole__${index}__"></div>
										<div class="wrap_img">
											<img th:id="img_banner__${index}__" 
												class="img_banner"
												style="width: 100%" /> <input type="hidden"
												th:id="physicalImg__${index}__"
												th:field="*{bannerLanguageList[__${index}__].bannerPhysicalImg}" />
											<input type="hidden" 
													th:id="bannerImg__${index}__"
													th:field="*{bannerLanguageList[__${index}__].bannerImg}" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" id="divVideo" style="display: none;">
								<label class="lb_language col-sm-4 col-md-2 "></label>
								<div class="controls col-sm-8 col-md-10 ">
									<div>
										<input type="checkbox" class="checkLink"
											th:id="bannerVideoType__${index}__"
											th:name="'bannerLanguageList[__${index}__].bannerVideoType'"
											th:checked="*{isYoutube} == 1 "
										 />
											 <label class="control-label" th:text="#{banner.youtube}">Video	from Youtube</label>
									</div>
								</div>
									
									<div id="divVideoYoutube">
									<label class="lb_language col-sm-4 col-md-2 required" th:text="#{banner.link}">Link video</label>
									<div class="col-sm-8 col-md-10">
										<div class="form-group">	
											<input	th:class="*{bannerType} != 1 ? 'form-control youtube j-required' : 'form-control youtube'"
													th:id="bannerYoutubeVideo__${index}__"
													placeholder="https://www.youtube.com/"
													th:field="*{bannerYoutubeVideo}" 
											/>														
										</div>
										<div class="form-group"	th:id="divPhysicalYoutubeVideo__${index}__">
											<iframe th:id="bannerPhysicalYoutubeVideo__${index}__"
													width="600" 
													height="493" 
													src="">
											</iframe>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="divVideoPhysical">
							<div class="row bannerTopList">
								<div class="col-md-6 no-padding">
									<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
										<label class="col-sm-4 col-md-4 required" th:text="#{product.banner.desktop}">Banner cho máy tính</label>
										<div class="col-sm-8 col-md-8">
											<select class="form-control  j-required" readonly th:field="*{mBannerTopId}" th:data-placeholder="#{product.banner.desktop}">
												<option value=""></option>
												<option th:each="obj : ${listBannerDesktop}"
														th:value="${obj.id}" 
														th:text="${obj.name}"
														th:selected="${bannerSettingEditDto.mBannerTopId != null}
																	 AND ${#arrays.contains(bannerSettingEditDto.mBannerTopId, obj.id)}">
												</option>
											</select> 
											<label id="mBannerTopId-error" class="error" for="mBannerTopId" style="display: none">Giá trị bắt buộc nhập</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<ul class="sortable banner-top-list list-group">
										<th:block th:each="item,i : *{bannerTopList}" th:with="index=${i.index}">
											<li class="ui-state-default list-group-item list-group-item-info" th:id="${item.id}">
												<div style="cursor: pointer;"></div>
											</li>
										</th:block>
									</ul>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="form-group ">
											<div class="col-sm-4 col-md-2 control-label">
												<!--<label th:text = "#{homepage.setting.image}">Hình ảnh</label>-->
											</div>
											<div class="col-sm-8 col-md-10 pleft-10">
												<div class="well" id="banner-image" style="display: inline-block; width: 100%">
													<th:block th:include="views/CMS/all/banner-setting/banner-setting-edit-img.html :: content" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row bannerTopMoblieList">
								<div class="col-md-6 no-padding">
									<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
										<label class="col-sm-4 col-md-4 required" th:text="#{product.banner.mobile}">Banner cho điện thoại </label>
										<div class="col-sm-8 col-md-8">
											<select class="form-control  j-required" th:field="*{mBannerTopMobileId}" th:data-placeholder="#{product.banner.mobile}">
												<option value=""></option>
												<option th:each="obj : ${listBannerMobile}"
														th:value="${obj.id}" th:text="${obj.name}"
														th:selected="${bannerSettingEditDto.mBannerTopMobileId != null}
																	AND ${#arrays.contains(bannerSettingEditDto.mBannerTopMobileId, obj.id)}">
												</option>
											</select>
											 <label id="mBannerTopMobileId-error" class="error"	for="mBannerTopMobileId" style="display: none">Giá trị bắt buộc nhập</label>
										</div>
									</div>
								</div>
								<div class="col-md-6 ">
									<ul class="sortable banner-top-moblie-list list-group">
										<th:block th:each="item,i : *{bannerTopMobileList}"	th:with="index=${i.index}">
											<li	class="ui-state-default list-group-item list-group-item-info" th:id="${item.id}">
												<div style="cursor: pointer;">
													<span th:text="${item.name}"></span>
												</div>
											</li>
										</th:block>
									</ul>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="form-group ">
											<div class="col-sm-4 col-md-2 control-label">
												<!--<label th:text = "#{homepage.setting.image}">Hình ảnh</label>-->
											</div>
											<div class="col-sm-8 col-md-10 pleft-10">
												<div class="well" id="banner-moblie-top-image" style="display: inline-block; width: 100%">
													<th:block th:include="views/CMS/all/banner-setting/banner-setting-edit-img.html :: content" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
			<div class="row m-0 pos-gr-btn"
				th:if="${bannerSettingEditDto.hasEdit}">
				<!-- <button type="button" class="u-btn u-btn-back " id="cancel">
					<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico" />
					<span th:text="#{cancel.button}">Thoát</span>
				</button> -->
				<button type="button" class="u-btn u-btn-primary" id="btnSave">
					<img th:src="@{/static/images/icon-save.png}" alt="" width="19px" />
					<span th:text="#{save.button}">Lưu</span>
				</button>
			</div>
		</div>


		

	</form>
	 <script type="text/javascript" th:src="@{/static/CMS/all/banner-setting/js/banner-setting-edit.js} + ${'?rev=' + @systemConfig.getRev()}"></script>
	
	<script type="text/javascript" th:src="@{/static/CMS/js/bootstrap-datetimepicker.min.js}"></script>
	<script>
		  $( function() {
		    $( ".sortable" ).sortable();
		  } );
	</script>
	
	<script th:inline="javascript">
	 	/*<![CDATA[*/
	 	var LIST_BANNER_TOP = [[${listBannerDesktop}]];
	 	var LIST_BANNER_MOBILE = [[${listBannerMobile}]];

	 	var LIST_BANNER_TOP_SELECTED = [[${bannerSettingEditDto.listMBannerTopId}]]
	 	var LIST_BANNER_MOBILE_SELECTED = [[${bannerSettingEditDto.listMBannerMobileTopId}]]

		/*]]>*/
	</script>



</body>
</html>
