.popup-container {
    position: absolute;
    top: 40%;
    left: 50%;
    min-height: 100px;
    width: 530px;
  }
  
  .popup-content {
    padding: 25px 40px!important;
    min-width: 300px;
    margin: 70px 0 0;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: fit-content;
    min-height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .toggle-button {
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    width: 20%;
    margin-right: 5rem;
    background: linear-gradient(45deg, #ec1c24, #b10c21);
  }