<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="col-sm-12 p-0">
	
	    <div class="row">
		    <div class="col-sm-10">
				<h2 class="title-box" th:text="#{rule.setting}">Rule setting</h2>
			</div>
			<div class="col-sm-2 align-right">
				<div class="icon-head">
					<a id="id-add-org-for-account" class="fa fa-plus-circle icon-head-red" type="button"></a>
		        	<a id="id-cancel-org-for-account" class="fa fa-arrow-circle-left icon-head-red" type="button"></a>
		            <a id="id-update-org-for-account" class="fa fa-save" type="button"></a>
				</div>
			</div>
			 <div class="col-sm-10">
			 	<h4 class="text-success" th:text="${messageOrgForAccount}" id="msg"></h4>
			 </div>
	    </div>
	    <div class="table-responsive">
			<table id="orgForAccountTable" class="table table-bordered table-striped">
			    <input type="hidden" id="result_size" th:value="${not #lists.isEmpty(listRuleSettingDto) ? #lists.size(listRuleSettingDto) : 0 }"/>
				<thead>
					<tr>
						<th class="u_t_no">#</th>
						<th class="u_t_name" th:text="#{rule.table.org.name}">org name</th>
						<th th:text="#{rule.table.org.type}">org type</th>
						<th class="u_t_name" th:text="#{rule.table.pos.name}">position name</th>
	                   	<th th:text="#{rule.table.pos.type}">position type</th>
	                   	<th class="no-action" th:text="#{table.label.action}" >Action</th>
					</tr>
				</thead>
				<tbody>
				    <th:block th:each="orgForAccountDto,iterStat : ${listRuleSettingDto}"  th:with="startIndex=1">
						<tr th:attr="data-org-for-account-id=${orgForAccountDto.orgId}">
							<input type="hidden" th:value="${iterStat.index}" id="index"/>
							<input type="hidden" th:name="listRuleSettingDto[__${iterStat.index}__].id" th:value="${orgForAccountDto.orgId}"/>
							<input type="hidden" th:value="${orgForAccountDto.orgId}" th:name="listRuleSettingDto[__${iterStat.index}__].orgId" th:id="org-for-account-id"/>
							<input type="hidden" th:value="${orgForAccountDto.orgName}" th:name="listRuleSettingDto[__${iterStat.index}__].orgName"/>
							<input type="hidden" th:value="${orgForAccountDto.positionName}" th:name="listRuleSettingDto[__${iterStat.index}__].positionName"/>
							<input type="hidden" th:value="${orgForAccountDto.businessId}" th:name="listRuleSettingDto[__${iterStat.index}__].businessId"/>
							<td  class="text-center" th:text="${iterStat.index + startIndex}"></td>
							<td class ="col-organization">
							    <div id="org">
								    <input th:if="${listRuleSettingDto[__${iterStat.index}__].orgId}!=0"
									    type="text" class="form-control"
									    th:value="${listRuleSettingDto[__${iterStat.index}__].orgId}" th:id="${'listOrg'+iterStat.index}"/>
									<input th:unless="${listRuleSettingDto[__${iterStat.index}__].orgId}!=0"
									    type="text" class="form-control"
									    th:value="${listRuleSettingDto[__${iterStat.index}__].orgName}" th:id="${'listOrg'+iterStat.index}"/>
								</div>
		                    </td>
		                    <td class ="col-organization">
							    <div>
								    <select class="form-control select2" th:value="${listRuleSettingDto[__${iterStat.index}__].ruleOrgType}"
								    	th:name="listRuleSettingDto[__${iterStat.index}__].ruleOrgType">
								    	<option th:each="ruleType : ${listRuleType}" 
			                                th:value="${ruleType.id}"
			                                th:selected="${#strings.equals(ruleType.id,listRuleSettingDto[__${iterStat.index}__].ruleOrgType)}"
			                                th:text="#{${ruleType.text}}">
			                        	</option>
								    </select>
								</div>
		                    </td>
		                    <td class ="col-organization">
							    <div>
								    <select class="form-control list-position" th:value="${listRuleSettingDto[__${iterStat.index}__].positionId}"
								    	th:name="listRuleSettingDto[__${iterStat.index}__].positionId">
								    	<option  th:value="${listRuleSettingDto[__${iterStat.index}__].positionId}" th:text="${listRuleSettingDto[__${iterStat.index}__].positionName}"></option>
								    </select>
								</div>
		                    </td>
		                    <td class ="col-organization">
							    <div>
								    <select class="form-control select2" th:value="${listRuleSettingDto[__${iterStat.index}__].rulePositionType}"
								    	th:name="listRuleSettingDto[__${iterStat.index}__].rulePositionType">
								    	<option th:each="ruleType : ${listRuleType}" 
			                                th:value="${ruleType.id}"
			                                th:selected="${ruleType.id == listRuleSettingDto[__${iterStat.index}__].rulePositionType}"
			                                th:text="#{${ruleType.text}}">
			                        	</option>
								    </select>
								</div>
		                    </td>

							<td class="td-action text-center">
		                           <a class="glyphicon glyphicon-remove-sign font-size-20 red delete-org-for-account"> </a> 
		<!--                                       th:attr="data-msg-confirm=#{message.confirm.delete.content}"> -->
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<div class="table-footer">
			 	<th:block th:include="views/commons/pagination.html :: content"/>
			</div>	
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/cache/js/rule/rule-org.js}"></script>
</html>
