<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="row m-0">
		<div class="header-box">
			<div class="row">
				<div class="col-sm-4">
					<h2 class="title-box" th:text="#{history.result}">Kết Quả Tìm Kiếm </h2>
				</div>
			</div>
		</div>
		
		<div class="row m-0 collapse in" id="history-approve" aria-expanded="true">
			<div id="tableProcessStatus">
				<div class="unit-bg-com clearfix col-sm-12" style="padding: 0px;">
					<!-- <th:block th:each="item,i : ${historyProcessList}" th:classappend="${i.index > 4} ? 'widgetHistoryProcessHiddenHistoryProcess' : ''">
						<div class="form-group col-md-12 p-0">
							<div class="col-sm-1">
								<img th:unless="${item.completedAvatar}" class="img-avata-full" alt="" th:src="@{/static/images/avata.png}"/>
								<img th:if="${item.completedAvatar}" class="img-avata-full" alt="" th:src="@{/ajax-file/download(filePath=${item.ownerAvatar}, repositoryId=${item.completedAvatarRepoId})}"/>
							</div>
							<div class="col-sm-11" style="padding-bottom: 5px;">
								<h5 style="font-size: 11px;">
									<span style="font-weight: bold;" th:text="*{item.completedFullName}">Full name</span>
									<span th:text="*{item.actionName}">Approve</span>
									<span th:text="#{document.process.history.on.date.time}">on</span>
									<span style="font-weight: normal; color: #3097b6;" th:text="${item.actionTime != null}?${#dates.format(item.actionTime, 'dd/MM/yyyy HH:mm:ss')}:''">14-Jul-2019 08:15</span>
									<span th:text="#{document.process.history.at.step}">at step </span> <span style="font-weight: normal; color: red;" th:text="*{item.stepName}">Submit Document</span>
									<span>and status was changed to </span><span style="font-weight: normal; color: red;">Approved</span>
								</h5>
								<p th:if="${item.note != null and item.note != ''}">
									<span style="font-weight: bold;" th:text="#{document.process.history.comments}">Comments</span>: <span th:text="${item.note}" style="word-break: break-all;"></span>
								</p>
							</div>
						</div>
					</th:block>
					<th:block th:if="${historyProcessList == null OR historyProcessList.size() == 0}">
	                    <div th:text="#{doc.process.history.emptyTable.label}"></div>
	                </th:block> -->
	                
					<div class="table-responsive no-padding col-sm-12" id="idDivTableProcess">
						<table class="table table-bordered table-striped table-hover" id="tbl-list-process" style="white-space: normal">
							<thead>
								<tr>
									<th class="u_t_no" th:text="#{table.process.history.stt}">#</th>
									<th class="u_t_action" th:text="#{table.process.history.prev.status}">Trạng thái trước</th>
									<th class="u_t_action" th:text="#{table.process.history.action}">Thao tác</th>
									<th class="u_t_action" th:text="#{table.process.history.update.status}">Cập nhật trạng thái</th>
									<th class="u_t_action" th:text="#{table.process.history.action.by}">Người thực hiện</th>
									<th class="u_t_action" th:text="#{table.process.history.note}">Ghi chú</th>
									<th class="u_t_action" th:text="#{table.process.history.action.time}">Thời gian thao tác</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="dataRow,i : ${historyProcessList}" th:with="startIndex=1">
									<tr th:if="${dataRow.completedFullName != null && dataRow.completedFullName != ''}">
										<td class="text-center" th:text="${i.index + startIndex}"></td>
										
										<td>
											<span th:text="${dataRow.statusName}"></span>
										</td>
										
										<td>
											<span th:text="${dataRow.buttonName}"></span>
										</td>
										
										<td>
											<span th:text="${dataRow.nextStatus}"></span>
										</td>
										
										<td>
											<span th:text="${dataRow.completedFullName}"></span>
										</td>
										
										<td>
											<span th:text="${dataRow.note}"></span>
										</td>
										
										<td class="text-center">
											<span th:text="${dataRow.actionTime}" />
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>