<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(statusCode, itemFunctionCode)">

<style>
	.button-in-dropdow-list {
		padding: 6px;
	}
</style>

	<div class="form-group text-center">
		<div class="form-group text-center" th:with="hasRoleEdit=${#authorization.expression('hasAuthority('''+itemFunctionCode+':Edit'+''')') AND statusCode == '000'},_button=${buttonWrapper?.data}">
           	<!-- BUTTON SAVE -->
           	<th:block th:if="${hasRoleEdit OR buttonWrapper?.isSave == true}">
               <a class="font17 btn-save" id="btnSaveHead">
                   <i class="fa fa-floppy-o icon-head-red" th:title="#{save.button}"></i>
               </a>
           	</th:block>
           	<!-- FIRST BUTTON if dont have button sav -->
           	<th:block th:unless="${hasRoleEdit OR buttonWrapper?.data == null or buttonWrapper?.data.size() == 0 or buttonWrapper?.isSave == true}">
           	   <!-- <a class="btn-process-group text-center" -->
               <a class="btn-process-group text-center" th:if="${#authorization.expression('hasAuthority('''+_button[0].functionCode+''')')}"
							th:value="${_button[0].buttonValue}" 
							th:attr="data-button-id=${_button[0].id}, data-button-name=${_button[0].buttonText}, data-button-type=${_button[0].buttonType}, data-is-save=${_button[0].isSave}, data-is-sign=${_button[0].isSign}, data-is-authenticate=${_button[0].isAuthenticate}, data-is-export-pdf=${_button[0].isExportPdf}, data-button-value=${_button[0].buttonValue}"
							style="cursor: pointer;">
					<i class="icon-head-red" th:classappend="${_button[0].buttonIcon}" th:title="${_button[0].buttonText}"></i>
				</a>
           	</th:block>
			<!-- BUTTON MORE BUTTON -->
			<th:block  th:if="${(buttonWrapper?.data?.size() > 0 and (hasRoleEdit OR buttonWrapper?.isSave == true) and #authorization.expression('hasAuthority('''+_button[0].functionCode+''')')) or (buttonWrapper?.data?.size() > 1 and !(hasRoleEdit OR buttonWrapper?.isSave == true))}">
			<!-- <th:block  th:if="${(buttonWrapper?.data?.size() > 0 and hasRoleEdit OR buttonWrapper?.isSave == true) or (buttonWrapper?.data?.size() > 1 and !(hasRoleEdit OR buttonWrapper?.isSave == true))}"> -->
				<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-bars icon-head-red" aria-hidden="true"></i>
	    		</a>
				<ul class="dropdown-menu pull-right">
	      			<th:block th:each="_item,i : ${buttonWrapper?.data}">
	      				<th:block th:if="${i.first == false OR hasRoleEdit OR buttonWrapper?.isSave == true}">
	      					<!-- <li class="btn-process-group button-in-dropdow-list" -->
							<li class="btn-process-group button-in-dropdow-list" th:if="${#authorization.expression('hasAuthority('''+_item.functionCode+''')')}"
										th:classappend="${_item.buttonClass}"
										th:value="${_item.buttonValue}" 
										th:attr="data-button-id=${_item.id}, data-button-name=${_item.buttonText}, data-button-type=${_item.buttonType}, data-is-save=${_item.isSave}, data-is-sign=${_item.isSign}, data-is-authenticate=${_item.isAuthenticate}, data-is-export-pdf=${_item.isExportPdf}, data-button-value=${_item.buttonValue}"
										style="cursor: pointer;">
								<i th:classappend="${_item.buttonIcon}"></i>&nbsp;
								<span th:text="${_item.buttonText}"></span>
							</li>
							<li role="separator" class="divider" th:unless="${i.last}" style="margin: 3px;"></li>
						</th:block>
					</th:block>
	      		</ul>
      		</th:block>
		</div>
	</div>
</body>
</html>