.market-card__header .icon-wrapper {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fefeff;
    border: 1px solid #fedeca;
}

.market-card__header .icon-wrapper img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.maxwidth {
    padding-left: 12px;
}