.scpointhistory .pointhistory-wrapper .point-history.hide {
    display: none;
    width: 100%;
    max-width: 600px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.max-width-history {
    max-width: 350px;
}

