.bigheight {
    line-height: 20px !important;
}
.bigheight20 {
    line-height: 20px !important;
}
.marginboth {
    text-align: justify !important;
}

.fullwidth {
    line-break: 100% !important;
}

.paddingright30 {
    padding-right: 30px;
}

.scnormalprogram .program-field__content h3 {
    font-size: 18px!important;
}

.scnormalprogram {
    padding-top: 20px;
}
