<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
	<div class="col-sm-12 p-0">
		<div class="header-box">
			<h2 class="title-box"  th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
		</div>
		<!-- <div class="col-sm-4 p-0">
			<div class="pull-right">
	        	<a class="btn-common" id="btnSyncLDAP">
					<span th:text="#{sync.ldap.button}">Sync LDAP</span>
				</a>
	        </div>
		</div> -->
		<div class="col-sm-12 no-padding">
			<div class="table-responsive clearfix">
			    <table class="table table-bordered table-striped">
			        <thead>
			            <tr>
			                <th class="u_t_no">#</th>
			                <th class="u_t_action" th:text="#{action.label}">Thao tác</th>
			                <th th:text="#{company.detail}" th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}">Company</th>
			                <th th:text="#{account.code}">Mã nhân viên</th>
			                <th th:text="#{account.username}">Tên đăng nhập</th>
			                <th th:text="#{account.fullname}">Họ và tên</th>
			                <th th:text="#{account.birthday}">Ngày sinh</th>
			                <th th:text="#{account.email}">Email</th>
			                <th th:text="#{account.phone}">Số điện thoại</th>
			                <!-- <th th:text="#{account.positionId}">Chức vụ</th> -->
<!-- 			                <th th:text="#{account.org}">Tổ chức</th> -->
			                <th th:text="#{account.enabled}">kích hoạt</th>
			                <th th:text="#{account.locked}">Khóa</th>
<!-- 			                <th th:text="#{account.isHO}">Khóa</th> -->
<!-- 			                <th th:text="#{account.canSendHO}">Khóa</th> -->
			            </tr>
			        </thead>
			        <tbody>
			            <th:block th:each="accountListDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		                    <tr th:attr="data-account-id=${accountListDto.userId}">
		                        <td class="text-center" th:text="${i.index + startIndex}"></td>
		                        <td class="td-action align-center">
		                        	<a type="button" class="j-btn-detail glyphicon glyphicon-eye-open custom-icon"></a>
		                            <a type="button" th:if="${#authorization.expression('hasAuthority(@roleConstant.ACCOUNT)')}" 
		                            	class="j-btn-edit glyphicon glyphicon-edit custom-icon"></a>
		                            <a type="button" th:if="${#authorization.expression('hasAuthority(@roleConstant.ACCOUNT)')}"
										class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red"></a>
			                    </td>
			                    <td th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}" th:text="${accountListDto.companyName}"></td>
		                        <td th:text="${accountListDto.code}"></td>
		                        <td th:text="${accountListDto.username}"></td>
		                        <td th:text="${accountListDto.fullname}"></td>
		                        <td th:text="${accountListDto.birthday} ? ${#dates.format(accountListDto.birthday, @menuConfig.getFormDate())}" 
		                            class="align-center"></td>
		                        <td th:text="${accountListDto.email}"></td>
		                        <td th:text="${accountListDto.phone}"></td>
		                        <!-- <td th:text="${accountListDto.positionName}"></td> -->
<!-- 		                        <td th:text="${#strings.listJoin(accountListDto.orgName, ', ')}"></td> -->
		                        <td th:text="${accountListDto.enabled}"></td>
		                        <td th:text="${!accountListDto.actived}"></td>
<!-- 		                        <td th:text="${accountListDto.isHO}"></td> -->
<!-- 		                        <td th:text="${accountListDto.canSendHO}"></td> -->
		                        <!-- <td>
		                            <th:block th:if="${accountListDto.statusCode}" th:text="#{${accountListDto.statusCode}}" />
		                        </td> -->
		                    </tr>
		                </th:block>
			        </tbody>
			    </table>
			  </div>
		</div>
	</div>
	<!-- script for paging -->
    <th:block th:include="views/commons/pagination.html :: content"/>
    <!-- end script -->
    
	<script type="text/javascript" th:src="@{/static/cache/js/account/account-table.js}"></script>
	</body>
</html>

