<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{change.password}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 
	        </div>
	   </div>
	</div>	
    
   <form method="POST" class="form-horizontal u-for-page-top j-form-validate" th:object="${accountDto}" id="newsForm">
   		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
   		<div class="bg-content clearfix" oncopy="return false" oncut="return false" onpaste="return false">
			<div class="col-xs-9 col-sm-9">
				<div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? has-error : ''">
	                <label for="oldPassword" class="col-sm-3 required" th:text="#{account.oldPassword}">Mật khẩu</label>
	                <div class="col-sm-9">
	                    <input th:field="*{oldPassword}" type="text" class="form-control j-required dotsfont" autocomplete="off" maxlength="255" th:value = "${oldPassword}" />
	                    <span class="help-block" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
	                </div>
	            </div>
	            <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')} ? has-error : ''">
	                <label for="newPassword" class="col-sm-3 required" th:text="#{account.newPassword}">Mật khẩu</label>
	                <div class="col-sm-9">
	                    <input th:field="*{newPassword}" type="text" class="form-control j-required dotsfont validPassword" autocomplete="off" maxlength="16"/>
	                    <span class="help-block" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
	                </div>
	            </div>
	            <div class="form-group" th:classappend="${#fields.hasErrors('confirmNewPassword')} ? has-error : ''">
	                <label for="confirmNewPassword" class="col-sm-3 required" th:text="#{account.confirmNewPassword}">Mật khẩu</label>
	                <div class="col-sm-9">
	                    <input th:field="*{confirmNewPassword}" type="text" class="form-control j-required dotsfont validPassword" autocomplete="off" maxlength="16" />
	                    <span class="help-block" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></span>
	                </div>
	            </div>
	             <div class="form-group">
	                <div class="row m-0 pos-gr-btn">          
			            <button type="button" id="btnSave" class="u-btn u-btn-primary" >
			            	<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
							<span th:text="#{save.button}">Lưu</span>
			            </button>
			        </div>
	            </div>
			</div>		
	   </div>
   </form>

<form id="logoutform-changepass" th:action="@{/logout}" method="POST">
	<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel" th:text="#{change.password}">Change Password</h4>
				</div>
				<div class="modal-body" th:text="#{account.change.pass.success.label}">Please logout and login again!</div>
				<div class="modal-footer">
					<a class="logout btn btn-common" 
                      	th:text="#{logout.button}"
	   							 	data-systemlogs-code="LO0#S00_Login" 
									data-systemlogs-summary = "Logout"
									data-systemlogs-detail = "Logout"
									th:attr="data-systemlogs-username=${#authentication?.principal?.username}"
                      			id="logout-changepass">
                      		Log out 
                      	</a>
				</div>
			</div>
		</div>
	</div>
</form>

<script th:inline="javascript">
    /*<![CDATA[*/
    var ACC_DTO = /*[[${accountDto}]]*/;
    var MESSAGE = /*[[${messageList}]]*/;

    var ERROR_REGEX = /*[[#{account.password.not.regex}]]*/;
    /*]]>*/
</script>


   <script type="text/javascript" th:src="@{/static/cache/js/account/account-change-password.js}"></script>
</html>

