<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="">
	
		<div class="header-box">
			<h2 class="title-box" th:text="#{account.org.for.account.lable}">org for account</h2>
	    </div>

	    <div class="table-responsive">
			<table id="orgForAccountTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="u_t_no">#</th>
						<th class="u_t_name" th:text="#{account.org.for.account.table.name}" >org name</th>
						<th th:text="#{account.positionId}">position</th>
	                   	<th class="no-date" th:text="#{account.org.for.account.active}">Active</th>
					</tr>
				</thead>
				<tbody>
				    <th:block th:each="orgForAccountDto,iterStat : ${listOrgForAccount}"  th:with="startIndex=1">
						<tr th:attr="data-org-for-account-id=${orgForAccountDto.orgId}">
							<td class="text-center" th:text="${iterStat.index + startIndex}"></td>
							<td th:text="${listOrgForAccount[__${iterStat.index}__].orgName}"></td>
							<td th:text="${listOrgForAccount[__${iterStat.index}__].positionName}"></td>
							<td class="text-center">
								<input type="checkbox" class="check-access" 
			                           th:name="listOrgForAccount[__${iterStat.index}__].actived"
			                           th:checked="${listOrgForAccount[__${iterStat.index}__].actived}" disabled="disabled"/>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<div class="table-footer">
			 	<th:block th:include="views/commons/pagination.html :: content"/>
			</div>	
		</div>
	</div>
</body>
</html>
