// ------------------ Main Page -------------------------------------

.schealth-banner {
  width: 100%;
  height: 184px;
  background: url("../img/health-bg.png") no-repeat;
  background-position: center;
  background-size: cover;

  h4 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 32px;
  }
}

.scnews-group {
  padding-top: 32px;
  width: 100%;

  .news-group {
    display: flex;
    margin: 0 -10px;
    &-item {
      padding: 0 10px;
      width: 50%;

      .bigcard {
        height: 456px;
      }

      .news-search {
        margin-bottom: 16px;
        .input {
          min-height: 48px;
        }
      }

      .news-group-tab-wrapper {
        margin: -10px 0;
        .news-group-tab {
          padding: 10px 0;
          display: flex;
          border-bottom: 1px solid $border-nodash;

          &:last-child {
            border-bottom: none;
          }

          .img-wrapper {
            width: 82px;
            height: 82px;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            img {
              position: absolute;
              width: 100%;
              height: auto;
              top: 0;
              left: 0;
            }
          }
          &__content {
            padding-left: 20px;
            width: calc(100% - 82px - 20px);
            h4 {
              font-size: 1.6rem;
              // font-weight: 600;
              width: 100%;
              height: 50px;
              line-height: 16px;
              display: block;
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              transition: 0.3s;
              &:hover {
                opacity: 0.8;
              }
            }
            &-bottom {
              margin-top: 12px;
              display: flex;
              align-items: center;
              .tag {
                padding: 4px 8px;
                border-radius: 6px;
                background: $gradient;
                @include midflex;
                margin-right: 12px;
                p {
                  color: $white-cl;
                  text-transform: uppercase;
                  font-size: 1.2rem;
                }
              }
              .icon-warpper {
                margin-right: 12px;
              }
              span {
                color: $grey;
              }
            }
          }
        }
      }
    }
  }

  @include mobile {
    .news-group {
      flex-direction: column;
      &-item {
        width: 100%;
        .bigcard {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.scblog {
  padding-top: 20px;
  .blog {
    width: 100%;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    &__head {
      padding-bottom: 20px;
      border-bottom: 1px solid $border-nodash;
      margin-bottom: 20px;
      h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
      }
      .bottom {
        padding-top: 16px;
        display: flex;
        p {
          color: $grey;
        }
        .time {
          // color: $grey;
          margin-right: 4px;
        }
        .sharing {
          display: flex;
          align-items: center;
          padding-left: 6px;
          border-left: 1px solid $grey;
          cursor: pointer;
          i {
            width: 14px;
            height: 16px;
          }
          p {
            padding-left: 8px;
          }
        }
      }
    }
    &__body {
      width: 100%;
      p {
        padding-bottom: 16px;
        line-height: 20px;
      }
      img {
        width: 100%;
        height: 314px;
        object-fit: cover;
        margin-bottom: 16px;
      }
    }
  }

  @include mobile {
    .blog {
      &__body {
        img {
          height: 200px;
        }
      }
    }
  }
}
