.page14 {
  .main-warpper {
    @include midflex;
    flex-direction: column;
    width: 100%;
    .sc-searching {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 184px;
      background: url("../img/searching-bg.svg") no-repeat;
      background-position: center;
      background-size: cover;

      p {
        padding-top: 32px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 20px;
        color: $black-cl;
      }
    }

    .searching-page14 {
      width: 100%;
      max-width: 1008px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &-head {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin: 16px 0px 16px;
      }

      &-result {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin: 16px 0px 16px;
      }
    }
    @include mobile {
      .searching-page14 {
        padding: 16px;
      }
    }
  }
  .expand-nodata {
    margin-bottom: 40px;
  }
  .search-result-card {
    width: 100%;
    max-width: 972px;
    margin-top: 20px;
    &-content {
      width: 100%;
      max-width: 748px;
      &-head {
        font-weight: 600;
        font-size: 20px;
        line-height: 123.5%;
      }
      &-artical {
        font-weight: 500;
        font-size: 16px;
        line-height: 142.02%;
        margin: 12px 0px 20px;
      }
    }
    .border-list {
      border-bottom: 1px solid $border;
      margin: 20px 0px 20px;
    }
  }
  @include mobile {
    .search-result-card {
      padding: 0px 16px 16px;
      .simple-brown2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      .simple-brown3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      &-content {
        width: 100%;
        max-width: 748px;
        &-head {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
        &-artical {
          font-weight: 500;
          font-size: 16px;
          line-height: 142.02%;
          margin: 12px 0px 20px;
        }
      }
      .border-list {
        border-bottom: 1px solid $border;
        margin: 20px 0px 20px;
      }
    }
  }
}

.scsearch-result-card {
  width: 100%;
  .search-result-card {
    margin-left: auto;
    margin-right: auto;
  }
}
