.dpbh-container {
  width: 100%;
  padding: 16px 16px 0;
  @include midflex;
  flex-direction: column;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    &-title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.2rem;
    }
  }
  &_body {
    border-radius: 1rem;
    background-color: #fff;
    margin-top: 1.2rem;
    max-width: 60rem;
    width: 100%;
    height: auto;
    &-card-container {
      .card-item {
        padding: 28px 24px 16px;
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            &-icon {
              width: 100%;
              max-width: 18px;
            }
            &-text {
              margin-left: 8px;
              font-size: 13px;
              font-weight: 500;
              line-height: 15.73px;
            }
          }
          &-right {
            @include title(0, 600);
            text-align: right;
            color: $green;
          }
          &-right-disabled {
            @include title(0, 600);
            text-align: right;
            color: $grey;
          }
        }
        .dpbh-header {
          justify-content: flex-start !important;
        }
        .card-border {
          border: 1px dashed $main-bg;
          margin: 19px 0 12px;
        }
        &-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-left {
            text-align: left;
          }
          &-right {
            text-align: right;
          }
          p {
            @include title(8px, 500);
          }
        }
      }
      .border-nodash {
        border: 1px solid $border-nodash;
      }
    }
  }
}
