// -------- Components ----------------------

.greytab {
  width: 100%;
  display: flex;
  padding: 1.2rem;
  border-radius: 0.6rem;
  background-color: #f5f5f5;
  margin-bottom: 1.2rem;
  .icon {
    width: 16px;
    height: auto;
  }
  p {
    margin-left: 14px;
    width: 90%;
    font-size: 1.6rem;
  }

  @include mobile {
    p {
      font-size: 1.4rem;
    }
  }
}

// --------- Main -------------------------

.scpointchange {
  background-color: $main-bg;
  background-image: url("../img/9.1-menulist-background-flower.png");
  background-position: bottom;
  background-size: cover;
  min-height: calc(100vh - 2 * #{$height});
  padding-bottom: 32px;
}

.scquydautu {
  width: 100%;
  .wrapper {
    width: 100%;
    @include midflex;
    flex-direction: column;

    .quydautu {
      padding-top: 20px;
      width: 100%;
      max-width: 700px;
      h4 {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 20px;
      }

      &__form {
        width: 100%;
        background: $white-cl;
        border-radius: 10px;
        padding: 24px 16px;
        position: relative;
        border: 1px solid #e0dedc;

        .form-tab-wrapper {
          margin: -8px 0;
          .form-tab {
            padding: 8px 0;
            h5 {
              width: 90%;
              line-height: 20px;
            }
            p {
              line-height: 20px;
            }

            .list {
              p {
                font-weight: 400;
                display: flex;
                position: relative;
                padding-left: 16px;

                &::before {
                  content: "";
                  display: block;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: $black-cl;
                  position: absolute;
                  top: 4px;
                  left: 0;
                }
              }
            }

            .greytab-wrapper {
              width: 100%;
              margin: 0 -5px;
              display: flex;
              flex-wrap: wrap;
              .item {
                padding: 0 5px;
                width: 50%;
              }
            }
          }
        }
        .info-icon {
          position: absolute;
          right: 8px;
          top: 10px;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      @include mobile {
        &__form {
          .form-tab-wrapper {
            .form-tab {
              .greytab-wrapper {
                flex-direction: column;
                margin: -5px 0;
                .item {
                  padding: 5px 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
