// ------------------ Component Page -----------------------------------

.add-address {
  //   width: 100%;
  display: flex;
  align-items: center;
  span {
    margin-left: 6px;
  }
}

// ------------------ Main Page -----------------------------------

.delivery-address-page {
  background-color: $main-bg;
  background-image: url("../img/9.1-menulist-background-flower.png");
  background-position: bottom;
  background-size: cover;
  min-height: calc(100vh - 2 * #{$height});
  padding-bottom: 32px;
  overflow-y: hidden;
  position: relative;

  .delivery-address {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-top: 120px;

    .personform {
      .address-tab {
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $border-nodash;
        .customradio {
          align-items: flex-start;
          width: 75%;
          .checkmark {
            margin-right: 10px;
          }
          .checkbox-content {
            .list-tab {
              display: flex;
              align-items: center;
              margin-top: 12px;
              i {
                position: relative;
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 6px;
              }
              p {
                color: $black-secondary;
              }
            }
          }
        }
        .update-btn {
          position: absolute;
          top: 16px;
          right: 16px;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .note-wrapper {
        padding-top: 16px;
        width: 100%;
        .input.textarea {
          textarea {
            height: 80px;
          }
        }
      }
    }

    .important-note-list {
      padding-top: 16px;
      padding-bottom: 24px;
      p {
        line-height: 20px;
      }
      ul {
        padding-left: 46px;
        li {
          line-height: 20px;
          display: flex;

          &::before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $brown;
            margin-top: 5px;
            margin-right: 5px;
          }
        }
      }
    }
    .point-tag {
      width: 100%;
      background: $white-cl;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;

      .point {
        @include midflex;
        i {
          width: 12px;
          height: 12px;
          margin-right: 6px;
          //   @include midflex;
        }
      }

      &.none {
        display: none;
      }
    }

    .btn-wrapper {
      width: 100%;
      padding-top: 12px;
      .btn {
        @include midflex;
        width: 100%;
      }
    }

    @include mobile {
      .btn-wrapper {
        background: $white-cl;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 16px;
        z-index: 20;
      }
    }
  }
}
