// ---------------------- Menu List ---------------------------
.logined {
  .main-warpper {
    .sccontract-warpper {
      // background: #fff;
      .menu-list {
        display: flex;
        background: $main-bg;
        width: 100%;
        padding: 12px 70px 0 70px;
        &__item {
          margin-right: 24px;
          padding-bottom: 12px;
          p {
            color: $grey;
          }
        }
        .active {
          border-bottom: 3px solid $present-head;
          p {
            color: $present-head;
          }
        }
      }
    }
  }
}

// --------------------- qlbh-wrapper -> Card --------------------------------------------------

.logined {
  .main-warpper {
    .sccontract-warpper {
      .qlbh-wrapper {
        .card-extend-container {
          .item {
            margin-top: 16px;
            .card__label {
              &-brown {
                right: -4px;
                width: 133px;
                height: 32.5px;
                font-size: 1.2rem;
                background: url("../img/card-label-brown.svg") no-repeat;
                padding: 6px 6px 11.5px 6px;
              }
              &-linear {
                right: -4px;
                width: 139px;
                height: 32.5px;
                font-size: 1.2rem;
                background: url("../img/card-label-linear.svg") no-repeat;
                padding: 6px 6px 11.5px 6px;
              }
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.logined {
  .main-warpper {
    .qlbh-wrapper {
      .card-extend-container {
        .card-extend-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@include mobile {
  .logined {
    .main-warpper {
      .sccontract-warpper {
        .qlbh-wrapper {
          .card-extend-container {
            .item {
              .card__label {
                &-brown {
                  right: -3px;
                  background: url("../img/card-label-brown-mobile.svg")
                    no-repeat;
                  width: 104px;
                  height: 25px;
                  padding: 5px 4px 9px 4px;
                  p {
                    font-size: 0.9rem;
                  }
                }
                &-linear {
                  right: -3px;
                  background: url("../img/card-label-linear-mobile.svg")
                    no-repeat;
                  width: 100px;
                  height: 25px;
                  padding: 5px 4px 9px 4px;
                  p {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// --------------------- qlbh-wrapper -> Background Footer --------------------------------------------------

.logined {
  .main-warpper {
    .sccontract-warpper {
      .background-footer-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 24px;
        .background-footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 752px;
          height: 262px;
          background: url("../img/qlbh-background-footer.png") center no-repeat;
          h2 {
            color: $red;
            text-transform: uppercase;
            font-size: 1.6rem;
            margin-top: 24px;
          }
          .content {
            @include midflex;
            width: 270px;
            p {
              line-height: 1.9rem;
              font-size: 1.4rem;
              margin-top: 8px;
              text-align: center;
            }
          }
          button {
            margin-top: 20px;
            background: url("../img/qlbh-background-footer-button.svg")
              no-repeat;
            width: 144px;
            height: 34px;
          }
        }
      }
    }
  }
}

@include mobile {
  .logined {
    .main-warpper {
      .sccontract-warpper {
        .background-footer-wrapper {
          .background-footer {
            width: 375px;
            background: url("../img/qlbh-background-footer-mobile.png")
              no-repeat;
          }
        }
      }
    }
  }
}
// -----------------------------Form-----------------------
.consulting-service .form:last-child {
  border: 1px solid $border;
}

// --------------------- BMBH(2.1) ---------------------

.logined {
  .main-warpper {
    .sccontract-warpper {
      .qlbh-wrapper {
        .personal-infomation {
          min-height: calc(956px - 54px - 40px);
        }
      }
    }
  }
}
