.sccontract-warpper {
  background: $main-bg;
  &.no-data {
    background: $white-cl;
  }
}
// ------------------------ Contract-Fee --------------------------
.tthd-main > div {
  width: 100%;
  background-color: $white-cl;
  min-height: calc(955px - 54px - 101px);
  padding: 8px;
}

.tthd-main {
  &__wrapper {
    @include midflex;
    align-items: flex-start;
  }
  .contract-fee {
    width: 600px;
    h3 {
      font-size: 1.6rem;
      color: $black-cl;
      margin-top: 16px;
      span {
        font-size: 1.3rem;
        color: $brown;
      }
    }

    &__form {
      margin-top: 14px;
      border-radius: 6px;
      border: 1px solid $border;
      &__item {
        display: flex;
        justify-content: space-between;
        padding: 22px 16px;
        border-bottom: 1px solid $border;
        p {
          font-size: 1.6rem;
          color: $grey;
          &:last-child {
            color: $black-cl;
          }
        }
        &-header {
          border-bottom: 1px solid $border;
          padding: 0;
          .header1 {
            display: flex;
            width: 100%;
            &-item {
              padding: 10px;
              @include midflex;
              width: 50%;
              border-right: 1px solid $border;
              background: $light-brown;
              p {
                font-size: 1.3rem;
                color: $brown;
              }
              &:last-child {
                border: none;
              }
            }
          }
          .header2 {
            display: flex;
            width: 100%;
            &-item {
              padding: 12px;
              @include midflex;
              width: 50%;
              border-right: 1px solid $border;
              background: $main-bg;
              p {
                font-size: 1.5rem;
                color: $black-cl;
              }
              &:last-child {
                border: none;
                p {
                  color: $red;
                }
              }
            }
          }
        }
        &-footer {
          padding: 20px 16px;
          &__item {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;
            p {
              display: flex;
              align-items: center;
              color: $grey;
              &:last-child {
                color: $black-cl;
              }
            }
            .add-dot::before {
              content: "";
              display: block;
              width: 5px;
              height: 5px;
              background: $grey;
              border-radius: 50%;
              margin-right: 5px;
            }
            .remove-dot::before {
              display: none;
            }
            &-header {
              padding-top: 0;
              p {
                font-size: 1.6rem;
              }
            }
          }
        }
        &:last-child {
          border: none;
        }
      }
    }

    &__button {
      margin-top: 36px;
      width: 100%;
    }
    .fullwidth {
      width: 100%;
      @include midflex;
    }
  }
}

.contract-fee {
  &__form {
    &__item-header {
      flex-direction: column;
      padding: 0;
    }
  }
}

// --------------------contract-fee__form2 -----------------------------------
.contract-fee__form2 {
  margin-top: 16px;
  .contract-fee__form__item {
    p {
      color: $black-cl;
      &:last-child {
        color: #000000;
      }
    }
    &-footer {
      &__item:first-child {
        padding-top: 0;
      }
    }
  }

  .contract-fee__form__item-header {
    display: flex;
    flex-direction: column;
    padding: 30px 16px 20px 16px;
    .header1 {
      margin-bottom: 20px;
      p {
        font-size: 1.6rem;
        color: $black-cl;
      }
    }
    .header2 {
      flex-direction: column;
      p {
        font-size: 1.6rem;
      }
      &__dropdown__content {
        display: flex;
        justify-content: space-between;
        height: 18px;
        align-items: center;
      }
      &__dropdown__items {
        .item {
          display: flex;
          justify-content: space-between;
          &:first-child {
            p {
              padding: 20px 0 0 0;
            }
          }
        }
        p {
          color: $grey;
          font-size: 14px;
          padding: 13px 0 0 0;
          &:last-child {
            color: $black-cl;
          }
        }
      }
      &.show {
        .header2__dropdown__content {
          p:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
  .contract-fee__form__item {
    flex-direction: column;
    p {
      font-size: 1.6rem;
    }
    &__dropdown__content {
      display: flex;
      justify-content: space-between;
      height: 18px;
      align-items: center;
    }
    &__dropdown__items {
      .item {
        display: flex;
        justify-content: space-between;
        &:first-child {
          p {
            padding: 20px 0 0 0;
          }
        }
      }
      p {
        color: $grey;
        font-size: 14px;
        padding: 13px 0 0 0;
        &:last-child {
          color: $black-cl;
        }
      }
    }
    &.show {
      .contract-fee__form__item__dropdown__content {
        p:first-child {
          font-weight: 600;
        }
      }
    }
    &-flexRow {
      flex-direction: row;
    }
  }
}

// --------------------- contract-products (Card with label Brown) ----------------------------

.tthd-main {
  .tthd-main__wrapper {
    .contract-products {
      .card-extend-container {
        .card-extend-wrapper {
          .item {
            .card__label {
              &-brown {
                right: -4px;
                width: 133px;
                height: 32.5px;
                font-size: 1.2rem;
                background: url("../img/card-label-brown.svg") no-repeat;
                padding: 6px 6px 11.5px 6px;
              }
            }
            .card {
              &__footer {
                .dropdown {
                  display: flex;
                  flex-direction: column;
                  &.show {
                    .card-dropdown-title {
                      font-weight: 600;
                    }
                  }
                }
                &-item {
                  .dropdown__content {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    p:first-child {
                      color: $black-cl;
                    }
                  }
                  .dropdown__items {
                    .card__footer-item {
                      border: none;
                      padding: 0;
                      margin-bottom: 12px;
                      &:first-child {
                        margin-top: 16px;
                      }
                      p {
                        margin: 0;
                      }
                    }
                    p {
                      padding: 0;
                    }
                  }
                  p {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .tthd-main {
    .contract-fee {
      width: 343px;
    }
  }
  .tthd-main {
    .tthd-main__wrapper {
      .contract-products {
        .card-extend-container {
          .card-extend-wrapper {
            .item {
              .card__label {
                &-brown {
                  right: -3px;
                  background: url("../img/card-label-brown-mobile.svg") no-repeat;
                  width: 104px;
                  height: 25px;
                  p {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------contract-value----------------------------------
.contract-value {
  width: 600px;
}

// ---------------------------------contract-beneficiary-----------------------------

.contract-beneficiary {
  .card-extend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item {
      .card {
        .card__footer {
          padding: 16px;
          &-item {
            border: none;
            padding: 0;
            margin-top: 12px;
            p {
              margin-bottom: 0;
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
// ---------------------------Show or Hide component------------------------------
.contract-fee,
.contract-products,
.contract-value,
.contract-beneficiary,
.contract-advise {
  display: none;
}

.show-component {
  display: block;
}

.show-component-flex {
  display: flex;
}
