<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>

	<script th:inline="javascript">
      	/*<![CDATA[*/
      var CUSTOMER_ALIAS = [[${customerAlias}]];
      if (CUSTOMER_ALIAS == null){
    	  CUSTOMER_ALIAS = 'personal';
      }


      var HAS_UPDATE = /*[[${editDto.hasUpdateData}]]*/;
      var LANGUAGE_LIST = /*[[${languageList}]]*/;
      var CATEGORY_ID = /*[[${faqsModel.cateFaqsId}]]*/;
      var EDIT_DTO = /*[[${editDto}]]*/;
		var USER_LOGIN = /*[[${#authentication?.principal?.username}]]*/;
	  var DATE_FORMATE_TYPE = 'FULL_DATE';
      /*]]>*/
    </script>
	<input type = "hidden" id = "roleAdmin" th:if="${#authorization.expression('hasAuthority(@cmsRoleConstant.CMS_ROLE_ADMIN +'':Edit'')')}" value = "1"/>
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{faqs.edit.title}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
		        	 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" id="addNew" 
					 	th:if="${faqsModel.id != null} and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_FAQS_EDIT}__:Edit'')')}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>
	</div>

	<form th:object="${faqsModel}" method="post" class="form-horizontal u-for-page-top j-form-validate" role="form" id="formId">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

		<div class="bg-content">
			<div class="row">
				<div class="col-md-6 no-padding">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label for="menuCode" class="col-sm-4 control-label"
							th:text="#{faqs.code}">Mã</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{code}"
								class="form-control text-uppercase" readonly="readonly"
								data-rule-maxlength="30" /> <span class="help-block"
								th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding">
					<div class="form-group" th:classappend="${#fields.hasErrors('cateFaqsId')} ? has-error : ''">
						<label class="col-sm-4 control-label required"
							th:text="#{faqs.category}">Danh mục câu hỏi</label>
						<div class="col-sm-8">
							<select class="form-control j-required" th:field="*{cateFaqsId}" 
								th:data-placeholder="#{faqs.category}" tabindex="2">
								<option value=""></option>
								<option th:each="obj : ${faqsCategoryList}"
									th:value="${obj.id}" 
									th:text="${obj.title}"
									th:selected="${obj.id} == *{cateFaqsId}">
								</option>
							</select> 
							<label id="cateFaqsId-error" class="error" for="cateFaqsId" style="display: none;">Giá trị bắt buộc nhập</label>
							<span class="help-block" th:if="${#fields.hasErrors('cateFaqsId')}" th:errors="*{cateFaqsId}"></span>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div class="col-xs-12 col-sm-12 no-padding">
				<div class="form-group no-bmargin">
					<label class="col-sm-4 col-md-2 control-label"
						th:text="#{laguage.title}">Ngôn ngữ</label>
					<div class="col-sm-8 col-md-10 gr-tab">
						<ul class="nav nav-tabs" id="tabLanguage">
							<th:block th:each="language, i : ${languageList}">
								<li role="presentation"
									th:classappend="${i.index == faqsModel.indexLangActive}  ? 'active' : ''"
									th:id="tabLanguage + ${i.index}"><a
									th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
			</div> -->

			<div class="tab-content" style="margin-top: 10px">
				<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
					<div th:id="'language' + ${index}" class="tab-pane fade" th:classappend="${index == faqsModel.indexLangActive}  ? 'in active' : ''">
						<div class="row">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('faqsLanguageList[__${index}__].title')} ? has-error : ''">
								<label class="col-sm-4 col-md-2 control-label required"
									th:text="#{faqs.title.faqs}">Tiêu đề câu hỏi</label>
								<div class="col-sm-8 col-md-10 ">
									<input type="text" class="form-control j-maxlength j-required"
										data-rule-maxlength="1000"
										th:field="*{faqsLanguageList[__${index}__].title}"
										th:placeholder="#{faqs.category.title.placeholder}" /> <span
										class="help-block"
										th:if="${#fields.hasErrors('faqsLanguageList[__${index}__].title')}"
										th:errors="*{faqsLanguageList[__${index}__].title}"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label th:text="#{faqs.keyword.SEO}" for="name"
									class="col-sm-2 control-label required">Từ khóa SEO</label>
								<div class="col-sm-10 ">
									<input th:field="*{faqsLanguageList[__${index}__].linkAlias}"
										type="text"
										class="form-control j-required j-maxlength j-link-alias"
										data-rule-maxlength="1000"
										th:placeholder="#{faqs.category.key.seo.placeholder}"
										tabindex="7" /> <span class="help-block error"
										th:if="${#fields.hasErrors('faqsLanguageList[__${index}__].linkAlias')}"
										th:errors="*{faqsLanguageList[__${index}__].linkAlias}"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label for="name" class="col-sm-4 col-md-2 control-label required"
									th:text="#{faqs.keyword}">Từ khóa</label>
								<div class="col-sm-8 col-md-10 ">
									<input type="text" class="form-control j-maxlength j-required"
										data-rule-maxlength="1000"
										th:placeholder="#{faqs.category.key.word.placeholder}"
										tabindex=""
										th:field="*{faqsLanguageList[__${index}__].keyword}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label for="name" class="col-sm-4 col-md-2 control-label"
									th:text="#{faqs.keyword.description}">Mô tả từ khóa</label>
								<div class="col-sm-8 col-md-10 ">
									<input type="text" class="form-control j-maxlength"
									    data-rule-maxlength="1000"
										th:placeholder="#{faqs.category.key.description.placeholder}"
										tabindex=""
										th:field="*{faqsLanguageList[__${index}__].keywordDescription}" />
								</div>
							</div>
						</div>
						<!-- <div class="col-xs-12 col-sm-12">
								<div class="form-group">
									<label class="col-sm-4 col-md-2 control-label" th:text="#{faqs.short.content}">Nội dung tóm tắt</label>
									<div class="col-sm-8 col-md-10 ">
										<textarea maxlength="255" data-rule-maxlength="255" cols="80" th:id="'shortContent' + ${index}" th:name="faqsLanguageList[__${index}__].shortContent"
											rows="5" th:field="*{faqsLanguageList[__${index}__].shortContent}" class="form-control" >
										</textarea>
									</div>
								</div>
							</div> -->
						<div class="row">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('faqsLanguageList[__${index}__].content')} ? has-error : ''">
								<label th:for="faqsLanguageList[__${index}__].content"
									class="col-sm-4 col-md-2 control-label required"
									th:text="#{faqs.answer}">Nội dung trả lời</label>
								<div class="col-sm-8 col-md-10 ">
									<div class="controls">
										<textarea cols="80" th:id="'editor' + ${index}"
											th:name="faqsLanguageList[__${index}__].content" rows="20"
											th:field="*{faqsLanguageList[__${index}__].content}"
											class="form-control j-required">
                      					</textarea>
										<script th:inline="text">
										var token = $("meta[name='_csrf']").attr("content");
										var editor = CKEDITOR.replace("editor" + "[[${index}]]", {
					                          height: 300,
						                       // Configure your file manager integration. This example uses CKFinder 3 for PHP.
					                              filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
					                              filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
					                              filebrowserUploadUrl:  BASE_URL + CUSTOMER_ALIAS + "/news/editor/file/upload?command=QuickUpload&type=Images&responseType=json&requesttoken=" + "[[${editDto.requestToken}]]&CKEditorFuncNum=dada",
					                              filebrowserImageUploadUrl: BASE_URL + CUSTOMER_ALIAS + "/news/editor/file/upload?command=QuickUpload&type=Images&responseType=json&requesttoken=" + "[[${editDto.requestToken}]]&CKEditorFuncNum=dada",
					                              filebrowserUploadMethod: 'xhr',             
					                              fileTools_requestHeaders: {
					                                    'X-Requested-With': 'XMLHttpRequest',
					                                    'X-CSRF-TOKEN': token,
					                              },
						                          extraPlugins: 'image,uploadimage',
						                          imageBrowser_listUrl: BASE_URL + CUSTOMER_ALIAS + "/news/path/images/list",
						                        });
											editor.on('blur',function(){
												let name = editor.contextMenu.editor.name;

												$('label[generated=true]').each(function(key, val){
													let forError = $(val).attr('for');
													if (forError == name){
														$(val).remove();
													}
												})
											});
					                      </script>
										<label th:for="editor__${index}__" generated="true"
											class="error"></label> <span class="help-block"
											th:if="${#fields.hasErrors('faqsLanguageList[__${index}__].content')}"
											th:errors="*{faqsLanguageList[__${index}__].content}"></span>
									</div>
									<span class="help-inline"
										th:classappend="newsLanguageList[__${index}__].content_msg">
										<span th:id="newsLanguageList[__${index}__].content.errors"
										class="error"></span>
									</span> <span class="help-inline"
										th:classappend="newsLanguageList[__${index}__].content_msg"></span>
									</span>
								</div>
							</div>
						</div>

						<input type="hidden" th:field="*{faqsLanguageList[__${index}__].id}" />
						<input type="hidden" th:name="'faqsLanguageList[' + ${index} + '].languageCode'" th:value="${language.code}" />
					</div>
				</th:block>
			</div>
			
			<div class="row">
				<label class="col-md-2 control-label" th:text="#{process.status}">Trạng thái</label>
				<div class="col-md-4">
					<input th:value="*{statusName}" type="text"
						class="form-control j-maxlength" data-rule-maxlength="30"
						th:readonly="true" tabindex="1"
						placeholder="" />
				</div>

				<div class="form-group">
					<div class="col-md-2"></div>
					<div class="col-md-4">
						<input type="checkbox" tabindex="2" th:field="*{enabled}" th:checked="*{enabled}" />
						<label class="control-label" th:text="#{searchfield.disp.enabled}">Kích hoạt</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6 form-group no-padding">
					<label class="col-sm-4 col-md-4 control-label required" th:text="#{publish.date}">Ngày đăng
						tin</label>
					<div class="col-sm-8 col-md-8" th:classappend="${#fields.hasErrors('postedDate')} ? has-error : ''">
						<input class="form-control j-required datepicker-time validatePostedDate"
							id="postedDate"
							th:id="postedDate"
							th:name="postedDate"
							th:value="${editDto.postedDate } ? ${#dates.format(editDto.postedDate, 'dd/MM/yyyy HH:mm:ss')}"
							type="text"
							autocomplete="off" />
						<span class="help-block" for="postedDate" th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}"></span>
					</div>
				</div>

				<div class="col-sm-6 form-group no-padding">
					<label class="col-sm-4 col-md-4 control-label" th:text="#{emulate.end.date}">Ngày kết thúc</label>
					<div class="col-sm-8 col-md-8" th:classappend="${#fields.hasErrors('expirationDate')} ? has-error : ''">
						<input class="form-control datepicker-time validateExpirationDate"
							id="expirationDate"
							th:id="expirationDate"
							th:name="expirationDate"
							th:value="${editDto.expirationDate } ? ${#dates.format(editDto.expirationDate, 'dd/MM/yyyy HH:mm:ss')}"
							type="text"
							autocomplete="off" />
						<span class="help-block" for="expirationDate" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
					</div>
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="name" class="col-sm-4 col-md-2 control-label no-padding" th:text="#{faqs.comment}">Phản hồi</label>
						<div class="col-sm-8 col-md-10 no-padding">
							<textarea cols="80" class="form-control text-note" rows="2" th:field="*{note}"> </textarea>
						</div>
					</div>
				</div>
			</div> -->
			
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" id="url" name="url" th:value="${faqsModel.url}" />
			<input type="hidden" th:field="*{referenceId}" />
			<input type="hidden" th:field="*{referenceType}" />
			<input type="hidden" th:field="*{requestToken}" />
			<input type="hidden" th:field="*{searchDto}" />
			<input type="hidden" id="buttonId" name="buttonId" />
			<input type="hidden" th:field="*{updateDate}" />
			<input type="hidden" th:field="*{hasEdit}" />
	</form>
	
	<!-- process -->
	<th:block th:include="/views/commons-process/common-process.html :: content(${faqsModel})" />
	
	<script type="text/javascript" th:src="@{/static/CMS/js/bootstrap-datetimepicker.min.js}"></script>	
	<script type="text/javascript" th:src="@{/static/CMS/all/faqs/faqs-edit.js}"></script>
</body>
</html>
