<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
	
	<script th:inline="javascript">
	 	/*<![CDATA[*/
	 	var CUSTOMER_ALIAS = [[${customerAlias}]];
		/*]]>*/
	</script>
	
  	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{faqs.type.sort.title}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
		        	 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
		        </div>
		   </div>
		</div>	
	</div>
	
	<form class="form-horizontal u-for-page-top" th:object="${searchDto}" method="POST" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
		
		<div class="bg-content clearfix">
			<div class="col-md-12 no-padding">
				<div class="form-group col-md-6">
					<label class="col-sm-4 control-label" th:text="#{faqs.category}">Danh mục</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{categoryId}" 
							th:data-placeholder="#{faqs.category}" tabindex="2">
							<option value=""></option>
							<option th:each="obj : ${faqsCategoryList}"
								th:value="${obj.id}" 
								th:text="${obj.title}"
								th:selected="${obj.id} == *{categoryId}">
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="bg-content-tbl" id="tableList">
		<th:block th:include="views/CMS/all/faqs/faqs-table-sort.html :: content" />
	</div>
	
	<div class="row m-0 pos-gr-btn">
		<button type="button" class="u-btn u-btn-primary m-top-5" id="btnSave">
             <img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/> <span th:text="#{save.button}">Lưu</span>
         </button>
	</div>
</html>
