<!-- Content Header (Page header) -->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>
<style>
	.content{
	    height: 550px;
	    overflow: scroll;
	    overflow-x: hidden;
	}
</style>
	<div class="title-head clearfix">
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i> <span
					th:text="#{calendar.public.holiday}">Public holiday</span>
			</h3>
		</div>
	</div>
	<!-- Main content -->
	<section class="bg-content clearfix">
		<form method="post" role="form"
			class="form-horizontal u-for-page-top j-formSearch"
			th:action="@{/data/public-holidays/list}"
			th:object="${slaCalendarSearchDto}">
			<th:block
				th:include="views/commons/message-alert.html :: content(${messageList})" />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="year-calendar" class="col-md-4">Year</label>
						<div class="col-md-8">
							<select id="year-calendar" th:field="*{year}"
								onchange="loadTypeCalendar()" class="form-control">
								<option th:each="i : ${listYear}" th:value="${i}" th:text="${i}">Options</option>
							</select>
						</div>
					</div>
					<div class="form-group" th:if="${companyList.size()>0}">
						<label for="companyId" class="col-sm-4"
							th:text="#{repository.companyName}">Company</label>
						<div class="col-md-8">
							<select id="companyId" th:field="*{companyId}"
								onchange="loadTypeCalendar()" class="form-control select2">
								<!-- <option th:if="${#authentication?.principal?.companyAdmin}"
									th:value="${NULL}" th:text="#{company.all}"></option> -->
								<option th:each="company : ${companyList}"
									th:value="${company.id}" th:text="${company.text}"></option>
							</select>
						</div>
					</div>
					<input class="hide" th:field="*{companyId}"
						th:unless="${companyList.size()>1}" />
				</div>
				<div class="col-md-6">
	
					<div class="form-group">
						<label for="calendarType" class="col-sm-4 "
							th:text="#{menu.left.type}">Calendar Type</label>
						<div class="col-md-8">
							<select id="calendarType" th:field="*{calendarTypeId}"
								onchange="loadTable()" class="form-control select2">
								<option th:each="type : ${calendarList}" th:value="${type.id}"
									th:text="${type.text}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<a class="btn-ico btn-save" id="add"> 
								<img th:src="@{/static/images/icon-cog.png}" width="18px" alt="" />
							</a>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<input type="hidden" id="isAdmin" th:value="${isAdmin}" />
			</div>
		</form>
		
	
		<div id="tableList">
			<div class="row">
				<th:block th:include="views/holidays/public-holidays-table.html :: content" />
			</div>
		</div>
	</section>
	<th:block th:include="views/holidays/calendar-add.html :: content" />
	<script type="text/javascript"
		th:src="@{/static/cache/js/holidays/public-holidays-model.js}"></script>
</body>
</html>
