<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
	<div class="bg-content-tbl no-style">
		<div class="table-responsive">
		<th:block th:include="views/commons/message-alert.html :: content(${messageListTable})" />
			<div  th:if="${isDisplayTable == true}">
				<table id="tableHoliday" class="table table-bordered">
					<thead>
						<tr>
							<th th:text="#{calendar.holiday.date}">Date</th>
							<th style="width: 3%" th:each="i : ${#numbers.sequence(1,31)}"
								th:text="${i}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i: ${#numbers.sequence(1,12)}">
							<td th:text="#{calendar.holiday.month__${i}__}"></td>
							<th:block th:each="item : ${mapData[__${i}__]}">
								<td
									th:text="${item.calendarType == '0' ?'':(item.calendarType == '1' ? 'AM':(item.calendarType == '2' ? 'PM':(item.calendarType == '7' ? 'SAT':(item.calendarType == '8' ? 'SUN':'H'))))}"
									th:class="${item.calendarType== '0' ?'N':((item.calendarType == '7' || item.calendarType == '8')?'weeken':'holiday')} + ' text-center  calendar-date'"
									th:attr="data-calendar-date=${#dates.format(item.calendar, datePattern)}, title=${item.calendarType == '3'}?#{calendar.holiday.label}:''"></td>
							</th:block>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/cache/js/holidays/public-holidays-list.js}"></script>	
</body>
</html>
