<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">

	<th:block th:if="${serLevAgrStepDetailDto.escalateList != null}">
		<th:block th:each="_item,i : ${serLevAgrStepDetailDto.escalateList}">
			<div class="col-md-12 form-group escalate-row" th:attr="data-index=${i.index}" th:classappend="${_item.deleteFlag} ? 'hidden' : ''">
				<input type="hidden" th:name="'escalateList[' +${i.index} + '].id'" th:value="${_item.id}" th:id="'slaAlertId'+${i.index}" />
				<input type="hidden" th:name="'escalateList[' +${i.index} + '].deleteFlag'" th:value="${_item.deleteFlag}" th:id="'deleteFlagE'+${i.index}" />
				<label class="col-sm-1"> After </label> 
				<div class="col-sm-1">
					<input class="form-control" type="text" th:name="'escalateList[' +${i.index} + '].alert'" th:value="${_item.alert}" th:id="'alert'+${i.index}"/>
				</div>
				<div class="col-sm-2">
					<select class="form-control" th:name="'escalateList[' + ${i.index} + '].alertTime'">
						<option></option>
						<option th:each="choice : ${unitTimeList}" th:value="${choice.id}" th:text="#{${choice.text}}"
							th:selected="${choice.id == serLevAgrStepDetailDto.escalateList[__i.index__].alertTime}"></option>
					</select>
				</div>
				<label class="col-sm-1"> to </label>
				<div class="col-sm-2">
					<select class="form-control" th:name="'escalateList[' + ${i.index} + '].alertTo'" multiple="multiple">
						<option th:each="choice : ${userList}" th:value="${ choice.code }" th:text="${ choice.name }"
							th:selected="${#strings.contains(#strings.isEmpty(_item.alertTo)?'':_item.alertTo,choice.code)}"></option>
					</select>
				</div>
				<label class="col-sm-2"> with template email </label>
				<div class="col-sm-2">
					<input class="form-control" type="text" th:name="'escalateList[' + ${i.index} + '].emailTemplate'" th:value="${_item.emailTemplate}" />
				</div>
				<div class="col-sm-1">
					<i class="glyphicon glyphicon-remove-sign font-size-30 red remove-escalate" th:title="Remove"></i>
				</div>
			</div>
		</th:block>
	</th:block>

</body>
</html>
