<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span>SLA reminders</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a href="#"><i class="fa fa-plus-circle icon-head-red" id="add" title="Add"></i> </a>
		</div>
	</div>
</div>



<form class="form-horizontal u-for-page-top j-formSearch" th:object="${searchDto}" method="POST" role="form" id="formSearch">

	<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box" class="box-header">
			<h2 class="box-title" th:text="#{search.title}">Vùng tìm kiếm</h2>
		</div>


		<div class="col-xs-12 col-sm-12">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4">Business</label>
					<div class="col-sm-8" th:classappend="${#fields.hasErrors('businessCode')} ? has-error : ''">
						<select class="form-control" id="businessCode" name="businessCode">
							<option></option>
							<option th:each="choice : ${businessList}" th:value="${ choice.code }" th:text="${ choice.name }"
								th:selected="${choice.code} == *{businessCode}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4">Process</label>
					<div class="col-sm-8" th:classappend="${#fields.hasErrors('processCode')} ? has-error : ''">
						<select class="form-control" id="processCode" name="processCode">
							<option></option>
							<option th:each="choice : ${processList}" th:value="${ choice.code }" th:text="${ choice.name }" th:selected="${choice.code} == *{processCode}"></option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4">SLA name</label>
					<div class="col-sm-8" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
						<input class="form-control  j-maxlength j-required" type="text" name="name" th:field="*{name}" maxlength="100" autocomplete="off" /> <span
							class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12" style="margin-top: 10px;" align="center">
			<span class="button"> <a id="btnSearch" class="btn btn-common" th:text="#{search.button}">Tìm kiếm</a>
			</span>
		</div>
	</div>
	<!-- /row -->
</form>
<div class="bg-content clearfix bg-content-tbl" id="tableList">
	<th:block th:include="views/j-sla/j-sla-table.html :: content" />
</div>


</html>