<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<style>
.alert-setting .unit-bg-table {
	margin-bottom: 10px
}
</style>
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />

<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span>Reminder setting by step</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">

			<a> <i class="fa fa-arrow-circle-left icon-head-red" th:title="#{icon.back}" id="linkList"></i>
			</a>
		</div>
	</div>
</div>

<!-- Main content -->
<section class="content">
	<form class="form-horizontal u-for-page-top j-form-validate j-formSearch" id="form-j-edit" th:object="${serLevAgrStepDetailDto}" method="post"
		role="form">
		<input type="hidden" name="slaId" id="slaId" th:field="*{slaId}" /> <input type="hidden" name="slaStepId" id="slaStepId" th:field="*{slaStepId}" />
		<th:block th:include="views/commons/message-alert.html :: content(${serLevAgrStepDetailDto.messageList})" />
		<div class="alert-setting bg-content clearfix">
			<div>
				<h2 class="title-box">Reminder setting by step</h2>

			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="col-sm-6">

					<div class="form-group">
						<label class="col-sm-4">Business</label>
						<div class="col-sm-8">
							<select class="form-control" id="businessCode" name="businessCode" disabled="disabled">
								<option th:each="i : ${businessList}" th:value="${ i.code }" th:text="${ i.name }" th:selected="${i.code} == *{businessCode}"></option>
							</select> <input type="hidden" name="businessCode" th:field="*{businessCode}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Step Name</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="stepName1" th:value="*{stepName}" disabled="disabled" /> <input type="hidden" name="stepName"
								th:field="*{stepName}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">SLA</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="sla1" th:value="*{sla}" disabled="disabled" /> <input type="hidden" name="sla" th:field="*{sla}" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4">Process</label>
						<div class="col-sm-8">
							<select class="form-control j-required" id="processCode" name="processCode" disabled="disabled">
								<option th:each="i : ${processList}" th:value="${ i.code }" th:text="${ i.name }" th:selected="${i.code} == *{processCode}"></option>
							</select> <input type="hidden" name="processCode" th:field="*{processCode}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Step Code</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="stepCode1" th:value="*{stepCode}" disabled="disabled" /> <input type="hidden" name="stepCode"
								th:field="*{stepCode}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">SLA Type</label>
						<div class="col-sm-8">
							<select class="form-control" id="slaType1" name="slaType1" disabled="disabled">
								<option th:each="i : ${slaTypeList}" th:value="${ i.code }" th:text="${ i.catOfficialName }" th:selected="${i.code} == *{slaType}"></option>
							</select> <input type="hidden" name="slaType" th:field="*{slaType}" />
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="bg-content clearfix">
			<div class="box-header">
				<h2 class="title-box">Notification</h2>

			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="col-sm-6">

					<div class="form-group">

						<label class="col-sm-4"><input type="checkbox" name="notification.actived" th:checked="${serLevAgrStepDetailDto.notification.actived}" />
							immediately to</label>
						<div class="col-sm-8">
							<select class="form-control" name="notification.alertTo" multiple="multiple">
								<option th:each="choice : ${userList}" th:value="${ choice.code }" th:text="${ choice.name }"
									th:selected="${#strings.contains(#strings.isEmpty(serLevAgrStepDetailDto.notification.alertTo)?'':serLevAgrStepDetailDto.notification.alertTo,choice.code)}"></option>
							</select><input type="hidden" name="notification.id" th:value="${serLevAgrStepDetailDto.notification.id}" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">

					<div class="form-group">
						<label class="col-sm-4">with email template</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="notification.emailTemplate" th:value="${serLevAgrStepDetailDto.notification.emailTemplate}"
								style="width: 100%" />
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="bg-content clearfix">

			<div class="box-header">
				<h2 class="title-box">
					<span>Reminder</span>
				</h2>
				<i class="glyphicon glyphicon-plus-sign font-size-30 blue button-back pull-right" th:title="Add" id="addReminder"></i>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<div id="reminderList">
						<th:block th:include="views/j-sla/j-sla-reminder-list.html" />
					</div>
				</div>
			</div>

		</div>

		<div class="bg-content clearfix">
			<div class="box-header">
				<h2 class="title-box">
					<span>Escalate</span>
				</h2>
				<i class="glyphicon glyphicon-plus-sign font-size-30 blue button-back pull-right" th:title="Add" id="addEscalate"></i>
			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="col-sm-6">

					<div class="form-group">

						<label class="col-sm-4"><input type="checkbox" name="escalate.actived" th:checked="${serLevAgrStepDetailDto.escalate.actived}" />
							immediately to</label>
						<div class="col-sm-8">
							<select class="form-control" name="escalate.alertTo" multiple="multiple">
								<option th:each="choice : ${userList}" th:value="${ choice.code }" th:text="${ choice.name }"
									th:selected="${#strings.contains(#strings.isEmpty(serLevAgrStepDetailDto.escalate.alertTo)?'':serLevAgrStepDetailDto.escalate.alertTo,choice.code)}"></option>
							</select> <input type="hidden" name="escalate.id" th:value="${serLevAgrStepDetailDto.escalate.id}" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">

					<div class="form-group">
						<label class="col-sm-4">with email template</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="escalate.emailTemplate" th:value="${serLevAgrStepDetailDto.escalate.emailTemplate}"
								style="width: 100%" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">

					<div id="escalateList">
						<th:block th:include="views/j-sla/j-sla-escalate-list.html" />
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="col-sm-12">

					<div class="form-group text-center">
						<button type="button" class="btn btn-cancel btn-in-table" th:text="#{cancel.button}" id="btn-cancel">Thoát</button>

						<button type="button" class="btn btn-common btn-in-table" id="btn-save">Save</button>
					</div>
				</div>
			</div>
		</div>

	</form>
</section>

<script type="text/javascript" th:src="@{/static/cache/js/j-sla/j-sla-alert-setting.js}"></script>
</html>
