<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="table-responsive" style="max-height: 350px">
        <table
          id="tblDataTable"
          class="table table-bordered table-striped table-popup-max-height"
        >
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th><input type="checkbox" id="checkAll" /></th>
              <th>Asset Type</th>
              <th>Name of the Asset</th>
              <th>Asset Description</th>
              <th>Asset Category</th>
              <th>Asset Sub Category</th>
              <th>IMEI</th>
              <th>Asset Tag</th>
              <th>Serial No</th>
              <th>Quantity</th>
              <th>Unit of Measure</th>
              <th>Asset Register Date</th>
              <th>Office Location</th>
            </tr>
          </thead>
          <tbody id="itemSelectedTable">
            <th:block
              th:each="assetProfileDto,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr
                th:attr="data-id=${assetProfileDto.id},
						data-assetTypeName=${assetProfileDto.assetTypeName},
						data-assetTypeCode=${assetProfileDto.assetTypeCode},
						data-assetName=${assetProfileDto.assetName},
						data-assetDescription=${assetProfileDto.assetDescription},
						data-assetCategoryName=${assetProfileDto.assetCategoryName},
						data-assetCategoryCode=${assetProfileDto.assetCategoryCode},
						data-assetSubCategoryName=${assetProfileDto.assetSubCategoryName},
						data-assetSubCategoryCode=${assetProfileDto.assetSubCategoryCode},
						data-assetTag=${assetProfileDto.assetTag},
						data-serialNo=${assetProfileDto.serialNumber},
						data-quantity=${assetProfileDto.quantity},
						data-uomCode=${assetProfileDto.uomCode},
						data-uomName=${assetProfileDto.uomName},
						data-companyCode=${assetProfileDto.companyCode},
						data-assetLocationCode=${assetProfileDto.assetLocationCode},
						data-assetLocationName=${assetProfileDto.assetLocationName},
						data-assetRegisterDate=${assetProfileDto.registrationDate} ? ${#dates.format(assetProfileDto.registrationDate, @menuConfig.getFormDate())},
						data-assetStatus=${assetProfileDto.assetStatus}"
                class="db-click row_child"
              >
                <td class="text-center" th:text="${i.index + startIndex}"></td>
                <td class="td-action">
                  <div class="align-center">
                    <input
                      type="checkbox"
                      class="checkedbx"
                      th:classappend="${assetProfileDto.id}"
                    />
                  </div>
                </td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetTypeName}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetName}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetDescription}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetCategoryName}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetSubCategoryName}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.imei}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetTag}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.serialNumber}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-center"
                  th:text="${assetProfileDto.quantity}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.uomName}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-center"
                  th:text="${assetProfileDto.registrationDate} ? ${#dates.format(assetProfileDto.registrationDate, @menuConfig.getFormDate())}"
                  style="white-space: nowrap"
                ></td>
                <td
                  class="text-left"
                  th:text="${assetProfileDto.assetLocationName}"
                  style="white-space: nowrap"
                ></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapper})"
    />

    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/assethandover/assethandover-model-list.js}"
    ></script>
  </body>
</html>
