<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script>
    $(document).ready(function ($) {
      $("#btnAdd").on("click", function (event) {
        showModal();
      });

      /*     	// date picker
    	$(".date").datepicker({autoclose : true,format: 'dd/mm/yyyy'});
    	var idEffectedDate = $("#fromDate").val();
    	var idExpiredDate = $("#toDate").val();
    	changeDatepickerById(idEffectedDate, idExpiredDate,'#fromDate','#toDate'); */

      /* $("#transferType").on('change', function (){
            var value = $("#transferType").val();

            if (value == "Stock"){
                $("#stock").css('display', "block");

                $("#vendor").css('display', "none");
            } else if (value = "Vendor") {
                $("#stock").css('display', "none");

                $("#vendor").css('display', "block");
            }
        }); */
    });

    function showModal() {
      $("#myModal").modal("show");
      $("#myModal").css("z-index", 5000);
    }

    function checkStatus(event) {
      if (event.checked) {
        $(".chkStatus").prop("checked", true);
      } else {
        $(".chkStatus").prop("checked", false);
      }
    }
  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    	var msgAssetAdd = 'Please select Source Warehouse' ;
    	var msgAssetDetail 	= /*[[#{asset-transfer.error.list-detail.required}]]*/ ;
    /*]]>*/
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>Asset Handover</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a
          class="pdf-icon pos-label"
          id="btnExportPdf"
          title="Export PDF"
          th:if="${'99' == assetHandoverDto.processStatusCode}"
        >
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;
        </a>
        <a>
          <i
            class="fa fa-arrow-circle-left icon-head-red"
            th:title="#{back.button}"
            id="linkList"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal u-for-page-top j-form-validate"
    id="form-assethandover-edit"
    th:action="@{/}"
    th:object="${assetHandoverDto}"
    method="post"
    role="form"
  >
    <div id="message-list"></div>
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
    />

    <input type="hidden" th:field="*{assetHandoverId}" />
    <!-- DETAIL -->
    <!-- process Title, Code, Name, Description start -->
    <div class="bg-content clearfix bg-content-tbl">
      <div data-toggle="collapse" data-target="#edit-box" class="header-box">
        <h2 class="title-box">Handover Information</h2>
        <i class="fa fa-minus pull-right" aria-hidden="true"></i>
      </div>
      <div class="collapse in row m-0" id="edit-box">
        <div class="col-sm-12 p-0">
          <div class="form-group">
            <label class="col-sm-2 required">Handover No</label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{handoverNo}"
                readonly="readonly"
              />
            </div>

            <div class="form-group">
              <label class="col-sm-2">Handover Date</label>
              <div class="col-sm-4">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    name="handoverDate"
                    readonly="readonly"
                    th:value="${assetHandoverDto.handoverDate} ? ${#dates.format(assetHandoverDto.handoverDate, @menuConfig.getFormDate())}"
                  />
                  <input
                    class="form-control"
                    type="hidden"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    name="requestDate"
                    th:value="${assetHandoverDto.requestDate} ? ${#dates.format(assetHandoverDto.requestDate, @menuConfig.getFormDate())}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">Handover By</label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{handoverFullname}"
                readonly="readonly"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{handoverUsername}"
              />
            </div>

            <label class="col-sm-2">Handover Dept.</label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{handoverDeptFullOption}"
                readonly="readonly"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{handoverDept}"
                readonly="readonly"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2"
              >Warehouse <span style="color: red">*</span></label
            >
            <div class="col-sm-4">
              <select
                class="form-control required"
                th:field="*{warehouse}"
                th:disabled="${!assetHandoverDto.hasEdit}"
              ></select>
              <input
                type="hidden"
                th:field="*{warehouse}"
                th:disabled="${assetHandoverDto.hasEdit}"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{warehouseCode}"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{warehouseName}"
              />
              <label
                style="display: none"
                class="error"
                for="warehouse"
              ></label>
            </div>

            <label class="col-sm-2">Owner</label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{assetOwnerFullname}"
                th:disabled="${!assetHandoverDto.hasEdit}"
                maxlength="255"
              />

              <input
                type="hidden"
                class="form-control"
                th:field="*{assetOwnerFullname}"
                th:disabled="${assetHandoverDto.hasEdit}"
              />

              <input
                type="hidden"
                class="form-control"
                th:field="*{assetOwnerUsername}"
              />

              <input
                type="hidden"
                class="form-control"
                th:field="*{assetOwnerDept}"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2"
              >Receiver <span style="color: red">*</span></label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control required"
                th:field="*{receiverFullname}"
                th:disabled="${!assetHandoverDto.hasEdit}"
                maxlength="255"
              />
              <input
                type="hidden"
                class="form-control required"
                th:field="*{receiverFullname}"
                th:disabled="${assetHandoverDto.hasEdit}"
                maxlength="255"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{receiverUsername}"
              />
            </div>

            <label class="col-sm-2">Receiver Dept.</label>
            <div class="col-sm-4">
              <select
                class="form-control"
                th:field="*{receiverDeptFullOption}"
                th:disabled="${!assetHandoverDto.hasEdit}"
              >
                <option value="">--</option>
              </select>
              <input
                type="hidden"
                class="form-control"
                th:field="*{receiverDeptFullOption}"
                th:disabled="${assetHandoverDto.hasEdit}"
              />
              <input
                type="hidden"
                class="form-control"
                th:field="*{receiverDept}"
              />
              <!-- <input type="text" class="form-control"
							th:field="*{receiverDeptFullOption}"
							th:readonly="${!assetHandoverDto.hasEdit}" /> <input
							type="hidden" class="form-control" th:field="*{receiverDept}" /> -->
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">Phone Number</label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{receiverPhoneNumber}"
                th:readonly="${!assetHandoverDto.hasEdit}"
              />
            </div>

            <label class="col-sm-2">Email</label>
            <div class="col-sm-4">
              <input
                type="email"
                class="form-control"
                th:field="*{receiverEmail}"
                th:readonly="${!assetHandoverDto.hasEdit}"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 required">Reason for Handover</label>
            <div class="col-sm-10">
              <textarea
                type="text"
                class="form-control required"
                th:field="*{reasonForHandover}"
                th:readonly="${!assetHandoverDto.hasEdit}"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-content clearfix bg-content-tbl">
      <div data-toggle="collapse" data-target="#edit-box2" class="header-box">
        <h2 class="title-box">Asset Detail Information</h2>
        <i class="fa fa-minus pull-right" aria-hidden="true"></i>
      </div>
      <div class="collapse in row m-0" id="edit-box2">
        <div class="col-sm-12 p-0">
          <div class="col-sm-6 form-group">
            <span class="col-sm-4">Property of</span>
            <div class="col-sm-8">
              <select
                class="form-control inputSearchByPr"
                th:field="*{propertyOf}"
                th:disabled="${!assetHandoverDto.hasEdit}"
              >
                <option
                  th:each="item : ${listConstant}"
                  th:value="${item.cat}"
                  th:text="${item.cat}"
                ></option>
              </select>
              <input
                type="hidden"
                th:field="*{propertyOf}"
                th:if="${!assetHandoverDto.hasEdit}"
              />
            </div>
          </div>

          <div class="pull-right p-0">
            <a
              class="btn-common hide"
              id="btnAdd"
              th:if="${assetHandoverDto.hasEdit}"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> <span>Add</span>
            </a>
            <a
              class="btn-common"
              id="btnAddHiden"
              th:if="${assetHandoverDto.hasEdit}"
            >
              <i class="fa fa-plus" aria-hidden="true"></i> <span>Add</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 p-0">
          <div class="table-responsive col-sm-12 no-padding">
            <table
              id="tblDataTable1"
              class="table table-bordered table-striped"
            >
              <thead>
                <tr>
                  <th style="min-width: 50px">Action</th>
                  <th style="min-width: 120px">Asset Type</th>
                  <th style="min-width: 155px">Name of the Asset</th>
                  <th style="min-width: 50px">Asset Sub Category</th>
                  <th style="min-width: 50px">Asset Status</th>
                  <th style="min-width: 180px">Serial No</th>
                  <th style="min-width: 100px">Asset Tag No</th>
                  <th style="min-width: 120px">Quantity</th>
                  <th style="min-width: 120px">Unit of Measure</th>
                  <th style="min-width: 120px">Register Date</th>
                </tr>
              </thead>
              <tbody id="body">
                <th:block th:each="item,i : ${assetHandoverDto.lstPrApproved}">
                  <tr
                    class="row_pr align-top rownum"
                    th:attr="id=${'pr_' + item.id},data-index=${i.index},data-process=${assetHandoverDto.processStatusCode}"
                  >
                    <td class="td-action">
                      <div class="align-center">
                        <span
                          th:if="${#authorization.expression('hasAuthority(@roleEp2p.ROLE_ASSET_MANAGEMENT_VERIFY)')} or ${assetHandoverDto.stepNo != 0 and assetHandoverDto.stepNo != 98 and assetHandoverDto.stepNo != null}"
                        >
                          <a
                            th:attr="onclick='deletePr(' + ${item.id} + ')'"
                            class="
                              glyphicon glyphicon-remove-sign
                              font-size-20
                              red
                              j-btn-delete
                            "
                            title="Delete"
                          ></a>
                        </span>
                        <span
                          th:unless="${#authorization.expression('hasAuthority(@roleEp2p.ROLE_ASSET_MANAGEMENT_VERIFY)')} or ${assetHandoverDto.stepNo != 0 and assetHandoverDto.stepNo != 98 and assetHandoverDto.stepNo != null}"
                        >
                          <a
                            th:attr="onclick='deletePr(' + ${item.id} + ')'"
                            class="
                              glyphicon glyphicon-remove-sign
                              font-size-20
                              red
                            "
                            title="Delete"
                          ></a>
                        </span>
                      </div>
                    </td>
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].id'"
                      th:value="${item.id}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetProfileId'"
                      th:value="${item.assetProfileId}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].handoverId'"
                      th:value="${item.handoverId}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].handoverNo'"
                      th:value="${item.handoverNo}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetOwnerUsername'"
                      th:value="${item.assetOwnerUsername}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetOwnerFullname'"
                      th:value="${item.assetOwnerFullname}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetOwnerDept'"
                      th:value="${item.assetOwnerDept}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetTypeName'"
                      th:value="${item.assetTypeName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetTypeCode'"
                      th:value="${item.assetTypeCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetName'"
                      th:value="${item.assetName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetDescription'"
                      th:value="${item.assetDescription}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetCategoryName'"
                      th:value="${item.assetCategoryName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetCategoryCode'"
                      th:value="${item.assetCategoryCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetSubCategoryName'"
                      th:value="${item.assetSubCategoryName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetSubCategoryCode'"
                      th:value="${item.assetSubCategoryCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetLocationName'"
                      th:value="${item.assetLocationName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetLocationCode'"
                      th:value="${item.assetLocationCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetTag'"
                      th:value="${item.assetTag}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].serialNo'"
                      th:value="${item.serialNo}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].quantity'"
                      th:value="${item.quantity}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].uomCode'"
                      th:value="${item.uomCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].uomName'"
                      th:value="${item.uomName}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].companyCode'"
                      th:value="${item.companyCode}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetRegisterDate'"
                      th:value="${item.assetRegisterDate} ? ${#dates.format(item.assetRegisterDate, @menuConfig.getFormDate())}"
                    />
                    <input
                      type="hidden"
                      th:name="'lstPrApproved[' + ${i.index} +'].assetStatus'"
                      th:value="${item.assetStatus}"
                    />

                    <td th:inline="text" class="text-left">
                      [[${item.assetTypeName}]]<br />
                      <small
                        th:if="${item.error}"
                        th:text="'This asset is not available. Please choose another one'"
                        style="color: red"
                      ></small>
                    </td>
                    <td class="text-left" th:text="${item.assetName}"></td>
                    <td
                      class="text-left"
                      th:text="${item.assetSubCategoryName}"
                    ></td>
                    <span th:if="${item.assetStatus == '0'}"
                      ><td class="text-left">New</td></span
                    >
                    <span th:if="${item.assetStatus == '1'}"
                      ><td class="text-left">In-Use</td></span
                    >
                    <span th:if="${item.assetStatus == '2'}"
                      ><td class="text-left">Re-Use</td></span
                    >
                    <span th:if="${item.assetStatus == '5'}"
                      ><td class="text-left">Broken</td></span
                    >
                    <span th:if="${item.assetStatus == '6'}"
                      ><td class="text-left">Repairing</td></span
                    >
                    <span th:if="${item.assetStatus == '7'}"
                      ><td class="text-left">Obsolete</td></span
                    >
                    <td class="text-left" th:text="${item.serialNo}"></td>
                    <td class="text-left" th:text="${item.assetTag}"></td>
                    <td class="text-center" th:text="${item.quantity}"></td>
                    <td class="text-left" th:text="${item.uomName}"></td>
                    <td
                      class="text-center"
                      th:text="${item.assetRegisterDate} ? ${#dates.format(item.assetRegisterDate, @menuConfig.getFormDate())}"
                    ></td>
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" th:value="${refAttachment}" th:name="refAttachment" />
    <input type="hidden" th:field="*{processId}" id="processId" />
    <input
      type="hidden"
      th:value="${assetHandoverDto.assetHandoverId}"
      id="abtract-reference-id"
    />
    <input type="hidden" th:field="*{createdBy}" />
    <input type="hidden" th:field="*{stepNo}" />
    <input type="hidden" th:field="*{processStatusCode}" />
    <input type="hidden" th:field="*{comments}" id="commentsId" />
    <input type="hidden" th:field="*{owner}" id="ownerId" />
    <input type="hidden" th:field="*{assignee}" id="assigneeId" />
    <input
      type="hidden"
      th:field="*{businessCode}"
      id="abtract-business-code"
    />
    <input type="hidden" th:field="*{stepId}" id="abtract-step-id" />
  </form>
  <!-- AttachedFile -->
  <div id="attachedFileContent">
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/attached-file-module/attached-file-plugin.html :: content(${lstAttachedFile},${businessCode},${refAttachment})"
    />
  </div>

  <!-- process -->
  <th:block
    th:include="/views/ASSET_MANAGEMENT_MODULE/approval-module/approval-plugin.html :: content(${approvalModuleDto},'form-assethandover-edit','asset-handover', ${@roleEp2p.ROLE_ASSET_HANDOVER},'')"
  />
  <!--  show modal -->
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div
      class="modal-dialog"
      role="document"
      style="width: 80%; max-width: 80%"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Asset Profile</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 p-0">
            <th:block
              th:include="/views/ASSET_MANAGEMENT_MODULE/assethandover/assethandover-model-list.html :: content"
            />
          </div>
        </div>
        <div align="center">
          <!-- Tranlth 27/05/2019 thêm mới add và bỏ Ok + Cancel Task #23724 -->
          <a
            class="btn-common btn-in-tablet hide"
            data-dismiss="modal"
            type="submit"
            id="btnOK"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span th:text="#{add.button}">Add</span>
          </a>
          <a class="btn-common btn-in-tablet" id="btnAddHide">
            <i class="fa fa-plus"></i> <span th:text="#{add.button}">Add</span>
          </a>
          <a href="#" class="btn-cancel" data-dismiss="modal"
            ><i class="fa fa-times"></i> Close</a
          >
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var selectedAccount = /*[[${assetHandoverDto.assetOwnerFullname}]]*/;
    var selectedReceiver = /*[[${assetHandoverDto.receiverFullname}]]*/;
    var selectedWarehouse = /*[[${assetHandoverDto.warehouse}]]*/;
    var selectedReceiverDept = /*[[${assetHandoverDto.receiverDeptFullOption}]]*/;
    /*]]>*/
  </script>
  <script
    type="text/javascript"
    th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/assethandover/assethandover-edit.js} + ${'?rev=' + @systemConfig.getRev()}"
  ></script>
</html>
