<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <!-- BODY START -->
  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3><i class="fa fa-table"></i> Asset Handover</h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a
            ><i
              class="fa fa-plus-circle icon-head-red"
              id="add"
              th:title="#{add.button}"
              th:if="${#authorization.expression('hasAuthority(@roleEp2p.ROLE_ASSET_MANAGEMENT_SUBMIT)')}"
            ></i
          ></a>
        </div>
      </div>
    </div>
    <!-- TITLE AND BUTTON ADD END -->
    <!-- FORM SEARCH START -->

    <form
      class="form-horizontal u-for-page-top j-formSearch"
      th:action="@{/}"
      th:object="${assetHandoverSearchDto}"
      method="POST"
      role="form"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <!-- SEARCH AREA START-->
      <div class="bg-content clearfix">
        <div
          data-toggle="collapse"
          data-target="#search-box"
          class="header-box"
        >
          <h5 class="title-box">
            <span th:text="#{search.title}">Vùng tìm kiếm</span>
          </h5>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Handover No</label>
              <div class="col-md-4">
                <input
                  class="form-control"
                  type="text"
                  th:field="*{handoverNo}"
                />
              </div>

              <label class="col-md-2">Status</label>
              <div class="col-md-4">
                <select
                  class="form-control j-required"
                  th:field="*{processStatusCode}"
                >
                  <option value="">--</option>
                  <option
                    th:each="item : ${listStatusProcess}"
                    th:text="${item.name}"
                    th:value="${item.value}"
                    th:selected="${item.value} == *{processStatusCode}"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Handover Date From</label>
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{handoverDateFrom}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>

              <label class="col-md-2">Handover Date To</label>
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{handoverDateTo}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Handover By</label>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{handoverFullname}"
                />
              </div>

              <label class="col-md-2">Receiver</label>
              <div class="col-md-4">
                <select
                  class="form-control"
                  th:field="*{receiverFullname}"
                ></select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2">Name of the Asset</label>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{nameOfTheAsset}"
                />
              </div>

              <label class="col-md-2">Warehouse</label>
              <div class="col-md-4">
                <select
                  class="form-control"
                  th:field="*{warehouseName}"
                ></select>
              </div>
            </div>
          </div>

          <div align="center">
            <div class="position-label col-xs-12 col-sm-12">
              <button type="submit" id="btnSearch" class="btn-common">
                <i class="fa fa-search"></i>
                <span th:text="#{search.button}">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- SEARCH AREA END -->
      <!-- TABLE RESULT START -->
      <div class="bg-content clearfix bg-content-tbl" id="tableList">
        <th:block
          th:include="/views/ASSET_MANAGEMENT_MODULE/assethandover/assethandover-table.html :: content"
        />
      </div>
      <!-- TABLE RESULT END -->
    </form>
  </body>
  <!-- BODY END -->
  <script>
    // date picker
    // $(".date").datepicker({ autoclose: true, format: "dd/mm/yyyy" });
    var idEffectedDate = $("#handoverDateFrom").val();
    var idExpiredDate = $("#handoverDateTo").val();
    changeDatepickerById(
      idEffectedDate,
      idExpiredDate,
      "#handoverDateFrom",
      "#handoverDateTo"
    );

    $("#box-advance").on("click", function (event) {
      if ($("#iconShow").hasClass("fa fa-plus")) {
        $("#iconShow").removeClass("fa fa-plus").addClass("fa fa-minus");
      } else {
        $("#iconShow").removeClass("fa fa-minus").addClass("fa fa-plus");
      }
    });
  </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var selectedWarehouse = /*[[${assetHandoverSearchDto.warehouseName}]]*/;
    var selectedReceiver = /*[[${assetHandoverSearchDto.receiverFullname}]]*/;
    /*]]>*/
  </script>
  <script
    type="text/javascript"
    th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/assethandover/assethandover-list.js}"
  ></script>
</html>
