<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

<div class="table-responsive">
    <table id="data-status" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="no center">#</th>
            <th th:text="#{jpm.process.status.code}">Status Code</th>
            <th th:text="#{jpm.process.status.name}">Status Name</th>
            <th class="u_t_action" th:text="#{action.label}">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${objectDto.listJpmStatusDto!= null}">
            <th:block th:each="_item,i : ${objectDto.listJpmStatusDto}">
                <tr class="db-click" th:attr="data-jpm-status-id=${_item.id}">
                    <td class="text-center" th:text="${i.index + 1 }"></td>
                    <td th:text="${_item.statusCode}">Status Code</td>
                    <td th:text="${_item.statusName}">Status Name</td>
                    <td class="">
                        <div class="btn-group">
                            <a class="btn-edit" data-toggle="modal" data-target="#status-modal" ><i class="glyphicon glyphicon-eye-open custom-icon"></i></a>
                     <!--        <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a> -->
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:if="${objectDto.listJpmStatusDto==null || objectDto.listJpmStatusDto.length==0}">
            <tr>
                <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>