<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

    <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

    <div class="table-responsive">
        <table id="data-param" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th th:text="#{jpm.process.param.field.name}">Field name</th>
                    <th th:text="#{jpm.process.param.form.field.name}">Form field name</th>
                    <th th:text="#{jpm.process.param.data.type}">Data type</th>
                    <th class="u_t_action" th:text="#{action.label}">Action</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${objectDto.listJpmParamDto!= null}">
                    <th:block th:each="_item,i : ${objectDto.listJpmParamDto}">
                        <tr class="db-click" th:attr="data-jpm-param-id=${_item.id}">
                            <td class="text-center" th:text="${i.index + 1 }"></td>
                            <td th:text="${_item.fieldName}">Field Name</td>
                            <td th:text="${_item.formFieldName}">Field Name</td>
                            <td th:text="${_item.dataType}">Data Type</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn-edit" data-toggle="modal" data-target="#param-modal" ><i class="glyphicon glyphicon-eye-open custom-icon"></i></a>
       <!--                              <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a> -->
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                <th:block th:if="${objectDto.listJpmParamDto==null || objectDto.listJpmParamDto.length==0}">
                    <tr>
                        <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>