<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<th:block th:include="views/commons/message-alert.html :: content(${messages})" />

<div class="table-responsive">
    <table id="data-status" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="row" class="no center">#</th>
            <th scope="row" th:text="#{jpm.process.status.name}">Status Name</th>
            <th scope="row" class="u_t_action" th:text="#{action.label}">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${processDmnDtos!= null}">
            <th:block th:each="_item,i : ${processDmnDtos}">
                <tr class="db-click" th:attr="data-process-dmn-id=${_item.id}">
                    <td class="text-center" th:text="${i.index + 1 }"></td>
                    <td th:text="${_item.dmnFileName}"> Name</td>
                    <td class="">
                        <div class="btn-group">
                            <a class="btn-dmn-download" th:href="@{/ajax-file/download(filePath=${_item.dmnFilePath},repositoryId=${_item.dmnRepoId}, fileName=${_item.dmnFileName})}"><i class="fa fa-download custom-icon" aria-hidden="true"></i></a>
                            <!-- <a class="btn-view" data-toggle="modal" data-target="#dmn-modal" ><i class="glyphicon glyphicon-edit custom-icon" aria-hidden="true"></i></a> -->
                            <a class="btn-view"><i class="glyphicon glyphicon-eye-open custom-icon" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:if="${processDmnDtos==null || processDmnDtos.size()==0}">
            <tr>
                <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>