<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <form class="form-horizontal u-for-page-top j-form-validate" role="form" id="param-form" method="POST" autocomplete="off" th:object="${paramDto}" th:action="@{/}">
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="param-modal-label" th:text="#{jpm.process.param.information}">Param Information</h2>
            </div>
            <div class="modal-body">

                <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{processId}"/>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{fieldName}" class="col-md-3" th:text="#{jpm.process.param.field.name}"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control j-maxlength j-code" th:field="*{fieldName}" readonly="true" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{formFieldName}" class="col-md-3" th:text="#{jpm.process.param.form.field.name}"></label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control j-maxlength j-code" th:field="*{formFieldName}" readonly="true" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{dataType}" class="col-md-3" th:text="#{jpm.process.param.data.type}"></label>
                            <div class="col-md-9">
                                <select class="form-control" th:field="*{dataType}" disabled="true">
                                    <option th:each="type : ${dataTypes}" th:value="${type.key}" th:text="${type.value}"
                                            th:selected="${type.key == paramDto.dataType}"></option>
                                </select>
<!--                                <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{dataType}" />-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-content-tbl row m-0">
	                <div class="table-responsive">
		                <table id="table-param-config-step" class="table table-bordered table-striped table-hover">
		                    <thead>
		                        <tr>
		                            <th class="no">#</th>
		                            <th th:text="#{jpm.process.param.step.name}">Step</th>
		                            <th>
		                            	<span th:text="#{jpm.process.param.required}">
		                            		Required
		                            	</span>
		                            </th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <th:block th:if="${paramDto.configSteps != null}" th:each="_item,i : ${paramDto.configSteps}" th:with="index=${i.index}">
		                            <tr class="db-click">
		                                <!-- <input type="hidden" th:field="*{configSteps[__${index}__].id}" /> -->
		                                <input type="hidden" th:field="*{configSteps[__${index}__].paramDeployId}" />
		                                <input type="hidden" th:field="*{configSteps[__${index}__].processDeployId}" />
		                                <input type="hidden" th:field="*{configSteps[__${index}__].stepDeployId}" />
		                                <input type="hidden" th:field="*{configSteps[__${index}__].stepName}" />
		                                <td class="text-center" th:text="${index + 1 }"></td>
		                                <td>
		                                    <span th:text="*{configSteps[__${index}__].stepName}"></span>
		                                </td>
		                                <td class="text-center">
		                                    <input class="check-access" type="checkbox" th:field="*{configSteps[__${index}__].required}" disabled="true" />
		                                </td>
		                            </tr>
		                        </th:block>
		                    </tbody>
		                </table>
		            </div>
	            </div>
	          </div>
        </div>
        <div class="modal-footer">
             <a href="#" class="u-btn u-btn-back" data-dismiss="modal">
             	<img th:src="@{/static/images/ico-close.png}" alt="" width="11px">
                <span  th:text="#{close.button}"></span>
             </a>
            <!--                <a href="#" class="btn btn-common btn-in-tablet" data-dismiss="modal" th:text="#{save.button}">Save</a>-->
        </div>
    </form>

</body>
</html>