<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

<div class="table-responsive">
    <table id="data-button" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="no center">#</th>
            <th th:text="#{jpm.process.button.text}">Button text</th>
            <th th:text="#{jpm.process.button.value}">Button value</th>
            <th th:text="#{jpm.process.button.class}">Button class</th>
            <th th:text="#{jpm.process.button.type}">Button type</th>
            <th th:text="#{jpm.process.button.order}">Order No</th>
            <th class="u_t_action" th:text="#{action.label}">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${objectDto.listJpmButtonDto!= null}">
            <th:block th:each="_item,i : ${objectDto.listJpmButtonDto}">
                <tr class="db-click" th:attr="data-jpm-button-id=${_item.id}">
                    <td class="text-center" th:text="${i.index + 1 }"></td>
                    <td th:text="${_item.buttonText}">Button text</td>
                    <td th:text="${_item.buttonValue}">Button value</td>
                    <td th:text="${_item.buttonClass}">Button class</td>
                    <td class="text-center" th:text="${_item.buttonType}">Button type</td>
                    <td class="text-center" th:text="${_item.orders}">Orders</td>
                    <td class="">
                        <div class="btn-group">
                            <a class="btn-edit" data-toggle="modal" data-target="#button-modal" ><i class="glyphicon glyphicon-eye-open custom-icon"></i></a>
        <!--                     <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a> -->
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:if="${objectDto.listJpmButtonDto==null || objectDto.listJpmButtonDto.length==0}">
                    <tr>
                        <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                    </tr>
                </th:block>
        </tbody>
    </table>
</div>
</body>
</html>