<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<form class="form-horizontal u-for-page-top j-form-validate" role="form" id="step-form" method="POST" autocomplete="off" th:object="${stepDto}" th:action="@{/}">
			<div class="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2 class="modal-title" id="step-modal-label" th:text="#{jpm.process.step.information}">Step Information</h2>
				</div>
				<div class="modal-body">

					<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

					<input type="hidden" th:field="*{id}"/>
					<input type="hidden" th:field="*{processId}"/>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{stepNo}" class="col-md-3" th:text="#{jpm.process.step.step.no}"/>
								<div class="col-md-9">
									<input type="number" class="form-control j-maxlength j-required j-code" th:field="*{stepNo}" disabled="true" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{code}" class="col-md-3" th:text="#{jpm.process.step.code}"/>
								<div class="col-md-9">
									<input type="text" class="form-control j-maxlength j-required j-code" th:field="*{code}" readonly="true"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{name}" class="col-md-3 " th:text="#{jpm.process.step.name}"/>
								<div class="col-md-9">
									<input type="text" class="form-control j-maxlength j-required j-code" th:field="*{name}" readonly="true" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{stepKind}" class="col-md-3" th:text="#{jpm.process.step.kind}"/>
								<div class="col-md-9">
									<select class="form-control" th:field="*{stepKind}" disabled="true">
										<option th:each="_item : ${stepKindList}" 
                                	th:value="${_item.id}" 
                                	th:text="#{${_item.name}}"
                                        />
									</select>
									<input type="hidden" th:field="*{statusId}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{statusId}" class="col-md-3" th:text="#{jpm.process.step.status}"/>
								<div class="col-md-9">
									<select class="form-control" th:field="*{statusId}" disabled="true">
										<option th:each="status : ${statusList}" th:value="${status.id}" th:text="${status.statusName}"
                                        th:selected="${status.id == stepDto.statusId}"/>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-0">
							<div class="form-group">
								<label th:for="*{commonStatusCode}" class="col-md-3" th:text="#{jpm.process.step.status.common}"/>
								<div class="col-md-9">
									<select class="form-control" th:field="*{commonStatusCode}" disabled="true">
										<option value=""/>
										<option th:each="status : ${statusCommons}" th:value="${status.id}" th:text="${status.text}"/>
									</select>
								</div>
							</div>
						</div>
					</div>
		            <!-- <div class="row">
		                <div class="col-md-12">
		                    <div class="form-group">
		                        <label th:for="*{authorityComment}" class="col-md-3" th:text="#{jpm.process.step.authority.comment}"></label>
		                        <div class="col-md-9">
		                            <input type="checkbox" disabled="disabled" th:field="*{authorityComment}" />
		                        </div>
		                    </div>
		                </div>
		            </div> -->
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-offset-3 col-md-9 gr-tab">
									<ul class="nav nav-tabs" id="tabButtonLanguage">
										<th:block th:each="language, i : ${languageList}">
											<li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabButtonLanguage + ${i.index}">
												<a th:href="'#languageStep-' + ${language.code}" th:text="${language.name}" data-toggle="tab" aria-expanded="true"/>
											</li>
										</th:block>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content" style="margin-top: 10px">
						<th:block th:each="language, i : ${stepDto.listJpmStepLangDeploy}" th:with="index=${i.index}">
							<div th:id="'languageStep-' + ${language.langCode}" class="tab-pane fade " th:classappend="${language.langCode == languageList[0].code}  ? 'in active' : ''">
								<!-- <input th:type="hidden" th:field="*{listJpmStepLangDeploy[__${index}__].id}" /> -->
								<input th:type="hidden" th:field="*{listJpmStepLangDeploy[__${index}__].langCode}" />
								<div class="row">
									<div class="col-md-12 p-0">
										<div class="form-group">
											<label th:for="*{listJpmStepLangDeploy[__${index}__].stepName}" class="col-md-3" th:text="#{jpm.process.step.name.lang}"/>
											<div class="col-md-9">
												<input th:field="*{listJpmStepLangDeploy[__${index}__].stepName}" type="text" class="form-control j-maxlength" data-rule-maxlength="255" maxlength="255" readonly="true"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div th:if="*{stepType == 'NORMAL_STEP'}">
						<div class="row">
							<div class="col-md-12 p-0">
								<div class="form-group col-md-3">
									<label  th:text="#{jpm.process.step.button}"/>
								</div>
								<!-- <div class="col-md-9">
	                        <input type="checkbox"/>
	                    </div> -->
							</div>
						</div>
						<div class="bg-content-tbl border-tb-0">
							<div class="table-responsive">
								<table id="child-data-button" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th class="no">#</th>
											<th th:text="#{jpm.process.step.button}">Button</th>
											<th th:text="#{jpm.process.step.save.data}">Save data?</th>
											<th th:text="#{jpm.process.step.save.eform}">Save eform?</th>
											<th th:text="#{jpm.process.step.is.authenticate}">is authenticate</th>
											<th th:text="#{jpm.process.step.display.history.approve}">DISPLAY_HISTORY_APPROVE</th>
											<th th:text="#{jpm.process.step.is.export.pdf}">is export PFD</th>
											<th th:text="#{jpm.process.step.is.sign}">is Sign</th>
											<th th:text="#{jpm.process.step.field.sign}">is Sign</th>
								           <!--  <th th:text="#{jpm.process.step.sign.type}">Sign Type</th>
								            <th th:text="#{jpm.process.step.sign.position}">Sign Position</th> -->
											<th th:text="#{jpm.process.function}">Function</th>
										</tr>
									</thead>
									<tbody>
										<!--HIDDEN ROW-->
										<tr id="row-button-hidden" class="db-click" th:attr="child-data-jpm-button-id=0" style="display: none">
											<td class="text-center"/>
											<td>
												<select class="form-control" disabled="true">
													<option th:each="button,i : ${buttonList}" th:value="${button.id}" th:text="${button.buttonText}"
		                                            th:selected="${i.index == 0}"/>
												</select>
											</td>
											<td class="text-center">
												<input type="checkbox" disabled="true"/>
											</td>
											<td>
												<select class="form-control" disabled="true">
													<option th:each="function,i : ${functionList}" th:value="${function.id}" th:text="${function.name}" 
		                                            th:selected="${i.index == 0}"/>
												</select>
											</td>
										</tr>
										<th:block th:if="${stepDto.listJpmButton != null}" th:each="_item,i : ${stepDto.listJpmButton}" th:with="index=${i.index}">
											<tr class="db-click" th:attr="child-data-jpm-button-id=${_item.id}">
												<input type="hidden" th:field="*{listJpmButton[__${index}__].isDeleted}" />
												<input type="hidden" th:field="*{listJpmButton[__${index}__].id}" />
												<td class="text-center" th:text="${index + 1 }"/>
												<td>
													<select class="form-control auto-width-important" th:field="*{listJpmButton[__${index}__].buttonId}" disabled="true">
														<option th:each="button : ${buttonList}" th:value="${button.id}" th:text="${button.buttonText}"
		                                                th:selected="${button.id == stepDto.listJpmButton[index].buttonId}"/>
													</select>
												</td>
												<td class="text-center" >
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].isSave}" disabled="true"/>
												</td>
												<td class="text-center" >
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].isSaveEform}" disabled="true"/>
												</td>
												<td class="text-center">
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].isAuthenticate}" disabled="true"/>
												</td>
												<td class="text-center">
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].displayHistoryApprove}" disabled="true"/>
												</td>
												<td class="text-center">
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].isExportPdf}" disabled="true"/>
												</td>
												<td class="text-center">
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].isSign}" disabled="true"/>
												</td>
												<td class="text-center">
													<input type="checkbox" th:field="*{listJpmButton[__${index}__].fieldSign}" disabled="true"/>
												</td>
												<!-- <td class="">
						                            <select class="form-control auto-width-important" disabled="disabled"  th:if="*{listJpmButton[__${index}__].signType} != null" th:field="*{listJpmButton[__${index}__].signType}">
						                                <th:block
						                                    th:each="item: ${T(vn.com.unit.activiti.enumdef.SignTypeEnum).values()}">
					                                        <option th:value="${item.getValue()}"
					                                            	th:text="#{${item.name}}"></option>
						                                </th:block>
						                            </select>
						                        </td> 
								        		<td class="text-center" >
								        			<span th:text="*{listJpmButton[__${index}__].signPosition}"></span>
								        		</td> -->
												<td>
													<select class="form-control auto-width-important" th:field="*{listJpmButton[__${index}__].functionId}" disabled="true">
														<option th:each="function,i : ${functionList}" th:value="${function.id}" th:text="${function.name}"
		                                                th:selected="${i.index == 0}"/>
													</select>
												</td>
											</tr>
										</th:block>
									</tbody>
	
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="u-btn u-btn-back" data-dismiss="modal">
	            	<img th:src="@{/static/images/ico-close.png}" alt="" width="11px">
	                <span  th:text="#{close.button}"></span>
	            </a>
				<!--                <a href="#" class="btn btn-common btn-in-tablet" data-dismiss="modal" th:text="#{save.button}">Save</a>-->
			</div>
		</form>

	</body>
</html>