<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(lstAttachedFile,isShowActionAttachedFile)">



	<div class="col-sm-12 p-0">
		<div class="table-responsive">
			<table class="table table-bordered table-striped tree">
				<thead>
					<tr>
						<th th:if="${#authorization.expression('hasAuthority('''+itemPermission+':Edit'+''')') and isShowActionAttachedFile}" th:text="#{action.label}">Action</th>
						<th>#</th>
						<th th:text="#{attach.title}">Title</th>
						<th th:text="#{attach.filename}">File name</th>
						<th th:text="#{attach.type}">Type</th>
						<th th:text="#{attach.size}">Size</th>
						<th th:text="#{attach.notes}">Notes</th>
						<th th:text="#{attach.createBy}">Create by</th>
						<th th:text="#{attach.createDate}">Create date</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="_item,i : ${lstAttachedFile}">
						<tr th:attr="data-attached-file-id=${_item.id}">
							<td th:if="${#authorization.expression('hasAuthority('''+itemPermission+':Edit'+''')') and isShowActionAttachedFile}" class="text-center">
								<div>
									<a class="glyphicon glyphicon-remove-sign font-size-20 red j-delete-file"
										th:if="${#authorization.expression('hasAuthority('''+itemPermission+':Edit'+''')') and isShowActionAttachedFile}"></a>
								</div>
							</td>
							<td class="text-center" th:text="${i.index + 1}"></td>
							<td th:text="${_item.title}"></td>
<!-- 							<td th:if="${#authorization.expression('hasAuthority('''+itemPermission+''')')}"><a class="attached-file-td" th:text="${_item.fileName}"></a></td> -->
<!-- 							<td th:if="${!#authorization.expression('hasAuthority('''+itemPermission+''')')}" th:text="${_item.fileName}"></td> -->
							<td><a class="attached-file-td" th:text="${_item.fileName}"></a></td>
							<td th:text="${_item.fileType}"></td>
							<td th:text="${_item.fileSize}"></td>
							<td th:text="${_item.notes}"></td>
							<td th:text="${_item.createdBy}"></td>
							<td class="text-center" th:text="${_item.createdDate }? ${#dates.format(_item.createdDate, @menuConfig.getFormDate())}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>