<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<form class="form-horizontal u-for-page-top j-formSearch" th:object="${searchDto}" method="POST" role="form">				
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<input type="hidden" th:field="*{companyId}" th:if="${companyList.size() eq 1}"/>
		<div class="bg-content clearfix">
			<div data-toggle="collapse" data-target="#search-box" class="header-box">
				 <h5 class="title-box"><span th:text="#{search.title}">Vùng tìm kiếm</span> </h5>
		         <i class="fa fa-minus pull-right" aria-hidden="true"></i> 
			</div>
			<div class="collapse in row m-0" id="search-box">
				<div class="col-sm-12 form-group">
					<div class="col-sm-4 form-group" th:if="${companyList.size() gt 1}">
						<label for="companyId"  class="col-md-4"
							th:text="#{company.detail}">Company</label>
						<div class="col-sm-8 form-group">
							<select class="col-sm-9 form-control select2 select-company"
								th:field="*{companyId}">
								<option th:each="company : ${companyList}" th:value="${company.id}"
									th:text="${company.text}" th:selected="${company.id} eq *{companyId}"></option>
							</select>
						</div>
					</div>
					<div class="col-sm-8 form-group">
						<label th:for="*{orgParentId}" class="col-md-3"
							th:text="#{curator.unit.org.name}"></label>
						<div class="col-md-6 col-organization">
							<input type="text" class="form-control " th:field="*{orgParentId}" />
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group">
					
					<div class="col-sm-6 form-group">
					<label th:for="*{orgParentId}" class="col-md-3"
						th:text="#{search.key.curator.unit.name}"></label>
						<input type="text" class="col-md-8" th:field="*{fieldSearch}" th:placeholder="#{search.key}" autocomplete="off"/>
					</div>
			     	<div class="col-sm-2 form-group">
						<select th:field="*{fieldValues}" multiple="multiple" class="form-control" id="search-filter">
							<th:block th:each="item : ${fieldSelect}">
								<option th:value="${item.value}"
									th:selected="${searchDto.fieldValues} ? ${#arrays.contains(searchDto.fieldValues,item.value)}: false"   
									th:text="#{${item.name}}"></option>
							</th:block>
						</select>
			     	</div>					
					<div class="col-sm-4 form-group">
				        <a id="btnSearch" class="btn-common" >
				        	<i class=" fa fa-search"></i>
				        	<span th:text="#{search.button}">Tìm kiếm</span>
				        </a>
					</div>
				</div>
			</div>	
			
		</div>		
	</form>
	<input type="hidden" id="fieldSearchHidden" />
	<input type="hidden" id="fieldValuesHidden" />
	<script type="text/javascript"
		th:src="@{/static/cache/js/curator-unit/curator-unit-search.js}"></script>
	<script type="text/javascript" th:inline="text">
	var COMPANY_PLACEHOLDER = '[[#{jpm.process.company}]]';
	var USER_LOGIN_COMPANY_ID = '[[${#authentication?.principal?.companyId}]]';
</script>
</body>

</html>