/*----------------------------------*/
/* Popup.css */

.relate-modal-card .close-btn {
    cursor: pointer;
    height: 14px;
    position: absolute;
    top: 0;
    right: 14px;
    width: 14px
}

.modal-header {
    background: #f5f3f2;
    padding: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #292929;
    margin: 0px;
}

.relate-modal-content {
    padding: 18px 16px 40px 16px;
}
.modal-body-content {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #292929;
    text-align: left;
    margin: 0px;
}

.modal-body-sub-content {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #292929;
    text-align: left;
    margin: 0px;
}

.bold-text {
    font-weight: 700;
}

.card-border {
    border: 1px dashed #f5f3f2;
    margin: 19px 0 12px;
}

.relate-modal-card {
    -ms-overflow-style: none;
    background: #fff;
    border-radius: 6px;
    max-height: 95vh;
    max-width: 600px;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    width: 100%;
}

.relate-modal-card::-webkit-scrollbar {
    display: none
}

.relate-modal-card .picture-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.relate-modal-card .btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*.collapsible {*/
/*    margin-top: 16px;*/
/*    margin-bottom: 16px;*/
/*}*/

/* Collapsible.css */

.collapsible-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.collapsible-header p {
    margin: 0; /* Reset margin for the paragraph */
    flex: 1; /* Make the paragraph take up remaining space */
}

.collapsible-header img {
    transform: rotate(-90deg); /* Rotate the arrow when active */
    margin-left: auto; /* Push the image to the right */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.collapsible-header .arrow {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.collapsible.active .collapsible-header img {
    transform: initial;
}

.collapsible-content {
    display: none;
}

.collapsible-content .validate {
    border-color: #ff0000;
}

.mt12 {
    margin-top: 12px;
}

.mb6 {
    margin-bottom: 6px;
}
/*.collapsible.active .collapsible-header .arrow {*/
/*    transform: rotate(90deg);*/
/*}*/

.collapsible.active .collapsible-content {
    display: block;
}

/*-------------------------*/
.checkbox-warpper {
    display: flex;
    align-items: center;
}

.checkbox-warpper p {
    margin: 0px;
}

.checkbox-item {
    /*width: 100%;*/
}

.customradio {
    display: block;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    cursor: pointer;
}

.customradio input {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}

.customradio input:checked~.checkmark::after {
    background: #de181f;
}

.customradio .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1.5px solid #de181f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    margin-right: 6px;
    min-width: 19px;
}

.customradio .checkmark::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    background: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.customradio p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.customradio .checkmark-readonly {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1.5px solid #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    margin-right: 6px;
    min-width: 18px;
}

.customradio .checkmark-readonly::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    background: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.customradio input:checked~.checkmark-readonly::after {
    background: #727272;
}

.round-checkbox {
    display: flex;
    align-items: end;
}

.round-checkbox .customradio {
    margin-right: 10px;
    align-items: center;
}
.round-checkbox {
    display: flex;
    align-items: end;
}

.round-checkbox .customradio {
    margin-right: 10px;
    align-items: center;
}
/*-------------------------*/

.btn-confirm {
    background: linear-gradient(90.65deg, #EA553F 5.32%, #D32A30 97.84%);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    min-height: 50px;
    width: 100%;
    margin-top: 2.4rem;
    border-radius: 6px;
    border: none;
}


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.show .popup__card {
    opacity: 1;
    visibility: visible;
}

.popup__card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 100%;
    padding: 16px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.show .popupbg {
    opacity: 0.7;
    visibility: visible;
}

.popup .popupbg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 190;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
}

.body-frame {
    border: 1px solid #E6E6E6;
    padding: 16px 30px 16px 16px;
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6),
    linear-gradient(0deg, #EDEBEB, #EDEBEB);
    border-radius: 6px;
    margin-top: 12px;
}

.body-frame-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 8px;
}

.body-frame-content {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #727272;
    text-align: justify;
}
label {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem !important;
    font-weight: 600!important;
    color: rgba(114, 114, 114, 0.7);
}

.relation-select-wrapper .ant-select-selector {
    padding: 0px!important;
}

.relation-select-wrapper .ant-select-single .ant-select-selector .ant-select-selection-search {
    left: 0px!important;
}

.relation-select-wrapper .ant-select-arrow {
    right: 4px!important;
}

.btn-callback {
    color: #985801;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

.accept-policy-wrapper p {
    font-size: 12px;
    font-weight: 500;
    color: #727272;
    line-height: 20px!important;
    text-align: left!important;
}

.relate-po-policy-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #292929;
}