h1,
h2,
h3,
h4,
h5,
p,
a,
span,
button,
input,
ul,
li {
  font-family: $font-stack;
  color: $black-cl;
  font-weight: 500;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  @include mobile {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.8rem;
}

.closebtn {
  cursor: pointer;
}

// --------- Modifier -------------------------

.basic-underline {
  text-decoration: underline;
}

.--present-color {
  color: $present-head;
}

.basic-grey {
  color: $grey;
}

.basic-bottom-margin {
  margin-bottom: 12px;
}

.--back-white-mobile {
  background: $white-cl;
}

.basic-block {
  display: block;
}

.basic-none {
  display: none;
}
.--no-left {
  padding: 0px 0px 35px !important;
}
.basic-white {
  background-color: $white-cl;
}
.--widthcontract {
  max-width: 600px;
}

.basic-red {
  color: $red;
}
// page 5 to red p text
.semi-red {
  color: $red;
  font-weight: 600 !important;
}
.basic-red3 {
  color: $red;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
// page 5 to uppercase
.basic-text-upper {
  text-transform: uppercase;
}
//  page 10.2
.--faq-head {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.basic-black {
  color: $black-cl !important;
  font-weight: 600;
}
.basic-expand-margin {
  margin: 16px 0 12px;
}
.basic-expand-margin1 {
  margin: 0px 0 12px;
}

.basic-blacksecondary {
  color: $black-secondary;
}

.basic-uppercase {
  text-transform: uppercase;
}

.--presenthead-color {
  color: $present-head;
}

.simple-brown {
  color: $brown;
}
.simple-brown1 {
  color: $brown;
  font-weight: 500;
  font-size: 16px;
  line-height: 142.02%;
}
.simple-brown2 {
  color: $brown;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.simple-brown3 {
  color: $brown;
  font-weight: 600;
  font-size: 20px;
  line-height: 123.5%;
}

.basic-grey {
  color: $grey;
}

.basic-grey2 {
  color: $light-grey;
}

.basic-grey2 {
  color: $light-grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

.basic-bold {
  font-weight: 700;
}
.basic-black-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.basic-grey-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $grey;
}

.basic-semibold {
  font-weight: 600;
}

.basic-light {
  font-weight: 400;
}

.basic-displaynone {
  display: none;
}

.basic-mainflex {
  display: flex;
  @include tablet {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.--fullwidth {
  width: 100%;
}

.basic-text2 {
  font-size: 1.6rem;
}

.basic-textsmall {
  font-size: 1.2rem;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  color: $white-cl;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_item {
      max-width: 50%;
    }
  }

  &.btn-primary {
    padding: 16px;
    border-radius: 6px;
    background: $gradient;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.6rem;
      color: $white-cl;
    }
  }

  &.btn-primary1 {
    padding: 16px;
    border-radius: 6px;
    background: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.6rem;
      color: $white-cl;
    }
  }
  &.btn-secondary {
    padding: 16px;
    border-radius: 6px;
    background: $gradient;
    p {
      font-size: 1.6rem;
      color: $white-cl;
    }
  }
  &.disabled {
    background: $brown-disabled;
    cursor: auto;
  }
}

.social {
  width: 100%;
  border: 1px solid $superlight-border;
  border-radius: 6px;
  @include midflex;
  padding: 12px 0;
  background-color: $white-cl;
  i {
    width: 20px;
    height: 20px;
    overflow: hidden;
    @include midflex;
    margin-right: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  p {
    font-weight: 700;
  }
}

// ------------------- Quyen need checking ----------------------------------------------------

// ----- plus cirle -----
.plus-circle-container {
  margin-top: 2rem;
  padding-bottom: 2.3rem;
  // border-bottom: $dash-border;
  @include plus-cirle;
}
.plus-circle-container1 {
  margin-top: 1.5rem;
  padding-bottom: 2.5rem;
  @include plus-cirle;
}
.plus-circle-container2 {
  @include plus-cirle;
}
.question-container {
  .question-form {
    padding: 0;
    @include text-style($sd-text, $weight-font, 19px);
    margin-left: 5rem;
  }
  .round-checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.7rem;
    margin-left: 5rem;
    .radio-custom {
      opacity: 0;
      position: absolute;
    }

    .radio-custom,
    .radio-custom-label {
      display: inline-block;
      cursor: pointer;
      outline: none;
    }

    .radio-custom-label {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      margin-right: 100px;
    }

    .radio-custom + .radio-custom-label:before {
      content: "";
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      text-align: center;
    }

    .radio-custom + .radio-custom-label:before {
      border-radius: 50%;
      border: 1.5px solid #de181f;
    }

    .radio-custom:checked + .radio-custom-label:before {
      background: #de181f;
      box-shadow: inset 0px 0px 0px 4px #fff;
    }
  }
}

.circle-plus {
  background: $gradient;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include midflex;
}

.basic-expand-footer {
  margin-bottom: 64px;
}
// ----------- Yellow Tab ------------------------------

.yellow-tab {
  width: 100%;
  border-radius: 6px;
  background: $light-yellow;
  margin-top: 12px;
  padding: 12px;
  .wrapper {
    margin: -4px 0;
    .yellow-tab__item {
      padding: 4px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $brown;
        width: 60%;
        &:last-child {
          width: 40%;
          text-align: right;
        }
      }
    }

    @include mobile {
      .yellow-tab__item {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// ----------- Counter ----------------------

.counter {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // width: 60px;

  &__num {
    @include midflex;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 2px solid $light-border;
    margin: 0 10px;
    span {
      color: $red-secondary;
      font-weight: 600;
    }
  }

  &__btn {
    cursor: pointer;
    width: 22px;
    height: 22px;
    font-family: $font-stack;
    color: $red-secondary;
    border-radius: 50%;
    border: 2px solid $red-secondary;
    padding: 1px 2px;
    @include midflex;
    span {
      color: $red-secondary;
      font-size: 2rem;
    }

    &.disabled {
      border: 2px solid $brown-disabled;
      cursor: auto;
      span {
        color: $brown-disabled;
      }
    }
  }

  .plus {
    span {
      margin-top: -2px;
    }
  }
}

//  -------------- Switch button -----------

.button-switch {
  font-size: 1.5em;
  height: $height-check;
  margin-bottom: 10 / 16 * 1em;
  position: relative;
  width: $width;
  cursor: pointer;
  .lbl-off,
  .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    top: 8 / 16 * 1em;
    transition: opacity $transition-default;
    text-transform: uppercase;
  }

  .lbl-off {
    right: 9 / 16 * 1em;
  }

  .lbl-on {
    color: $color-white;
    opacity: 0;
    left: 7 / 16 * 1em;
  }

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 0;
    font-size: 1em;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: "";
      font-size: 1em;
      position: absolute;
    }

    &:before {
      border-radius: 20 / 16 * 1em;
      background: $grey;
      height: $height-check;
      left: 4 / 16 * -1em;
      top: 3 / 16 * -1em;
      transition: background-color $transition-default;
      width: $width;
    }

    &:after {
      box-shadow: 0 0.0625em 0.375em 0 #666;
      border-radius: 50%;
      background: $color-white;
      height: 24 / 16 * 1em;
      transform: translate(0, 0);
      transition: transform $transition-default;
      width: 24 / 16 * 1em;
    }

    &:checked {
      &:after {
        transform: translate(21 / 16 * 1em, 0);
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-orange {
      &:checked:before {
        background: $green;
      }
    }
  }
}

// --------------- Common Search Bar ------------------

// .common-searchbar {
//   width: 100%;
//   max-width: 972px;
//   display: flex;
//   justify-content: space-between;
//   .search-bar {
//     height: 48px;
//     border: 1px solid $border;
//     border-radius: 6px;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 16px 16px;

//     input {
//       width: 100%;
//       border: none;
//       font-size: 16px;
//       font-weight: 500;
//       line-height: 22px;
//       color: $light-grey;
//       &:focus {
//         outline: none;
//         color: $black-cl;
//       }
//       &.active {
//         color: $black-cl;
//       }
//     }
//   }
//   .filled {
//     .search-i {
//       display: block;
//     }
//     .close-i {
//       display: none;
//     }
//   }
//   .searchbtn {
//     width: 100%;
//     max-width: 175px;
//     background: $gradient;
//     border-radius: 7px;
//     margin-left: 24px;
//     button {
//       padding: 15px 51px;
//       @include midflex;
//       color: $white;
//     }
//   }
//   @include mobile {
//     .searchbtn {
//       display: none;
//     }
//   }
// }

.common-searchbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .search-bar {
    width: 100%;
    margin-right: 24px;
    position: relative;
    .input {
      min-height: 48px;
      &:focus-within {
        border: 1px solid #e6e6e6;
      }
      .close-autocomplete {
        display: none;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }
    }
    .searchbar-autocomplete {
      display: none;
      margin-top: 8px;
      position: absolute;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 15;
      .searchbar-autocomplete-tab {
        padding: 20px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $superlight-border;
        cursor: pointer;
        p {
          width: 90%;
          font-size: 1.6rem;
          line-height: 20px;
          span {
            font-size: 1.6rem;
          }
        }
        .icon-arrow-right {
          width: 14px;
          height: 14px;
          @include midflex;
          transform: rotate(-90deg);
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &.filled {
      .input {
        .icon {
          display: none;
        }
        .close-autocomplete {
          display: block;
        }
      }

      .searchbar-autocomplete {
        display: block;
      }
    }
  }
  .searchbtn {
    width: 175px;
    padding: 14px 16px;
    @include midflex;
  }

  @include mobile {
    .searchbtn {
      display: none;
    }
  }
}
