<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12 p-0">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<div class="table-responsive">			
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th class="u_t_title">ID</th>
							<th class="u_t_title" th:text="#{serial.info.template}">Mẫu</th>
							<th class="u_t_title" th:text="#{serial.info.date.format}">Định dạng ngày</th>
							<th class="u_t_title" th:text="#{serial.info.number.format}">Định dạng số</th>
							<th class="u_t_title" th:text="#{serial.info.start.number}">Số bắt đầu</th>
							<th class="u_t_title" th:text="#{serial.info.increase.number}">Tăng</th>
							<th class="u_t_title" th:text="#{serial.info.effected.date}">Ngày hiệu lực</th>
							<th class="u_t_title" th:text="#{serial.info.expired.date}">Ngày hết hạn</th>
							<th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="serialInfoDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-serial-info-id=${serialInfoDto.serialInfoId}">						
							<td class="text-center" th:text="${i.index + startIndex}" ></td>
							<td class="td-action">
								<div class="align-left">
									<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" ></a>
		                            <a class="glyphicon glyphicon-edit custom-icon j-btn-edit" ></a>	                            
	                            	<a class="glyphicon glyphicon-remove-sign font-size-20 red j-serial-info-delete" 
	                            	th:if="${#authorization.expression('hasAuthority(@roleConstant.SERIAL_INFO)')}"></a>
	                            </div>	
	                        </td>                            
							<td th:text="${serialInfoDto.serialInfoId}"></td>
							<td th:text="${serialInfoDto.template}"></td>
		                    <td th:text="${serialInfoDto.dateFormatName}"></td>
		                    <td th:text="${serialInfoDto.numberFormat}"></td>
		                    <td th:text="${serialInfoDto.startNumber}"></td>
		                    <td th:text="${serialInfoDto.increaseNumber}"></td>
		                    <td class="text-center" th:text="${serialInfoDto.effectedDate }? ${#dates.format(serialInfoDto.effectedDate, @menuConfig.getFormDate())}"></td>
		                    <td class="text-center" th:text="${serialInfoDto.expiredDate }? ${#dates.format(serialInfoDto.expiredDate, @menuConfig.getFormDate())}"></td>
		                    <td class="text-center" th:text="${serialInfoDto.createdDate }? ${#dates.format(serialInfoDto.createdDate, @menuConfig.getFormDate())}"></td>
						</tr>
						</th:block>																												
					</tbody>					
				</table>								
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/serial-info/serial-info-list.js}"></script>
	</body>
</html>
