<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>	
	<body th:fragment="content">
		<div class="row m-0">
			<div class="header-box">
				<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			</div>
			<div class="table-responsive">			
				<table class="table table-bordered table-striped cursor-tr">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th class="u_t_code" th:text="#{email.status}">Status Email</th>
							<th class="u_t_date" th:text="#{email.send.date}">Ngày tạo</th>	
							<th class="u_t_title" th:text="#{email.receive.address}">receiveR address</th>
							<th th:text="#{email.subject}">Subject</th>		
							<th th:text="#{email.content}">Content</th>		
							<th th:text="#{email.attach}">Attach File Name</th>														
						</tr>
					</thead>
					<tbody>
						<th:block th:each="emailDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-email-id=${emailDto.id}" th:ondblclick="'callModal(\'' + ${emailDto.id} + '\', this);'" >
		              		<td th:text="${i.index + startIndex}" class="text-center"></td>
		              		<td class="td-btn-width">
		              			<th:block th:if="${emailDto.sendStatus != 'Saved'}">
			              			<button type="button" class="btn-common resend" th:onclick="'reSend(\'' + ${emailDto.id} + '\', this);'">
										<i class="fa fa-paper-plane" aria-hidden="true" >
										</i>
										<span th:text="#{email.button.resend.mail}"></span>
									</button>
									<input type="checkbox" /><i class="fa fa-exclamation" style="color:red;" aria-hidden="true"></i>
								</th:block>
								<th:block th:if="${emailDto.sendStatus == 'Saved'}">
									<button type="button" class="btn-common" th:onclick="'cancel(\'' + ${emailDto.id} + '\');'">
										<i class="fa fa-paper-plane" aria-hidden="true"></i> Cancel
									</button>
								</th:block>
	                        </td> 
		              		<!-- <td th:text="${emailDto.sendStatus} + ${T(vn.com.unit.core.enumdef.EmailStatusEnum).resolveByValue(emailDto.sendStatus).getText()}" style="text-transform: uppercase;"></td> -->
		              		<td th:text="${emailDto.sendStatus}" style="text-transform: uppercase;"></td>
		              		<td class="text-center" th:text="${emailDto.sendDate }? ${#dates.format(emailDto.sendDate, @menuConfig.getFormDate()+' HH:mm:ss')}"></td>
		              		<td th:text="${emailDto.toString}"></td>
		              		<td th:text="${emailDto.subject }"></td>
		                    <td><span class="cut-text" th:text="${emailDto.emailContent }"></span></td>
		                    <td><span class="cut-text">
			                    	<th:block th:each="attach : ${emailDto.attachFile}">
			                    		<i class="fa fa-paperclip fa-lg" aria-hidden="true" ></i> 
			                    		<span th:text="${attach.fileName}"></span>&nbsp;&nbsp;
			                    	</th:block>
		                    	</span>
		                    </td>
						</tr>
						</th:block>																												
					</tbody>					
				</table>							
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/email/email-table.js}"></script>
		
	</body>
</html>
