<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<head>
    <script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}"/>
    <script>
    	var arrange = true;
    </script>
</head>
<body>
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<i class="fa fa-table"></i>
					<span th:text="#{calendar.type.list.page.name}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-primary" id="btnCreate">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>	
	</div>

    <div id="frmSearch">
        <div id="error-message"></div>
        <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
        <th:block th:include="views/calendar-type/calendar-type-search.html :: content" />
    </div>
    <div class="bg-content-tbl" id="tableList">
        <th:block th:include="views/calendar-type/calendar-type-table.html :: content" />
    </div>
		<input type="hidden"id="urlSearch"/>

    <script type="text/javascript" th:src="@{/static/cache/js/calendar-type/calendar-type-list.js}"></script>
    
    <script type="text/javascript" th:inline="text">
        var SEARCH_PLACEHOLDER = '[[#{search.key}]]';
       	//$('#sName, #sWorkingHours, #sDescription').trigger('click');
       	
       	/* if($("#sName").val()== 1){
       		$('#sName').trigger('click');
       	} */
    	   
		$('.code, .description, .nameCalendar').hide();
		// show/hide input search
		cbShowHideInput('#searchCode', '.code');
		cbShowHideInput('#searchName', '.nameCalendar');
		cbShowHideInput('#searchDescription', '.description');
		
		function cbShowHideInput(nameId, nameClass) {
			$(nameId).on('change', function() {
				if ($(this).is(':checked')) {
					$(nameClass).show();
				} else {
					$(nameClass).hide();
				}
			});
		}
		
		//close input
		closeInput('#searchCodeHide', '.code', '#searchCode', '#code');
		closeInput('#searchDesHide', '.description', '#searchDescription', '#description');
		closeInput('#searchNameHide', '.nameCalendar', '#searchName', '#name');
		function closeInput(idHide, nameClass, idClick, input) {
			$(idHide).on('click', function() {
				$(nameClass).hide();
				$(input).val('');
				$(idClick).trigger('click');
			});
		}
		
		// disabled Input Search
		disabledInputSearch('#cbCode', '#code');
		disabledInputSearch('#cbName', '#name');
		disabledInputSearch('#cbDes', '#description');
		function disabledInputSearch(nameId, nameIdDisable) {
			$(nameId).on('change', function() {
				if ($(this).is(':checked')) {
					$(nameIdDisable).attr('disabled', false);
				} else {
					$(nameIdDisable).attr('disabled', true);
				}
			});
		}
    </script>
    
</body>
</html>