<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<!-- Start table fix-->		
<div class="col-sm-12 p-0">
<!-- <style>
	.dropdown-menu{
    height: 140px;
    overflow: scroll;
    overflow-x: hidden;
	}
</style> -->
		<div class="header-box">
			<div class="row">
				<div class="col-xs-5">
					<h2 class="title-box m-1" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
				</div>
				<div class="col-xs-7">
					<div class="align-right">
				
						<!-- <button id="btnOrder" type="button" class="btn-common">
							<span>Sort</span>
						</button> -->
						<!--  
						<button id="btnSaveHidden" type="button" class="btn-ico">
							<img th:src="@{/static/images/icon-save-blue.png}" alt="" width="20px"/>
						</button> -->
						<div class="button-group drop-setting">
							<button type="button" class="btn-ico dropdown-toggle" data-toggle="dropdown">
								<img th:src="@{/static/images/icon-cog.png}" alt="" width="18px"/>
							</button>
							<ul class="dropdown-menu sort">
								 <th:block th:each="orderColumn : ${order}">
									<li th:if="${orderColumn} == 'companyName'"><a class="small"><input type="checkbox" checked="checked" disabled="disabled" th:attr="data-name='companyName'" value="hide" th:text="#{company.detail}"></a></li>
									<li th:if="${orderColumn} == 'code'"><a class="small"><input type="checkbox" checked="checked" disabled="disabled" th:attr="data-name='code'" value="hide" th:text="#{Calendar.code}"></a></li>
									<li th:if="${orderColumn} == 'name'"><a class="small"><input type="checkbox" id="sName" th:checked="${sName} == '1'" th:attr="data-name='name'" onchange="hide_show_table(this.id);" th:text="#{Calendar.name}"></a></li>
									<li th:if="${orderColumn} == 'workingHours'"><a class="small"><input type="checkbox" id="sWorkingHours" th:checked="${sWorkingHours} == '1' " th:attr="data-name='workingHours'" onchange="hide_show_table(this.id);" th:text="#{calendar.type.working.hours}"></a></li>
									<li th:if="${orderColumn} == 'description'"><a class="small"><input type="checkbox" id="sDescription" th:checked="${sDescription} == '1'" th:attr="data-name='description'" onchange="hide_show_table(this.id);" th:text="#{Calendar.description}"></a></li>	
								</th:block>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
<div class="table-responsive" id="idDivTable">
	<table id="tb-sort-list" class="table table-bordered table-striped">
      <thead>
          <tr>
              <th class="u_t_no">#</th>
              <th class="u_t_action" th:text="#{action.label}">Thao tác</th>
              <th:block th:each="orderColumn : ${order}">
              <th th:if="${orderColumn} == 'companyName'">
                <span th:text="#{company.detail}">Company</span>
                <i id="sortCompany" class="fa fa-sort companyName" aria-hidden="true" th:attr="data-name='companyName'"></i>
              </th>
              <th class="u_t_name" th:if="${orderColumn} == 'code'">
                <span th:text="#{calendar.type.code}">Code Calendar</span>
                <i id="sortCode" class="fa fa-sort code" aria-hidden="true" th:attr="data-name='code'"></i>
              </th>
              <th class="u_t_name" th:if="${orderColumn} == 'name'" id="sName_head">
                <span th:text="#{calendar.type.name}">Name Calendar</span>
                <i id="sortCalendar" class="fa fa-sort name" aria-hidden="true" th:attr="data-name='name'"></i>
              </th>
              <th class="u_t_name" th:if="${orderColumn} == 'workingHours'" id="sWorkingHours_head">
                <span th:text="#{calendar.working.hours}">Working hours</span>
                <i id="sortWorking" class="fa fa-sort workingHours" aria-hidden="true" th:attr="data-name='workingHours'"></i>
              </th>
              <th th:if="${orderColumn} == 'description'" id="sDescription_head">
                <span th:text="#{calendar.type.description}">Mô tả</span>
                <i id="sortDescription" class="fa fa-sort description" aria-hidden="true" th:attr="data-name='description'"></i>
              </th>
              </th:block>
              <!-- <th>
                <span th:text="#{company.detail}">Company</span>
                <i id="sortCompany" class="fa fa-sort companyName" aria-hidden="true" th:attr="data-name='companyName'"></i>
              </th>
              <th class="u_t_code">
                <span th:text="#{calendar.type.code}">Code Calendar</span>
                <i id="sortCode" class="fa fa-sort code" aria-hidden="true" th:attr="data-name='code'"></i>
              </th>
              <th class="u_t_name">
                <span th:text="#{calendar.type.name}">Name Calendar</span>
                <i id="sortCalendar" class="fa fa-sort name" aria-hidden="true" th:attr="data-name='name'"></i>
              </th>
              <th class="u_t_name">
                <span th:text="#{calendar.working.hours}">Working hours</span>
                <i id="sortWorking" class="fa fa-sort workingHours" aria-hidden="true" th:attr="data-name='workingHours'"></i>
              </th>
              <th>
                <span th:text="#{calendar.type.description}">Mô tả</span>
                <i id="sortDescription" class="fa fa-sort description" aria-hidden="true" th:attr="data-name='description'"></i>
              </th> -->
              <!-- <th th:text="#{calendar.type.display.order}">Số luong </th> -->
          </tr>
      </thead>
      <tbody>
      	<th:block th:if="${pageWrapper.data.size() > 0}">
          <th:block th:each="item,i : ${pageWrapper.data}" th:with="startIndex=1">
                 <tr th:attr="data-dto-id=${item.id}">
                     <td class="text-center" th:text="${i.index + startIndex}"></td>
                     <td class="td-action text-center nowrap">                   
                    <div>
                        <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                      <a class="glyphicon glyphicon-eye-open custom-icon btn-detail"></a>
                      <a class="glyphicon glyphicon-edit custom-icon j-btn-edit btn-edit" th:attr="data-id=${item.id}" 
                      th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE)') and ((item.companyName != null and item.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
                      <a class="glyphicon glyphicon-remove-sign font-size-20 red  j-btn-delete btn-delete" th:attr="data-id=${item.id}"
                      th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE)') and ((item.companyName != null and item.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
                    </div>
                    
                     </td>
                     <th:block th:each="orderColumn : ${order}">
                     <td th:if="${orderColumn} == 'companyName'" th:text="${item.companyName} !='' and ${item.companyName} != null ? ${item.companyName}: #{company.all}"></td>
					 <td th:if="${orderColumn} == 'code'" th:text="${item.code}"></td>
                     <td th:if="${orderColumn} == 'name'" th:text="${item.name}" class="sName"></td>
                     <td th:if="${orderColumn} == 'workingHours'" th:text="${item.workingHours}" class="sWorkingHours"></td>
                     <td th:if="${orderColumn} == 'description'" th:text="${item.description}" class="sDescription"></td>
                     </th:block>
					             
					 <!-- <td class="text-center" th:text="${item.displayOrder == null? '' : #numbers.formatDecimal(item.displayOrder, 0, 'COMMA', 0, 'POINT')}"></td> -->           
                 </tr>
             </th:block>
           </th:block>
           <th:block th:if="${pageWrapper.data.size() == 0}">
              <tr>
                  <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
              </tr>
          </th:block>
      </tbody>
  </table>
	
</div>
<input type="hidden" name="id" id="id"/>
</div>
<th:block th:include="views/commons/pagination.html :: content"/>

<script type="text/javascript" th:src="@{/static/cache/js/calendar-type/calendar-type-table.js}"></script>

</body>
</html>

