.avatar_medium {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: rgba(242,222,202,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_medium img {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.avatar_medium .text {
    font-size: 2.4rem;
    color: #985801;
}


.avatar_small {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: rgba(242,222,202,0.6);
    display: flex;
    align-items: center;
    justify-content: center;

}

.hc-card {
    background-color: #f3e6da;
    font-weight: 700;
    color: #985801;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    line-height: 20px;
    width: 190px;
}

