<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:fragment="body">
	
	<body th:fragment="content">
		<div class="row m-0">
            <div class="header-box">
            	<div class="row">
	            	<div class="col-md-7">
		    			<h5 class="title-box">
		    				<span th:text="#{search.results.title}">Kết quả tìm kiếm</span> 
		    			</h5>
		    		</div>
		    	</div>
            </div>
            
			<div class="table-search-result">
				<div class="table-responsive" id="idDivTable">			
					<table class="table table-bordered table-striped" id="logTreeGrid">
	                    <thead>
	                        <tr>
	                            <th class="u_t_no">#</th>
	                             <th class="u_t_title" th:text="#{log.username}"></th>
	                            <th class="u_t_title" th:text="#{log.endpoint}"></th>
	                            <th class="u_t_title" th:text="#{log.method}"></th>
	                            <th class="u_t_title" th:text="#{log.createdDate}"></th>
	                            <th class="u_t_title" th:text="#{log.clientIp}"></th>
	                            <th class="u_t_title" th:text="#{log.status}"></th>
	                            <th class="u_t_title" th:text="#{log.message}"></th>
	                            <th class="u_t_title" th:text="#{log.exception}"></th>
	                            <th class="u_t_title" th:text="#{log.store}"></th>
	                            <th class="u_t_title" th:text="#{log.param}"></th>
	                            <th class="u_t_title" th:text="#{log.total_db_action_time}"></th>
	                            <th class="u_t_title" th:text="#{log.total_action_time}"></th>
	                            <th class="u_t_title" th:text="#{log.requestJson}"></th>
	                            <th class="u_t_title" th:text="#{log.responseJson}"></th>
	                            <th class="u_t_title" th:text="#{log.device}"></th>
	                        </tr>
	                    </thead>
	                    <tbody>
						<th:block th:each="logApiDto,i : ${pageWrapper.data}"
							th:with="startIndex=1">
							<tr th:attr="data-row-id=${logApiDto.id}, data-request-json=${logApiDto.requestJson}, data-response-json=${logApiDto.responseJson}">
								<td class="text-center" th:text="${i.index + startIndex}"></td>
								<td class="text-center" th:text="${logApiDto.username}"></td>
								<td th:text="${logApiDto.endpoint}"></td>
								<td th:text="${logApiDto.method}"></td>
								<td class="text-center"
									th:text="${logApiDto.createdDay }? ${#dates.format(logApiDto.createdDay, 'dd/MM/yyyy HH:mm:ss')}"></td>
								<td th:text="${logApiDto.clientIp}"></td>
								<td class="text-center" th:text="${logApiDto.status}"></td>
								<td th:text="${logApiDto.message != null ? logApiDto.message : ''}"></td>
								<td th:text="${logApiDto.exception != null ? logApiDto.exception : ''}"></td>
								<td th:text="${logApiDto.storeName != null ? logApiDto.storeName : ''}"></td>
								<td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap" 
									th:text="${logApiDto.param != null ? logApiDto.param : ''}"></td>
								<td class="text-center" th:text="${logApiDto.tatDb != null ? logApiDto.tatDb : ''}"></td>
								<td class="text-center" th:text= "${logApiDto.tatms}"></td>
								<td class = "td-btn-width">
									<th:block th:if="${logApiDto.requestJson != null && logApiDto.requestJson !=''}">
										<button type="button" class="bth-common"  th:onclick="downloadJson(this.closest('tr').getAttribute('data-request-json'), 'request-json')">Download</button>
									</th:block>
									<th:block th:if="${logApiDto.requestJson == null || logApiDto.requestJson ==''}">
										<span class="text-center">Null</span>
									</th:block>
								</td>
								<td class = "td-btn-width">
									<th:block th:if="${logApiDto.responseJson != null && logApiDto.responseJson !=''}">
										<button type="button" class="bth-common"  th:onclick="downloadJson(this.closest('tr').getAttribute('data-response-json'), 'response-json')">Download</button>
									</th:block>
									<th:block th:if="${logApiDto.responseJson == null || logApiDto.responseJson ==''}">
										<span class="text-center">Null</span>
									</th:block>
								</td>
								<td class="text-center" th:text="${logApiDto.device}"></td>
							</tr>
						</th:block>
						<th:block th:if="${pageWrapper.data.size() == 0}">
				              <tr>
				                  <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
				              </tr>
				          </th:block>         
	                    </tbody>
	                </table>				
				</div>			
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/log/log-table.js}"></script>
	</body>
</html>
