<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="row m-0">
			<div class="header-box"> 
				<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			</div>
			<div class="table-responsive">			
				<table class="table table-bordered table-striped cursor-tr">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th th:text="#{company.detail}" th:if="${#authentication?.principal?.companyAdmin or #authentication?.principal?.companyIdList.size()>1}">Company</th>
							<th class="u_t_code" th:text="#{email.template.code}">Code</th>
							<th class="u_t_code" th:text="#{email.template.name.file}">File Name</th>
							<th class="u_t_code" th:text="#{email.template.subject}">Subject</th>
							<!-- <th class="u_t_code" th:text="#{email.template.name}">Template name</th> -->
							<!-- <th class="u_t_date" th:text="#{email.template.format}">File format</th> -->	
							<th class="u_t_title" th:text="#{email.template.create.date}">Create date</th>
							<th th:text="#{email.template.create}">Create By</th>
                               <th class="u_t_title" th:text="#{document.history.updated.date}">Update date</th>
                               <th th:text="#{document.history.updated.by}">Update By</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="templateDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-template-id=${templateDto.id}">
		              		<td th:text="${i.index + startIndex}" class="text-center" ></td>
		              		<td class="td-action">
								<div class="align-center">
	                            	<a class="j-btn-detail glyphicon glyphicon-eye-open custom-icon"
	                            	    th:onclick="'detailTemplate(\'' + ${templateDto.id} + '\');'"></a>
			                        
                                       <a class="j-btn-edit glyphicon glyphicon-edit custom-icon"
			                            th:if="${#authorization.expression('hasAuthority(@roleConstant.EMAIL_TEMPLATE)') and ((templateDto.companyName != null and templateDto.companyName!='') or #authentication?.principal?.companyAdmin)}"
			                            th:onclick="'editTemplate(\'' + ${templateDto.id} + '\');'"></a>
			                        
                                       <a class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red" 
			                            th:if="${templateDto.createdBy} !='app_system' and ${#authorization.expression('hasAuthority(@roleConstant.EMAIL_TEMPLATE)') and ((templateDto.companyName != null and templateDto.companyName!='') or #authentication?.principal?.companyAdmin)}"
			                            th:onclick="'deleteTemplate(\'' + ${templateDto.id} + '\');'"></a>
                            	</div>	
	                        </td>
	                        <td th:if="${#authentication?.principal?.companyAdmin or #authentication?.principal?.companyIdList.size()>1}"
								th:text="${templateDto.companyName} !='' and ${templateDto.companyName} != null ? ${templateDto.companyName}: #{company.all}"></td>   
	                        
                               <td th:text="${templateDto.code}"></td>
	                        <td th:text="${templateDto.name}" class="file-name"></td>
	                        <td th:text="${templateDto.templateSubject}" class="subject"></td>

		              		<td class="text-center" th:text="${templateDto.createdDate} ? ${#dates.format(templateDto.createdDate, @menuConfig.getFormDate())}"></td>
		              		<td th:text="${templateDto.createdBy}"></td>
                               
                               <td class="text-center" th:text="${templateDto.updatedDate} ? ${#dates.format(templateDto.updatedDate, @menuConfig.getFormDate())}"></td>
                               <td th:text="${templateDto.updatedBy}"></td>
						</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
	</body>
	<script type="text/javascript" th:src="@{/static/js/template-email/template-email-table.js}"></script>
</html>
