.faq-dropdown-content li li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5 px;
  width: 5 px;
  height: 5 px;
  border-radius: 0%;
  background: #985801;
}
.faq-dropdown-content li ul {
  margin-top: 10px;
}
.faq-dropdown-content a {
  color: #985801;
  display: inline-block;
}
.faq-dropdown-content a:hover {
  color: blue;
  text-decoration: underline;
}
.faq-dropdown-content strong {
  font-weight: bold;
}
