<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<form class="form-horizontal u-for-page-top j-form-validate" role="form" id="step-form" method="POST" autocomplete="off" th:object="${stepDto}" th:action="@{/}">
    <div class="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="step-modal-label" th:text="#{jpm.process.step.information}">Step Information</h2>
        </div>
        <div class="modal-body">

            <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{processId}"/>
            <input type="hidden" th:field="*{stepType}"/>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{stepNo}" class="col-md-3 required" th:text="#{jpm.process.step.step.no}"></label>
                        <div class="col-md-9">
                            <input type="number" class="form-control j-maxlength j-required j-code" th:field="*{stepNo}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{code}" class="col-md-3 required" th:text="#{jpm.process.step.code}"></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{code}" disabled="true"/>
                            <input type="hidden" th:field="*{code}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{name}" class="col-md-3 required" th:text="#{jpm.process.step.name}"></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control j-maxlength j-required" th:field="*{name}" />
                        </div>
                    </div>
                </div>
            </div>
            
             <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{stepKind}" class="col-md-3" th:text="#{jpm.process.step.kind}"></label>
                        <div class="col-md-9">
                            <select class="form-control" th:field="*{stepKind}">
                                <option th:each="_item : ${stepKindList}" 
                                	th:value="${_item.id}" 
                                	th:text="#{${_item.name}}"
                                        ></option>
                            </select>
                            <input type="hidden" th:field="*{statusId}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{statusId}" class="col-md-3" th:text="#{jpm.process.step.status}"></label>
                        <div class="col-md-9">
                            <select class="form-control" th:field="*{statusId}" th:disabled="${isFreeProcess}">
                                <option th:each="status : ${statusList}" th:value="${status.id}" th:text="${status.statusName}"
                                        th:selected="${status.id == stepDto.statusId}"></option>
                            </select>
                            <input type="hidden" th:field="*{statusId}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label th:for="*{commonStatusCode}" class="col-md-3 required" th:text="#{jpm.process.step.status.common}"></label>
                        <div class="col-md-9">
                            <select class="form-control j-required" th:field="*{commonStatusCode}">
                                <option value=""></option>
                                <option th:each="status : ${statusCommons}" th:value="${status.id}" th:text="${status.text}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           <!--  <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label th:for="*{authorityComment}" class="col-md-3" th:text="#{jpm.process.step.authority.comment}"></label>
                        <div class="col-md-9">
                            <input type="checkbox" th:field="*{authorityComment}" />
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9 gr-tab">
                            <ul class="nav nav-tabs" id="tabButtonLanguage">
                                <th:block th:each="language, i : ${languageList}">
                                    <li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabButtonLanguage + ${i.index}">
                                        <a th:href="'#languageStep-' + ${language.code}" th:text="${language.name}" data-toggle="tab" aria-expanded="true"></a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" style="margin-top: 10px">
                <th:block th:each="language, i : ${stepDto.listJpmStepLang}" th:with="index=${i.index}">
                    <div th:id="'languageStep-' + ${language.langCode}" class="tab-pane fade " th:classappend="${language.langCode == languageList[0].code}  ? 'in active' : ''">
                        <input th:type="hidden" th:field="*{listJpmStepLang[__${index}__].langId}" />
                        <input th:type="hidden" th:field="*{listJpmStepLang[__${index}__].langCode}" />
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <div class="form-group">
                                    <label th:for="*{listJpmStepLang[__${index}__].stepName}" class="col-md-3 required" th:text="#{jpm.process.step.name.lang}"></label>
                                    <div class="col-md-9">
                                        <input th:field="*{listJpmStepLang[__${index}__].stepName}" type="text" class="form-control j-maxlength j-required" data-rule-maxlength="255" maxlength="255"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
			<div th:if="*{stepType == 'NORMAL_STEP'}">
	            <div class="row" style="margin-top: 10px">
	                <div class="col-md-12  p-0">
	                    <div class="form-group">
	                        <label class="col-md-3" th:text="#{jpm.process.step.button}"></label>
	                    </div>
	                </div>
	            </div>
	           <div class="bg-content-tbl">
	           		<div class="row m-0">
	           			<div class="header-box align-right">
	           				<button type="button" class="btn-ico btn-in-table " id="btn-add-button-for-step">
	                            <img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="15px"/>
	                        </button>
	           			</div>
			            <div class="table-responsive">
			                <table id="child-data-button" class="table table-bordered table-striped table-hover">
			                    <thead>
			                        <tr>
			                            <th class="no">#</th>
			                            <th th:text="#{jpm.process.step.button}">Button</th>
			                            <th th:text="#{jpm.process.step.save.data}">Save data?</th>
			                            <th th:text="#{jpm.process.step.save.eform}">Save eform?</th>
			            				<th th:text="#{jpm.process.step.is.authenticate}">is authenticate</th>
			            				<th th:text="#{jpm.process.step.display.history.approve}">DISPLAY_HISTORY_APPROVE</th>
			            				<th th:text="#{jpm.process.step.is.export.pdf}">is export PFD</th>
			            				<th th:text="#{jpm.process.step.is.sign}">is Sign</th>
			            				<th th:text="#{jpm.process.step.field.sign}">is Sign</th>
							           <!--  <th th:text="#{jpm.process.step.sign.type}">Sign Type</th>
							            <th th:text="#{jpm.process.step.sign.position}">Sign Position</th> -->
			                            <th th:text="#{jpm.process.function}">Function</th>
			                            <th class="u_t_action" th:text="#{action.label}">Action</th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <!--[ADD OPTION FOR STEP] HIDDEN ROW (CLICK ADD)-->
			                        <tr id="row-button-hidden" class="db-click" th:attr="child-data-jpm-button-id=0" style="display: none">
			                            <td class="text-center"></td>
			                            <td>
			                            <div class="auto-width-important">
			                                <select class="form-control auto-width-important">
			                                    <option th:each="button,i : ${buttonList}" th:value="${button.id}" th:text="${button.text}"
			                                            th:selected="${i.index == 0}"></option>
			                                </select>
			                                </div>
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value=""/>
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value=""/>
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value=""/>
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value="" checked="checked"/>
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value="" class="isExportPdfClass" />
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value="" class="isSignClass" />
			                            </td>
			                            <td class="text-center">
			                                <input type="checkbox" data-value=""/>
			                            </td>
		                            	<!-- <td class="">
				                            <select class="form-control auto-width-important">
				                            	<option value=""></option>
				                                <th:block
				                                    th:each="item: ${T(vn.com.unit.activiti.enumdef.SignTypeEnum).values()}">
				                                    <th:block>
				                                        <option th:value="${item.getValue()}"
				                                            th:text="#{${item.name}}"></option>
				                                    </th:block>
				                                </th:block>
				                            </select>
				                        </td> 
						        		<td class="text-center">
						        			<div class="input-group">
								        			<input class="form-control auto-width-important" type="text"/>
								        			<a class="btn-show-sign-type-chooser input-group-addon" data-toggle="modal" data-target="#sign-type-chooser" ><i class="glyphicon glyphicon-edit custom-icon"></i></a>
								        		</div>
						        		</td> -->
			                            <td>
			                            	<div class="auto-width-important">
				                                <select class="form-control auto-width-important">
				                                    <option th:each="function,i : ${functionList}" th:value="${function.id}" th:text="${function.name}"
				                                            th:selected="${i.index == 0}"></option>
				                                </select>
			                                </div>
			                            </td>
			                            <td class="text-center">
			                                <div class="btn-group">
			                                    <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a>
			                                </div>
			                            </td>
			                        </tr>
			                        <th:block th:if="${stepDto.listJpmButton != null}" th:each="_item,i : ${stepDto.listJpmButton}" th:with="index=${i.index}">
			                            <tr class="db-click" th:attr="child-data-jpm-button-id=${_item.id}">
			                                <input type="hidden" th:field="*{listJpmButton[__${index}__].isDeleted}" />
			                                <input type="hidden" th:field="*{listJpmButton[__${index}__].id}" />
			                                <td class="text-center" th:text="${index + 1 }"></td>
											<td>
												<select class="form-control auto-width-important"
													th:field="*{listJpmButton[__${index}__].buttonId}">
													<option th:each="button : ${buttonList}"
														th:value="${button.id}" th:text="${button.text}"
														th:selected="${button.id == stepDto.listJpmButton[index].buttonId}"></option>
												</select>
											</td>
											<td class="text-center">
			                                    <input type="checkbox" data-value="" th:name="listJpmButton[__${index}__].isSave" th:checked="*{listJpmButton[__${index}__].isSave}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" th:name="listJpmButton[__${index}__].isSaveEform" th:checked="*{listJpmButton[__${index}__].isSaveEform}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" th:name="listJpmButton[__${index}__].isAuthenticate" th:checked="*{listJpmButton[__${index}__].isAuthenticate}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" th:name="listJpmButton[__${index}__].displayHistoryApprove" th:checked="*{listJpmButton[__${index}__].displayHistoryApprove}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" class="isExportPdfClass" th:name="listJpmButton[__${index}__].isExportPdf"  th:checked="*{listJpmButton[__${index}__].isExportPdf}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" class="isSignClass" th:name="listJpmButton[__${index}__].isSign" th:checked="*{listJpmButton[__${index}__].isSign}" />
			                                </td>
			                                <td class="text-center">
			                                    <input type="checkbox" data-value="" th:name="listJpmButton[__${index}__].fieldSign" th:checked="*{listJpmButton[__${index}__].fieldSign}" />
			                                </td>
			                                <!-- <td class="">
				                            <select class="form-control auto-width-important" th:field="*{listJpmButton[__${index}__].signType}">
				                            	<option value=""></option>
				                                <th:block
				                                    th:each="item: ${T(vn.com.unit.activiti.enumdef.SignTypeEnum).values()}">
				                                    <th:block>
				                                        <option th:value="${item.getValue()}"
				                                            th:text="#{${item.name}}"></option>
				                                    </th:block>
				                                </th:block>
				                            </select>
					                        </td> 
							        		<td class="text-center" >
							        			<div class="input-group">
								        			<input class="form-control auto-width-important" type="text" th:field="*{listJpmButton[__${index}__].signPosition}"/>
								        			<a class="btn-show-sign-type-chooser input-group-addon" data-toggle="modal" data-target="#sign-type-chooser" ><i class="glyphicon glyphicon-edit custom-icon"></i></a>
								        		</div>
							        		</td> -->
			                                <td>
			                                    <select class="form-control auto-width-important" th:field="*{listJpmButton[__${index}__].functionId}">
			                                        <option th:each="function,i : ${functionList}" th:value="${function.id}" th:text="${function.name}"
			                                                th:selected="${i.index == 0}"></option>
			                                    </select>
			                                </td>
			                                <td class="text-center">
			                                    <div class="btn-group">
			                                        <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a>
			                                    </div>
			                                </td>
			                            </tr>
			                        </th:block>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			   	</div>
		     </div>
        </div>
    </div>
    <div class="modal-footer">
         <a href="#" class="u-btn u-btn-back" data-dismiss="modal">
         	<img th:src="@{/static/images/ico-close.png}" alt="" width="11px">
            <span  th:text="#{close.button}"></span>
         </a>
        <button id="btn-step-submit" class="u-btn u-btn-primary btn-in-tablet" type="button">
        	<img th:src="@{/static/images/icon-save.png}" alt="" width="19px">
            <span th:text="#{save.button}"></span>
        </button>
        <!--                <a href="#" class="btn btn-common btn-in-tablet" data-dismiss="modal" th:text="#{save.button}">Save</a>-->
    </div>
</form>
<div id="sign-type-chooser" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: auto!important;max-width: max-content!important;">

    <!-- Modal content-->
    <div class="modal-content">
      	<div class="modal-body">
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="30" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="29" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="28" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="27" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="26" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="25" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="24" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="23" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="22" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="21" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="20" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="19" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="18" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="17" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="16" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="15" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="14" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="13" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="12" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="11" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="10" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="9" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="8" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="7" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="6" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="5" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="4" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	<div class="form-inline"> &emsp; &emsp;
	        	<input type="checkbox" data-value="3" class="sign-type-input"/> &emsp; &emsp;
	        	<input type="checkbox" data-value="2" class="sign-type-input"/> &emsp; &emsp;
        		<input type="checkbox" data-value="1" class="sign-type-input"/> &emsp; &emsp;
        	</div>
        	
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" th:src="@{/static/cache/js/jpm-process/jpm-process-modal.js}"></script>
</body>
</html>