<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
	<div class="row m-0">
		<div class="header-box">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
		</div>
		<div class="">
			<div class="table-responsive">
				<table id="data" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="no center">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th th:text="#{company.detail}" th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}">Company</th>
							<th th:text="#{jpm.business.code}">Code</th>
							<th th:text="#{jpm.business.name}">Name</th>
							<th th:text="#{jpm.business.description}">Description</th>

						</tr>
					</thead>
					<tbody>
						<th:block th:each="_item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-dto-id=${_item.id}">
								<td class="text-center" th:text="${i.index + startIndex}"></td>
								<td class="nowrap">
                                    <div>
                                        <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                                        <a class="glyphicon glyphicon-edit custom-icon j-btn-edit btn-edit" th:attr="data-id=${_item.id}" th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)')}"></a>
                                        <a class="glyphicon glyphicon-remove-sign font-size-20 red  j-btn-delete btn-delete" th:attr="data-id=${_item.id}" th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)')}"></a>
                                    </div>
                                </td>
								<td th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}"
									th:text="${_item.companyName}"></td>
								<td th:text="${_item.code }"></td>
								<td th:text="${_item.name}"></td>
								<td th:text="${_item.description}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				
			</div>
            <th:block th:include="views/commons/pagination.html :: content"/>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/static/cache/js/jpm-process/jpm-process-table.js}"></script>
</body>
</html>
