<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript" th:src="@{/static/cache/jquery/jquery.autocomplete.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/plugins/query-builder/css/query-builder.default.min.css}" />
<body>
<div class="title-head">
	<div class="row">
		<div class="col-md-5">
			<h3>
				<span th:text="#{jpm.process.page}">Tiêu đề trang</span>
			</h3>
		</div>
	   	<div class="col-md-7">
	        <div class="pull-right">
				 <a class="u-btn u-btn-back" id="btnBack">
				 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
				 	<span>Trở lại</span>
				 </a>
				 <a class="u-btn u-btn-primary" id="btnCreate" th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)')}">
	            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
	                <span>Thêm mới</span>
	             </a>
	             <!--  
				 <a class="btn-save u-btn u-btn-primary" id="btnSaveHead" th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)')}"> 
					<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
					<span th:text="#{save.button}">Lưu</span>
				</a>
				-->
	        </div>
	   </div>
	</div>	
</div>
<form class="form-horizontal u-for-page-top j-form-validate" id="form-detail" th:object="${objectDto}" method="post" role="form" enctype="multipart/form-data">

	<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	<input type="hidden" th:value="*{businessId}" id="txtBusinessId"/>
	<input type="hidden" th:field="*{id}" id="txtProcessId"/>
	<input type="hidden" th:field="*{processType}"/>
	<input type="hidden" id="url" name="url" th:value="${url}" />
	
	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#business-detail" class="header-box">
			<h2 class="title-box" th:if="${objectDto.id == null}" th:text="#{jpm.process.page.name.add}">Add</h2>
            <h2 class="title-box" th:unless="${objectDto.id == null}" th:text="#{jpm.process.page.name}">Update</h2>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in" id="business-detail">
			<div class="row">
				<div class="col-md-6 p-0">
					<div class="form-group">
						<label for="business-code-id" class="required col-sm-4 align-top" th:text="#{jpm.process.code}">Process code</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
							<input class="form-control j-maxlength j-required j-code" type="text" th:field="*{code}" maxlength="100" th:readonly="${objectDto.id != null}" />
							<span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
						</div>
					</div>
					<div class="form-group" th:if="${companyList.size()>1}">
		                <label for="companyId" class="required col-sm-4 align-top" th:text="#{company.detail}">Company</label>
		                <div class="col-sm-8">
		                    <select class="form-control select2 j-required" th:field="*{companyId}" th:attr="disabled=${objectDto.id != null ? 'true' : null}">
		                        <option th:each="company : ${companyList}" 
		                                th:value="${company.id}"
		                                th:text="${company.text}">
		                        </option>
		                    </select>
		                </div>
		            </div>
		            <input th:if="${companyList.size() le 1 or objectDto.id != null}" type="hidden" th:field="*{companyId}" />
		            <div class="form-group">
						<label for="effectiveDate" class="col-sm-4 required align-top" th:text="#{jpm.process.effective.date}">Effective date</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<input type="text" class="form-control j-required" th:field="*{effectiveDate}" autocomplete="off"/> 
								<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-4 align-top" th:text="#{jpm.process.description}">Description</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('description')} ? has-error : ''">
							<textarea class="form-control" rows="5" data-rule-maxlength="1000" maxlength="1000" th:inline="text" th:field="*{description}"></textarea>
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="signType" class="col-sm-4 align-top" th:text="#{jpm.process.step.sign.type}">Sign Type</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('signType')} ? has-error : ''">
							<select class="form-control" th:field="*{signType}">
								<th:block th:each="item: ${T(vn.com.unit.activiti.enumdef.SignTypeEnum).values()}">
									<option th:value="${item.getValue()}" th:text="#{${item.name}}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="signType" class="col-sm-4 align-top" th:text="#{jpm.process.step.sign.position}">Sign Position</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('signType')} ? has-error : ''">
							<input type="text" class="form-control" th:field="*{signPosition}" autocomplete="off"/> 
						</div>
					</div> -->
				</div>
				<div class="col-md-6 p-0">
					<div class="form-group">
						<label for="name" class="required col-sm-4 align-top" th:text="#{jpm.process.name}">Process name</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
							<input class="form-control  j-maxlength j-required j-specialCharacters" type="text" th:field="*{name}" maxlength="500" />
							<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
					</div>
					
					<div class="row">
	                    <div class="col-md-12">
	                        <div class="form-group">
	                            <div class="col-md-offset-4 col-md-8 gr-tab">
	                                <ul class="nav nav-tabs" id="tabSvcLanguage">
	                                    <th:block th:each="language, i : ${languageList}">
	                                        <li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabProcessLanguage + ${i.index}">
	                                            <a th:href="'#languageProcess-' + ${language.code}" th:text="${language.name}" data-toggle="tab" aria-expanded="true"></a>
	                                        </li>
	                                    </th:block>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="tab-content">
	                    <th:block th:each="language, i : ${objectDto.processLangs}" th:with="index=${i.index}">
	                        <div th:id="'languageProcess-' + ${language.langCode}" class="tab-pane fade " th:classappend="${language.langCode == languageList[0].code}  ? 'in active' : ''">
	                            <input th:type="hidden" th:field="*{processLangs[__${index}__].langId}" />
	                            <input th:type="hidden" th:field="*{processLangs[__${index}__].langCode}" />
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <label th:for="*{processLangs[__${index}__].processName}" class="col-md-4 required align-top" th:text="#{jpm.process.name.lang}"></label>
	                                        <div class="col-md-8">
	                                            <input th:field="*{processLangs[__${index}__].processName}" type="text" class="form-control j-maxlength j-required" data-rule-maxlength="500"  maxlength="500" />
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </th:block>
	                </div>
					
					<div class="form-group">
		                <label for="businessId" class="required col-sm-4 align-top" th:text="#{jpm.process.business.id}">Business</label>
		                <div class="col-sm-8">
		                    <select class="form-control select2 j-required" th:field="*{businessId}" th:attr="disabled = *{id} ? 'true' : null">
		                    	<option value=""></option>
		                        <option th:each="business : ${businessList}" 
		                                th:value="${business.id}"
		                                th:text="${business.text}">
		                        </option>
		                    </select>
		                    <input type="hidden" th:field="*{businessId}"/>
		                </div>
		            </div>
					<div class="form-group act-process" th:if="${objectDto.processType == '3' or objectDto.id == null}">
						<label for="name" class="required col-sm-4 align-top" th:text="#{jpm.process.file.name.bpmn}">File bpmn</label>
						<div class="col-sm-8" th:classappend="${#fields.hasErrors('fileNameBpmn')} ? has-error : ''">
							<div class="input-group">
								<input class="form-control" type="text" th:field="*{fileNameBpmn}" maxlength="255" readonly="readonly" />
								<label class="input-group-addon" role="button">
									<i class="fa fa-folder-open" aria-hidden="true"></i>
									<input type="file" id="fileProcess" name="fileProcess" class="hide" multiple="multiple" />
								</label>
								<a class="input-group-addon" role="button" th:if="*{fileNameBpmn}" th:href="@{/ajax-file/download(filePath=*{filePathBpmn},repositoryId=*{jRepositoryId},fileName=*{fileNameBpmn})}">
									<i class="fa fa-download" aria-hidden="true"></i>
								</a>
							</div>
							<span class="help-block" th:if="${#fields.hasErrors('fileNameBpmn')}" th:errors="*{fileNameBpmn}"></span>
							<span class="error alert-fileProcess" style="display: none;"></span>
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="expiredDate" class="col-sm-4" th:text="#{jpm.process.expired.date}">Expired date</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<input type="text" class="form-control" th:field="*{expiredDate}" autocomplete="off"/> 
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div> -->
					<div class="form-group" th:if="${objectDto.id != null}">
						<label for="version" class="col-sm-4 align-top" th:text="#{document.version}">Version</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="version" th:readonly="true" th:value="*{majorVersion} + '.' + *{minorVersion}" />
							<input type="hidden" name="version" th:field="*{majorVersion}" />
							<input type="hidden" name="version" th:field="*{minorVersion}" />
						</div>
					</div>
					<div class="form-group act-process" th:if="${objectDto.processType != 'FREEFORM' or objectDto.id == null}">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-8">
							<label class="checkbox-inline">
								<input type="checkbox"
								 	name="isShowWorkflow"
								 	th:checked="${objectDto.id == null} ? true : ${objectDto.isShowWorkflow}" />
								<span th:text="#{jpm.process.is.show.workflow.diagram}"> </span>
							</label>
						</div>
					</div>
				</div>
			</div>	
			<div class="row m-0">
				<div class="form-group">
					<div class="text-center">
						<button type="button" class="u-btn u-btn-back" id="btn-cancel">
							<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 		<span th:text="#{cancel.button}">Trở lại</span>
						</button>
						<button type="button" class="u-btn u-btn-primary" id="btnSave" 
								th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or objectDto.id == null or (objectDto.companyId != null and #lists.contains(#authentication?.principal?.companyIdList, objectDto.companyId)))}">
							<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
							<span th:text="#{save.button}">Lưu</span>
						</button>
						<a class="u-btn u-btn-primary" id="btn-clone-process" name="Clone" 
								th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or objectDto.id == null or (objectDto.companyId != null and #lists.contains(#authentication?.principal?.companyIdList, objectDto.companyId))) and objectDto.id != null and objectDto.id != '' }">
							<i class="fa fa-clone"></i>
							<span th:text="#{jpm.process.button.clone}">Clone</span>
						</a>
						<a class="u-btn u-btn-primary" id="btnDeploy" name="Deploy" 
								th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or objectDto.id == null or (objectDto.companyId != null and #lists.contains(#authentication?.principal?.companyIdList, objectDto.companyId))) and objectDto.id != null and objectDto.id != '' }"
								th:attrappend="disabled = ${objectDto.isDeployed==true} ? 'true' : null">
							<i class="fa fa-play"></i>
							<span th:text="#{jpm.process.button.deploy}" th:if="${objectDto.isDeployed==false}">Deploy</span>
							<span th:text="#{jpm.process.button.deployed}" th:if="${objectDto.isDeployed==true}">Deployed</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Clone process -->
<div class="modal fade" id="clone-modal" tabindex="-1" role="dialog" aria-labelledby="clone-process-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="clone-process-modal-content">
			<!-- <th:block th:include="views/jpm-process/jpm-process-clone-popup-body.html :: content"/> -->
		</div>
	</div>
</div>

<!-- Deploy process -->
<div th:if="${objectDto.isDeployed==false}">
	<th:block th:include="views/jpm-process/jpm-process-deploy-popup-body.html :: content"/>
</div>

<!--PROCESS CONFIGURATION-->
<div class="bg-content clearfix" th:if="${objectDto.id != null}">
	<div data-toggle="collapse" data-target="#configuration" class="header-box" aria-expanded="false">
		<h2 class="title-box">
			<span th:text="#{jpm.process.configuration}">Configuration</span>
		</h2>
		<i class="fa fa-minus pull-right" aria-hidden="true"></i>
	</div>
		<div class="collapse in row m-0" id="configuration" aria-expanded="false">
			<div class="gr-tab">
				<ul class="nav nav-tabs" id="tabConfiguration">
					<li role="presentation" class="active"><a href="#configuration-param" th:text="#{jpm.process.param}" data-toggle="tab" aria-expanded="true"></a></li>
					<li role="presentation" class=""><a href="#configuration-status" th:text="#{jpm.process.status}" data-toggle="tab" aria-expanded="true"></a></li>
					<li role="presentation" class=""><a href="#configuration-function" th:text="#{jpm.process.function}" data-toggle="tab" aria-expanded="true"></a></li>
					<li role="presentation" class=""><a href="#configuration-button" th:text="#{jpm.process.button}" data-toggle="tab" aria-expanded="true"></a></li>
					<li role="presentation" class=""><a href="#configuration-dmn" th:text="#{jpm.process.dmn}" data-toggle="tab" aria-expanded="true"></a></li>
				</ul>
				<div class="tab-content" style="margin-top: 10px">
	
					<!-- Param -->
					<div id="configuration-param" class="tab-pane fade in active">
						<div class="bg-content-tbl">
							<div class="header-box">
								<div class="align-right">
									<button type="button" class="btn-ico btn-in-table "
										id="btn-add-param" data-toggle="modal" data-target="#param-modal"
										th:if="${objectDto.processType != 'FREEFORM'}">
										<img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
									</button>
								</div>
							</div>
							<div id="tableProcessParam">
								<th:block
									th:include="views/jpm-process/jpm-process-param.html :: content" />
							</div>
						</div>
						<div>
							<div class="modal fade" id="param-modal" tabindex="-1"
								role="dialog" aria-labelledby="param-modal-label">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content" id="param-modal-content"></div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Status -->
					<div id="configuration-status" class="tab-pane fade">
						<div class="bg-content-tbl">
							<div class="header-box">
								<div class="align-right">
									<button type="button" class="btn-ico btn-in-table "
										id="btn-add-status" data-toggle="modal"
										data-target="#status-modal">
										<!-- th:if="${objectDto.processType != 'FREEFORM'}"> -->
										<img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
									</button>
								</div>
							</div>
							<div id="tableProcessStatus">
								<th:block
									th:include="views/jpm-process/jpm-process-status.html :: content" />
							</div>
						</div>
						<div>
							<div class="modal fade" id="status-modal" tabindex="-1"
								role="dialog" aria-labelledby="status-modal-label">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content" id="status-modal-content"></div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Function -->
					<div id="configuration-function" class="tab-pane fade">
						<div class="bg-content-tbl">
							<div class="header-box">
								<div class="align-right">
									<button type="button" class="btn-ico btn-in-table "
										id="btn-add-function" data-toggle="modal"
										data-target="#function-modal"
										th:if="${objectDto.processType != 'FREEFORM'}">
										<img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
									</button>
								</div>
							</div>
							<div class="table-responsive">
								<div id="tableProcessFunction">
									<th:block
										th:include="views/jpm-process/jpm-process-function.html :: content" />
								</div>
							</div>
						</div>	
						<div>
							<div class="modal fade" id="function-modal" tabindex="-1"
								role="dialog" aria-labelledby="function-modal-label">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content" id="function-modal-content">
										
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Button -->
					<div id="configuration-button" class="tab-pane fade">
						<div class="bg-content-tbl">
							<div class="header-box">
								<div class="align-right">
									<button type="button" class="btn-ico btn-in-table "
										id="btn-add-button" data-toggle="modal"
										data-target="#button-modal">
										<img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
									</button>
								</div>
							</div>
							<div class="table-responsive">
								<div id="tableProcessButton">
									<th:block
										th:include="views/jpm-process/jpm-process-button.html :: content" />
								</div>
							</div>
						</div>
						<div>
							<div class="modal fade" id="button-modal" tabindex="-1"
								role="dialog" aria-labelledby="button-modal-label">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content" id="button-modal-content"></div>
								</div>
							</div>
						</div>
					</div>
	
					<!-- DMN -->
					<div id="configuration-dmn" class="tab-pane fade">
						<div class="bg-content-tbl">
							<div class="header-box">
								<div class="align-right">
									<form id="dmn-upload-form">
										<label class="u-btn btn-upload-file btn-dotted btn-in-table d-inline-flex align-items-center"> 
										<img th:src="@{/static/images/icon-attachment.png}" alt="" width="20px">
										 <input
											type="file" id="fileDmn" name="fileDmn" class="hidden" accept=".dmn"
											multiple="multiple" /> <span th:text="#{upload.button}"></span>
										</label>
									</form>
								</div>
							</div>
							
							<div class="table-responsive">
								<div id="tableProcessDmn">
									<th:block
										th:include="views/jpm-process/jpm-process-dmn.html :: content" />
								</div>
							</div>
						</div>
						
						<div>
							<div class="modal fade" id="dmn-modal" tabindex="-1"
								role="dialog" aria-labelledby="button-modal-label">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="button-modal-content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--PROCESS MAIN DIAGRAM-->
<div class="bg-content clearfix" th:if="${objectDto.fileNameBpmn != null AND objectDto.id != null}">
	<div data-toggle="collapse" data-target="#processMainDiagram" class="header-box">
		<h2 class="title-box">
			<span th:text="#{jpm.process.main.diagram}">Workflow Process Diagram</span>
		</h2>
		<i class="fa fa-minus pull-right" aria-hidden="true"></i>
	</div>
	<div class="collapse in row m-0" id="processMainDiagram" >
		<img id="imgProcessMainDiagram" class="img-responsive img-rounded" th:src="@{/workflow/diagram/process/{id}(id=${objectDto.id}, r=${new java.util.Date().getTime()})}"
                         alt="Workflow Process Diagram" />
	</div>
</div>

<!--PROCESS STEP-->
<div class="bg-content clearfix" th:if="${objectDto.id != null}">
	<div data-toggle="collapse" data-target="#processStep" class="header-box">
		<h2 class="title-box">
			<span th:text="#{jpm.process.step}">Process Step</span>
		</h2>
		<i class="fa fa-minus pull-right" aria-hidden="true"></i>
	</div>
	<div class="pull-right form-group">
		<button type="button" class="btn btn-common btn-in-table hidden" id="btn-add-step" data-toggle="modal" data-target="#step-modal">
			<i class="fa fa-plus"></i>
			<span th:text="#{add.button}"></span>
		</button>
	</div>
		<div class="clearfix"></div>
	<div class="collapse in row m-0" id="processStep">
		<div class="bg-content-tbl no-border-tb-0">
			<div id="tableProcessStep">
				<th:block th:include="views/jpm-process/jpm-process-step.html :: content"/>
			</div>
		</div>
		<div>
			<div class="modal fade" id="step-modal" role="dialog" aria-labelledby="step-modal-label">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content" id="step-modal-content">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS gan event theo id  -->
<!-- <button type="button" id="btnRevert">Revert</button> -->
<script type="text/javascript" th:src="@{/static/cache/js/jpm-process/jpm-process-edit.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/query-builder/js/query-builder.standalone.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/query-builder/i18n/query-builder.vi.js}"></script>
<script th:inline="text" type="text/javascript">
	var NOT_AN_ACCEPTED_FILE_TYPE = '[[#{message.not.an.accepted.file.type}]]';
	var FILESIZE_IS_BIGGER = '[[#{message.file.size.bigger}]]';
</script>
</body>
</html>