<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

    <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

    <div class="table-responsive">
        <table id="data-function" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th th:text="#{jpm.process.function.code}">Function code</th>
                    <th th:text="#{jpm.process.function.name}">Function name</th>
                    <th th:text="#{jpm.process.function.type}">Permission type</th>
                    <th class="u_t_action" th:text="#{action.label}">Action</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${objectDto.listJpmFunctionDto!= null}">
                    <th:block th:each="_item,i : ${objectDto.listJpmFunctionDto}">
                        <tr class="db-click" th:attr="data-jpm-function-id=${_item.id}">
                            <td class="text-center" th:text="${i.index + 1 }"></td>
                            <td th:text="${_item.code}">Function code</td>
                            <td th:text="${_item.name}">Function name</td>
                            <td th:text="#{${T(vn.com.unit.process.workflow.service.AppFunctionService.Permission).resolve(_item.permissionType).getName()}}">
                            		Permission type
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn-edit" data-toggle="modal" data-target="#function-modal" ><i class="glyphicon glyphicon-edit custom-icon"></i></a>
                                    <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                <th:block th:if="${objectDto.listJpmFunctionDto==null || objectDto.listJpmFunctionDto.length==0}">
                    <tr>
                        <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>