<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div class="modal fade" id="clone-modal" tabindex="-1" role="dialog" aria-labelledby="clone-process-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="clone-process-modal-content">
		    <form class="u-for-page-top j-form-validate" role="form" id="clone-process-form" method="post" th:object="${objectCloneDto}" th:action="@{/}">
		        <div class="">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		                <h2 class="modal-title" id="function-modal-label" th:text="#{jpm.process.page.name.clone}">process clone</h2>
		            </div>
		            <div class="modal-body">
			<input type="hidden" th:field="*{id}" id="txtProcessId"/>
			<input type="hidden" id="url" name="url" th:value="${url}" />
				<div class="collapse in" id="business-detail">
						<div class="form-group row" >
							<label for="business-code-id" class="required col-sm-4" th:text="#{jpm.process.code}">Process code</label>
							<div class="col-sm-8" th:classappend="${#fields.hasErrors('code')} ? has-error : ''" >
								<input class="form-control j-maxlength j-required j-code" type="text" th:field="*{code}" maxlength="100" />
								<span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
							</div>
						</div>
						<div class="form-group row" >
							<label for="name" class="required col-sm-4" th:text="#{jpm.process.name}">Process name</label>
							<div class="col-sm-8" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
								<input class="form-control  j-maxlength j-required j-specialCharacters" type="text" th:field="*{name}" maxlength="255" />
								<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							</div>
						</div>
						<div class="form-group row" th:if="${companyList.size() > 1}">
			                <label for="companyId" class="required col-sm-4" th:text="#{company.detail}">Company</label>
			                <div class="col-sm-8">
			                    <select class="form-control select2 j-required" th:field="*{companyId}" id="companyCloneCombobox">
			                    	<option value=""></option>
			                        <option th:each="company : ${companyList}" 
			                                th:value="${company.id}"
			                                th:text="${company.text}">
			                        </option>
			                    </select>
			                </div>
			            </div>
						<input type="hidden" th:unless="${companyList.size() > 1}" th:field="*{companyId}"/>
						
						<div class="form-group row">
			                <label for="businessId" class="required col-sm-4" th:text="#{jpm.process.business.id}">Business</label>
			                <div class="col-sm-8">
			                    <select class="form-control select2 j-required" th:field="*{businessId}" id="businessCloneCombobox">
			                    	<option value=""></option>
			                        <option th:each="business : ${businessList}" 
			                                th:value="${business.id}"
			                                th:text="${business.text}"
			                                >
			                        </option>
			                    </select>
			                </div>
			            </div>
					</div>
					
					<!-- <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="effectiveDate" class="col-sm-4 required" th:text="#{jpm.process.effective.date}">Effective date</label>
								<div class="col-sm-8">
									<div class="input-group date">
										<input type="text" class="form-control j-required" th:field="*{effectiveDate}" autocomplete="off"/> 
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div> -->
			</div>
		        </div>
		        <div class="modal-footer">
		            <a href="#" class="u-btn u-btn-back" data-dismiss="modal">
		                <img th:src="@{/static/images/ico-close.png}" alt="" width="11px">
                    	<span  th:text="#{close.button}"></span>
		            </a>
		            <button id="btn-clone-process-submit" class="u-btn u-btn-primary" type="button">
		            	<img th:src="@{/static/images/icon-save.png}" alt="" width="19px">
            			<span th:text="#{save.button}"></span>
		            </button>
		        </div>
		    </form>
			<script type="text/javascript" th:src="@{/static/cache/js/jpm-process/jpm-process-clone.js}"></script>
		</div>
	</div>
</div>
</body>
</html>