<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<div class="table-responsive">
    <table id="data-step" class="table table-bordered table-striped table-hover	">
        <thead>
        <tr>
            <th class="no">#</th>
            <th class="u_t_action" th:text="#{action.label}">Action</th>
            <th th:text="#{jpm.process.step.name}">Tên bước</th>
            <th th:text="#{jpm.process.step.status}">Trạng thái</th>
            <th th:text="#{jpm.process.step.status.common}">Trạng thái</th>
            <!-- <th th:text="#{jpm.process.step.authority.comment}">Phân quyền bình luận</th> -->
            <th th:text="#{jpm.process.step.button}">Nút</th>
            <th th:text="#{jpm.process.step.save.data}">Lưu dữ liệu</th>
            <th th:text="#{jpm.process.step.save.eform}">Lưu eform</th>
            <th th:text="#{jpm.process.step.is.authenticate}">is authenticate</th>
            <th th:text="#{jpm.process.step.display.history.approve}">DISPLAY_HISTORY_APPROVE</th>
            <th th:text="#{jpm.process.step.is.export.pdf}">is export PFD</th>
            <th th:text="#{jpm.process.step.is.sign}">is Sign</th>
            <th th:text="#{jpm.process.step.field.sign}">Field Sign</th>
          <!--   <th th:text="#{jpm.process.step.sign.type}">Sign Type</th>
            <th th:text="#{jpm.process.step.sign.position}">Sign Position</th> -->
            <th th:text="#{jpm.process.function}">Chức năng xác thực</th>
        </tr>
        </thead>
        <tbody>
        	<th:block th:if="${objectDto?.listJpmStepDto?.size() > 0}">
				<th:block th:each="_item,i : ${objectDto.listJpmStepDto}">
				    <tr class="db-click" th:attr="data-jpm-step-id=${_item.id}">
				        <td class="text-center" th:text="${_item.stepNo}" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}" style="border: 1px solid #000;">1</td>
				        <td class="text-center" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}" style="border: 1px solid #000;">
				            <div class="btn-group">
					            <a class="btn-edit" data-toggle="modal" data-target="#step-modal" ><i class="glyphicon glyphicon-edit custom-icon"></i></a>
<!--					            <a class="btn-delete glyphicon glyphicon-remove-sign font-size-20 red j-od-delete" title="delete"></a>-->
					        </div>
				        </td>
				        <td th:text="${_item.name}" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}" style="border: 1px solid #000;">Step name</td>
				        <td th:text="${_item.statusName}" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}" style="border: 1px solid #000;">Status name</td>
				        <td th:text="${_item.commonStatusName}" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}" style="border: 1px solid #000;">Status name</td>
				        <!-- <td class="text-center" th:rowspan="${_item.countButton}" th:unless="${_item.isHidden}">
				        	<input type="checkbox" disabled="disabled" th:checked="${_item.authorityComment}" />
						</td> -->
				        <td class="text-center"><button type="button" class="btn btn-xs btn-in-table disabled" th:classappend="${_item.buttonClass}" th:text="${_item.buttonName}" th:if="${_item.buttonName}">Button name</button></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.isSave}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.isSaveEform}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.isAuthenticate}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.displayHistoryApprove}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.isExportPdf}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.isSign}" /></td>
				        <td class="text-center"><input type="checkbox" disabled="disabled" th:checked="${_item.fieldSign}" /></td>
				       <!--  <td class="">
                            <select class="form-control auto-width-important" disabled="disabled" th:if="${_item.signType} != null">
                                <th:block
                                    th:each="item: ${T(vn.com.unit.activiti.enumdef.SignTypeEnum).values()}">
                                    <th:block>
                                        <option th:value="${item.getValue()}"
                                            th:text="#{${item.name}}"
                                            th:selected="${item.getValue() == _item.signType}"></option>
                                    </th:block>
                                </th:block>
                            </select>
                        </td> 
				        <td class="text-center" th:text="${_item.signPosition}"></td> -->
				        <td  th:text="${_item.functionName}">Function name</td>
				    </tr>
				</th:block>
            </th:block>
        	<th:block th:if="${objectDto?.listJpmStepDto?.size() == 0}">
                <tr>
                    <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>