<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <form class="form-horizontal u-for-page-top j-form-validate" role="form" id="button-form" method="POST" autocomplete="off" th:object="${buttonDto}" th:action="@{/}">
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="button-modal-label" th:text="#{jpm.process.button.information}">Button Information</h2>
            </div>
            <div class="modal-body">

                <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{processId}"/>
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="form-group">-->
<!--                            <label th:for="*{buttonId}" class="col-md-3 required" th:text="#{jpm.process.button.id}"></label>-->
<!--                            <div class="col-md-9">-->
<!--                                <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{buttonId}" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{buttonText}" class="col-md-3 required align-top" th:text="#{jpm.process.button.name}"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{buttonText}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{buttonValue}" class="col-md-3 required align-top" th:text="#{jpm.process.button.value}"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{buttonValue}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{buttonClass}" class="col-md-3 required align-top" th:text="#{jpm.process.button.class}"></label>
                            <div class="col-md-9">
                                <select class="form-control" th:field="*{buttonClass}">
                                    <option th:each="btnClass : ${buttonClasses}" 
                                    		th:value="${btnClass.code}" 
                                    		th:text="${btnClass.code}"
                                            th:selected="${btnClass.code == buttonDto.buttonClass}"></option>
                                </select>
<!--                                <input type="text" class="form-control j-maxlength j-required j-code" th:field="*{buttonClass}" />-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{buttonType}" class="col-md-3 required align-top" th:text="#{jpm.process.button.type}"></label>
                            <div class="col-md-9">
                                <select class="form-control" th:field="*{buttonType}">
                                    <option th:each="type : ${buttonTypes}" th:value="${type.key}" th:text="${type.value}"
                                            th:selected="${type.key == buttonDto.buttonType}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{orders}" class="col-md-3 required align-top" th:text="#{jpm.process.button.order}"></label>
                            <div class="col-md-9">
                                <input type="number" class="form-control j-maxlength j-required j-code" th:field="*{orders}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label th:for="*{assignTo}" class="col-md-3 align-top" th:text="#{jpm.process.button.assign.to}"></label>
                            <div class="col-md-9">
                                <select class="form-control" th:field="*{assignTo}" th:attrappend="disabled = ${buttonDto.buttonType != 'ASSIGN'} ? 'true' : null">
                                    <option value=""></option>
                                    <option th:each="function : ${functionList}" th:value="${function.id}" th:text="${function.name}"
                                            th:selected="${function.id == buttonDto.assignTo}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9 gr-tab">
                                <ul class="nav nav-tabs" id="tabButtonLanguage">
                                    <th:block th:each="language, i : ${languageList}">
                                        <li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabButtonLanguage + ${i.index}">
                                            <a th:href="'#languageButton-' + ${language.code}" th:text="${language.name}" data-toggle="tab" aria-expanded="true"></a>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" style="margin-top: 10px">
                    <th:block th:each="language, i : ${buttonDto.listJpmButtonLang}" th:with="index=${i.index}">
                        <div th:id="'languageButton-' + ${language.langCode}" class="tab-pane fade " th:classappend="${language.langCode == languageList[0].code}  ? 'in active' : ''">
                            <input th:type="hidden" th:field="*{listJpmButtonLang[__${index}__].langId}" />
                            <input th:type="hidden" th:field="*{listJpmButtonLang[__${index}__].langCode}" />
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="form-group">
                                        <label th:for="*{listJpmButtonLang[__${index}__].buttonName}" class="col-md-3 required align-top" th:text="#{jpm.process.button.text}"></label>
                                        <div class="col-md-9">
                                            <input th:field="*{listJpmButtonLang[__${index}__].buttonName}" type="text" class="form-control j-maxlength j-required" data-rule-maxlength="255" maxlength="255"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="form-group">
                                        <label th:for="*{listJpmButtonLang[__${index}__].buttonNameInPassive}" class="col-md-3 required align-top" th:text="#{jpm.process.button.in.passive}"></label>
                                        <div class="col-md-9">
                                            <input th:field="*{listJpmButtonLang[__${index}__].buttonNameInPassive}" type="text" class="form-control j-maxlength j-required" data-rule-maxlength="255" maxlength="255"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="u-btn u-btn-back" data-dismiss="modal" >
                <img th:src="@{/static/images/ico-close.png}" alt="" width="11px">
                <span  th:text="#{close.button}"></span>
             </a>
            <button id="btn-button-submit" class="u-btn u-btn-primary btn-in-tablet" type="button" >
            	<img th:src="@{/static/images/icon-save.png}" alt="" width="19px">
            	<span th:text="#{save.button}"></span>
            </button>
        </div>
    </form>

</body>
</html>