<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<body>
		<div class="modal fade" id="tree-summary-popup" tabindex="-1" role="dialog" aria-labelledby="tree-component-modal-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="min-height: 475px; width: 1200px; magin: 0; padding: 0; margin-left: 0px">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="title-box" id="tree-component-modal-label" th:text="#{j.process.step.condition}">Condition</h4>
					</div>
					<div class="modal-body" id="tree-summary-modal-content">
						<div class="col-sm-12 no-padding ">
							<div id="message-list"></div>
							<div class="col-sm-4 no-padding">
								<p>
									<b th:text="#{j.process.step.condition.tree}">Condition tree</b>
								</p>
								<div class="row unit-bg-com div-scroll-h350">
									<div class="col-sm-12">
										<input type="text" class=" form-control" th:placeholder="#{search.key}" id="searchNode" />
									</div>
									<!-- /input-group -->
									<div class="col-sm-12" style="padding-left: 16px;">
										<div id="jstree-tree" class="form-control well div-scroll-h400" ></div>
									</div>
								</div>
							</div>

							<div class="col-sm-8 form-horizontal u-for-page-top j-formSearch">
								<div class="col-md-12  row row unit-bg-com div-scroll-h350">
									<div class="col-md-12">
										<div class=" col-md-4 ">
											<p th:text="#{j.process.step.condition.operator}">Condition operator</p>
											<select class="form-control" id="conditionOperatorId" onchange="conditionOperatorChange(this);" >
												<option th:each="choice : ${lstCondition}" th:value="${choice.key}" th:text="${choice.value}"/>
											</select>
										</div>
									</div>
									<div class="col-md-12" style="margin-top: 10px">
										<div class="col-md-4" id="divfirstFieldId">
											<p th:text="#{j.process.step.condition.compare.field.value}">Compare field or value</p>
											<input class="form-control autocomplete-search-input" type="text" id="firstFieldId" oninput="firstFieldChange(this);" />
										</div>
										<div class=" col-md-4 ">
											<p th:text="#{j.process.step.condition.compare.operator}">Compare operator</p>
											<select class="form-control" id="compareOperatorId" onchange="compareOperatorChange(this);">
												<option th:each="choice : ${lstOperator}" th:value="${choice.key}" th:text="${choice.value}"/>
											</select>
										</div>
										<div class=" col-md-4 ">
											<p th:text="#{j.process.step.condition.compare.field.value}">Compare field or value</p>
											<input class="form-control autocomplete-search-input" type="text" id="lastFieldId" oninput="lastFieldChange(this);" />
										</div>
									</div>

									<div class="col-md-12" style="margin-top: 20px">
										<div class=" col-md-12">
											<p>
												<span th:text="#{j.process.step.condition.note1}">Right-click on the node of</span>
												<b th:text="#{j.process.step.condition.tree}">condition tree</b>
												<span th:text="#{j.process.step.condition.note2}">, click</span>
												<b th:text="#{j.process.step.condition.create}">Create</b>
												<span th:text="#{j.process.step.condition.note3}">to add new condition</span>
												<span th:text="#{j.process.step.condition.note4}">, and then input value for fields: </span>
												<b th:text="#{j.process.step.condition.operator}">Condition operator</b>
												<span>, </span>
												<b th:text="#{j.process.step.condition.compare.field.value}">Compare field or value</b>
												<span>, </span>
												<b th:text="#{j.process.step.condition.compare.field.value}">Compare field or value</b>
												.
											</p> 
											<p class="text-note">
												<b th:text="#{j.process.step.note}">Note:</b>
												<span th:text="#{j.process.step.condition.note5}">Condition only config at leaf nodes.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<a href="#" class="btn btn-common btn-in-tablet start" id="btn-save-condition" th:text="#{save.button}">Save</a>
						<a href="#" class="btn btn-cancel" data-dismiss="modal" th:text="#{cancel.button}">Close</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
