<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <form class="form-horizontal u-for-page-top j-form-validate"
            method="POST" role="form" autocomplete="off"
            th:object="${itemManagementDto}" id="form-popup">
            <div class="modal fade" id="role-item-summary-popup" tabindex="-1"
                role="dialog" aria-labelledby="role-item-component-modal-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="height: 475px; width:
                        700px; magin: 0; padding: 0; margin-left: 0px">
                        <div class="modal-header">
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"
                                id="closeModal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 class="title-box"
                                id="role-item-component-modal-label"
                                th:text="#{item.management.add}">Add function</h2>
                        </div>
                        <div class="modal-body"
                            id="role-item-summary-modal-content">
                            <div class="col-md-12">
                                <div id="message-list-popup"></div>
                                <div class="form-horizontal col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 required" style="font-weight: normal;"
                                            th:text="#{item.management.function.code}">Function code</label>
                                        <div class="col-md-8">
                                            <input type="text"
                                                class="form-control j-required j-code"
                                                id="function-code-id"  th:field="*{functionCode}"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('functionCode')}" th:errors="${itemManagementDto.functionCode}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 required" style="font-weight: normal;"
                                            th:text="#{item.management.function.name}">Function
                                            name</label>
                                        <div class="col-md-8">
                                            <input type="text"
                                                class="form-control j-required j-specialCharacters"
                                                id="function-name-id" th:field="*{functionName}"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('functionName')}" th:errors="${itemManagementDto.functionName}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                        th:if="${#authentication?.principal?.companyAdmin}">
                                        <label for="positionId" class="col-sm-4" style="font-weight: normal;"
                                            th:text="#{company.detail}">Company</label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2"
                                                id="company-id" th:field="*{companyId}">
                                                <option value=""
                                                    th:text="#{company.all}"></option>
                                                <option th:each="company :
                                                    ${companyList}"
                                                    th:value="${company.id}"
                                                    th:text="${company.text}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <input
                                        th:unless="${#authentication?.principal?.companyAdmin}"
                                        type="hidden" id="company-id"
                                        th:value="${#authentication?.principal?.companyId}"
                                        />
                                    <div class="form-group">
                                        <label class="col-md-4 j-required" style="font-weight: normal;"
                                            th:text="#{item.management.function.bizcode}">Business
                                            code</label>
                                        <div class="col-md-8">
                                            <select class="form-control" th:field="*{businessCode}" disabled="disabled"
                                                id="business-code-id">
                                                <option th:each="i :
                                                    ${lstBusiness}" th:value="${
                                                    i.code }" th:text="${ i.name
                                                    }"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4" style="font-weight: normal;"
                                            th:text="#{item.management.function.desc}">Description</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control"
                                                rows="5"
                                                data-rule-maxlength="4000"
                                                maxlength="4000"
                                                th:inline="text"
                                                id="description-id" th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a href="#" class="btn btn-common btn-in-tablet
                                start" id="btn-save-role-item"
                                th:text="#{save.button}">Save</a>
                            <a href="#" class="btn btn-cancel"
                                data-dismiss="modal" th:text="#{cancel.button}">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
