<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">

<style>
.div-scroll-h500 {
	max-height: 650px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h300 {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h350 {
	max-height: 350px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h400 {
	height: 380px;
	max-height: 380px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h450 {
	max-height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h550 {
	max-height: 550px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h100 {
	max-height: 100px;
	overflow: auto;
	margin-bottom: 10px;
}

.div-scroll-h200 {
	max-height: 200px;
	overflow: auto;
	margin-bottom: 10px;
}

.autocomplete-suggestions {
	background-color: #fff;
	border: 1px solid #cccccc;
	border-top: 0;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-left: 5px;
	overflow-y: auto;
}

#container {
  position: relative;
  z-index: 1000;
  border: 1px solid blue;
}
</style>
<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{j.process.edit}">Tiêu đề trang</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			
			<a> <i class="fa fa-arrow-circle-left icon-head-red" th:title="#{icon.back}" id="linkList"></i>
			</a>
		</div>
	</div>
</div>



<form class="form-horizontal u-for-page-top j-form-validate j-formSearch" id="form-j-process-edit" th:object="${processDto}" method="post" role="form" th:action="@{/}">
	<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	<input type="hidden" th:field="*{processId}" />
	<input type="hidden" name="status" th:value="*{status}" />
	<input type="hidden" th:field="*{changeNameAndExpired}" />
	<input type="hidden" id="url" name="url" th:value="${urlRedirect}" />
	<div class="bg-content clearfix">
		<div>
			<h2 class="title-box" th:text="#{j.process.edit.info}">Thông tin nghiệp vụ</h2>
			
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 required" th:text="#{j.process.code}">Process code</label>
				<div class="col-sm-8" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
					<input class="form-control  j-maxlength j-required j-code" type="text" name="code" th:field="*{codeDisplay}" maxlength="100"
						th:readonly="${!isShowEditProcess}" /> 
					<span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
					<input type="hidden" th:field="*{code}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 required" th:text="#{j.process.effective}">Effective date</label>
				<div class="col-sm-8">
					<div class="input-group date" id="effectiveDate">
						<input id="inputEffectiveDate" name="effectiveDate" type="text" class="form-control j-required" th:field="*{effectiveDate}"
							th:readonly="${!isShowEditProcess}" /> <span class="input-group-addon fromDate"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group" th:if="${companyList.size()>1}">
                <label for="positionId" class="col-sm-4" th:text="#{company.detail}">Company</label>
                <div class="col-sm-8">
                    <select class="form-control select2" th:field="*{companyId}">
                    	<option th:if="${#authentication?.principal?.companyAdmin}" th:value="${NULL}" th:text="#{company.all}"></option>
                        <option th:each="company : ${companyList}" 
                                th:value="${company.id}"
                                th:text="${company.text}">
                        </option>
                    </select>
                </div>
            </div>
            <input th:unless="${companyList.size()>1}" type="hidden" name="companyId" id="companyId" th:value="${#authentication?.principal?.companyId}" />
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 required" th:text="#{j.process.name}">Process name</label>
				<div class="col-sm-8" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
					<input class="form-control  j-maxlength j-required j-specialCharacters" type="text" name="name" th:field="*{name}" maxlength="150"/> 
					<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 required" th:text="#{j.process.expired}">Expired date</label>
				<div class="col-sm-8">
					<div class="input-group date" id="expiredDate">
						<input id="inputExpiredDate" name="expiredDate" type="text" class="form-control j-required" th:field="*{expiredDate}" /> <span class="input-group-addon toDate"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 required" th:text="#{business.definition.name}">Business</label>
				<div class="col-sm-8" th:classappend="${#fields.hasErrors('bussinesCode')} ? has-error : ''">
					<select class="form-control j-required" id="bussinesCode" name="bussinesCode" th:disabled="${!isShowEditProcess}" th:value="*{bussinesCode}">
						<option th:each="i : ${lstBusiness}" th:value="*{bussinesCode}" th:text="*{businessName}"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="col-sm-12">
				<br />
				<div class="form-group text-center">
					<button type="button" class="btn btn-cancel btn-in-table" id="btn-cancel">
						<i class="fa fa-times"></i>
						<span th:text="#{cancel.button}">Thoát</span>
					</button>
					<button th:if="${#authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or processDto.processId == null or (processDto.companyId != null and processDto.companyId==#authentication?.principal?.companyId))}" 
					type="button" class="btn btn-common btn-in-table" id="btn-save">
						<i class="fa fa-save"></i>
						<span th:text="#{save.button}">Save</span>
					</button>
					<button type="button" class="btn btn-common btn-in-table" id="btn-clone-process" th:if="${processDto.processId!=null and #authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or processDto.processId == null or (processDto.companyId != null and processDto.companyId==#authentication?.principal?.companyId))}">
						<i class="fa fa-clone"></i>
						<span th:text="#{clone.button}">Clone</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${isShowEditStep}" class="bg-content clearfix">
		<div class="box-header">
			<h2 class="title-box section-heading">
				<span th:text="#{j.process.step.detail}"> List step detail</span>
			</h2>
			<button type="button" class="btn btn-common btn-in-table pull-right" id="btn-add-item" 
				th:if="${isShowActionStep and #authorization.expression('hasAuthority(@roleConstant.PROCESS)') and (#authentication?.principal?.companyAdmin or processDto.processId == null or (processDto.companyId != null and processDto.companyId==#authentication?.principal?.companyId))}">
				<i class="fa fa-plus"></i><span th:text="#{add.button}"></span>
			</button>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<th:id id="tableDetailId">
					<th:block th:include="views/j-process/j-process-step-detail-table.html :: content" />
				</th:id>
			</div>
		</div>
	</div>


</form>
<input type="hidden" id="sttStepId" />
<div id="popup-tree-condition">
	<th:block th:include="views/j-process/j-process-tree-condition.html" />
</div>
<div>
	<th:block th:include="views/j-process/j-process-add-flash-role-item-popup.html" />
</div>

<script type="text/javascript" th:src="@{/static/cache/js/j-process/j-process-edit.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/js/j-process/j-process-step-detail-row.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/jquery/jquery.autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript" th:inline="text">
        var MSG_DEL_STEP_CONFIRM = '[[#{j.process.step.confirm.delete}]]';
        var MSG_TITLE = '[[#{message.title}]]'; 
        var CONTEXTMENU_CREATE = '[[#{j.process.step.condition.create}]]'; 
        var CONTEXTMENU_REMOVE = '[[#{j.process.step.condition.remove}]]'; 
</script>
</html>
