<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_title" th:text="#{interestRate.city}">Thành phố</th>
							<th th:text="#{interestRate.update.updateDate}">Ngày cập nhật</th>			
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dataRow,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-id=${dataRow.id}">
								<td style="text-align:center" th:text="${i.index + startIndex}"></td>
								<td style="text-align:center" th:text="${dataRow.cityName}"></td>
								<td style="text-align:center" th:text="${#dates.format(dataRow.updateDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		
		<script type="text/javascript" th:src="@{/web-app/views/interest-rate/interest-rate-table-history.js}"></script>
	</body>
</html>

