<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="col-sm-12">
			<h2 class="sub-header section-heading" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
			        <thead>
			            <tr>
			                <th rowspan = "2" class="u_t_no">#</th>
			                <th rowspan = "2" class="u_t_code" th:text="#{interestRate.term.code }">Mã kỳ hạn</th>
			                <th rowspan = "2" class="u_t_title" th:text="#{interestRate.term.title}">Tên kỳ hạn</th>
			                <th rowspan = "2" class="u_t_date" th:text="#{interestRate.displayDate}">Ngày hiển thị</th>
			                <th th:attr="colspan = ${#lists.size(personalCurrencyList)}" th:text="#{interestRate.personalRate}">Lãi suất cá nhân</th>
			                <th th:attr="colspan = ${#lists.size(organisationCurrencyList)}" th:text="#{interestRate.organisationRate}">Lãi suất tổ chức</th>
			            </tr>
			            <tr>
			            	<th:block th:each="entry : *{interestRateDtoList[0].personalCurrencyList}">
			            		<th th:text="${entry.key}">Currency</th>
			            	</th:block>
							<th:block th:each="entry : *{interestRateDtoList[0].organisationCurrencyList}">
			            		<th th:text="${entry.key}">Currency</th>
			            	</th:block>
			            </tr>
			        </thead>
			        <tbody>
			            <th:block th:each="interestRate,i : ${interestRateList.interestRateDtoList}"  th:with="index=${i.index}">
		                    <tr>
		                        <td class="text-center" th:text="${i.index}"></td>
		                        <td th:text="${interestRate.termCode}"></td>
		                        <td th:text="${interestRate.termName}"></td>
		                        <td class="text-center" th:text="${interestRate.displayDate }? ${#dates.format(interestRate.displayDate, 'dd-MM-yyyy')}"></td>
		                        <th:block th:each="entry : ${interestRateList.interestRateDtoList[__${index}__].personalCurrencyList}">
		                        	<td th:text="${entry.value}">
		                        	</td>
				            	</th:block>
				            	<th:block th:each="entry : ${interestRateList.interestRateDtoList[__${index}__].organisationCurrencyList}">
		                        	<td th:text="${entry.value}"></td>
				            	</th:block>
				            	</tr>
		                </th:block>
			        </tbody>
			    </table>
			  </div>
		</div>
		<!-- script for paging -->
        <th:block th:include="views/commons/pagination.html :: content"/>
    	<!-- end script -->
	<script type="text/javascript" th:src="@{/web-app/views/interest-rate/interest-rate-list.js}"></script>
	</body>
</html>
