<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 	<script type="text/javascript" th:src="@{/static/ckfinder/ckfinder.js}"></script> -->
<!-- 	<script type="text/javascript" -->
<!-- 		th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"></script> -->
<!-- 	<script type="text/javascript" -->
<!-- 		th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"></script> -->

	<script type="text/javascript" th:src="@{/web-app/views/interest-rate/interest-rate-expression-edit.js}"></script>

	<div class="row main-heading ">
		<div class="row unit-border-bottom">
			<div class="col-sm-8 col-xs-6">
				<h3 class="mar-tb-no red" th:text="#{mathExpression.title}">Tiêu đề
					trang</h3>
			</div>
			<div class="col-sm-4 col-xs-6 align-right ml-auto">
		        <a class="u-btn-head" id="linkList">
					<img th:src="@{/static/icons/icon-back.png}"/>
					<span th:title="#{icon.back}">Trở lại</span>
				</a>
			</div>
		</div>
	</div>

	<form method="POST" class="form-horizontal u-for-page-top j-form-validate" th:object="${expressionEditDto}" id="termForm">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />

		<div class="row unit-bg-com">
			<div class="col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-2 control-label required"
						th:text="#{mathExpression.code}">Mã biểu thức</label>
					<div class="col-sm-10" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<input th:field="*{code}"
							class="form-control j-required text-uppercase j-code j-maxlength"
							data-rule-maxlength="30"></input> <span class="help-block"
							th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-2 control-label required"
						th:text="#{mathExpression.customerType}">Loại khách hàng</label>
					<div class="col-sm-10">
						<input th:field="*{customerTypeId}"
							class="form-control j-required text-uppercase j-number j-maxlength"
							data-rule-maxlength="10" /> <span class="help-block"
							th:if="${#fields.hasErrors('customerTypeId')}"
							th:errors="*{customerTypeId}"></span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
				<div class="form-group">
					<label class="col-sm-2 control-label required"
						th:text="#{mathExpression.expression}">Biểu thức</label>
					<div class="col-sm-10">
						<input th:field="*{expression}"
							class="form-control j-required text-uppercase j-maxlength"
							 /> <span class="help-block"
							th:if="${#fields.hasErrors('expression')}"
							th:errors="*{expression}"></span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 unit-button">
				<button type="submit" class="btn-cancel" id="cancel">
					<i class="fa fa-times"></i> <span th:text="#{cancel.button}">Thoát</span>
				</button>
				<button type="button" class="btn-common" id="btnSave">
					<i class="fa fa-save"></i>
					<span th:text="#{save.button}">Lưu</span>
				</button>
			</div>

		</div>

		<input type="hidden" id="expression-id" name="id" th:value="${expressionEditDto.id}" /> 
		<input type="hidden" id="url" name="url" th:value="${expressionEditDto.url}" />
	</form>

</body>
</html>
