<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/plugins/bootbox/bootbox.js}"
  ></script>
  <script th:inline="javascript">
       /*<![CDATA[*/
       var dataImport = /*[[${pageWrapper.data}]]*/ ;
       var urlImport = /*[[${urlImport}]]*/ ;
       var importId = /*[[${importId}]]*/ ;
    //default value sort
    var SORT_ROWNUM = 'ASC';
       var SORT_MESSAGE = 'ASC';
       var OPTION_SORT = 'DEFAULT';
       /*]]>*/
  </script>

  <body th:fragment="content">
    <div class="title-head clearfix">
      <div class="col-sm-4 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="' ' + #{common.list.imported}"></span>
        </h3>
      </div>
      <div class="col-sm-8 icon-head">
        <div class="pull-right">
          <a>
            <i
              class="fa fa-arrow-circle-left icon-head-red"
              th:title="#{back.button}"
              id="linkList"
            ></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 content">
      <div class="unit-bg-table" id="tableListImport">
        <th:block
          th:include="/views/ASSET_MANAGEMENT_MODULE/asset-regist/asset-regist-import-table.html :: content"
        />
      </div>
    </div>
  </body>
</html>
