<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="table-responsive table-popup-max-height">
        <table id="tblDataTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th>
                <input type="checkbox" id="check_all_payment" />
              </th>
              <th>Payment No</th>
              <th>Payment Requester</th>
              <th>Payment Date</th>
              <th>Payee Name</th>
              <th>Invoice No</th>
              <th>Payment Amount</th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="item,i : ${pageWrapperGE.data}"
              th:with="startIndex=${pageWrapperGE.startIndexCurrent}"
            >
              <tr>
                <td class="text-center" th:text="${i.index + startIndex}"></td>
                <td class="td-action">
                  <div class="align-center">
                    <input
                      type="checkbox"
                      th:class="checkbox_payment"
                      th:classappend="${item.paymentNo} ? ge-id-+${item.paymentNo} : ''"
                      th:value="${item.paymentNo}"
                    />
                  </div>
                </td>
                <td class="text-left" th:text="${item.paymentNo}"></td>
                <td class="text-left" th:text="${item.requesterFullName}">
                  PR0001
                </td>
                <td
                  class="text-center"
                  th:text="${item.paymentDate} ? ${#dates.format(item.paymentDate, @systemConfig.getConfig('DATE_PATTERN'))}"
                ></td>
                <td class="text-left" th:text="${item.payeeName}"></td>
                <td class="text-left" th:text="${item.invoiceNumber}"></td>
                <td
                  class="text-right"
                  th:text="${item.paymentAmount != null ? #numbers.formatDecimal(item.paymentAmount, 0, 'COMMA',0, 'POINT') : 0}"
                ></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>

      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapperGE})"
      />
      <!-- PAGINATION -->
    </div>
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/asset-regist/asset-regist-edit-table-payment.js}"
    ></script>
  </body>
</html>
