<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />

  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{asset.regist.list}"></span>
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a>
            <i
              class="fa fa-plus-circle icon-head-red"
              id="add"
              th:title="#{add.button}"
              th:if="${#authorization.expression('hasAuthority(@roleEp2p.ROLE_ASSET_MANAGEMENT_SUBMIT)')}"
            ></i
          ></a>
        </div>
      </div>
    </div>
    <div id="msg">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
    </div>

    <!-- FORM SEARCH -->
    <form
      class="form-horizontal u-for-page-top j-formSearch"
      th:action="@{/}"
      th:object="${searchDto}"
      method="POST"
      role="form"
      id="formSearch"
    >
      <!-- SEARCH AREA START-->
      <div class="bg-content clearfix">
        <div
          data-toggle="collapse"
          data-target="#search-box"
          class="header-box"
        >
          <h5 class="title-box">
            <span th:text="#{search.title}">Vùng tìm kiếm</span>
          </h5>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.registration.no}"
                >Registration No</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  th:field="*{registrationNo}"
                />
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.office.location}"
                >Office Location</label
              >
              <div class="col-sm-4">
                <!-- 							<input type="text" class="form-control" th:field="*{assetLocationName}"/> -->
                <select
                  th:field="*{assetLocationCode}"
                  class="form-control select2"
                >
                  <th:block th:each="item : ${lstOfficeLocaltion}">
                    <option
                      th:text="${item.name}"
                      th:value="${item.code}"
                    ></option>
                  </th:block>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.warehouse.name}"
                >Warehouse Name</label
              >
              <div class="col-sm-4">
                <!-- 							<input type="text" class="form-control" th:field="*{assetWarehouseCode}"/> -->

                <select
                  th:field="*{assetWarehouseCode}"
                  class="form-control select2"
                >
                  <th:block th:each="item : ${lstWarehouse}">
                    <option
                      th:text="${item.name}"
                      th:value="${item.code}"
                    ></option>
                  </th:block>
                </select>
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.warehouse.keeper}"
                >Property Of</label
              >
              <div class="col-sm-4">
                <!-- <input type="text" class="form-control" th:field="*{propertyOf}"/> -->
                <select class="form-control select2" th:field="*{propertyOf}">
                  <option value="">All</option>
                  <option
                    th:each="item : ${lstAssetRule}"
                    th:value="${item.cat}"
                    th:text="${item.catOfficialName}"
                    th:selected="*{propertyOf} == ${item.cat}"
                  ></option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-md-2"
                th:text="#{asset.regist.registration.date.from}"
                >Registration Date From</label
              >
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{registrationDateFrom}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>

              <label
                class="col-md-2"
                th:text="#{asset.regist.registration.date.to}"
                >Registration Date To</label
              >
              <div class="col-md-4">
                <div class="input-group date datepicker">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd/mm/yyyy"
                    autocomplete="off"
                    th:field="*{registrationDateTo}"
                  />
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.status}"
                >Status</label
              >
              <div class="col-sm-4">
                <select class="form-control" th:field="*{status}">
                  <!--     							<option value="Name" > Draft</option> -->
                  <!--                                 <option value="Address" > Waiting for Verify</option> -->
                  <!--                                 <option value="Address" > Verified</option> -->
                  <th:block th:each="item : ${listStep}">
                    <option
                      th:value="${item.value}"
                      th:text="${item.name}"
                    ></option>
                  </th:block>
                </select>
              </div>

              <label
                class="col-sm-2 label-custom"
                th:text="#{asset.regist.requester}"
                >Requester</label
              >
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control auto-complete-username"
                  th:field="*{registerBy}"
                />
              </div>
            </div>
          </div>

          <div align="center">
            <div class="position-label col-xs-12 col-sm-12">
              <a id="btnSearch" class="btn-common">
                <i class="fa fa-search"></i>
                <span th:text="#{search.button}">Tìm kiếm</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- SEARCH AREA END -->
    </form>
    <!-- HTML TABLE -->
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/asset-regist/asset-regist-table.html :: content"
      />
    </div>
    <input type="hidden" id="conditionHidd" value="{}" />
    <input type="hidden"id="urlSearch"/>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var LST_USER = /*[[${lstUser}]]*/;
      /*]]>*/
    </script>
  </body>
</html>
