<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="box-tools pull-right">
        <a class="btn-common pull-right" id="btnExport">
          <i class="fa fa-download" aria-hidden="true"></i>
          <span th:text="' '+#{common.export.data}"></span>
        </a>
      </div>
      <div class="table-responsive">
        <table id="tblDataTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th th:text="#{receipt.action}" style="width: 80px">Action</th>
              <th th:text="#{asset.regist.list.registration.no}">
                Registration No
              </th>
              <th th:text="#{asset.regist.list.location}">Location</th>
              <th th:text="#{asset.regist.list.warehouse.name}">
                Warehouse Name
              </th>
              <th th:text="#{asset.regist.list.property.of}">Property Of</th>
              <th th:text="#{asset.regist.list.register.by}">Register By</th>
              <th th:text="#{asset.regist.list.registered.date}">
                Registered Date
              </th>
              <th th:text="#{asset.regist.list.status}">Status</th>
              <th th:text="#{asset.regist.list.pending.at}">Pending At</th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="item,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr th:attr="data-id=${item.id}">
                <!-- STT -->
                <td th:text="${i.index + startIndex}" class="text-center"></td>

                <!-- Action -->
                <td class="td-action">
                  <input type="hidden" th:value="${item.curStepUser}" />
                  <div class="align-left">
                    <input
                      type="hidden"
                      th:value="${(
		                            (#authentication.getPrincipal().getUsername() == item.createdBy) 
		                            and (item.stepNo == null or item.stepNo ==0 or item.stepNo == 98) 
		                            ) 
		                            or (#authentication.getPrincipal().getUsername() == item.curStepUser )
		                            }"
                    />

                    <a
                      class="
                        glyphicon glyphicon-eye-open
                        custom-icon
                        j-btn-detail
                      "
                      th:title="#{view.button}"
                    ></a>
                    <a
                      th:if="${(
		                            (#authentication.getPrincipal().getUsername() == item.createdBy) 
                                    and (item.stepNo == null or item.stepNo ==0 or item.stepNo == 98) 
                                    and item.deleteFlag != 1
		                            ) 
                                    or (
                                    #authentication.getPrincipal().getUsername() == item.curStepUser
                                    and item.deleteFlag != 1
                                    )
		                            }"
                      class="glyphicon glyphicon-edit custom-icon j-btn-edit"
                      th:title="#{edit.button}"
                    ></a>
                    <input
                      type="hidden"
                      th:value="${#authentication.getPrincipal().getUsername()}"
                    />
                    <input type="hidden" th:value="${item.createdBy}" />
                    <a
                      th:if="${item.deleteFlag != 1 and #authentication.getPrincipal().getUsername() == item.createdBy and (item.stepNo ==0 || item.stepNo == 98)}"
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                      th:title="#{delete.button}"
                    ></a>
                    <!-- trang thai draft thi cho hien thi nut delete, reject thi an di -->
                  </div>
                </td>

                <!-- Registration No -->
                <td class="text-center" th:text="${item.registrationNo}">
                  DIAM19.00001
                </td>

                <!-- Location -->
                <td class="text-left" th:text="${item.assetLocationName}">
                  Sài Gòn
                </td>

                <!-- Warehouse Name -->
                <td class="text-left" th:text="${item.assetWarehouseName}">
                  Kho Diamond Plaza
                </td>

                <!-- Property Of -->
                <td class="text-left" th:text="${item.propertyOf}">
                  Property Of
                </td>

                <!-- Register By -->
                <td class="text-left" th:text="${item.registerBy}">HaND</td>

                <!-- Registered Date -->
                <td
                  class="text-center"
                  th:text="${item.registrationDate} ? ${#dates.format(item.registrationDate, @systemConfig.getConfig('DATE_PATTERN'))}"
                ></td>

                <!-- Status -->
                <td
                  class="text-left"
                  th:text="${item.deleteFlag != 1 ? item.statusName : '__#{item.status.delete}__'}"
                >
                  Waiting for Verify
                </td>

                <!-- Pending At -->
                <td class="text-left" th:text="${item.pendingAt}">
                  Administrator
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>

    <!-- PAGINATION -->
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content"
    />

    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/asset-regist/asset-regist-table.js}"
    ></script>
  </body>
</html>
