<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <style>
    .div-scroll-h100 {
      /* 	height: 100px; */
      /* 	max-height: 100px; */
      /* 	overflow: auto; */
      /* 	margin-bottom: 10px; */
    }
  </style>
  <body th:fragment="content">
    <div class="col-sm-12 no-padding table-responsive table-fixed-head-2">
      <table id="tempTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th
              th:if="(*{stepNo} == null or *{stepNo} == 0 or *{stepNo} == 98) and ${onlyView}== false"
              th:text="#{action.label}"
            >
              Action
            </th>
            <th
              class="required"
              th:text="#{asset.regist.edit.name.of.the.asset}"
            >
              Name of the Asset
            </th>
            <th
              class="required"
              th:text="#{asset.regist.edit.asset.description}"
            >
              Asset Description
            </th>

            <th class="required" th:text="#{p2passetsubcategory.assetCategory}">
              Asset Category
            </th>
            <th class="" th:text="#{asset.regist.edit.asset.sub.category}">
              Asset Sub Category
            </th>
            <th class="required" th:text="#{asset.regist.edit.quantity}">
              Quantity
            </th>
            <th class="required" th:text="#{asset.regist.edit.unit.of.measure}">
              Unit of Measure
            </th>

            <th class="required" th:text="#{po.add.col.unit.price}">
              Unit Price
            </th>
            <th th:text="#{po.detail.amount}">Purchase Price</th>

            <th class="" th:text="#{asset.regist.edit.serial.no}">Serial No</th>
            <th th:text="#{asset.regist.edit.imei}">IMEI</th>
            <th th:text="#{asset.regist.edit.purchase.date}">Purchase Date</th>

            <th th:text="#{asset.regist.edit.invoice.number}">
              Invoice Number
            </th>
            <th th:text="#{asset.regist.edit.pr.no}">PR No</th>
            <th th:text="#{asset.regist.edit.po.no}">PO No</th>
            <th th:text="#{asset.regist.edit.contract.no}">Contract No</th>
            <th th:text="#{asset.regist.edit.payment.no}">Payment No</th>
            <th th:text="#{asset.regist.edit.payment.date}">Payment Date</th>
            <th th:text="#{asset.regist.edit.receipt.no}">Receipt No</th>
            <th th:text="#{asset.regist.edit.receipt.date}">Receipt Date</th>
            <th th:text="#{asset.regist.edit.recipient}">Recipient</th>
            <th th:text="#{asset.regist.edit.cpu}">CPU</th>
            <th th:text="#{asset.regist.edit.ram}">RAM</th>
            <th th:text="#{asset.regist.edit.ho.hdd}">HO-HDD</th>
            <th th:text="#{asset.regist.edit.os}">OS</th>
            <th th:text="#{asset.regist.edit.note}">Note</th>
          </tr>
        </thead>
        <div class="">
          <tbody>
            <th:block th:each="detail,i  : ${lstDetail}">
              <tr
                th:attr="data-index=${i.index}, data-gr-id=${detail.grId}, data-ge-id=${detail.geId}"
              >
                <td
                  class="text-center number rownum"
                  th:text="${i.index+1}"
                ></td>
                <td
                  class="td-action"
                  th:if="(*{stepNo} == null or *{stepNo} == 0 or *{stepNo} == 98) and ${onlyView}== false"
                >
                  <div class="align-center">
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                      th:title="#{delete.button}"
                    ></a>

                    <a
                      class="
                        fa fa-copy
                        icon-head-red
                        font-size-20
                        red
                        j-btn-copy
                      "
                      th:title="#{copy.button}"
                      style="font-size: 17px"
                    ></a>
                  </div>
                </td>
                <td class="text-left">
                  <input
                    class="required-custom assetName"
                    th:id="assetName_+${i.index}"
                    th:name="data[__${i.index}__].assetName"
                    th:value="${detail.assetName}"
                  />

                  <input
                    type="hidden"
                    th:name="data[__${i.index}__].assetCode"
                    th:value="${detail.assetCode}"
                  />
                  <input
                    type="hidden"
                    class="id-detail"
                    th:name="data[__${i.index}__].id"
                    th:value="${detail.id}"
                  />
                  <input
                    type="hidden"
                    th:name="data[__${i.index}__].vendorCode"
                    th:value="${detail.vendorCode}"
                  />
                  <input
                    type="hidden"
                    th:name="data[__${i.index}__].vendorName"
                    th:value="${detail.vendorName}"
                  />
                  <input
                    type="hidden"
                    class="grDetailId"
                    th:name="data[__${i.index}__].grDetailId"
                    th:value="${detail.grDetailId}"
                  />
                  <input
                    type="hidden"
                    class="geId"
                    th:name="data[__${i.index}__].geId"
                    th:value="${detail.geId}"
                  />
                </td>
                <td class="text-left">
                  <textarea
                    class="required-custom assetDescription"
                    th:id="assetDescription_+${i.index}"
                    th:name="data[__${i.index}__].assetDescription"
                    th:text="${detail.assetDescription}"
                  ></textarea>
                </td>

                <td class="text-center" style="min-width: 150px">
                  <select
                    th:id="assetCategoryCode_+${i.index}"
                    class="
                      select2
                      required-custom
                      select-table-detail
                      assetCategory
                    "
                    th:name="data[__${i.index}__].assetCategoryCode"
                    th:classappend="assetCategoryCode-+${i.index}"
                  >
                    <th:block th:each="item : ${lstAssetCategory}">
                      <option
                        th:text="${item.name}"
                        th:value="${item.code}"
                        th:selected="${item.code == detail.assetCategoryCode}"
                      ></option>
                    </th:block>
                  </select>

                  <input
                    type="hidden"
                    class="assetCategoryHidden"
                    th:value="${detail.assetCategoryCode}"
                  />
                </td>

                <td class="text-center" style="min-width: 150px">
                  <select
                    class="select2 assetSubCategoryCode select-table-detail"
                    th:name="data[__${i.index}__].assetSubCategoryCode"
                  >
                    <th:block th:each="item : ${lstSubCategory}">
                      <option
                        th:text="${item.name}"
                        th:value="${item.code}"
                        th:attr="data-category=${item.assetCategoryCode}"
                        th:selected="${item.code == detail.assetSubCategoryCode}"
                      ></option>
                    </th:block>
                  </select>
                  <input
                    type="hidden"
                    class="assetSubCategoryHidden"
                    th:value="${detail.assetSubCategoryCode}"
                  />
                </td>

                <td class="text-center" style="width: 50px">
                  <input
                    th:name="data[__${i.index}__].quantity"
                    class="text-right big-number quantity required-custom"
                    th:classappend="${detail.grDetailId} !=null ?  quantity-gr-+${detail.grDetailId} : ''"
                    type="text"
                    th:value="${detail.quantity}"
                  />
                </td>
                <td class="text-left" style="min-width: 150px">
                  <select
                    th:name="data[__${i.index}__].uomCode"
                    class="select2 required-custom"
                  >
                    <th:block th:each="unit : ${lstUnit}">
                      <option
                        th:value="${unit.code}"
                        th:text="${unit.name}"
                        th:selected="${detail.uomCode == unit.code}"
                      ></option>
                    </th:block>
                  </select>

                  <input
                    type="hidden"
                    th:name="data[__${i.index}__].uomName"
                    th:value="${detail.uomName}"
                  />
                  <!-- lstUnit -->
                </td>

                <td class="text-right">
                  <!--  unit price -->
                  <input
                    th:name="data[__${i.index}__].unitPrice"
                    class="text-right big-number unitPrice required-custom"
                    type="text"
                    th:value="${detail.unitPrice}"
                  />
                </td>

                <td class="text-right">
                  <!--  amount -->
                  <input
                    th:name="data[__${i.index}__].purchasePrice"
                    class="text-right big-number purchasePrice"
                    readonly="readonly"
                    type="text"
                    th:value="${detail.purchasePrice}"
                  />
                </td>

                <td>
                  <input
                    th:id="serialNumber_+${i.index}"
                    th:name="data[__${i.index}__].serialNumber"
                    class="text-left"
                    type="text"
                    th:value="${detail.serialNumber}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].imei"
                    class="text-left"
                    type="text"
                    th:value="${detail.imei}"
                  />
                </td>
                <td>
                  <input
                    disabled="disabled"
                    th:name="data[__${i.index}__].purchaseDate"
                    class="text-center date date-picker"
                    th:value="${detail.purchaseDate!=null}? ${#dates.format(detail.purchaseDate, session.formatDate)}"
                  />
                </td>

                <td>
                  <textarea
                    disabled="disabled"
                    th:name="data[__${i.index}__].invoiceNumber"
                    class="text-left"
                    th:text="${detail.invoiceNumber}"
                  ></textarea>
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].prNo"
                    class="text-left"
                    type="text"
                    disabled="disabled"
                    th:value="${detail.prNo}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].poNo"
                    class="text-left"
                    type="text"
                    disabled="disabled"
                    th:value="${detail.poNo}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].contractNo"
                    class="text-left"
                    disabled="disabled"
                    type="text"
                    th:value="${detail.contractNo}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].paymentNo"
                    class="text-left"
                    type="text"
                    disabled="disabled"
                    th:value="${detail.paymentNo}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].paymentDate"
                    class="text-center date date-picker"
                    disabled="disabled"
                    th:value="${detail.paymentDate!=null}? ${#dates.format(detail.paymentDate, session.formatDate)}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].receiptNo"
                    class="text-left"
                    type="text"
                    th:value="${detail.receiptNo}"
                    disabled="disabled"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].receiptDate"
                    class="text-left date date-picker"
                    disabled="disabled"
                    type="text"
                    th:value="${detail.receiptDate!=null}? ${#dates.format(detail.receiptDate, session.formatDate)}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].recipientFullname"
                    class="text-left"
                    disabled="disabled"
                    type="text"
                    th:value="${detail.recipientFullname}"
                  />
                  <input
                    th:name="data[__${i.index}__].recipient"
                    type="hidden"
                    th:value="${detail.recipient}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].cpu"
                    class="text-left"
                    type="text"
                    th:value="${detail.cpu}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].ram"
                    class="text-left"
                    type="text"
                    th:value="${detail.ram}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].hdd"
                    class="text-left"
                    type="text"
                    th:value="${detail.hdd}"
                  />
                </td>
                <td>
                  <input
                    th:name="data[__${i.index}__].os"
                    class="text-left"
                    type="text"
                    th:value="${detail.os}"
                  />
                </td>
                <td>
                  <textarea
                    th:name="data[__${i.index}__].remark"
                    class="text-left"
                    th:text="${detail.remark}"
                  ></textarea>
                </td>
              </tr>
            </th:block>
          </tbody>
        </div>
      </table>
    </div>
    <script
      type="text/javascript"
      id="srcScript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/asset-regist/asset-regist-edit-table.js}"
    ></script>
  </body>
</html>
