.radio-item {
    width: 100%;
    padding: 8px;
}

.round-radio {
    display: flex;
    align-items: end;
}

.custom-radio {
    margin-right: 10px;
    align-items: center;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.radio-item__text {
    font-size: 1.4rem;
    color: #292929;
    font-weight: 600;
    line-height: 22px;
    margin-left: 1.2rem;
}

.custom-radio input {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}

.custom-radio .radio-item__checkmark {
    position: relative;
    width: 19px;
    height: 19px;
    border: 1.5px solid #de181f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    margin-right: 6px;
    min-width: 19px;
}

.custom-radio .radio-item__checkmark::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    top: 53%;
    left: 53%;
    background: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-radio input:checked ~ .radio-item__checkmark::after {
    background: #de181f;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .custom-radio .radio-item__checkmark::after {
        top: 53%;
        left: 50%;
    }
}