.custom-date-picker {
    width: 48%;
}

.custom-date-picker__inputdate {

}

.custom-date-picker__inputdate-wrapper {
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    padding: 8px 12px 8px 16px;
}

.custom-date-picker__inputdate .ant-picker-focused {
    border: 1px solid #A7732C !important;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(167, 115, 44) !important;
}

.custom-date-picker__inputdate .ant-picker-input {
    padding-right: 13px;
    border-radius: 6px;
    border-color: #fff !important;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.custom-date-picker__inputdate input {
    background: #fff;
    width: 100%;
    border: 0px solid #e6e6e6;
    border-radius: 6px;
    padding: 8px 12px 8px 8px;
    transition: 0.2s;
    font-family: "Inter", sans-serif;
}

.ant-picker-suffix {
    color: #727272;
    margin-right: 6px;
}

.ant-picker-input > input:hover {
    border: none !important;
}

.ant-picker:hover{
    border: 1px solid #A7732C !important;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(167, 115, 44) !important;
}