<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <form class="form-horizontal u-for-page-top j-formSearch" th:object="${searchDto}" method="POST" role="form"
		th:action="@{/}" id="formSearch">
        <div class="bg-content clearfix">
            <div data-toggle="collapse" data-target="#search-box" class="header-box">
                <h2 class="title-box" th:text="#{search.title}">Vùng tìm kiếm</h2>
                <i class="fa fa-minus pull-right" aria-hidden="true"></i>
            </div>
            <div class="collapse in row m-0" id="search-box">
                <div class="row form-group align-items-center">
                	<label class="col-md-2" th:text = "#{presentation.channel}">Channel</label>
					<div class="col-sm-4">
						<select class="form-control select2 cbxUseFor"
							th:field="*{channel}" data-placeholder="All">
							<option value=""></option>
							<!-- <option th:each="item : ${listOfficeCode}" th:value="${item.id}"
								th:text="${item.text}"></option> -->
						</select>
					</div>
					
			     	<label class="col-md-2" th:text = "#{presentation.status}" >Status</label>
					<div class="col-sm-4">
						<select class="form-control select2 cbxUseFor"
							th:field="*{status}" data-placeholder="All">
							<option value=""></option>
							<!-- <option th:each="item : ${listOfficeCode}" th:value="${item.id}"
								th:text="${item.text}"></option> -->
						</select>
					</div>
				</div>
				<div class="row form-group align-items-center">
					<div class="col-md-12 center" style="text-align: center;">
						<a class="btn-common" id="btnRefresh"> <i class="fa fa-refresh"></i>
								<span th:text="#{refresh.button}"></span>
						</a>
						<a class="btn-common" id="btnSearch"> <i class="fa fa-search"></i>
							<span th:text="#{search.button}"></span>
						</a>
					</div>
				</div>
			</div>
        </div>
</form>

    <script type="text/javascript" th:src="@{/static/cache/js/jpm-process/jpm-process-search.js}"></script>
</body>
</html>