<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body"
>
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <script
    type="text/javascript"
    th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"
  ></script>
  <script>
    $(document).ready(function ($) {
      $("#btnAdd").on("click", function (event) {
        showModal();
      });
    });

    function showModal() {
      $("#myModal").modal("show");
      $("#myModal").css("z-index", 5000);
    }

    /* Tranlth 27/05/2019 Thêm mới Task #23724*/
    function checkStatus(event) {
      if (event.checked) {
        $(".chkStatus").prop("checked", true);
      } else {
        $(".chkStatus").prop("checked", false);
      }
    }
    /* End*/
  </script>
  <!-- header page start -->
  <div class="title-head clearfix">
    <div class="col-sm-9 col-xs-7 no-padding">
      <h3><i class="fa fa-table"></i>Asset Return</h3>
    </div>
    <div class="col-sm-3 col-xs-5 icon-head">
      <div class="pull-right">
        <a>
          <i
            class="fa fa-arrow-circle-left icon-head-red"
            th:title="#{back.button}"
            id="linkList"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <form
    class="form-horizontal u-for-page-top j-form-validate"
    id="form-assetreturn-detail"
    th:action="@{/asset-return/edit}"
    th:object="${assetReturnDto}"
    method="post"
    role="form"
  >
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
    />

    <input type="hidden" th:field="*{assetReturnId}" />
    <!-- DETAIL -->
    <!-- process Title, Code, Name, Description start -->
    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box">
        <h2 class="title-box">Return Information</h2>
      </div>
      <div class="col-sm-12 p-0">
        <div class="form-group">
          <label class="col-sm-2 required">Return No</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              th:field="*{returnNo}"
              readonly="readonly"
            />
          </div>

          <div class="form-group">
            <label class="col-sm-2">Return Date</label>
            <div class="col-sm-4">
              <div class="input-group datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  name="returnDate"
                  th:value="${assetReturnDto.returnDate} ? ${#dates.format(assetReturnDto.returnDate, @menuConfig.getFormDate())}"
                  readonly="readonly"
                />
                <!-- 							<input class="form-control" type="hidden" -->
                <!-- 								th:field="*{returnDate}" /> -->
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Return By</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              readonly="readonly"
              th:field="*{returnFullname}"
            />
            <input
              type="hidden"
              class="form-control"
              th:field="*{returnUsername}"
            />
          </div>

          <label class="col-sm-2">Return Dept.</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              th:field="*{returnDeptFullOption}"
              readonly="readonly"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2"
            >Owner<span style="color: red"> *</span></label
          >
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control required"
              data-rule-maxlength="255"
              th:field="*{assetOwnerFullname}"
              disabled="disabled"
            />
            <input
              type="hidden"
              class="form-control"
              th:field="*{assetOwnerUsername}"
            />
          </div>

          <label class="col-sm-2">Owner Dept.</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              th:field="*{assetOwnerDeptFullOption}"
              readonly="readonly"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">Warehouse</label>
          <div class="col-sm-4">
            <select
              class="form-control"
              th:field="*{warehouse}"
              disabled="disabled"
            ></select>
          </div>

          <label class="col-sm-2">Location</label>
          <div class="col-sm-4">
            <select
              class="form-control"
              th:field="*{location}"
              disabled="disabled"
            ></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 required">Reason for Return</label>
          <div class="col-sm-10">
            <textarea
              type="text"
              class="form-control required"
              th:field="*{reasonForReturn}"
              readonly="readonly"
            >
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-content clearfix bg-content-tbl">
      <div class="header-box col-md-5 p-0">
        <h2 class="title-box">Asset Detail Information</h2>
      </div>

      <!--<div class="col-md-7 p-0">
			<div class="pull-right">
				<a class="btn-common" id="btnAdd" th:if="${#authorization.expression('hasAuthority(@roleEp2p.ROLE_ASSET_RETURN_MAKER_SUBMIT)')} and (${assetReturnDto.processStatusCode} == 0 or ${assetReturnDto.processStatusCode} == 98)"> <i class="fa fa-plus"
					aria-hidden="true" ></i> <span>Add</span>
				</a>
			</div>  
		</div>-->
      <div class="col-sm-12 p-0">
        <div class="table-responsive col-sm-12 no-padding">
          <table id="tblDataTable1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="min-width: 120px">Asset Type</th>
                <th style="min-width: 155px">Name of the Asset</th>
                <th style="min-width: 50px">Asset Sub Category</th>
                <th style="min-width: 50px">Asset Status</th>
                <th style="min-width: 180px">Serial No</th>
                <th style="min-width: 100px">Asset Tag No</th>
                <th style="min-width: 120px">Quantity</th>
                <th style="min-width: 120px">Unit of Measure</th>
                <th style="min-width: 120px">Register Date</th>
              </tr>
            </thead>
            <tbody>
              <th:block th:each="item,i : ${assetReturnDto.lstPrApproved}">
                <tr
                  class="row_pr align-top rownum"
                  th:attr="id=${'pr_' + item.id},data-index=${i.index},data-process=${assetReturnDto.processStatusCode}"
                >
                  <td class="text-left" th:text="${item.assetTypeName}"></td>
                  <td class="text-left" th:text="${item.assetName}"></td>
                  <td
                    class="text-left"
                    th:text="${item.assetSubCategoryName}"
                  ></td>
                  <span th:if="${item.assetStatus == '0'}"
                    ><td class="text-left">New</td></span
                  >
                  <span th:if="${item.assetStatus == '1'}"
                    ><td class="text-left">In-Use</td></span
                  >
                  <span th:if="${item.assetStatus == '2'}"
                    ><td class="text-left">Re-Use</td></span
                  >
                  <span th:if="${item.assetStatus == '5'}"
                    ><td class="text-left">Broken</td></span
                  >
                  <span th:if="${item.assetStatus == '6'}"
                    ><td class="text-left">Repairing</td></span
                  >
                  <span th:if="${item.assetStatus == '7'}"
                    ><td class="text-left">Obsolete</td></span
                  >
                  <td class="text-left" th:text="${item.serialNo}"></td>
                  <td class="text-left" th:text="${item.assetTag}"></td>
                  <td class="text-center" th:text="${item.quantity}"></td>
                  <td class="text-left" th:text="${item.uomName}"></td>
                  <td
                    class="text-center"
                    th:text="${item.assetRegisterDate} ? ${#dates.format(item.assetRegisterDate, @menuConfig.getFormDate())}"
                  ></td>
                </tr>
              </th:block>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <input type="hidden" th:value="${refAttachment}" th:name="refAttachment" />
    <input type="hidden" th:field="*{processId}" id="processId" />
    <input
      type="hidden"
      th:value="${assetReturnDto.assetReturnId}"
      id="abtract-reference-id"
    />
    <input type="hidden" th:field="*{createdBy}" />
    <input type="hidden" th:field="*{stepNo}" />
    <input type="hidden" th:field="*{processStatusCode}" />
    <input type="hidden" th:field="*{comments}" id="commentsId" />
    <input type="hidden" th:field="*{owner}" id="ownerId" />
    <input type="hidden" th:field="*{assignee}" id="assigneeId" />
    <input
      type="hidden"
      th:field="*{businessCode}"
      id="abtract-business-code"
    />
    <input type="hidden" th:field="*{stepId}" id="abtract-step-id" />
  </form>

  <!-- AttachedFile -->
  <div id="attachedFileContent">
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/attached-file-module/attached-file-plugin.html :: content(${lstAttachedFile},${businessCode},${refAttachment})"
    />
  </div>

  <!-- process -->
  <th:block
    th:include="/views/ASSET_MANAGEMENT_MODULE/approval-module/approval-plugin.html :: content(${approvalModuleDto},'form-assetreturn-edit','asset-return', ${@roleEp2p.ROLE_ASSET_RETURN},'')"
  />

  <script th:inline="javascript">
    /*<![CDATA[*/
    var selectedAccount = /*[[${assetReturnDto.assetOwnerFullname}]]*/;
    var selectedWarehouse = /*[[${assetReturnDto.warehouse}]]*/;
    var selectedLocation = /*[[${assetReturnDto.location}]]*/;
    /*]]>*/
  </script>
  <script
    type="text/javascript"
    th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/assetreturn/assetreturn-edit.js}"
  ></script>
</html>
