<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">

<body>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#tabLanguage a').click(function(event) {
            event.preventDefault();
            $(this).tab('show');
        });
    });
    </script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var LANGUAGE_LIST = /*[[${languageList}]]*/ ;
    /*]]>*/
    </script>
    <div class="title-head clearfix">
	   <div class="col-sm-10 col-xs-12 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{recommend.link.edit.title}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-2 col-xs-12 icon-head">
	        <div class="pull-right">
				<a id="linkList">
					<i class="fa fa-arrow-circle-left icon-head-red"></i>
				</a>
                <a id="add" th:if="${#authorization.expression('hasAuthority(@roleConstant.RECOMMEND_LINK)')}">
					<i class="fa fa-plus-circle icon-head-red"></i>
				</a>
				<a class="font17 btn-save" th:if="${#authorization.expression('hasAuthority(@roleConstant.RECOMMEND_LINK)')}"> 
					<i class="fa fa-save"></i>
				</a>
	        </div>
	   </div>
	</div>	

        
     <form class="form-horizontal u-for-page-top j-form-validate" id="form-recommend-link-edit" th:object="${recDto}" method="post" role="form">
         <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
         <input type="hidden" th:field="*{id}" />
         <div class="bg-content clearfix">
         	<div class="header-box">
          <h3 class="title-box" th:text="#{recommend.link.edit.title.1}">Update product</h3>
      </div>
             <div class="col-xs-offset-0 col-md-offset-3 col-xs-12 col-md-6">
                 <div class="form-group">
                     <label class="col-sm-3 required " for="code" th:text="#{recommend.edit.title}" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">Mã gợi nhớ</label>
                     <div class="col-sm-9" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
                         <input type="text" th:field="*{code}" class="form-control j-required j-code j-maxlength " style="text-transform: uppercase;" />
                         <span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
                     </div>
                 </div>
                 <!-- Show language -->
                 <div class="form-group">
                     <label class="col-sm-3" th:text="#{recommend.link.language}">Ngôn ngữ</label>
                     <div class="col-sm-9">
                         <ul class="nav nav-tabs" id="tabLanguage">
                             <th:block th:each="language, i : ${languageList}">
                                 <li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabLanguage + ${i.index}">
                                     <a th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
                                 </li>
                             </th:block>
                         </ul>
                     </div>
                 </div>
                 <div class="tab-content">
                     <th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
                         <div th:id="'language' + ${index}" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">
                             <div class="row form-group">
                                 <label for="listLanguages[__${index}__].name" class="col-sm-3 required" th:classappend="${#fields.hasErrors('listLanguages[__${index}__].name')} ? has-error : ''" th:text="#{recommend.link.name}">Tên gợi nhớ</label>
                                 <div class="col-sm-9" th:classappend="${#fields.hasErrors('listLanguages[__${index}__].name')} ? has-error : ''">
                                     <input th:field="*{listLanguages[__${index}__].name}" type="text" class="form-control j-maxlength j-required" data-rule-maxlength="255" maxlength="255" />
                                     <span class="help-block" th:if="${#fields.hasErrors('listLanguages[__${index}__].name')}" th:errors="*{listLanguages[__${index}__].name}"></span>
                                 </div>
                             </div>
                             <input type="hidden" th:field="*{listLanguages[__${index}__].id}" />
                             <input type="hidden" th:field="*{listLanguages[__ ${index}__].mRecommendLinkId}" />
                             <input type="hidden" th:name="'listLanguages[' + ${index} + '].mLanguageId'" th:value="${language.code}" />
                         </div>
                     </th:block>
                 </div>
                 <div class="form-group">
                     <label class="col-sm-3 required " for="link" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">Link</label>
                     <div class="col-sm-9" th:classappend="${#fields.hasErrors('link')} ? has-error : ''">
                         <input type="text" th:field="*{link}" class="form-control j-required  " />
                         <span class="help-block" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
                     </div>
                 </div>
             </div>
             <input type="hidden" id="url" name="url" th:value="${recDto.url}" />
             <!-- End add google Map -->
             <div class="col-sm-12 footer-box-bg">
                 <a class="btn-cancel"  id="cancel">
                 	<i class="fa fa-times"></i>
                 	<span th:text="#{cancel.button}">Thoát</span>
                 </a>
                 <a class="btn-common btn-save" th:if="${#authorization.expression('hasAuthority(@roleConstant.RECOMMEND_LINK)')}">
                 	<i class="fa fa-floppy-o" aria-hidden="true"></i>
                 	<span th:text="#{save.button}">Lưu</span>
                 </a>
             </div>
         </div>
     </form>
 
    <script type="text/javascript" th:src="@{/static/cache/js/recommend-link/recommend-link-edit.js}"></script>
</body>

</html>