<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
    <div class="col-sm-12 no-padding">
        <div class="table-responsive">
            <table class="table table-bordered table-hover out-tbl">
                <thead>
                    <tr>
                        <th class="u_t_no">#</th>
                        <th class="u_t_action" th:text="#{action.label}">Thao tác</th>
                        <th class="u_t_code" th:text="#{recommend.edit.title}">Mã gợi nhớ</th>
                        <th class="u_t_title" th:text="#{recommend.link.name}">Tên gợi nhớ</th>
                        <th th:text="#{recommend.link.link}">Link</th>
                        <th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
                        <tr th:attr="data-recommend-link-id=${item.id}">
                            <td class="text-center" th:text="${i.index + startIndex}"></td>
                            <td class="td-action">
                                <div class="btn-group">                            
	                               <a class="glyphicon glyphicon-eye-open j-btn-detail" title="Detail"></a>
			                       <a class="glyphicon glyphicon-edit j-btn-edit" title="Update"
			                       th:if="${#authorization.expression('hasAuthority(@roleConstant.RECOMMEND_LINK)')}"></a>	                            
			                       <a class="glyphicon glyphicon-remove-sign j-btn-delete" title="Delete"
			                       th:if="${#authorization.expression('hasAuthority(@roleConstant.RECOMMEND_LINK)')}"></a>		                            
	                            </div>
                            </td>
                            <td th:text="${item.code}" style="text-transform: uppercase;"></td>
                            <td th:text="${item.name }"></td>
                            <td th:text="${item.link }"></td>
                            <td class="text-center" th:text="${item.createdDate }? ${#dates.format(item.createdDate, @menuConfig.getFormDate())}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <th:block th:include="views/commons/pagination.html :: content" />
    <script type="text/javascript" th:src="@{/static/cache/js/recommend-link/recommend-list-table.js}"></script>
</body>

</html>