<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">



    <!-- <div class="col-sm-12"> -->
    <div class="col-sm-12 p-0">



		<!-- <div class="col-sm-7 no-padding">
		  <h2
		    class="sub-header section-heading"
		    th:text="#{search.results.title}"
		  >
		    Kết quả tìm kiếm
		  </h2>
		</div> -->
		<div class="col-sm-7 p-0">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
		</div>
      

      <div class="col-sm-5 no-padding">
        <span class="pull-right">
          <button id="btnSort" type="button" class="btn-common">
            <i class="fa fa-sort"></i>
            <span th:text="#{btn.title.list-order}">Sắp sếp lại</span>
          </button>

          <button class="btn-common" type="button" id="btnExport">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span th:text="#{document.versionlist.download}">Tải về</span>
          </button>
        </span>
      </div>
      <div class="table-responsive col-sm-12 no-padding">
        <table
          id="categoryTreeGrid"
          class="table table-bordered table-striped table-hover"
        >
          <thead>
            <tr>
              <th class="u_t_no">#</th>
              <th class="u_t_action" th:text="#{introduction.category.action}">
                Thao tác
              </th>
              <th th:text="#{introduction.category.code}">Mã</th>
              <th th:text="#{introduction.category.label}">Tên danh mục</th>
              <th th:text="#{introduction.category.picture.introduction}">
                Hình giới thiệu
              </th>
              <th th:text="#{introduction.category.main.item}">Mục chính</th>
              <th th:text="#{introduction.category.enabled}">Kích hoạt</th>
              <th th:text="#{introduction.category.status}">Trạng thái</th>
              <th th:text="#{introduction.category.createby}">Người tạo</th>
              <th
                class="u_t_date"
                th:text="#{introduction.category.createdate}"
              >
                Ngày tạo
              </th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="cate, i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr
                th:attr="data-category-id=${cate.id}"
                th:class="'trEdit ' + 'treegrid-'+${cate.id} +(${cate.parentId}? (' treegrid-parent-'+${cate.parentId}):'')"
              >
                <td th:text="${i.index + startIndex}" class="align-center"></td>
                <td class="text-center">
                  <!-- Edit -->
                  <a
                    type="button"
                    class="j-btn-edit glyphicon glyphicon-edit custom-icon"
                    th:if="${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTRODUCTION_CATEGORY_EDIT}__'')')}"
                  >
                  </a>

                  <!-- Delete -->
                  <a
                    type="button"
                    class="
                      j-btn-delete
                      glyphicon glyphicon-remove-sign
                      font-size-20
                      red
                    "
                    th:if="(${cate.status eq @stepNoStatusConstant.STEP_DRAFT}
					              					or ${cate.status eq @stepNoStatusConstant.STEP_REJECTED})
					              			and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTRODUCTION_CATEGORY_EDIT}__:Edit'')')}"
                  >
                  </a>
                </td>
                <td th:text="${cate.code}"></td>
                <td th:text="${cate.title}"></td>
                <td class="text-center">
                  <span th:if="${cate.pictureIntroduction}"
                    ><img th:src="@{/static/icons/icon-check-blue-1.png}"
                  /></span>
                </td>
                <td class="text-center">
                  <span th:if="${cate.typeOfMain}"
                    ><img th:src="@{/static/icons/icon-check-blue-1.png}"
                  /></span>
                </td>
                <td class="text-center">
                  <span th:if="${cate.enabled}"
                    ><img th:src="@{/static/icons/icon-check-blue-1.png}"
                  /></span>
                </td>
                <td th:text="${cate.statusName}"></td>
                <td th:text="${cate.createBy}"></td>
                <td
                  th:text="${cate.createDate} ? ${#dates.format(cate.createDate, 'dd-MM-yyyy')}"
                  class="align-center"
                ></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
    <div class="table-footer">
      <th:block th:include="views/commons/pagination.html :: content" />
    </div>
    <script
      type="text/javascript"
      th:src="@{/static/CMS/all/introduction/category/introduction-category-list.js}"
    ></script>
  </body>
</html>
