<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap-select-1.12.4/css/bootstrap-select.css}" />
<script type="text/javascript" th:src="@{/static/ckeditor_4.4.3_full/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{/static/ckfinder/ckfinder.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/moxie.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/plupload.dev.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/bootbox/bootbox.js}"></script>
<script type="text/javascript" th:src="@{/static/ckeditor_4.4.3_full/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#tabLanguage a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
</script>
<script th:inline="javascript">
 	/*<![CDATA[*/
	var HEIGHT = 120;
	/*]]>*/
</script>
<body>
<script th:inline="javascript">
		/*<![CDATA[*/
		var LANGUAGE_LIST = /*[[${updateDto.infoByLanguages}]]*/;
		/*]]>*/
</script>
<!-- <div class="row main-heading ">
	<div class="row unit-border-bottom"> -->
	<div class="title-head clearfix">



		<!-- <div class="col-sm-8">
			<h2 class="mar-tb-no blue" th:text="#{introduction.category.edittitle}">Tiêu đề trang</h2>
		</div> -->
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{banner.edit.title}">Tiêu đề trang</span>
			</h3>
		</div>



		<div class="col-sm-4 align-right ml-auto">
           <a class="u-btn-head" id="btnListCategory-1">
				<img th:src="@{/static/icons/icon-back.png}"/>
				<span th:title="#{icon.back}">Trở lại</span>
			</a>
          		<a class="u-btn-head" id="addNew" th:if="${updateDto.id != null} and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTRODUCTION_CATEGORY_EDIT}__:Edit'')')}">
				<img th:src="@{/static/icons/icon-plus-white.png}"/>
				<span>Thêm mới</span>
			</a>
			
		</div>
	</div>
	<!-- </div>
</div> -->

<section class="content">
	
	<form id="validateform" th:object="${updateDto}"
		method="post" class="form-horizontal u-for-page-top j-form-validate">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="row unit-bg-com">		
			<input type="hidden" th:field="*{id}"></input>
			<input type="hidden" th:field="*{url}"></input>
			<div class="row">
				<div class="col-xs-12 col-sm-12 no-padding">
					<div class="col-md-6">
						<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
							<label th:Text="#{introduction.category.code}"
								for="code" class="col-sm-4 control-label">Mã</label>
							<div class="col-sm-8">
								<input th:if="(${updateDto.id}!=null)" th:field="*{code}" type="hidden" class="form-control"
									placeholder=""/>
								<input th:field="*{code}" type="text" class="form-control text-uppercase" th:classappend="${#fields.hasErrors('code')} ? has-error : ''"
									placeholder="" th:disabled="(${updateDto.id}!=null)" th:readonly="true" tabindex="1"/>
								<span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="col-sm-6 col-md-6">
							<input id="typeOfMain" type="checkbox" th:field="*{typeOfMain}" value="false"/>
							<label class="control-label" th:text="#{introduction.category.main.item}">Mục chính</label>
						</div>
							
						<div class="col-sm-6 col-md-6">
							<input id="pictureIntroduction" type="checkbox" th:field="*{pictureIntroduction}"/>
							<label class="control-label" th:text="#{introduction.category.picture.introduction}">Hình giới thiệu</label>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 no-padding">
					<div class="col-md-6">
						<div class="form-group" id="hideVideo">
							<label  class="lb_language col-sm-4 control-label" th:text="#{banner.video}">Video đính kèm</label>
							<div class="controls col-sm-8">
								<div>
									<div class="wrap_upload">
										<div th:id="videoContainer"  class="hide" style="height: 170px; width: 100%;"></div>
										<a th:id="videoPickfiles" class="glyphicon glyphicon-upload font-size-20" th:title="#{icon.add}" href="javascript:void(0)"></a><span>(.avi, .wmv, .wma, .mp4, .flv  ...)</span>
										<a class="glyphicon glyphicon-remove-circle font-size-20 red" th:onclick="'deleteVideo(' + ${index} + ')'" th:title = "#{icon.delete}" style="top: 1px;"></a>
									</div>
								</div>
								<div>
									<div class="wrap_video" th:id="wrap_video">
										<pre th:id="videoConsole" style="display: none"></pre>
										<div th:id="videoFilelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
											<div class="wrap_object" th:id="wrap_object">
												<div th:id="videoContent" class="videoContent"></div>
											</div>
										<input type="hidden" th:id="physicalVideo" th:field = "*{bannerPhysicalVideo}"/>
										<input type="hidden" th:id="bannerVideo" th:field = "*{bannerVideo}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<label class="col-sm-4 col-md-2 control-label" th:text="#{introduction.category.language}">Ngôn ngữ</label>
						<div class="col-sm-8 col-md-10 pleft-10 gr-tab">
							<ul class="nav nav-tabs" id="tabLanguage">
								<th:block th:each="detailByLang,status : ${updateDto.infoByLanguages}" >
									<li role="presentation" th:classappend="${status.index == updateDto.indexLangActive}  ? 'active' : ''" th:id="tabLanguage + ${status.index}">
										<a th:href="'#language' + ${status.index}" th:text="${detailByLang.languageDispName}"></a>
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<div class="tab-content" style="margin-top: 10px">
						<!-- tab vietnamese -->
							<th:block th:each="detailByLang,status : ${updateDto.infoByLanguages}" th:with="index=${status.index}">
								<div th:id="${'language' + status.index}" class="tab-pane fade " th:classappend="${index == updateDto.indexLangActive}  ? 'in active' : ''">
									<input type="hidden"
										th:field="*{infoByLanguages[__${status.index}__].id}" 
										th:value="${detailByLang.id}"/> 
									<input type="hidden"
										th:field="*{infoByLanguages[__${status.index}__].languageCode}" 
										th:value="${detailByLang.languageCode}"/> 
									<input type="hidden"
										th:field="*{infoByLanguages[__${status.index}__].languageDispName}" 
										th:value="${detailByLang.languageDispName}"/> 
									<div class="col-md-12 no-padding">
										<div class="form-group">
											<label for="banner.position.left"
													class="col-sm-4 col-md-2 control-label required" th:text="#{introduction.category.label}">Tên danh mục</label>
											<div class="col-md-10 col-sm-8 pleft-10">
												<input type="text" class="form-control j-required" th:classappend="${#fields.hasErrors('infoByLanguages[__${status.index}__].label')} ? has-error : ''"
												th:field="*{infoByLanguages[__${status.index}__].label}" placeholder="Danh mục thông tin giới thiệu"/>
												<span class="help-block" th:if="${#fields.hasErrors('infoByLanguages[__${status.index}__].label')}" th:errors="*{infoByLanguages[__${status.index}__].label}"></span>
											</div>
										</div>
									</div>
									<div class="form-group" >
										<label th:text="#{product.seo}" for="name"
												class="col-sm-2 control-label required">Từ khóa SEO</label>
										<div class="col-sm-10 pleft-10">
											<input th:field="*{infoByLanguages[__${index}__].linkAlias}" type="text"
												class="form-control j-required j-maxlength j-link-alias"
												data-rule-maxlength="255" placeholder="danh-muc-thong-tin-gioi-thieu" tabindex="7" /> 
											<span class="help-block error" th:if="${#fields.hasErrors('infoByLanguages[__${index}__].linkAlias')}"
												th:errors="*{infoByLanguages[__${index}__].linkAlias}"></span>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 no-padding">
										<div class="form-group" th:classappend="${#fields.hasErrors('infoByLanguages[__${index}__].keyWord')} ? has-error : ''">
											<label class="col-sm-2 col-md-2 control-label"
												th:text="#{product.key.word}">Từ khóa</label>
											<div class="col-sm-10 pleft-10">
												<input type="text" class="form-control j-maxlength"
													data-rule-maxlength="255" th:field="*{infoByLanguages[__${index}__].keyWord}" tabindex="12" placeholder="#danhmucthongtingioithieu"/>
												<span class="help-block" th:if="${#fields.hasErrors('infoByLanguages[__${index}__].keyWord')}"
													th:errors="*{infoByLanguages[__${index}__].keyWord}"></span>
											</div>
										</div>
										<div class="form-group" >								
											<label for="name" class="col-sm-2 control-label ">Mô tả từ khóa</label>
											<div class="col-sm-10 pleft-10">
												<input type="text" class="form-control j-maxlength" data-rule-maxlength="255" placeholder="Mô tả cho từ khóa #danhmucthongtingioithieu" 
												th:field="*{infoByLanguages[__${index}__].descriptionKeyword}" tabindex="" />		
											</div>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 no-padding">
										<div class="form-group">
											<label for="banner.position.left"
													class="col-sm-4 col-md-2 control-label" th:text="#{introduction.category.language.description}">Giới thiệu vắn tắt</label>
											<div class="col-sm-8 col-md-10 pleft-10">
												<textarea cols="20" rows="20"
														th:id="'shortContent' + ${index} "
														th:name="infoByLanguages[__${index}__].shortContent"
														th:text="*{infoByLanguages[__${index}__].shortContent}"
														class="form-control content">
												</textarea>
												<script th:inline="text">
			                                          CKEDITOR.replace('shortContent' + '[[${index}]]' , {
			                                           	height							: HEIGHT,
			                                          		filebrowserBrowseUrl 		: '',
			                                          		filebrowserImageBrowseUrl 	: '',
			                                     			filebrowserImageUploadUrl	: BASE_URL + "introduction-category/editor/upload?requesttoken=" + '[[${updateDto.requestToken}]]',
			                                     			filebrowserUploadUrl		: BASE_URL + "introduction-category/editor/file/upload?requesttoken=" + '[[${updateDto.requestToken}]]',
			                                     			extraPlugins				: 	"imagebrowser",
				     										imageBrowser_listUrl		: 	BASE_URL + "introduction-category/path/images/list"
								
			                                               });
			                                      </script>
												<span class="help-block" th:if="${#fields.hasErrors('infoByLanguages[__${status.index}__].description')}" th:errors="*{infoByLanguages[__${status.index}__].description}"></span>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12">
					<div class="col-md-6 no-padding">
						<div class="form-group">
							<label  class="lb_language col-sm-4 control-label required" th:text="#{introduction.category.image.for.desktop}">Hình ảnh cho máy tính</label>
							<div class="controls col-sm-8">
								<div>
									<div class="wrap_upload">
										<div th:id="imageContainer" class="hide" style="height: 170px; width: 100%;"></div>
										<a  th:id="imagePickfiles" class="glyphicon glyphicon-upload font-size-20" th:title="#{icon.add}" href="javascript:void(0)"></a><span>(.jpg, .bmp, .png, .eps, .jfif) (Từ 930x1134)</span>
									</div>
								</div>
								<div>
									<div class="wrap_image" th:id="wrap_image">
										<img id="image_preview" width="200" class="hide"/>
										<div th:id="imageConsole" class="error" style="display: none"></div>
										<div th:id="imageFilelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
											<div class="wrap_object" th:id="wrap_object">
												<div th:id="imageContent" class="imageContent"></div>
											</div>
										<input class="j-required" type="hidden" th:id="imagePhysicalName" th:field="*{imagePhysicalName}"/>
										<input type="hidden" th:id="imageName" th:field="*{imageName}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 no-padding">
						<div class="form-group">
							<label  class="lb_language col-sm-4 control-label required" th:text="#{introduction.category.image.for.mobile}">Hình ảnh cho điện thoại</label>
							<div class="controls col-sm-8">
								<div>
									<div class="wrap_upload">
										<div th:id="imageContainerMobile" class="hide" style="height: 170px; width: 100%;"></div>
										<a  th:id="imagePickfilesMobile" class="glyphicon glyphicon-upload font-size-20" th:title="#{icon.add}" href="javascript:void(0)"></a><span>(.jpg, .bmp, .png, .eps, .jfif) (Từ 1536x810)</span>
									</div>
								</div>
								<div>
									<div class="wrap_image" th:id="wrap_image">
										<img id="image_previewMobile" width="200" class="hide"/>
										<div th:id="imageConsoleMobile" class="error" style="display: none"></div>
										<div th:id="imageFilelistMobile">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
											<div class="wrap_object" th:id="wrap_object">
												<div th:id="imageContentMobile" class="imageContent"></div>
											</div>
										<input class="j-required" type="hidden" th:id="imagePhysicalNameMobile" th:field="*{imagePhysicalNameMobile}"/>
										<input type="hidden" th:id="imageNameMobile" th:field="*{imageNameMobile}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12 col-sm-12 no-padding">
				
				<div class="col-sm-2 col-md-2">
				</div>
				<div class="col-sm-4 col-md-4">
					<input type="checkbox" tabindex="2" th:field="*{enabled}"/><label class="control-label" th:text="#{introduction.category.enabled}">Kích hoạt</label>
				</div>
				
				<div class="col-md-6 no-padding">
					<div class="form-group">																									
						<label class="col-sm-4 control-label" th:text="#{product.show.position}">Hiển thị vị trí sau</label>
						<div class="col-sm-8">
							<select class="form-control select2" th:field="*{beforeId}" tabindex="13">
	                            <option value=""></option>
	                            <option th:each="item : ${lstSort}"
	                            		th:selected="${item.id} == *{beforeId}"
										th:value="${item.id}" th:text="${item.title}">
								</option>
							</select>
							
						</div>
					</div>				
				</div>	
			</div>
			
			<div class="col-md-12 col-sm-12 no-padding">
				<label class="col-md-2 col-sm-2 control-label">Trạng thái</label>
					<div class="col-md-4 col-sm-4">
						<input th:value="*{statusName}" type="text" class="form-control j-maxlength " data-rule-maxlength="30" th:readonly="true" tabindex="1" 
							placeholder="Draft, Wating for Approve, Approved, Waiting for Publish, Pulished, Cancel "/>
					</div>					
					
				<div class="form-group"  >
					<label class="col-md-2 col-sm-2 control-label" th:text="#{homepage.creater}">Created by</label>
					<div class="col-md-4 col-sm-4">
						<input th:field="*{createBy}" type="text" class="form-control j-maxlength " data-rule-maxlength="30" tabindex="1" 
							placeholder="Người tạo" readonly="readonly"/>
					</div>					
				</div>
			</div>

			<div class="col-sm-12">
				<div class="row unit-bg-com bg-comment">
					<div class="col-xs-12 col-sm-12 no-padding" >
						<div class="form-group" >
							<label for="name" class="col-sm-4 col-md-2 control-label" th:text="#{product.comment}">Ghi chú</label>
							<div class="col-sm-8 col-md-10 pleft-10">
								<textarea cols="80" class="form-control" rows="2" th:field="*{comment}" > </textarea>	
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- tranlth 23/05/2019 Bổ sung số lượng con phụ thuộc -->
			<!-- <div class="col-sm-12 no-padding">
				<th:block th:each="item : ${listDependencies}">
					<label class="col-sm-6 col-md-6 control-label " th:text="${item.name} + ': ' + ${item.introduction} + ' hạng mục'"></label>
				</th:block>
			</div>
			
			<div class="col-xs-12 col-sm-12 unit-button">

				<button type="submit" class="btn-cancel" id="btn-cancel-1"><i class="fa fa-times"></i> <span th:text="#{cancel.button}">Thoát</span></button>
				
				<button type="button" class="btn-common process-btn" th:id="${T(vn.com.unit.jcanary.enumdef.StepActionEnum).SAVE.getCode()}"
					th:if="(${updateDto.status eq @stepNoStatusConstant.STEP_DRAFT
						or updateDto.status eq @stepNoStatusConstant.STEP_REJECTED})
						and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTRODUCTION_CATEGORY_EDIT}__:Edit'')')}">
					<i class="fa fa-save" aria-hidden="true"></i>
					<span th:text="#{saveDraft.button}" >Lưu</span>
				</button> 
				
	            <th:block th:each="item : *{stepBtnList}">
					<button type="button" class="btn-common process-btn" th:id="${item.buttonId}" >
						<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
						<span th:text="${item.buttonText}" th:attr="data-btn-action=${item.buttonId}, data-curritem=${item.items}">Action</span>
					</button> 
				</th:block>
			</div>
		</div>
	
		<input type="hidden" id="requestToken" th:field="*{requestToken}" />
		<input type="hidden" id="processId" 	name="processId" 		th:value="${updateDto.processId}"/>
		<input type="hidden" id="status" 		name="status" 			th:value="${updateDto.status}"/>
		
		<input type="hidden" id="buttonAction"	name="buttonAction" />
		<input type="hidden" id="buttonId" 		name="buttonId" />
		<input type="hidden" id="currItem" 		name="currItem" />
		
		<input type="hidden" th:field="*{referenceId}" />  
        <input type="hidden" th:field="*{referenceType}" />
        
        <input type="hidden" th:field="*{customerTypeId}" />
        
        <input type="hidden" th:field="*{updateDate}"/>
        
        <input type="hidden" th:field="*{codeSearch}"/>
        <input type="hidden" th:field="*{nameSearch}"/>
        <input type="hidden" th:field="*{statusSearch}"/>
        <input type="hidden" th:field="*{enabledSearch}"/>
        <input type="hidden" th:field="*{pictureIntroductionSearch}"/>
        <input type="hidden" th:field="*{typeOfMainSearch}"/>       
        
    	<div class="col-sm-12 no-padding">
			<div class="row unit-bg-table history-process-table unit-bg-tbl unit-bg-com">
				<th:block th:include="views/commons/history-process.html :: content"/>
			</div>
		</div> -->
		
		<!-- process -->
		<th:block th:include="/views/commons-process/common-process.html :: content(${updateDto})" />
	
	</form>
	
</section>
<script th:inline="javascript">
    /*<![CDATA[*/
    var CATEGORY_LIST = /*[[${selectionCategories}]]*/;
	var MSG_ERROR_MIN_SIZE_DESKTOP = [[#{message.confirm.upload.image.930.1134.img.error}]];
	var MSG_ERROR_MIN_SIZE_MOBILE = [[#{message.confirm.upload.image.1536.810.img.error}]];
	var MSG_SAVE_PICTURE_INTRODUCTION_CONFIRM = [[#{message.confirm.introduction.category.picture.introduction.save}]];
	var MSG_SAVE_MAIN_OF_TYPE_CONFIRM = [[#{message.confirm.introduction.category.type.of.main.save}]];
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/web-app/views/introduction/category/introduction-category-edit.js}"></script>
<script type="text/javascript" th:inline="text">
$(document).ready(function() {
	
	$("#linkDelete").on("click", function( event ) {
		event.preventDefault();
		var href = $(this).attr('href');
		var msgConfirm = $(this).data("msg-confirm");
		
		popupConfirm( msgConfirm, function(result) {
    		if( result ){
    			window.location.href = href;
			}	
    	});
	});
});
</script>
</body>
</html>

