<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">	
		<div class="col-sm-12">
			<div class="table-responsive">
				<form id="id-sort-form">
					<table id="tb-sort-list" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="u_t_no">#</th>
								<th th:text="#{introduction.category.label}">Tên danh mục</th>
								<th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="dataRow,i : ${sortPageModel}" th:with="startIndex=1">
								<tr th:attr="data-row-id=${dataRow.id}">
									<td th:text="${i.index + startIndex}"></td>
									<td th:text="${dataRow.title}"></td>
									<td th:text="${dataRow.createDate} ? ${#dates.format(dataRow.createDate, 'dd-MM-yyyy')}" class="align-center"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/web-app/views/introduction/category/introduction-category-list-sort.js}"></script>
		<script type="text/javascript">
			var table = document.getElementById("tb-sort-list");
			RowSorter(table, {
			    handler: 'td'
			});
		</script>
	</body>
	
</html>

