<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
    <div class="bg-content clearfix svc-board-wrap">
        <ul th:if="${not #lists.isEmpty(pageWrapper)}">
            <th:block th:each="item, i : ${pageWrapper}">
                <li>
                    <div class="serviceItem text-center">
                    	<input type="hidden" id = "formType" th:value="${item.formType}"/>
                    	<input type="hidden" id = "processType" th:value="${item.processType}"/>
                    	<input type="hidden" id = "itemCompanyId" th:value="${item.companyId}"/>
                    	<div class="formTypeName">
                    		<strong class="ellipsis"><span th:text="${item.formTypeName}"></span></strong>
                    	</div>
                        <div class="serviceImgArea">
                            <img th:if="${item.image==null or item.image==''}" class="img-responsive image-service"
                                th:src="@{/static/cache/images/img_defaultService.png}" alt="" />
                            <img th:unless="${item.image==null or item.image==''}" class="img-responsive image-service"
                                th:src="@{/ajax-file/download(filePath=${item.image}, repositoryId=${item.repositoryId})}" alt="" />
                        </div>
                        <div class="serviceInfoArea">
                            <strong class="ellipsis"><span th:text="${item.id == -1}? #{category.form.day.off} : ${item.categoryName}"
                            	th:title="${item.id == -1}? #{category.form.day.off} : ${item.categoryName}"></span></strong>
                            <strong class="title ellipsis"><span th:text="${item.name}" 
                            	th:title="${item.name}"></span></strong>
                        </div>
                        <div class="serviceBtnArea" th:attr="data-dto-id=${item.id}">
                            <button type="button" class="btn btn-sm btn-list" th:title="#{svc.board.list}">
                                <i class="fa fa-list"></i>
                                <span th:text="#{svc.board.list}"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-write" th:attr="data-dto-id=${item.id}" th:if="${item.companyId == #authentication?.principal?.companyId}" th:title="#{svc.board.write}">
                                <i class="fa fa-edit"></i>
                                <span th:text="#{svc.board.write}"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
	<input type="hidden" id = "integUrl" th:value="${integUrl}"/>
    <script type="text/javascript" th:src="@{/static/cache/js/jpm-svc-board/jpm-svc-board-table.js}"></script>
</body>

</html>