<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">	
	<div class="row form-group">
		<label class="col-sm-2 align-top" th:text="#{authority.detail.business}">Business</label>
		<div class="col-sm-10">
          	<select  class="form-control select2" id="businessId" style="height:30px">
				<th:block th:each="item : ${listBusiness}">
					<option th:value="${item.id}" th:text="${item.text}" th:selected="${item.id} == ${businessId}"></option>
				</th:block>
			</select>
		</div>
	</div>
    <div class="row form-group">
			<label class="col-sm-2 align-top" th:text="#{authority.detail.process}">Process</label>
			<div class="col-sm-10">
			<select  class="form-control select2" id="processId" style="height:30px">
				<th:block th:each="item : ${listProcess}">
					<option th:value="${item.id}" th:text="${item.text}" th:selected="${item.id} == ${processId}"></option>
				</th:block>
			</select>
			</div>
		</div>
    <div>
	    <div data-toggle="collapse" data-target="#boxAuthorithyListProcess" class="header-box">
			<h2 class="title-box" th:text="#{authority.comment.function.list}">Danh sách chức năng</h2>
	    </div>
	    <div class="box-body no-padding" id="boxListProcess">
	    	<th:block th:include="views/authority-comment/iauthority-function-list.html :: content"/>
	    </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/static/cache/js/authority-comment/iauthority-process-list.js}"></script>
</html>
