<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="">
		<div class="row unit-bg-table m-0">
			<div class="table-responsive">
				<table id="stepCommentTableId"
					class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th>
								<input type="text" id="stepName" class="form-control input-sm" th:placeholder="#{authority.comment.step.name}" />
							</th>
							<th class="u_t_no" th:text="#{authority.comment.is.comment}">binh luan</th>
							<th class="u_t_no hidden" th:text="#{authority.comment.is.opinion}">yeu cau</th>
						</tr>
					</thead>
					<tbody>
						<tr class ="item-tr" th:if="${authorityCommentList} and ${authorityCommentList.size()>0}">
			             	<td colspan="2"></td>
			             	<td class="text-center"><input type="checkbox" class="check-all-comment" /></td>
			             	<td class="text-center hidden"><input type="checkbox" class="check-all-opinion" /></td>
		            	</tr>
		            	<tr class ="item-tr" th:unless="${authorityCommentList} and ${authorityCommentList.size()>0}">
             				<td colspan="4" th:text="#{search.results.no.data}"></td>
             			</tr>
						<th:block th:each="step,i : ${authorityCommentList}">
							<tr class="item-tr-data" th:attr="data-step-id=${step.stepDeployId}
									, data-id=${step.id}
									, data-function-id=${step.functionId}">
								<td th:text="${i.index+1}">1.</td>
								<td th:text="${step.stepName}" data-tfilter1="true">stepName</td>
								<td class="text-center">
					                <input type="checkbox" class="check-comment" th:checked="${step.commentFlag}"/>
		                    	</td>
		                    	<td class="text-center hidden">
					                <input type="checkbox" class="check-opinion" th:checked="${step.opinionFlag}"/>
		                    	</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/cache/js/authority-comment/iauthority-step-comment-list.js}"></script>
</body>
</html>
