<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="${@systemConfig.getConfig('DISPLAY_SYSTEM_NAME')}">MBAL</title>

<link rel="shortcut icon" type="image/x-icon" th:href="@{/static/cache/images/favicon-daiichi.ico}" />

<th:block th:if="${shortcutIcon == null or shortcutIcon == ''}">
	<link rel="shortcut icon" th:if="${packageShortcutIcon != null and packageShortcutIcon != ''}"
		th:href="@{/} + ${packageShortcutIcon}" type="image/x-icon" />
	<link rel="shortcut icon" th:unless="${packageShortcutIcon != null and packageShortcutIcon != ''}"
		th:href="@{/static/cache/images/favicon-daiichi.ico}" type="image/x-icon" />
</th:block>

<link rel="shortcut icon" th:unless="${shortcutIcon == null or shortcutIcon == ''}"
	th:href="@{/ajax-file/download-login(filePath=${shortcutIcon}, repositoryId=${shortcutIconRepoId})}" type="image/x-icon" />

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<!-- Stylesheet css  -->
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/fontAwesone/font-awesome.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/css/unit-login.css}" />
<!-- Stylesheet css  -->

<!-- JS  -->
<script type="text/javascript" th:src="@{/static/cache/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/bootstrap/js/bootstrap.js}"></script>
<!-- End JS  -->

<!-- OZViewer -->
<script type="text/javascript" th:src="@{/static/cache/ozsfw80/OZViewerHTML5/OZJSViewer.js}" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" th:href="@{/static/cache/Roboto_Font/Roboto-Font.css}"/>

</head>
<body class="hold-transition login-page" th:classappend="${style.code}">
	
    <div class="bg-login">
        <div class="row d-flex">
            <div class="col-md-6 col-md-offset-3">
                <div class="bg-form-login">
                    <div class="main-content clearfix">
                    	<a>
                            <th:block th:if="${loginLogo == null or loginLogo == ''}">
                                <img th:if="${packageLoginLogo != null and packageLoginLogo != ''}" th:src="@{/} + ${packageLoginLogo}"
                                    class="logo" />
                                <img th:unless="${packageLoginLogo != null and packageLoginLogo != ''}" th:src="@{/static/cache/images/logo-Daiichi.png}"
                                    class="logo" />
                            </th:block>
                            <img th:unless="${loginLogo == null or loginLogo == ''}"
                                th:src="@{/ajax-file/download-login(filePath=${loginLogo}, repositoryId=${loginLogoRepoId})}" class="logo" />
                        </a>
                        <h2 class="title-pro" th:text="${title}">
                            eRecruitment System
                        </h2>
                        <div class="form-login">
                            <form th:action="@{'/login'}" method="POST">
                                <span id="errormsg" class="error" th:if="${(param.reason!= null)}" th:text="#{${param.reason[0]}}"></span>
                                <div class="form-group input-effect" th:if="${(param.system!= null)}">
                                    <input type="text" class="form-control" th:placeholder="#{login.system}" id="j_system" name="systemCode" autocomplete="off" th:value="${system}"  />
                                </div>
                                <div class="form-group" th:unless="${(param.system!= null)}">
                                    <input type="hidden" class=" form-control" th:placeholder="#{login.system}" id="j_system" name="systemCode" autocomplete="off" th:value="${system}"  />
                                </div>
                                <div class="form-group" >
                                    <label th:text="#{login.username}">Email Address</label>
                                    <div class="input-effect">
                                        <input type="text" class="effect-3 form-control " id="j_username_id" name="username" autocomplete="off" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{login.password}" >Password</label>
                                    <div class="input-effect">
                                        <input type="password" class="effect-3 form-control" id="j_password_id" name="password" autocomplete="off"/>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn-login" th:text="#{login.button}">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<footer>
	<div class="col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-4 center">
			<img th:src="@{/static/cache/images/iconcopyright55x55.png}" width="22px"/> 
	    	<span>2021 UNIT Corp. All rights reserved </span>
	    </div>
		<div class="col-md-4" style="text-align: right">
			<span><th:block th:include="views/home/version-info.html"/></span>
		</div>
	</div>
	    
	</footer>
</body>
</html>