<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>	
	<script type="text/javascript" th:src="@{/web-app/views/region/region-detail.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#tabRegion a').click(function(event) {
				event.preventDefault();
				$(this).tab('show');
			});
		});
	</script>	
	
	<div class="row main-heading ">
		<div class="row unit-border-bottom">
			<div class="col-sm-8 col-xs-6">
				<h3 class="mar-tb-no red" th:text="#{region.page}">Tiêu đề trang</h3>
			</div>
			<div class="col-sm-4 col-xs-6 align-right ml-auto">
	           <a class="u-btn-head" id="linkList" th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN:Disp'')')}">
					<img th:src="@{/static/icons/icon-back.png}"/>
					<span th:title="#{icon.back}">Trở lại</span>
				</a>
	          	<a class="u-btn-head" id = "add" th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN:Disp'')')}">
					<img th:src="@{/static/icons/icon-plus-white.png}"/>
					<span>Thêm mới</span>
				</a>
				
			</div>
		</div>
	</div>	
	<form class="form-horizontal u-for-page-top j-form-validate" th:object="${regionDto}" method="post" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="row unit-bg-com">   	
			<div class="header-box">
				<h2 class="sub-header section-heading" th:text="#{region.information}">Thông tin vùng miền</h2>			                           
            </div>
            <input type="hidden" th:field="*{regionId}" />
			<div class="col-md-6">
				<div class="form-group" >
					<label class="col-sm-4 control-label " for="regionCode" th:text="#{region.code}">Mã vùng miền</label>
					<div class="col-sm-8" >
						<label class="form-control" th:text="${regionDto.regionCode}" > </label>						
					</div>
				</div>
				<!-- Show language -->    		        
				<div class="form-group">
					<label  class="col-sm-4 control-label" th:text="#{news.language}">Ngôn ngữ</label>
					<div class="col-sm-8 gr-tab">
						<ul class="nav nav-tabs" id="tabRegion">
							<th:block th:each="language, i : ${languageList}">
								<li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" >
									<a th:href="'#' + ${language.code}" th:text="${language.name}"></a>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
				<div class="tab-content" style="margin-top: 10px">
					<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
					<div th:id="${language.code}" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">	        			        			        	
				        <div class="row form-group">
				            <label for="regionLanguageDtos[__${index}__].regionName" class="col-sm-4 control-label " th:text="#{region.name}">Tên vùng miền</label>
				            <div class="col-sm-8">
				            	<label class="form-control" th:text="*{regionLanguageDtos[__${index}__].regionName}" > </label>				            							            	
					            <input  th:field="*{regionLanguageDtos[__${index}__].regionName}" type="hidden" />					            
				            </div>	
				        </div>				        			        				       	
			        </div>		        					    		      
		        </th:block>
				</div>					        
		        <!-- End show language -->
		        <div class="form-group">
					<label for="countryName" class="col-sm-4" th:text="#{country.name}">Tên quốc gia</label>
					<div class="col-sm-8">
						<select class="form-control-view select2" th:field="*{mCountryId}" disabled="disabled">
							  <option th:each="choice : ${listCountryDto}" 
							     th:value="${choice.countryId}" 
							     th:selected="(${choice.countryId} == *{mCountryId})" 
							     th:text="${choice.countryName}">
							  </option>
						 </select>				
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
		            <label for="note" class="col-sm-4 control-label "  th:text="#{job.note}">Ghi chú</label>
		            <div class="col-sm-8" >			            
		            	<textarea th:text="${regionDto.note}" class="form-control-view">	</textarea>		            
			        </div>
		        </div>
		        <div class="form-group">
		            <label for="description" class="col-sm-4 control-label " th:text="#{job.description}">Mô tả</label>
		            <div class="col-sm-8  ">	
		            	<textarea th:text="${regionDto.description}" class="form-control-view">	</textarea>		            				            
			        </div>
		        </div>
			</div>
		</div>			
	</form>	
	<input type="hidden" id="url" name="url" th:value="${regionDto.url}"/>
	</body>
</html>