<!DOCTYPE html>
<html>
<body th:fragment="content(listSearchFilter)">
    <div class="bg-content clearfix">
	    <div data-toggle="collapse" data-target="#search-box" class="header-box">
	          <h2 class="title-box" th:text="#{search.title}">Vùng tìm kiếm</h2>
	          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
	    </div>
	    
    	<div class="collapse in row m-0" id="search-box">
	        <div class="col-md-8">
				<div class="row">
		            <div class="button-group filter-gr">
		            	<label class="control-label" th:text="#{searchfield.list.filter}">Điều kiện lọc</label>
		                <button type="button" class="btn-ico dropdown-toggle" data-toggle="dropdown" th:title="#{icon.search.header}">
		                    <img th:src="@{/static/images/icon-cog.png}" alt="" width="18px"/>
		                </button>
		                
		                <ul class="dropdown-menu dropdown-filter-sort" id="ulParentSearch">
		                    <th:block th:each="dataRow,i : ${listSearchFilter}" th:with="startIndex=0">
		                        <li>
		                            <a class="small">
		                                <input type="checkbox" th:id="${dataRow.field} + 'Search'" th:name="${dataRow.field} + 'Search'" 
		                                    onchange="cbShowHideInput(this)" class="pointer">
		                                <span th:text="${dataRow.fieldName}"></span>
		                            </a>
		                        </li>
		                    </th:block>
		                </ul>
		            </div>
		        </div>
		        
		        <th:block th:each="dataRow,i : ${listSearchFilter}" th:with="startIndex=0">
			        <div th:class="'col-xs-12 col-sm-12 p-0 ' + ${dataRow.field} + 'Search divSearch'" style="display: none;">
		                <div class="col-md-1 control-label" style="text-align: center!important;">
		                    <!-- <a class="btn-ico pointer" th:id="${dataRow.field} + 'Hidd'" title="Xóa" onclick="closeInput(this)">
		                    	<img th:src="@{/static/images/icon-delete.png}" alt="" width="19px"/>
		                    </a> -->
		                    
		                    <input type="checkbox" th:id="${dataRow.field} + 'Hidd'" title="Xóa" onclick="disabledInput(this)" 
		                    	class="pointer"/>
		                </div>
		            
		                <label class="col-md-3 p-0 control-label" th:text="${dataRow.fieldName}" />
		                
		                <div class="col-md-3 form-group">
							<select class="form-control field-seach-condition" th:id="${dataRow.field} + 'Condition'" th:name="${dataRow.field} + 'Condition'" 
								style="width: 100%" onchange="checkConditionSearch(this)">
		                        <option th:each="opt,j : ${dataRow.listSelectCondition}"
		                            th:text="${opt.name}"
		                            th:value="${opt.id}">
		                        </option>
		                    </select>
		                </div>
		                
		                <div class="col-md-4 form-group p-0" th:if="${dataRow.type == 'INPUT'}">
		                    <input type="text" th:id="${dataRow.field}" th:name="${dataRow.field}" th:value="${dataRow.value}" disabled="disabled"
		                        class="form-control field-seach" 
		                        th:attr="data-field-type=${dataRow.type}" />
		                </div> 
		                
		                <div class="col-md-4 form-group p-0" th:if="${dataRow.type == 'SELECT'}">
		                    <select class="select2-data form-control field-seach" th:id="${dataRow.field}" th:name="${dataRow.field}" disabled="disabled"
		                    	style="width: 100%" >
		                        <option th:each="opt,j : ${dataRow.listSelect}"
		                            th:text="${opt.name}"
		                            th:value="${opt.id}"
		                            th:selected="${(dataRow.value == '' || dataRow.value == null) ? (j.index == 0) : (opt.id == dataRow.value)}">
		                        </option>
		                    </select>
		                </div> 
		                
		                <div class="col-md-4 form-group control-label" th:if="${dataRow.type == 'CHECKBOX'}" style="height: 32px">
	                    	<input type="checkbox" th:id="${dataRow.field}" th:name="${dataRow.field}" th:checked="${dataRow.isChecked()}"
	                        	th:value="${dataRow.value == null ? '' : (dataRow.value != 0 ? 1 : 0)}" disabled="disabled" 
	                        	class="field-seach"
	                        	th:attr="data-field-type=${dataRow.type}" />
		                </div> 
		                
		                <div class="col-md-4 form-group p-0" th:if="${dataRow.type == 'DATE'}">
		                    <div class="input-group date datepicker">
		                        <input class="form-control field-seach" type="text" placeholder="dd/mm/yyyy" autocomplete="off" 
		                        	th:id="${dataRow.field}" th:name="${dataRow.field}" th:value="${dataRow.value } ? ${#dates.format(dataRow.value, 'dd-MM-yyyy')}"
		                    		data-date-format="dd/MM/yyyy" disabled="disabled" 
		                    		th:attr="data-field-type=${dataRow.type}" />
		                        <div class="input-group-addon">
		                            <i class="fa fa-calendar"></i>
		                        </div>
		                    </div>
		                    
							<div class="input-group date datepicker m-top-5">
		                        <input class="form-control field-seach" type="text" placeholder="dd/mm/yyyy" autocomplete="off" 
		                        	th:id="${dataRow.field} + 'To'" th:name="${dataRow.field} + 'To'" th:value="${dataRow.value } ? ${#dates.format(dataRow.value, 'dd-MM-yyyy')}"
		                    		data-date-format="dd/MM/yyyy" disabled="disabled" 
		                    		th:attr="data-field-type=${dataRow.type}" />
		                        <div class="input-group-addon">
		                            <i class="fa fa-calendar"></i>
		                        </div>
		                    </div>
		                </div> 
		                
		                <!-- <div class="col-md-2">
		                    <a class="btn-ico pointer" th:id="${dataRow.field} + 'Hidd'" title="Xóa" onclick="closeInput(this)">
		                    	<img th:src="@{/static/images/icon-delete.png}" alt="" width="19px"/>
		                    </a>
		                </div> -->
		            </div>
			    </th:block>
	        
	            <div class="col-xs-12 col-sm-12 p-0" id="divButtonSearch" style="display: none;margin-top: 8px">
	            	<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="u-btn u-btn-primary" id="btnSearch">
							 <i class="fa fa-search"></i>
							 <span th:text="#{search.button}">Tìm kiếm</span>
						</button>
						<button type="button" class="u-btn u-btn-primary" id="btnRefresh">
			              <i class="fa fa-refresh" aria-hidden="true"></i>
			              <span  th:text="#{search.refresh}">Làm mới</span>
			            </button>
			         </div>
				</div>
	        </div>
	        
	        <div class="col-md-4 pull-right">
	            <!-- TaiTM: Load attr dựa vào những attr định nghĩa sẵng -->
	            <div class="form-group gr-search-filter">
	            	<div class="col-xs-10 p-0">
		            	<input type="text" class="form-control" th:field="*{fieldSearch}" th:placeholder="#{search.key}" autocomplete="on"/>
	            	</div>
					<button type="button" class="u-btn u-btn-primary col-xs-2 p-0" id="btnSearchAll">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
        
	    <script type="text/javascript">
	        $('.datepicker').datepickerUnit({
	    		format: DATE_FORMAT,
	            changeMonth: true,
	            changeYear: true,
	            autoclose: true,
	    		language : APP_LOCALE.toLowerCase(),
	            keyboardNavigation : true
	    	});

	    	$('.select2-data').select2({ allowClear: false });
	    	
	    </script>
    </div>
</body>
</html>