<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">

	<div class="col-sm-12">
		<h2 class="sub-header section-heading" th:text="#{history.result}">Lịch sử duyệt</h2>
		<div class="table-responsive">			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="u_t_no">#</th>
						<th class="u_t_title" th:text="#{history.process.name}">Tên quy trình</th>
						<th class="u_t_code" th:text="#{history.approver}">Người duyệt</th>
						<th class="u_t_date" th:text="#{history.approver.date}">Ngày duyệt</th>
						<th class="u_t_title" th:text="#{history.comment}">Ghi chú</th>																								
					</tr>
				</thead>
				<tbody>
					<th:block th:each="historyApproveDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
	                    <tr >
	                        <td class="text-center" th:text="${i.index + startIndex}"></td>
	                        <td th:text="${historyApproveDto.statusName}" ></td>
	                        <td th:text="${historyApproveDto.approver}"></td>			                                                                
	                        <td class="text-center" th:text="${historyApproveDto.approverDate} ? ${#dates.format(historyApproveDto.approverDate, @menuConfig.getFormDate())}"></td>
	                        <td th:text="${historyApproveDto.comment}"></td>
	                    </tr>
	                </th:block>																										
				</tbody>					
			</table>							
		</div>			
	</div>
	<th:block th:include="views/commons/pagination.html :: content"/>

<script type="text/javascript" th:src="@{/web-app/views/commons/history-process.js}"></script>
</body>
</html>