/*/* Default styling for larger screens (PC) */
.doctor-slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.doctor-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.doctor-slider .slick-track {
    width: 1120px!important;
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .doctor-slider-wrapper .slick-slide {
        /*transform: translate3d(-50px, 0, 0) !important;*/
    }

    .doctor-rating {
        left: 105px;
    }
}

.doctor-specialist-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.doctor-specialist-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.doctor-specialist-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.doctor-slider-wrapper .slick-slide {
}

.doctor-item__border {
    position: relative;
    padding-left: 10px!important;
    padding-right: 10px!important;
}

@media screen and (max-width: 600px) {
    .doctor-item__border {
        position: relative;
        padding-left: 0px!important;
        padding-right: 10px!important;
    }
}

.doctor-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-thumb img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.doctor-item-content {
}

.doctor-title {
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    color: var(--Black-primary, #292929);
    /* margin-top: 22px; */
}

.doctor-fullname {
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    font-style: normal;
    line-height: 24px;
    color: var(--Black-primary, #292929);
    text-align: center;
    cursor: pointer;
}

.doctor-fullname:hover {
    color: #DE181F;
}

.hw-page .doctor-slider .btn.btn-primary{
    background: linear-gradient(90deg, #ea6544, #d12a1e);
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}

.doctor-specialist-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 80px;
    overflow-y: none;
}

.doctor-rating {
    background: linear-gradient(181.08deg, #E26141 -10.07%, #AF393D 125.06%);
    width: 56px;
    height: 24px;
    border-radius: 100px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 126px;
    left: 112px;
}

.doctor-rating span {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    margin-right: 6px;
    margin-left: 3px;
}

.doctor-specialist {
    /* cursor: pointer; */
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    width: fit-content;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.31px;
    text-align: center;
    color: #727272;
    margin-right: 6px;
    white-space: nowrap;
    margin-top: 6px;
    flex-basis: calc(33.33% - 6px); /* 33.33% - 6px để trừ đi margin-right */
}

.doctor-specialist:hover {
    background: #F7EBDF;
    border: 1px solid #F7EBDF;
}

.doctor-specialist-active {
    background: #F7EBDF;
}

.doctor-working {
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: #292929;
    /* margin-top: 12px;
    margin-bottom: 12px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.doctor-item-right {
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    padding: 16px;
    /*width: 100%; !* Thiết lập chiều rộng tương đối cho phần tử *!*/
    /*height: auto; !* Thay đổi chiều cao để phù hợp với nội dung *!*/
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    height: 322px;
    width: 274px;
    /* min-height: 368px; */
    /* height: auto; */
}

.skeleton-text {
    height: 4px;
}

.make-appointment {
    height: 32px;
    width: auto; /* Thiết lập chiều rộng tự động để nội dung không bị tràn ra */
    margin-top: auto; /* Đặt nút ở cuối phần tử cha */
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}


@media screen and (max-width: 991px) {
    .doctor-slider .article-item {
        width: calc(25% - 20px); /* Giảm chiều rộng của các phần tử con trên thiết bị có kích thước nhỏ */
        margin-right: 10px; 
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .doctor-slider .article-item {
        width: calc(25% - 20px); /* Giảm chiều rộng của các phần tử con trên thiết bị có kích thước nhỏ */
        margin-right: 1px; 
        margin-left: 1px;
    }
}

.doctor-circle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2E2E2;
    margin: 6px 6px 0px 0px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    text-align: center;
    color: #727272;
}

.doctor-circle:hover {
    background: #F7EBDF;
    border: 1px solid #F7EBDF;
}

.skeleton {
    background-color: #f0f0f0; /* Temporary background color */
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.doctor-skeleton-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .doctor-item-right {
        width: 215px;
        height: auto;
    }
    .doctor-item-content {
        min-height: 274.71px;
    }
}

@media screen and (max-width: 450px) {
    .doctor-item-right {
        width: 205px;
        height: auto;
    }
}


@media screen and (max-width: 376px) {
    .doctor-item-right {
        width: 221px;
        height: auto;
    }
}