.popup__card_forget-pass {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 100%;
    padding: 16px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.show .popup__card_forget-pass {
    opacity: 1;
    visibility: visible;
}

.popup__card_forget-pass .optioncard {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 375px;
    max-height: 482px;
    padding: 24px 16px 24px 16px;
    gap: 20px;
    border-radius: 8px;
}

.popup__card_forget-pass .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #292929;
}

.popup__card_forget-pass .description {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #292929;
}

.popup__card_forget-pass .btn {
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    background: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292929;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.popup__card_forget-pass .btn.selected  {
    background-color: #C68158;
    color: #FFFFFF;
}

.popup__card_forget-pass .optioncard .close-btn {
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px
}