
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>
    <div class="title-head clearfix">
        <div class="col-sm-9 col-xs-7 no-padding">
            <h3>
                <i class="fa fa-table"></i>
                <span th:text="#{noti.template.list.page.name}">Page name</span>
            </h3>
        </div>
        <div class="col-sm-3 col-xs-5 icon-head">
            <div class="pull-right">
                <a id="btnBack">
                    <i class="fa fa-arrow-circle-left icon-head-red"></i>
                </a>
                <a id="btnCreate" th:if="${#authorization.expression('hasAuthority(@roleConstant.EMAIL_TEMPLATE)')}">
                    <i class="fa fa-plus-circle icon-head-red"></i>
                </a>
                <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                <a class="font17 btn-save" id="btnSaveHead" th:if="${#authorization.expression('hasAuthority(@roleConstant.EMAIL_TEMPLATE)')}">
                    <i class="fa fa-save"></i>
                </a>
            </div>
        </div>
    </div>

    <form class="form-horizontal u-for-page-top j-form-validate" method="POST" role="form" autocomplete="off" th:object="${objectDto}" id="form-detail">
        <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
        <div class="bg-content clearfix">
            <div class="header-box">
                <h2 class="title-box" th:if="${objectDto.id == null}" th:text="#{noti.template.detail.page.name.add}">Add</h2>
                <h2 class="title-box" th:unless="${objectDto.id == null}" th:text="#{noti.template.detail.page.name}">Update</h2>
            </div>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" id="url" name="url" th:value="${url}" />
            <div class="col-sm-12 p-0">
            	<div class="col-sm-6">
            		<div class="form-group" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label for="name" class="col-sm-4 required" th:text="#{noti.template.code}">Name</label>          
	                    <div class="col-sm-8">
		                    <input type="text" class=" form-control j-required " maxlength="100" th:field="*{code}" />
		                    <span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
	                    </div>
                    </div>
            		<div class="form-group">
						<label for="name" class="col-sm-4 required" th:text="#{noti.template.name}">Name</label>          
	                    <div class="col-sm-8">
		                    <input type="text" class=" form-control j-required j-specialCharacters" maxlength="255" th:field="*{name}" />
	                    </div>
                    </div>
            		<div class="form-group" th:if="${companyList.size()>1}">
		                <label for="companyId" class="col-sm-4 " th:text="#{company.detail}">Company</label>
		                <div class="col-sm-8">
		                    <select class="form-control select2" th:field="*{companyId}">
		                        <option th:each="company : ${companyList}" 
		                                th:value="${company.id}"
		                                th:text="${company.text}">
		                        </option>
		                    </select>
		                </div>
	                </div>
	                <div th:unless="${companyList.size()>1}">
		                <input type="hidden" id="companyId" name="companyId" th:value="*{companyId}" />
		            </div>
	                <div class="form-group">
	                    <label for="description" class="col-sm-4" th:text="#{noti.template.description}">Description</label>
	                    <div class="col-md-8">
	                        <textarea class="form-control" maxlength="255" th:field="*{description}"></textarea>
	                    </div>
	                 </div>
                </div>
            	<div class="col-sm-6">
	                <div class="form-group">
	                	<label class="col-sm-4" th:text="#{news.language}">Ngôn ngữ</label>
						<div class="col-sm-8">
							<ul class="nav nav-tabs" id="tabLanguage">
								<th:block th:each="language, i : ${languageList}">
									<li role="presentation"
										th:classappend="${i.index == 0}  ? 'active' : ''"
										th:id="tabLanguage + ${i.index}"><a
										th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
									</li>
								</th:block>
							</ul>
						</div>
	                </div>
	                
	                <div class="tab-content">
						<th:block th:each="language, i : ${languageList}"
							th:with="index=${i.index}">
	
							<div th:id="'language' + ${index}" class="tab-pane fade "
								th:classappend="${index == 0}  ? 'in active' : ''">
			                    <input type="hidden" th:name="'notiTemplateLangDtoList['+${index}+'].notiId'" th:field="*{notiTemplateLangDtoList[__${index}__].notiId}" />
			                    <input type="hidden" th:name="'notiTemplateLangDtoList['+${index}+'].langCode'" th:value="${language.code}" />
			                    <input type="hidden" th:name="'notiTemplateLangDtoList['+${index}+'].langId'" th:value="${language.id}" />
			                    <div class="form-group">
									<label for="templateTitle" class="col-sm-4 required" th:text="#{noti.template.noti.title}">Name</label>          
				                    <div class="col-sm-8">
					                    <input type="text" class=" form-control j-required j-specialCharacters" maxlength="255"
					                    		 th:field="*{notiTemplateLangDtoList[__${index}__].templateTitle}" />
				                    </div>
			                    </div>
			                    <div class="form-group">
				                    <label for="name" class="col-sm-4 required" th:text="#{noti.template.noti.content}">Name</label>          
				                    <div class="col-sm-8">
					                    <textarea class="form-control j-required" rows="4" maxlength="255" th:field="*{notiTemplateLangDtoList[__${index}__].templateContent}"></textarea>
				                    </div>
			                    </div>
							</div>
						</th:block>
					</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 footer-box-bg">
                <a class="btn-cancel" id="btnCancel">
                    <i class="fa fa-times"></i>
                    <span th:text="#{cancel.button}">Thoát</span>
                </a>
                <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                <a class="btn-common btn-save" id="btnSave" th:if="${#authorization.expression('hasAuthority(@roleConstant.EMAIL_TEMPLATE)')}">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span th:text="#{save.button}">Lưu</span>
                </a>
            </div>
        </div>
    </form>
    
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    var LANGUAGE_LIST = /*[[${languageList}]]*/;
	    var tabError = $("#tabError").text();
	    /*]]>*/
	</script>
        
    <script type="text/javascript" th:src="@{/static/cache/js/noti-template/noti-template-detail.js}"></script>
    
    <script type="text/javascript">
		$(document).ready(function() {
			$('#tabLanguage a').click(function(event) {
				event.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
</body>    
</html>