<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.fileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>

<!-- BODY START -->
<body th:fragment="content">
<div class="col-sm-12 no-padding">
    <div class="header-box">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title-box" th:text="#{import.import.result}">Import Results</h5>
            </div>
            <div class="col-md-8 align-right">
                <!-- Export Excel -->
                <button class="btn-ico" type="button" id="btnExportExcel" th:title="#{searchfield.disp.export.excel}">
                    <img th:src="@{/static/images/icon-excel.png}" alt="" width="19px">
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="tblDataTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th th:text="#{import.emulate.error}">Message error</th>
                <th th:text="#{import.emulate.contest.no}">Mã chương trình</th>
                <th th:text="#{import.emulate.memo}">Số memo</th>
                <th th:text="#{import.emulate.contest.name}">Tên chương trình</th>
                <th th:text="#{import.emulate.key.seo}">Từ khóa SEO</th>
                <th th:text="#{import.emulate.key}">Từ khóa</th>
                <th th:text="#{import.emulate.key.desc}">Mô tả từ khóa</th>
                <th th:text="#{import.emulate.description}">Nội dung</th>
                <th th:text="#{import.emulate.contestType}">Loại thi đua</th>   
                <th th:text="#{import.emulate.contest.phy.img}">Đường dẫn hình ảnh</th>
                <th th:text="#{import.emulate.contest.phy.file}">Đường dẫn thư mục</th>
                <th th:text="#{import.emulate.hot}">Thi đua hot</th>
                <th th:text="#{import.emulate.challenge}">Thách thức</th>
                <th th:text="#{import.emulate.action}">Kích hoạt</th>
                <th th:text="#{import.emulate.ods}">Liên kết ODS</th>
                <th th:text="#{import.emulate.start.date}">Ngày bắt đầu </th>
                <th th:text="#{import.emulate.end.date}">Ngày kết thúc</th>
                <th th:text="#{import.emulate.effctive.date}">Ngày đăng</th>
                <th th:text="#{import.emulate.expired.date }">Ngày hết hạn </th>
                <th th:text="#{import.emulate.object}">Đối tượng áp dụng </th>              
                <th th:text="#{import.emulate.agent.name}">Danh sách đại lý</th>
                <th th:text="#{import.emulate.territory}">Miền</th>
                <th th:text="#{import.emulate.area}">Khu vực</th>
                <th th:text="#{import.emulate.region}">Vùng</th>
                <th th:text="#{import.emulate.office}">Văn phòng</th>
                <th th:text="#{import.emulate.position}">Chức vụ</th>
                <!-- <th th:text="#{import.emulate.person}">Vai trò cá nhân</th> -->
                <th th:text="#{import.emulate.reporting}">Người báo cáo</th>
                <th th:text="#{import.emulate.note}">Ghi chú</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}"
                th:attr="data-id=${item.id}, data-session-key=${item.sessionKey}">

                <td class="text-right" th:text = "${i.index + startIndex}"></td>
                <!-- Message Error -->
                <td class="text-nowrap text-center error"
                    onclick="detailMessageImport(this)"
                    style="cursor: pointer;" >
                    <span th:if="${item.messageError}"
                          th:text="#{view.error.detail}">View error detail</span>
                    <span th:unless="${item.messageError}"></span>
                    <input type="hidden" th:value="${item.messageError}" />
                </td>
                <td class="text-nowrap text-left" th:text="${item.code}"></td>
                <td class="text-nowrap text-left" th:text="${item.memoNo}">*</td>
                <td class="text-nowrap text-left" th:text="${item.contestName}">*</td>
                <td class="text-nowrap text-left" th:text="${item.keywordsSeo}"></td>
                <td class="text-nowrap text-left" th:text="${item.keywords}"></td>
                <td class="text-nowrap text-left" th:text="${item.keywordsDesc}"></td>
                <td class="text-nowrap text-left" th:text="${item.description}">*</td>
                <td class="text-nowrap text-left" th:text="${item.contestType}">*</td>              
                <td class="text-nowrap text-left" th:text="${item.contestPhysicalImt}"></td>
                <td class="text-nowrap text-left" th:text="${item.contestPhysicalFile}"></td>
                <td class="text-nowrap text-left" th:text="${item.isHot}"></td>
                <td class="text-nowrap text-left" th:text="${item.isChallenge}"></td>
                <td class="text-nowrap text-left" th:text="${item.enabled}"></td>
                <td class="text-nowrap text-left" th:text="${item.isOds}"></td>
                <td class="text-center" th:text="${item.startDate}? ${#dates.format(item.startDate, 'dd/MM/yyyy')}">*</td>      
                <td class="text-center" th:text="${item.endDate}? ${#dates.format(item.endDate, 'dd/MM/yyyy')}">*</td>                    
                <td class="text-center" th:text="${item.effectiveDate}? ${#dates.format(item.effectiveDate, 'dd/MM/yyyy hh:mm')}">*</td>                    
                <td class="text-center" th:text="${item.expiredDate}? ${#dates.format(item.expiredDate, 'dd/MM/yyyy')}">*</td>                                                
                <td class="text-nowrap text-left" th:text="${item.applicableObject}">*</td>
                <td class="text-nowrap text-left" th:text="${item.agentName}"></td>              
                <td class="text-nowrap text-left" th:text="${item.area}"></td>
                <td class="text-nowrap text-left" th:text="${item.territory}"></td>
                <td class="text-nowrap text-left" th:text="${item.region}"></td>
                <td class="text-nowrap text-left" th:text="${item.office}"></td>
                <td class="text-nowrap text-left" th:text="${item.position}"></td>
               <!--  <td class="text-nowrap text-left" th:text="${item.isPerson}"></td> -->
                <td class="text-nowrap text-left" th:text="${item.reportingtoName}"></td>
                <td class="text-nowrap text-left" th:text="${item.note}"></td>
            </tr>
            <th:block th:if="${pageWrapper.countAll == 0}">
                <tr>
                    <!-- # -->
                    <td th:colspan="29" th:text="#{table.emptyTable.label}">No data</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<!-- PAGINATION -->
<th:block th:include="views/commons/pagination.html :: content" />

<script type="text/javascript" th:src="@{/static/CMS/all/emulate-import/emulate-import-table.js}"></script>

<input type="hidden" id="sessionKey" name="sessionKey" th:value="${sessionKey}" />
<input type="hidden" id="isError" name="isError" th:value="${searchDto.isError()}" />
<input type="hidden" id="error" name="isError" th:value="${error}" />


<div class="modal fade" id="modal-import-message-error">
    <th:block th:include="views/base-master/detail-message-error.html :: content" />
</div>

<div class="modal fade" id="modal-import-warning-error">
    <th:block th:include="views/base-master/detail-message-warning.html :: content" />
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var sessionKey = /*[[${sessionKey}]]*/;
    var CONTROLLER_URL = /*[[${controllerUrl}]]*/;
    var IS_ERROR = /*[[${searchDto.isError()}]]*/;
    var SEARCH_DTO = /*[[${searchDto}]]*/;
    var IS_SUBMIT = /*[[${searchDto.isSubmit()}]]*/;

    var MSG_CONFIRM_BACK = /*[[#{F006.E004}]]*/;
    var MSG_CONFIRM_DELETE = /*[[#{EDIT.MOVEMENT.F002.N002}]]*/;
    var MSG_CONFIRM_UPDATE = /*[[#{EDIT.MOVEMENT.F002.N005}]]*/;
    /*]]>*/
</script>

</body>
<!-- BODY END -->
</html>