.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before,
.s-alert-close::after {
    width: 2px;
}

.activity-progress {
    padding: 300px 300px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.card__footer-item p {
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.special-input-extend .input__content label {
    transition: 0.3s;
    position: relative !important;
    font-size: 1.6rem;
    z-index: 0;
    width: 85%;
}

/**zoom**/
/* main {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  main button {
    margin-top: 20px;
    background-color: #2D8CFF;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  main button:hover {
    background-color: #2681F2;
  } */

#meetingSDKElement {
    top: 59px !important;
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 244px; /* width of speaker and ribbon view */
}

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

html, body {
  background-color: #FFFFFF !important;
}

#zmmtg-root {
    display: none;
}

/*----------------------------------------*/
/* CSS cho popupOpenApp */
.popupOpenApp {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popupOpenApp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 189;
        padding: 12px 12px 12px 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: inline-block;
        min-height: 62px;
        border: 0.5px solid #DEDEDE;
        border-left: none;
        border-right: none;
    }

    .popupOpenAppContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .popupOpenAppContent img {
        /*margin-right: 12px;*/
    }

    .popupOpenApp .left {
        /*margin-right: 12px;*/
    }

    .popupOpenApp .center {
        flex-grow: 1;
        margin-left: 10px;
        margin-right: 10px;
    }
    .popupOpenApp .center span {
        font-size: 12px;
        color: #727272;
    }

    .popupOpenApp .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popupOpenApp h1 {
        font-size: 14px;
        font-weight: 600;
        color: #292929;
        line-height: 16px;
    }

    .popupOpenApp p {
        font-size: 12px;
        color: #727272;
        font-weight: 500;
        line-height: 16px;
    }

    .popupOpenApp .open-app-link {
        background: linear-gradient(180deg, #E26141 -1.75%, #AF393D 100%);
        text-decoration: none;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        height: 38px;
        width: 72px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }

    .popupOpenApp .open-app-link:hover {
        background-color: #0056b3;
    }

    .close-btn {
        cursor: pointer;
    }
}


