<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{reset.password.title}">Tiêu đề trang</span>
				</h3>
			</div>
		</div>
	</div>
	<style>
label {
	position: inherit;
	top: -2px;
}
</style>
	<form th:action="@{/account/reset-password}" th:object="${editDto}"
		method="POST" class="form-horizontal u-for-page-top j-form-validate">

		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})"
			id="Mess" />
		</th:block>

		<div class="alert alert-danger alert-dismissible" id="agentMess">
			<button aria-hidden="true" data-dismiss="alert" class="close"
				type="button">×</button>
			<h4>
				<i class="icon fa fa-ban"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<div th:text="#{message.check.agent}" />
		</div>

		<div class="alert alert-danger alert-dismissible" id="agentExitMess">
			<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
			<h4>
				<i class="icon fa fa-ban"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<div th:text="#{message.check.agent.exit}" />
		</div>

		<div class="alert alert-danger alert-dismissible" id="passwordGadMess">
			<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
			<h4>
				<i class="icon fa fa-ban"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<div th:text="#{message.check.gad}" />
		</div>

		<div class="alert alert-danger alert-dismissible" id="isGadMess">
			<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
			<h4>
				<i class="icon fa fa-ban"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<div th:text="#{message.check.not.gad}" />
		</div>


		<div class="bg-content">
			<div class="row" id="radioLogin">
				<div class="col-md-3">
					<div class="form-group">
						<label class="col-sm-6 col-md-6 required"
							th:text="#{reset.password.password.type}">title</label>
					</div>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseLogin" id="radio1" value="1"
						th:checked="${editDto.chooseLogin == '1'}"> <label
						th:text="#{reset.password.login.success}">login</label>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseLogin" id="radio2" value="2"
						th:checked="${editDto.chooseLogin == '2'}"> <label
						th:text="#{reset.password.gad}">gad</label>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseLogin" id="radio3" value="3"
						th:checked="${editDto.chooseLogin == '3'}"> <label
						th:text="#{reset.password.two}">two</label>
				</div>
			</div>

			<div class="row" id="radioEmail">
				<div class="col-md-3">
					<div class="form-group ">
						<label class="col-sm-6 col-md-6 required"
							th:text="#{reset.password.send.password}">title</label>
					</div>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseMail" id=radio4 value="1"
						th:checked="${editDto.chooseMail == '1'}"> <label
						th:text="#{reset.password.email.account}">email ca nhan</label>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseMail" id="radio5" value="2"
						th:checked="${editDto.chooseMail == '2'}"> <label
						th:text="#{reset.password.email.dlvn}">email dlvn </label>
				</div>
				<div class="col-md-3">
					<input type="radio" name="chooseMail" id="radio6" value="3"
						th:checked="${editDto.chooseMail == '3'}"> <label
						th:text="#{reset.password.sms}">sms</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group ">
						<label class="col-sm-6 col-md-6 required" th:text="#{reset.agent}">agent</label>
					</div>
				</div>

				<div class="col-md-3">
					<input class="col-sm-12 col-md-12 required form-control j-number"
						type="text" name="agent" id="agent" th:value="${editDto.agent}" />
				</div>
			</div>

			<div class="row m-0 pos-gr-btn">
				<button type="button" class="u-btn u-btn-primary" id="btnSave">
					<!-- <img th:src="@{/static/images/icon-save.png}" alt="" width="19px" /> -->
					<span th:text="#{reset.password.button}">Lưu</span>
				</button>
			</div>
		</div>
		<input th:field="*{isError}" th:value="${editDto.isError}"
			type="hidden" /> <input th:field="*{result}"
			th:value="${editDto.result}" type="hidden" /> <input
			th:field="*{message}" th:value="${editDto.message}" type="hidden" />


	</form>
	<script th:inline="javascript">
    	/*<![CDATA[*/
		var RESET_PASSWORD_SUCCESS = /*[[#{message.success.reset.password}]]*/'';
		var RESET_PASSWORD_NOT_EXIST = /*[[#{message.success.reset.password.not.exist}]]*/'';
		var LANGUAGE_LIST = /*[[${languageList}]]*/;
    	var AGENT = /*[[${editDto.agent}]]*/;
    	var IS_SEND = /*[[${editDto.send}]]*/;
    //	var IS_ERROR = /*[[${editDto.isError}]]*/;
		var EDIT_DTO = /*[[${editDto}]]*/;
		var HAS_ERROR = /*[[${bindingResult}]]*/;

    /*]]>*/
  </script>

	<script type="text/javascript"
		th:src="@{/static/cache/js/reset-password/reset-password.js}"></script>

</body>
</html>