<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{p2passetsubcategory.title}">Tieu de trang</span>
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a>
            <i
              class="fa fa-arrow-circle-left icon-head-red"
              id="linkList"
              th:title="#{icon.back}"
            ></i>
          </a>
          <a>
            <i
              class="fa fa-plus-circle icon-head-red"
              id="add"
              th:title="#{icon.add}"
              th:if="${#authorization.expression('hasAuthority(''__${@roleEp2p.ROLE_ASSET_SUB_CATEGORY}__:Edit'')')}"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <form
      class="form-horizontal u-for-page-top j-form-validate"
      id="form-edit"
      th:action="@{/}"
      th:object="${p2pAssetSubCategory}"
      method="post"
      role="form"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <div class="bg-content clearfix bg-content-tbl">
        <div class="header-box">
          <h2
            class="title-box"
            th:text="#{p2passetsubcategory.edit.title}"
            th:if="${p2pAssetSubCategory.id != null}"
          >
            Update
          </h2>
          <h2
            class="title-box"
            th:text="#{p2passetsubcategory.create.title}"
            th:if="${p2pAssetSubCategory.id == null}"
          >
            Create
          </h2>
        </div>
        <input type="hidden" th:field="*{id}" />
        <div class="col-md-12 p-0">
          <div
            class="form-group"
            th:classappend="${#fields.hasErrors('code')} ? has-error : ''"
          >
            <label
              class="col-sm-2"
              for="name"
              th:text="#{p2passetcategory.code}"
              >Code</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                th:field="*{code}"
                class="form-control"
                maxlength="255"
                disabled="disabled"
              />
              <span
                class="help-block"
                th:if="${#fields.hasErrors('code')}"
                th:errors="*{code}"
              ></span>
            </div>
          </div>
        </div>

        <div class="col-md-12 p-0">
          <div
            class="form-group"
            th:classappend="${#fields.hasErrors('name')} ? has-error : ''"
          >
            <label
              class="col-sm-2 required"
              for="name"
              th:text="#{p2passetcategory.name}"
              >Name?</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                th:field="*{name}"
                class="form-control j-required"
                maxlength="255"
              />
              <span
                class="help-block"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
              ></span>
            </div>

            <label
              class="col-sm-2"
              for="activeFlag"
              th:text="#{p2passetcategory.activeFlag}"
              >Active</label
            >
            <div class="col-sm-4">
              <input type="checkbox" th:field="*{activeFlag}" />
              <span
                class="help-block"
                th:if="${#fields.hasErrors('activeFlag')}"
                th:errors="*{activeFlag}"
              ></span>
            </div>
          </div>

          <div
            class="form-group"
            th:classappend="${#fields.hasErrors('assetTypeCode')} ? has-error : ''"
          >
            <label
              class="col-sm-2 required"
              for="assetTypeCode"
              th:text="#{p2passetcategory.assetType}"
              >Asset type
            </label>
            <div class="col-sm-4">
              <select
                type="text"
                th:field="*{assetTypeCode}"
                class="form-control j-required"
              >
                <option value="">---</option>
                <option
                  th:each="item : ${assetTypes}"
                  th:value="${item.id}"
                  th:text="${item.name}"
                  th:selected="*{assetTypeCode} == ${item.id}"
                ></option>
              </select>
              <label
                style="display: none"
                th:for="assetTypeCode"
                generated="true"
                class="error"
              ></label>
            </div>

            <label
              class="col-sm-2 required"
              for="category"
              th:text="#{p2passetsubcategory.assetCategory}"
              >Asset Category</label
            >
            <div class="col-sm-4">
              <select
                type="text"
                th:field="*{assetCategoryCode}"
                class="form-control j-required"
              >
                <option value="">---</option>
                <!-- <option th:each="item : ${lstCategory}"
                                th:selected="*{assetCategoryCode} == ${item.code}" 
                                th:value="${item.code}"
                                th:text="${item.name}">
                            </option> -->
              </select>
              <label
                style="display: none"
                th:for="assetCategoryCode"
                generated="true"
                class="error"
              ></label>
            </div>
          </div>

          <div
            class="form-group"
            th:classappend="${#fields.hasErrors('note')} ? has-error : ''"
          >
            <label
              class="col-sm-2"
              for="note"
              th:text="#{p2passetlocation.note}"
              >Note</label
            >
            <div class="col-sm-10" style="padding-left: 15px">
              <textarea
                th:field="*{note}"
                class="form-control"
                rows="2"
                maxlength="255"
              ></textarea>
              <span
                class="help-block"
                th:if="${#fields.hasErrors('note')}"
                th:errors="*{note}"
              ></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 footer-box-bg">
          <a class="btn-cancel" id="cancel">
            <i class="fa fa-times"></i>
            <span th:text="#{cancel.button}">Thoát</span>
          </a>
          <a
            class="btn-common btn-save"
            id="btn-save"
            th:if="${#authorization.expression('hasAuthority(''__${@roleEp2p.ROLE_ASSET_SUB_CATEGORY}__:Edit'')')}"
          >
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <span th:text="#{save.button}">Lưu</span>
          </a>
        </div>
      </div>
      <input type="hidden" th:field="*{assetTypeName}" />
      <input type="hidden" th:field="*{assetCategoryName}" />
      <input type="hidden" th:field="*{assetCategoryJsonHidden}" />
    </form>
    <input
      type="hidden"
      id="url"
      name="url"
      th:value="${p2pAssetSubCategory.url}"
    />
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passetsubcategory/p2passetsubcategory-edit.js}"
    ></script>

    <script th:inline="javascript">
          /*<![CDATA[*/
          var ASSET_TYPE_CODE = /*[[${p2pAssetSubCategory.assetTypeCode}]]*/;
          var CATEGORY_CODE = /*[[${p2pAssetSubCategory.assetCategoryCode}]]*/;
          var LIST_ASSET_TYPE = /*[[${assetTypes}]]*/;
      /*]]>*/
    </script>
  </body>
</html>
