<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<script type="text/javascript" th:src="@{/static/plugins/bootbox/bootbox.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plupload-2.1.2/plupload.full.min.js}"></script>
<script th:inline="javascript">
		/*<![CDATA[*/
		var TRANSFER_CONFIRM_MESSAGE = /*[[#{contact.email.update-status.confirm-message}]]*/;
		var REJECT_EMAIL_MESSAGE = /*[[#{contact.email.reject.confirm-message}]]*/;
		/*]]>*/
</script>
<div class="row main-heading ">	
		<div class="row unit-border-bottom">
			<div class="col-sm-8 col-xs-6">
				<h2 class="mar-tb-no red" th:text="#{contact.email.page.detail.title}">Hỗ trợ trực tuyến</h2>
			</div>
			<div class="col-sm-4 col-xs-6 align-right">
					<a class="u-btn-head" id="listBooking">
						<img th:src="@{/static/icons/icon-back.png}"/>
						<span th:title="#{icon.back}">Trở lại</span>
					</a>

			</div>
		</div>
</div>

<section class="content">
	
	<form id="form-contact-email-detail" class="form-horizontal u-for-page-top j-form-validate" th:object="${emailEditModel}">
		<th:block
			th:include="views/commons/message-alert.html" />
		<div class="row unit-bg-com">
			<input id="id" type="hidden" th:value="${emailModel.id}"/>
			<input type="hidden" id="url" th:value="${emailModel.url}"></input>
			<div class="col-md-6">
				<div class="form-group">
					<label th:Text="#{contact.email.fullname}"
						for="name" class="col-sm-4 control-label">Họ và tên</label>
					<div class="col-sm-8">
						<label th:text="${emailModel.fullName}" class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label th:Text="#{contact.email.email}" for="address" class="col-sm-4 control-label">Email</label>
					<div class="col-sm-8">
						<label th:text="${emailModel.email}" class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label th:Text="#{contact.email.motive}" class="col-sm-4 control-label">Lý do liên hệ</label>
					<div class="col-sm-8">
						<label th:text = "${emailModel.motiveName}" class="form-control formatNumber"></label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
	  			<div class="form-group">
		            <label class="col-sm-4 control-label" th:text="#{contact.email.receive-date}">Ngày tiếp nhận</label>
		            <div class="col-sm-8">
		                    <label th:text="${emailModel.createDate} ? ${#dates.format(emailModel.createDate, 'dd/MM/yyyy')}" class="form-control"></label>
		            </div>
		        </div>
				<div class="form-group">
					<label th:text="#{contact.email.email-title}" class="col-sm-4 control-label">Chủ đề</label>
					<div class="col-sm-8">
						<label th:text="${emailModel.emailSubject}" class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label th:text="#{contact.email.servide}" class="col-sm-4 control-label">Dịch vụ</label>
					<div class="col-sm-8">
						<label th:text="${emailModel.serviceName}" class="form-control"></label>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="processingStatus" class="col-sm-2 control-label" th:text="#{contact.email.processing-status}">Trạng thái</label>
					<div class="col-sm-10">
						<label class="form-control" th:text="${emailModel.statusName != null}?#{${emailModel.statusName}}: ''"></label>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="placeBooking" class="col-sm-2 control-label" th:text="#{contact.booking.booking-content}">Nội dung</label>
					<div class="col-sm-10">
						<textarea cols="80" class="form-control-view" rows="5" th:text="${emailModel.emailContent}" ></textarea>
					</div>
				</div>
			</div>
			<div class = "col-xs-12 col-sm-12">
				<div class="form-group">
					<label for="comment" class="col-sm-2 control-label" th:text="#{contact.booking.comment}">Ghi chú</label>
					<div class="col-sm-10">
						<textarea th:field="*{comment}" cols="80" class="form-control" rows="7" ></textarea>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 unit-button">
				<a id="btn-cancel" type="button" class="btn-cancel"><i class="fa fa-times"></i> <span  th:text="#{cancel.button}"></span></a>
				<a id="btn-email-processing-update" type="button" class="btn-common"
					th:if="${#strings.equals('WAITING', emailModel.processingStatus)} 
						and ${#authorization.expression('hasAuthority(''__${T(vn.com.unit.hdb.admin.constant.AdminRoleConstant).ROLE_CONTACT_EMAIL}__:Edit'')')}">
				 	<i class="fa fa-check"></i>
				 	<span th:text="#{contact.email.action.processing-status-update}">Đã tiếp nhận</span>
				 </a>
				<a id="btn-email-done-update" type="button" class="btn-common"
					th:if="(${#strings.equals('WAITING', emailModel.processingStatus)} or ${#strings.equals('PROCESSING', emailModel.processingStatus)}) 
						and ${#authorization.expression('hasAuthority(''__${T(vn.com.unit.hdb.admin.constant.AdminRoleConstant).ROLE_CONTACT_EMAIL}__:Edit'')')}">
				 	<i class="fa fa-check"></i>
				 	<span th:text="#{contact.email.action.done-status-update}">Hoàn thành</span>
				</a>
				<a id="btn-email-reject" type="button" class="btn-common"
					th:if="(not ((${#strings.equals('REJECTED', emailModel.processingStatus)}) or (${#strings.equals('DONE', emailModel.processingStatus)}))) 
						and ${#authorization.expression('hasAuthority(''__${T(vn.com.unit.hdb.admin.constant.AdminRoleConstant).ROLE_CONTACT_EMAIL}__:Edit'')')}">
				 	<i class="fa fa-ban"></i>
				 	<span th:text="#{contact.booking.action.reject}">Từ chối</span>
				 	
				 </a>
			</div>
		</div>
		
		<input type="hidden" th:field="*{fromDate}"/>
		<input type="hidden" th:field="*{toDate}"/> 
		<input type="hidden" th:field="*{processingStatus}"/>
		<input type="hidden" th:field="*{service}"/>
		<input type="hidden" th:field="*{motive}"/>
		<input type="hidden" th:field="*{emailSubject}"/>
		<input type="hidden" th:field="*{fullName}"/>
		<input type="hidden" th:field="*{customerId}"/>
	</form>
	<div class="row unit-bg-table" id="tableList">
		<th:block th:include="views/contact-email/contact-email-update-history-table.html :: content(${emailModel.updateHistory})"/>
	</div>
 </section> 
<script type="text/javascript" th:src="@{/web-app/views/contact-email/contact-email-detail.js}"></script>
</body>
</html>

