<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="content">
		<div class="col-sm-12">
			<div class="col-xs-10 col-sm-10 no-padding">
				<h2 class="sub-header section-heading" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			</div>
			
			<div class="col-sm-2 no-padding">
				<span class="pull-right">
					<button class="btn-common" type="button" id="btn-export">
						<i class="fa fa-download" aria-hidden="true"></i>
						<span th:text="#{document.versionlist.download}">Tải về</span>
					</button>
				</span>
			</div>
			
			<div class="table-responsive no-padding col-sm-12">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th th:text="#{contact.email.email-title}">Chủ đề</th>
							<th th:text="#{contact.email.fullname}">Họ và tên</th>
							<th th:text="#{account.email}">Email</th>
							<th th:text="#{product.consulting.info.customer}">Khách hàng</th>
							<th th:text="#{contact.email.receive-date}">Ngày tiếp nhận</th>
							<th th:text="#{contact.email.motive}">Lý do liên hệ</th>
							<th th:text="#{contact.email.servide}">Dịch vụ</th>
							<th th:text="#{contact.email.processing-status}">Trạng thái</th>
							<th th:text="#{contact.email.processed-user}">Người xử lý</th>
							<th th:text="#{contact.email.processed-time}">Thời gian xử lý</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dataRow,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-email-id=${dataRow.id}" class="trEdit" >
								<td th:text="${i.index + startIndex}" style="text-align:center"></td>
								<td class="align-center">
									<div>
										<i class="glyphicon glyphicon-edit custom-icon j-btn-edit"></i>
									</div>																
								</td>
								<td style="width:200px;" th:text="${dataRow.emailSubject}">Chủ đề</td>
								<td style="width:200px;" th:text="${dataRow.fullName}">Họ và tên</td>
								<td style="width:200px;" th:text="${dataRow.email}">Email</td>
								<td style="width:200px;" th:text="${dataRow.customerName}">Khách hàng</td>
								<td style="width:200px;" th:text="${dataRow.createDate}? ${#dates.format(dataRow.createDate, 'dd/MM/yyyy')}">Ngày tiếp nhận</td>
								<td style="width:200px;" th:text="${dataRow.motiveName}"></td>
								<td style="width:200px;" th:text="${dataRow.serviceName}">Dịch vụ</td>
								<td th:text="${dataRow.statusName != null}? #{${dataRow.statusName}} : ''"></td>
								<td th:text="${dataRow.processedUser}"></td>
								<td style="text-align:center;width:150px;">
									<div th:if="${dataRow.createDate != null}">
										<span th:text="${dataRow.updateDate} ? ${#dates.format(dataRow.updateDate, 'dd/MM/yyyy HH:mm:ss')}"></span> 
									</div>									
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/CMS/all/contact-email/contact-email-list.js}"></script>
</section>
</html>

