<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<body>		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tabDistrict a').click(function(event) {
					event.preventDefault();
					$(this).tab('show');
				});
			});
		</script>
		<div class="title-head clearfix">
		   <div class="col-sm-9 col-xs-7 no-padding">
				<h3><i class="fa fa-table"></i> <span th:text="#{district.page}">Tiêu đề trang</span></h3>
		   </div>
		   <div class="col-sm-3 col-xs-5 icon-head">
	         <div class="pull-right">
				 <a>
	             	<i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
				 </a>
				 <a>
	             	<i class="fa fa-plus-circle icon-head-red" id="add"></i>
				 </a>
	          </div>
	       </div>
		</div>
		<form class="form-horizontal u-for-page-top j-form-validate" th:object="${districtDto}" method="post" role="form">
			<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>	
			<div class="bg-content clearfix">   	
				<div class="header-box"> 
	               <h2 class="title-box" th:text="#{district.edit.title}">Thông tin tỉnh/thành phố</h2>
	               <input type="hidden" th:field="*{districtId}" />
	            </div>
	            <div class="col-sm-12 p-0">					
					<div class="col-xs-6 col-sm-6">						
						<div class="form-group" th:classappend="${#fields.hasErrors('districtCode')} ? has-error : ''">
							<label class="col-sm-4 required" for="cityCode" th:text="#{district.code}">Mã tỉnh/thành phố</label>
							<div class="col-sm-8 " >
								<label class="form-control" th:text="${districtDto.districtCode}" > </label>								
							</div>
						</div>
						<!-- Show language -->    		        
						<div class="form-group">
							<label  class="col-sm-4 " th:text="#{news.language}">Ngôn ngữ</label>
							<div class="col-sm-8">
								<ul class="nav nav-tabs" id="tabDistrict">
									<th:block th:each="language, i : ${languageList}">
										<li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" >
											<a th:href="'#' + ${language.code}" th:text="${language.name}"></a>
										</li>
									</th:block>
								</ul>
							</div>
						</div>
						<div class="tab-content">
							<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
							<div th:id="${language.code}" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">	        			        			        	
						        <div class="row form-group">
						            <label for="districtLanguageDtos[__${index}__].districtName" class="col-sm-4" th:text="#{district.name}">Tên quận huyện</label>
						            <div class="col-sm-8">
						            	<label class="form-control" th:text="*{districtLanguageDtos[__${index}__].districtName}" > </label>				            						            							            
					            		<input  th:field="*{districtLanguageDtos[__${index}__].districtName}" type="hidden" />						                
						            </div>	
						        </div>						        						        			       						       					        
					        </div>		        					    		      
				        	</th:block>
						</div>	
						<!-- End show language -->	
						
						<div class="form-group">
							<label for="districtName" class="col-md-4 required"
								th:text="#{city.name}">Tỉnh/thành phố</label>
							<div class="col-sm-8">
								<select class="form-control select2 j-required" th:field="*{cityRegionCountry}" name="cityRegionCountry" disabled="disabled" id="cityCombobox">
									<option value="">-</option>
									<option th:each="item : ${listCityDto}" th:value="${item.id}" th:text="${item.text}"></option>
								 </select>				
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-sm-4 " for="type" th:text="#{organization.user.assign.type}">Phân loại</label>						
							<div class="col-sm-8">
								<select class="form-control select2" th:field="*{dType}" id="dType" disabled="disabled">
		                            <option th:each="item : ${lstDType}" th:value="${item.cat}" th:text="#{${item.code}}"></option>
		                        </select>													
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 " for="parentDistrict" th:text="#{district.parent}">Quận/huyện Cha</label>						
							<div class="col-sm-8">
								<select class="form-control select2" th:field="*{parentDistrict}" id="parentDistrict" disabled="disabled">
		                        	<option value="">-</option>
		                        	<option th:each="item : ${lstDistrict}" th:value="${item.id}" th:text="${item.text}"></option>
		                        </select>													
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4" th:text="#{role.active}">Active</label>						
							<div class="col-sm-8">
								<input type="checkbox" th:field="*{activeFlag}" disabled="disabled"/>													
							</div>
						</div>	
					</div>
					<div class="col-xs-6 col-sm-6">
						<div class="form-group">												
							<div class="col-sm-12">								
								<input type="hidden" id = "street_number"/>
						        <input type="hidden" id = "route"/>
						        <input type="hidden" id = "locality"/>			
						        <input type="hidden" id = "country"/>		        	
								<input type="hidden" id = "administrative_area_level_1"/>
								<input type="hidden" id = "administrative_area_level_2"/>																				
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 " for="latitude" th:text="#{map.latitude}" >Vĩ độ</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${districtDto.latitude}" > </label>
								<input type="hidden" id = "latitude" th:field="*{latitude}" />						
							</div>
						</div>						
						<div class="form-group">
							<label class="col-sm-4" for="longtitude" th:text="#{map.longtitude}">Kinh độ</label>						
							<div class="col-sm-8">
								<label class="form-control" th:text="${districtDto.longtitude}" > </label>
								<input type="hidden" id = "longtitude" th:field="*{longtitude}" />							
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4" for="description" th:text="#{job.description}">Mô tả</label>						
							<div class="col-sm-8" >		
								<textarea class="form-control" readonly="readonly" th:text="${districtDto.description}"></textarea>	            				            
			            	</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4" for="note" th:text="#{job.note}">Ghi chú</label>						
							<div class="col-sm-8">	
								<textarea class="form-control" readonly="readonly" th:text="${districtDto.note}"></textarea>		            			            	                								
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 form-control" id="map" style="height:480px;"></div>
				</div>
			</div>					
		</form>		
	</body>
	<input type="hidden" id="url" name="url" th:value="${districtDto.url}"/>
	<script type="text/javascript" th:src="@{/static/cache/js/district/district-detail.js}"></script>	
	<script type="text/javascript" th:src="@{/static/cache/js/j-google-map-api.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCs2ue2KZmNdxY_9QCX-hNoELD0l70-g-8&amp;libraries=places&amp;callback=initMap}" type="text/javascript">
	</script>
</html>	