<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<input type="hidden" id="sessionKey" name="sessionKey"/>
	<div class = "row">
		<!-- import excel -->
		<div class="col-xs-12 col-sm-12 no-padding form-group">
			<div class="col-sm-2">
				<label>File Import</label>
			</div>
			<div class="col-sm-10">
				<form method="POST" th:action="@{/} + ${rptController} + '/upload-excel'" enctype="multipart/form-data" id="form-box-import">
			   		<input type="hidden" name="controller" th:value="${rptController}" />
					<input type="hidden" name="functionCode" th:value="${functionCode}" />
					<input type="file" name="file" class="hide" id="file"/>
			   		<a href='' id="linkUpload">Choose your file</a>
				</form>
				<div id="upload-error-message" class="error" ></div>
			</div>
		</div>
		<!-- Xuat file template -->
		<div class="col-xs-12 col-sm-12 no-padding form-group">
			<div class="col-sm-2">
				<label>Template Import</label>
			</div>
			<div class="col-sm-10">
				<a href='' id="dowloadTemplate">Download template <!-- <input type="hidden" class="fileNameExcelTemplate" th:value="" /> --></a>
			</div>
		</div>
		<!-- Down file error -->
		<div class="col-xs-12 col-sm-12 no-padding form-group">
			<div class="col-sm-2">
				<label>Download</label>
			</div>
			<div class="col-sm-10">
				<a href='' id="exportData">Xuất danh sách lỗi</a>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			$(function(e){
				var controller = /*[[${rptController}]]*/;
		    	var functionCode = /*[[${functionCode}]]*/;
				var boxMain = /*[[${boxMain}]]*/;
		    	var boxSearch = /*[[${boxSearch}]]*/;
				var boxImport = /*[[${boxImport}]]*/;
				var boxTable =  /*[[${boxTable}]]*/;
				var formBoxImport = 'form-box-import';
				// Upload service image
			    $("#" + boxMain).find("#" + boxImport).find('#' + formBoxImport).fileupload({
			        url: '',
			        type: 'POST',
			        dataType: 'json',
			        formAcceptCharset: 'utf-8',
			        limitMultiFileUploadSize: 1000000,
			        limitMultiFileUploadSizeOverhead: 1000000,
			        multipart: true,
			        maxChunkSize: 10000000,
			        sequentialUploads: false,
			        fileExt: '*.xlsx;*.xls',
			        add: function (e, data) {
			            $('#upload-error-message').html('');
			            debugger;
			            var acceptFileTypes = /application\/vnd\.ms-excel|.openxmlformats-officedocument.spreadsheetml.sheet$/i;
			            if (data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
			            	$('#upload-error-message').html('Not an accepted file type');
			                return;
			            }
			            
			            if (data.originalFiles[0]['size'].length && data.originalFiles[0]['size'] > 5000000) {
			                $('#upload-error-message').html('File size is too big');
			                return;
			            }
			            
			            /* var totalName = data.files[0].name;
			            var fileName = totalName.split(/\.(?=[^\.]+$)/);
			            $(this).find('.fileName')
			            if ($(this).find('.fileName').val() == '') {
			                $(this).find('.fileName').val(fileName[0]);
			            } */
			            data.submit();
			        },
			        done: function (e, data) {
			        	if(data.result.status==1){
			        		sessionKey = data.result.sessionKey;
				        	$('#sessionKey').val(sessionKey);
				        	// Get data for table
					    	getDataImport(controller, functionCode, sessionKey, boxMain, boxTable, function(data) {
					    		$("#" + boxMain).find("#" + boxTable).html(data)
							});
			        	}else{
			            	$('#upload-error-message').html(data.result.message);
			        	}
			        	
			        },
			        fail: function (e, data) {
			        }
			    });
				
			    $("#linkUpload").click(function(e){
			    	e.preventDefault();
			        $("#file").click();
			    });
			    
			    $("#" + boxMain).find("#dowloadTemplate").click(function(e){
			    	e.preventDefault();
					var filename = $("#" + boxMain).find(".fileNameExcelTemplate").val();
					$("#" + boxMain).find(".j-form-download-template").attr("action", BASE_URL + CONTROLLER_NAME + '/download?filename=' + filename);
					$("#" + boxMain).find(".j-form-download-template").submit();	
				})
				
				$("#" + boxMain).find("#exportData").click(function(e){
			    	e.preventDefault();
			    	sessionKey = $('#sessionKey').val();
			    	exportExcel(controller, functionCode+'_EXP', sessionKey);
				})
			})			
		/*]]>*/
	</script>
</body>
</html>