<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
<th:block th:if="${item.isVisible == true}">
	<th:block th:if="${item.isLink == true}">
		<td style="padding-left:5px; padding-right: 5px">
			<th:block th:if="${item.isKey == true}">
				<input class="attr-key" type="hidden" th:value="${item.valueField}" />
			</th:block> 
			 <th:block th:switch="${#strings.trim(item.dataType)}">
				<th:block th:case="'C'">
					<div align="center">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<span th:text="${item.valueField}"></span>
						</a>
					</div>
				</th:block>
				<th:block th:case="'CL'">
					<div align="left">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<span th:text="${item.valueField}"></span>
						</a>
					</div>
				</th:block>
				<th:block th:case="'CR'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<span th:text="${item.valueField}"></span>
						</a>
					</div>
				</th:block>
				<th:block th:case="'N'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">

							<th:block	th:if="${item.valueField != null}">
								<th:block th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
										<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
									</th:block>
									<th:block th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
											<span
											th:text="${#numbers.formatDecimal(item.valueField, 1, 'COMMA',3, 'POINT')}"></span>
									</th:block>
							</th:block> <th:block
								th:unless="${item.valueField != null}">
								<span> </span>
							</th:block>
						</a>
					</div>
				</th:block>
				<th:block th:case="'F'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">

							<th:block	th:if="${item.valueField != null}">
								<th:block th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 3, 'POINT').toString(),'.000')}">
										<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
									</th:block>
									<th:block th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 3, 'POINT').toString(),'.000')}">
											<span
											th:text="${#numbers.formatDecimal(item.valueField, 1, 'COMMA',3, 'POINT')}"></span>
									</th:block>
							</th:block> <th:block
								th:unless="${item.valueField != null}">
								<span> </span>
							</th:block>
						</a>
					</div>
				</th:block>
				<th:block th:case="'NC'">
					<div align="center">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">

							<th:block th:if="${item.valueField != null and item.valueField != 0}">
								<th:block th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
										<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
									</th:block>
									<th:block th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
											<span
											th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',2, 'POINT')}"></span>
									</th:block>		
							</th:block> 
							<th:block
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</th:block>
						</a>
					</div>
				</th:block>
				<!-- number is money -->
				<th:block th:case="'NM'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">

							<th:block th:if="${item.valueField != null and item.valueField != 0}">
									<th:block th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
										<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
									</th:block>
									<th:block th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
											<span
											th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',2, 'POINT')}"></span>
									</th:block>
							</th:block> <th:block
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</th:block>
						</a>
					</div>
				</th:block>
				<!-- number / unit -->
				<th:block th:case="'NMD'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">

							<th:block
								th:if="${item.valueField != null and item.valueField != 0}">
								<th:block th:if="${item.valueField % unitPrice == 0}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField / unitPrice, 0, 'COMMA', 0, 'POINT')}"></span>
								</th:block>
								<th:block th:unless="${item.valueField % unitPrice == 0}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField / unitPrice, 0, 'COMMA', 2, 'POINT')}"></span>
								</th:block>
							</th:block> <th:block
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</th:block>
						</a>
					</div>
				</th:block>
				<th:block th:case="'NP'">
					<div align="right">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<th:block
								th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
								<span
									th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA', 0, 'POINT') + '%'}"></span>
							</th:block> <th:block
								th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
								<span
									th:text="${#numbers.formatDecimal(item.valueField , 0, 'COMMA',2, 'POINT') + '%'}"></span>
							</th:block>
						</a>
					</div>
				</th:block>
				<th:block th:case="'D'">
					<div align="center">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<th:block th:if="${item.valueField != null}">
								<span
									th:text="${#dates.format(item.valueField, item.datePattent)}"></span>
							</th:block>
						</a>
					</div>
				</th:block>
				<th:block th:case="'DT'">
					<div align="center">
						<a class="view-detail" th:attr="col-field = ${item.columnField}"
							style="cursor: pointer; color: black; text-decoration: underline;">
							<th:block th:if="${item.valueField != null}">
								<span
									th:text="${#dates.format(item.valueField, item.datePattent + ' HH:mm:ss')}"></span>
							</th:block>
						</a>
					</div>
				</th:block>
				
				
			</th:block></td>
	</th:block>
	<!-- end islink = true -->
	<th:block th:if="${item.isLink == false}">
		
		<td style="padding-left:5px; padding-right: 5px">
			<th:block th:if="${item.isKey == true}">
				<input class="attr-key" type="hidden" th:value="${item.valueField}" />
			</th:block> 
			<th:block th:switch="${#strings.trim(item.dataType)}">
					<th:block th:case="'C'">
						<div align="center" onclick="detailMessage(this)" class="error"
							th:if="${item.columnField} == 'MESSAGE_ERROR'"
							style="cursor: pointer;">
							<span th:if="${item.valueField}">Error detail</span> <span
								th:unless="${item.valueField}"></span> <input type="hidden"
								th:value="${item.valueField}" />
						</div>
						<div align="center" th:text="${item.valueField}"
							th:unless="${item.columnField} == 'MESSAGE_ERROR'"></div>
					</th:block>
					<th:block th:case="'CL'">
						<div align="left" onclick="detailMessage(this)" class="error"
							th:if="${item.columnField} == 'MESSAGE_ERROR'"
							style="cursor: pointer;">
							<span th:if="${item.valueField}">Error detail</span> <span
								th:unless="${item.valueField}"></span> <input type="hidden"
								th:value="${item.valueField}" />
						</div>
						<div align="left" th:text="${item.valueField}"
							th:unless="${item.columnField} == 'MESSAGE_ERROR'"></div>
					</th:block>
					<th:block th:case="'CR'">
						<div align="right" th:text="${item.valueField}"
							th:unless="${item.columnField} == 'MESSAGE_ERROR'"></div>
						<div align="right" onclick="detailMessage(this)" class="error"
							th:if="${item.columnField} == 'MESSAGE_ERROR'"
							style="cursor: pointer;">
							<span th:if="${item.valueField}">Error detail</span> <span
								th:unless="${item.valueField}"></span> <input type="hidden"
								th:value="${item.valueField}" />
						</div>
					</th:block>
					<th:block th:case="'N'">
						<div align="right">
							<div th:if="${item.valueField != null}">
								<th:block
									th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
								</th:block>
								<th:block
									th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 3, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 1, 'COMMA',3, 'POINT')}"></span>
								</th:block>
							</div>
							<div th:unless="${item.valueField != null}">
								<span> </span>
							</div>
						</div>
					</th:block>
					<th:block th:case="'F'">
						<div align="right">
							<div th:if="${item.valueField != null}">
								<th:block
									th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 3, 'POINT').toString(),'.000')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
								</th:block>
								<th:block
									th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 3, 'POINT').toString(),'.000')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 1, 'COMMA',3, 'POINT')}"></span>
								</th:block>
							</div>
							<div th:unless="${item.valueField != null}">
								<span> </span>
							</div>
						</div>
					</th:block>
					<th:block th:case="'NC'">
						<div align="center">
							<th:block
								th:if="${item.valueField != null and item.valueField != 0}">
								<th:block
									th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
								</th:block>
								<th:block
									th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',2, 'POINT')}"></span>
								</th:block>
							</th:block>
							<th:block
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</th:block>
						</div>
					</th:block>
					<!-- number is money -->
					<th:block th:case="'NM'">
						<div align="right">
							<div th:if="${item.valueField != null and item.valueField != 0}">
								<th:block
									th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',0, 'POINT')}"></span>
								</th:block>
								<th:block
									th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA',2, 'POINT')}"></span>
								</th:block>
							</div>
							<div
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</div>
						</div>
					</th:block>
					<!-- number / unit -->
					<th:block th:case="'NMD'">
						<div align="right">
							<div th:if="${item.valueField != null and item.valueField != 0}">

								<th:block th:if="${item.valueField % unitPrice == 0}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField / unitPrice, 0, 'COMMA', 0, 'POINT')}"></span>
								</th:block>
								<th:block th:unless="${item.valueField % unitPrice == 0}">
									<span
										th:text="${#numbers.formatDecimal(item.valueField / unitPrice, 0, 'COMMA', 2, 'POINT')}"></span>
								</th:block>
							</div>
							<div
								th:unless="${item.valueField != null and item.valueField != 0}">
								<span>0</span>
							</div>
						</div>
					</th:block>
					<th:block th:case="'NP'">
						<div align="right">
							<th:block
								th:if="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
								<span
									th:text="${#numbers.formatDecimal(item.valueField, 0, 'COMMA', 0, 'POINT') + '%'}"></span>
							</th:block>
							<th:block
								th:unless="${#strings.contains(#numbers.formatDecimal(item.valueField, 0, 'COMMA', 2, 'POINT').toString(),'.00')}">
								<span
									th:text="${#numbers.formatDecimal(item.valueField , 0, 'COMMA', 	2, 'POINT') + '%'}"></span>
							</th:block>
						</div>
					</th:block>
					<th:block th:case="'D'">
						<div align="center">
							<div th:if="${item.valueField != null}">
								<span
									th:text="${#dates.format(item.valueField, item.datePattent)}"></span>
							</div>
						</div>
					</th:block>
					<th:block th:case="'DT'">
						<div align="center">
							<div th:if="${item.valueField != null}">
								<span
									th:text="${#dates.format(item.valueField, item.datePattent + ' HH:mm:ss')}"></span>
							</div>
						</div>
					</th:block>
					<th:block th:case="'M'">
						<div align="center">
							<div th:if="${item.valueField != null}">
								<span th:text="${#dates.format(item.valueField, 'MM/yyyy')}"></span>
							</div>
						</div>
					</th:block>
				</th:block>
			</td>
	</th:block>
</th:block>
<th:block th:unless="${item.isVisible == true}">	
	<th:block th:if="${item.isKey == true}">
		<input class="attr-key" type="hidden" th:value="${item.valueField}" />			
	</th:block>
</th:block>	
</body>
</html>
