<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">

<!--  -->
<div class="title-head clearfix">
	 <div class="col-sm-9 col-xs-7 no-padding">
		<h3><i class="fa fa-table"></i> <span th:text="#{custom.role.header}">Tiêu đề trang</span></h3>
	 </div>
	 <div class="col-sm-3 col-xs-5 icon-head">
       <div class="pull-right">
          <a id="btnSaveAutho" class="font17 btn-save btn-save-2"
          th:if="${#authorization.expression('hasAuthority(@roleConstant.CUSTOM_ROLE)')}"><i
				class="fa fa-save"></i>
		  </a>
       </div>
   </div>
</div>
	<div class="j-message-alert" id ="msg">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
	</div>
		<div class="col-md-6 no-pleft">
			<div class="bg-content clearfix bg-content-tbl">
				<div class="col-xs-12 col-sm-12 p-0" th:if="${companyList.size()>1}">
					<label for="companyId" class="col-sm-3 " th:text="#{company.detail}">Company</label>
						<div class="col-sm-9">
							<select class="col-sm-9 form-control select2 select-company" id="company-id">
								<option th:if="${#authentication?.principal?.companyAdmin}" th:value="${NULL}" th:text="#{company.all}"></option>										
								<option th:each="company : ${companyList}" 
										th:value="${company.id}"
										th:text="${company.text}"
										th:selected="${company.id == companyId}">
								</option>
							</select>
						</div>
				</div>
					<input type="hidden" id="company-id" th:value="${companyId}" th:unless="${companyList.size()>1}" />
				<div class="header-box">
					<h3 class="title-box" th:text="#{authority.role.list}">Update product</h3>
				</div>
				<div>
					<div class="bg-content clearfix bg-content-tbl" id="comRoleTable">
						<th:block th:include="views/role-custom/role-custom-list-company-role.html :: content"/>
					</div>
				</div>
			</div>
		</div>
	 <div class="col-md-6 p-0">
		<div class="bg-content clearfix bg-content-tbl" id="boxMenuByFunction">
		<!-- 	Load ajax <th:block th:include="views/authority/iauthority-detail.html :: content"/> -->
		</div>
	</div> 
<!--  -->
<script type="text/javascript"
	th:src="@{/static/cache/js/role-custom/role-custom-list.js}"></script>
</html>