<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="content">
<style type="text/css">
	.bg-phl .bg-content-tbl .title-box {
	    border-bottom: none;
	    padding: 3px 0;
	    margin: 5px 20px 0;
	}
</style>
		<div class="table-responsive">
<!-- 		<h2>table1</h2> -->
        <table id="roleTableId"
            class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="u_t_no">#</th>
                    <th th:if="*{#authentication?.principal?.companyAdmin}">
                     <input type="text" id="companyName" class="form-control input-sm" th:placeholder="#{company.detail}"/>	
                        </th>
                    <th>
                        <input type="text" id="roleName" class="form-control input-sm" th:placeholder="#{authority.role.name}" />
                    </th>
                    <th>
                         <div class="btn-group gr-btn-sort">
                            <button onclick="up()">
                                <i class="fa fa-angle-up"></i>
                            </button>
                            <button onclick="down()">
                                <i class="fa fa-angle-down"></i>
                            </button> 
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="role,i : ${roleList}">
                    <tr th:attr="data-role-id=${role.roleId}" th:class="${roleIdSelected == role.roleId} ? highlight : ''" th:if="${role.actived}">
                        <td th:text="${i.index+1}" th:attr="data-company-id=${role.companyId}"></td>
                        <td th:if="*{#authentication?.principal?.companyAdmin}" th:text="${(role.companyName==null or role.companyName=='')} ? #{company.all} : ${role.companyName}" data-tfilter1="true">Company</td>
                        <td th:text="${role.roleName}" data-tfilter2="true">Administrator</td>
                        <td class="text-center">
                            <div class="btn-group">
                                 <!-- <a class="j-role-edit j-btn-edit glyphicon glyphicon-edit custom-icon"
                                    type="button"> </a> -->
                                <a class="j-role-edit j-btn-edit glyphicon glyphicon-edit custom-icon" type="button"></a>
                            </div>

                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	var messageList = /*[[${messageList}]]*/;
	/*]]>*/
</script>
<script type="text/javascript" th:src="@{/static/cache/js/role-custom/role-custom-list-company-role.js}"></script>
</html>