<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<style type="text/css">
	.col-sm-12 .pull-left {
 		 padding-left: 15px;
	}
</style>
<div class="row m-0">
	<div class="header-box">
    	<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
    </div>
    <div class="table-responsive">
        <table id="itemTableList" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{item.management.function.action}">Action</th>
                <th th:text="#{company.detail}" th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}">Company</th>
                <th th:text="#{item.management.function.code}">Function code</th>
                <th th:text="#{item.management.function.name}">Function name</th>
                <th th:text="#{item.management.function.desc}">Description</th>
                <th th:text="#{item.management.function.type}">Function type</th>
<!--                 <th th:text="#{item.management.function.bizcode}">Business code</th> -->
<!--                 <th th:text="#{item.management.function.subtype}">Sub type</th> -->
<!--                 <th th:text="#{item.management.function.menutype}">Menu type</th> -->
                <!--<th th:text="#{item.management.function.displayorder}">Display order</th>-->
            </tr>
            </thead>
            <tbody>
                <th:block th:each="item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
                    <tr class="db-click" th:attr="data-item-id=${item.itemId}">
                        <td class="text-center" th:text="${i.index + startIndex}"></td>
                        <td class="td-action text-center" style="width: 80px;">
                            <div class="btn-group ">
                            	<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" ></a>
                               <!-- <a class="glyphicon glyphicon-edit custom-icon j-btn-edit" title="update"
                                   th:href="@{/item/edit(functionCode=${item.functionCode},functionName=${item.functionName},action=2)}"></a> -->
                                <a class="glyphicon glyphicon-edit custom-icon j-btn-edit" 
                                th:if="${#authorization.expression('hasAuthority(@roleConstant.ITEM_MANAGEMENT)') and ((item.companyName != null and item.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
                                <a class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red menudelete"
                                th:if="${#authorization.expression('hasAuthority(@roleConstant.ITEM_MANAGEMENT)') and ((item.companyName != null and item.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
                            </div>
                        </td>
                        <td th:if="${#authentication?.principal?.companyIdList.size()>1 or #authentication?.principal?.companyAdmin}"
							th:text="${item.companyName} !='' and ${item.companyName} != null ? ${item.companyName}: #{company.all}"></td>
                        <td th:text="${item.functionCode}"></td>
                        <td th:text="${item.functionName}"></td>
                        <td th:text="${item.description}"></td>
                        <!-- <td th:text="${item.functionType}"></td> -->
                        <td>
                        	<span th:text="${item.functionType}"></span>
                        	<!-- <span th:if="${item.functionType == '1'}" th:text="#{item.management.system}"></span>
                            <span th:unless="${item.functionType == '1'}" th:text="${item.functionName}"></span> -->
                            <!-- <select th:unless="${item.functionType == '1'}" th:text="${item.functionType}">
                            <option th:each="${i : lstFunctionType}" th:value=${i.code} th:text=${i.name} />
                            </select> --> 
                            
                        </td>
<!--                         <td th:text="${item.businessCodeDisplay}"> -->
<!--                             <span th:each="i : ${lstBusiness}" 
<!--                                     th:if="${i.code} == ${item.businessCode}" th:text="${i.name}"> -->
<!--                             </span> -->
<!--                         </td> -->
<!--                         <td th:text="${item.subType}"></td> -->
<!--                         <td th:text="${item.menuType}"></td> -->
                        <!--<td th:text="${item.displayOrder}"></td>-->
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <th:block th:include="views/commons/pagination.html :: content(pageWrapper=${pageWrapper})"/>
</div>
<script type="text/javascript" th:inline="text">    
	var BUSINESS_FILTER = '[[#{search.filter.business.code}]]';
</script>
<script type="text/javascript" th:src="@{/static/cache/js/item-management/item-management-table.js}"></script>
</body>
</html>

