<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body th:fragment="content">
<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{item.management.list.page}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" th:href="@{/item/edit}" 
              	th:if="${#authorization.expression('hasAuthority(@roleConstant.ITEM_MANAGEMENT)')}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
					 <a class="btn-save u-btn u-btn-primary" th:if="${#authorization.expression('hasAuthority(@roleConstant.ITEM_MANAGEMENT)')}"> 
						<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
						<span th:text="#{save.button}">Lưu</span>
					</a>
		        </div>
		   </div>
		</div>	
	</div>

<form id="form-edit-item-management" method="POST" role="form" class=" u-for-page-top j-form-validate" th:object="${itemManagementDto}">
    <th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
    <div class="col-sm-12 p-0">
        <div class="bg-content clearfix">
        	<div class="header-box">
                <h2 class="title-box" th:if="*{itemId != null}" th:text="#{item.management.edit}">Edit</h2>
                <h2 class="title-box" th:unless="*{itemId!= null}" th:text="#{item.management.add}">Add</h2>
            </div>
            <input type="hidden" class="form-control" th:field="${itemManagementDto.itemId}"/>
            <!-- <input type="hidden" id="url" name="url" th:value="${urlRedirect}" /> -->
            <!-- <input type="hidden" class="form-control" id="StrCreatedDate" name="StrCreatedDate" th:value="${itemManagementDto.createdDate}"/> -->
            <!-- <input type="hidden" class="form-control" id="createdBy" name="createdBy" th:value="${itemManagementDto.createdBy}"/>-->
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row" th:classappend="${#fields.hasErrors('functionCode')} ? has-error : ''">
                    <label class="col-sm-3 required" th:text="#{item.management.function.code}">Function code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control j-required j-code" id="functionCode" name="functionCode"
                               th:value="${itemManagementDto.functionCode}" data-rule-maxlength="100" maxlength="100"
                               th:readonly="*{itemId != null and functionType=='1'}" />
                        <span class="help-block" th:if="${#fields.hasErrors('functionCode')}" th:errors="${itemManagementDto.functionCode}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 required" th:text="#{item.management.function.name}">Function name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control j-required j-specialCharacters" id="functionName" name="functionName"
                               th:value="${itemManagementDto.functionName}" maxlength="255"/>
                        <span class="help-block" th:if="${#fields.hasErrors('functionName')}" th:errors="${itemManagementDto.functionName}"></span>
                    </div>
                </div>
                <div class="form-group row" th:if="${companyList.size()>1}">
	                <label for="companyId" class="col-sm-3 " th:text="#{company.detail}">Company</label>
	                <div class="col-sm-9">
	                	<input type="hidden" th:if="*{itemId != null and functionType=='1'}" name="companyId" th:value="*{companyId}" />
	                    <select class="form-control select2" th:field="*{companyId}" th:disabled="*{itemId != null and functionType=='1'}">
	                    	<option th:if="${#authentication?.principal?.companyAdmin}" th:value="${NULL}" th:text="#{company.all}"></option>
	                        <option th:each="company : ${companyList}" 
	                                th:value="${company.id}"
	                                th:text="${company.text}">
	                        </option>
	                    </select>
	                </div>
	            </div>
	            <div th:unless="${companyList.size()>1}">
	                <input type="hidden" name="companyId" th:value="*{companyId}" />
	            </div>
               
                <!-- <div class="form-group">
                    <label class="col-sm-3 required" th:text="#{item.management.function.active}">Status</label>
                    <div class="col-sm-9">
                        <select class="form-control select2 j-required" th:field="${itemManagementDto.displayFlag}">
                            <option value="">-</option>
                            <option th:each="item : ${lstDisplayFlag}" th:value="${item.cat}" th:text="${item.catOfficialName}"></option>
                        </select>
                    </div>
                </div> -->
                
            </div>
             <div class="col-md-6">
             	 <div class="form-group row">
                    <label class="col-sm-3" th:text="#{item.management.function.desc}">Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="description" name="description"
                               th:value="${itemManagementDto.description}" data-rule-maxlength="255" maxlength="255"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" th:text="#{item.management.function.displayorder}">Display order</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control j-number" id="displayOrder" name="displayOrder"
                               th:value="${itemManagementDto.displayOrder}"  maxlength="38"/>
                        <span class="help-block" th:if="${#fields.hasErrors('displayOrder')}" th:errors="${itemManagementDto.displayOrder}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 required" th:text="#{item.management.function.type}">Function type</label>
                    <div class="col-sm-9">
                    	<input type="hidden" th:if="*{itemId != null and functionType=='1'}" name="functionType"  th:value="*{functionType}" />
                        <select class="form-control select2 j-required" th:field="${itemManagementDto.functionType}" id="functionType" 
                        	th:disabled="*{itemId != null and functionType=='1'}">
                            <option value="">-</option>
                            <option value="1" th:text="#{item.management.system}" th:if="*{itemId != null and functionType=='1'}"></option>
                            <option th:each="item : ${lstFunctionType}" th:value="${item.Code}" th:text="${item.name}"
                            th:unless="*{itemId != null and functionType=='1'}"></option>
                        </select>
                        <span class="help-block" th:if="${#fields.hasErrors('functionType')}" th:errors="${itemManagementDto.functionType}"></span>
                    </div>
                </div>
                </div> 
                <!--                 <div class="form-group">
                    <label class="col-sm-3" th:text="#{item.management.function.bizcode}">Business code</label>
                    <div class="col-sm-9">
                    	<input type="hidden" th:if="*{id != null and functionType=='1'}" name="businessCode"  th:value="*{businessCode}" />
                        <select class="form-control select2" id="businessCode" name="businessCode"
                        	th:disabled="*{id != null and functionType=='1'}">
                        	<option value=""></option>
                        	<option selected="selected" th:value="*{businessId}" th:text="*{businessName}" th:if="*{functionType=='3'}"></option>
                            <option selected="selected" th:value="*{businessCode}" th:text="*{businessName}" th:unless="*{functionType=='3'}"></option>
                        </select>
                    </div>              
                </div>
                <div class="form-group">
                    <label class="col-sm-3" th:text="#{item.management.function.subtype}">Sub type</label>
                    <div class="col-sm-9">
                    	<input type="hidden" th:if="*{id != null and functionType=='1'}" name="subType"  th:value="*{subType}" />
                        <select class="form-control" th:field="${itemManagementDto.subType}"
                        	th:disabled="*{id != null and functionType=='1'}">
                            <option value="">-</option>
                            <option th:each="item : ${lstSubType}" th:value="${item.cat}" th:text="${item.catOfficialName}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" th:text="#{item.management.function.menutype}">Menu type</label>
                    <div class="col-sm-9">
                        <select class="form-control select2" th:field="${itemManagementDto.menuType}">
                            <option value="">-</option>
                            <option th:each="item : ${lstMenuType}" th:value="${item.cat}" th:text="${item.catOfficialName}"></option>
                        </select>
                    </div>
                </div>
            </div>-->
           

         </div> 
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{/static/cache/js/item-management/item-management-edit.js}"></script>
</html>