
.collapsible {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Collapsible.css */

.collapsible-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 16px;
}

.collapsible-header p {
    margin: 0; /* Reset margin for the paragraph */
    flex: 1; /* Make the paragraph take up remaining space */
}

.collapsible-header img {
    transform: rotate(-90deg); /* Rotate the arrow when active */
    margin-left: auto; /* Push the image to the right */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.collapsible-header .arrow {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.collapsible.active .collapsible-header img {
    transform: initial;
}

.collapsible-content {
    display: none;
}

.collapsible.active .collapsible-content {
    display: initial;
}

.edit-text {
    font-size: 14px;
    font-weight: 600;
    color: #985801;
}

.dflex {
    display: flex;
    align-items: center;
}

.bold-text {
    font-weight: 700!important;
}

.collapsible-header-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #292929;
    margin: 0;
}