<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="table-responsive">
        <table
          id="tblDataTablePopup"
          class="table table-bordered table-striped"
        >
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th></th>
              <th th:text="#{p2passetadjustment.assetType}">Asset Type</th>
              <th th:text="#{p2passetadjustment.name}">Name of the Asset</th>
              <th th:text="#{p2passetadjustment.assetDescription}">
                Asset Description
              </th>
              <th th:text="#{p2passetadjustment.assetCategory}">
                Asset Category
              </th>
              <th th:text="#{p2passetadjustment.assetSubCategory}">
                Asset Sub Category
              </th>
              <th th:text="#{p2passetadjustment.imei}">IMEI</th>
              <th th:text="#{p2passetadjustment.assetTag}">Asset Tag</th>
              <th th:text="#{p2passetadjustment.assetSerialNo}">Serial No</th>
              <th th:text="#{p2passetadjustment.quantity}">Quantity</th>
              <th th:text="#{p2passetadjustment.unitOfMeasure}">
                Unit of Measure
              </th>
              <th th:text="#{p2passetadjustment.assetRegisterDate}">
                Asset Register Date
              </th>
              <th th:text="#{p2passetadjustment.officeLocation}">
                Office Location
              </th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="item,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr
                th:attr="
   		              		data-id=${item.id}, 
                        	data-asset-type-code=${item.assetTypeCode}, 
                        	data-asset-category-code=${item.assetCategoryCode}, 
                        	data-asset-sub-category-code=${item.assetSubCategoryCode}, 
                        	data-asset-location-code=${item.assetLocationCode}"
              >
                <td th:text="${i.index + startIndex}" class="text-center"></td>
                <td class="td-action">
                  <div class="align-center">
                    <input
                      class="item-check j-required"
                      type="radio"
                      name="type"
                      th:value="${item.id}"
                    />
                  </div>
                </td>
                <td th:text="${item.assetTypeName}">TYPE</td>
                <td th:text="${item.assetName}">NAME</td>
                <td th:text="${item.assetDescription}">Asset Description</td>
                <td th:text="${item.assetCategoryName}">Asset Category</td>
                <td th:text="${item.assetSubCategoryName}">
                  Asset Sub Category
                </td>
                <td th:text="${item.imei}">Asset Status</td>
                <td th:text="${item.assetTag}">Asset Tag</td>
                <td th:text="${item.serialNumber}">Serial No</td>
                <td th:text="${item.quantity}">Quantity</td>
                <td th:text="${item.uomName}">Unit of Measure</td>
                <td
                  class="text-center"
                  th:text="${item.registrationDate} ? ${#dates.format(item.registrationDate, @menuConfig.getFormDate())}"
                >
                  Asset Register Date
                </td>
                <td th:text="${item.assetLocationName}">Office Location</td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <!-- PAGINATION -->
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapper})"
      />

      <script
        type="text/javascript"
        th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passetadjustment/p2passetadjustment-model-table.js}"
      ></script>
    </div>
  </body>
</html>
