<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  
<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}" />
<!-- BODY START -->
<body>
    <div class="modal-header p-0">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
         <h4 class="modal-title" id="myModalLabel">
            <span th:text="#{p2passetadjustment.assetProfile}">Asset Profile</span>
         </h4>
     </div>
    <div class="modal-body p-0" style="padding-top:0px;">
        <form th:object="${searchDtoPopup}" method="post" role="form" class="form-horizontal u-for-page-top j-formSearch">
            <div class="bg-content clearfix">
                <div data-toggle="collapse" data-target="#search-box" class="header-box">
                    <h5 class="title-box">
                        <span th:text="#{search.title}">Vùng tìm kiếm</span>
                    </h5>
                    <i class="fa fa-minus pull-right" aria-hidden="true"></i>
                </div>
                <div class="collapse in row m-0" id="search-box">
        				<div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-md-2" th:text="#{p2passetadjustment.name}">Name of the Asset</label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" th:field="*{assetNamePopup}" />
                                </div>
                                
                                <label class="col-md-2" th:text="#{p2passetadjustment.assetSerialNo}">Asset Serial No</label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" th:field="*{assetSerialNoPopup}" />
                                </div>
                            </div>
        				</div>
                        
        				<div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-md-2" th:text="#{p2passetadjustment.assetTag}">Asset Tag</label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" th:field="*{assetTagPopup}" />
                                </div>
                                
                                <label class="col-md-2" th:text="#{p2passetadjustment.imei}">IMEI</label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" th:field="*{imeiPopup}" />
                                </div>
                            </div>
        				</div>
                        
        				<div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-md-2" th:text="#{p2passetadjustment.assetCategory}">Asset Category</label>
                                <div class="col-md-4">
                                    <select class="form-control" th:field="*{assetCategoryCodePopup}" >
                                        <option value="">All</option>
                                        <option th:each="item : ${lstCategory}" 
                                            th:value="${item.code}"
                                            th:text="${item.name}">
                                        </option>
                                    </select>
                                </div>
                            
                                <label class="col-md-2" th:text="#{p2passetadjustment.assetSubCategory}">Asset Sub Category</label>
                                <div class="col-md-4">
                                    <select class="form-control" th:field="*{assetSubCategoryCodePopup}" >
                                        <option value="">All</option>
                                        <option th:each="item : ${lstSubCategory}" 
                                            th:value="${item.code}"
                                            th:text="${item.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div align="center">
                              <div class="position-label col-xs-12 col-sm-12">
                                <a id="btnSearchPopup" class="btn-common"> 
                                	<i class=" fa fa-search"></i> <span th:text="#{search.button}">Tìm kiếm</span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </form>
        <!-- SEARCH AREA END -->
     </div>
     
    <!-- TABLE RESULT START -->
         <div class="bg-content clearfix bg-content-tbl" id="tableListPopup">
            <th:block th:include="views/ASSET_MANAGEMENT_MODULE/p2passetadjustment/p2passetadjustment-model-table.html :: content" />
        </div>
    <!-- TABLE RESULT END -->
    
     <input type="hidden" id="conditionPopupHidd" value="" />
     
     <div class="modal-footer">
         <div class="center">
             <a class="btn-common btn-in-tablet not-active" type="submit" data-dismiss="modal" id="btnPopupAdd" readonly="readonly">
                 <i class="fa fa-plus" th:title="#{add.button}"></i>
                 <span th:text="#{add.button}">Add</span>
             </a>
             <a class="btn-cancel" data-dismiss="modal"><i class="fa fa-times" th:title="#{cancel.button}"></i> 
                <span th:text="#{cancel.button}">Cancel</span>
             </a>
         </div>
     </div>
</body>
<!-- BODY END -->
</html>