<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">

  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{p2passetadjustment.title}"
            >Asset Adjustment Detail</span
          >
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a>
            <i
              class="fa fa-arrow-circle-left icon-head-red"
              id="linkList"
              th:title="#{back.button}"
            ></i>
          </a>
          <!-- <a>
                    <i class="fa fa-plus-circle icon-head-red" id="add" title="Add"
                    th:if="${#authorization.expression('hasAuthority(''__${T(vn.com.unit.asset.constant.RoleConst).ROLE_ASSET_MANAGEMENT_SUBMIT}__'')')}"></i>
                </a> -->
        </div>
      </div>
    </div>

    <form
      class="form-horizontal u-for-page-top j-form-validate"
      id="form-edit"
      th:action="@{/}"
      th:object="${p2pAssetAdjustment}"
      method="post"
      role="form"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <div class="bg-content clearfix bg-content-tbl">
        <div
          data-toggle="collapse"
          data-target="#search-box-1"
          class="header-box"
        >
          <h2 class="title-box" th:text="#{p2passetadjustment.generalInfo}">
            General Info
          </h2>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box-1">
          <div
            class="form-group col-sm-6 no-padding"
            style="margin-bottom: 0px"
          >
            <div class="form-group col-sm-12 no-padding">
              <label
                class="col-sm-4"
                th:text="#{p2passetadjustment.adjustmentNo}"
                >Adjustment No</label
              >
              <div
                class="col-sm-6"
                th:classappend="${#fields.hasErrors('adjustmentNo')} ? has-error : ''"
              >
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{adjustmentNo}"
                />
                <span
                  class="help-block error"
                  th:if="${#fields.hasErrors('adjustmentNo')}"
                  th:errors="*{adjustmentNo}"
                ></span>
              </div>

              <div class="col-md-2">
                <a
                  class="btn-common"
                  id="btnAdd"
                  th:if="${p2pAssetAdjustment.hasEdit} and ${p2pAssetAdjustment.stepNo == 0 or p2pAssetAdjustment.stepNo == 98}"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add</span>
                </a>
              </div>
            </div>

            <div
              class="form-group col-sm-12 no-padding"
              th:classappend="${#fields.hasErrors('assetTag')} ? has-error : ''"
            >
              <label class="col-sm-4" th:text="#{p2passetadjustment.assetTag}"
                >Asset Tag</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{assetTag}"
                />
                <span
                  class="help-block error"
                  th:if="${#fields.hasErrors('assetTag')}"
                  th:errors="*{assetTag}"
                ></span>
              </div>
            </div>

            <div class="form-group col-sm-12 no-padding">
              <label class="col-sm-4" th:text="#{p2passetadjustment.imei}"
                >IMEI</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{imei}"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-sm-6 no-padding">
            <div class="col-sm-4">
              <label
                class="col-sm-12 no-padding"
                th:text="#{p2passetadjustment.qrCode}"
                >QR Code</label
              >
            </div>

            <div class="col-sm-8">
              <img
                id="imgQrCode"
                th:src="@{/} + ${'asset-profile/qrcode?tag='} + *{assetTag}"
                width="90px"
              />
              <input class="hidden" th:field="*{qrCode}" />
              <input class="hidden" th:field="*{qrFileName}" />
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.assetSerialNo}"
              >Serial No</label
            >
            <div
              class="col-sm-4"
              vth:classappend="${#fields.hasErrors('serialNumber')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{serialNumber}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('serialNumber')}"
                th:errors="*{serialNumber}"
              ></span>
            </div>

            <label
              class="col-sm-2 required"
              th:text="#{p2passetadjustment.assetStatus}"
              >Asset Status</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetStatus')} ? has-error : ''"
            >
              <select
                class="form-control j-required"
                th:field="*{assetStatus}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              >
                <option value=""></option>
                <option
                  th:each="item : ${lstAssetStatus}"
                  th:text="${item.catOfficialName}"
                  th:value="${item.cat}"
                  th:selected="${item.cat} == *{assetStatus}"
                ></option>
              </select>
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetStatus')}"
                th:errors="*{assetStatus}"
              ></span>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.registerBy}"
              >Register By</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{registerFullname}"
              />
              <input type="hidden" th:field="*{registerUsername}" />
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.registerDate}"
              >Register Date</label
            >
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  disabled="disabled"
                  th:field="*{registrationDate}"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2 required"
              th:text="#{p2passetadjustment.name}"
              >Name of the Asset</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetName')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control j-required"
                th:field="*{assetName}"
                maxlength="255"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetName')}"
                th:errors="*{assetName}"
              ></span>
            </div>

            <label
              class="col-sm-2 required"
              th:text="#{p2passetadjustment.assetDescription}"
              >Asset Description</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetDescription')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control j-required"
                th:field="*{assetDescription}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetDescription')}"
                th:errors="*{assetDescription}"
              ></span>
            </div>
          </div>

          <!-- End -->
          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.assetType}"
              >Asset Type</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetTypeCode')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetTypeName}"
              />
              <input type="hidden" th:field="*{assetTypeCode}" />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetTypeCode')}"
                th:errors="*{assetTypeCode}"
              ></span>
            </div>

            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.assetCategory}"
              >Asset Category</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetCategoryCode')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetCategoryName}"
              />
              <input type="hidden" th:field="*{assetCategoryCode}" />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetCategoryCode')}"
                th:errors="*{assetCategoryCode}"
              ></span>
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.assetSubCategory}"
              >Asset Sub-Category</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetSubCategoryCode')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetSubCategoryName}"
              />
              <input type="hidden" th:field="*{assetSubCategoryCode}" />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetSubCategoryCode')}"
                th:errors="*{assetSubCategoryCode}"
              ></span>
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.propertyOf}"
              >Property of</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('propertyOf')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{propertyOf}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('propertyOf')}"
                th:errors="*{propertyOf}"
              ></span>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.quantity}"
              >Quantity</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{quantity}"
              />
            </div>

            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.unitOfMeasure}"
              >Unit of Measure</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('uomCode')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{uomName}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('uomCode')}"
                th:errors="*{uomCode}"
              ></span>

              <input
                type="hidden"
                class="form-control"
                disabled="disabled"
                th:field="*{uomCode}"
              />
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.purchasePrice}"
              >Purchase Price</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{purchasePrice}"
              />
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.purchaseDate}"
              >Purchase Date</label
            >
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  disabled="disabled"
                  th:field="*{purchaseDate}"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.cpu}"
              >CPU</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{cpu}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.ram}"
              >RAM</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{ram}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.hoHdd}"
              >HO-HDD</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{hdd}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.os}"
              >OS</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                th:field="*{os}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              />
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.transactionType}"
              >Transaction Type</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('adjustmentType')} ? has-error : ''"
            >
              <select
                class="form-control"
                th:field="*{adjustmentType}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              >
                <option value=""></option>
                <option
                  th:each="item : ${lstTransactionTypes}"
                  th:value="${item.cat}"
                  th:text="${item.catOfficialName}"
                  th:selected="${item.cat} ==*{adjustmentType}"
                ></option>
              </select>
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('adjustmentType')}"
                th:errors="*{adjustmentType}"
              ></span>
              <input type="hidden" th:field="*{transactionTypeName}" />
            </div>

            <label
              class="col-sm-2 required"
              th:text="#{p2passetadjustment.transactionDate}"
              >Transaction Date</label
            >
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control j-required"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  th:field="*{adjustmentDate}"
                  th:disabled="disabled"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2 required"
              th:text="#{p2passetadjustment.reasonForAdjustment}"
              >Reason for Adjustment</label
            >
            <div class="col-sm-10">
              <textarea
                type="text"
                class="form-control j-required"
                th:field="*{reasonForAdjustment}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              >
              </textarea>
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.note}"
              >Note</label
            >
            <div class="col-sm-10">
              <textarea
                type="text"
                class="form-control"
                th:field="*{remark}"
                th:disabled="${!p2pAssetAdjustment.hasEdit} or ${p2pAssetAdjustment.stepNo != 0 and p2pAssetAdjustment.stepNo != 98}"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Reference Information -->
      <div class="bg-content clearfix bg-content-tbl">
        <div
          data-toggle="collapse"
          data-target="#search-box-2"
          class="header-box"
        >
          <h2
            class="title-box"
            th:text="#{p2passetadjustment.referenceInformation}"
          >
            Reference Information
          </h2>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box-2">
          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.vendor}"
              >Vendor</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('vendorName')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{vendorName}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('vendorName')}"
                th:errors="*{vendorName}"
              ></span>
            </div>
            <label class="col-sm-2" th:text="#{p2passetadjustment.contractNo}"
              >Contract No</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{contractNo}"
              />
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.invoiceNumber}"
              >Invoice Number</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{invoiceNumber}"
              />
            </div>
            <label class="col-sm-2" th:text="#{p2passetadjustment.prNo}"
              >PR No</label
            >
            <div class="col-sm-4">
              <a id="refPr" th:target="${p2pAssetAdjustment.prId} ? _blank">
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{prNo}"
                />
              </a>
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.poNO}"
              >PO No</label
            >
            <div class="col-sm-4">
              <a id="refPo" th:target="${p2pAssetAdjustment.poId} ? _blank">
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{poNo}"
                />
              </a>
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.receiptNo}"
              >Receipt No</label
            >
            <div class="col-sm-4">
              <a
                id="refReceipt"
                th:target="${p2pAssetAdjustment.receiptId} ? _blank"
              >
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{receiptNo}"
                />
              </a>
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.recipient}"
              >Recipient</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{recipientFullname}"
              />
              <input
                type="hidden"
                disabled="disabled"
                th:field="*{recipient}"
              />
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.receiptDate}"
              >Receipt Date</label
            >
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control j-required"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  disabled="disabled"
                  th:field="*{receiptDate}"
                  th:value="${p2pAssetAdjustment.receiptDate} ? ${#dates.format(p2pAssetAdjustment.receiptDate, @menuConfig.getFormDate())}"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.paymentNo}"
              >Payment No</label
            >
            <div class="col-sm-4">
              <a
                id="refPayment"
                th:target="${p2pAssetAdjustment.paymentId} ? _blank"
              >
                <input
                  type="text"
                  class="form-control"
                  disabled="disabled"
                  th:field="*{paymentNo}"
                />
              </a>
            </div>

            <label class="col-sm-2" th:text="#{p2passetadjustment.paymentDate}"
              >Payment Date</label
            >
            <div class="col-sm-4">
              <div class="input-group date datepicker">
                <input
                  class="form-control j-required"
                  type="text"
                  placeholder="dd/mm/yyyy"
                  autocomplete="off"
                  disabled="disabled"
                  th:field="*{paymentDate}"
                  th:value="${p2pAssetAdjustment.paymentDate} ? ${#dates.format(p2pAssetAdjustment.paymentDate, @menuConfig.getFormDate())}"
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <input type="hidden" th:field="*{vendorCode}" />
        </div>
      </div>

      <!-- Management Information -->
      <div class="bg-content clearfix bg-content-tbl">
        <div
          data-toggle="collapse"
          data-target="#search-box-3"
          class="header-box"
        >
          <h2
            class="title-box"
            th:text="#{p2passetadjustment.managementInformation}"
          >
            Management Information
          </h2>
          <i class="fa fa-minus pull-right" aria-hidden="true"></i>
        </div>
        <div class="collapse in row m-0" id="search-box-3">
          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.officeLocation}"
              >Office Location</label
            >
            <div
              class="col-sm-4"
              th:classappend="${#fields.hasErrors('assetLocationName')} ? has-error : ''"
            >
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetLocationName}"
              />
              <span
                class="help-block error"
                th:if="${#fields.hasErrors('assetLocationName')}"
                th:errors="*{assetLocationName}"
              ></span>
            </div>
            <label class="col-sm-2" th:text="#{p2passetadjustment.warehouse}"
              >Warehouse</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetWarehouseName}"
              />
            </div>
          </div>
          <div class="form-group col-sm-12 no-padding">
            <label
              class="col-sm-2"
              th:text="#{p2passetadjustment.warehouseKeeper}"
              >Warehouse Keeper</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{warehouseKeeper}"
              />
            </div>
            <label class="col-sm-2" th:text="#{p2passetadjustment.contact}"
              >Contact</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{contact}"
              />
            </div>
          </div>

          <div class="form-group col-sm-12 no-padding">
            <label class="col-sm-2" th:text="#{p2passetadjustment.assetOwner}"
              >Asset Owner</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetOwnerFullname}"
              />

              <input
                type="hidden"
                class="form-control"
                th:field="*{assetOwnerUsername}"
              />
            </div>
            <label class="col-sm-2" th:text="#{p2passetadjustment.dept}"
              >Dept.</label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                disabled="disabled"
                th:field="*{assetOwnerDept}"
              />
            </div>
          </div>

          <input type="hidden" th:field="*{assetLocationCode}" />
          <input type="hidden" th:field="*{assetWarehouseCode}" />
        </div>
      </div>
      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{assetProfileId}" />
      <input type="hidden" th:field="*{assetCode}" />
      <input type="hidden" th:field="*{currency}" />
      <input type="hidden" th:field="*{url}" />
      <input type="hidden" th:field="*{prId}" />
      <input type="hidden" th:field="*{poId}" />
      <input type="hidden" th:field="*{paymentId}" />
      <input type="hidden" th:field="*{receiptId}" />

      <input
        type="hidden"
        th:value="${refAttachment}"
        th:name="refAttachment"
      />
      <input type="hidden" th:field="*{processId}" id="processId" />
      <input
        type="hidden"
        th:value="${p2pAssetAdjustment.id}"
        id="abtract-reference-id"
      />
      <input type="hidden" th:field="*{createdBy}" id="createdBy" />
      <input type="hidden" th:field="*{stepNo}" />
      <input type="hidden" th:field="*{processStatusCode}" />
      <input type="hidden" th:field="*{comments}" id="commentsId" />
      <input type="hidden" th:field="*{owner}" id="ownerId" />
      <input type="hidden" th:field="*{assignee}" id="assigneeId" />
      <input
        type="hidden"
        th:field="*{businessCode}"
        id="abtract-business-code"
      />
      <input type="hidden" th:field="*{stepId}" id="abtract-step-id" />

      <input type="hidden" id="enableHiddenBeforeSend" value="true" />

      <input type="hidden" id="funtion-validate-id" value="setParamForForm" />
      <div id="assetParamContent"></div>

      <label
        id="attachedFileError"
        tabindex="-1"
        style="display: none; color: red !important"
        >Attached File is required</label
      >
    </form>

    <!-- AttachedFile -->
    <div id="attachedFileContent">
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/attached-file-module/attached-file-plugin.html :: content(${lstAttachedFile},${businessCode},${refAttachment})"
      />
    </div>

    <!-- process -->
      <th:block
        th:include="/views/commons-process/common-process.html :: content(${p2pAssetAdjustment})"
      />
    
    <!-- MODAL -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document" style="width: 80%">
        <div class="modal-content"></div>
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      	var EDIT_DTO = /*[[${p2pAssetAdjustment}]]*/ ;
      /*]]>*/
    </script>

    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passetadjustment/p2passetadjustment-edit.js} + ${'?rev=' + @systemConfig.getRev()}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passetadjustment/p2passetadjustment-model-table.js} + ${'?rev=' + @systemConfig.getRev()}"
    ></script>
  </body>
</html>
