<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box">Search Result</h2>
      <div class="box-tools pull-right">
        <a class="btn-common pull-right" id="btnExport">
          <i class="fa fa-download" aria-hidden="true"></i>
          <span th:text="' '+#{common.export.data}"></span>
        </a>
      </div>
      <div class="table-responsive">
        <table id="tblDataTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th
                th:text="#{receipt.action}"
                style="max-width: 200px; min-width: 100px"
              >
                Action
              </th>
              <th style="min-width: 150px" th:text="#{p2passetadjustment.name}">
                Name of the Asset
              </th>
              <th
                style="min-width: 50px"
                th:text="#{p2passetadjustment.reasonForAdjustment}"
              >
                Reason for Adjustment
              </th>
              <th
                style="min-width: 150px"
                th:text="#{p2passetadjustment.assetTag}"
              >
                Asset Tag
              </th>
              <th
                style="min-width: 50px"
                th:text="#{p2passetadjustment.assetSerialNo}"
              >
                Asset Serial No
              </th>
              <th
                style="min-width: 50px"
                th:text="#{p2passetadjustment.assetStatus}"
              >
                Asset Status
              </th>
              <th
                style="min-width: 50px"
                th:text="#{p2passetadjustment.transactionDate}"
              >
                Adjustment Date
              </th>
              <th
                style="min-width: 50px"
                th:text="#{p2passetadjustment.officeLocation}"
              >
                Office Location
              </th>
              <th
                style="min-width: 130px"
                th:text="#{p2passetadjustment.status}"
              >
                Status
              </th>
              <th
                style="min-width: 100px"
                th:text="#{p2passetadjustment.pendingAt}"
              >
                Pending At
              </th>
              <!-- End -->
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="item,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr th:attr="data-id=${item.id}">
                <td th:text="${i.index + startIndex}" class="text-center"></td>
                <td class="text-center">
                  <div>
                    <a
                      class="
                        glyphicon glyphicon-eye-open
                        custom-icon
                        j-btn-detail
                      "
                      th:title="#{view.button}"
                    ></a>
                    <a
                      class="glyphicon glyphicon-edit custom-icon j-btn-edit"
                      th:title="#{edit.button}"
                      th:if="${item.deleteFlag != 1 and item.hasEdit}"
                    ></a>
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                      th:title="#{delete.button}"
                      th:if="${item.deleteFlag != 1 and #authentication.getPrincipal().getUsername() == item.createdBy} 
                            and (${item.statusCode} == null or ${item.statusCode} == '000')"
                    ></a>
                  </div>
                </td>
                <td th:text="${item.assetName}">Name</td>
                <td th:text="${item.reasonForAdjustment}">Asset Type</td>
                <td th:text="${item.assetTag}">Asset Tab</td>
                <td th:text="${item.serialNumber}">Serial No</td>
                <td class="white-space-td">
                  <span
                    th:each="step : ${lstAssetStatus}"
                    th:text="${step.catOfficialName}"
                    th:if="${step.cat} == ${item.assetStatus}"
                    >Status</span
                  >
                </td>
                <td
                  class="text-center"
                  th:text="${item.adjustmentDate} ? ${#dates.format(item.adjustmentDate, @menuConfig.getFormDate())}"
                ></td>
                <td th:text="${item.assetLocationName}">Office Location</td>
                <td class="white-space-td">
                  <span
                    th:if="${item.deleteFlag == 1}"
                    th:text="#{item.status.delete}"
                  ></span>
                  <th:block th:if="${item.deleteFlag != 1}">
                    <!-- <span
                      th:each="step : ${lstStatusAll}"
                      th:text="${step.name}"
                      th:if="${step.value} == ${item.processStatusCode}"
                      >Status</span -->
	                  <span th:text="${item.processStatusName}"></span>
                  </th:block>
                </td>
                <td th:text="${item.pendingAt}">Pending At</td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <!-- PAGINATION -->
    </div>
    <th:block
      th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content"
    />
    <script
      type="text/javascript"
      th:src="@{/static/ASSET_MANAGEMENT_MODULE/js/p2passetadjustment/p2passetadjustment-table.js}"
    ></script>
  </body>
</html>
