<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(attachListDto)">
	<div class="clearfix">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
			
		<div id="alertAttachedFileClientId" class="alert alert-danger alert-dismissible hidden">
            <button class="close" type="button" id="btnCloseAlertAttachedFileClientId">×</button>
            <h4>
                <i class="icon fa fa-ban"></i><th:block th:text="#{message.title}"></th:block>
            </h4>
            
            <div id="msgAlertAttachedFileClientId"></div>
            
        </div>
	<table id="attach-file-table" class="table table-bordered table-striped table-hover">
         <thead>
             <tr>
                 <th class="no">#</th>
                 <th th:text="#{attach.file.file.name}">File name</th>
                 <th th:text="#{business.definition.property.data.type}">Type</th>
                 <th th:text="#{attach.file.size}">Size(MB)</th>
                 <th class="u_t_action" th:text="#{action.label}">Action</th>
             </tr>
         </thead>
         <tbody class="j-attach-list">
               	<th:block  th:each="item,i : ${attachListDto}">
					 <tr class="media-attach text-center" th:attr="data-id=${item.id}">
						<td th:text="${i.index+1}">1</td>
						<td th:text="${item.fileName}" class="text-left"></td>
						<td th:text="${item.fileType}"></td>
			            <td th:text="${item.fileSize}"></td>
			            <td>
			            	<div>
			                    <a class="glyphicon glyphicon-download-alt custom-icon j-btn-download-attach btn-download-attach" style="color: #304d50;" th:title="#{download.button}"></a> 
			                    <!-- <a class="glyphicon glyphicon-edit custom-icon j-btn-survey-edit btn-edit"></a> -->
			                    <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-attach-delete btn-delete" th:attr="data-id=${item.id}" th:if="${isAttachFile == true and item.isDeleted == true}" th:title="#{delete.button}"></a>
			                </div>
			           </td>
				     </tr>
			    </th:block>    
			     <th:block th:if="${attachListDto == null OR attachListDto.size() == 0}">
			        <tr>
			            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
			        </tr>
			    </th:block>       			                            			                                  
         </tbody>
     </table>
    <input type= "hidden" th:value="${pluginAttachFiles}" name="tempAttachFileId" id = "pluginAttachFiles" />
    </div>
</body>
</html>