<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(referenceId, reference)">
	<form class="form-horizontal u-for-page-top j-attachFile" method="post" role="form" id="form-attach-file" enctype="multipart/form-data">
	<div class="bg-content bg-content-tbl clearfix" style="border-top: none;">
		<div class="header-box form-group">
			<div class="col-sm-8 p-0 validateAttach">
				<h2 class="title-box">
					<span th:text="#{attach.file.title}">Attach files</span>
				</h2>
			</div>
			<div class="col-sm-4 p-0">
			
				<div class="pull-right form-group"  th:if="${isAttachFile == true AND objectDto.docState != '994'}">
					<label class="btn btn-common btn-in-table ">
						<i class="fa fa-paperclip" aria-hidden="true"></i>
						<input type="file" id="attachFile" name="file" class="hide" multiple="multiple" />
						<span th:text="#{attach.file.button.attach}" th:title="#{attach.file.button.attach}">Attach</span>	
					</label>
				</div>

			</div>
		</div>
		<div class="clearfix">
			<div class="comment-plugin j-attach">
			<input name="reference" type="hidden" id="reference" th:value="${reference}" />
			<input name="referenceId" type="hidden" id="referenceId" th:value="${referenceId}" />
			<input name="isAttachFile" type="hidden" id="isAttachFile" th:value="${isAttachFile}" />
			
			<div id="attach-file-list"> 
				<th:block th:include="views/document/attached-file-table-ecm-plugin.html :: content(${attachListDto})" />
			</div>
			</div>
		</div>

	</div>
			</form>
	<script type="text/javascript" th:src="@{/static/js/document/document-attach-document.js}"></script>
</body>
</html>