<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	
<!-- <style>
	.oz-form label {
		font-weight: normal;
		font-size: 13px;
	}
	
	.ozviewer {
	    height: calc(100vh - 273px);
	    margin-top: 15px;
	}
	
	.ozviewer-full-screen {
	    height: calc(100vh - 8vh);
	    margin-top: 15px;
	}
	
	.full-viewer {
	   	position: fixed;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    z-index : 9000;
	    margin-top: 0; 
	    background: #fff;
	}
	.ui-widget-overlay {
		z-index : 9001 !important;
	}
	.ui-dialog {
		z-index : 9002 !important;
	}
	
	input[tabindex="5"].oz_except_node {
	    width: 55px !important;
		line-height: 32px !important;
		top: -22px !important;
	   	font-size: 14px !important;
	}
	
	label.oz_ui_layout {
		top: -22px !important;
		font-size: 14px !important;
	}
	
	input[tabindex="8"].oz_except_node {
		width: 55px !important;
	   	margin-left: -85px !important;
	   	top: -23px !important;
	   	line-height: 28px !important;
	}
	
	select[tabindex="9"].oz_ui_layout {
		top: -22px !important;
		line-height: 30px !important;
		height: 38px !important;
		width: 80px !important;
	}
	
	.title-head .title-head-h3 {
	    font-size: 16px;
	    margin: 0;
	    color: #666666;
	    text-transform: uppercase;
	    margin-top: 11px;
	    font-weight: 500;
	    float: left;
	}
</style> -->
<style>
	
	#popup-mainfile .modal-dialog{
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		margin: 0 !important;
	}
	
	#popup-mainfile .modal-content{
		height: 100%;
		max-height: 100%;
	}
	
	#popup-mainfile .modal-header{
		padding-top: 0;
		padding-bottom: 0
	}
	
	#popup-mainfile .modal-body{
		padding-top: 0
	}
	
	#popup-mainfile{
		padding-left: 0!important;
		padding-right: 0!important;
		overflow: hidden
	}
	pre {
		text-align:left;
		font-size: 11px;
		font-family: 'Roboto', sans-serif!important;
		line-height: 1.42857143;
    	color: #555;
		font-weight: normal;
		font-size: 13px;
		border: 0px solid #ccc
	}
</style>
<body>
	<form class="j-form-validate" action="" method="post" id="form-detail" autocomplete="off" th:object="${objectDto}">
		<div class="title-head clearfix">
			<div class="col-sm-9 col-xs-7 no-padding">
				<h4 class="doc-title">
					<i class="fa fa-table"></i> 
					<span th:if="${objectDto.id} == null" th:text="#{reports.oz.list.page.name}"></span>
					<span th:unless="${objectDto.id} == null" th:text="${objectDto.docCode} + ' - '  + ${objectDto.docTitleIsRefer}"
						  th:title="${objectDto.docCode} + ' - '  + ${objectDto.docTitleIsRefer}"></span>
					<span th:if="${objectDto.isArchive}" class="doc-title-table-archive" 
						  th:title="#{message.document.archive}" th:text="#{message.document.archive}">Tài liệu lưu trữ</span>
				</h4>
			</div>
		   <div class="col-sm-2 col-xs-2 icon-head">
	            <div class="pull-right">
	                <a id="btnBack" th:title="#{back.button}">
	                    <i class="fa fa-arrow-circle-left icon-head-red"></i>
	                </a>
	                <a id="btnCreate" th:title="#{to.do.my.work.create.label}" th:if="${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)') and #authentication?.principal?.companyId eq objectDto.companyId} and ${objectDto.processType ne T(vn.com.unit.activiti.enumdef.BusinessProcessTypeEnum).INTEGRATE.toString()}">
	                    <i class="fa fa-plus-circle icon-head-red"></i>
	                </a>
		            <!-- <div class="pull-right">
						<th:block th:include="views/process-module/process-button-group-header.html :: content(*{docState}, ${@roleConstant.MY_DOCUMENTS})" />
					</div> -->
	            </div>
	        </div>
		</div>
		<div class="bg-content clearfix">
			<th:block th:include="views/commons/message-alert.html :: content(${messageDocList})"/>
			<th:block th:include="views/commons/message-alert-client.html"/>
			<!-- <div class="row form-group">
				<div class="document col-xs-12 col-sm-12">
	 				<th:block th:include="views/oz-viewer-module/oz-viewer.html :: content(${objectDto})" />
	 			</div>
			</div> -->
			
			<div class="row form-group">
				<div class="bg-content clearfix" style="border-top: none;">
					<div data-target="#processMainDiagram" class="header-box">
	               		<h2 class="title-box" th:text="#{document.detail.title}">Page name</h2>
					</div>
					<div>
						<div class="col-xs-12 col-sm-12 p-0">
							<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('docTitle')} ? has-error : ''">
								<label class="col-sm-4 required align-top" th:text="#{document.file.edit.doctitle}">Title</label>
								<div class="col-sm-8">
									<input type="text" name="docTitle" id="docTitle" class="form-control j-required j-maxlength" data-rule-maxlength="255" maxlength="255" th:value="${objectDto.docTitle}" 
									th:readonly="${objectDto.id} and ${editTitle}"/>
									<span class="help-block" th:if="${#fields.hasErrors('docTitle')}" th:errors="*{docTitle}"></span>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 required align-top" th:text="#{document.requirement.type}">Document type</label>
								<div class="controls col-sm-8">
									<select class="form-control j-required" id="frmId" th:field="*{formId}" th:disabled="${objectDto.id} and ${editDocType}">
		                            	<option value=""></option>
										<option th:value="*{formId}" th:text="*{formName}"></option>
									</select>
									<label id="frmId-error" class="error" style="display: inline;" for="frmId"></label>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 p-0">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 required align-top" th:text="#{to.do.searchfield.priority.label}">Priority</label>
								<div class="col-sm-8">
									<select class="form-control j-required ico-urgent selectpicker" th:field="*{priority}" th:disabled="${objectDto.id} and ${editPriority}">
				                     	<option th:each="item : ${priorityList}"
				                     		class="ico-urgent"
				                     		th:attr="data-icon=${'fa ' + item.kind}"
				                      	  	th:value="${item.cat}"
				                       	 	th:text="#{${item.code}}">
				                       	 </option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('docName')} ? has-error : ''">
								<input type="hidden" th:field="*{multiRecruitingFlag}"/>
								<label for="name" class="col-sm-4 align-top" th:text="#{document.file.main.file}" th:classappend="${objectDto.docType!='2' ? 'required' : ''}">Main file</label>
								<div class="col-sm-8" th:unless="${objectDto.docType eq '2'}">
									<div class="input-group" th:unless="${objectDto.multiRecruitingFlag}">
										<input class="form-control required"  maxlength="255" readonly="readonly" th:field="*{docName}"/>
										<label class="input-group-addon" id="edit-main-file" role="button" th:title="#{view.button}">
											<i class="fa fa-edit"></i>
										</label>
										<a class="input-group-addon" id="btn-download-pdf" role="button" th:if="*{mainFileId}" th:title="#{download.button}">
											<i class="fa fa-download"></i>
										</a>
									</div>
									<!-- multiRecruiting -->
									<div class="input-group file-multi-recruiting col-sm-12" th:if="${objectDto.multiRecruitingFlag}">
										<input class="form-control j-docName" type="text" th:field="*{docName}" maxlength="255" 
 />
										<label class="input-group-addon" id="upload-excel" role="button" th:title="#{upload.button}">
											<i class="fa fa-folder-open"></i>
											<input type="file" id="multi-recruiting-excel-file" accept=".xls,.xlt,.xla,.xlsx,.xlsm"  name="multi-recruiting-excel-file" class="hide"/>
										</label>
										<label class="input-group-addon btn-file-action" id="edit-main-file" role="button" th:classappend="*{mainFileId} ? '' : 'hidden'" th:title="#{view.button}">
											<i class="fa fa-edit"></i>
										</label>
										<a class="input-group-addon btn-file-action" id="btn-download-pdf" role="button" th:classappend="*{mainFileId} ? '' : 'hidden'" th:title="#{download.button}">
											<i class="fa fa-download"></i>
										</a>
									</div>
									<label id="docName-error" class="error" for="docName" style="display : inline;"></label>
									<span class="help-block" th:if="${#fields.hasErrors('docName')}" th:errors="*{docName}"></span>
									<span class="error alert-multi-recruiting-excel-file" style="display: none;"></span>
								</div>
								<div class="col-sm-8" th:if="${objectDto.docType eq '2'}">
									<div class="input-group file-free-form col-sm-12">
										<input class="form-control" type="text" th:field="*{docName}" maxlength="255" readonly="readonly" />
										<label class="input-group-addon" role="button" th:if="${isAllowUpMainFilePdf}" th:title="#{upload.button}">
											<i class="fa fa-folder-open"></i>
											<input type="file" id="free-form-attach-main-file" accept=".pdf" name="free-form-attach-main-file" class="hide"/>
										</label>
										<label class="input-group-addon btn-file-action" id="edit-main-file" role="button" th:classappend="*{mainFileId} ? '' : 'hidden'" th:title="#{view.button}">
											<i class="fa fa-edit"></i>
										</label>
										<a class="input-group-addon btn-file-action" id="btn-download-pdf" role="button" th:classappend="*{mainFileId} ? '' : 'hidden'" th:title="#{download.button}">
											<i class="fa fa-download"></i>
										</a>
										<a class="input-group-addon btn-file-action" id="delete-main-file" role="button" th:classappend="${isAllowDeleteMainFilePdf} ? '' : 'hidden'" th:title="#{delete.button}">
											<i class="fa fa-trash-o"></i>
										</a>
										
									</div>
									<span class="help-block" th:if="${#fields.hasErrors('docName')}" th:errors="*{docName}"></span>
									<span class="error alert-free-form-attach-main-file" style="display: none;"></span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 p-0">
							<div th:classappend="${#fields.hasErrors('docName')} ? has-error : ''" >
							</div>
							<div class="col-sm-6 form-group">
								<label for="name" class="col-sm-4 required align-top" th:text="#{document.organization}" >Organization</label>
									<div class="col-sm-8">
									<select class="form-control j-required selectpicker" th:field="*{orgId}" 
									th:disabled="${objectDto.id} and ${editDepartment}">
				                     	<option th:each="item : ${orgList}" 
				                      	  	th:value="${item.id}"
				                       	 	th:text="${item.name}">
				                       	 </option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 align-top" th:text="#{doc.status}">Status</label>
								<div class="controls col-sm-8">
									<input class="form-control" readonly="readonly" th:value="*{processStatusName}"/>
									<input type="hidden" th:field="*{processStatusName}"/>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 p-0">
							<div class="col-sm-6 form-group">
								<label for="dueDate" class="col-sm-4 align-top" th:text="#{document.completed.date.label}">Completed date</label>
								<div class="col-sm-8">
									<div class="input-group date" >
										<input type="text" class="form-control background-white" th:field="*{dueDate}" autocomplete="off" readonly="readonly" th:disabled="${objectDto.id} and ${editDuadate}"/> 
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 align-top" th:text="#{document.process.name}">process</label>
								<div class="controls col-sm-8">
									<input id="processDeployName" class="form-control" readonly="readonly" th:value="*{processDeployName}"/>
								</div>
							</div>
						</div>
						<div class="col-sm-12 p-0" id="assignGroup" th:if="${isWorkflow == false AND objectDto.processType eq T(vn.com.unit.activiti.enumdef.BusinessProcessTypeEnum).FREE_FORM.toString()}">
							<div class="col-sm-6 form-group" th:if="${objectDto.referenceBtn == false}">
								<label class="col-sm-4 align-top required" th:text="#{document.transfer.to.label}">Assignee</label>
								<div class="col-sm-8" th:classappend="${#fields.hasErrors('memberAssignIds')} ? 'has-error' : ''">
									<select class="form-control j-required" style="float: left;" th:field="*{memberAssignIds}" 
									th:disabled="${objectDto.id} and ${editTransfer}">
										<option value=""></option>
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
									<label id="memberAssignIds-error" class="error" for="memberAssignIds" style="display: inline;"></label>
									<span class="help-block" th:if="${#fields.hasErrors('memberAssignIds')}" th:errors="*{memberAssignIds}"></span>
								</div>
							</div>
							<div class="col-sm-6 form-group"  th:if="${objectDto.referenceBtn == true}">
								<label class="col-sm-4 align-top" th:text="#{document.transfer.to.label}">ref</label>
								<div class="col-sm-8">
									<select class=" form-control j-required"
									name="memberReferenceIds" id="memberReferenceIds">
										<option value="">
		                            			</option> 
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
									<label id="memberReferenceIds-error" class="error" for="memberReferenceIds" style="display: inline;"></label>
								</div>
							</div>
							
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 align-top" th:text="#{document.cc}">CC</label>
								<div class="col-sm-8">
									<select multiple="multiple" class=" js-example-basic-multiple" th:field="*{memberCcIds}" 
									name="memberCcIds" id="memberCcIds" th:disabled="${objectDto.id} and ${editRelated}">
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-12 p-0" id="assignGroup" th:if="${isWorkflow == false AND objectDto.processType == T(vn.com.unit.activiti.enumdef.BusinessProcessTypeEnum).INTEGRATE.toString()}">
							<div class="col-sm-6 form-group" th:if="${objectDto.referenceBtn == false AND !isEditAssignTo}">
								<label class="col-sm-4 align-top required" th:text="#{document.transfer.to.label}">Assignee</label>
								<div class="col-sm-8" th:classappend="${#fields.hasErrors('memberAssignIds')} ? 'has-error' : ''">
									<select multiple="multiple" class="js-example-basic-multiple j-required" 
									th:field="*{memberAssignIds}" id="memberAssignIds" name="memberAssignIds" th:disabled="${objectDto.id} and ${editTransfer}">
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
									<span class="help-block" th:if="${#fields.hasErrors('memberAssignIds')}" th:errors="*{memberAssignIds}"></span>
								</div>
							</div>
							<div class="col-sm-6 form-group" th:if="${objectDto.referenceBtn == false AND isEditAssignTo}">
								<label class="col-sm-4 align-top required" th:text="#{document.transfer.to.label}">Assignee</label>
								<div class="col-sm-8" th:classappend="${#fields.hasErrors('memberAssignIds')} ? 'has-error' : ''">
									<select class="js-example-basic-multiple j-required" 
									th:field="*{memberAssignIds}" id="memberAssignIdsExternal" name="memberAssignIds">
		                            	<option th:each="item : ${listAssignStrExternal}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}"
		                            			th:attr="positionName=${item.positionName}">
		                            			</option> 
									</select>
									<span class="help-block" th:if="${#fields.hasErrors('memberAssignIds')}" th:errors="*{memberAssignIds}"></span>
								</div>
							</div>
							<div class="col-sm-6 form-group"  th:if="${objectDto.referenceBtn == true}">
								<label class="col-sm-4 align-top" th:text="#{document.transfer.to.label}">ref</label>
								<div class="col-sm-8">
									<select class=" form-control j-required"
									name="memberReferenceIds" id="memberReferenceIds">
										<option value="">
		                            			</option> 
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
									<label id="memberReferenceIds-error" class="error" for="memberReferenceIds" style="display: inline;"></label>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 align-top" th:text="#{document.cc}">CC</label>
								<div class="col-sm-8">
									<select multiple="multiple" class=" js-example-basic-multiple" th:field="*{memberCcIds}" 
									name="memberCcIds" id="memberCcIds" th:disabled="${objectDto.id} and ${editRelated}">
		                            	<option th:each="item : ${memberAssignList}" 
		                            			th:value="${item.id}"
		                            			th:text="${item.text}">
		                            			</option> 
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-6 form-group"  th:if="${isWorkflow == true AND objectDto.referenceBtn == true}">
							<label class="col-sm-4 align-top" th:text="#{document.transfer.to.label}">ref</label>
							<div class="col-sm-8">
								<select class=" form-control j-required"
								name="memberReferenceIds" id="memberReferenceIds">
									<option value="">
	                            			</option> 
	                            	<option th:each="item : ${memberAssignList}" 
	                            			th:value="${item.id}"
	                            			th:text="${item.text}">
	                            			</option> 
								</select>
								<label id="memberReferenceIds-error" class="error" for="memberReferenceIds" style="display: inline;"></label>
							</div>
						</div>
						<div class="col-sm-12 form-group">
							<label class="col-sm-2 align-top" th:text="#{document.type.description}">Summary</label>
							<div class="controls col-sm-10 padding-left-10">
							<!-- VyNT 20200819 remove j-maxlength.only use maxlength to check 4k-->
								<textarea class="form-control" maxlength="4000" rows="3" th:field="*{summary}" id="summary" th:disabled="${objectDto.id} and ${editDepartment}"></textarea>
								<div id="summary-error" class="error"></div>
							</div>
						</div>
						<!-- <div class="col-sm-12 form-group">
							
						</div>
						<div class="col-sm-12 form-group">
							
						</div> -->
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<th:block th:include="views/process-module/process-button-group.html :: content(*{docState}, ${@roleConstant.MY_DOCUMENTS})" />
			</div>
			
			<!-- ListIdAttachFiles -->
			<input type= "hidden" th:value="${listIdAttachFiles}" name="listIdAttachFiles" id = "listIdAttachFiles" />
			
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{companyId}" />
			<input type="hidden" th:field="*{formId}" />
			<input type="hidden" th:field="*{businessId}" />
			<input type="hidden" th:field="*{docState}" />
			<input type="hidden" th:field="*{ecmRepositoryId}" />
			<input type="hidden" th:field="*{processDeployId}" />
			<input type="hidden" th:field="*{formFileName}" />
			<input type="hidden" th:field="*{docUuid}" />
			<input type="hidden" th:field="*{mainFileId}" />
			<input type="hidden" th:field="*{docType}" />
			<input type="hidden" th:field="*{majorVersion}" />
			<input type="hidden" th:field="*{minorVersion}" />
			<input type="hidden" th:field="*{mainFileMajorVersion}" />
			<input type="hidden" th:field="*{mainFileMinorVersion}" />
			<input type="hidden" th:field="*{staffId}" />
			<input type="hidden" th:field="*{processType}" />
			<input type="hidden" id="priorityValue" th:value="*{priority}" th:if="(${objectDto.docState ne T(vn.com.unit.ppl.enumdef.DocumentState).DRAFT.toString()} and ${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)')} and ${objectDto.id} and ${objectDto.processType == T(vn.com.unit.activiti.enumdef.BusinessProcessTypeEnum).INTEGRATE.toString()})"/>
			
			<input type="hidden" th:field="*{docCode}" />
			<input type="hidden" th:field="*{isReference}" />
			<input type="hidden" th:field="*{actTaskId}" />
			<input type="hidden" th:field="*{validJson}" />
			<!-- Only view -->
			<input type="hidden" id="url" name="url" th:value="${url}"/>
			<input type="hidden" id="mode" name="mode" th:value="${mode}"/>
		</div>
	</form>
	
	<!-- SURVEYS -->
	<!-- <div class="row form-group m-0" id="surveys"  th:if="${groups != null and groups.size() gt 0}">
		<th:block th:include="views/document/document-step-survey.html :: content"/>
	</div> -->
	
	<!-- SUBFILES -->
	<div class="row form-group m-0">
		<th:block th:include="views/document/attached-file-ecm-plugin.html :: content(${objectDto.id}, 'EFO_OZ_DOC')"/>
	</div>
	
	<!-- <div class="row form-group m-0" id="documentWorkflow">
		<th:block th:include="views/document/document-workflow.html :: content"/>
	</div> -->
	
	<th:block th:include="views/document/document-form-activity.html :: content" />
	<!-- SURVEY POPUP -->
	<div class="row form-group m-0" id="surveyPopup">
		<th:block th:include="views/document/document-popup-survey-confirm.html :: content" />
	</div>
	
	<!-- POPUP ERROR -->
	<div class="modal fade" id="popup-error" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="title-box" id="function-modal-label" th:text="#{message.title}">alert</h2>
            </div>
            <div class="modal-body">
                <div >
                	<span id="error-content"></span>
                </div>
            </div>
	   <!--      <div class="modal-footer">
                <span class="button">
                    <a href="#" class="btn btn-cancel" data-dismiss="modal" th:text="#{close.button}">Close</a>
                </span>
        	</div>	 -->
			</div>
		</div>
	</div>
	
	<!-- POPUP MAINFILE -->
	<div class="modal fade" id="popup-mainfile" role="dialog" data-loaded="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="popup-modal-mainfile">
				<div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <!-- <h2 class="title-box" th:text="#{document.file.main.file}">alert</h2>-->
	                <div class="col-sm-6 col-xs-6 no-padding inline-headers">
						<h4 class="doc-title">
							<i class="fa fa-table"></i> 
							<span th:text="#{reports.oz.list.page.name}"></span>:  <span id="popup-mainfile-filenameview" th:text="${objectDto.docName}" th:title="${objectDto.docName}"></span>
						</h4>
				   </div>
	            </div>
	            <div class="modal-body">
	                <div >
	                	<!-- <th:block th:include="views/document/document-form-detail-view-doc.html::content" /> -->
	                </div>
	            </div>
		       <!--  <div class="modal-footer">
	                <span class="button">
	                    <a href="#" class="btn btn-cancel" data-dismiss="modal" th:text="#{close.button}">Close</a>
	                </span>
	        	</div>	 -->
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="text">
	    var FORM_ID = '[[${objectDto.formId}]]';
	    var DOC_ID = '[[${objectDto.id}]]';
	    var NOT_AN_ACCEPTED_FILE_TYPE = '[[#{message.not.an.accepted.file.type}]]';
	    var UPLOAD_FILE_FAIL = '[[#{message.error.upload.file}]]';
		var FILESIZE_IS_BIGGER = '[[#{message.file.size.bigger}]]';
		var FILENAME_IS_MAX_LENGTH = '[[#{message.file.name.max.length}]]';
		var MES_SUBMIT_HASNT_FILE = '[[#{message.submit.has.not.file}]]';
		var MES_NOT_YET_SAVE_FILE = '[[#{document.file.main.file.not.yet.save}]]';
		var MES_ERROR_HASNT_FILE = '[[#{document.file.main.file.not.exist}]]';
		var MES_SUCCESS_UPLOAD_FILE = '[[#{document.file.main.file.upload.successful}]]';
		var MES_VERSION_OLD = '[[#{mainfile.version.old}]]';
		var JSON_DATA = '';
		var IS_SAVE_EFORM = '[[${saveEform}]]';
		var IS_ARCHIVE = '[[${objectDto.isArchive}]]';
		var AREA_MAX_LENGTH_255 = '[[#{message.error.max.length.255}]]';
		var AREA_MAX_LENGTH_1000 = '[[#{message.error.max.length.1000}]]';
		var AREA_MAX_LENGTH_4000 = '[[#{message.error.max.length.4000}]]';
	</script>
	<script type="text/javascript" th:src="@{/static/cache/js/document/document-detail.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/process-module/process-button-group.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/document/document-comment-doc.js}"></script>
	<script type="text/javascript" th:src="@{/static/cache/js/document/document-history-doc.js}"></script>
</body> 
</html>

