<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="" th:if="${isWorkflow and isShowWorkflow}">
		<input type="hidden" id="wfIsWorkflow" name="wfIsWorkflow" th:value="${isWorkflow}" />
		<input type="hidden" id="wfProcessDeployId" name="wfProcessDeployId" th:value="${wfProcessDeployId}" th:if="${wfProcessDeployId}" />
		
		<!-- WORKFLOW DIAGRAM -->
		<div class="bg-content clearfix" style="border-top: none;">
			<!-- <div data-toggle="collapse" data-target="#processMainDiagram" class="header-box">
				<h2 class="title-box">
					<span th:text="#{document.workflow}">Workflow</span>
				</h2>
				<i class="fa fa-minus pull-right" aria-hidden="true"></i>
			</div> -->
		
			<div class="collapse in row m-0" id="processMainDiagram">
				<img id="imgProcessMainDiagram" class="img-responsive img-rounded" alt="Workflow Process Diagram" 
					 th:if="${objectDto?.processDeployId != null AND objectDto?.docUuid != null AND objectDto?.docState != '000'}"
					 th:src="@{/workflow/diagram/documents/{processDeployId}(processDeployId=${objectDto?.processDeployId}, docUuid=${objectDto?.docUuid}, r=${new java.util.Date().getTime()})}"/>
				<img id="imgProcessMainDiagram" class="img-responsive img-rounded" alt="Workflow Process Diagram" 
					 th:unless="${objectDto?.processDeployId != null AND objectDto?.docUuid != null AND objectDto?.docState != '000'}"
					 th:src="@{/workflow/diagram/{processDefinitionId}(processDefinitionId=${processDefinitionid})}"/>
			</div>
		</div>
	</div>
</body>
</html>