<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(sortWrapper)">
    <div class="col-sm-12 p-0">
        <h2 class="title-box" th:text="${search.tableTitle}">Kết quả tìm kiếm</h2>
        <div class="box-tools pull-right">
            <!-- <a class="btn-common pull-right" id="btnExportCsv"> <i class="fa fa-download" aria-hidden="true"></i> <span
                th:text="' '+#{common.csv}"></span>
            </a>
            <a class="btn-common pull-right" id="btnExportExcel" style="margin-right: 5px;"> <i class="fa fa-download" aria-hidden="true"></i> <span
                th:text="' '+#{common.excel}"></span>
            </a> -->
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="u_t_no">#</th>            
                        <!-- <th th:text="#{company.detail}">Company</th> -->
                        <th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL3.getSortName()}">
						<span th:text="#{doc.doc.title}" >Title</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL3.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL3.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
                        <th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL6.getSortName()}">
						<span th:text="#{doc.staff}" >Created by</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL6.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL6.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL1.getSortName()}">
						<span th:text="#{document.organization}" >Organization</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL1.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL1.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL5.getSortName()}">
						<span th:text="#{doc.created.date}" >Created date</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL5.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL5.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL7.getSortName()}">
						<span th:text="#{doc.status}" >Status</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL7.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL7.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL2.getSortName()}">
						<span th:text="#{issue.issue.priority}" >Priority</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL2.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL2.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="sorting header-box" th:attr="data-sort-name=${T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL4.getSortName()}">
						<span th:text="#{doc.doc.type}" >Doc type</span>
						<i class="fa "
								th:classappend="(${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).DESC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL4.getSortName()}
								? fa-sort-desc : (${sortWrapper.sortType == T(vn.com.unit.jcanary.enumdef.SortTypeEnum).ASC.toString()} and ${sortWrapper.sortName == T(vn.com.unit.ppl.service.OZDocService.SortColumn).COL4.getSortName()} ? fa-sort-asc :  fa-sort))"></i>
						</th>
						<th class="u_t_action" th:text="#{action.label}">Action</th>
						<th:block th:if="${componentNames.size() > 0}">
							<th:block th:each="item, i : ${componentNames}">
								<th th:text="${item}">Component name</th>
							</th:block>
						</th:block>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${pageWrapper.data.size() > 0}">
                        <th:block th:each="item, i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
                            <tr bgcolor="green" th:attr="data-dto-id=${item.id},data-dto-form-id=${item.formId},data-dto-doc-uuid=${item.docUuid},data-dto-main-file-id=${item.mainFileId},,data-dto-doc-type=${item.docType}">
                                <td class="text-center" th:text="${i.index + startIndex}"></td>
                             
                                <td th:unless="${item.id} == null">
                                	<span class="doc-title-table" th:text="${item.docCode} + ' - '  + ${item.docTitleIsRefer}"
                                		th:title="${item.docCode} + ' - '  + ${item.docTitleIsRefer}"></span>
									<div th:if="${item.isArchive}">
										<span class="doc-title-table-archive" 
											th:title="#{message.document.archive}" th:text="#{message.document.archive}">Tài liệu lưu trữ
										</span>
                      				</div>
                               	</td>
                                <td>
									<span class="text-inline" th:text="${item.staff}" th:title="${item.staff}"></span>
								</td>
								<!-- <td> <span th:text="${item.companyName}">HD Bank</span></td> -->
								<td>
									<span class="text-inline" th:text="${item.orgName}" th:title="${item.orgName}">
										HD Bank chi nhánh 1</span>
								</td>
								<td class="text-center" th:text="${item.createdDate!= null ? #dates.format(item.createdDate, @systemConfig.getConfig('DATE_PATTERN') ): ''}"></td>
							 	<td class="text-center">
									<span class="text-inline" 
										th:text="${item.processStatusName}" 
										th:title="${item.processStatusName}"></span>
								</td>
								<td class="ico-urgent action-inline"> 
									<i class="fa" th:classappend="${item.priorityClass}"  aria-hidden="true"></i>
									<span style="font-size:12px; font-weight: normal;" th:text="${item.priorityCode} ? #{${item.priorityCode}} : ''"> Urgent</span>
								</td>
								<td>
									<span class="text-inline" 
										th:text="${item.formName}" 
										th:title="${item.formName}"></span>
								</td>
								   <td class="text-center nowrap action-inline">
                                    <div class="">
                                        <!--th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"-->
                                        <a class="fa fa-history fa-lg btn-process-his" style="vertical-align: 0%; color: #304d50;" th:title="#{document.history.button}"></a>
                                        <a class="glyphicon glyphicon-download-alt custom-icon j-btn-download btn-download-pdf" th:attr="data-form-file-name=${item.formFileName}" th:if="(${item.formFileName != null and item.formFileName != ''})"
                                        style="color: #304d50;" th:title="#{document.download.button}"></a>
                                        <a class="glyphicon glyphicon-edit custom-icon j-btn-edit btn-edit" th:attr="data-id=${item.id}" th:title="#{document.detail.button}"></a>
                                        <a class="glyphicon glyphicon-remove-sign font-size-20 red  j-btn-delete btn-delete" th:attr="data-id=${item.id}" th:if="(${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)') and 
                                        item.docState == '000' and item.isArchive == false})" th:title="#{document.delete.button}"></a>
                                    </div>
                                </td>					
								<th:block th:if="${componentNames.size() > 0}">
									<th:block th:each="componentName, i : ${componentNames}" th:with="valueCell=${item.componentList.get(componentName)}">
										<th:block th:if="${valueCell}">
											<td th:if="${#strings.startsWith(valueCell,'data:image/png;base64')}" class="text-center">
												<img th:src="${valueCell}" style="max-height: 50px;" />
											</td>
											<td th:unless="${#strings.startsWith(valueCell,'data:image/png;base64')}" th:text="${valueCell}"></td>
										</th:block>
										<th:block th:unless="${valueCell}">
											<td th:text="${valueCell}"></td>
										</th:block>
									</th:block>
								</th:block>
                            </tr>
                        </th:block>
                    </th:block>
                    <th:block th:if="${pageWrapper.data.size() == 0}">
                        <tr>
                            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
		</div>
    </div>
    <th:block th:include="views/commons/pagination.html :: content" />
    <th:block th:include="views/commons/sort-table.html :: content(${sortWrapper})" />
    <script type="text/javascript" th:src="@{/static/cache/js/document/document-table.js}"></script>
</body>
</html>