<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
	<th:block th:each="object,j : ${groups}">
		<div class="bg-content bg-content-tbl clearfix">
			<div class="form-group">
				<h2 class="title-box">
					<span th:text="#{j.process.step.name}">Step</span><span> : </span><span
						th:text="${object.stepName}">Step</span>
				</h2>
				<table th:id="${'step-survay-table' + j.index}"
					class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="no">#</th>
							<th th:text="#{approval.plugin.owner}">Owner</th>
							<th th:text="#{j.process.step.survey.executor.label}">Executor</th>
							<th th:text="#{action.label}">Action</th>
							<th th:text="#{j.process.step.survey.execute.date.label}">Execute
								Date</th>
							<th th:text="#{comment.title}">Comment</th>
							<!-- <th th:text="#{j.process.step.survey.opinion.label}">Opinion</th> -->
							<th class="u_t_action" th:text="#{action.label}">Action</th>
						</tr>
					</thead>
					<tbody class="j-survey-list">
						<th:block th:each="item,i : ${object.surveys}">
							<tr th:attr="data-survey-id=${item.surveyId}">
								<td th:text="${i.index+1}">1</td>
								<td th:text="${item.userName}"></td>
								<td th:text="${item.executor}"></td>
								<td th:text="${item.actionName}"></td>
								<td class="text-center" 
									th:text="${item.executeDate eq null ? '' : #dates.format(item.executeDate, @systemConfig.getConfig('DATE_PATTERN'))}"></td>
								<td th:text="${item.commentContent}"></td>
								<!-- <td th:text="${item.opinion}"></td> -->
								<td class="text-center">
									<div>
										<a class="glyphicon glyphicon-edit custom-icon j-btn-survey-edit btn-edit"></a>
									</div>
								</td>
							</tr>
						</th:block>
						<th:block th:if="${groups == null or groups.size() == 0}">
							<tr>
								<td colspan="100%" th:text="#{table.emptyTable.label}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
	<script type="text/javascript"
		th:src="@{/static/js/document/document-survey-table.js}"></script>
</body>
</html>