<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="form-group"  th:if="${historyProcessList != null and historyProcessList.size() > 0} or ${isWorkflow and isShowWorkflow}">
		<div class="bg-content clearfix bg-content-tbl" style="border-top: none;">
			<div data-toggle="collapse" data-target="#configuration" class="header-box">
				<h2 class="title-box">
					<span th:text="#{document.history.activity}">Activity</span>
				</h2>
				<i class="fa fa-minus pull-right" aria-hidden="true"></i>
			</div>
		
			<div class="row m-0 collapse in" id="configuration" >
				<ul class="nav nav-tabs" id="tabConfiguration">
					<!-- <li role="presentation" class=""><a href="#configuration-function" th:text="#{jpm.process.function}" data-toggle="tab" aria-expanded="true"></a></li> -->
					<li role="presentation" class="active" th:if="${historyProcessList != null and historyProcessList.size() > 0}"><a href="#activity-history-process" data-toggle="tab" aria-expanded="true" th:text="#{document.process.history.title}">History process</a></li>
					<li role="presentation" class="" th:if="${historyDocList != null and historyDocList.size() > 0}"><a href="#activity-history-document" data-toggle="tab" aria-expanded="true" th:text="#{document.history.title}">History document</a></li>
					<!-- <li role="presentation" class=""><a href="#actitity-comment" data-toggle="tab" aria-expanded="true" th:text="#{comment.title}">Comment</a></li> -->
					<li role="presentation" th:class="${historyProcessList == null or historyProcessList.size() == 0} ? 'active' : ''" th:if="${isWorkflow and (isShowWorkflow 
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW)')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW)')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW +'':Disp'')')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW +'':Delete'')'))}">
								<a href="#actitity-document-workflow" data-toggle="tab" aria-expanded="true" th:text="#{document.workflow}">Workflow</a>
					</li>
				</ul>
		
				<div class="tab-content clearfix tab-custom">
		
					<!-- History process -->
					<div id="activity-history-process" class="tab-pane fade" th:classappend="${historyProcessList != null and historyProcessList.size() > 0} ? 'in active' : ''" th:if="${historyProcessList != null and historyProcessList.size() > 0}">
						<th:block th:include="views/document/document-form-history-process.html :: content" />
					</div>
		
					<!-- History document -->
					<div id="activity-history-document" class="tab-pane fade" th:if="${historyProcessList != null and historyProcessList.size() > 0}">
						<th:block th:include="views/document/document-form-history-document.html :: content" />
					</div>
					
					<!-- Comment -->
					<!-- <div id="actitity-comment" class="tab-pane fade">
						<th:block th:include="views/document/document-form-comment.html :: content(${objectDto.id}, 'EFO_OZ_DOC')"/>
					</div> -->
					<!-- workflow -->
					<div id="actitity-document-workflow" class="tab-pane fade" th:classappend="${historyProcessList == null or historyProcessList.size() == 0} ? 'in active' : ''" 
						th:if="${isWorkflow and (isShowWorkflow 
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW)')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW)')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW +'':Disp'')')
							or #authorization.expression('hasAuthority(@roleConstant.DISPLAY_WORKFLOW +'':Delete'')'))}">
						<th:block th:include="views/document/document-workflow.html :: content"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>