<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<th:block th:if="${survey != null}">
		<div id="surveyPopupConfirm" class="modal fade" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<form class="form-horizontal u-for-page-top j-formSurveyPopup"
					th:object="${survey}" method="POST" role="form">
					<!-- <input type="hidden" id="accId" name="userId"/>
				<input type="hidden" id="title_val" name="title"/>
				<input type="hidden" id="allRow" name="isAllRow"/>
				Modal content -->
					<div id="popupDetailSurvey" class="modal-content">
						<th:block th:include="views/document/document-popup-detail-survey.html :: content(${survey})"/>
					</div>
					
				</form>
			</div>
		</div>
	</th:block>
	<script type="text/javascript" th:src="@{/static/js/document/document-survey-popup.js}"></script>
</body>
</html>