<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body th:fragment="content">
<div class="bg-content clearfix" style="border-top: none;">
    <form class="form-horizontal u-for-page-top j-formSearch" th:action="@{/region/edit}" th:object="${objectDto}" method="post" role="form" id="form-detail" enctype="multipart/form-data">
    	<!-- <input type="hidden" th:field="*{companyId}" /> -->
   		<input type="hidden" th:field="*{id}" />
   	<div class="title-head clearfix">
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i> <span>Document management</span>
			</h3>
		</div>
		
	</div>
        <div class="clearfix col-xs-12 col-sm-12 p-0">
            <div class="header-box">
                <h2 class="title-box" th:text="#{doc.list.page.name}">Page name</h2>
            </div>
            <div class="collapse in row m-0" id="search-box">
                <div class="col-xs-12 col-sm-12 p-0">
					<div class="row form-group">
						<label class="col-sm-2 required " >Document title</label>
						<div class="controls col-sm-10">
							<input class="form-control" th:field="*{docTitle}" />
						</div>		
					</div >
					<div class="row form-group">
						<label class="col-sm-2" >Document type</label>
						<div class="controls col-sm-4">
							<select class="form-control" id="document-type" th:field="*{businessId}">
                            	<option th:each="item : ${businessList}" 
                             	  	th:value="${item.id}"
                              	 	th:text="${item.text}">
                            	</option>
							</select>
						</div>		
						<label class="col-sm-2 ">Priority</label>
						<div class="controls col-sm-4">
							<select class="form-control" th:field="*{priority}">	
                            	<option th:each="item : ${priorityList}" 
                             	  	th:value="${item.cat}"
                              	 	th:text="${item.catAbbrName}">
                              	 </option>
							</select>
						</div>				
					</div >
					<div class="row form-group">
						<label for="name" class="col-sm-2" >Main file</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input class="form-control"  maxlength="255" readonly="readonly" th:field="*{fileStream}"/>
								<label class="input-group-addon" style="cursor: pointer;">
									<i class="fa fa-folder-open"></i>
									<input type="file" id="fileProcess" multiple="multiple" name="fileProcess" class="hide"/>
								</label>
								<label class="input-group-addon" style="cursor: pointer;">
									<i class="fa fa-eye"></i>
								</label>
							</div>
						</div>
						<label class="col-sm-2">Assignee</label>
						<div class="controls col-sm-4">
							<select class="form-control" id="assignee" th:field="*{assignee}">
                            	<option th:each="item : ${assigneeList}" 
                             	  	th:value="${item.cat}"                               		
                             	 	th:text="${item.catAbbrName}">
                              	 </option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-12 p-0 form-group">
						<label class="col-sm-2 ">Summary</label>
						<div class="controls col-sm-10">
							<textarea name="comments" class="form-control" rows="3" th:field="*{summary}"></textarea>
						</div>
					</div>
					
					<div class="col-sm-12 p-0 form-group">
						<label class="col-sm-2 ">Status</label>
						<div class="controls col-sm-4">
							<input class="form-control" th:field="*{processStatusName}" readonly="true" value="Waitting for Approval management"/>
						</div>
					</div>
					<!-- <div class="col-sm-12 p-0 form-group">
						<label class="col-sm-2">Created date</label>
						<div class="controls col-sm-4">
							<div class="input-group date datepicker pull-left">
								<input class="form-control"/>
								<div class="input-group-addon">
		                            <i class="fa fa-calendar"></i>
		                        </div>
							</div>
						</div>
						<label class="label-bold col-sm-2">~</label>
						<div class="col-sm-4">
							<div class="input-group date datepicker pull-left">
								<input class="form-control" />
								<div class="input-group-addon">
		                            <i class="fa fa-calendar"></i>
		                        </div>
							</div>
						</div>
					</div>-->
				</div> 
				<div class="btn-footer">
					<div class="col-xs-12 col-sm-12 text-center" style="margin-top: 10px;">
						<span id="btn-save">
							<a class="btn btn-common buttonSave" >
								<i class="glyphicon glyphicon-file"></i> <span>Save</span>
							</a>
						</span>
						
					</div>
					
					<div>
						<!-- popup action submit and approve -->
						
					</div>
				</div>
            </div>
        </div>
        <input type="file" id="attachFileTemp" name="file" class="hide" multiple="multiple" th:value="${fileDatas}" />
	</form>
</div>
<!-- SUBFILES -->
<th:block th:include="views/document/attached-file-ecm-plugin.html :: content(${objectDto.id}, 'EFO_OZ_DOC')"/>
<!-- WORKFLOW DIAGRAM -->
	<!-- <div class="bg-content bg-content-tbl clearfix" style="border-top: none;">
		<div data-toggle="collapse" data-target="#processMainDiagram" class="header-box">
			<h2 class="title-box">
				<span>Workflow process diagram</span>
			</h2>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
	
		<div class="collapse in row m-0" id="processMainDiagram">
			<img id="imgProcessMainDiagram" class="img-responsive img-rounded" alt="Workflow Process Diagram" src="/mbal/workflow/diagram/Unit_test2:1:55004"/>
		</div>
	</div> -->
<!-- ACTIVITY -->
<div th:if="${objectDto.id}">
	<th:block th:include="views/document/document-form-activity.html :: content" />
</div>
<script type="text/javascript" th:src="@{/static/cache/js/document/document-search.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/js/document/document-form-detail.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/js/document/document-comment-doc.js}"></script>	
</body>
</html>