<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<head>
    <script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
</head>

<body>
    <div class="title-head clearfix">
        <div class="col-sm-9 col-xs-7 no-padding">
            <h3>
                <i class="fa fa-table"></i>
                <span th:text="#{svc.management.list.page.name}">Page name</span>
            </h3>
        </div>
        <div class="col-sm-3 col-xs-5 icon-head">
            <div class="pull-right" th:if="${#authorization.expression('hasAuthority(@itemConstant.ITEM_SCREEN_REGISTER_SVC)')}">
                <a >
                    <i class="fa fa-plus-circle icon-head-red" id="btnCreate"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="frmSearch">
        <div id="error-message">
        	<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
        </div>
        <th:block th:include="views/jpm-svc-management/jpm-svc-management-search.html :: content" />
    </div>
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
        <th:block th:include="views/jpm-svc-management/jpm-svc-management-table.html :: content" />
    </div> 
	<input type="hidden" id="url" th:value="${url}" />
    <script type="text/javascript" th:src="@{/static/cache/js/jpm-svc-management/jpm-svc-management-list.js}"></script>
</body>

</html>