<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="col-sm-12 p-0">
      <h2 class="title-box" th:text="#{search.results.title}">
        Kết quả tìm kiếm
      </h2>
      <a
        class="btn-common pull-right"
        id="btnExport"
        onclick="doExportExcel();"
      >
        <i class="fa fa-download" aria-hidden="true"></i>
        <span th:text="' '+#{common.export.data}"></span>
      </a>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 20px">#</th>
              <th th:text="#{receipt.action}" style="width: 80px">Action</th>
              <th>Warehouse Code</th>
              <th>Warehouse Name</th>
              <th>Property Of</th>
              <th>Office Location</th>
              <th>Warehouse Keeper</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <th:block
              th:each="warehouseDto,i : ${pageWrapper.data}"
              th:with="startIndex=${pageWrapper.startIndexCurrent}"
            >
              <tr th:attr="data-warehouse-id=${warehouseDto.id}">
                <td th:text="${i.index + startIndex}" class="text-center"></td>
                <td class="text-center">
                  <div>
                    <a
                      class="
                        glyphicon glyphicon-eye-open
                        custom-icon
                        j-btn-detail
                      "
                      th:title="#{view.button}"
                    ></a>
                    <a
                      class="glyphicon glyphicon-edit custom-icon j-btn-edit"
                      th:title="#{edit.button}"
                    ></a>
                    <a
                      class="
                        glyphicon glyphicon-remove-sign
                        font-size-20
                        red
                        j-btn-delete
                      "
                      th:title="#{delete.button}"
                      th:if="${#authorization.expression('hasAuthority(''__${@roleEp2p.ROLE_WAREHOUSE}__:Edit'')')}"
                    ></a>
                  </div>
                </td>
                <td class="text-left" th:text="${warehouseDto.code}"></td>
                <td class="text-left" th:text="${warehouseDto.name}"></td>
                <td class="text-left" th:text="${warehouseDto.propertyOf}"></td>
                <td
                  class="text-left"
                  th:text="${warehouseDto.assetLocationName}"
                ></td>
                <td
                  class="text-left"
                  th:text="${warehouseDto.keeperFullname}"
                ></td>
                <td class="text-center">
                  <input
                    type="checkbox"
                    disabled="disabled"
                    th:value="${warehouseDto.activeFlag}"
                    th:checked="${warehouseDto.activeFlag == 1 ? true : false }"
                  />
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/pagination.html :: content(pageWrapper=${pageWrapper})"
      />
    </div>
    <script
      type="text/javascript"
      th:src="@{/static/js/warehouse/warehouse-list.js}"
    ></script>
  </body>
</html>
