<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="form-group">
		<div class="bg-content clearfix bg-content-tbl" style="border-top: none;">
			<!-- <div data-toggle="collapse" data-target="#configuration" class="header-box">
				<h2 class="title-box">
					<span th:text="#{document.history.activity}">Activity</span>
				</h2>
				<i class="fa fa-minus pull-right" aria-hidden="true"></i>
			</div> -->
		
			<div class="row m-0 collapse in" id="configuration" >
				<ul class="nav nav-tabs" id="tabConfiguration">
					<li id="activity-document" role="presentation" class="active">
						<a href="#activity-document-link" data-toggle="tab" aria-expanded="true" th:text="#{delegate.activity.document.title}">Tài liệu</a>
					</li>
					<li id="activity-authority" role="presentation">
						<a href="#activity-authority-link" data-toggle="tab" aria-expanded="true" th:text="#{delegate.activity.authority.label}">Ủy quyền</a>
					</li>
				</ul>
		
				<div class="tab-content clearfix tab-custom">
		
					<!-- Document -->
					<div id="activity-document-link" class="tab-pane fade active in" >
						<div class="bg-content clearfix bg-content-tbl" id="oldDetailList" th:if="*{id}">
							<th:block th:include="views/delegate/delegate-doc-old-detail-table.html :: content" />
						</div>
						<div class="bg-content clearfix bg-content-tbl" id="detailTableList">
							<th:block th:include="views/delegate/delegate-doc-detail-table.html :: content" />
						</div>						
					</div>
					
					<!-- Authority -->
					<div id="activity-authority-link" class="tab-pane fade">
						<!-- <th:block th:include="views/delegate/delegate-authority-tab.html :: content" /> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>