<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="col-sm-12 p-0">
		<div class="form-group">
			<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
		</div>
		<div class="col-xs-4 col-sm-2 p-0">
			<h2 class="title-box" th:text="#{delegate.edit.table.doc.old.label}">Kết quả tìm kiếm</h2>
		</div>
		<div class="col-sm-10 col-xs-8 p-0">
			<div class="col-sm-10">
				<div class="col-sm-3 pull-right" align="center"  style="margin-top: -5px;">
					<span class="button">
						<a class="btn btn-common" id="btn-old-doc-Search"> 
							<i class="fa fa-search"> </i> <span th:text="#{search.button}"></span>
						</a>
					</span>
				</div>
				<div class="col-sm-6 pull-right" style="margin-top: -5px;">
					<input type="text" class="form-control" 
						th:placeholder="#{doc.doc.title}" autocomplete="off" id="docTitle" th:value="${fieldSearch}"/>
				</div>
			</div>
			<div class="col-sm-2 pull-right p-0">
				<i class="pointer glyphicon glyphicon-plus-sign icon-head-red pull-right" th:title="#{icon.add}" id="addDocPopup" th:if="${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)')}"></i>
				<i class="pointer glyphicon glyphicon-remove-sign icon-remove-form pull-right btn-doc-Delete" style="font-size: 25px;" th:title="#{icon.delete}" th:if="${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)')}"></i>
			</div>
		</div>
	</div>
	<div class="col-sm-12 no-padding">
		<input type="hidden" id="oldTasks" value=""/>
		<input type="hidden" id="doc-Count" th:value="${oldDataList.countAll}"/>
		<div class="table-responsive">
			<table id="oldDocData"
				class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="no">#</th>
						<th>
							<input id="allDocHis" name="allDocHis" class="form-check-input" type="checkbox" value=""/>
						</th>
						<th th:text="#{doc.doc.title}" >Title</th>
						<th th:text="#{document.organization}" >Organization</th>
						<th th:text="#{issue.issue.priority}" >Priority</th>
						<th th:text="#{to.do.submitted.date}">Submitted Date</th>
						<th th:text="#{doc.status}">Process status</th>
						<th th:text="#{delegate.edit.table.column.three.label}">Delegate date</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="_item,i : ${oldDataList.data}" th:with="startIndex=${oldDataList.startIndexCurrent}">
						<tr th:attr="data-item-id=${_item.id},data-act-id=${_item.actTaskId}">
							<td align="center" th:text="${i.index + startIndex}"></td>
							<td class="text-center">
								<input class="form-check-input" type="checkbox" value="" th:disabled="${_item.id} and ${_item.applied}"/>
							</td>
							<td th:text="${_item.title}">HD Bank chi nhánh 1</td>
							<td th:text="${_item.orgName}">HD Bank chi nhánh 1</td>
							<td class="ico-urgent"> 
								<i class="fa" th:classappend="${_item.priorityClass}"></i>
								<span th:text="${_item.priorityCode} ? #{${_item.priorityCode}} : ''" > Urgent</span>
							</td>
							<td class="text-center" th:text="${_item.submittedDate != null}?${#dates.format(_item.submittedDate, @systemConfig.getConfig('DATE_PATTERN'))}:''">2019/06/25 10:15</td>
							<td th:text="${_item.docState}">Waitting for Approval management</td>
							<td th:text="${_item.createdDate != null} ? ${#dates.format(_item.createdDate, @systemConfig.getConfig('DATE_PATTERN'))}:''">2019/06/25 10:15</td>
						</tr>
					</th:block>
					<th:block th:if="${oldDataList.data eq null} or ${oldDataList.data.size() eq 0}">
						<tr>
							<td colspan="100%" th:text="#{table.emptyTable.label}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<th:block th:include="views/commons/pagination.html :: content(pageWrapper=${oldDataList})" />
	</div>
	<script type="text/javascript"
	th:src="@{/static/cache/js/delegate/delegate-doc-table.js}"></script>
</body>

</html>