<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	<div class="bg-content form-group clearfix">
		<div class="clearfix no-padding">
		<!-- 
			<div class="col-sm-9 col-xs-7 no-padding">
				<h2 class="title-box">
					<span th:text="#{delegate.layout.partial.label}">Notification</span>
				</h2>
			</div>
			 -->
			<!-- <div class="col-sm-3 col-xs-5 icon-head no-padding">
				<i class="pointer glyphicon glyphicon-plus-sign icon-head-red pull-right"
					th:title="Add" id="addPartial"></i>
			</div> -->
		</div>
		<div class="bg-content clearfix bg-content-tbl hidden" id="docDelegate">
			<th:block th:include="views/delegate/delegate-doc-old-detail-table.html :: content" />
		</div>
		<div class="bg-content clearfix bg-content-tbl hidden" id="orgDelegate">
			<th:block th:include="views/delegate/delegate-authority-old-detail-table.html :: content" />
		</div>
		<div class="bg-content clearfix bg-content-tbl hidden" id="roleDelegate">
			<th:block th:include="views/delegate/delegate-role-old-detail-table.html :: content" />
		</div>
	
	</div>
</body>
</html>