<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />

<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{delegate.layout.title.label}">Delegation management</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head" th:if="${#authorization.expression('hasAuthority(@roleConstant.MY_DOCUMENTS)')}">
		<div class="pull-right">
			<a href="#" id="btnCreate"> <i
				class="fa fa-plus-circle icon-head-red" id="add" title="Add"></i>
			</a>
		</div>
	</div>
</div>
<div id="messages">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
</div>
<div id="frmSearch">
	<th:block th:include="views/delegate/delegate-search.html :: content" />
</div>
<div class="bg-content clearfix bg-content-tbl" id="tableList">
	<th:block th:include="views/delegate/delegate-table.html :: content" />
</div>

<script type="text/javascript"
	th:src="@{/static/cache/js/delegate/delegate.js}"></script>
</html>