<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>	
	<script type="text/javascript" th:src="@{/static/cache/js/repository/repository-detail.js}"></script>	
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{repository.page}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" id="add">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>	
	</div>
	
	<form class="form-horizontal u-for-page-top j-form-validate" th:object="${repositoryDto}" method="post" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		<div class="bg-content clearfix">   	
			<div class="header-box"> 
	           <h2 class="title-box" th:text="#{repository.information}">Thông tin chức vụ</h2>
	        </div>
	        <input type="hidden" th:field="*{id}" />
			<div class ="row">
				<div class="col-md-6 p-0">
				    <div class="form-group" >
                           <label class="col-sm-4 " for="code" th:text="#{repository.code}">Mã</label>
                           <div class="col-sm-8" >
                               <label class="form-control form-detail" th:text="${repositoryDto.code}"> </label>                        
                           </div>
                       </div>
					<div class="form-group" >
						<label class="col-sm-4 " for="physicalPath" th:text="#{repository.physical.path}">Đường dẫn lưu trữ</label>
						<div class="col-sm-8" >
							<label class="form-control form-detail" th:text="${repositoryDto.physicalPath}" > </label>						
						</div>
					</div>
					<div class="form-group" >
                           <label class="col-sm-4 " for="typeRepoName" th:text="#{repository.type.repo}">Loại lưu trữ</label>
                           <div class="col-sm-8" >
                               <label class="form-control form-detail" th:text="${repositoryDto.typeRepoName}" > </label>                      
                           </div>
                       </div>
					<div class="form-group">
                           <label for="description" class="col-sm-4 " th:text="#{repository.description}">Mô tả</label>
                           <div class="col-sm-8" > 
                               <textarea readonly="readonly" class="form-control form-detail" th:text="${repositoryDto.description}"></textarea>                                             
                           </div>
                       </div>
                       <div class="form-group">
                        <label for="active"  class="col-sm-4" th:text="#{repository.active}">Kích hoạt</label>
                        <div class="col-sm-8">
                            <input type="checkbox" th:field="*{actived}" disabled="disabled"/>
                        </div>
                    </div>
				</div>
				<div class="col-md-6 p-0">
					<div class="form-group" >
						<label class="col-sm-4" for="name" th:text="#{repository.name}">Tên lưu trữ</label>
						<div class="col-sm-8" >
							<label class="form-control form-detail" th:text="${repositoryDto.name}" > </label>						
						</div>
					</div>
					<div class="form-group" >
                        <label class="col-sm-4" for="subFolderRule" th:text="#{repository.sub.folder.rule}">Thư mục con</label>
                        <div class="col-sm-8" >
                            <label class="form-control form-detail" th:text="${repositoryDto.subFolderRule}" > </label>                      
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-4" th:text="#{company.detail}">Company</label>
                        <div class="col-sm-8" >
                            <label class="form-control form-detail" th:text="${repositoryDto.companyName}==null ? #{company.all} : ${repositoryDto.companyName}" > </label>                      
                        </div>
                    </div>
                    <div class="form-group">
	                        <label for="local"  class="col-sm-4" th:text="#{repository.local}">Local</label>
	                        <div class="col-sm-8">
	                            <label class="form-control form-detail" th:text="*{fileProtocolName}"></label>
	                        </div>
	                </div>
	                <div th:if="*{fileProtocol != 1}">
	                 <div class="form-group">
						<label class="col-sm-4" th:text="#{repository.username}">UserName</label>
						<div class="col-sm-8">
							<label class="form-control form-detail" th:text="*{username}"></label>
						</div>
					</div>

					<div class="form-group">
						<label for="repository-password" class="col-sm-4" th:text="#{repository.password}">Password</label>
						<div class="col-sm-8">
							<label class="form-control form-detail" th:text="*{T(vn.com.unit.common.constant.CommonConstant).PASSWORD_ENCRYPT}"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4" th:text="#{repository.site}">UserName</label>
						<div class="col-sm-8">
							<label class="form-control form-detail" th:text="*{site}"></label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4" th:text="#{repository.path}">UserName</label>
						<div class="col-sm-8">
							<label class="form-control form-detail" th:text="*{path}"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</form>	

	<input type="hidden" id="url" name="url" th:value="${repositoryDto.url}"/>
	</body>
</html>