<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body>
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{repository.page}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" id="add"
					th:if="${#authorization.expression('hasAuthority(@roleConstant.REPOSITORY)')}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
					 <a class="btn-save u-btn u-btn-primary" th:if="${#authorization.expression('hasAuthority(@roleConstant.REPOSITORY)')}"> 
						<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
						<span th:text="#{save.button}">Lưu</span>
					</a>
		        </div>
		   </div>
		</div>	
	</div>

	<form class="form-horizontal u-for-page-top j-form-validate"
		id="form-repository-edit" th:action="@{/repository/edit}"
		th:object="${repositoryDto}" method="post" role="form">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
		<div class="bg-content ">
			<div class="header-box">
				<h2 class="title-box" th:text="#{repository.edit.title}"
					th:if="${repositoryDto.id != null}">Cập nhật chức vụ</h2>
				<h2 class="title-box" th:text="#{repository.create.title}"
					th:if="${repositoryDto.id == null}">Tạo chức vụ</h2>
			</div>
			<input type="hidden" th:field="*{id}" />
			<div class="row">
				<div class="col-md-6 p-0">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
						<label class="col-sm-4 required " for="code"
							th:text="#{repository.code}">Mã</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{code}"
								class="form-control j-required j-code j-maxlength"
								data-rule-maxlength="30" id="upperCaseCode" /> <span
								class="help-block" th:if="${#fields.hasErrors('code')}"
								th:errors="*{code}"></span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('physicalPath')} ? has-error : ''">
						<label class="col-sm-4 required " for="physicalPath"
							th:text="#{repository.physical.path}">Đường dẫn lưu
							trữ</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{physicalPath}"
								class="form-control j-required j-maxlength"
								data-rule-maxlength="255" /> <span class="help-block"
								th:if="${#fields.hasErrors('physicalPath')}"
								th:errors="*{physicalPath}"></span>
						</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('typeRepo')} ? has-error : ''">
						<label class="col-sm-4 required " for="typeRepo"
							th:text="#{repository.type.repo}">Loại lưu trữ</label>
						<div class="col-sm-8">
							<select class="form-control j-required" name="typeRepo">
								<option></option>
								<option th:each="item : ${typeRepoList}" th:value="${item.code}"
									th:selected="(${item.code} == *{typeRepo})"
									th:text="${item.name}"></option>
							</select> <span class="help-block"
								th:if="${#fields.hasErrors('typeRepo')}" th:errors="*{typeRepo}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-4"
							th:classappend="${#fields.hasErrors('description')} ? has-error : ''"
							th:text="#{repository.description}">Mô tả</label>
						<div class="col-sm-8">
							<textarea rows="3" th:field="*{description}"
								class="col-sm-10 form-control j-maxlength"
								data-rule-maxlength="65535"></textarea>
							<span class="help-block"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4" th:text="#{repository.active}">Kích
							hoạt</label>
						<div class="col-sm-8">
							<input type="checkbox" th:field="*{actived}" />
						</div>
					</div>


				</div>

				<div class="col-md-6 p-0">

					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
						<label class="col-sm-4 required " for="name"
							th:text="#{repository.name}">Tên lưu trữ</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{name}"
								class="form-control j-required j-maxlength j-specialCharacters"
								data-rule-maxlength="255" /> <span class="help-block"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('subFolderRule')} ? has-error : ''">
						<label class="col-sm-4" for="subFolderRule"
							th:text="#{repository.sub.folder.rule}">Thư mục con</label>
						<div class="col-sm-8">
							<select class="form-control" name="subFolderRule">
								<option></option>
								<option th:each="item : ${subFolderRuleList}"
									th:value="${item.code}"
									th:selected="(${item.code} == *{subFolderRule})"
									th:text="${item.Name}"></option>
							</select> <span class="help-block"
								th:if="${#fields.hasErrors('subFolderRule')}"
								th:errors="*{subFolderRule}"></span>
						</div>
					</div>
					<div class="form-group" th:if="${companyList.size()>1}">
						<label for="companyId" class="col-sm-4 "
							th:text="#{repository.companyName}">Công ty</label>
						<div class="col-sm-8">
							<select class="form-control select2" th:field="*{companyId}">
								<option th:if="${#authentication?.principal?.companyAdmin}"
									th:value="${NULL}" th:text="#{company.all}"></option>
								<option th:each="company : ${companyList}"
									th:value="${company.id}" th:text="${company.text}"></option>
							</select>
						</div>
					</div>

					<div  th:unless="${companyList.size()>1}">
						<input type="hidden" name="companyId" th:value="*{companyId}" />
					</div>
					<!-- 					local -->
					<div class="form-group"
						th:classappend="${#fields.hasErrors('fileProtocol')} ? has-error : ''">
						<label class="col-sm-4" for="fileProtocol"
							th:text="#{repository.local}">Local</label>
						<div class="col-sm-8">
							<select id="ckLocal" class="form-control" th:field="*{fileProtocol}">
								<!-- <option th:value="${NULL}"></option> -->
								<option th:each="item : ${fileProtocol}" th:value="${item.code}"
									th:text="${item.name}"
									th:selected="(${item.code} == *{fileProtocol})"></option>
							</select> <span class="help-block"
								th:if="${#fields.hasErrors('fileProtocol')}"
								th:errors="*{fileProtocol}"></span>
						</div>
					</div>

					<div class="form-group" id="divUser">
						<label class="col-sm-4 required" th:text="#{repository.username}">UserName</label>
						<div class="col-sm-8">
							<input type="text" id="repository-username"
								class="form-control j-required" th:field="*{username}" /> <span
								class="help-block" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}"></span>
						</div>
					</div>

					<div class="form-group" id="divPass">
						<label for="repository-password" class="col-sm-4 required"
							th:text="#{repository.password}"
							th:classappend="${#fields.hasErrors('password')} ? has-error : ''">Password</label>
						<div class="col-sm-6 ">
							<input id="repository-password" type="password"
								class="form-control j-required" name="password"
								th:value="*{(password == null or password == '') ? '' : T(vn.com.unit.common.constant.CommonConstant).PASSWORD_ENCRYPT}" />
							<span class="help-block" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></span>
						</div>
						<div class="col-sm-2 ">
							<input type="checkbox" style="margin-top: 12px"
								onchange="document.getElementById('repository-password').type = this.checked ? 'text' : 'password'" />
							<span th:text=" #{system.config.url.email.pass.show}">&nbsp;Show</span>
							<script type="text/javascript">
								// 								document.getElementById('repository-password').type = 'password';
							</script>
						</div>
					</div>
					<div class="form-group" id="divSite">
						<label class="col-sm-4 required" th:text="#{repository.site}">UserName</label>
						<div class="col-sm-8">
							<input type="text" id="repository-site"
								class="form-control j-required" th:field="*{site}" /> <span
								class="help-block" th:if="${#fields.hasErrors('site')}"
								th:errors="*{site}"></span>
						</div>
					</div>
					<div class="form-group" id="divPath">
						<label class="col-sm-4 required" th:text="#{repository.path}">UserName</label>
						<div class="col-sm-8">
							<input type="text" id="repository-path"
								class="form-control j-required" th:field="*{path}" /> <span
								class="help-block" th:if="${#fields.hasErrors('path')}"
								th:errors="*{path}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<input type="hidden" id="url" name="url"
		th:value="${repositoryDto.url}" />
	<script type="text/javascript"
		th:src="@{/static/cache/js/repository/repository-edit.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
// 			var checkBox = document.getElementById("ckLocal");
			var divPass = document.getElementById("divPass");
			var divUser = document.getElementById("divUser");
			// debugger;
			/* checkBox.checked == true */
			/* if (checkBox.checked == true) {
				divUser.style.display = 'none';
				divPass.style.display = 'none';
				$('#repository-username').prop("disabled", true);
				$('#repository-password').prop("disabled", true);
			} else {
				divUser.style.display = 'block';
				divPass.style.display = 'block';
				$('#repository-username').prop("disabled", false);
				$('#repository-password').prop("disabled", false);
			} */
			$('#ckLocal').change(function(){
				var selectedValue=$(this).val();
				console.log(selectedValue);
				if(selectedValue !== "" && selectedValue !== "1"){
					divUser.style.display = 'block';
					divPass.style.display = 'block';
					divSite.style.display = 'block';
					divPath.style.display = 'block';
					$('#repository-username').prop("disabled", false);
					$('#repository-password').prop("disabled", false);
					$('#repository-site').prop("disabled", false);
					$('#repository-path').prop("disabled", false);
					
				} else {
					document.getElementById("repository-password").value = '';
					document.getElementById("repository-username").value = '';
					divUser.style.display = 'none';
					divPass.style.display = 'none';
					divSite.style.display = 'none';
					divPath.style.display = 'none';
					$('#repository-username').prop("disabled", true);
					$('#repository-password').prop("disabled", true);
					$('#repository-site').prop("disabled", true);
					$('#repository-path').prop("disabled", true);
				}
			}).change();
		});

		/* function localChecked() {
			var checkBox = document.getElementById("ckLocal");
			var divPass = document.getElementById("divPass");
			var divUser = document.getElementById("divUser");

			if (checkBox.options[checkBox.selectedIndex].text==='local') {
				divUser.style.display = 'none';
				divPass.style.display = 'none';
				$('#repository-username').prop("disabled", true);
				$('#repository-password').prop("disabled", true);
				$('#repository-site').prop("disabled", true);
				$('#repository-path').prop("disabled", true);
			} else {
				divUser.style.display = 'block';
				divPass.style.display = 'block';
				document.getElementById("repository-password").value = '';
				document.getElementById("repository-username").value = '';
				$('#repository-username').prop("disabled", false);
				$('#repository-password').prop("disabled", false);
				$('#repository-site').prop("disabled", false);
				$('#repository-path').prop("disabled", false);
			} 
		}*/
	</script>
</body>
</html>