<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="header-box">
				<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<!-- <div class="icon-head">
		        <div class="pull-right">
					<a><i class="fa fa-download icon-head-red" id = "btnExport"></i></a>
		        </div>
		   </div> -->
		</div>
		<div class="col-sm-12 p-0">
			<div class="table-responsive">
			<!-- <div>[[${pageWrapper.data}]]</div>	 -->		
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th class="u_t_title" th:text="#{repository.companyName}">Công ty</th>
							<th class="u_t_title" th:text="#{repository.code}">Mã</th>
							<th class="u_t_title" th:text="#{repository.name}">Tên lưu trữ</th>
							<th class="u_t_title" th:text="#{repository.physical.path}">Đường dẫn lưu trữ</th>
							<th class="u_t_title" th:text="#{repository.sub.folder.rule}">Thư mục con</th>
							<th class="u_t_title" th:text="#{repository.type.repo}">Loại lưu trữ</th>
							<th class="u_t_title" th:text="#{repository.local}">Trạng thái</th>
							<th class="u_t_title" th:text="#{repository.status}">Trạng thái</th>
<!-- 							<th class="u_t_date" th:text="#{create.date}">Ngày tạo</th> -->
						</tr>
					</thead>
					<tbody>
						<th:block th:each="repositoryDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-repository-id=${repositoryDto.id}">						
							<td class="text-center" th:text="${i.index + startIndex}" ></td>
							<td class="td-action">
                                <div class="align-center">
                                    <a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" ></a>
                                    <a class="glyphicon glyphicon-edit custom-icon j-btn-edit"
                                     	th:if="${#authorization.expression('hasAuthority(@roleConstant.REPOSITORY)') and ((repositoryDto.companyName != null and repositoryDto.companyName!='') or #authentication?.principal?.companyAdmin)}" ></a>                                
                                    <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete" 
                                    	th:if="${#authorization.expression('hasAuthority(@roleConstant.REPOSITORY)') and ((repositoryDto.companyName != null and repositoryDto.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
                                </div>  
                            </td> 
                            <td th:text="${repositoryDto.companyName} !='' and ${repositoryDto.companyName} != null ? ${repositoryDto.companyName}: #{company.all}"></td>
							<td th:text="${repositoryDto.code }"></td>
		                    <td th:text="${repositoryDto.name }"></td>
		                    <td th:text="${repositoryDto.physicalPath }"></td>
		                    <td th:text="${repositoryDto.subFolderRule }"></td>
 		                    <td th:text="${repositoryDto.typeRepoName}"></td>
 		                    <td th:text="${repositoryDto.fileProtocolName}"></td>
 		                    <!-- <td><div  th:each="item : ${typeRepoList}" th:if="(${item.code} == ${repositoryDto.typeRepo})"
									th:text="${item.name}"></div>
							</td> -->
		                    <td  th:text="#{${repositoryDto.actived} ? 'repository.status.activated' : 'repository.status.not.activated'}"></td>
<!-- 		                    <td class="text-center" th:text="${repositoryDto.createdDate }? ${#dates.format(repositoryDto.createdDate, @menuConfig.getFormDate())}"></td>                        -->
						</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/repository/repository-table.js}"></script>
	</body>
</html>
