<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	
	<!-- EasyUI - Multiple component support -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/easyui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/icon.css}" />
	<script type="text/javascript" id="script-easyui" th:src="@{/static/cache/plugins/jquery-easyui-1.5/jquery.easyui.min.js}"></script> 
	<script type="text/javascript">
		$(document).ready(function() {
			$('#tabLanguage a').click(function(event) {
				event.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	<body>
		<div class="title-head clearfix">
		   <div class="col-sm-10 col-xs-12 no-padding">
				<h3><i class="fa fa-table"></i> <span th:text="#{menu.management}">MENU MANAGEMENT</span></h3>
		   </div>
		   <div class="col-sm-2 col-xs-12 icon-head">
	            <div class="pull-right">
					 <a id="linkList">
						<i class="fa fa-arrow-circle-left icon-head-red" ></i>
					</a>
					<!-- <a id="add" th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')}">
							<i class="glyphicon glyphicon-plus-sign icon-head-red"></i>
					</a>  -->
					<a class="font17 btn-save" 
	             	th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')}"> 
						<i class="fa fa-save"></i>
					</a>
	            </div>
	       </div>
		</div>	
		<form id = "form-menu-edit" th:object="${documentManagementDto}" method="POST" role="form" class="form-horizontal u-for-page-top j-form-validate">
							
				<input type="hidden" th:field = "*{menuId}"/>
				<input type="hidden" th:field = "*{viMenuId}"/>
				<input type="hidden" th:field = "*{enMenuId}"/>
				<input type="hidden" th:field = "*{statusCode}" /> 
				<input type="hidden" th:field = "*{processId}" />     
            	<input type="hidden" th:field = "*{referenceType}" />
            	<input type="hidden" th:field = "*{action}" />
            	<div class="col-sm-12 p-0">
					<div class="bg-content clearfix">
						<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
						<div class="col-md-6">
							<div class="form-group" th:classappend="${#fields.hasErrors('menuCode')} ? has-error : ''">
								<label for="menuCode" class="col-sm-4 required" th:text="#{menu.left.code}"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control j-required j-maxlength j-code" id="menuCode" th:field="*{menuCode}" data-rule-maxlength="30" maxlength="30" style="text-transform: uppercase;" />
									<span class="help-block" th:if="${#fields.hasErrors('menuCode')}" th:errors="*{menuCode}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4" th:text="#{news.language}">Ngôn ngữ</label>
								<div class="col-sm-8">
									<ul class="nav nav-tabs" id="tabLanguage">
										<th:block th:each="language, i : ${languageList}">
											<li role="presentation" th:classappend="${i.index == 0}  ? 'active' : ''" th:id="tabLanguage + ${i.index}">
												<a th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
											</li>
										</th:block>
									</ul>
								</div>
							</div>
							<div class="tab-content" >						
								<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">	
								
									<div th:id="'language' + ${index}" class="tab-pane fade " th:classappend="${index == 0}  ? 'in active' : ''">									
										<div class="row form-group">
											
											<input type="hidden" th:name="'listMenuLanguage[' + ${index} + '].languageCode'" th:value="${language.code}"/>									
											<input type="hidden" th:name="'listMenuLanguage[' + ${index} + '].languageId'" th:value="${language.id}"/>	
											<input type="hidden" th:field="*{listMenuLanguage[__${index}__].menuLanguageId}"/>
										
											<label for="name" class="col-sm-4 required" th:text="#{menu.left.name}"></label>
											<div class="col-sm-8">
												<input type="text" class="form-control j-required j-specialCharacters" th:field="*{listMenuLanguage[__${index}__].languageName}" maxlength="255"/>
												<span class="help-block" th:if="${#fields.hasErrors('listMenuLanguage[__${index}__].languageName')}" th:errors="*{listMenuLanguage[__${index}__].languageName}"></span>
											</div>
										</div>
										<div class="row form-group">
											<label for="alias" class="col-sm-4 required" th:text="#{menu.left.alias}"></label>
											<div class="col-sm-8">
												<input type="text" class="form-control j-required j-specialCharacters" th:field="*{listMenuLanguage[__${index}__].alias}" maxlength="150" />
												<span class="help-block" th:if="${#fields.hasErrors('listMenuLanguage[__${index}__].alias')}" th:errors="*{listMenuLanguage[__${index}__].alias}"></span>
											</div>
										</div>									
									</div>
								</th:block>
							</div>
							<div class="form-group" th:if="${companyList.size()>1}">
				                <label for="companyId" class="col-sm-4 " th:text="#{company.detail}">Company</label>
				                <div class="col-sm-8">
				                    <select class="form-control select2 select-company" th:field="*{companyId}">
				                        <option th:each="company : ${companyList}" 
				                                th:value="${company.id}"
				                                th:text="${company.text}">
				                        </option>
				                    </select>
				                </div>
				            </div>
				            <div class="form-group" th:unless="${companyList.size()>1}">
				                <input type="hidden" th:field="*{companyId}" />
				            </div>
							<div class="form-group">
								<label for="type" class="col-sm-4 " th:text="#{menu.left.type}"></label>
								<div class="col-sm-8">
									<select id = "menuType" th:field="*{menuType}" class="form-control select2" >
										<option th:each="type : ${menuTypeSelect2Dto}" 
											th:value="${type.id}"
											th:text="#{${type.text}}"
											th:selected="(${type.id} == *{menuType})">
										</option>								
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="parentId" class="col-sm-4" th:text="#{menu.left.parent}"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control" th:field="*{parentId}" id="menuList"/>
								</div>
							</div>																														
						</div>																														
						<div class="col-md-6">
							<div class="form-group">
								<label for="urlId" class="col-sm-4 required" th:text="#{menu.left.url}"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control j-required" id="urlId" th:field="*{url}"  maxlength="255"/>
									<span class="help-block" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="sort" class="col-sm-4" th:text="#{menu.left.sort}"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control j-int" id="sort" th:field="*{sort}" data-rule-maxlength="6" maxlength="6"/>
									<span class="help-block" th:if="${#fields.hasErrors('sort')}" th:errors="*{sort}"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="icon" class="col-sm-4 " th:text="#{menu.left.icon}"></label>
								<div class="col-sm-8 icon-select-list">
									<!-- <div class="u-custom-select fa-caret-down"> -->
										<select  class="form-control selectpicker" th:field="*{icon}" data-size="5">
											<option th:each="constantDisplay : ${menuIconList}" th:class="${constantDisplay.code}" 
											th:value="${constantDisplay.code}" th:text="${constantDisplay.name}" th:selected="${#strings.equals(constantDisplay.code,icon)}"></option>								
										</select>
									<!-- </div> -->
								</div>
							</div>
							
							<!-- Function Code -->
							<div class="form-group">
								<label for="type" class="col-sm-4" th:text="#{menu.left.permission.link}"></label>
								<div class="col-sm-8">
									<select th:field="*{itemId}" class="form-control select2" >
									      <option th:value="*{itemId}" th:text="*{itemName}"></option>
									</select>
								</div>
							</div>						
							<!-- <div class="form-group">
								<label for="icon" class="col-sm-4" th:text="#{menu.left.open}"></label>
								<div class="col-sm-8 ">
									<input type="checkbox" th:checked="*{checkOpen}" th:field="*{checkOpen}"/>
								</div>
							</div> -->
							<div class="form-group">
								<label for="icon" class="col-sm-4" th:text="#{menu.left.active}"></label>
								<div class="col-sm-8 ">
									<input type="checkbox" th:checked="*{activeMenu}" th:field="*{activeMenu}"/>
								</div>
							</div>
							
                            <div class="form-group">
                                <label for="icon" class="col-sm-4" >Menu Module</label>
                                <div class="col-sm-8 ">
                                    <select class="form-control select2" th:field="*{menuModule}">
                                        <option th:each="type : ${menuModule}" 
                                            th:value="${type.code}"
                                            th:text="${type.name}"
                                            th:selected="(${type.code} == *{menuModule})">
                                        </option>
                                    </select>
                                </div>
                            </div>
						</div>
						
						<div class="col-md-12 ">
								<div class="footer-box-bg">
	<!-- 					 	<a class="btn btn-common" id="btn-save-draff" th:if="${#authorization.expression('hasAuthority(''SM1#01#B05_SUBMIT:Disp:__*{statusCode}__:__*{processId}__'')')}" -->
	<!-- 					 		 th:text="#{saveDraft.button}">Lưu</a>					 -->
	<!-- 						<a class="btn btn-common" id="btn-send-request" th:if="${#authorization.expression('hasAuthority(''SM1#01#B05_SUBMIT:Disp:__*{statusCode}__:__*{processId}__'')')}" -->
	<!-- 							 th:text="#{sendRequest.button}" >Gửi duyệt</a> -->
	<!-- 							<a class="btn btn-common" id="btn-save-draff"	 th:text="#{saveDraft.button}">Lưu</a>					 -->
	<!-- 							<a class="btn btn-common" id="btn-send-request"  th:text="#{sendRequest.button}" >Gửi duyệt</a> -->
									<a type="button" class="btn-cancel" id = "cancel" >
										<i class="fa fa-times"></i>
										<span  th:text="#{cancel.button}">Thoát</span>
									</a>	
									<a class="btn-common btn-save"  th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')}">
										<i class="fa fa-floppy-o"></i>
										<span th:text="#{save.button}">Lưu</span>
									</a>
								</div>
						</div>
				
					</div>	
				</div>		
			<!-- <input type="hidden" id="url" th:value="${documentManagementDto.urlHidden}"/> -->
		</form>						
	</body>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    var MENU_LIST = /*[[${menuList}]]*/;
	    var LANGUAGE_LIST = /*[[${languageList}]]*/;
	    var ROOT_ID = /*[[${rootId}]]*/;
	    /*]]>*/
	</script>
	
		<script type="text/javascript" th:src="@{/static/cache/js/menu/menu-edit.js}"></script>

 </html>