<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="row m-0">
			<div class="header-box">
				<div class="row">
					<div class="col-sm-4">
						<h2 class="title-box" th:text="#{search.results.title}">Kết Quả Tìm Kiếm </h2>
					</div>
					<div class="col-sm-8 align-right">
						<!-- Sắp xếp lại -->
						<button id="btnSort" type="button" class="btn-ico" th:title="#{searchfield.disp.sort.order}" th:if="${hasRoleForListSort}"> 
								<img th:src="@{/static/images/sort-icon.png}" alt="" width="19px">
						</button>
						
						<!-- Export Excel -->
						<!-- <button class="btn-ico" type="button" id="btnExport" th:title="#{searchfield.disp.export.excel}">
							<img th:src="@{/static/images/icon-excel.png}" alt="" width="19px">
						</button> -->
						
						<!-- Hiển thị cột -->
						<div class="button-group drop-setting pull-right">
							<button type="button" class="btn-ico dropdown-toggle" data-toggle="dropdown" th:title="#{searchfield.disp.column.show}">
							<img th:src="@{/static/images/icon-cog.png}" alt="" width="18px"/>
								
							</button>
							
							   <ul class="dropdown-menu dropdown-filter-sort sort">
								 <th:block th:each="orderColumn : ${order}">
								 	<li>
										<a class="small">
											<input type="checkbox" th:checked="${orderColumn.isChecked()}" th:disabled="${orderColumn.isPrimary()}" 
											    th:attr="data-name=${orderColumn.field} + 'Show', data-column=${orderColumn.column}" onchange="showAndHideColum(this)">
											<label th:text="${orderColumn.fieldName}"></label>
										</a>
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="table-responsive no-padding col-sm-12" id="idDivTable">
				<table class="table table-bordered table-striped table-hover" id="tbl-list" style="white-space: normal">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
 							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
 							
							 <th:block th:each="orderColumn : ${order}">
							 	<th th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? ' text-center' : ' text-center hidden'}" 
							 		th:attr="data-column=${orderColumn.column}, data-sort='NULL'" 
											th:onclick="sortColumn(this, setConditionBySort(), PAGE_URL + '/ajaxList', C_NAME)">
							 		<span th:text="${orderColumn.fieldName}">Header</span>
							 		<i th:class="'fa fa-sort ' + ${orderColumn.field}" aria-hidden="true" th:attr="data-name=${orderColumn.field}"></i>
						 		</th>
							 </th:block>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dataRow,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-id=${dataRow.id}" class="trEdit">
								<td class="text-center" th:text="${i.index + startIndex}"></td>
								 <td class="align-center">
								
								<!-- 	Detail
									<i class="j-btn-detail glyphicon glyphicon-eye-open custom-icon"
										th:if="${hasRoleForDetail}">
									</i>
								
									Edit
									<i class="glyphicon glyphicon-edit custom-icon j-btn-edit" th:title="#{icon.edit}"
										th:if="${hasRoleForEdit}">
									</i> -->
									
									<!-- Delete -->
									<i class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete" th:title="#{icon.delete}"
										th:if="${hasRoleForDelete} AND ${dataRow.statusCode == null || dataRow.statusCode == '000'}">
									</i>
																	
								</td>
								
								<th:block th:each="orderColumn : ${order}">
									<th:block th:each="f: ${fields}">
										<th:block th:if="${f != null && orderColumn.field == f.name}">
											<th:block th:object="${f.setAccessible(true)}"></th:block>
											
											<th:block th:if="${orderColumn.fieldType == 'TEXT'}">
												<td th:text="${f.get(dataRow)}" 
													th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? '' : ' hidden'}"></td>
											</th:block>
											
											<th:block th:if="${orderColumn.fieldType == 'CHECKBOX'}">
												<td th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? ' text-center' : ' text-center hidden'}">
													<input type="checkbox" disabled="disabled" th:checked="${f.get(dataRow) == 1 ? true : false}" />
												</td>
											</th:block>
											
											<th:block th:if="${orderColumn.fieldType == 'DATE'}">
												<td th:text="${f.get(dataRow)} ? ${#dates.format(f.get(dataRow), 'dd/MM/yyyy')}"
													th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? ' text-center' : ' text-center hidden'}"></td>
											</th:block>
											
													<th:block th:if="${orderColumn.fieldType == 'DATETIME'}">
												<td th:text="${f.get(dataRow)} ? ${#dates.format(f.get(dataRow), 'dd/MM/yyyy hh:mm')}"
													th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? ' text-center' : ' text-center hidden'}"></td>
											</th:block>
											
											<th:block th:if="${orderColumn.fieldType == 'URL'}">
												<td th:class="${orderColumn.field} + 'Show' + ${orderColumn.isChecked() ? ' tbl-img' : ' hidden tbl-img'}">
													<th:block th:if="${dataRow.isVideo == 0}">
														<img class="img_banner" th:src="@{/cmsAjax/download?fileName=} + ${f.get(dataRow)}"/>
														<div class="img_banner_big">
															<img th:src="@{/cmsAjax/download?fileName=} + ${f.get(dataRow)}"/>
					 									</div>
													</th:block>
													
													<video class="videoContent img_banner" controls="controls" th:if="${dataRow.isVideo == 1} AND ${dataRow.isVideoYoutube == 0}">
														<source th:src="@{/cmsAjax/download?fileName=} + ${f.get(dataRow)}" type="video/mp4" />
		 												<source th:src="@{/cmsAjax/download?fileName=} + ${f.get(dataRow)}" type="video/ogg" />
													</video>
													
													<div th:if="${dataRow.isVideo == 1} AND ${dataRow.isVideoYoutube == 1}" class="divIframeVideo" 
														th:id="'divIframeVideo' + ${i.index}">
														<iframe width="600" height="493" class="iframe" th:id="'iframe' + ${i.index}" th:src="${f.get(dataRow)}"></iframe>
													</div>
													
													<input type="hidden" class="physicalImg" th:value = "${f.get(dataRow)}"/>
												</td>
											</th:block>
										</th:block>
									</th:block>
								</th:block>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<th:block th:include="views/commons/pagination.html :: content" />
	<script th:inline="javascript">
			/*<![CDATA[*/
		        SEARCH_DTO = [[${searchDto}]];
		    /*]]>*/
		    var C_NAME = "M_EMULATE";
		 	var DATE_FORMATE_TYPE = "FULL_DATE";
       </script>
		<script type="text/javascript" th:src="@{/static/CMS/all/emulate/emulate-list.js}"></script>
	</body>
</html>
