<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
  <body>
    <div class="title-head clearfix">
      <div class="col-sm-9 col-xs-7 no-padding">
        <h3>
          <i class="fa fa-table"></i>
          <span th:text="#{p2passetcategory.edit.title}">Tiêu đề trang</span>
        </h3>
      </div>
      <div class="col-sm-3 col-xs-5 icon-head">
        <div class="pull-right">
          <a>
            <i
              class="fa fa-arrow-circle-left icon-head-red"
              id="linkList"
              th:title="#{icon.back}"
            ></i>
          </a>
          <a>
            <i
              class="fa fa-plus-circle icon-head-red"
              id="add"
              th:title="#{icon.add}"
              th:if="${#authorization.expression('hasAuthority(''__${@roleEp2p.ROLE_ASSET_CATEGORY}__:Edit'')')}"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <form
      class="form-horizontal u-for-page-top j-form-validate"
      id="form-edit"
      th:action="@{/}"
      th:object="${p2pAssetCategory}"
      method="post"
      role="form"
    >
      <th:block
        th:include="/views/ASSET_MANAGEMENT_MODULE/commons/message-alert.html :: content(${messageList})"
      />
      <div class="bg-content clearfix bg-content-tbl">
        <div class="header-box">
          <h2
            class="title-box"
            th:text="#{p2passetcategory.edit.title}"
            th:if="${p2pAssetCategory.id != null}"
          >
            Update
          </h2>
          <h2
            class="title-box"
            th:text="#{p2passetcategory.create.title}"
            th:if="${p2pAssetCategory.id == null}"
          >
            Create
          </h2>
        </div>
        <input type="hidden" th:field="*{id}" />
        <div class="col-sm-12 p-0">
          <div class="col-md-6">
            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('assetTypeCode')} ? has-error : ''"
            >
              <label
                class="col-sm-4"
                for="assetTypeCode"
                th:text="#{p2passetcategory.assetType}"
                >Asset type
              </label>
              <div class="col-sm-8">
                <select
                  type="text"
                  th:field="*{assetTypeCode}"
                  class="form-control"
                  disabled="disabled"
                >
                  <option value=""></option>
                  <option
                    th:each="item : ${assetTypes}"
                    th:value="${item.id}"
                    th:text="${item.name}"
                    th:selected="*{assetTypeCode} == ${item.id}"
                  ></option>
                </select>
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('assetTypeCode')}"
                  th:errors="*{assetTypeCode}"
                ></span>
              </div>
            </div>

            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('code')} ? has-error : ''"
            >
              <label
                class="col-sm-4 required"
                for="code"
                th:text="#{p2passetcategory.code}"
                >Category Code</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  th:field="*{code}"
                  class="form-control j-required"
                  maxlength="255"
                  disabled="disabled"
                />
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('code')}"
                  th:errors="*{code}"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('activeFlag')} ? has-error : ''"
            >
              <label
                class="col-sm-4"
                for="activeFlag"
                th:text="#{p2passetcategory.activeFlag}"
                >Active flag?</label
              >
              <div class="col-sm-8">
                <input
                  type="checkbox"
                  th:field="*{activeFlag}"
                  disabled="disabled"
                />
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('activeFlag')}"
                  th:errors="*{activeFlag}"
                ></span>
              </div>
            </div>

            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('name')} ? has-error : ''"
            >
              <label
                class="col-sm-4 required"
                for="name"
                th:text="#{p2passetcategory.name}"
                >Name?</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  th:field="*{name}"
                  class="form-control j-required"
                  disabled="disabled"
                />
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"
                ></span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
				    <div class="form-group" th:classappend="${#fields.hasErrors('category')} ? has-error : ''">
                        <label class="col-sm-4 " for="category" >Category</label>
                        <div class="col-sm-8" >
                            <input type="text" class="form-control" disabled="disabled"/>
                        </div>
                    </div>
				</div> -->
          <div class="col-md-12">
            <div
              class="form-group"
              th:classappend="${#fields.hasErrors('note')} ? has-error : ''"
            >
              <label
                class="col-sm-2"
                for="note"
                th:text="#{p2passetlocation.note}"
                >Note</label
              >
              <div class="col-sm-10" style="padding-left: 10px">
                <textarea
                  th:field="*{note}"
                  class="form-control"
                  rows="2"
                  disabled="disabled"
                ></textarea>
                <span
                  class="help-block"
                  th:if="${#fields.hasErrors('note')}"
                  th:errors="*{note}"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" th:field="*{assetTypeName}" />
    </form>
    <input
      type="hidden"
      id="url"
      name="url"
      th:value="${p2pAssetCategory.url}"
    />
    <script
      type="text/javascript"
      th:src="@{/static/js/p2passetcategory/p2passetcategory-detail.js}"
    ></script>

    <script th:inline="javascript">
          /*<![CDATA[*/
          var ASSET_TYPE_CODE = /*[[${p2pAssetCategory.assetTypeCode}]]*/;
          var LIST_ASSET_TYPE = /*[[${assetTypes}]]*/;
      /*]]>*/
    </script>
  </body>
</html>
