<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}"
	layout:fragment="body">
<body>
	<div class="title-head clearfix">
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3><i class="fa fa-table"></i> <span th:text="#{cms.contact.title}">CONTACT</span></h3>
		</div>
		<div class="col-sm-3 col-xs-5 icon-head">
			<div class="pull-right">
				<!-- th:if="${#authorization.expression('hasAuthority(@roleConstant.MENU)')}" -->
				<!-- <a th:href="@{/document-management/edit}">
					<i class="fa fa-plus-circle icon-head-red" id="add" title="Add"></i>
				</a> -->
			</div>
		</div>
	</div>



	<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>

	<div class="bg-content-tbl" id="tableList">
		<th:block th:include="views/CMS/all/contact/contact-table.html :: content" />
	</div>




	<script type="text/javascript" th:src="@{/static/CMS/all/contact/contact-list.js}"></script>

</body>
</html>