<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">	  
	<div class="header-box">
		<h2 class="title-box" th:text="#{authority.detail.list}">Danh sách chức năng theo quyền</h2>
    </div>
    <div class="box-body no-padding">
        <form id="formAuthority" th:action="@{/authority/ajax/edit}" method="POST" onsubmit="return false;">
            <input type="hidden" name="roleId" th:value="${roleIdSelected}" />
            <div class="row unit-bg-table m-0">
	            <div class="table-responsive">
		            <table id="roleByFunctionTableId" class="table table-bordered table-striped">
		                <thead>
		                    <tr>
		                        <th class="u_t_no ">#</th>
		                        <th class="u_t_name">
		                        	<div>
		                        		<input type="text" id="functionName" class="form-control input-sm" th:placeholder="#{authority.detail.function.name}" />
		                        	</div>
		                        	<!-- <div style="width: 50%;float:left;padding: 10px">
					                    <select class="form-control select2" id="business-code" style="height:30px;">
											<option value="000"> </option>
											<th:block th:each="item : ${types}">
												<option th:value="${ item.code }" th:text="${item.name}" th:selected="${item.code} == *{businessCode}"></option>
											</th:block>
										</select>
		                        	</div> -->
		                        	
		                        </th>
		                        <th th:text="#{authority.detail.access}" class="center">Truy cập</th>
		                       <!--  <th th:text="#{authority.detail.display}">Chi tiết</th> -->
		                        <th th:text="#{authority.detail.edit}" class="center">Cập nhật</th>
		                        <!-- <th:block th:if="${#authorization.expression('hasAuthority(@roleConstant.SHOW_ACTION)')}">
		                        	<th th:text="#{action.label}">Thao tác</th>
		                        </th:block> -->
		                    </tr>
		                </thead>
		           <!--      <tfoot class="header">
		                    <tr>
		                        <th></th>
		                        <th></th>
		                        <th class="text-center"><input type="checkbox" class="check-all-access"/></th>
		                        <th class="text-center"><input type="checkbox" class="check-all-disp"/></th>
		                        <th class="text-center"><input type="checkbox" class="check-all-edit"/></th>
		                        <th></th>
		                    </tr>
		                </tfoot> -->
		                <tbody>
		                	<tr class ="item-tr">
		                	<td colspan="2"></td>
		                	<td class="text-center"><input type="checkbox" class="check-all-access" /> </td>
		                	<td class="text-center"><input type="checkbox" class="check-all-edit" /> </td>
		                	</tr>
		                    <th:block th:each="authorityDto,iterStat : ${authorityList}">
  								<tr class ="item-tr" th:with="startIndex=${#ids.seq('')} - 1" 
		                        	th:if="${@roleConstant.COMPANY_LIST != authorityDto.functionCode
              							or #authentication?.principal?.companyAdmin
              							or (authorityDto.functionCode == @roleConstant.COMPANY_LIST and #authorization.expression('hasAuthority(@roleConstant.COMPANY_LIST)'))}">
		                            
                                    <input type="hidden" class="j-role-id" th:name="data[__${startIndex}__].roleId" th:id="roleId__${startIndex}__"
		                                                 th:value="${authorityDto.roleId}" />
		                            
                                    <input type="hidden" class="j-item-id" th:name="data[__${startIndex}__].itemId" th:id="itemId__${startIndex}__"
		                                                 th:value="${authorityDto.itemId}" />
		                            
                                    <input type="hidden" th:name="data[__${startIndex}__].authorityType" th:id="authorityType__${startIndex}__"
		                                                 th:value="${authorityDto.authorityType}" />
		                            
                                    <td  class="text-center" th:text="${startIndex} + 1">1.</td>
		                            
                                    <td th:text="${authorityDto.functionName}" data-tfilter="true">Function name</td>
		                            
                                    <td th:text="${authorityDto.businessCode}" data-tfilter-business-code="true" style="display:none">Function name</td>
		                            
                                    <!-- Access -->
                                    <td class="text-center item-td-check-access">
		                                <input type="checkbox" class="check-access" 
		                                       th:name="data[__${startIndex}__].canAccessFlg" th:id="canAccessFlg__${startIndex}__" 
                                               th:if="${authorityDto.authorityType} == '1'"
		                                       th:checked="${authorityDto.canAccessFlag}" />
		                            </td>
                                    
                                    <!-- Edit -->
		                            <td class="text-center item-td-check-edit">
		                                <input type="checkbox" class="check-edit" 
		                                       th:name="data[__${startIndex}__].canEditFlg" th:id="canEditFlg__${startIndex}__" 
                                               th:if="${authorityDto.authorityType} == '2'"
		                                       th:checked="${authorityDto.canEditFlg}" />
		                            </td>
                                    
		                        </tr>
		                        
		                    </th:block>
		                </tbody>
		            </table>
	            </div>
            </div>
        </form>
    </div>
    
    <script type="text/javascript" th:src="@{/static/cache/js/authority/iauthority-edit.js}"></script>
</body>
</html>
