<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />

	<body>
		<div class="title-head">
			<div class="row">
				<div class="col-md-12">
					<h3>
						<span th:text="#{system.logs.page}">Tiêu đề trang</span>
					</h3>
				</div>
			   	
			</div>	
		</div>
		<div class="bg-content clearfix">
			<div data-toggle="collapse" data-target="#search-box" class="header-box"> 
				<h2 class="title-box" th:text="#{system.logs.search.criteria}">Search Criteria</h2>
				<i class="fa fa-minus pull-right" aria-hidden="true"></i> 
			</div>
			<div class="collapse in" id="search-box">
				<form class="form-horizonta j-formSearch" id="formSearch" th:object="${systemLogsDto}" th:action="@{/system-logs/list}" method="POST" role="form" action="#" autocomplete="off">
					<th:block
					th:include="views/commons/message-alert.html :: content(${messageList})" />
					<input type="hidden" name="passExport" id="passExport" />
					<input type="hidden" name="token" id="token" />
					<!-- Content here -->
					<div class="row">
						<div class="col-md-7 form-group">
							<input type="text" class="form-control" th:field="*{fieldSearch}"
								th:placeholder="#{search.key}" />
						</div>
						<div class="col-md-5 form-group">
							<select th:field="*{fieldValues}" multiple="multiple"
								class="form-control" id="search-filter">
								<th:block th:each="item : ${fieldSelect}">
									<option th:value="${item.value}"
										th:text="#{${item.name}}"/>
								</th:block>
							</select>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-7 form-group no-padding">
							<label class="col-md-2" th:text="#{system.logs.from.date}"></label>
							<div class="col-md-4">
								<div class="input-group date datepicker-from-date">
									<input class="form-control" th:field="*{fromDate}" />
									<span class="input-group-addon fromDate">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
							<label class="col-md-2" th:text="#{system.logs.to.date}"></label>
							<div class="col-md-4">
								<div class="input-group date datepicker-to-date">
									<input class="form-control" th:field="*{toDate}" />
									<span class="input-group-addon toDate">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-5 form-group no-padding" th:if="${companyList.size()>1}">
							<label for="companyId" class="col-sm-3 " th:text="#{company.detail}">Company</label>
							<div class="col-sm-9">
								<select class="col-sm-9 form-control select2" th:field="*{companyId}">
									<option th:each="company : ${companyList}" 
											th:value="${company.id}"
											th:text="${company.text}">
									</option>
								</select>
							</div>
						</div>
						<input type="hidden" th:unless="${companyList.size()>1}" th:field="*{companyId}" />
						<div class="form-group" th:unless="${companyList.size()>1}">
							<input type="hidden" th:field="*{companyId}" />
						</div>
					</div>
					
					<div class="row m-0 pos-gr-btn">
						<button type="submit" class="u-btn u-btn-primary" id="btnSearch">
					       <i class="fa fa-search"></i>
					       <span th:text="#{search.button}"></span>
					   </button>
					</div>
				</form>
			</div>
		</div>
		<div class="bg-content-tbl" id="tableList">
			<div class="row m-0">
				<th:block th:include="views/system-logs/system-logs-list-table.html :: content" />
			</div>
		</div>
		<input type="hidden" value="system-logs/export-non-password" id="linkExport" />
		<th:block th:include="views/commons/popup-export-excel.html :: content" />

		<input type="hidden" id="fieldSearchHidden" />
		<input type="hidden" id="fieldValuesHidden" />
		<script type="text/javascript" th:src="@{/static/cache/js/system-logs/system-logs-list.js}"></script>
	</body>
</html>