<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="header-box">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-box" th:text="#{search.results.title}">Kết Quả Tìm Kiếm </h2>
				</div>
				<div class="col-md-6 align-right">
					<button class="btn-ico" type="button" id="btnDownload">
						<img th:src="@{/static/images/icon-excel.png}" alt="" width="19px">
					</button>
						
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 p-0 no-padding">			
			<div class="table-responsive">			
				<table class="table table-bordered table-hover out-tbl">
					<thead>
						<tr>
							<th>#</th>
							<th style="width=50px" th:text="#{system.logs.function.code}">Function Code</th>
							<th th:text="#{system.logs.log.summary}">Log Summary</th>
							<th th:text="#{system.logs.log.type}">Log Type</th>
							<th th:text="#{system.logs.log.date}">Log Date</th>
							<th th:text="#{system.logs.log.detail}">Log Detail</th>
							<th th:text="#{system.logs.ip}">Ip</th>
							<th th:text="#{system.logs.username}">Username</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
						<tr>							
							<td class="text-center" th:text="${i.index + startIndex }"></td>
							<td th:text="${item.functionCode }"></td>
							<td th:text="${item.logSummary }"></td>
							<td class="col-md-1" th:text="${item.logTypeText}"></td>
                            <td th:text="${item.logDate  == null? '' : #dates.format(item.logDate, @systemConfig.getConfig('DATE_PATTERN') + ' HH:mm:ss')}" class="text-center col-md-2"></td>
							<td th:text="${item.logDetail }"></td>
							<td th:text="${item.ip }"></td>
							<td th:text="${item.username }"></td>
						</tr>
						</th:block>																							
					</tbody>					
				</table>						
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content" />
		<script type="text/javascript" th:src="@{/static/cache/js/system-logs/system-logs-list-table.js}"></script>
	</body>
</html>
