<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<head>
    <script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}"/>
</head>
<body>
    <div class="title-head clearfix">
        <div class="col-sm-9 col-xs-7 no-padding">
            <h3>
                <i class="fa fa-table"></i>
                <span th:text="#{ldap.account.list.page.name}">Page name</span>
            </h3>
        </div>
       <!--  <div class="col-sm-3 col-xs-5 icon-head">
            <div class="pull-right">
                th:if="${@roleConfig.hasRole(@CommonConstant.TODO +':Edit')}"
                <a>
                    <i class="fa fa-plus-circle icon-head-red" id="btnCreate"></i>
                </a>
            </div>
        </div> -->
        <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 <a>
					<i class="fa fa-arrow-circle-left icon-head-red" th:title="#{icon.back}" id="linkList"></i>
				</a>
	        </div>
	   </div>
    </div>
    <div id="frmSearch">
        <div id="error-message"></div>
        <th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
        <th:block th:include="views/ldap-account/ldap-account-search.html :: content" />
    </div>
    <div class="bg-content clearfix bg-content-tbl" id="tableList">
        <th:block th:include="views/ldap-account/ldap-account-table.html :: content" />
    </div>
    
    
    
     <div class="modal fade" id="modal-com-cal">
		<div class="modal-dialog" style="width: 700px" >
	
		
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" th:text="#{account.add.info}"></h4>
				</div>
				<div class="modal-body" id="modal-com-cal-content">
					<div class="row form-group">
						  <label for="positionId" class="col-sm-2 " th:text="#{account.positionId}">Chức vụ</label>
						<div class="col-sm-4">                  		
                     <select class="form-control select2" th:field="${accountDto.positionId}">
                        <option value=""></option>
                        <option th:each="positionDto : ${positionDtoList}" 
                                th:value="${positionDto.positionId}"
                                th:text="${positionDto.positionNameAbv}">
                        </option>
                    </select>
						</div>
						
								<label class="col-sm-2" th:text="#{account.enabled}">Kích hoạt</label>
							<div class="col-sm-1 ">
								<input type="checkbox" th:field="${accountDto.enabled}"/>
							</div>
					
					</div>
					<div class="row form-group">
						
						<div class="col-sm-4">
							
						</div>
					</div>
						<div class="row form-group">
					<input type="hidden" id="companyId" name ="companyId" th:value="${companyId}" class="form-control" />
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btnCalculation"
						th:text="#{save.button}"></button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>






    <script type="text/javascript" th:src="@{/static/cache/js/ldap-account/ldap-account-list.js}"></script>
</body>
</html>