<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
 <section class="content">
    <div class="col-sm-12 p-0">
   
 
        <h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="u_t_no">#</th>
                       	<th><input type="checkbox" id="all-active" /></th>
						<th th:text="#{ldap.account.username}">username</th>
						<th th:text="#{ldap.account.fullname}">fullname</th>
						<th th:text="#{ldap.account.email}">email</th>
						<th th:text="#{ldap.account.phone}">phone</th>
						<!-- <th th:text="#{ldap.account.company.id}">companyId</th> -->
					<!-- 	<th th:text="#{ldap.account.session.key}">sessionKey</th>
						<th th:text="#{ldap.account.created.by}">createdBy</th> -->
						<th th:text="#{ldap.account.created.date}">createdDate</th>
						<!-- <th th:text="#{ldap.account.updated.by}">updatedBy</th>
						<th th:text="#{ldap.account.updated.date}">updatedDate</th>
						<th th:text="#{ldap.account.deleted.by}">deletedBy</th>
						<th th:text="#{ldap.account.deleted.date}">deletedDate</th> -->
						<th th:text="#{ldap.account.status}">status</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${pageWrapper.data.size() > 0}">
                        <th:block th:each="item, i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
                            <tr th:attr="data-dto-id=${item.id}">
                                <td class="text-center" th:text="${i.index + startIndex}"></td>
                               
                                    
                                     <td class="text-center"><input type="checkbox" th:value="${item.id}" /></td>
                                    
                                							<!-- 	<td class="text-center" th:text="${item.id == null? '' : #numbers.formatDecimal(item.id, 0, 'COMMA', 0, 'POINT')}"></td> -->
								<td th:text="${item.username}"></td>
								<td th:text="${item.fullname}"></td>
								<td th:text="${item.email}"></td>
								<td th:text="${item.phone}"></td>
							<!-- 	<td class="text-center" th:text="${item.companyId == null? '' : #numbers.formatDecimal(item.companyId, 0, 'COMMA', 0, 'POINT')}"></td> -->
								<!-- <td th:text="${item.sessionKey}"></td> -->
							<!-- 	<td th:text="${item.createdBy}"></td> -->
								<td class="text-center" th:text="${item.createdDate == null? '' : #dates.format(item.createdDate, @menuConfig.getFormDate())}"></td>
								<!-- <td th:text="${item.updatedBy}"></td>
								<td class="text-center" th:text="${item.updatedDate == null? '' : #dates.format(item.updatedDate, @menuConfig.getFormDate())}"></td>
								<td th:text="${item.deletedBy}"></td>
								<td class="text-center" th:text="${item.deletedDate == null? '' : #dates.format(item.deletedDate, @menuConfig.getFormDate())}"></td> -->
                           		<td class="text-center" th:text="${item.status == 1? 'Update':'Insert'}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                    <th:block th:if="${pageWrapper.data.size() == 0}">
                        <tr>
                            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
           
        </div>
    </div>
    
        
        
        
        
        
           <!--  --> 
       
        
       <!--  --> 
        
    <th:block th:include="views/commons/pagination.html :: content" />
    
    <script type="text/javascript" th:src="@{/static/cache/js/ldap-account/ldap-account-table.js}"></script>
    </section>
</body>
</html>