<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>	
	<div class="title-head clearfix">
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3 class="flex-title">
				<i class="ico-custom u-fa-support"></i> <span th:text="#{contact.detail.page}">Tiêu đề trang</span>
			</h3>
		</div>
	</div>

		<div class="bg-content clearfix">  	
		    <input type="hidden" id = "companyId" th:value="${companyId}"/>
	     	<div class="col-sm-12 p-0" id="content">
	     		
	     	</div>
	     	<!-- <div class="contact-gr">
	     		<div class="header-box"> 
	               <h2 class="title-box">Thông tin hỗ trợ</h2>
	            </div>
	            <div class="col-md-12" style="margin-top: 20px">
	            	<div class="col-md-6">
	            		<p>
	            			<img th:src="@{/static/cache/images/ico-map.png}" width="22px"/>
	            			<span>25 Bis Nguyễn Thị Minh Khai, Quận 1, Thành Phố Hồ Chí Minh, Việt Nam</span>
	            		</p>
	            		<p>
	            			<img th:src="@{/static/cache/images/ico-time.png}" width="22px"/>
	            			<b>Thời gian phục vụ khách hàng</b>
	            			<ul>
	            				<li>Buổi sáng: 7h30 - 11h30</li>
	            				<li>Buổi chiều: 13h - 17h</li>
	            				<li>Từ thứ 2 đến thứ 6 hàng tuần</li>
	            			</ul>
	            		</p>
	            	</div>
	            	<div class="col-md-6">
	            		<p>
	            			<img th:src="@{/static/cache/images/ico-phone.png}" width="22px"/>
	            			<span>Tổng đài CSKH</span>
	            			<span class="call-hotline">1900 6060 (24/7)</span>
	            		</p>
	            		<p>
	            			<img th:src="@{/static/cache/images/ico-map.png}" width="22px"/>
	            			<span><b>Email:</b> info@hdbank.com.vn</span>
	            		</p>
	            	</div>
	            </div>
	     	
				<div class="col-md-12">
					<img th:src="@{/static/cache/images/flower-hd.png}" width="140px" class="position-flower"/>
				</div>
			</div> -->	
		</div>			
	</body>
	<script type="text/javascript" th:src="@{/static/cache/js/contact/contact-detail.js}"></script>
</html>