<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>		
	<div class="col-sm-12 p-0">
   		<div class="row form-group">
			<label class="col-sm-2" th:text="#{news.language}">Ngôn ngữ</label>
			<div class="col-sm-4">
							<ul class="nav nav-tabs" id="tabLanguage">
								<th:block th:each="language, i : ${languageList}">
									<li role="presentation"
										th:classappend="${i.index == 0}  ? 'active' : ''"
										th:id="tabLanguage + ${i.index}"><a
										th:href="'#language' + ${i.index}" th:text="${language.name}"></a>
									</li>
								</th:block>
							</ul>
						</div>
	                </div>
	                <div class="tab-content">
						<th:block th:each="language, i : ${languageList}"
							th:with="index=${i.index}">
							<div th:id="'language' + ${index}" class="tab-pane fade "
								th:classappend="${index == 0}  ? 'in active' : ''">						
			                    	<div class="col-sm-12 textarea-body-mail box-body-email-list" style="margin-top: 10px">
										<div class="form-control content"></div>
									</div>
				                    <input type="hidden" th:name="listContact[__${index}__].id" th:value ="${listContact[__${index}__].id}"/>
				                    <input type="hidden" th:name="listContact[__${index}__].languageCode" th:value ="${listContact[__${index}__].languageCode}"/>
				                    <input type="hidden" th:name="listContact[__${index}__].companyId" th:value ="${listContact[__${index}__].companyId}"/>
				                    <input type="hidden" class="contentText" th:name="listContact[__${index}__].content" th:value ="${listContact[__${index}__].content}"/>
							</div>
						</th:block>
					</div>
                </div>
            <div class="col-xs-12 col-sm-12 footer-box-bg">
                <a class="btn-common btn-save" id="btnSave" th:if="${#authorization.expression('hasAuthority(@roleConstant.CONTACT)')}">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span th:text="#{save.button}">Lưu</span>
                </a>
            </div>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    var LANGUAGE_LIST = /*[[${languageList}]]*/;
	    var tabError = $("#tabError").text();
	    /*]]>*/
	</script>
	</body>
	<script type="text/javascript" th:src="@{/static/cache/js/contact/contact-edit-detail.js}"></script>
</html>