<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>		
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{contact.edit.page}">Tiêu đề trang</span>
			</h3>
	   </div>
	</div>	
	<form class="form-horizontal u-for-page-top j-form-validate" method="POST" role="form" autocomplete="off"  id="form-detail">
		<div id="msg">
			<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
		</div>
        <div class="bg-content clearfix">
            <div class="header-box">
                <h2 class="title-box" th:text="#{contact.edit.title}">edit</h2>
            </div>
            <div class="form-group" th:if="${companyList.size()>1}">
		    	<label for="companyId" class="col-sm-2 " th:text="#{company.detail}">Company</label>
		    	<div class="col-sm-4">
		           	<select class="form-control select2" name ="companyId" id="companyId">
		                	<option th:each="company : ${companyList}" 
		                          	th:value="${company.id}"
		                            th:text="${company.text}"
		                            th:selected="${company.id}==${companyId}">
		                   	</option>
		        	</select>
		       	</div>
		     </div>
		     <input type="hidden" id = "companyId" th:value="${companyId}" th:unless="${companyList.size()>1}" />
            <div class="col-sm-12 p-0" id="editDetail">
            </div>
        </div>
    </form>
	</body>
	<script type="text/javascript" th:src="@{/static/cache/js/contact/contact-edit.js}"></script>
</html>