<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.fileupload.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>
<!-- BODY START -->
<body th:fragment="content">
	<div class="row form-group align-items-center" >
		<div class="col-md-2">
			<label th:text="#{common.import.file.import}">File Import</label>
		</div>
		<div class="col-sm-4">
			<div id="fileFilelist"></div>
	                    <div class="wrap_upload" id="fileContainer">
	                        <a href="#upload" id="filePick" class="upload" th:text="#{common.import.choose.file}">Choose file excel</a>
	                    </div>
	                    <pre style="display: none; color: red" id="fileConsole"></pre>
		</div>
	</div>
   <div class="row form-group align-items-center" id="form-download-template" th:if="${searchDto.isError()}">
		<div class="col-md-2">
			<label th:text="#{common.import.download}">Download</label>
		</div>
       <div class="col-md-4">
           <a href="#" class="btnTemplateDownload" id="btnErrorDownload" style="color: red;" 
           th:text="#{common.import.export.error}">Export error/warning list</a>
                        <input type="hidden" id="fileName" name="fileName" th:value="${fileName}"/>
       </div>
   </div>
	<div class="col-md-12 row">
		<div class="col-md-10">
	                </div>
	                <div class="col-md-2 p-0 align-items-end">
	                    <a href="#" class="btnTemplateDownload pull-right" id="btnTemplateDownload"
	                        style="font-size: 11px;" th:text="#{common.import.download.template}">Download template import</a>
	                </div>
	</div>
    <script type="text/javascript" th:src="@{/static/cache/js/import-excel/import-excel-list.js}"></script>
</body>
<!-- BODY END -->
</html>