/* p {
  margin-top: 0;
  margin-bottom: 0 !important;
} */
.local-popup-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  /* border: 1px solid transparent; */
  white-space: nowrap;
  padding: 0 0px;
  font-size: 14px;
  border-radius: 4px;
  /* height: 45px; */
  /* line-height: 45px; */
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border-color: #e8e8e8;
  outline: none;
}
.local-form-wrapper {
  margin-top: 120px !important;
}
.popup-claim-submission-h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
