<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="content">
    <div class="row main-heading">
      <div class="row unit-border-bottom">
        <div class="col-sm-8 col-xs-6">
          <h3 class="mar-tb-no red" th:text="#{interestRate.list.title}">
            Tiêu đề trang
          </h3>
        </div>
      </div>
    </div>
    <form
      id="form-edit"
      method="POST"
      role="form"
      class="form-horizontal u-for-page-top j-form-validate"
      th:object="${interestRateTitleDto}"
    >
      <th:block
        th:include="views/commons/message-alert.html :: content(${messageList})"
      />
      <div class="row unit-bg-com">
        <div class="form-group">
          <label class="col-md-2 required" th:text="#{interestRate.type}"
            >Type</label
          >
          <div class="col-md-4 col-sm-4">
            <select
              class="form-control j-required"
              th:field="*{interestRateType}"
            >
              <option
                th:each="item, i : ${lstType}"
                th:value="${item.cat}"
                th:text="${i.index + 1}+'. '+${item.catOfficialName}"
              ></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row unit-bg-table" id="addtTable">
        <th:block
          th:include="views/interest-rate-title/interest-rate-title-add-table.html :: content"
        />
        <div class="col-md-12 unit-button">
          <a
            class="btn-common btn-save"
            th:if="${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTEREST_RATE_TITLE_EDIT}__:Edit'')')}"
          >
            <i class="fa fa-floppy-o"></i>
            <span th:text="#{save.button}">Lưu</span>
          </a>
        </div>
      </div>
    </form>
    <table class="hidden" id="tableHidden">
      <th:block
        th:include="views/interest-rate-title/interest-rate-title-add-row.html :: content"
      />
    </table>
  </body>
  <script
    type="text/javascript"
    th:src="@{/static/js/interest-rate-title/interest-rate-title-edit.js}"
  ></script>
  <script type="text/javascript" th:inline="text">
    var MSG_CONFIRM_CHANGE = "[[#{message.confirm.interest.rate.title}]]";
  </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var LANGUAGE_LIST = /*[[${languageList}]]*/;
    var CUSTOMER_ALIAS = /*[[${customerAlias}]]*/;
    var TYPE_LIST = /*[[${lstType}]]*/;
    /*]]>*/
  </script>
</html>
