<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="col-sm-12">
			<h2 class="sub-header section-heading" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th th:text="#{chat.user.product.role}">Quyền</th>
							<th th:text="#{chat.user.product.user}">Nhân viên hỗ trợ</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dataRow,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-id=${dataRow.mProductTypeId}">
								<td th:text="${i.index + startIndex}"></td>
								<td class="align-center">
									<a class="glyphicon glyphicon-edit custom-icon j-btn-edit" th:title="#{icon.edit}"></a>
                            		<!-- <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete" ></a> -->
								</td>
								<td th:text="${dataRow.roleName}" class="role-name"></td>
								<td th:text="${dataRow.fullname}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <th:block th:include="views/commons/pagination.html :: content"/> -->
		<script type="text/javascript" th:src="@{/web-app/views/chat/chat-list-user-product.js}"></script>
	</body>
</html>

