<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
    <div class="row main-heading ">
        <div class="row unit-border-bottom">
            <div class="col-sm-8">
                <h2 class="mar-tb-no red" th:text="#{chat.report.title}">Bao cao lich su chat</h2>
            </div>
            
        </div>
    </div>
    <th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>    
    <div class="row unit-bg-com">
        <form class="form-horizontal  j-formSearch" th:object="${typeSearch}" method="POST" role="form" id="formSearch">
            <div data-toggle="collapse" data-target="#search-box" class="header-box cursor-point">
                <h2 class="sub-header section-heading hide-title" th:text="#{search.title}">Vùng tìm kiếm</h2>
            </div>
            <div class="collapse in row m-0" id="search-box">
                <div class="col-xs-12 col-sm-12 form-group no-padding">
                    <div class="col-md-6 no-padding">
	                    <div class="col-sm-4">
	                        <label>Thông tin tìm kiếm</label>
	                    </div>
	                    <div class="col-sm-8">
	                        <input type="text" class="form-control" th:field="*{fieldSearch}" placeholder="Thông tin tìm kiếm..."/>
	                    </div>
                    </div>
                    <div class="col-md-6 no-padding">
	                    <div class="col-sm-12" id="selectDiv">
	                        <select th:field="*{fieldValues}" multiple="multiple" class="form-control" id="search-filter">
	                            <th:block th:each="item : ${fieldSelect}">
	                                <option th:value="${item.value}"
	                                    th:selected="${typeSearch.fieldValues} ? ${#arrays.contains(typeSearch.fieldValues,item.value)}: false"   
	                                    th:text="#{${item.name}}"></option>
	                            </th:block>
	                        </select>
	                    </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 form-group no-padding">
                    <div class="col-md-6 no-padding">
	                    <div class="form-group">
	                        <div class="col-sm-4"><label style="border-bottom:none;" >Từ ngày</label></div>
	                        <div class="col-sm-8">
	                            <input class="col-md-8 form-control datepicker j-date-slash datepicker-from"
	                                th:field="*{fromDate}" data-date-format="mm/dd/yyyy"
	                                type="text" autocomplete="off" th:placeholder="#{chat.report.from.date}"/>
	                        </div>
	                    </div>
                    </div>
                    
                    <div class="col-md-6 no-padding">
	                    <div class="form-group">
	                        <div class="col-sm-4"><label class="form-control" style="border-bottom:none;" >Đến ngày</label></div>
	                        <div class="col-sm-8">
		                        <input class="form-control datepicker j-date-slash datepicker-to"
		                            th:field="*{toDate}" data-date-format="mm/dd/yyyy"
		                            type="text" autocomplete="off" th:placeholder="#{chat.report.to.date}"/>
	                        </div>
	                    </div>
                    </div>
                </div>
                
				<div class="col-xs-12 col-sm-12 ">
					<div class="unit-button">
						<button type="button" class="btn-common"  id="btnSearch"><i class="fa fa-search"></i> <span th:text="#{search.button}">Tìm kiếm</span></button>
						<button type="button" class="btn-common"  id="btnRefresh">
							<i class="fa fa-refresh" aria-hidden="true"></i> <span th:text="#{search.refresh}">Làm mới</span>
						</button>
					</div>
				</div>
            </div>
        </form>
    </div>
    <div class="row unit-bg-table" id="tableList">
        <th:block th:include="views/chat/chat-history-table.html :: content"/>
    </div>
    <input type="hidden" id="fieldSearchHidd"/>
    <input type="hidden" id="fieldValuesHidd"/> 
    <input type="hidden" id="fromDateSearch"/>
    <input type="hidden" id="toDateSearch"/> 
<!--     <link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugins/datepicker/css/bootstrap-datepicker.css}"/>
    <script type="text/javascript" th:src="@{/static/plugins/datepicker/js/bootstrap-datepicker.js}"></script> -->
</html>