<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body>

    <script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	   <script th:inline="javascript">
	    /*<![CDATA[*/
	      var LIST_CONTACT_JSON = /*[[${lstContact}]]*/;
	      var LIST_CONTACT_HISTORY_JSON = /*[[${lstContactHistory}]]*/;
	    /*]]>*/
	 </script>
	 
     <input type="hidden" id="agent" th:value="${agent}" />
     <input type="hidden" id="agentFullName" th:value="${account.fullname}" />
     
    <div class="row main-heading ">
        <div class="row unit-border-bottom">
            <div class="col-sm-8">
                <h2 class="mar-tb-no red" th:text="#{chat.report.title}">Bao cao lich su chat </h2>
            </div>
        </div>
    </div>
    
   <div class="content-chat clearfix content-chat-history">
        <div class="col-sm-12 flex-col no-padding">
            <div class="chat-col-left" id="h_resize_left">
                <h5 class="title-left title-top-chat">Archives</h5>
                <div class="list-chat gr-tab">
                    <div class="gr-num-chats clearfix">
                        <div class="pull-left">
                            <ul class="nav nav-tabs" id="tabchat">
							  <li class="active" id="today">
							     <a data-toggle="tab" href="#menuToday">
							         <b th:text="#{history.today}">Hôm nay</b>
							     </a>
							  </li>
							  <li id="history">
							     <a data-toggle="tab" href="#menuHistory">
							        <i  class="fa fa-clock-o" aria-hidden="true"></i>
                                    <b th:text="#{history.title}">Lịch sử</b>
							     </a>
							 </li>
							</ul>
                        </div>
                        <div class="pull-right ">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> 
                            <span style="font-size: 12px">CHAT STARTED</span>
                        </div>
                    </div>
                    <div class="tab-content tab-content-chat">
                        <div id="menuToday" class="tab-pane fade in active">
					        <div class="scroll-chat clearfix">
                                <div id="contact"></div>
                            </div>
					     </div>
						 <div id="menuHistory" class="tab-pane fade">
                            <div class="scroll-chat clearfix">
                                <div id="contactHistory"></div>
                            </div>
						 </div>
	                    
	                </div>
                </div>
            </div>
            <div class="chat-col-right" id="h_resize_right">
            
                <h5 class="username-chating title-top-chat">
                    <span>&nbsp;</span>
                    <span id="infoUser"></span>
                </h5>
                
                <div class="time-line">
                    <p>&nbsp;</p>
                    <p id="timeChated"></p>
                    <p>&nbsp;</p>
                </div>
                
                <!-- Phần nội dung chat giữa user và agent -->
                <div class="box-chating clearfix" id="contentChat">
                </div>
                
            </div>
        </div>
    </div>
    
    
    <div id="box_contact_online" style="display: none">
	     <div class="userbox list-chat-history col-sm-12" client-id="@clientid" id="user_@clientid">
	        <div class="pull-left">
	            <p class="name-user-chat">@fullname</p>
	        </div>
	        <div class="pull-right">
	            <span class="timeline">@timesend</span>
	        </div>
	        <div class="clearfix"></div>
	        <p class="agents-text" th:text="'Agent: ' + ${account.fullname}"></p>
	    </div>
    </div>
    
    <div id="box_contact_offline" style="display: none">
        <div class='user userbox' client-id="@clientid" id="user_@clientid">
            <div class='icon-user iconstatus_@clientid'>
                <div class="avata-user">
                    <span>@avatarName</span>
                </div>
            </div>
            <div class='info-user gr-info-user-chat'>
                <span class="name">@fullname</span>
                <span class="timesend"><i th:text="#{chat.send}">Gửi lúc</i><i>: @timesend</i></span>
            </div>
        </div>
        <!-- end user -->
    </div>
    
    <!-- message-consultants -->
    <div id="box_message_client" style="display: none">
        <div class="box-mess-consultants">
            <!-- Customer Name -->
            <p class="title sub-name">@fullname</p>
            <div class="avata-user">
                <span>@avatarName</span>
            </div>
            <div class="list-mess-send pull-left">
                <div class="message-consultants">
                    <p class="message-consultants-send" data-message='@messageid'>@message</p>
                    <div class="timesendmsg" style="padding-right:10px;">
                        <i><span>@timesend</span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="box_message_client_2" style="display: none">
        <div class="box-mess-consultants">
            <p class="title sub-name">@fullname</p>
            <div class="content-message">@image</div>
        </div>
    </div>
    
    <!-- box-mess-user -->
    <div id="box_message_user" style="display: none"> 
        <div class="@box-mess-user">
            <p class="sub-name" >@agentName</p>
            <div class="avata-user">
                <span>@avatarName</span>
            </div>
            <div class="list-mess-send pull-right">
                <div class="message-user">
                    <p class="message-user-send" data-message='@messageid'>@message</p>
                    <div class="timesendmsg" style="padding-right:10px;">
                        <i><span>@timesend</span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="box_message_user_2" style="display: none">
        <div class="box-mess-user">
            <div class="avata-user">
                <span>@image</span>
            </div>
        </div>
    </div>
    
    <div id="box_message_system" style="display: none">
        <div class="msg-user">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="content-message">
                        <span class='item-message-alert'>@message</span>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
    <input type="hidden" id="fieldSearchHidd"/>
    <input type="hidden" id="fieldValuesHidd"/> 
    <input type="hidden" id="fromDateSearch"/>
    <input type="hidden" id="toDateSearch"/> 

    <script>
        $(document).ready(function(){
            $('.box-chating').slimScroll();
            
            $('.scroll-chat').slimScroll({
                height: '100%'
            });
            //Resizeable
            $("#h_resize_left").resizable();
        });
    </script>
    
  	   <script th:inline="javascript">
	    /*<![CDATA[*/
	    	var CLIENT_ID_REF = /*[[${clientid}]]*/;
	    /*]]>*/
	 </script>
 
     <script type="text/javascript" th:src="@{/web-app/views/chat/chat-list-history-detail.js}"></script>
 </body>  
</html> 