<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12">
			<div class="col-sm-6 no-padding">
				<h2 class="sub-header section-heading" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			</div>
			<div class="col-sm-12 no-padding" style="overflow-y: auto; height: 260px;">
				<table class="table table-bordered table-striped scroll-tab">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th th:text="#{action.label}">Thao tác</th>
							<th th:text="#{chat.list.fullname}">Họ Tên khách hàng</th>
							<th th:text="#{chat.list.email}">Email</th>
 							<th th:text="#{chat.list.phone}">Số điện thoại</th>
 							<th th:text="#{chat.list.nickname}">Danh xưng</th>
 							<th th:text="#{chat.list.service}">Dịch vụ</th>
 							<th th:text="#{chat.list.status}">Trạng thái</th>
 							<th th:text="#{chat.list.agent}">Nhân viên hỗ trợ</th>
 							<th th:text="#{chat.date.create}">Ngày tạo</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dataRow,i : ${data}">
							<tr th:attr="data-clientid=${dataRow.clientid}" th:class="${dataRow.status == 2} ? class-bold : ''">
								<td th:text="${i.index + 1}" style="text-align:center"></td>
								<td class="align-center">
									<!-- Support -->
									<div style="position: relative;">
										<span class="icon-chat-left"
										 th:if="(${dataRow.agentName} == null or ${#authentication.principal.fullname} == ${dataRow.agentName})">
											<i class="glyphicon glyphicon-comment custom-icon j-btn-chat" title="Chat"
											 th:if="(${agentChat} or ${isAdmin}) and (${dataRow.status == 2} or ${dataRow.status == 1})"></i>
										 </span>
										 <span class="icon-view-right"
										     th:if="(${isAdmin}) or (${dataRow.agentName} != null and ${#authentication.principal.fullname} == ${dataRow.agentName})">
											<i class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" title="Chi tiết"
											    th:if="(${isAdmin}) or ((${dataRow.agentName} != null and ${#authentication.principal.fullname} == ${dataRow.agentName})) 
											    		or (${agentChat} and ${dataRow.status != 2} and ${dataRow.status != 1})">
                                            </i>
                                         </span>
									</div>
								</td>
								<td style="width:200px;" th:text="${dataRow.fullname}"></td>
								<td style="width:150px;" th:text="${dataRow.email}"></td>
 								<td th:text="${dataRow.phone}"></td>
 								<td th:text="${dataRow.nickname}"></td>
								<td th:text="${dataRow.service}"></td>
								<td th:text="${dataRow.statusName}"></td>
								<td th:text="${dataRow.agentName}" style="text-align:left"></td>
								<td th:text="${dataRow.createdDate}? ${#dates.format(dataRow.createdDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
								<td th:text="${dataRow.agent}" class="hidden agent-hidden" style="text-align:center"></td>
								<td th:text="${dataRow.typeDisconnected}" class="hidden type-disconnect-hidden" style="text-align:center"></td>
								<td th:text="${dataRow.disconnectedDate}" class="hidden disconnect-date-hidden" style="text-align:center"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
		
		<input type="hidden" id="fullnameSupport" th:value="${account.fullname}" />
		
<!-- 		<th:block th:include="views/commons/pagination.html :: content"/> -->
<!-- 		<input type="hidden" id="chatCurrentPage" th:value = "${pageWrapper.currentPage}" /> -->

		
		<div class="modal fade" id="modalAssignUser" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class='row'>
							<form class="form-horizontal">
								<div class="col-xs-12 col-sm-12">
									<div class="form-group">
										<label class="col-sm-3 control-label" th:text="#{chat.list.agent}">Nhân viên hỗ trợ</label>
										<div class="col-sm-9">
											<select id="sleUserOnline" class="form-control"></select>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<a href="#" id="acceptAssign" class="btn-common">OK</a> 
						<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalNotFoundUserOnline" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body" th:text="#{chat.assign.user.offline}">Tất cả nhân viên chưa đăng nhập hệ thống!</div>
					<div class="modal-footer">
							<a href="#" class="btn-common" data-dismiss="modal">OK</a>
					</div>
				</div>
			</div>
		</div>
</body>
</html>

