<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/common_unit.js}"></script>
	
	<div class="row main-heading ">
		<div class="row unit-border-bottom">
			<div class="col-sm-8">
				<h2 class="mar-tb-no" th:text="#{chat.list.user.online}">Nhân viên trực tuyến</h2>
			</div>
		</div>
	</div>
	<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
	<th:block >
		<div class="alert alert-danger alert-dismissible" id="msgAssignFail" style="display:none">
			<button aria-hidden="true" data-dismiss="alert" class="close"
				type="button">×</button>
			<h4>
				<i class="icon fa fa-ban"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<th:block >
				<div th:text="#{chat.assign.user.1}"> </div>
			</th:block>
			
		</div>
		<div class="alert alert-success alert-dismissible" id="msgAssignSucess" style="display:none">
			<button aria-hidden="true" data-dismiss="alert" class="close"
				type="button">×</button>
			<h4>
				<i class="icon fa fa-check"></i>
				<th:block th:text="#{message.title}"></th:block>
			</h4>
			<th:block >
				<div th:text="#{chat.assign.user.0}"> </div>
			</th:block>
		</div>
	</th:block>
	
	<div class="row unit-bg-table" id="tableUserOnline">
		<th:block th:include="views/chat/chat-user-online-table.html :: content"/>
	</div>
	
	<input type="hidden" id="fieldSearchHidd"/>
	<input type="hidden" id="fieldValuesHidd"/> 
	
	<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/plugins/datepicker/css/bootstrap-datepicker.css}"/>
	<script type="text/javascript" th:src="@{/static/plugins/datepicker/js/bootstrap-datepicker.js}"></script>
</html>	