<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="row main-heading ">
		<div class="row unit-border-bottom">
			<div class="col-sm-8"></div>
			<div class="col-sm-4 col-xs-6 align-right ml-auto">
	            <a class="u-btn-head backlist">
					<img th:src="@{/static/icons/icon-back.png}"/>
					<span th:title="#{icon.back}">Trở lại</span>
				</a>
			</div>
		</div>
	</div>
<div class="row unit-bg-com">
	<div class="col-md-3 left-box">
		<div class='left-title'>
			<img th:src="@{/static/images/icon-chat.png}" /> <span th:text="${account.fullname}">Họ và tên</span>
<!-- 			<div class="timeLogin"> -->
<!-- 				<span><i  th:text="#{chat.singin}">Đăng nhập </i><i>: 2:30</i></span> -->
<!-- 			</div> -->
		</div>
		<div class="control-tab gr-tab">
			<ul class="nav nav-tabs" id="tabchat">
				<li class="active">
					<a href="#contact" data-toggle="tab"> 
						<i class="fa fa-address-book" aria-hidden="true"></i> 
						<b th:text="#{chat.contact}">DANH BẠ</b>
					</a>
				</li>
				<li>
					<a href="#recent" data-toggle="tab">
						<i	class="fa fa-clock-o" aria-hidden="true"></i>
						<b th:text="#{chat.recent}">GẦN ĐÂY</b>
					</a>						
				</li>
				<!-- 						<li><a href="#waiting" data-toggle="tab"><i class="fa fa-exchange" aria-hidden="true"></i>ĐANG CHỜ</a></li>						 -->
			</ul>
			<div class="tab-content ">
				<div class="tab-pane active contact" id="contact"></div>
				<div class="tab-pane " id="recent"></div>				
			</div>
		</div>
	</div>
	<div class="col-md-9 right-box">
		
<!-- 		<img id="imgAccount" class="img-thumbnail" src="/CMSAdmin/ajax/download?fileName=account_avatar/30638__1494313046790.jpg" /> -->
		<div class="title-right" id="infoUser"></div>
		<div class="content-chat content-chat-overflow" id="contentChat">

		</div>
		<div class="content-chat content-disconnted" id="contentDisconnted">
			<div class="row" >
				<div class="col-md-12">
					<img th:src="@{/static/images/image_disconnted.gif}" />
				</div>
				<div class="col-md-12">
					<span style="color:red;text-align:center;font-size:15px;font-weight:bold" th:text="#{chat.disconnte.title}"></span>
				</div>
			</div>			
		</div>
		<div class="control-chat">
			<div class="row">
				<div class="col-md-12">
					<span style="color:#777;text-align:left;font-size:12px;" id="lbwaiting"></span>
				</div>
			</div>
			<div class="row">			
				<div class="col-md-9">
					<textarea rows="2" class="form-control message-chat" style="background: #ccc"
						id="messageChat"></textarea>
				</div>
				<div class="col-md-3">					
					<div class="file upload-file">
<!-- 						<a style="cursor:pointer;" id="uploadFile"> -->
<!-- 							<i class="glyphicon glyphicon-link custom-icon"></i> -->
<!-- 						</a> -->
						<input type="file" id="fileAttach" name="fileAttach"
							accept="image/gif, image/jpeg, image/png" style="display: none" />
						<img th:src="@{/static/images/loading.gif}" class="loading-upload" id="loadingUploadFile" />
						<a style="cursor:pointer;" id="assignUser">
							<i class="glyphicon glyphicon-paperclip custom-icon"></i>
						</a>
					</div>										
					<a class="btnsend" id="btnSendMessage"> <i
						class="fa fa-paper-plane" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="menu-control hide-control" id="menu-control">
	<ul>

		<li><a class="moveuser"> <i class="fa fa-exchange"
				aria-hidden="true"></i> <i th:text="#{chat.conversation}">Trao đổi</i>
		</a></li>
		<li><a class="closeuser"> <i class="fa fa-window-close"
				aria-hidden="true"></i> <i th:text="#{chat.close}">Đóng</i>
		</a></li>
	</ul>
</div>
<div class="menu-control hide-control" id="menu-control-message" style="width:200px;">
	<ul>

		<li><a class="defaultMessage"> <i class="fa fa-comment-o"
				aria-hidden="true"></i>  <i th:text="#{chat.message.default}">Câu chào mặc định</i>
		</a></li>		
	</ul>
</div>
<div id="box_contact_online" style="display: none">
	<div class='user userbox' client-id="@clientid" id="user_@clientid">
		<div class='info'>
			<div class='icon-user iconstatus_@clientid'>
				<img th:src="@{/static/images/icon-chat.png}" /> <span class="use-on"> <i
					class="fa fa-check-circle-o" aria-hidden="true"></i>
				</span>
			</div>
			<div class='info-user'>
				<span class="name">@fullname</span> <span
					class="status_@clientid online">Online</span>
			</div>

		</div>
		<div class="timesend">
			<span><i th:text="#{chat.send}">Gửi lúc</i><i>: @timesend</i></span>
		</div>
	</div>
	<!-- end user -->
</div>
<div id="box_contact_offline" style="display: none">
	<div class='user userbox' client-id="@clientid" id="user_@clientid">
		<div class='info'>
			<div class='icon-user iconstatus_@clientid'>
				<img th:src="@{/static/images/icon-chat.png}" /> <span class="use-off"> <i
					class="fa fa-circle-o" aria-hidden="true"></i>
				</span>
			</div>
			<div class='info-user'>
				<span class="name">@fullname</span> <span
					class="status_@clientid offline">Offline</span>
			</div>

		</div>
		<div class="timesend">
			<span><i th:text="#{chat.send}">Gửi lúc</i><i>: @timesend</i></span>
		</div>
	</div>
	<!-- end user -->
</div>
<div id="box_message_client" style="display: none">
	<div class="msg-client">
		<div class="row">
			<div class="col-md-9">
				<span class="title">@fullname</span>
				<div class="content-message">
					<span data-message='@messageid'>@message</span>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-1">
				<div class="timesendmsg" style="padding-right:10px;">
					<i><span>@timesend</span></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="box_message_client_2" style="display: none">
	<div class="msg-client">
		<div class="row">
			<div class="col-md-9">
				<span class="title">@fullname</span>
				<div class="content-message">
					@image
				</div>
			</div>
			<div class="col-md-offset-1 col-md-1">
				<div class="timesendmsg" style="padding-right:10px;"> 
					<i><span>@timesend</span></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="box_message_user" style="display: none">
	<div class="msg-user">
		<div class="row">
			<div class="col-md-offset-1 col-md-9">
				<div class="content-message">
					<span class='item-message' data-message='@messageid'>@message</span>
				</div>
			</div>
			<div class="col-md-1">
				<div class="timesendmsg" style="padding-right:10px;">
					<i><span>@timesend</span></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="box_message_user_2" style="display: none">
	<div class="msg-user">
		<div class="row">
			<div class="col-md-offset-1 col-md-9">
				<div class="content-message">
					@image
<!-- 					<img src = "@srcimage" style="width:200px;height:100px;float:right;" /> -->
				</div>
			</div>
			<div class="col-md-1">
				<div class="timesendmsg" style="padding-right:10px;">
					<i><span>@timesend</span></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="box_message_system" style="display: none">
	<div class="msg-user">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="content-message">
					<span class='item-message-alert'>@message</span>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
<input type="hidden" value="1" id="chatFlag" />




<div class="modal fade" id="modalAssignUser" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class='row'>
					<form class="form-horizontal">
						<div class="col-xs-12 col-sm-12">
							<div class="form-group">
								<label class="col-sm-3 control-label"
									th:text="#{chat.list.agent}">Nhân viên hỗ trợ</label>
								<div class="col-sm-9">
									<select id="sleUserOnline" class="form-control"></select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" id="acceptAssign" class="btn-common">OK</a> <a
					href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalNotFoundUserOnline" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body" th:text="#{chat.assign.user.offline.1}">Nhân viên khác chưa đăng nhập hệ thống!</div>
			<div class="modal-footer">
				<a href="#" class="btn-common" data-dismiss="modal">OK</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:inline="text">    
	var CHAT_ALERT_CLIENT_LOGOUT = '[[#{chat.alert.client.logout}]]';
	var CHAT_ALERT_CLIENT_ASSIGN_SUCESS = '[[#{chat.alert.client.assign.success}]]';
	var CHAT_ALERT_CLIENT_ASSIGN_FAIL = '[[#{chat.alert.client.assign.fail}]]';
	var MSG_DEFAULT = '[[${message}]]';
	var SESSION_TIMEOUT = '[[${sessionTimeOut}]]';
	
</script>

<script type="text/javascript" th:src="@{/static/jquery/vendor/jquery.ui.widget.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jquery.fileupload.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/static/plugins/chat/server_chat.css}"/>

<script type="text/javascript" th:src="@{/web-app/views/chat/chat-edit.js}"></script>
</html>
