<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript"
		th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<div class="row unit-border-bottom">
		<div class="col-sm-8 col-xs-6">
			<h2 class="mar-tb-no red" th:text="#{chat.list.edit.title }">Nội
				dung hỗ trợ khách hàng</h2>
		</div>
		<div class="col-sm-4 col-xs-6 align-right ml-auto">
            <a class="u-btn-head backlist" id="linkList">
				<img th:src="@{/static/icons/icon-back.png}"/>
				<span th:title="#{icon.back}">Trở lại</span>
			</a>
		</div>
	</div>
	<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
	<div class="row unit-bg-com">
		<div class="col-md-12">
			<th:block th:each="dataRow,i : ${listMessage}">
				<div th:if="${dataRow.type == 1}">					
					<div th:if="${dataRow.typeMessage == 1}">
						<div class="msg-client">
							<div class="row">
								<div class="col-md-11">
									<span class="title" th:text="${dataRow.typeName}"></span>
									<div class="content-message">
										<span class='item-message' th:text="${dataRow.message}"></span>
									</div>
								</div>
								<div class="col-md-1">
									<div class="timesendmsg">
										<i><span th:text="${#dates.format(dataRow.createdDate, 'HH:mm:ss')}"></span></i>
									</div>
								</div>
							</div>						
						</div>
					</div>		
					<div th:if="${dataRow.typeMessage == 2}">
						<div class="msg-client">
							<div class="row">
								<div class="col-md-11">
									<span class="title" th:text="${dataRow.typeName}"></span>
									<div class="content-message">
										<img style="width:200px;height:100px;float:left" class="img-thumbnail" th:src="@{/ajax/download(fileName=*{dataRow.message})}"/>
									</div>
								</div>
								<div class="col-md-1">
									<div class="timesendmsg">
										<i><span th:text="${#dates.format(dataRow.createdDate, 'HH:mm:ss')}"></span></i>
									</div>
								</div>
							</div>						
						</div>
					</div>			
				</div>
				<div th:if="${dataRow.type == 2}">
					<div th:if="${dataRow.typeMessage == 1}">
						<div class="msg-user">
							<div class="row">
								<div class="col-md-11">
									<span class="title" th:text="${dataRow.agentName}"></span>
									<div class="content-message">
										<span class='item-message' th:text="${dataRow.message}"></span>
									</div>
								</div>
								<div class="col-md-1">
									<div class="timesendmsg">
										<i><span
											th:text="${#dates.format(dataRow.createdDate, 'HH:mm:ss')}"></span></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:if="${dataRow.typeMessage == 2}">
						<div class="msg-user">
							<div class="row">
								<div class="col-md-11">
									<span class="title" th:text="${dataRow.agentName}"></span>
									<div class="content-message">
										<img style="width:200px;height:100px;float:left" class="img-thumbnail" th:src="@{/ajax/download(fileName=*{dataRow.message})}"/>
									</div>
								</div>
								<div class="col-md-1">
									<div class="timesendmsg">
										<i><span
											th:text="${#dates.format(dataRow.createdDate, 'HH:mm:ss')}"></span></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>
<link rel="stylesheet" type="text/css" th:href="@{/static/plugins/chat/server_chat.css}" />
<script type="text/javascript" th:src="@{/web-app/views/chat/chat-detail.js}"></script>
</html>

