<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script
    type="text/javascript"
    th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"
  />
  <body>
    <div class="row main-heading">
      <div class="row unit-border-bottom">
        <div class="col-sm-8 col-xs-6">
          <h3 class="mar-tb-no red" th:text="#{chat.user.product.title}">
            Tiêu đề trang
          </h3>
        </div>
        <div class="col-sm-4 col-xs-6 align-right">
          <h3 class="mar-tb-no">
            <!-- <i class="glyphicon glyphicon-plus-sign font-size-30 blue" id="add"></i> -->
          </h3>
        </div>
      </div>
    </div>

    <form
      class="form-horizontal u-for-page-top j-formSearch"
      th:object="${typeSearch}"
      method="POST"
      role="form"
    >
      <th:block
        th:include="views/commons/message-alert.html :: content(${messageList})"
      />
      <div class="row unit-bg-com">
        <div data-target="#search-box" class="header-box cursor-point">
          <h2
            class="sub-header section-heading hide-title"
            th:text="#{search.title}"
          >
            Vùng tìm kiếm
          </h2>

          <div class="col-xs-12 col-sm-12 u-for-page-top">
            <div class="row" id="boxAlert" style="display: none">
              <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                  <button aria-hidden="true" class="close" type="button">
                    ×
                  </button>
                  <h4>
                    <i class="icon fa fa-ban"></i
                    ><th:block th:text="#{message.title}"></th:block>
                  </h4>
                  <div th:text="#{message.save.fail}"></div>
                </div>
              </div>
            </div>
            <div class="row" id="boxSuccess" style="display: none">
              <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                  <button aria-hidden="true" class="close" type="button">
                    ×
                  </button>
                  <h4>
                    <i class="icon fa fa-check"></i
                    ><th:block th:text="#{message.title}"></th:block>
                  </h4>
                  <div th:text="#{message.success.save.label}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse in row m-0" id="search-box">
          <div class="col-sm-3 hidden">
            <span class="button">
              <a id="btnSearch" class="btn-common"
                ><i class="fa fa-search"></i
                ><span th:text="#{search.button}">Tìm kiếm</span></a
              >
            </span>
          </div>

          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="col-md-2 control-label">Role Chat</label>
              <div class="col-md-4">
                <select class="form-control" id="roleChat">
                  <option value=""></option>
                  <th:block th:each="item : ${roles}">
                    <option
                      th:value="${item.value}"
                      th:text="${item.name}"
                      th:selected="${item.value} == ${roleName}"
                    ></option>
                  </th:block>
                </select>
              </div>
              <label class="col-md-2 control-label">User</label>
              <div class="col-md-4">
                <select
                  class="form-control select2"
                  multiple="multiple"
                  id="user"
                >
                  <th:block th:each="item : ${users}">
                    <option
                      th:value="${item.username}"
                      th:text="${item.fullname}"
                    ></option>
                  </th:block>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 unit-button">
            <a type="button" class="btn-common" id="btnRefresh">
              <i class="fa fa-refresh" aria-hidden="true"></i>
              <span th:text="#{search.refresh}">Làm mới</span>
            </a>
            <a
              class="btn-common"
              id="btn-save"
              th:if="${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.CHAT_USER_ROLE}__:Edit'')')}"
            >
              <i class="fa fa-save"></i>
              <span th:text="#{save.button}">Lưu</span>
            </a>
          </div>
        </div>
      </div>
    </form>
    <div class="row unit-bg-table" id="tableList">
      <th:block
        th:include="views/chat/chat-table-user-product.html :: content"
      />
    </div>

    <input type="hidden" id="fieldSearchHidd" />
    <input type="hidden" id="fieldValuesHidd" />

    <script th:inline="javascript">
      /*<![CDATA[*/
      var MESSAGE_CHAT_USER_PRODUCT_ALRET = [[#{chat.user.product.alert}]];
      var MESSAGE_CHAT_USER_PRODUCT_ALRET_1 = [[#{chat.user.product.alert1}]];
      /*]]>*/
    </script>
  </body>
</html>
