 <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />	
<body>
	<!-- <div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span>Select Items</span>
			</h3>
	   </div>
	   
	</div>	 -->		
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<div class="col-sm-12 p-0">
				<h2 class="title-box">Select Items</h2>
			<div class="icon-head">
		        <div class="pull-right">
					<a><i type="button" class="glyphicon glyphicon-plus-sign icon-head-red no-padding" id="add" title="Add" onclick="myFunction()"></i> </a>
		        </div>
		   </div>
		</div>
		<div class="col-sm-12 p-0">
			<div class="table-responsive">	
				<table class="table table-bordered table-striped" id="myTable">
					<thead>
						<tr>
							
							<th class="u_t_action" style="text-align:center; width:200px;" th:text="#{mokup.item.name}">Item name</th>
							<th class="u_t_title" style="text-align:center; width:300px;" th:text="#{mokup.bi.name}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.unit.of.measure}"></th>
							<th class="u_t_title" style="text-align:center; width:200px;" th:text="#{mokup.unit.price}"></th>
							<th class="u_t_title" style="text-align:center; width:200px;" th:text="#{mokup.quantity}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.vat}"></th>
							<th class="u_t_title" style="text-align:center; width:200px;" th:text="#{mokup.amount}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.amount.vat}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.bi.balance}"></th>
						</tr>
					</thead>
					<tbody class="sort">
						<tr>
							<td>
				                <select class="form-control">
									<option>Laptop</option>
									<option>Voice & video conference</option>
									<option>Web Application Firewall (WAF)</option>
									<option>ATM accessories</option>
								</select>
							</td>
							<td>
				                 <select class="form-control">
									<option>IT_Hardware_HW for User_Laptop</option>
									<option>IT_Hardware_HW for System_Voice & video conference</option>
									<option>IT_Hardware_IT Security_Web Application Firewall (WAF)</option>
									<option>IT_Hardware_ATM_ATM accessories</option>
								</select>
							</td>
							<td>Each</td>
							<td>
								<input type="text" class="form-control" value="35000000" autocomplete="off"/>
							</td>
							<td>
								<input type="text" class="form-control" value="5" autocomplete="off"/> 	
							</td>
							<td>10</td>
							<td>
								<input type="text" class="form-control" value="175000000" autocomplete="off"/> 
							</td>
							<td>192500000</td>
							<td>1200000000</td>
						</tr>	
						<tr>
							<td>
				                <select class="form-control">
									<option>Laptop</option>
									<option selected="selected">Voice & video conference</option>
									<option>Web Application Firewall (WAF)</option>
									<option>ATM accessories</option>
								</select>
							</td>
							<td>
				                 <select class="form-control">
									<option>IT_Hardware_HW for User_Laptop</option>
									<option selected="selected">IT_Hardware_HW for System_Voice & video conference</option>
									<option>IT_Hardware_IT Security_Web Application Firewall (WAF)</option>
									<option>IT_Hardware_ATM_ATM accessories</option>
								</select>
							</td>
							<td>Each</td>
							<td>
								<input type="text" class="form-control" value="80000000" autocomplete="off"/>
							</td>
							<td>
								<input type="text" class="form-control" value="3" autocomplete="off"/> 	
							</td>
							<td>10</td>
							<td>
								<input type="text" class="form-control" value="240000000" autocomplete="off"/> 
							</td>
							<td>264000000</td>
							<td>800000000</td>
						</tr>		
						<tr>
							<td>
				                <select class="form-control">
									<option>Laptop</option>
									<option>Voice & video conference</option>
									<option selected="selected">Web Application Firewall (WAF)</option>
									<option>ATM accessories</option>
								</select>
							</td>
							<td >
				                 <select class="form-control">
									<option>IT_Hardware_HW for User_Laptop</option>
									<option>IT_Hardware_HW for System_Voice & video conference</option>
									<option selected="selected">IT_Hardware_IT Security_Web Application Firewall (WAF)</option>
									<option>IT_Hardware_ATM_ATM accessories</option>
								</select>
							</td>
							<td>Each</td>
							<td>
								<input type="text" class="form-control" value="65000000" autocomplete="off"/>
							</td>
							<td>
								<input type="text" class="form-control" value="1" autocomplete="off"/> 	
							</td>
							<td>10</td>
							<td>
								<input type="text" class="form-control" value="65000000" autocomplete="off"/> 
							</td>
							<td>71500000</td>
							<td>500000000</td>
						</tr>	
						<tr>
							<td >
				                <select class="form-control">
									<option>Laptop</option>
									<option>Voice & video conference</option>
									<option>Web Application Firewall (WAF)</option>
									<option selected="selected">ATM accessories</option>
								</select>
							</td>
							<td >
				                 <select class="form-control" readonly="readonly">
									<option>IT_Hardware_HW for User_Laptop</option>
									<option>IT_Hardware_HW for System_Voice & video conference</option>
									<option>IT_Hardware_IT Security_Web Application Firewall (WAF)</option>
									<option selected="selected">IT_Hardware_ATM_ATM accessories</option>
								</select>
							</td>
							<td>Each</td>
							<td>
								<input type="text" class="form-control" value="175000000" autocomplete="off"/>
							</td>
							<td>
								<input type="text" class="form-control" value="2" autocomplete="off"/> 	
							</td>
							<td>10</td>
							<td>
								<input type="text" class="form-control" value="35000000" autocomplete="off"/> 
							</td>
							<td>385000000</td>
							<td>4500000000</td>
						</tr>
						<tr>
							<td class="text-left" colspan="5">
								<a class="btn-cancel" id="btnCoppy" onclick="myFunction()"> <i class="fa fa-clone"></i> <span style="font-weight:bold;">Add/Coppy</span></a> 
							</td>
							<td class="text-right" style="font-weight:bold;">Total</td>
							<td class="text-center" style="font-weight:bold;">83000000</td>
							<td class="text-center" style="font-weight:bold;">913000000</td>
							<td class="text-center"></td>
						</tr>																															
					</tbody>					
				</table>								
			</div>			
		</div>
		
		<div class="col-xs-12 col-sm-12 footer-box-bg">	
				<div class="col-sm-12">	
					<a class="btn-common btn-save">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> <span
						th:text="#{save.button}">Lưu</span>
					</a>
					<a class="btn-cancel" id="btnNext"> <i class="fa fa-arrow-circle-right"></i> <span
						>Next</span>
					</a> 
				</div>
		</div>
		<!-- <th:block th:include="views/commons/pagination.html :: content"/> -->

	</div>
	<script type="text/javascript">
		$("select").select2();
		
		$('#btnNext').on('click', function (event) {
			event.preventDefault();
			var url = BASE_URL + "mockup/er-information";
	
			// Redirect to page list
			ajaxRedirect(url);
		});
		
		$('select[multiple]').multiselect({
		    columns: 1,
		    placeholder: SEARCH_LABEL,
		    search: true
		});
		
		function myFunction() {
			/* var newRow=document.getElementById('myTable').insertRow();
			  newRow.innerHTML="<td class='text-center'><select class='form-control'><option>Name1</option><option>Name2</option></select></td><td class='text-center'><select class='form-control'><option>Name1</option><option>Name2</option></select></td><td class='text-center'></td><td class='text-center'><input type='text' class='form-control'/></td><td class='text-center'><input type='text' class='form-control'/></td><td class='text-center'></td><td class='text-center'><input type='text' class='form-control'/></td><td class='text-center'></td><td class='text-center'></td>";
		 */
			var table = document.getElementById("myTable");
		 	var rowCount = document.getElementById('myTable').rows.length;
			var row = table.insertRow(rowCount - 1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);
			var cell8 = row.insertCell(7);
			var cell9 = row.insertCell(8);
			cell1.innerHTML = "<td><select class='form-control'><option>Laptop</option><option>Voice & video conference</option><option>Web Application Firewall (WAF)</option><option>ATM accessories</option></select></td>";
			cell2.innerHTML = "<td><select class='form-control'><option>IT_Hardware_HW for User_Laptop</option><option>IT_Hardware_HW for System_Voice & video conference</option><option >IT_Hardware_IT Security_Web Application Firewall (WAF)</option><option>IT_Hardware_ATM_ATM accessories</option></select></td>";
			cell3.innerHTML = "<td>Each</td>";
			cell4.innerHTML = "<td><input type='text' class='form-control' autocomplete='off'/></td>";
			cell5.innerHTML = "<td><input type='text' class='form-control' autocomplete='off'/></td>";
			cell6.innerHTML = "<td>10</td>";
			cell7.innerHTML = "<td><input type='text' class='form-control' autocomplete='off'/></td>";
			cell8.innerHTML = "<td></td>";
			cell9.innerHTML = "<td></td>";

			$("select").select2();
		} 
		
		/* function cloneRow() {
		      var row = document.getElementById("myTable"); // find row to copy
		      var table = document.getElementById("myTable"); // find table to append to
		      var clone = row.cloneNode(true); // copy children too
		      clone.id = "newID"; // change id or other attributes/contents
		      table.appendChild(clone); // add new row to end of table
		    } */
		
	</script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$('.sort').sortable({
			cursor : 'move',
			axis : 'y',
			update : function(e, ui) {
				$(this).sortable('refresh');
				var params = {};
				params = $('.id').serializeArray(), $.ajax({
					type : 'POST',
					data : {
						id : params
					},
					url : 'Your url',
					success : function(msg) {
						// Your sorted data.
					}
				});
			}
		});
	</script>
	</body>
</html>
