 <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />	
<body>
	<!-- <div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span>Select Items</span>
			</h3>
	   </div>
	   
	</div>	 -->		
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<div class="col-sm-12 p-0">
				<h2 class="title-box">Supporting Document</h2>
			<div class="icon-head">
		        <div class="pull-right">
		       		 <input id="upload" type="file" style="display: none" /> 
			        <a href="#upload" onclick="$('#upload:hidden').trigger('click')">
			        	<i class="fa fa-cloud-upload icon-head-red" id="add" title="Attach file"></i>
			        </a>	
		        </div>
		   </div>
		</div>
		<div class="col-sm-12 p-0">
			<div class="table-responsive">	
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							
							<th class="u_t_action" style="text-align:center" th:text="#{mokup.er.action}">Action</th>
							<th class="u_t_title" style="text-align:center">#</th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.title}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.file.name}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.file.type}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.file.size}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.note}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.created.by}"></th>
							<th class="u_t_title" style="text-align:center" th:text="#{mokup.er.created.date}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center" >
								<div class="align-center">                       
                                    <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete"></a>
                                </div>	
							</td>
							<td class="text-center" >1</td>
							<td > Admin_Budget Tree_210309</td>
							<td >Admin_Budget Tree_210309</td>
							<td class="text-center" >.xlsx</td>
							<td class="text-center" >18Kb</td>
							<td class="text-center" >Supporting Document</td>
							<td class="text-center" >Hoàng Thị Mai</td>
							<td class="text-center" >9/7/2021</td>
						</tr>
						<tr>
							<td class="text-center" >
								<div class="align-center">                       
                                    <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete"></a>
                                </div>	
							</td>
							<td class="text-center" >2</td>
							<td > Admin_Item Tree_210302</td>
							<td >Admin_Item Tree_210302</td>
							<td class="text-center" >.xlsx</td>
							<td class="text-center" >136Kb</td>
							<td class="text-center" >Supporting Document</td>
							<td class="text-center" >Hoàng Thị Mai</td>
							<td class="text-center" >9/8/2021</td>
						</tr>	
						<tr>
							<td class="text-center" >
								<div class="align-center">                       
                                    <a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete"></a>
                                </div>	
							</td>
							<td class="text-center" >3</td>
							<td >Budget Item_210205</td>
							<td >Budget Item_210205</td>
							<td class="text-center" >.xlsx</td>
							<td class="text-center" >646Kb</td>
							<td class="text-center" >Supporting Document</td>
							<td class="text-center" >Hoàng Thị Mai</td>
							<td class="text-center" >9/9/2021</td>
						</tr>																											
					</tbody>					
				</table>								
			</div>			
		</div>
		<div class="col-xs-6 col-sm-6">
				<div class="col-sm-12" style=" padding-top: 10px;">
					<a class="btn-cancel" id="cancel"> <i class="fa fa-times"></i> <span
						>Back</span></a>				
				</div>
		</div>
		
		<div class="col-xs-6 col-sm-6 footer-box-bg" style=" padding-top: 10px;">	
				<div class="col-sm-12">	
					<a class="btn-common btn-save">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> <span
						th:text="#{save.button}">Lưu</span>
					</a>
					<a class="btn-cancel" id="btnNext"> <i class="fa fa-arrow-circle-right"></i> <span
						>Next</span>
					</a> 
				</div>
		</div>
		<!-- <th:block th:include="views/commons/pagination.html :: content"/> -->

	</div>
	<script type="text/javascript">
		$('select[multiple]').multiselect({
		    columns: 1,
		    placeholder: SEARCH_LABEL,
		    search: true
		});
		
		$('#cancel').on('click', function (event) {
			event.preventDefault();
			var url = BASE_URL + "mockup/er-information";
	
			// Redirect to page list
			ajaxRedirect(url);
		});
		$('#btnNext').on('click', function (event) {
			event.preventDefault();
			var url = BASE_URL + "mockup/review-bi";
	
			// Redirect to page list
			ajaxRedirect(url);
		});
	</script>
	</body>
</html>
