<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	
	<div class="row m-0">
		<div class="table-responsive">
			<table id="listAccount" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="u_t_no ">#</th>
						<th class="u_t_no" th:text="#{account.team.username}"> User name</th>
						<th class="u_t_no" th:text="#{account.team.fullname}"> Full name</th>
						<th class="u_t_no" th:text="#{account.team.email}"> Email</th>
					</tr>
				</thead>
				<tbody>
					 <th:block th:if="${pageWrapper.data.size() > 0}">
						<th:block th:each="account,iterStat : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-account-id=${account.userId}" class="item-tr-data">
								<td th:text="${iterStat.index + startIndex}" class="text-center"></td>
								<td th:text="${account.username}">User name</td>
								<td th:text="${account.fullname}">Full name</td>
								<td th:text="${account.email}">Email</td>
							</tr>
						</th:block>
					</th:block>
					<th:block th:if="${pageWrapper.data.size() == 0}">
                        <tr>
                            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
		</div>
	</div>
    <th:block th:include="views/commons/pagination.html :: content" />
	<script type="text/javascript" th:src="@{/static/cache/js/account-team/account-team-user-detail.js}"></script>   
</body>
</html>