<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12 no-padding" >			
			<div class="table-responsive">			
				<table class="table table-bordered table-hover out-tbl">
					<thead>	
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action"  th:text="#{action.label}">Thao tác</th>
							<th th:text="#{company.detail}">Company</th>
							<th class="u_t_no" th:text="#{account.team.group.code}"> Mã nhóm</th>
							<th class="u_t_no" th:text="#{account.team.group.name}"> tên nhóm</th>
							<th class="u_t_date" th:text="#{account.team.description}">Ngày tạo</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="teamDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-team-id=${teamDto.teamId}">
		              		<td th:text="${i.index + startIndex}" class="text-center"></td>
							<td class="td-action align-center">
								<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" style="float:none"></a>
								<a class="glyphicon glyphicon-edit custom-icon j-btn-edit" 
								th:if="${#authorization.expression('hasAuthority(@roleConstant.TEAM_MANAGEMENT)') and ((teamDto.companyName != null and teamDto.companyName!='') or #authentication?.principal?.companyAdmin)}" style="float:none"></a>
								<a class="glyphicon glyphicon-remove-sign font-size-20 red menudelete j-team-delete" style="float:none"
									th:if="${#authorization.expression('hasAuthority(@roleConstant.TEAM_MANAGEMENT)') and ((teamDto.companyName != null and teamDto.companyName!='') or #authentication?.principal?.companyAdmin)}"></a>
	                        </td>   
	                        <td th:text="${teamDto.companyName} !='' and ${teamDto.companyName} != null ? ${teamDto.companyName}: #{company.all}"></td>                         
		                    <td th:text="${teamDto.code}"></td>
		                    <td th:text="${teamDto.nameAbv}"></td>
		                    <td th:text="${teamDto.description}"></td>
						</tr>
						</th:block>																												
					</tbody>					
				</table>							
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/account-team/account-team-table.js}"></script>
	</body>
</html>
