<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript" th:src="@{/static/cache/js/common_unit.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/jquery/vendor/jquery.ui.widget.js}"></script>
<script type="text/javascript" th:src="@{/static/cache/js/plupload-2.1.2/plupload.full.min.js}"></script>
    <body>          
	   <div class="title-head">
			<div class="row">
				<div class="col-md-5">
					<h3>
						<span th:text="#{account.team.detail.title}">Tiêu đề trang</span>
					</h3>
				</div>
			   	<div class="col-md-7">
			        <div class="pull-right">
						 <a class="u-btn u-btn-back" id="linkList">
						 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
						 	<span>Trở lại</span>
						 </a>
			        </div>
			   </div>
			</div>	
		</div>
        <section class="">
            <form class="form-horizontal u-for-page-top j-form-validate" id="form-team-edit" th:object="${teamDto}" method="post" role="form" th:action="@{/}">
        
                <th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>    
                <div class="bg-content clearfix">   
                    <div data-toggle="collapse" data-target="#search-box-1" class="header-box">
                        <h5 class="title-box" th:text="#{account.team.detail.group}">Detail Group</h5>  
                        <i class="fa fa-minus pull-right" aria-hidden="true"></i>        
                    </div>     
                    <div class="collapse in row m-0" id="search-box-1">                        
                    	<input type="hidden" th:field="*{teamId}"/>                                        
                        <div class="row"> 
                        	<div class="form-group col-md-6 p-0">
                                <label class="col-sm-3 " for="nameAbv" th:text="#{account.team.group.code}"><b>Group code:</b></label>
                                <div class="col-sm-9 form-detail" >
                                    <label  th:text="${teamDto.code}" class="form-group"></label>
                                </div>
                            </div>       
                            <div class="form-group col-md-6 p-0">
                                <label class="col-sm-3 " for="nameAbv" th:text="#{account.team.name}"><b>Group Name:</b></label>
                                <div class="col-sm-9 form-detail" >
                                    <label  th:text="${teamDto.nameAbv}" class="form-group"></label>
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="form-group col-md-6 p-0" th:if="${companyList.size()>1}">
				                <label class="col-sm-3" th:text="#{company.detail}">Company</label>
				                <div class="col-sm-9 form-detail">
				                	<label th:text="*{(companyName==null or companyName=='')} ? #{company.all} : *{companyName}" class="form-group"></label>
				                </div>
				            </div>
                            <div class="form-group col-md-6 p-0">
                                <label class="col-sm-3" th:text="#{account.team.description}"><b>Description:</b></label>
                                <div class="col-sm-9 form-detail" >
                                    <label  th:text="${teamDto.description}" class="form-group"></label>                              
                                </div>
                            </div>
                    </div>
                	</div>
                </div>      
               	
                <div class="bg-content-tbl">
                	<div class="header-box">
						<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
						<div class="row">
							<div class="col-md-7">
								<h2 class="title-box" th:text="#{account.team.user.list}">User list</h2>
							</div>
							<div class="col-md-5">
								<div class="form-group input-group">
									<input type="text" class="form-control" id="keySearch" th:placeholder="#{search.key}"/>
									<div class="input-group-addon btnSearch" style="cursor: pointer;">
						                <i class="fa fa-search" aria-hidden="true"></i> 
						                <span th:text="#{search.button}">Tìm kiếm</span>
									</div>
								</div>
							</div>
						</div>
							
					</div>
	                
                     <div id ="userList">
                     </div>
                 </div>                     
            </form> 
        </section>
            
    </body>
<script type="text/javascript" th:src="@{/static/cache/js/account-team/account-team-detail.js}"></script>
<script>
$('#listAccount tbody tr').each(function(key, val) {
     $(this).find("td:eq(0)").text(key + 1);
    });
</script>
</html> 