<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
	
	<div class="header-box">
		<div class="row">
			<div class="col-md-6">
				<h2 class="title-box" th:text="#{account.team.user.list}">User list</h2>
			</div>
			<div class="col-md-6">
				<div class="col-md-10">
					<div class="form-group input-group">
						<input th:value="${searchDto.keySearch}" type="text" class="form-control" id="keySearch" th:placeholder="#{search.key}"/>
						<div class="input-group-addon btnSearch" style="cursor: pointer;">
		                    <i class="fa fa-search" aria-hidden="true"></i> 
		                     <span th:text="#{search.button}">Tìm kiếm</span>
					    </div>
					</div>
				</div>
				<div class="col-md-2 p-0 align-right">
					<button type="button" class="btn-ico btnDelete"
			          	th:if="${#authorization.expression('hasAuthority(@roleConstant.TEAM_MANAGEMENT)')}">
			            <img th:src="@{/static/images/icon-del.png}" alt="" width="17px">
			        </button>
			        <a class="btn-ico btn-toggle-add-user" data-toggle="collapse" data-target="#add-content" aria-expanded="false">
						<img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="col-md-10">
					<div class="form-group collapse" id="add-content">
	                    <div class="input-group">
		                     <div class="select-multiple">
								<select multiple="multiple" class="js-example-basic-multiple" name="memberAdds" id="memberAdds">
								</select>
							  </div>
							<div class="input-group-addon" style="cursor: pointer;">
								<div class="btnAdd"
			                         th:if="${#authorization.expression('hasAuthority(@roleConstant.TEAM_MANAGEMENT)')}">
			                          <img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px"/>
			                           <span th:text="#{add.button}">Thêm</span>
			                     </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
	<div class="">
		<div class="table-responsive">
			<table id="listAccount" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="u_t_no ">#</th>
						<th class="u_t_no" th:text="#{account.team.username}"> User name</th>
						<th class="u_t_no" th:text="#{account.team.fullname}"> Full name</th>
						<th class="u_t_no" th:text="#{account.team.email}"> Email</th>
						<th class="u_t_no center"><input type="checkbox" id="chkall" title="check all" />
						</th>
					</tr>
				</thead>
				<tbody>
					 <th:block th:if="${pageWrapper.data.size() > 0}">
						<th:block th:each="account,iterStat : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
							<tr th:attr="data-account-id=${account.userId}" class="item-tr-data">
								<td th:text="${iterStat.index + startIndex}" class="text-center"></td>
								<td th:text="${account.username}">User name</td>
								<td th:text="${account.fullname}">Full name</td>
								<td th:text="${account.email}">Email</td>
								<td class="text-center action-inline">
                                    <input type="checkbox"
										class="check-delete"
										th:name="data[__${iterStat.index}__].accountId"
										th:value="${account.userId}" />
                                </td>
							</tr>
						</th:block>
					</th:block>
					<th:block th:if="${pageWrapper.data.size() == 0}">
                        <tr>
                            <td colspan="100%" th:text="#{table.emptyTable.label}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
		</div>
	</div>
    <th:block th:include="views/commons/pagination.html :: content" />
	<script type="text/javascript" th:src="@{/static/cache/js/account-team/account-team-user.js}"></script>   
</body>
</html>