<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript" th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />	

<body>
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3><i class="fa fa-table"></i> <span th:text="#{org.person.title}">Tiêu đề trang</span></h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
           <div class="pull-right">
				<a href="#" id="btnCreate"><i class="fa fa-plus-circle icon-head-red"
					id="addNew" title="Add" data-toggle="modal"
					data-target="#edit-modal"
					th:if="${#authorization.expression('hasAuthority(@roleConstant.ACCOUNT)')}"></i>
				</a>
			</div>
       </div>
	</div>
	<div id="messages">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
	</div>
	<div id="frmSearch">
		<th:block th:include="views/org-person/org-person-search.html :: content" />
	</div>
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<th:block th:include="views/org-person/org-person-table.html :: content"/>
	</div>
	<!-- <div>
		<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="function-modal-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="edit-modal-content"></div>
			</div>
		</div>
	</div> -->
	<input type="hidden" id="url" name="url" th:value="${pageUrl}"/>
	<script type="text/javascript" th:src="@{/static/cache/js/org-person/org-person-list.js}"></script>
	</body> 
</html>

