<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">

<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
	
<!-- EasyUI - Multiple component support -->
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/cache/plugins/jquery-easyui-1.5/icon.css}" />
<script type="text/javascript" id="script-easyui" th:src="@{/static/cache/plugins/jquery-easyui-1.5/jquery.easyui.min.js}"></script>
<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{org.person.information}">Function
				Information</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a> <i class="fa fa-arrow-circle-left icon-head-red"
				th:title="#{icon.back}" id="linkList"></i>
			</a> <a class="font17 btn-save" id="btnSaveHead"> <i
				class="fa fa-save"></i>
			</a>
		</div>
	</div>
</div>



<form class="form-horizontal u-for-page-top j-form-validate" role="form"
	id="edit-form" method="POST" autocomplete="off"
	th:object="${objectDto}">
	<div id="messages">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
	</div>

	<input type="hidden" th:field="*{id}" /> 
	<input type="hidden" th:field="*{companyId}" th:if="${companyList.size() eq 1}" />
	<input type="hidden" th:field="*{orgCuratorName}" /> 
	<input type="hidden" th:field="*{orgParentCuratorName}" /> 
	<div class="bg-content clearfix">
		<div>
			<h2 class="title-box" th:text="#{org.person.information}">Function
				Information</h2>
		</div>
		<div class="col-md-12">
		<div class="form-group" th:if="${companyList.size() gt 1}">
			<label for="companyId" class="col-sm-3 align-top no-padding"
				th:text="#{company.detail}">Company</label>
			<div class="col-sm-9">
				<select class="col-sm-9 form-control select2 select-company"
					th:field="*{companyId}">
					<option th:each="company : ${companyList}" th:value="${company.id}"
						th:text="${company.text}" th:selected="${company.id} eq *{companyId}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label th:for="*{orgParentId}" class="col-md-3"
				th:text="#{org.person.org.parent}"></label>
			<div class="col-md-9 col-organization">
				<input type="text" class="form-control " th:field="*{orgParentId}" />
			</div>
		</div>
		<div class="form-group">
			<label th:for="*{orgId}" class="col-md-3" th:text="#{org.person.org}"></label>
			<div class="col-md-9 col-organization">
				<input type="text" class="form-control" th:field="*{orgId}" />
			</div>
		</div>
		<div class="form-group">
			<label th:for="*{orgParentCurator}" class="col-md-3"
				th:text="#{org.person.org.parent.curator}"></label>
			<div class="col-md-9">
				<select class="form-control" th:field="*{orgParentCurator}">
					<option value=""></option>
					<option th:value="*{orgParentCurator}" th:text="*{orgParentCuratorName}" th:selected="*{orgParentCurator}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label th:for="*{orgCurator}" class="col-md-3"
				th:text="#{org.person.org.curator}"></label>
			<div class="col-md-9">
				<select class="form-control" th:field="*{orgCurator}">
					<option value=""></option>
					<option th:value="*{orgCurator}" th:text="*{orgCuratorName}" th:selected="*{orgCurator}"></option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<br />
		<div class="form-group text-center">
			<button type="button" class="btn btn-cancel btn-in-table"
				th:text="#{cancel.button}" id="btn-cancel">Thoát</button>

			<button type="button" class="btn btn-common btn-in-table"
				id="btn-save" th:text="#{save.button}">Save</button>
		</div>
	</div>
	</div>
</form>

<script type="text/javascript"
	th:src="@{/static/cache/js/org-person/org-person-edit.js}"></script>

</html>
