<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<link type="text/css"
	th:href="@{/static/cache/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" />
<script type="text/javascript"
	th:src="@{/static/cache/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<div class="title-head">
	<div class="row">
		<div class="col-md-5">
			<h3>
				<span th:text="#{quartz.title.job.create}">Tiêu đề trang</span>
			</h3>
		</div>
	   	<div class="col-md-7">
	        <div class="pull-right">
				 <a class="u-btn u-btn-back" id="linkList">
				 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
				 	<span>Trở lại</span>
				 </a>
				 <a class="u-btn u-btn-primary" id="btnCreate" th:if="${#authorization.expression('hasAuthority(@jobConstant.SC1_S03_JOBMASTER)')}">
	            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
	                <span>Thêm mới</span>
	             </a>
				 <a class="btn-save u-btn u-btn-primary" th:if="${#authorization.expression('hasAuthority(@jobConstant.SC1_S03_JOBMASTER)')}"> 
					<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
					<span th:text="#{save.button}">Lưu</span>
				</a>
	        </div>
	   </div>
	</div>	
</div>
<form
	class="form-horizontal u-for-page-top j-form-validate j-formSearch"
	id="form-j-edit" method="post" role="form">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
	<div class="bg-content clearfix">
		<div class="header-box">
			<h3 class="title-box" th:text="#{quartz.title.job.create}">Create
				Job</h3>
		</div>
		<input type="hidden" th:field="${job.id}" />
		<div class="row">
			<div class="form-group">
				<div class="col-sm-6 p-0">
					<div class="form-group">
						<label class="col-sm-4 required"
							th:text="#{quartz.field.job.code}">Job Code:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control j-required"
								th:field="${job.jobCode}" maxlength="250"
							autocomplete="off" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<label class="col-sm-4 required" th:text="#{quartz.table.job.name}">Job
						Name:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control j-required"
							th:field="${job.jobName}" maxlength="250"
							autocomplete="off"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-6 p-0">
					<div class="form-group">
						<!-- <label class="col-sm-4 required"
							th:text="#{quartz.field.job.group}">Job Group:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control j-required"
								th:field="${job.jobGroup}" />
						</div> -->
						<label class="col-sm-4 required"
							th:text="#{quartz.field.job.type}">Job Type</label>
						<div class="col-sm-8">
							<select id="jobTypes" class="form-control j-required"
								th:field="${job.jobType}">
								<option th:each="jobType : ${jobTypes}" th:value="${jobType.id}"
									th:text="${jobType.text}" th:seleted="${jobType.id} == ${job.jobType}"></option>
							</select> <label id="jobType-error" class="error" for="jobType"
								style="display: none"></label>
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-6" th:if="${companyList.size() > 1}">
					<div class="form-group">
						<label for="companyId" class="col-sm-4 required"
							th:text="#{company.detail}">Company</label>
						<div class="col-sm-8">
							<select class="form-control j-required"
								id="comId" name="companyId">
								<option value=""></option>
								<option th:value="${company.id}" th:text="${company.text}" th:selected="${company}"></option>
							</select>
						</div>
					</div>
				</div> -->
				<div class="form-group col-sm-6" th:if="${companyList.size()>1}">
		           	<label for="companyId" class="col-sm-4 required" th:text="#{company.detail}">Company</label>
		            <div class="col-sm-8">
		                <select class="form-control select2" id="companyId" name="companyId">
		                    <option th:each="company : ${companyList}" 
		                         	th:value="${company.id}"
		                         	th:text="${company.text}"
		                         	th:selected="${company.id} == ${job.companyId}">
		                    </option>
		                </select>
		            </div>
		      	</div>
		        <div th:unless="${companyList.size()>1}">
		            <input type="hidden" id="companyId" name="companyId" th:value="${job.companyId}"/>
		        </div>
			</div>
		</div>
		<!-- <div class="col-xs-12 col-sm-12 p-0">
			<div class="form-group">
				<div class="col-sm-6 p-0">
					<div class="form-group">
						<label class="col-sm-4 required"
							th:text="#{quartz.field.job.type}">Job Type</label>
						<div class="col-sm-8">
							<select id="jobTypes" class="form-control j-required"
								th:field="${job.jobType}">
								<option th:each="jobType : ${jobTypes}" th:value="${jobType.id}"
									th:text="${jobType.text}"></option>
							</select> <label id="jobType-error" class="error" for="jobType"
								style="display: none"></label>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="form-group">
				<div class="col-sm-6 p-0">
					<div class="form-group">
						<label class="col-sm-4 required"
							th:text="#{quartz.field.job.class.name}">Job Class Name:</label>
						
						<div class="col-sm-8">
							<input type="hidden" id="jobClassName"
								th:value="${job.jobClassName}" />
							
							<select id="jobClass"
								class="form-control j-required" th:field="${job.jobClassName}">
								<option th:value="${job.jobClassName}" th:text="${className}">value</option>
								<!-- <option
									th:each="jobClass : ${jobClasses}"
									th:value="${jobClass.id}"
									th:text="${jobClass.text}">value</option> -->
							</select>
							
							<label id="jobClassName-error" class="error" for="jobClassName"
								style="display: none"></label>

							<label id="jobClass-error" class="error" for="jobClass"
								style="display: none"></label>
						</div>
					</div>
				</div>
				<div id="divStoreName" class="col-sm-6">
					<label th:text="#{quartz.field.store.name}"
						class="col-sm-4 required">Store Name:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control j-required"
							th:field="${jobStore.storeName}" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-2" th:text="#{quartz.field.table.description}">Description:</label>
				<div class="col-sm-10">
					<textarea class="form-control" th:field="${job.description}" maxlength="250"
							autocomplete="off"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-2" th:text="#{quartz.field.table.send-email}">Description:</label>
				<div class="col-sm-10">
					<input type="checkbox" id="cbSendNotification"
						th:field="${job.sendNotification}"
						th:checked="${job.sendNotification}" />
				</div>
			</div>
		</div>
		<div class="row form-group"></div>
		<div class="row" id="group-email-config"
			th:style="${(job != null and job.sendNotification == true)? 'display:block':'display:none'}">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-xs-4 col-sm-4 col-md-4 required"
						th:text="#{quartz.field.table.email.template}"></label>
					<div class="col-xs-8 col-sm-8 col-md-8">
						<select style="width: 275px;" th:field="${job.emailTemplate}"
							class="form-control j-required">
							<th:block th:each="item : ${emailTemplateSelection}">
								<option th:text="${item.name}"
									th:selected="${job.emailTemplate != null} and ${#strings.equals(item.id, job.emailTemplate)}"
									th:value="${item.id}"></option>
							</th:block>
						</select>
						
						<label id="emailTemplate-error" class="error" for="emailTemplate"
								style="display: none"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-sm-4 col-md-4 required"
						th:text="#{quartz.field.table.email.recipient-address}"></label>
					<div class="col-xs-8 col-sm-8 col-md-8">
						<input type="text" class="form-control j-required j-multiemail"
							th:field="${job.recipientAddress}" maxlength="250"
							autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-xs-4 col-sm-4 col-md-4 required"
						th:text="#{quartz.field.table.email.status}"></label>
					<div class="col-xs-8 col-sm-8 col-md-8">
						<select class="form-control j-required" name="sendStatus"
							id="sendStatus" multiple="multiple" th:value="${lstSendStatus}">
							<option
								th:value="${T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).COMPLETED.getLongValue()}"
								th:text="${T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).COMPLETED.toString()}"
								th:selected="${#lists.contains(lstSendStatus, T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).COMPLETED.getStringValue())}"></option>
							<option
								th:value="${T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).ERROR.getLongValue()}"
								th:text="${T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).ERROR.toString()}"
								th:selected="${#lists.contains(lstSendStatus, T(vn.com.unit.ep2p.admin.schedule.ScheduleTask.JobStatus).ERROR.getStringValue())}"></option>
						</select>
						
						<label id="sendStatus-error" class="error" for="sendStatus"
								style="display: none"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 col-sm-4 col-md-4 required"
						th:text="#{quartz.field.table.email.recipient-name}"></label>
					<div class="col-xs-8 col-sm-8 col-md-8">
						<input type="text" class="form-control j-required"
							th:field="${job.recipientName}" maxlength="250"
							autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label class="col-xs-2 col-sm-2 col-md-2"
						th:text="#{quartz.field.table.email.bcc-address}"></label>
					<div class="col-xs-10 col-sm-10 col-md-10 padding-left-10">
						<input type="text" class="form-control j-multiemail"
							th:field="${job.bccAddress}" maxlength="250"
							autocomplete="off"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 col-sm-2 col-md-2"
						th:text="#{quartz.field.table.email.cc-address}"></label>
					<div class="col-xs-10 col-sm-10 col-md-10 padding-left-10">
						<input type="text" class="form-control j-multiemail"
							th:field="${job.ccAddress}" maxlength="250"
							autocomplete="off"/>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="url" name="url" th:value="${job.url}"/>
	
	</div>
</form>
<script type="text/javascript"
	th:src="@{/static/cache/js/job-management/job-create.js}"></script>
<!-- <script type="text/javascript"
	th:src="@{/static/cache/js/job-management/schedule.js}"></script> -->
</html>