<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript" th:inline="text">
	var MSG_QRTZ_RUN_CONFIRM = '[[#{quartz.message.run.confirmation}]]';
	var MSG_QRTZ_STOP_CONFIRM = '[[#{quartz.message.stop.confirmation}]]';
	var MSG_QRTZ_DEL_CONFIRM = '[[#{quartz.message.delete.confirmation}]]';
</script>
<style>
.a-disabled {
	pointer-events: none;
}

.icon-disabled {
	cursor: default;
	opacity: 0.2;
}
</style>

<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{quartz.title.job.schedule}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-primary" id="btnCreate" th:if="${#authorization.expression('hasAuthority(@jobConstant.SC1_S02_JOBSCHEDULE)')}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>	
	</div>
<div id="frmSearch">
	<div id="error-message"></div>
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
	<th:block th:include="views/job-management/job-schedule-search.html :: content" />
</div>
<div class="bg-content-tbl" id="tableList">
	<th:block th:include="views/job-management/job-schedule-table.html :: content" />
</div>
		<input type="hidden"id="urlSearch"/>

<div th:if="${url}">
	<input type="hidden" id="url" name="url" th:value="${url}"/> 
</div>
<script type="text/javascript"
		th:src="@{/static/cache/js/job-management/job-schedule.js}"></script>
</html>