<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">
		<div class="header-box">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title-box" th:text="#{search.results.title}">Kết Quả Tìm Kiếm </h2>
				</div>
				<div class="col-md-6 align-right">
					<button class="btn-ico" type="button" id="btnDownload">
						<img th:src="@{/static/images/icon-excel.png}" alt="" width="19px">
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 p-0 no-padding">
			<div class="table-responsive">			
				<table class="table table-bordered table-hover out-tbl">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{authority.detail.granted.type}">granted type</th>
							<th th:text="#{authority.detail.username}">username</th>
							<th th:text="#{authority.detail.fullname}">fullname</th>
							<th th:text="#{authority.detail.email}">email</th>
							<th th:text="#{authority.detail.enabled}">enabled</th>
							<th th:text="#{authority.detail.actived}">actived</th>
							<th th:text="#{authority.detail.org.code}">org code</th>
							<th th:text="#{authority.detail.org.name}">org name</th>
							<th th:text="#{authority.detail.position.code}">position code</th>
							<th th:text="#{authority.detail.position.name}">position name</th>
							<th th:text="#{authority.detail.group.code}">group code</th>
							<th th:text="#{authority.detail.group.name}">group name</th>
							<th th:text="#{authority.detail.role.code}">role code</th>
							<th th:text="#{authority.detail.role.name}">role name</th>
							<th th:text="#{authority.detail.role.actived}">role actived</th>
							<th th:text="#{authority.detail.function.code}">function code</th>
							<th th:text="#{authority.detail.function.name}">function name</th>
							<th th:text="#{authority.detail.access.right}">access right</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
						<tr>							
							<td class="text-center" th:text="${i.index + startIndex }"></td>
							<td th:text="${item.grantedType }"></td>
							<td th:text="${item.username }"></td>
							<td th:text="${item.fullname }"></td>
							<td th:text="${item.email }"></td>
							<td th:text="${item.enabled }"></td>
							<td th:text="${item.actived}"></td>
							<td th:text="${item.orgCode }"></td>
							<td th:text="${item.orgName }"></td>
							<td th:text="${item.positionCode }"></td>
							<td th:text="${item.positionName }"></td>
							<td th:text="${item.groupCode }"></td>
							<td th:text="${item.groupName }"></td>
							<td th:text="${item.roleCode }"></td>
							<td th:text="${item.roleName }"></td>
							<td th:text="${item.roleActived}"></td>
							<td th:text="${item.functionCode }"></td>
							<td th:text="${item.functionName }"></td>
							<td th:text="${item.accessRight }"></td>
						</tr>
						</th:block>																	
					</tbody>					
				</table>						
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/authority-detail/authority-detail-table.js}"></script>
	</body>
</html>
