<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript"
	th:src="@{/static/cache/js/archive/archive-add.js}"></script>

<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{archive.page}">Tiêu
				đề trang</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a> <i class="fa fa-arrow-circle-left icon-head-red "
				th:title="#{icon.back}" id="linkList"></i>
			</a>
			<!-- 	<a class="font17 btnSaveAdd" th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE)')}"> 
					<i class="fa fa-save"></i>
				</a> -->
		</div>
	</div>
</div>
<form method="POST"
	class="form-horizontal u-for-page-top j-form-validate"
	th:object="${archiveAddDto}" id="id-form-edit" th:action="@{/}"
	autocomplete="off">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
	<div class="bg-content clearfix">
		<div class="header-box">
			<h2 class="title-box" th:text="#{archive.create}">Archive</h2>
		</div>
		<div class="col-sm-12 p-0">
			<div class="col-md-6 p-0">
				<div class="form-group"
					th:classappend="${#fields.hasErrors('companyId')} ? has-error : ''">
					<label for="code" class="col-md-4 required align-top"
						th:text="#{company.detail}">Company</label>
					<div class="col-md-8" th:if="${companyList.size()>1}">
	                    <select class="form-control select2" th:field="*{companyId}">
	                        <option th:each="company : ${companyList}" 
	                                th:value="${company.id}"
	                                th:text="${company.text}">
	                        </option>
	                    </select>
	                </div>
	                <div class="col-md-8" th:if="${companyList.size()==1}">
	                	<input class="form-control" th:value="${companyList[0].text}" readonly="readonly"  maxlength="255"  disabled="disabled"/>
	                	<input type="hidden" th:field="*{companyId}"/>
	                </div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('docState')} ? has-error : ''">
					<label for="docState" class="col-md-4 align-top"
						th:text="#{archive.add.doc.state}">Document status</label>
					<div class="col-md-8">
						<select class="form-control" th:field="*{docState}">
							<option
								th:each="item : ${T(vn.com.unit.ppl.enumdef.ArchiveDocumentStatus).getSelect2Dtos()}"
								th:value="${item.id}" th:text="#{${item.text}}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6 p-0">
				<div class="form-group"
					th:classappend="${#fields.hasErrors('startDate')} ? has-error : ''">
					<label for="code" class="col-md-4 required align-top"
						th:text="#{archive.date.start}">Start time</label>
					<div class="col-md-8">
						<div class="input-group datepicker date date-icon-calendar">
							<input class="form-control datepicker-from-date j-required"
								th:field="*{startDate}" /> <span class="input-group-addon"><i
								class="fa fa-calendar"></i></span>
						</div>
						<label id="startDate-error" style="display: none;" class="error"
							for="startDate"></label>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('endDate')} ? has-error : ''">
					<label for="name" class="col-md-4 required align-top"
						th:text="#{archive.date.end}">End time</label>
					<div class="col-md-8">
						<div class="input-group datepicker date date-icon-calendar">
							<input class="form-control datepicker-to-date j-required"
								th:field="*{endDate}" /> <span class="input-group-addon"><i
								class="fa fa-calendar"></i></span>
						</div>
						<label id="endDate-error" style="display: none;" class="error"
							for="endDate"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 footer-box-bg">
			<button type="button" class="btn-cancel" id="btnCancel">
				<i class="fa fa-times"></i> <span th:text="#{cancel.button}">Thoát</span>
			</button>
			<button type="button" class="btn-common btnSaveAdd"
				th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE)')}">
				<i class="fa fa-search" aria-hidden="true"></i> <span
					th:text="#{archive.review.button}">Lưu</span>
			</button>
		</div>
	</div>
	<input type="hidden" th:value="${url}"></input>
</form>
</html>

