<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />
<script type="text/javascript"
	th:src="@{/static/cache/js/common_unit.js}"></script>
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{archive.page}">Tiêu
				đề trang</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a><i class="fa fa-plus-circle icon-head-red" id="addNew"
				title="Add"
				th:if="${#authorization.expression('hasAuthority(@roleConstant.ARCHIVE)')}"></i>
			</a>
		</div>
	</div>
</div>


<form id="id-search-form" class="form-horizontal u-for-page-top"
	th:object="${searchDto}" method="POST" role="form" autocomplete="off">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />

	<div class="bg-content clearfix">
		<div data-toggle="collapse" data-target="#search-box"
			class="header-box">
			<h2 class="title-box" th:text="#{search.title}">Vùng tìm kiếm</h2>
			<i class="fa fa-minus pull-right" aria-hidden="true"></i>
		</div>
		<div class="collapse in row m-0" id="search-box">
			<div class="col-xs-12 col-sm-12 p-0">
				<div class="col-md-6 p-0">
					<div class="form-group">
						<label for="companyId" class="col-sm-4 align-top"
							th:text="#{company.detail}">Company</label>
						<div class="col-md-8" th:if="${companyList.size()>1}">
		                    <select class="form-control select2" th:field="*{companyId}">
		                        <option th:value="0" th:text="#{common.all}"></option>
		                        <option th:each="company : ${companyList}" 
		                                th:value="${company.id}"
		                                th:text="${company.text}">
		                        </option>
		                    </select>
		                </div>
		                <div class="col-md-8" th:if="${companyList.size()==1}">
		                	<input class="form-control" th:value="${companyList[0].text}" readonly="readonly"  maxlength="255"  disabled="disabled"/>
		                	<input type="hidden" th:field="*{companyId}"/>
		                </div>
					</div>
					<!--/* <div class="form-group">
						<label class="col-sm-4 align-top" th:text="#{archive.doc.state}">Document
							status</label>
						<div class="col-sm-8">
							<select class="form-control" th:field="*{docState}">
								<option th:value="0"></option>
								<option
									th:each="item : ${T(vn.com.unit.ppl.enumdef.ArchiveDocumentStatus).getSelect2Dtos()}"
									th:value="${item.id}" th:text="#{${item.text}}"></option>
							</select>
						</div>
					</div> */-->
					<div class="form-group">
						<label class="col-sm-4 align-top" th:text="#{archive.table.run.status}">Run status</label>
						<div class="col-sm-8 upper-case">
							<select multiple="multiple" class="form-control" id="runStatusList"
								name="runStatus">
								<th:block
									th:each="item: ${T(vn.com.unit.ppl.enumdef.ArchiveStatus).values()}">
									<th:block
										th:if="${item != T(vn.com.unit.ppl.enumdef.ArchiveStatus).IN_PROCESS}">
										<option th:value="${item.toString()}"
											th:text="#{${item.getCode()}}"
											th:selected="${item == T(vn.com.unit.ppl.enumdef.ArchiveStatus).RUNNING
												or item == T(vn.com.unit.ppl.enumdef.ArchiveStatus).COMPLETED
	                              				or item == T(vn.com.unit.ppl.enumdef.ArchiveStatus).ERROR}"></option>
									</th:block>
								</th:block>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-6 p-0">
					<div class="form-group">
						<label class="col-sm-4 align-top" th:text="#{archive.date.from}">Date
							start</label>
						<div class="col-sm-8">
							<div class="input-group date date-icon-calendar">
								<input class="form-control datepicker-from-date"
									th:field="*{startDate}" id="startDate" name="startDate" /> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 align-top" th:text="#{archive.date.to}">Date
							end</label>
						<div class="col-sm-8">
							<div class="input-group date date-icon-calendar">
								<input class="form-control datepicker-to-date"
									th:field="*{endDate}" id="endDate" name="endDate" /> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12" style="margin-top: 10px;"
				align="center">
				<a class="btn-common" id="searchBtn"> <i class="fa fa-search"></i>
					<span th:text="#{search.button}"></span>
				</a>
			</div>
		</div>
	</div>
</form>

<div class="bg-content clearfix bg-content-tbl" id="tableList">
	<th:block th:include="views/archive/archive-table.html :: content" />
</div>
<input type="hidden" id="fieldSearchHidd" />
<input type="hidden" id="fieldValuesHidd" />
<input type="hidden" id="url" name="url" th:value="${url}" />
<input type="hidden"id="urlSearch"/>

<script type="text/javascript" th:inline="text">
	var MSG_RUN_ARCHIVE_CONFIRM = '[[#{message.confirm.run.archive}]]';
</script>
<script type="text/javascript"
	th:src="@{/static/cache/js/archive/archive-list.js}"></script>
</html>

