<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/cache/js/archive/archive-detail.js}"></script>
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{archive.page}">Tiêu đề trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
         <div class="pull-right">
             <a>
                <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
             </a>
             <a>
                <i class="fa fa-plus-circle icon-head-red" id="add"></i>
             </a>
          </div>
       </div>
	</div>
	<form method="POST" class="form-horizontal u-for-page-top j-form-validate" th:object="${archiveAddDto}" id="newsForm" th:action="@{/}" autocomplete="off">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>

		<div class="bg-content clearfix">
		    <div class="header-box">
                <h2 class="title-box" th:text="#{archive.detail}">Thông tin</h2>
            </div>
			<div class="col-md-12">
				<input type="hidden" th:field="*{userId}" />
				<input type="hidden" id="archiveMappingId" th:value="${id}" />
				<div class="col-md-6">
					<div class="form-group">
						<label for="code" class="col-md-4 align-top"
							th:text="#{company.detail}">Company</label>
						<div class="col-md-8">
							<select class="col-md-8 form-control" th:field="*{companyId}"
								disabled="disabled">
								<option th:value="0" th:text="#{common.all}"></option>
								<option th:value="${NULL}" th:text="#{company.all}"></option>
								<option th:each="company : ${companyList}"
									th:value="${company.id}" th:text="${company.text}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="code" class="col-md-4 align-top"
							th:text="#{archive.date.start}">Start time</label>
						<div class="col-md-8">
							<div class="input-group">
								<input class="form-control" th:field="*{startDate}"
									readonly="readonly" /> <span class="input-group-addon"><i
									class="fa fa-calendar" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="form-group">
						<label for="docState" class="col-sm-4 align-top"
							th:text="#{archive.doc.state}">Document status</label>
						<div class="col-sm-8">
							<select class="form-control" th:field="*{docState}"
								disabled="disabled">
								<option
									th:each="item : ${T(vn.com.unit.ppl.enumdef.ArchiveDocumentStatus).getSelect2Dtos()}"
									th:value="${item.id}" th:text="#{${item.text}}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="name" class="col-md-4 align-top"
							th:text="#{archive.date.end}">End time</label>
						<div class="col-md-8">
							<div class="input-group">
								<input class="form-control " th:field="*{endDate}"
									readonly="readonly" /> <span class="input-group-addon"><i
									class="fa fa-calendar" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="form-group">
						<label for="docState" class="col-sm-4 align-top"
							th:text="#{archive.table.status}"> status</label>
						<div class="col-sm-8">
							<select class="form-control"
								disabled="disabled">
								<option th:text="#{*{statusCode}}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="name" class="col-md-4 align-top"
							th:text="#{archive.table.run.status}">run status</label>
						<div class="col-md-8">
							<select class="form-control"
								disabled="disabled">
								<option th:text="#{*{runStatusCode}}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<th:block th:include="views/archive/archive-detail-table.html :: content"/>
	</div>
	
</html>

