.alert-expired-wrapper {
    height: calc(100vh - 56px); /* Đặt chiều cao của vùng chứa chính là toàn màn hình */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Loại bỏ margin nếu có */
}

.alert-wrapper {
    height: 100%; /* Chiều cao 100% của phần tử cha */
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-info__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 460px;
}
.alert-info__body p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #414141;
    margin-top: 24px;
}
