<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <div class="header-box">
        <div class="align-right" >
            <button type="button" class="btn-ico" id="btnAddCom" title="Add component">
                <img th:src="@{/static/images/icon-plus-blue.png}" alt="" width="17px" >
            </button>
        </div>
    </div>
    <div class="row m-0">
        <div class="table-responsive">
            <table id="addProductTable" class="table table-bordered table-hover out-tbl" style="min-width: 100%; width: 1400px">
                <thead>
                    <tr>
                        <th width="150px" style="text-align:center" th:text="#{const.action}">Action</th>
                        <th width="150px" style="text-align:center" th:text="#{const.kind}">Kind</th>
                        <th width="150px" style="text-align:center" th:text="#{const.code}">Code</th>
                        <th width="150px" style="text-align:center" th:text="#{const.active}">Active</th>
                        <th width="150px" style="text-align:center" th:text="#{const.display.order}">Display order</th>
                        <th width="150px" style="text-align:center" th:text="#{const.name.en}">Display order</th>
                        <th width="150px" style="text-align:center" th:text="#{const.name.vi}">Display order</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:if="${dto.constants.size > 0}">
                    <th:block th:each="item,i : ${dto.constants}">
                        <tr th:attr="data-item-id=${item.groupCode}, data-item-kind=${item.kind}, data-item-code=${item.code}">
                             <td hidden="hidden"><input class="form-control" th:value="${item.groupCode}" th:name="'constants[' + ${i.index} + '].groupCode'"/></td>
                             <td hidden="hidden"><input class="form-control class-oldGroupCode" th:value="${item.groupCode}" th:name="'constants[' + ${i.index} + '].groupCode'"/></td>
                             <td hidden="hidden"><input class="form-control class-oldCode" th:value="${item.oldCode}" th:name="'constants[' + ${i.index} + '].code'"/></td>
                             <td hidden="hidden"><input class="form-control class-oldKind" th:value="${item.oldKind}" th:name="'constants[' + ${i.index} + '].kind'"/></td>
                            <td class="text-center" style="width: 80px;">
                                <a class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red menudelete" title="delete"></a>
                            </td>
                            
                            <td><input class="form-control class-kind" th:value="${item.kind}" th:name="'constants[' + ${i.index} + '].kind'" maxlength="20"/></td>
                            <td><input class="form-control class-code" th:value="${item.code}" th:name="'constants[' + ${i.index} + '].code'" maxlength="255"/></td>
                            <td>
                                <select class="form-control select2 j-required class-actived" th:name="'constants[' + ${i.index} + '].actived'">
                                    <option value="">-</option>
                                    <option th:each="disFlag : ${lstDisplayFlag}" th:value="${disFlag.code}" th:text="${disFlag.name}"
                                            th:selected="(${item.actived} == ${disFlag.code})"></option>
                                </select>
                            </td>
                            <td><input class="form-control j-required displayOrder class-displayOrder" th:value="${item.displayOrder}" th:name="'constants[' + ${i.index} + '].displayOrder'" maxlength="11"/></td>
                            <td><input class="form-control class-nameEn" th:value="${item.nameEn}" th:name="'constants[' + ${i.index} + '].nameEn'" maxlength="255"/></td>
                            <td><input class="form-control class-nameVi" th:value="${item.nameVi}" th:name="'constants[' + ${i.index} + '].nameVi'" maxlength="255"/></td>
                            
                        </tr>
                    </th:block>
                </th:block>
                <!--  
                <th:block th:if="${dto.constants == null || dto.constants.size == 0}">
                    <tr>
                        <td hidden="hidden"><input class="form-control  class-groupCode" th:name="'constants[' + '0' + '].groupCode'"/></td>
                        
                        <td class="text-center" style="width: 80px;">
                            <a class="j-btn-delete glyphicon glyphicon-remove-sign font-size-20 red menudelete" title="delete"></a>
                        </td>
                        <td><input class="form-control class-kind" th:name="'constants[' + '0' + '].kind'" maxlength="20"/></td>
                        <td><input class="form-control class-code" th:name="'constants[' + '0' + '].code'" maxlength="255"/></td>
                        <td>
                            <select class="form-control select2 j-required class-actived" th:name="'constants[' + '0' + '].actived'">
                                <option value="">-</option>
                                <option th:each="disFlag : ${lstDisplayFlag}" th:value="${disFlag.code}" th:text="${disFlag.name}" th:selected="(${disFlag.code} == 1)"></option>
                            </select>
                        </td>
                        <td><input class="form-control j-required displayOrder class-displayOrder" th:name="'constants[' + '0' + '].displayOrder'" maxlength="11" value="1"/></td>
                        
                        <td><input class="form-control class-nameEn" th:name="'constants[' + '0' + '].nameEn'" maxlength="255"/></td>
                        
                        <td><input class="form-control class-nameVi" th:name="'constants[' + '0' + '].nameVi'" maxlength="255"/></td>
                    </tr>
                </th:block> -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>