<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
<body th:fragment="content">
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<i class="fa fa-table"></i>
					<span th:text="#{const.list.page}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
					 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" th:if="${#authorization.expression('hasAuthority(@roleConstant.CONSTANT_DISPLAY)')}"
					th:href="@{/constant-display/edit(action=1)}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
					 <a class="btn-save u-btn u-btn-primary" th:if="${#authorization.expression('hasAuthority(@roleConstant.CONSTANT_DISPLAY)')}"> 
						<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
						<span>Lưu</span>
					</a>
		        </div>
		   </div>
		</div>	
	</div>
	<form id="form-edit-constant" method="POST" role="form"
		class="form-horizontal u-for-page-top j-form-validate"
		th:object="${dto}">
		<th:block
			th:include="views/commons/message-alert.html :: content(${messageList})" />
		<div class="bg-content clearfix">
			<div class="row form-group align-items-center">
				<label class="col-md-2 required" th:text="#{const.type}">Type</label>
				<div class="col-md-4 col-sm-4">
					<input th:attr="data-action=${action}" th:readonly="${action} == 2"
						type="text" class="form-control j-required" id="code" name="code"
						th:value="*{code}" list="lstType" autocomplete="off" />
				</div>
			</div>
			<div class="row form-group align-items-center">
				<label class="col-md-2" th:text="#{const.name.en}"></label>
				<div class="col-md-4 col-sm-4">
					<input th:attr="data-action=${action}"
						type="text" class="form-control" id="nameEn" name="nameEn"
						th:value="*{nameEn}" autocomplete="off" />
				</div>
				<label class="col-md-2" th:text="#{const.name.vi}"></label>
				<div class="col-md-4 col-sm-4">
					<input th:attr="data-action=${action}"
						type="text" class="form-control" id="nameVi" name="nameVi"
						th:value="*{nameVi}" autocomplete="off" />
				</div>
			</div>
		</div>
		<div class="bg-content-tbl " id="addtTable">
			<th:block
				th:include="views/constant-display/constant-display-add-table.html :: content" />
			<div class="row m-1 pos-gr-btn">
				<!--  
				<a type="button" class="u-btn u-btn-back" id="cancel">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
				</a> -->
				<a class="btn-save u-btn u-btn-primary" > 
					<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
					<span>Lưu</span>
				</a>
			</div>
		</div>
	</form>
	<table class="hidden" id="tableHidden">
		<th:block
			th:include="views/constant-display/constant-display-add-row.html :: content" />
	</table>
	<script type="text/javascript"
		th:src="@{/static/cache/js/constant-display/constant-display-edit.js}"></script>

</body>
</html>