<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body>
	<div class="title-head">
		<div class="row">
			<div th:class="${companyList.size() > 1 ? 'col-md-5' : 'col-md-10'}">
				<h3>
					<span th:text="#{company.config.page.name}">Tiêu đề trang</span>
				</h3>
			</div>
			<div class="col-md-4"  th:if="${companyList.size() > 1}">
				<label for="companyId" class="col-sm-3 align-top" th:text="#{company.detail}">Company</label>
				<div class="col-sm-9">
					<select class="col-sm-9 form-control select2 select-company" id = "companyId"> 
						<option th:each="company : ${companyList}" 
								th:value="${company.id}"
								th:text="${company.text}"
								th:selected="${company.id}==${companyId}">
						</option>
					</select>
				</div>
			</div>
			
		   	<div class="col-md-2">
		        <div class="align-right">
					 <a class="btn-save u-btn u-btn-primary" id="btnSaveHead"
					th:if="${#authorization.expression('hasAuthority(@roleConstant.COMPANY_CONFIG)')}"> 
						<img th:src="@{/static/images/icon-save.png}" alt="" width="19px"/>
						<span th:text="#{save.button}">Lưu</span>
					</a>
		        </div>
		   </div>
		   <input type="hidden" id = "companyId" th:value="${companyId}" th:unless="${companyList.size() > 1}" />
		</div>	
	</div>
	
    <div id='msg-error' style="margin-top: 16px;"></div>
    <div class="bg-content clearfix">
        <div class="header-box">
            <!-- <h2 class="title-box" th:text="#{company.detail.page.name}">Update</h2> -->
        </div>
        <script th:inline="javascript">
			var filesImage = {};
		</script>
        <div id="companyDetail"></div>
       	<!-- <th:block th:include="views/company/company-detail.html" /> -->

    </div>
<script type="text/javascript" th:src="@{/static/cache/js/company/company-config.js}"></script>
</body>  
</html>