<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12 p-0">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<div class="table-responsive">			
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Thao tác</th>
							<th class="u_t_title" th:text="#{position.code}">Mã</th>
							<th class="u_t_title" th:text="#{position.name}">Tên chức vụ</th>
							<th class="u_t_title" th:text="#{position.name.abv}">Tên viết tắt</th>
							<th class="u_t_title" th:text="#{position.status}">Trạng thái</th>
							<th th:text="#{position.description}">Mô tả</th>
							<th class="u_t_date" th:text="#{create.date}">Ngày tạo</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="positionDto,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-position-id=${positionDto.positionId}">						
							<td class="text-center" th:text="${i.index + startIndex}" ></td>
							<td class="text-center">
								<div>
									<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail" ></a>
		                            <a class="glyphicon glyphicon-edit custom-icon j-btn-edit"
		                            th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}" ></a>	                            
	                            	<a class="glyphicon glyphicon-remove-sign font-size-20 red j-position-delete" 
	                            	th:if="${#authorization.expression('hasAuthority(@roleConstant.POSITION)')}"></a>
	                            </div>	
	                        </td>                            
							<td th:text="${positionDto.positionCode }"></td>
		                    <td th:text="${positionDto.positionName }"></td>
		                    <td th:text="${positionDto.positionNameAbv }"></td>
		                    <td>
		                        <th:block th:if="${positionDto.statusCode}" th:text="#{${positionDto.statusCode}}" />
		                    </td>
		                    <td th:text="${positionDto.description }"></td>
		                    <td class="text-center" th:text="${positionDto.createdDate }? ${#dates.format(positionDto.createdDate, @menuConfig.getFormDate())}"></td>
						</tr>
						</th:block>																												
					</tbody>					
				</table>								
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/cache/js/position/position-list.js}"></script>
	</body>
</html>
