<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">

<!-- Start table fix-->		
<div class="col-sm-12 p-0">

<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
<div class="row unit-bg-table">
<div class="table-responsive" id="idDivTable">
		<table id="data" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="no">#</th>
					<th th:text="#{quartz.job.action}">Action</th>
					<th th:text="#{quartz.job.sched.name}">Scheduler name</th>
					<th th:text="#{quartz.job.trigger.name}">Trigger name</th>
					<th th:text="#{quartz.job.trigger.state}">Trigger state</th>
					<th>Cron Expression</th>
		
					<th th:text="#{quartz.job.next.fire.time}">Next fire time</th>
					<th th:text="#{quartz.job.prev.fire.time}">Prev fire time</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="_item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
					<tr class="db-click" th:attr="data-quartz-triggers-id=${i.index + 1}">
						<td class="text-center" th:text="${i.index + 1}"></td>
						<td class="td-action align-left">
							<a title="edit" th:onclick="'redirectEdit(\'' + ${_item.triggerName} + '\',\'' + ${_item.schedName} + '\')'">
								<i class="glyphicon glyphicon-edit"></i>
							</a> 
							<th:block th:if="${_item.triggerState == 'WAITING'}">
								<a class="playTriggerClass" title="play" th:onclick="'playTriggerButton(\'' + ${_item.triggerName} + '\')'" style="pointer-events: none;"> <i
									class="glyphicon glyphicon-play" style="cursor: default; opacity: 0.2;"></i>
								</a>
								<a class="pauseTriggerClass" href="javascript:void(0)" th:onclick="'pauseTriggerButton(\'' + ${_item.triggerName} + '\')'" title="pause" id="pauseId"> <i
									class="glyphicon glyphicon-pause"></i>
								</a>
							</th:block> 
							<th:block th:if="${_item.triggerState == 'PAUSED'}">
								<a class="playTriggerClass" title="play" th:onclick="'playTriggerButton(\'' + ${_item.triggerName} + '\')'"> <i class="glyphicon glyphicon-play"></i>
								</a>
								<a class="pauseTriggerClass" href="javascript:void(0)" th:onclick="'pauseTriggerButton(\'' + ${_item.triggerName} + '\')'" title="pause" id="pauseId"
									style="pointer-events: none;"> <i class="glyphicon glyphicon-pause" style="cursor: default; opacity: 0.2;"></i>
								</a>
							</th:block> 
							<th:block th:if="${_item.triggerState != 'WAITING' and _item.triggerState != 'PAUSED'}">
								<a class="playTriggerClass" title="play" th:onclick="'playTriggerButton(\'' + ${_item.triggerName} + '\')'" style="pointer-events: none;"> <i
									class="glyphicon glyphicon-play" style="cursor: default; opacity: 0.2;"></i>
								</a>
								<a class="pauseTriggerClass" href="javascript:void(0)" th:onclick="'pauseTriggerButton(\'' + ${_item.triggerName} + '\')'" title="pause" id="pauseId"
									style="pointer-events: none;"> <i class="glyphicon glyphicon-pause" style="cursor: default; opacity: 0.2;"></i>
								</a>
							</th:block>
						</td>
						<td th:text="${_item.schedName }"></td>
						<td th:text="${_item.triggerName }"></td>
						<td th:text="${_item.triggerState }"></td>
						<td th:text="${_item.cronExpression }"></td>
						<td th:text="${_item.nextFireTime !=null}?${#dates.format(new java.util.Date(_item.nextFireTime),'dd-MMM-yyyy HH:mm')}:''"></td>
						<td th:text="${_item.prevFireTime !=null}?${#dates.format(new java.util.Date(_item.prevFireTime),'dd-MMM-yyyy HH:mm')}:''"></td>
							</tr>
				</th:block>
			</tbody>
		</table>
</div>
</div>
</div>
<th:block th:include="views/commons/pagination.html :: content"/>

<script type="text/javascript" th:src="@{/web-app/views/quartz-job/quartz-triggers.js}"></script>
</body>
</html>

