<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<body th:fragment="content">	
	<div class="bg-content clearfix bg-content-tbl">  
		<div class="header-box">
		<div class="row">
			<div class="col-sm-10">
				<h2 class="title-box" th:text="#{role.for.display.email.permission.list}">List permission</h2>
			</div>
			<div class="col-sm-2 align-right">
				<div class="icon-head">
					<a id="id-add" class="fa fa-plus-circle icon-head-red" type="button"></a>
		        	<!-- <a id="id-cancel" class="fa fa-arrow-circle-left icon-head-red" type="button"></a> -->
				</div>
			</div>
	    </div>
	    </div>
	    <div>
	    	<input type="hidden" id="roleId" th:value = "${roleId}" />
	        <form id="formAuthority">
	            <div class="row unit-bg-table m-0">
		            <div class="table-responsive">
		            	<input type="hidden" id="result_size" th:value="${not #lists.isEmpty(roleCompanys) ? #lists.size(roleCompanys) : 0 }"/>
			            <table id="companyTableId" class="table table-bordered table-striped">
			                <thead>
			                    <tr>
			                        <th class="u_t_no ">#</th>
			                        <!-- <th colspan="2" class="u_t_name"><input type="text" id="companyName1" class="form-control input-sm" th:placeholder="#{company.detail}"/></th> -->
			                        <!-- <th th:text = "#{select.button}">Chọn</th> -->
			                        <th th:text="#{company.detail}"></th>
			                        <th class="u_t_name col-organization" th:text="#{role.for.display.email.display.at}" >org name</th>
			                        <th class="no-action" th:text="#{table.label.action}" >Action</th>
			                        
			                    </tr>
			                </thead>
			                <tbody>
			                    <th:block th:each="roleCompany,iterStat : ${roleCompanys}">
			                        <tr>
			                            <!-- <input type="hidden" class="j-role-id" th:name="data[__${iterStat.index}__].companyId" th:id="companyId__${iterStat.index}__"
			                                                 th:value="${roleCompany.companyId}" /> -->
			                            <input type="hidden" th:id="id__${iterStat.index}__" th:value="${roleCompany.id}" class="role-company-id"/>
			                            <input type="hidden" th:id="index" th:value="${iterStat.index}" />
			                            <td th:text="${iterStat.index + 1}"></td>                           
			                            <td >
											<select class="form-control select2" th:id="companyId__${iterStat.index}__" name="data[__${iterStat.index}__].companyId">
												<option th:each="company : ${companyList}"
														th:value="${company.id}"
														th:text="${company.text}"
														th:selected="${company.id} == ${roleCompany.companyId}">
												</option>
											</select>
			                            </td>
			                            <td class="col-organization">
				                          	<input type="text" class="form-control" name="data[__${iterStat.index}__].orgId"
												th:value="${roleCompany.orgId}" th:id="${'listOrg'+iterStat.index}"/>
			                            </td>
			                            <td class="td-action text-center">
		                           			<a class="glyphicon glyphicon-remove-sign font-size-20 red delete-role-for-company"> </a> 
		                           		</td>
			                        </tr>
			                    </th:block>
			                </tbody>
			            </table>
		            </div>
	            </div>
	        </form>
	    </div>
	</div>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    var messageListEdit= /*[[${messageList}]]*/;
	    /*]]>*/
	</script>    
    <script type="text/javascript" th:src="@{/static/cache/js/role-display-email/role-display-email-edit.js}"></script>
</body>
</html>
