<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var LANGUAGE_LIST = /*[[${languageList}]]*/;
    var CUSTOMER_ALIAS = /*[[${customerAlias}]]*/;
    var TYPE_LIST = /*[[${lstType}]]*/;
    /*]]>*/
  </script>
  <body th:fragment="content">
    <div class="row main-heading">
      <div class="row unit-border-bottom">
        <div class="col-sm-8 col-xs-6">
          <h3 class="mar-tb-no red" th:text="#{interestRate.table.title}">
            Quản lý bảng lãi suất
          </h3>
        </div>
      </div>
    </div>
    <form
      id="form-edit"
      method="POST"
      role="form"
      class="form-horizontal u-for-page-top j-form-validate"
      th:object="${interestRateValueDto}"
    >
      <th:block
        th:include="views/commons/message-alert.html :: content(${messageList})"
      />
      <div class="row unit-bg-com">
        <div class="col-xs-12 col-sm-12 no-padding">
          <div class="col-md-6 no-padding">
            <div class="form-group">
              <label
                class="col-sm-4 control-label"
                th:text="#{interestRate.type}"
                >Type</label
              >
              <div class="col-sm-8">
                <select
                  class="form-control j-required"
                  th:field="*{interestRateType}"
                >
                  <option
                    th:each="item, i : ${lstType}"
                    th:value="${item.cat}"
                    th:text="${i.index + 1}+'. '+${item.catOfficialName}"
                    th:selected="(${item.cat} == ${interestRateValueDto.interestRateType})"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="form-group">
              <label
                for="inputPassword3"
                class="col-sm-4 control-label"
                th:text="#{process.status}"
                >trạng trái</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  th:value="*{statusName}"
                  th:readonly="true"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row unit-bg-table">
        <div class="pull-right">
          <p class="no-bmargin">
            <i
              class="glyphicon glyphicon-plus-sign font-size-20 red"
              aria-hidden="true"
              id="btnAddCom"
              th:title="#{icon.add}"
              style="cursor: pointer"
              th:if="(${interestRateValueDto.status eq @stepNoStatusConstant.STEP_DRAFT
							or interestRateValueDto.status eq @stepNoStatusConstant.STEP_REJECTED})
							and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTEREST_RATE_VALUE_EDIT}__:Edit'')')}"
            >
            </i>
          </p>
        </div>
        <th:block
          th:include="views/interest-rate-value/interest-rate-value-add-table.html :: content"
        />
        <div class="row unit-bg-com bg-comment">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label
                for="name"
                class="col-sm-4 col-md-2 control-label"
                th:text="#{product.comment}"
                >Ghi chú</label
              >
              <div class="col-sm-8 col-md-10 pleft-10">
                <textarea
                  cols="80"
                  class="form-control j-maxlength"
                  rows="2"
                  data-rule-maxlength="4000"
                  th:field="*{note}"
                >
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 unit-button">
          <button
            type="button"
            class="btn-common process-btn"
            th:id="${T(vn.com.unit.jcanary.enumdef.StepActionEnum).SAVE.getCode()}"
            th:if="(${interestRateValueDto.status eq @stepNoStatusConstant.STEP_DRAFT
						or interestRateValueDto.status eq @stepNoStatusConstant.STEP_REJECTED})
						and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_INTEREST_RATE_VALUE_EDIT}__:Edit'')')}"
          >
            <i class="fa fa-save" aria-hidden="true"></i>
            <span th:text="#{saveDraft.button}">Lưu nháp</span>
          </button>

          <!--Button process -->
          <th:block th:each="item : *{stepBtnList}">
            <button
              type="button"
              class="btn-common process-btn"
              th:id="${item.buttonId}"
            >
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <span
                th:text="${item.buttonText}"
                th:attr="data-btn-action=${item.buttonId}, data-curritem=${item.items}"
                >Action</span
              >
            </button>
          </th:block>
        </div>
      </div>
      <div class="col-sm-12 no-padding">
        <div
          class="
            row
            unit-bg-table
            history-process-table
            unit-bg-tbl unit-bg-com
          "
        >
          <th:block
            th:include="views/commons/history-process.html :: content"
          />
        </div>
      </div>
      <input
        type="hidden"
        id="processId"
        name="processId"
        th:value="${interestRateValueDto.processId}"
      />
      <input
        type="hidden"
        id="status"
        name="status"
        th:value="${interestRateValueDto.status}"
      />
      <input type="hidden" id="buttonAction" name="buttonAction" />
      <input type="hidden" id="buttonId" name="buttonId" />
      <input type="hidden" id="currItem" name="currItem" />
      <input type="hidden" th:field="*{referenceType}" />
      <input type="hidden" th:field="*{referenceId}" />

      <input type="hidden" th:field="*{updateDate}" />
    </form>
    <table class="hidden" id="tableHidden">
      <th:block
        th:include="views/interest-rate-value/interest-rate-value-add-row.html :: content"
      />
    </table>
  </body>
  <script
    type="text/javascript"
    th:src="@{/static/js/interest-rate-value/interest-rate-value-edit.js}"
  ></script>

  <script type="text/javascript" th:inline="text">
    var MSG_CONFIRM_CHANGE = "[[#{message.confirm.interest.rate.title}]]";
  </script>
</html>
