<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content" th:object="${handoverSearch}">
	<div class="col-sm-12 p-0">
		<div class="col-xs-6 col-sm-8 p-0">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả
				tìm kiếm</h2>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="form-check pull-right">
				<input class="form-check-input" type="checkbox" value="" id="isAll"
					name="isAll" th:field="${isAll}" th:checked="${isAll}" /> <label
					for="isAll" th:text="#{account.status.all}">All</label>
			</div>
		</div>
	</div>
	<div class="col-sm-12 no-padding">
		<div class="table-responsive">
			<table id="data"
				class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>
							<input id="allRows" name="allRows" class="form-check-input" type="checkbox" value="" />
						</th>
						<th th:text="#{company.detail}">Company</th>
						<th th:text="#{document.organization}" >Organization</th>
						<th th:text="#{product.title}">Title</th>
						<!-- <th th:text="#{doc.doc.type}">Doc type</th> -->
						<th th:text="#{issue.issue.priority}">Priority</th>
						<th th:text="#{doc.created.date}">Created Date</th>
						<th th:text="#{handover.owner.label}">Owner</th>		
						<th th:text="#{doc.status}">Process status</th>
						<th th:text="#{handover.classify.label}">Classify</th>
						<th th:text="#{issue.assignee.to}">Assignee</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="_item,i : ${pageWrapper.data}" th:with="startIndex=${pageWrapper.startIndexCurrent}">
						<tr th:attr="data-handover-id=${_item.id}">
							<td align="left" th:text="${i.index + startIndex}"></td>
							<td class="text-center">
								<input class="form-check-input" type="checkbox" value="" />
							</td>
							<td th:text="${_item.companyName}">HD Bank</td>
							<td th:text="${_item.orgName}">HD Bank chi nhánh 1</td>
							<td th:text="${_item.docTitle}">Invoice expenses 1 management ...</td>
							<!-- <td th:text="${_item.formName}"></td> -->
							<td class="text-center"> 
								<span style="font-size:12px; font-weight: normal;" th:text="${_item.priorityCode} ? #{${_item.priorityCode}} : ''" th:classappend="${_item.priorityClass}"> Urgent</span>
							</td>
							<td class="text-center" th:text="${_item.createdDate != null}?${#dates.format(_item.createdDate, @systemConfig.getConfig('DATE_PATTERN'))}:''">2019/06/25 10:15</td>
							<td th:text="${_item.createdBy}">KhoaNA</td>
							<td th:text="${_item.statusName}">Waitting for Approval management</td>
							<td th:text="${_item.classify}">Document</td>
							<td>
								<select class="col-sm-9 select2-table" th:id="'userId' + ${i.index} + ''">
									<option value=""></option>
								</select>
								<input type="hidden" id="" name="" th:value="${_item.actId}"  />
							</td>
						</tr>
					</th:block>
					<th:block th:if="${pageWrapper.data.size() == 0}">
						<tr>
							<td colspan="100%" th:text="#{table.emptyTable.label}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<th:block
			th:include="views/commons/pagination.html :: content(pageWrapper=${pageWrapper})" />
	</div>
	<script type="text/javascript"
		th:src="@{/static/cache/js/handover/handover-table.js}"></script>
</body>

</html>