<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
<script type="text/javascript"
	th:src="@{/static/cache/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/cache/jquery/multiple-select/css/jquery.multiselect.css}" />

<div class="title-head clearfix">
	<div class="col-sm-9 col-xs-7 no-padding">
		<h3>
			<i class="fa fa-table"></i> <span th:text="#{handoer.title}">Handover Master</span>
		</h3>
	</div>
	<div class="col-sm-3 col-xs-5 icon-head">
		<div class="pull-right">
			<a href="#" id="btnCreate"> <i
				class="fa fa-plus-circle icon-head-red" id="add" title="Add"></i>
			</a>
		</div>
	</div>
</div>
<div id="messages">
	<th:block
		th:include="views/commons/message-alert.html :: content(${messageList})" />
</div>
<div id="frmSearch">
	<th:block th:include="views/handover/handover-search.html :: content" />
</div>
<div class="bg-content clearfix bg-content-tbl" id="tableList">
	<th:block th:include="views/handover/handover-table.html :: content" />
</div>
<th:block th:include="views/handover/handover-popup-confirm.html :: content" />
<div class="col-xs-12 col-sm-12">
	<div class="col-sm-8"></div>
	<div class="col-sm-4">
		<br />
		<div class="form-group pull-right">
			<button type="button" id="assignAll" class="btn btn-common btn-in-table" th:text="#{assign.all.button}">Assign All</button>
			<button type="button" id="assignSingle" class="btn btn-common btn-in-table" th:text="#{assign.button}">Assign</button>
		</div>
	</div>
</div>
<script type="text/javascript"
	th:src="@{/static/cache/js/handover/handover.js}"></script>
</html>