<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="content">	
		<div class="col-sm-12">
			<div class="table-responsive">
				<form id="id-sort-form">
					<table id="tb-sort-list" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="u_t_no">#</th>
								<th class="text-center" th:text="#{news.code}">Mã</th>
								<th class="text-center" th:text="#{news.title}">Tiêu đề</th>
								<th class="text-center" th:text="#{news.homepage}">Trang chủ</th>
								<th class="text-center" th:text="#{news.event}">Sự kiện</th>
								<th class="text-center" th:text="#{news.hot}">Tin nổi bật</th>
								<th class="text-center" th:text="#{news.posted.date}">Ngày đăng</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="dataRow,i : ${sortPageModel}" th:with="startIndex=1">
								<tr th:attr="data-row-id=${dataRow.id}">
									<td class="text-center" th:text="${i.index + startIndex}"></td>
									<td th:text="${dataRow.code}">code</td>
									<td th:text="${dataRow.title}">Title</td>
									<td class="text-center">
										<input type="checkbox" disabled="disabled" th:checked="${dataRow.homepage == 1 ? true : false}" />
									</td>
									<td class="text-center">
										<input type="checkbox" disabled="disabled" th:checked="${dataRow.event == 1 ? true : false}" />
									</td>
									<td class="text-center">
										<input type="checkbox" disabled="disabled" th:checked="${dataRow.hot == 1 ? true : false}" />
									</td>
									<td th:text="${dataRow.postedDate} ? ${#dates.format(dataRow.postedDate, 'dd/MM/yyyy')}"
										class="text-center"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/static/CMS/all/news/news-list-sort.js}"></script>
		
		<script type="text/javascript">
			var table = document.getElementById("tb-sort-list");
			RowSorter(table, {
			    handler: 'td'
			});
		</script>
	</body>
	
</html>

