.relate-modal-content {
    padding: 18px 16px 40px 16px;
}

.modal-body-content {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #292929;
    text-align: left;
    margin: 0px;
}

.body-frame {
    border: 1px solid #E6E6E6;
    padding: 16px 30px 16px 16px;
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6),
    linear-gradient(0deg, #EDEBEB, #EDEBEB);
    border-radius: 6px;
    margin-top: 12px;
}

.body-frame-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 8px;
}

.body-frame-content {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #727272;
    text-align: justify;
}

.heading-container-ND13 {
    width: calc(100% - 223px - 392px);
    background: #f5f3f2;
    z-index: 20;
    position: fixed;
    right: 0;
    top: 56px;
}

.extend-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #985801;
}

.follow-confirm-wrapper {
    background: #9B3A32;
    padding: 16px;
    max-width: 600px;
    display: flex;
    align-items: flex-start;
    margin: 50px 0 140px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .follow-confirm-wrapper {
        margin: 230px 0 140px;
    }
}