.checkbox-component-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
}

.checkbox-component-content {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.checkbox-component-label {

}

.checkbox-component-content input {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}

.checkbox-component-content .checkmark {
    border: 1.5px solid #de181f;
    border-radius: 4px;
    display: flex;
    height: 100%;
    padding: 2px;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

.checkbox-component-wrapper p {
    font-size: 1.4rem;
    color: #292929;
    font-weight: 600;
    line-height: 22px;
    margin-left: 1.2rem;
}
.checkbox-component-content input:checked ~ .checkmark {
    background: linear-gradient(180deg, #ea6544, #d12a1e);
}

.checkbox-component-content input:checked ~ .checkmark img {
    display: block;
}