<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/unit-layout}" layout:fragment="body">
	
	<script th:inline="javascript">
	 	/*<![CDATA[*/
	 	var CUSTOMER_ALIAS = [[${customerAlias}]];
	 	var PAGE_URL = [[${controllerUrl}]];
	 	
	 	var C_NAME = [[${functionCode}]];
	 	var DATE_FORMATE_TYPE = [[${dateFormat}]];
		/*]]>*/
	</script>
	
  	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="${titlePageList}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
		             <a class="u-btn u-btn-primary" id="importDoc" 
                         th:if="${hasRoleForImport}">
                        <img th:src="@{/static/images/icon_up.png}" alt="" style="width:15px;"/>
                        <span th:text="#{icon.import}">Import</span>
                     </a>
					 <a class="u-btn u-btn-primary" id="addNew" th:if="${hasRoleForEdit}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span th:text="#{icon.add}">Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>	 
	</div>
	
	<form th:object="${searchDto}" method="post" class="form-horizontal u-for-page-top" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})" />
			
		<!-- <div class="row unit-bg-com"> -->
        <th:block th:include="/views/commons/common-search-filter.html :: content(${listSearchFilter})"/>
		
		<input type="hidden" th:field="*{customerTypeId}" />
	</form>

	<div class="bg-content-tbl" id="tableList">
        <th:block th:include="views/CMS/all/common/common-table.html :: content" />
	</div>

	<input type="hidden" id="conditionHidd" value="{}" />
	<input type="hidden" id="url" name="url" th:value="${searchDto.url}" />
	<input type="hidden"id="urlSearch"/>
	<script type="text/javascript" th:src="@{/static/CMS/all/document/document-list-import.js}"></script>
</html>
