<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/unit-layout}"
  layout:fragment="body">
	<script type="text/javascript" th:src="@{/static/plugins/bootbox/bootbox.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/static/CMS/js/taggingJS/style/tag-basic-style.css}"/>

	<script type="text/javascript">
			$(document).ready(function() {
				$('#tabLanguage a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
			});
	</script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			var CUSTOMER_ALIAS = [[${customerAlias}]];
			var LANGUAGE_LIST = /*[[${editDto.listLanguage}]]*/;
			var SEARCH_TAGS = /*[[${editDto.lstSearchTag}]]*/;
			var CATEGORY_LIST = /*[[${selectionCategories}]]*/;
		    var MSG_ERROR_MIN_SIZE_PRODUCT_TYPE_IMG = [[#{message.confirm.upload.image.product.type.img.error}]];

		    var ERROR_IMG_SIZE =  /*[[#{message.error.file}]]*/;
		    var DATE_FORMATE_TYPE  = 'FULL_DATE';
			var EDIT_DTO = /*[[${editDto}]]*/;
			var USER_LOGIN = /*[[${#authentication?.principal?.username}]]*/;
		    var PAGE_URL = CUSTOMER_ALIAS + "/document";
		/*]]>*/
	</script>
	<input type = "hidden" id = "roleAdmin" th:if="${#authorization.expression('hasAuthority(@cmsRoleConstant.CMS_ROLE_ADMIN +'':Edit'')')}" value = "1"/>
	<div class="title-head">
		<div class="row">
			<div class="col-md-5">
				<h3>
					<span th:text="#{document.edit.title}">Tiêu đề trang</span>
				</h3>
			</div>
		   	<div class="col-md-7">
		        <div class="pull-right">
		        	 <a class="u-btn u-btn-back" id="linkList">
					 	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-ico"/>
					 	<span>Trở lại</span>
					 </a>
					 <a class="u-btn u-btn-primary" id="addNew" 
					 	th:if="${editDto.id != null} and ${#authorization.expression('hasAuthority(''__${@cmsRoleConstant.BUTTON_DOCUMENT_EDIT}__:Edit'')')}">
		            	<img th:src="@{/static/images/ico-plus-white.png}" alt="" />
		                <span>Thêm mới</span>
		             </a>
		        </div>
		   </div>
		</div>
	</div>
	
	<form id="formEdit" class="form-horizontal u-for-page-top j-form-validate" th:object="${editDto}" method="POST">
		<th:block th:include="views/commons/message-alert.html :: content(${messageList})"/>
		
		<div class="bg-content">
				<input type="hidden" th:field="*{id}"></input>
				<input type="hidden" th:field="*{url}"></input>
				<input type="hidden" th:field="*{customerTypeId}" />
				
				<div class="row">
					<div class="col-md-6 no-padding">
						<div class="form-group no-padding" th:classappend="${#fields.hasErrors('code')} ? has-error : ''">
							<label th:Text="#{document.code}" for="code" class="col-sm-4 control-label required">Mã</label>
							<div class="col-sm-8">
				
								<input th:field="*{code}" type="text" class="form-control text-uppercase j-maxlength"  data-rule-maxlength="30" th:classappend="${#fields.hasErrors('code')} ? has-error : ''"
									placeholder="" th:disabled="(${editDto.id}!=null)" th:readonly="true" tabindex="1"/>
								<span class="help-block" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
							</div>
							
						</div>
					</div>
					<!-- <div class="col-md-6 no-padding">
						<div class="form-group">
							<div class = "col-sm-2 col-md-2"></div>
							<div class="col-sm-4 col-md-4">
								<input type="checkbox" th:field="*{enabled}"/>
								<label class="control-label">Kích hoạt</label>
							</div>
						</div>
					</div> -->
				</div>
				
				<div class="row">
					<div class="col-md-6 form-group no-padding">
						<label class="col-sm-4 control-label required" th:text="#{document.document.category}">Danh mục tài liệu</label>
						<div class="col-sm-8">
							<select class="form-control j-required" th:field="*{categoryId}"
								th:data-placeholder="#{document.document.category}">
								<option value=""></option>
								<option th:each="item : ${listCategory}"
									th:value="${item.id}" 
									th:text="${item.name}" 
									th:selected="${item.id} == *{categoryId}">
								</option>
							</select>
							<label th:for="categoryId" generated="true" class="error" style="display: none"></label>
						</div>
					</div>
				</div>
				
				<!-- <div class="col-xs-12 col-sm-12">
					<div class="form-group no-bmargin">
						<label class="col-sm-4 col-md-2 control-label" th:text="#{laguage.title}">Ngôn ngữ</label>
						<div class="col-sm-8 col-md-10  gr-tab">
							<ul class="nav nav-tabs" id="tabLanguage">
								<th:block th:each="detailByLang,status : ${editDto.listLanguage}" th:with="index=${status.index}">
									<li role="presentation" th:id="tabLanguage + ${status.index}"
										th:classappend="${status.index == editDto.indexLangActive}  ? 'active' : ''">
										<a
											th:href="'#language' + ${status.index}" th:text="${detailByLang.languageDispName}"></a>
									</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div> -->
				
				<div class="tab-content" style="margin-top: 10px">
					<th:block th:each="language, i : ${languageList}" th:with="index=${i.index}">
						<div th:id="'language' + ${index}" class="tab-pane fade" th:classappend="${index == editDto.indexLangActive}  ? 'in active' : ''">
							<div class="row">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('listLanguage[__${index}__].title')} ? has-error : ''">
									<label class="col-sm-4 col-md-2 control-label required"
										th:text="#{document.title}">Tiêu đề</label>
									<div class="col-sm-8 col-md-10 ">
										<input type="text" class="form-control j-maxlength j-required"
											maxlength="1000" data-rule-maxlength="1000"
											th:field="*{listLanguage[__${index}__].title}"
											th:placeholder="#{edit.field.ckeditor.placeholder.title}" /> <span
											class="help-block"
											th:if="${#fields.hasErrors('listLanguage[__${index}__].title')}"
											th:errors="*{listLanguage[__${index}__].title}"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label th:text="#{edit.field.ckeditor.keyword.SEO}" for="name"
										class="col-sm-2 control-label required">Từ khóa SEO</label>
									<div class="col-sm-10 ">
										<input th:field="*{listLanguage[__${index}__].linkAlias}"
											type="text"
											class="form-control j-required j-maxlength j-link-alias"
											data-rule-maxlength="100" maxlength="100"
											th:placeholder="#{edit.field.ckeditor.placeholder.keyword.seo}"
											tabindex="7" /> <span class="help-block error"
											th:if="${#fields.hasErrors('listLanguage[__${index}__].linkAlias')}"
											th:errors="*{listLanguage[__${index}__].linkAlias}"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label for="name" class="col-sm-4 col-md-2 control-label required"
										th:text="#{edit.field.ckeditor.keyword}">Từ khóa</label>
									<div class="col-sm-8 col-md-10 ">
										<input type="text" class="form-control j-maxlength j-required"
											data-rule-maxlength="100" maxlength="100"
											th:placeholder="#{edit.field.ckeditor.placeholder.keyword}"
											tabindex=""
											th:field="*{listLanguage[__${index}__].keyword}" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label for="name" class="col-sm-4 col-md-2 control-label"
										th:text="#{edit.field.ckeditor.keyword.description}">Mô tả từ khóa</label>
									<div class="col-sm-8 col-md-10 ">
										<input type="text" class="form-control j-maxlength"
											th:placeholder="#{edit.field.ckeditor.placeholder.keyword.description}"
											tabindex=""
											th:field="*{listLanguage[__${index}__].keywordDescription}" />
									</div>
								</div>
							</div>
						</div>
						
						<input type="hidden" th:field="*{listLanguage[__${index}__].id}" />
						<input type="hidden" th:name="'listLanguage[' + ${index} + '].languageCode'" th:value="${language.code}" />
					</th:block>
					
					
				</div>
				
				<div class="row">
					<div class="form-group">
						<label class="lb_language col-sm-4 col-md-2" th:text="#{document.file}">Tệp</label>
						<div class="col-sm-8 col-md-10 ">
							<div class="wrap_upload" th:id="fileContainer">
				                <button class="u-btn btn-upload-file" type="button" th:id="filePick" th:title="#{icon.add}">
			                    	<img th:src="@{/static/images/icon-down.png}" alt="" width="17px" class="rotate-180-ico">
			                     </button>
	 							
	 							<span>(.doc, .docx, .xls, .xlsx, .pdf)</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group">
						<div class="col-sm-4 col-md-2"></div>
						<div class="col-sm-8 col-md-10 ">
							<div class="wrap_img">
								<div th:id="fileConsole" style="display: none" class="error"></div>
								<div class="form-group">
									<a class="document-file pointer" id="fileUrl" th:src="@{/} + 'personal/document/download?fileName=' + ${editDto.physicalFileName}">
										<span th:text="${editDto.fileName}" class="title-file"></span>
									</a>
								</div>
								<div th:id="fileFilelist"></div>
								<input type="hidden" th:id="physicalFileName" th:field = "*{physicalFileName}"/>
								<input type="hidden" th:id="tempFileUrl" th:field="*{tempFileUrl}"/>
								
								<input type="hidden" th:field="*{fileName}"/>
								<input type="hidden" th:field="*{fileSize}"/>
								<input type="hidden" th:field="*{fileType}"/>
								<input type="hidden" th:field="*{fileId}"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<label class="col-md-2 control-label" th:text="#{process.status}">Trạng thái</label>
					<div class="col-md-4">
						<input th:value="*{statusName}" type="text"
							class="form-control j-maxlength" data-rule-maxlength="30"
							th:readonly="true" tabindex="1"
							placeholder="" />
					</div>
	
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<input type="checkbox" tabindex="2" th:field="*{enabled}" th:checked="*{enabled}" />
							<label class="control-label" th:text="#{searchfield.disp.enabled}">Kích hoạt</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 form-group no-padding">
						<label class="col-sm-4 col-md-4 control-label required" th:text="#{publish.date}">Ngày đăng
							tin</label>
						<div class="col-sm-8 col-md-8" th:classappend="${#fields.hasErrors('postedDate')} ? has-error : ''">
							<input class="form-control j-required datepicker-time validatePostedDate meridiem "
								id="postedDate"
								th:id="postedDate"
								th:name="postedDate"
								th:value="${editDto.postedDate } ? ${#dates.format(editDto.postedDate, 'dd/MM/yyyy HH:mm:ss')}"
								type="text"
								autocomplete="off" />
							<span class="help-block" for="postedDate" th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}"></span>
						</div>
					</div>
	
					<div class="col-sm-6 form-group no-padding">
						<label class="col-sm-4 col-md-4 control-label" th:text="#{emulate.end.date}">Ngày kết thúc</label>
						<div class="col-sm-8 col-md-8" th:classappend="${#fields.hasErrors('expirationDate')} ? has-error : ''">
						<input class="form-control datepicker-time validateExpirationDate"
							id="expirationDate"
							th:id="expirationDate"
							th:name="expirationDate"
							th:value="${editDto.expirationDate } ? ${#dates.format(editDto.expirationDate, 'dd/MM/yyyy HH:mm:ss')}"
							type="text"
							autocomplete="off" />
						<span class="help-block" for="expirationDate" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
						</div>
					</div>
				</div>
				
				<input type="hidden" th:field="*{referenceId}" />
	        	<input type="hidden" th:field="*{referenceType}" />
				<input type="hidden" th:field="*{searchDto}" />
				<input type="hidden" th:field="*{updateDate}"/>
				<input type="hidden" th:field="*{hasEdit}"/>
				<!-- <input type="hidden" th:field="*{code}"  /> -->
				
			<!-- process -->
			<th:block th:include="/views/commons-process/common-process.html :: content(${editDto})"/>
		</div>
	</form>

	<div class="bg-content-tbl" id="tableList">
		<th:block th:include="views/CMS/all/document/document-version-table.html :: content(${editDto})"/>
	</div>
	
	<script type="text/javascript" th:src="@{/static/CMS/js/taggingJS/tagging.js}"></script>
	<script type="text/javascript" th:src="@{/static/CMS/js/bootstrap-datetimepicker.min.js}"></script>	
	<script type="text/javascript" th:src="@{/static/CMS/all/document/document-edit.js}"></script>
</html>

